.actions-bar {
  background: $white;
  bottom: 0;
  box-shadow: 0 0 3.75rem $black-shadow;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10;

  &.actions-bar-visible {
    display: block;
  }

  .actions-bar-content {
    margin: 0 5rem;
    min-width: rem(850px);
    padding: 1.25rem 0;
    position: relative;
  }
}
