@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_fonts.scss" as fonts;

.video-uploader-container {
  height: rem.torem(240px);
}

.video-uploader-no-video {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-spacing-s);
  border: rem.torem(1px) dashed var(--color-border-default);
  border-radius: var(--size-border-radius-s);
  padding: var(--size-spacing-xl);

  &:hover {
    background: var(--color-background-subtle);
    border-color: var(--color-border-brand-primary);
  }
}

.video-uploader-with-video {
  position: relative;
  height: rem.torem(240px);
  overflow: hidden;
  border-radius: var(--size-border-radius-s);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgb(0 0 0 / 0%) 0%,
      rgb(0 0 0 / 50%) 45.31%,
      #000 67.17%
    );
  }
}

.video-duration {
  position: absolute;
  top: rem.torem(16px);
  right: rem.torem(16px);
}

.video-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-title {
  @include fonts.body-accent;

  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--size-spacing-l);
  color: var(--color-text-inverted);
}

.action-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-spacing-l);
  margin-top: var(--size-spacing-l);
}

.video-uploader-text-subtle {
  color: var(--color-text-subtle);
}
