.price-form {
  border-radius: $radius;
  label {
    display: inline-block;
    font-size: 12px;
    margin-left: -50px;
    width: 75px;
  }
  span {
    font-size: 12px;
  }
  input {
    width: 150px;
  }
  .suffix {
    position: absolute;
    color: $grey-dark;
  }
}
