@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.timeline {
  &-step-title {
    @include fonts.body-accent;
  }

  &-step-title-passed {
    @include fonts.body-accent;

    color: var(--color-text-subtle);
  }

  &-step-title-disabled {
    @include fonts.body-accent;

    color: var(--color-text-disabled);
  }

  &-step-decription-with-link {
    margin-bottom: rem.torem(8px);
  }

  &-infobox {
    border-radius: var(--border-radius-m);
    padding: rem.torem(16px);
    background-color: var(--color-background-info);
    margin-top: rem.torem(16px);

    &-text {
      margin-bottom: rem.torem(16px);
    }

    &-accent {
      @include fonts.body-accent;
    }

    &-links {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
    }
  }
}

.contact-link {
  @include fonts.button;

  color: var(--color-text-default);

  &:hover,
  &:focus {
    cursor: pointer;
    text-decoration: underline;
  }
}
