@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.container {
  display: flex;
  gap: rem.torem(16px);
  flex-wrap: wrap;
}

.details-timeline {
  flex-basis: 60%;
  flex-grow: 1;
  align-items: flex-start;

  &:last-child {
    display: flex;
    justify-content: flex-end;
  }
}


@media (min-width: size.$tablet) {
  .container {
    flex-wrap: nowrap;
  }
}
