.thumb {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media screen and (prefers-reduced-motion: reduce) {
    .background {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      box-sizing: content-box;
      filter: blur(20px);
      height: 100%;
      margin-left: -50px;
      margin-top: -50px;
      padding: 50px;
      position: relative;
      transition: none;
      width: 100%;
    }
  }

  .background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    box-sizing: content-box;
    filter: blur(20px);
    height: 100%;
    margin-left: -50px;
    margin-top: -50px;
    padding: 50px;
    position: relative;
    transition: all 0.25s ease-out;
    width: 100%;
  }

  .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    &.translatable {
      transition-delay: 50ms;
      transition-duration: 250ms;
      -webkit-transition-property: transform;
      transition-property: transform;
      will-change: transform;

      &.translated {
        transform: translate(0, -25%) scale(1.1);
      }
    }
  }
}
