.image-editor {
  display: flex;
  flex-direction: column;
  margin-bottom: rem(16px);

  &-scale {
    align-items: center;
    display: flex;
    justify-content: space-evenly;

    span {
      @include caption;

      color: $grey-dark;
    }

    input {
      width: rem(350px);
    }

    @mixin slider-thumb {
      background: $primary;
      border: 0;
      border-radius: rem(10px);
      box-shadow: none;
      height: rem(17px);
      width: rem(17px);
    }

    @mixin slider-track {
      background-color: $grey-medium;
      border: 0;
      box-shadow: none;
      height: 1px;
    }

    [type='range'] {
      -webkit-appearance: none;

      &::-moz-range-thumb {
        @include slider-thumb;
      }

      &::-webkit-slider-thumb {
        @include slider-thumb;

        -webkit-appearance: none;
        margin-top: rem(-8px);
      }

      &::-moz-range-track {
        @include slider-track;
      }

      &::-webkit-slider-runnable-track {
        @include slider-track;
      }

      &:focus {
        &::-moz-range-thumb {
          background-color: $primary-dark;
          cursor: pointer;
        }

        &::-webkit-slider-thumb {
          background-color: $primary-dark;
          cursor: pointer;
        }
      }
    }
  }
}
