.sign-in-page {
  position: relative;

  .logo-side {
    background-image: $linear-gradient-to-bottom-right;
    bottom: 0;
    box-shadow: inset -10px 0 20px 0 $black-shadow;
    left: 0;
    position: fixed;
    right: 60%;
    top: 0;
    z-index: 1;

    @media (max-width: $tablet) {
      position: relative;
      height: rem(100px);

      img {
        left: 0;
        padding: rem(16px) 0;
      }
    }
  }

  .sign-page-form {
    margin-left: 36%;
  }

  .page-content {
    padding: 0;
  }

  .columns {
    margin: 0;
    width: 100%;

    .column {
      display: flex;
      flex-direction: column;
      flex-shrink: inherit;
      justify-content: center;
      padding: 0;
    }
  }

  .has-no-padding {
    padding: 0;
  }

  .text-container {
    flex-grow: 1;
    flex-shrink: 0;
    padding-left: rem(54px);
    padding-right: rem(24px);
  }

  .title,
  .subtitle {
    font-style: italic;

    span {
      display: inline-block;
    }
  }

  h1 {
    font-weight: $weight-medium;
  }

  h2 {
    margin-bottom: rem(12px);
    font-weight: $weight-medium;
    font-size: rem(20px);
    line-height: rem(24px);
  }

  form {
    margin-top: rem(16px);
  }

  .cgu-field {
    font-weight: $weight-bold;
  }

  .buttons-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: rem(32px);
  }

  h4 {
    font-size: $size-normal;
    float: left;
  }

  .errors {
    color: $primary;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: rem(32px);
    margin-top: rem(16px);
    text-align: left;

    img {
      padding-right: rem(5px);
    }

    a, button {
      margin-bottom: 5px;
    }

    &:empty {
      display: none;
    }
  }

  .email-input {
    margin-bottom: rem(25px);
  }

  .server-error-message {
    display: flex;
    color: $primary;
    margin-top: rem(32px);
    span {
      margin-left: rem(5px);
    }
  }

  .password-error-message {
    display: flex;
    color: $primary;
    margin-bottom: rem(32px);

    span {
      margin-left: rem(5px);
    }

    pre {
      white-space: pre-wrap;
      font-family: inherit;
      background: none;
      color: $primary;
    }
  }

  .it-input {
    margin-bottom: rem(32px);
  }
}
