.sign-in-page {
  position: relative;

  .logo-side {
    background-image: $linear-gradient-to-bottom-right;
    bottom: 0;
    box-shadow: inset -10px 0 20px 0 $black-shadow;
    left: 0;
    position: fixed;
    right: 60%;
    top: 0;
    z-index: 1;

    @media (max-width: $tablet) {
      height: rem(100px);
      position: relative;

      img {
        left: 0;
        padding: rem(16px) 0;
      }
    }
  }

  .sign-page-form {
    margin-left: 36%;
  }

  .page-content {
    padding: 0;
  }

  .columns {
    margin: 0;
    width: 100%;

    .column {
      display: flex;
      flex-direction: column;
      flex-shrink: inherit;
      justify-content: center;
      padding: 0;
    }
  }

  .has-no-padding {
    padding: 0;
  }

  .text-container {
    flex-grow: 1;
    flex-shrink: 0;
    padding-left: rem(54px);
    padding-right: rem(24px);
  }

  .title,
  .subtitle {
    font-style: italic;

    span {
      display: inline-block;
    }
  }

  h1 {
    @include title1();
  }

  h2 {
    @include title2();

    line-height: rem(24px);
    margin-bottom: rem(12px);
  }

  form {
    margin-top: rem(16px);
  }

  .cgu-field {
    font-weight: $weight-bold;
  }

  .buttons-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: rem(32px);
  }

  h4 {
    float: left;
    font-size: $size-normal;
  }

  .errors {
    @include caption();

    align-items: center;
    background-color: $notification-error;
    color: $black;
    display: flex;
    height: rem(50px);
    justify-content: center;
    line-height: rem(32px);
    margin-top: rem(16px);
    text-align: left;

    img {
      height: rem(24px);
      padding-right: rem(5px);
      filter: brightness(0) invert(0);
      width: rem(24px);
    }

    a, button {
      margin-bottom: rem(5px);
    }

    &:empty {
      display: none;
    }
  }

  .email-input {
    margin-bottom: rem(25px);
  }

  .server-error-message {
    color: $primary;
    display: flex;
    margin-top: rem(32px);

    span {
      margin-left: rem(5px);
    }
  }

  .password-error-message {
    color: $primary;
    display: flex;
    margin-bottom: rem(32px);

    span {
      margin-left: rem(5px);
    }

    pre {
      background: none;
      color: $primary;
      font-family: inherit;
      white-space: pre-wrap;
    }
  }

  .it-input {
    margin-bottom: rem(32px);
  }

  .new-password-form {
    .it-with-icon-container {
      margin-bottom: rem(32px);
    }
  }
}
