.sign-in-page {
  position: relative;

  .logo-side {
    background-image: $linear-gradient-to-bottom-right;
    bottom: 0;
    box-shadow: inset -10px 0 20px 0 $black-shadow;
    left: 0;
    position: fixed;
    right: 60%;
    top: 0;
    z-index: 1;

    @media (max-width: $tablet) {
      position: relative;
      height: rem(100px);

      img {
        left: 0;
        padding: rem(16px) 0;
      }
    }
  }

  .sign-page-form {
    margin-left: 36%;
  }

  .page-content {
    padding: 0;
  }

  .columns {
    margin: 0;
    width: 100%;

    .column {
      display: flex;
      flex-direction: column;
      flex-shrink: inherit;
      justify-content: center;
      padding: 0;
    }
  }

  .has-no-padding {
    padding: 0;
  }

  .text-container {
    flex-grow: 1;
    flex-shrink: 0;
    padding-left: rem(54px);
    padding-right: rem(24px);
  }

  .title,
  .subtitle {
    font-style: italic;

    span {
      display: inline-block;
    }
  }

  h1 {
    font-weight: $weight-medium;
  }

  h2 {
    margin-bottom: rem(12px);
    font-weight: $weight-medium;
    font-size: rem(20px);
    line-height: rem(24px);
  }

  form {
    margin-top: rem(32px);
  }

  label {
    margin-bottom: rem(8px);

    h3 {
      position: relative;
      font-size: $size-3;

      &.with-subtitle {
        float: left;
      }
    }

    p {
      font-size: 0.9rem;
      text-align: right;
    }

    a {
      text-decoration: underline;
      color: $black;
    }
  }

  .cgu-field {
    font-weight: $weight-bold;
  }

  .buttons-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: rem(32px);
  }

  h4 {
    font-size: $size-normal;
    float: left;
  }

  .errors {
    color: $primary;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: rem(32px);
    list-style-type: none;
    text-align: left;
    transition: transform 0.2s ease-in-out;

    li {
      margin-bottom: rem(16px);
    }

    &.pop {
      transform: scale(1.04);
      transform-origin: 0 50%;
    }

    img {
      vertical-align: middle;
      padding-right: rem(5px);
    }

    &:empty {
      display: none;
    }
  }

  .field {
    label {
      display: block;
    }

    input {
      font-weight: $weight-semibold;
    }

    a, button {
      margin-bottom: 5px;
    }

    .siren {
      width: 50%;
    }
  }

  .information-text {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: rem(24px);

    img {
      height: rem(21px);
      margin-right: rem(6px);
      margin-top: rem(3px);
    }

    p {
      color: $grey-dark;
      font-size: rem(13px);
      line-height: rem(16px);
      text-align: justify;

      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}
