.mb-section {
  margin-top: 2.25rem;
  padding: 0 0.75rem;
}

.mb-header {
  color: $white;
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.mb-my-booking {
  background-color: $white;
  border-radius: $radius-small;
  margin-bottom: 0.75rem;
}

.mb-heading {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
  padding: 0.5rem 1rem;
}

.mb-token {
  @include dotted($primary, top);

  color: $primary;
  font-size: 2.9rem;
  padding: 0.5rem 0 0 1rem;
}
