.mb-section {
  margin-top: rem(36px);
  padding: 0 0.75rem;
}

.mb-title {
  color: $white;
  margin: rem(31px) auto 0;
  font-size: rem(18px);
  font-weight: normal;
}

.mb-subtitle {
  color: $white;
  font-size: rem(15px);
  font-style: italic;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: normal;
}
