.mb-section {
  margin-top: 2.25rem;
  padding: 0 0.75rem;
}

.mb-header {
  color: $white;
  font-size: rem(15px);
  font-style: italic;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.mb-my-booking {
  background-color: $white;
  border-radius: 4px;
  margin-bottom: 0.75rem;

  .isDuo {
    padding-top: rem(20px);
  }

  .duo-logo {
    border-radius: 8px;
    color: $primary;
    font-size: rem(12px);
    font-weight: 700;
    margin-right: rem(4px);
    padding-bottom: rem(1px);
    padding-left: rem(1px);
    padding-right: rem(2px);
    line-height: 1.3rem;
  }
}

.mb-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 1rem;
}

.mb-token {
  @include dotted($primary, top);
  color: $primary;
  text-align: center;
}

.mb-token-link {
  color: $primary;
  vertical-align: middle;
}

.mb-infos {
  color: $white;
}

.mb-info-picto {
  margin-bottom: rem(6px);
  text-align: center;

  img {
    width: 44px;
  }
}
