@use "styles/variables/_forms.scss" as forms;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

$checkbox-size: rem.torem(40px);

.checkbox input {
  &:hover,
  &:focus,
  &:checked {
    &::after {
      background-image: none;
    }
  }

  &::after {
    content: none;
  }

  position: relative;
  width: $checkbox-size;
  height: $checkbox-size;
  background-color: var(--color-white);
  border: rem.torem(1px) solid var(--color-grey-dark);
  border-radius: 50%;
  transition:
    border 150ms ease,
    background 150ms ease;

  &:focus-within {
    outline: rem.torem(1px) solid var(--color-black);
    outline-offset: rem.torem(2px);
  }

  &:not(:checked) {
    &:focus {
      border-color: var(--color-grey-dark);
      border-radius: 50%;
    }

    &:hover {
      border-color: var(--color-grey-dark);
    }
  }

  &:hover {
    box-shadow: forms.$input-hover-shadow;
    background-color: var(--color-white);
    cursor: pointer;
  }

  &:checked {
    border: rem.torem(2px) solid var(--color-secondary-light);
    background-color: var(--color-background-secondary);
    font-weight: 700;

    &:focus {
      border: rem.torem(2px) solid var(--color-secondary-light);
      border-radius: 50%;
      background-color: var(--color-background-secondary);
    }
  }

  &::before {
    content: attr(data-letter);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
