@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_forms.scss" as forms;
@use "styles/variables/_size.scss" as size;
@use "styles/mixins/_forms.scss" as formsM;
@use "styles/mixins/_fonts.scss" as fonts;

.title {
  margin-bottom: rem.torem(24px);

  @include fonts.title3;

  @media (max-width: size.$tablet) {
    margin-top: rem.torem(32px);
  }
}

.section {
  padding: rem.torem(16px);
  border: 1px solid var(--color-medium-shadow);
  border-radius: rem.torem(8px);
  margin-bottom: rem.torem(16px);
}

.legend {
  @include fonts.title4;

  display: flex;
  align-items: center;
  gap: rem.torem(10px);
  margin-bottom: rem.torem(16px);

  &-icon {
    width: rem.torem(20px);
    height: rem.torem(20px);
    color: var(--color-secondary-light);

    path {
      fill: var(--color-secondary-light);
    }
  }
}

.radio-group {
  display: flex;
  gap: rem.torem(8px);
  margin-bottom: rem.torem(16px);

  @media (max-width: size.$tablet) {
    flex-wrap: wrap;
  }
}

.action-buttons {
  display: flex;
  gap: rem.torem(24px);
  justify-content: center;
}

.day-inputs {
  display: flex;
  margin-bottom: rem.torem(16px);
  gap: rem.torem(16px);

  @media (max-width: size.$tablet) {
    flex-wrap: wrap;
  }
}

.days-error {
  @include formsM.field-layout-footer;

  justify-content: initial;
  margin-bottom: rem.torem(8px);
}

.beginning-time-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem.torem(8px);
  gap: rem.torem(16px);
}

.beginning-time-input {
  max-width: rem.torem(100px);
}

.date-input {
  width: rem.torem(200px);
  margin-bottom: 0;

  svg {
    width: rem.torem(20px);
  }
}

.quantity-input {
  width: rem.torem(172px);
}

.monthly-option-input {
  width: auto;
  flex-grow: 1;
}

.booking-date-limit-container {
  display: flex;
  gap: rem.torem(8px);
}

.booking-date-limit-input {
  width: rem.torem(72px);
  margin-bottom: 0;
}

.booking-date-limit-text {
  @include size.input-center-with-top-margin(fonts.$body-font-size, true);
}

@media (min-width: size.$tablet) {
  .align-icon {
    @include size.input-center-with-top-margin(size.$button-icon-size);
  }

  .price-category-input {
    width: rem.torem(328px);
  }
}

.mandatory {
  @include fonts.caption;

  color: var(--color-grey-dark);
  margin-bottom: rem.torem(16px);
}
