@use "styles/mixins/_rem.scss" as rem;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-section {
  margin: rem.torem(56px) 0 rem.torem(24px);
  width: 100%;
}

.stock-section {
  margin-top: rem.torem(32px);
}

.light-banner {
  width: 100%;
  margin-top: rem.torem(32px);
}
