@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

$connect-as-header-height: rem.torem(52px);

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-background-subtle);
}

.page-layout {
  display: flex;
  height: 100%;
  overflow: hidden;
  border-top: none;

  &-connect-as {
    height: calc(100% - $connect-as-header-height);
  }

  @media (min-width: size.$desktop) {
    margin: 0 auto;
    width: rem.torem(size.$desktop);
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  background-color: var(--color-background-default);
}

.content-container {
  width: 100%;
  flex-grow: 1;
  padding: size.$main-content-padding-xs size.$main-content-padding-xs 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: size.$tablet) {
    padding: size.$main-content-padding size.$main-content-padding 0;
  }
}

.content {
  position: relative;
  max-width: 100%;
  border: none;
  margin: 0;

  &-no-lateral-panel {
    justify-self: center;
    width: rem.torem(830px);
  }
}
