@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.bookings-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: rem.torem(30px);

  .bookings-header-loading .bookings-header-number {
    @include fonts.body;
  }
}
