@use "styles/mixins/_rem.scss" as rem;

.sorting-icons {
  display: inline-block;
  margin-left: rem.torem(4px);
  position: relative;
  vertical-align: middle;
  width: rem.torem(18px);
  cursor: pointer;

  // Reset button styles
  background: none;
  border: none;
  padding: 0;
}

.sort-icon {
  display: block;
  left: 50%;
  width: rem.torem(10px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.both-icons {
  display: flex;
  flex-direction: column;
}
