@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_a11y.scss" as a11y;

.stock-event-table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: rem.torem(32px);
}

.header {
  @include fonts.caption;

  text-align: left;
  vertical-align: bottom;
  padding-bottom: rem.torem(4px);
}

.data {
  padding: rem.torem(12px) 0;
  line-height: 1;
}

.row:not(:last-child) {
  border-bottom: 1px solid colors.$grey-medium;
}

$icon-size: rem.torem(20px);

.clear-icon {
  svg {
    width: $icon-size;
    fill: colors.$black;
  }
}

// RomainC: needed because there could be 2 actions bar on this page
.actions {
  z-index: 1;
}

.table-caption {
  @include a11y.visually-hidden;
}

.capitalize {
  text-transform: capitalize;
}

.checkbox-column {
  width: rem.torem(32px);
}

.date-column {
  width: rem.torem(160px);
}

.date-cell-wrapper {
  display: flex;
  align-items: center;
}

.day {
  width: rem.torem(40px);
  margin-right: rem.torem(12px);
}

.time-column {
  width: rem.torem(72px);
}

.booking-limit-date-column {
  width: rem.torem(120px);
}

.quantity-column {
  width: rem.torem(100px);
}

.actions-column {
  width: $icon-size;
}
