@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.section {
  margin-bottom: rem.torem(32px);
  padding-bottom: 0;
  padding-top: 0;

  .main-list-title {
    @include fonts.title3;

    border-bottom: rem.torem(2px) solid var(--color-black);
    margin-bottom: rem.torem(24px);
    padding-bottom: rem.torem(8px);
  }

  .main-list-title-new {
    @include fonts.title2;

    margin-top: rem.torem(26px);
    margin-bottom: rem.torem(24px);
    padding-bottom: rem.torem(8px);
    font-weight: bold;
  }

  .subtitle {
    @include fonts.button;

    margin-bottom: rem.torem(8px);
  }

  .description {
    margin-bottom: rem.torem(24px);
  }

  .invitation-form {
    margin-bottom: rem.torem(32px);
  }

  .invitation-email-wrapepr {
    display: flex;
    gap: rem.torem(8px);
  }

  .invitation-email-field {
    width: 100%;
    margin-bottom: rem.torem(8px);
  }

  .add-member-button-wrapper {
    padding-top: rem.torem(26px);
  }

  .add-member-button {
    margin-bottom: rem.torem(24px);
  }

  .members-container {
    margin-bottom: rem.torem(24px);
  }

  .members-list {
    width: 100%;

    th {
      @include fonts.caption;

      padding-bottom: rem.torem(16px);
      vertical-align: middle;
      text-align: left;
    }

    td {
      @include fonts.body;

      vertical-align: baseline;
      text-align: left;
    }

    tr:not(:last-child) td {
      padding-bottom: rem.torem(12px);
    }
  }
}

.member-email {
  display: flex;
  width: rem.torem(380px);
  word-break: break-word;
}

.member-status {
  width: rem.torem(90px);
}

.display-all-members-button {
  margin-top: rem.torem(20px);
}
