@use "styles/mixins/_rem.scss" as rem;

$input-height: rem.torem(40px);
$line-height: var(--typography-body-line-height);
$input-label-gap: rem.torem(8px);

.container {
  margin: rem.torem(8px) 0;
}

.fieldset {
  margin: rem.torem(12px) 0;
}

.legend {
  float: left;
  min-width: rem.torem(100px);
  margin-top: calc(rem.torem(20px) - (var(--typography-body-line-height) / 2));

  &.first-day {
    margin-top: calc(
      ($input-height / 2) - ($line-height / 2) + $line-height + $input-label-gap
    );
  }
}
