@use "styles/mixins/_a11y.scss" as a11y;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;
@use "styles/mixins/_rem.scss" as rem;

.collective-offers-thead {
  display: none;
}

.expiration-date-th,
.offer-reference-th {
  padding: 0;
}

.collective-th {
  @include fonts.caption;

  padding: 0 rem.torem(8px) rem.torem(10px);
  text-align: left;
}

.collective-th-actions {
  text-align: right;
  padding-right: 0;
}

.collective-th-width {
  min-width: rem.torem(120px);
}

@media (min-width: size.$laptop) {
  .collective-offers-thead {
    display: table-header-group;
  }
}
