/* -------------------------------------------------

 NEGATES

------------------------------------------------- */
.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: 0;
}

.no-scroll-y,
.no-overflow-y {
  overflow-y: hidden;
}

.no-scroll-x,
.no-overflow-x {
  overflow-x: hidden;
}

.no-background {
  background-color: transparent;
}

.no-no-background {
  background: none !important;
}

.no-outline {
  outline: none !important;
}

.no-pointer {
  cursor: default !important;
}

.no-select {
  user-select: none !important;
}

.no-dotted-border {
  background-image: none !important;
}

a.no-decoration,
a.no-decoration:hover,
a.no-decoration:visited {
  text-decoration: none;
}
