.scroll-x {
  overflow-x: scroll;
}

.scroll-y {
  overflow-y: scroll;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

.pc-scroll-container {
  @extend .is-full-layout;

  overflow: auto;
}

.pc-scroll-horizontal {
  @extend .scroll-x;
  @extend .no-scroll-y;
  @extend .is-absolute;
  margin-left: rem(18px);
  margin-right: rem(18px);
}
