// creation des classes permettant de gerer la taille des polices
// Exemple: .fs18, .fs32...
$intSizes: (13, 14, 15, 16, 17, 18, 19, 20, 22, 30, 32, 48, 52, 60, 80);

@each $intSize in $intSizes {
  $pixelValue: number-to-pixel($intSize);

  .fs#{$intSize} {
    @include font-size-to-rem($pixelValue);
  }
}

/* ------------------------------------------------

 Helpers:
 - color
 - style
 - align

------------------------------------------------ */

/* ------ ALIGN */
.text-center,
.has-text-centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ------ COLORS */

.is-grey-text {
  color: $grey;
}

.is-dark-grey-text {
  color: $grey-dark;
}

.is-white-text,
a.is-white-text,
a.is-white-text:hover {
  color: $white;
}

.is-black-text {
  color: $black;
}

.is-red-text,
.is-primary-text,
a.is-red-text,
a.is-red-text:hover,
a.is-primary-text,
a.is-primary-text:hover {
  color: $primary;
}

.is-purple-text {
  color: $purple-red;
}

.is-green-text {
  color: $green;
}

/* ------ STYLE / WEIGHT */
.is-light {
  font-weight: 300;
}

.is-normal,
.is-regular {
  font-weight: 400;
}

.is-medium {
  font-weight: 500;
}

.is-semi-bold {
  font-weight: 600;
}

.is-bold {
  font-weight: 700;
}

.is-extra-bold {
  font-weight: 800;
}

.is-italic {
  font-style: italic;
}

.is-uppercase {
  text-transform: uppercase;
}

.is-lowercase {
  text-transform: lowercase;
}

.is-capitalized {
  // capitalize each words first letter
  text-transform: capitalize;
}
