/* ------------------------------------------------

 Helpers:
 - size
 - color
 - style
 - align

------------------------------------------------ */

/* ------ ALIGN */
.text-center,
.has-text-centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* ------ COLORS */

.is-grey-text {
  color: $grey;
}

.is-white-text {
  color: $white;
}

.is-black-text {
  color: $black;
}

.is-red-text,
.is-primary-text {
  color: $primary;
}

/* ------ STYLE / WEIGHT */
.is-light {
  font-weight: 200;
}

.is-normal {
  font-weight: 400;
}

.is-semi-bold {
  font-weight: 600;
}

.is-bold {
  font-weight: 800;
}

.is-italic {
  font-style: italic;
}

.is-uppercase {
  text-transform: uppercase;
}

.is-lowercase {
  text-transform: lowercase;
}

.is-capitalized {
  // capitalize each words first letter
  text-transform: capitalize;
}

/* ------ SIZES */
.fs32 {
  @include fontSize(32px);
}

.fs22 {
  @include fontSize(22px);
}

.fs20 {
  @include fontSize(20px);
}

.fs19 {
  @include fontSize(19px);
}

.fs18 {
  @include fontSize(18px);
}

.fs16 {
  @include fontSize(16px);
}

.fs14 {
  @include fontSize(14px);
}

.fs13 {
  @include fontSize(13px);
}
