.search-separator {
  align-items: center;
  display: flex;
  margin-top: rem(35px);

  .separator {
    background-color: $grey-medium;
    flex: 5;
    height: rem(1px);
  }

  button {
    flex: 3;
  }
}

.reset-filters-link {
  @include highlight();
  display: flex;
  align-items: center;
  margin-top: rem(36px);

  color: $primary;
  line-height: rem(22px);

  &-icon {
    margin-right: rem(5px);
    fill: $primary;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &.disabled {
    color: $grey-dark;

    .reset-filters-link-icon {
      fill: $grey-dark;
    }

    &:hover,
    &:focus {
      cursor: auto;
      text-decoration: none;
    }
  }
}
