.search-separator {
  align-items: center;
  display: flex;
  margin-top: rem(35px);

  .separator {
    background-color: $grey-medium;
    flex: 5;
    height: rem(1px);
  }

  button {
    flex: 3;
  }
}

.reset-filters {
  margin-top: rem(36px);
  text-align: right;
}
