@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;

.search-separator {
  align-items: center;
  display: flex;
  margin-top: rem.torem(23px);

  .separator {
    background-color: colors.$grey-medium;
    flex: 1;
    height: rem.torem(1px);
  }
}

.reset-filters {
  display: flex;
  justify-content: flex-end;

  @media (max-width: size.$tablet) {
    justify-content: unset;
    margin-top: rem.torem(32px);
  }
}

.offerer-close-icon {
  width: rem.torem(14px);
  height: rem.torem(14px);
  color: colors.$black;
}
