@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/mixins/_fonts.scss' as fonts;

.no-match {
  align-items: center;
  background: linear-gradient(125deg, colors.$primary, colors.$secondary);
  color: colors.$white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    @include fonts.hero();

    color: colors.$white;
    line-height: normal;
    margin: rem.torem(32px) 0 rem.torem(16px);
  }

  p {
    @include fonts.title2();
  }

  img {
    width: rem.torem(350px);
  }

  .nm-redirection-link {
    @include fonts.button();

    align-items: center;
    background-color: transparent;
    border: rem.torem(2px) solid colors.$white;
    border-radius: rem.torem(24px);
    color: colors.$white;
    justify-content: center;
    margin-top: rem.torem(48px);
    max-height: rem.torem(50px);
    outline: none;
    padding: rem.torem(12px) rem.torem(52px);
  }
}
