.booking-item {
  background-color: $white;
  border-radius: $radius-small;

  a {
    display: flex;
    height: 150px;
  }

  .thumb {
    width: 30%;
  }

  .infos {
    @include dotted($primary, left);

    width: 55%;

    .top {
      display: flex;
      flex-direction: column;
      height: 50%;
      justify-content: space-around;
      padding: 0.5rem 1rem;

      h5 {
        color: $black;
        line-height: 1.5rem;
      }

      div {
        color: $grey-dark;
      }
    }

    .token {
      @include dotted($primary, top);

      color: $primary;
      font-size: 2.9rem;
      padding: 0.5rem 0 0 1rem;
    }
  }

  .arrow {
    align-items: center;
    display: flex;
    position: relative;
    width: 15%;

    img {
      margin: auto;
    }
  }
}
