#booking-card {
  z-index: $zindex-booking-card;
  color: #000000;
  background: #FFFFFF;
}

#booking-card header {
  color: #FFFFFF;
  background: #261801;
  padding: 36px 12px;
  padding-top: 72px;

  .title {
    font-size: 40px;
  }

  .subtitle {
    font-size: 22px;
  }
}

#booking-card .form-footer {
  // <----- FIXME
  // .page.with-footer footer
  // le flow-direction est defini par la classe css
  // et donc on ne peut pas donner comme tag <footer>
  height: 3.5rem;
  max-height: 3.5rem;
  min-height: 3.5rem;
  background-color: $primary;

  button {
    border: 0;
    width: 35%;
    color: $white;
    font-size: 20px;
    background: transparent;
  }

  button + button {
    border-left: 1px dotted $white;
  }
}

#booking-card .main {
  .calendarpicker-field-input {
    width: 260px;

    input {
      cursor: pointer;
      text-align: center;
      padding-right: 44px;
      pointer-events: none;
    }
  }

  .views-container {
    padding: 36px 12px;
  }

  .calendarpicker-field-popup {
    width: 350px;
    top: 0 !important;
    left: -45px !important;
  }

  .select-field {
    width: 212px;

    .ant-select-arrow::before {
      content: '\E641';
    }
  }
}
