#booking-card {
  z-index: $zindex-booking-card;
  color: $black;
  background: $white;
}

#booking-card header {
  color: $white;
  background: #261801;
  padding: 1.5rem 1rem;

  .title {
    font-size: 40px;
  }

  .subtitle {
    font-size: 22px;
  }
}

#booking-card .form-footer {
  // <----- FIXME
  // .page.with-footer footer
  // le flow-direction est defini par la classe css
  // et donc on ne peut pas donner comme tag <footer>
  height: 3.5rem;
  max-height: 3.5rem;
  min-height: 3.5rem;
  background-color: $primary;

  button {
    border: 0;
    width: 35%;
    color: $white;
    font-size: 20px;
    background: transparent;
  }

  button + button {
    border-left: 1px dotted $white;
  }
}

#booking-card .main {
  .views-container {
    overflow-y: auto;
    padding: 36px 12px;
  }
}
