.card {
  background-color: $very-very-light-grey;
  height: 100%;
  &__content {
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 75vh;
    width: 75%;
    @media (min-width: $sm) {
      width: 50%;
    }
    @media (min-width: $md) {
      width: 33%;
    }
    &__info {
      background-color: $very-very-light-grey;
      border: $border;
      border-radius: $border-radius;
      color: $very-dark-grey;
      font-weight: 500;
      position: absolute;
    }
  }
  &__typed {
    background-color: $very-very-light-grey;
    border: 3px solid transparent;
    border-radius: $border-radius;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.25s ease-out;
    &--interesting {
      color: $medium-green;
      left: 10px;
      top: 50px;
      @media (min-width: $md) {
        left: 200px;
        top: 100px;
      }
      &--active {
        border: 3px solid $medium-green;
      }
    }
    &--disliked {
      bottom: 50px;
      color: $medium-red;
      left: 10px;
      @media (min-width: $md) {
        bottom: 100px;
        left: 200px;
      }
      &--active {
        border: 3px solid $medium-red;
      }
    }
    &__delete {
      background-color: $very-very-light-grey;
      border: 3px solid $medium-green;
      color: $medium-green;
      left: -19px;
      top: -19px;
    }
  }
}

.carousel {
  .control-prev.control-arrow:before{ border-right:8px solid $very-dark-grey; }
  .control-next.control-arrow:before{ border-left:8px solid $very-dark-grey; }
}
