.clue {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  min-height: 4.5rem;
  min-width: 5rem;
  text-align:center;

  .separator {
    font-family: initial;
    font-weight: bold;
    opacity: 0.5;
    line-height: 1rem;
  }
}
