.deck {
  min-height: calc(100vh - #{$header-height});
  overflow: hidden;
  &__board {
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    z-index: 100;
    @media(min-width: $sm) {
      bottom: 10px;
      border-radius: $border-radius;
      left: 33.33%;
      right: 33.33%;
    }
  }
  &__to-verso {
    z-index: 1100;
  }
}
