.edit-offer {
  height: 75vh;
  img, textarea {
    border-radius: $border-radius;
    height: auto;
    width: 200px;
    @media (min-width: $md) {
      height: auto;
      width: 300px;
    }
  }
}
