.explorer {
  background-color: $very-very-light-grey;
  min-height: calc(100vh - #{$header-height});
  .carousel {
    height: calc(100vh - #{$header-height});
    .slider-wrapper, .slider, .slide {
      height: calc(100vh - #{$header-height});
    }
  }
  &__search {
    z-index: 20000;
    width: 100%;
  }
}
