/*
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

$l-height: 1.9em;
$l-bar-height: 0.2em;
$l-vert-gutter: ($l-height - ($l-bar-height * 3)) / 2;

.hamburger {
  background-color: $identity-color;
  border-color: white;
  border-radius: 100%;
  fill: white;
  height: 3rem;
  padding: 0.5rem;
  text-align: center;
  vertical-align: middle;
  width: 3rem;
}

.hamburger__link {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  position: relative;

}

.hamburger__link-box {
  width: $l-height;
  height: $l-height;
  display: inline-block;
  position: relative;
}

.hamburger__link-inner {
  top: 50%;
  margin-top: -$l-vert-gutter / 2;
}

.hamburger__link-inner,
.hamburger__link-inner::before,
.hamburger__link-inner::after {
  width: 100%;
  height: $l-bar-height;
  background-color: white;
  border-radius: $border-radius;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger__link-inner::before,
.hamburger__link-inner::after {
  content: "";
  display: block;
}

// .hamburger__link-inner::before {
//   top: -$l-vert-gutter;
// }

// .hamburger__link-inner::after {
//   bottom: -$l-vert-gutter;
// }

/*
slider from:
https://github.com/jonsuh/hamburgers/blob/master/dist/hamburgers.css
[APAPTED]
*/
.hamburger .hamburger__link-inner {
  top: $l-vert-gutter;
}

.hamburger .hamburger__link-inner::before {
  top: $l-vert-gutter;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}

.hamburger .hamburger__link-inner::after {
  top: $l-vert-gutter * 2;
}

.hamburger__link--active .hamburger__link-inner {
  transform: translate3d(0, $l-vert-gutter, 0) rotate(45deg);
}

.hamburger__link--active .hamburger__link-inner::before {
  /* eslint-disable */
  transform: rotate(-45deg) translate3d(-0.35741em, #{-$l-bar-height * 2}, 0);

  /* eslint-enable */
  opacity: 0;
}

.hamburger__link--active .hamburger__link-inner::after {
  /* eslint-disable */
  transform: translate3d(0, #{-$l-vert-gutter * 2}, 0) rotate(-90deg);

  /* eslint-enable */
}
