.header {
  height: $header-height;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  .hamburger {
    margin-left: -10px;
  }
  &__logo {
    font-size: 20px;
  }
  &__account-balance {
  }
  &__offerer {
    background-color: white;
    border-radius: $border-radius;
    color: black;
    font-style: italic;
    font-weight: 500;
    &__image {
      height: 40px;
    }
  }
  &__avatar {
    border-radius: 50%;
    height: 40px;
  }
}
