.header {
  height: $header-height;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  .hamburger {
    margin-left: -10px;
  }
  &__logo {
    position: absolute;
    left:50%;
    top: 14.5px;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 20px;
  }
  &__account-balance {
    top: 14.5px;
    position: absolute;
    right: 55px;
    padding-top: 3px;
  }
  &__avatar {
    height: 40px;
    position: absolute;
    top: 8px;
    right: 10px;
  }
}
