.home-cards {
  box-shadow: 0 0 3.75rem rgba(0,0,0,0.2);
  display: flex;
  top: 9.3rem;
  height: 20rem;
  z-index: 10;
  margin: auto;
  width: 52rem;
}

.home-card {
  background-color: $red;
  height: 20rem;
  width: 100%;
  flex-direction: row;

  .home-card-picture {
    width: 26rem;
    img {
      align: right;
      height: auto;
      width: 12rem;
      padding: 3rem  4rem  2rem  2rem;
    }
  }

  .home-card-text {
    width: 26rem;
    h1 {
      width: 100%;
      font-size: 2.6em;
      font-weight: $weight-semibold;
      color: $white;
      padding: 0 4rem 0 3rem;
    }

    p {
      color: $white;
      font-size: 1.2rem;
      padding: 0 4rem 0 3rem;
    }
  }
}

div.home-card.dotted-card {
    border-right: 0.4rem dotted $white;
}
