.home-card {
  img.home-card-picture {
    float: right;
    height: auto;
    width: 150px;
  }
  background-color: $red;
  height: 100%;
  height: 75vh;
  width: 100%;
}
h1.home-card {
}
p.home-card {
}
