.loading {
  &__container {
    border: 8px solid $light-grey; /* Light grey */
    border-top: 8px solid $identity-color; /* Blue */
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
