$main-menu-height: 592px;
$main-menu-header-height: 152px;
$main-menu-around-padding: 12px;
$main-menu-height-with-padding: (592px + 24px); // 24 === padding (2 * 12)

#main-menu {
  z-index: $zindex-main-menu;
}

#main-menu .pc-scroll-container {
  height: auto;
  min-height: auto;
  max-height: auto;
  overflow: hidden;
  padding: $main-menu-around-padding;
}

@media (max-height: $main-menu-height-with-padding) {
  // prevent scrollbar flickering
  // cas du flickering car la hauteur est exactement egale a 616px
  #main-menu .pc-scroll-container {
    overflow: auto;
  }
}

#main-menu-fixed-container {
  border-radius: rem(16px);
  height: $main-menu-height;
  max-height: $main-menu-height;
  min-height: $main-menu-height;
}

#main-menu-close-button {
  z-index: 1;
  top: rem(22px);
  right: rem(22px);
}

#main-menu-header {
  height: $main-menu-header-height;
  max-height: $main-menu-header-height;
  min-height: $main-menu-header-height;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);

  .column-profile {
    width: 45%;
    min-width: 108px;
  }

  .column-account {
    width: 55%;
    border-left: 1px solid $white;
  }
}

#main-menu-header-avatar img {
  // avatar de l'user
  width: 88px;
  height: auto;
}

// la largeur des icones est definie a 44px
// dans le fichier MenuLink.js
#main-menu .menu-icon img {
  vertical-align: middle;
}

#main-menu-navigation button,
#main-menu-navigation .navlink {
  @extend .fs19;
  @extend .flex-columns;
  @extend .is-white-text;

  .menu-icon {
    height: 100%;
    max-width: 44px;
    min-width: 44px;
    width: 44px;
  }
}

#main-menu-navigation .navlink {
  height: 52px;
  min-height: 52px;
  max-height: 52px;
  line-height: 52px;

  & + .navlink {
    @extend .dotted-top-black;
  }

  &.active {
    // disable le click sur les liens actifs dans le menu principal
  }
}

#main-menu-logout-button {
  background-color: rgba(0, 0, 0, 0.2);
}
