.mediation-item {
  background-color: black;
  border: $border;
  border-radius: $border-radius;
  color: white;
  font-size: 14px;
  max-width: 250px;
  text-align: left;
  svg {
    width: 25px;
  }
}
