.modal {
  $modal-padding: 24px;
  $modal-padding--large: 10px;

  display: none;
  // on top of header in mobile view
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  transition: height 0.2s ease-out;

  // overlay
  background-color: rgba(236, 236, 236, 0.86);
  will-change: opacity;
  opacity: 0;

  @media (min-width: $lg) {
    // below header in larger screens
    z-index: 1003;
  }

  &__close {
    background-color: white;
    $close-padding: 10px;
    color: $very-dark-grey;
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    height: 2.5rem;
    margin-top: -$close-padding;
    margin-right: -$close-padding;
    padding: 0.25rem;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;
    width: 2.5rem;
    @media (min-width: $lg) {
      top: 15px;
      right: 20px;
    }
  }

  &__dialog {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    max-width: 100%;
    min-height: 4rem;
    max-height: 100%;
    overflow-y: auto;
    padding-top: $modal-padding;
    position: relative;
    text-align: center;
    width: 750px;
    will-change: transform, opacity;
    backface-visibility: hidden;
    @media (min-width: $lg) {
      // so we can avoid cropping things like dropdown lists inside modal.
      // Test that component if you're changing this value!
      overflow-y: visible;
    }
  }

  &__dialog,
  &__content {
    background-color: white;
    color: $very-dark-grey;
    font-family: $font-family;
    font-weight: 500;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  &__close-cta {
    margin-bottom: 2rem;
  }

  &--active {
    display: block;
    display: flex;
    opacity: 1;
    // cannot just use opacity: 1 here,
    // the element is display none - not rendered, when this class gets applied
    animation: fade-in 0.5s backwards;
    .modal__dialog {
      animation: flip-card-in 0.5s cubic-bezier(0.25, 0.15, 0.3, 1.1) backwards;
    }
  }

  @media (min-width: $lg) {
    &__dialog {
      padding: $modal-padding--large;
    }
  }
}
