li.occasion-item {

  img {
    max-height: 100px;
  }

  .name, .infos, .occasion-thumb {
    opacity: 0.5;
  }
  &.active {
    .name, .infos, .occasion-thumb {
    opacity: 1;
    }
  }

  .infos {
    margin-bottom: 1rem;
  }

  .recently-added {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    background-color: $blue;
  }

  ul.pc-list & .list-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  ul.actions {
    .button {
      margin-right: 2rem;
      &:last-child {
        margin-right: inherit;
      }
    }
  }
}
