.occasion-item {
  .name, .infos, .occasion-thumb {
    opacity: 0.5;
  }
  &.active {
    .name, .infos, .occasion-thumb {
    opacity: 1;
    }
  }

  .infos {
    margin-bottom: 1rem;
  }

  .recently-added {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    background-color: $blue;
  }
}
