li.occasion-item {

  img {
    max-height: 100px;
  }

  .name, .infos, .occasion-thumb {
    opacity: 0.5;
  }
  &.active {
    .name, .infos, .occasion-thumb {
    opacity: 1;
    }
  }

  .infos {
    margin-bottom: 1rem;
  }

  ul.main-list & .list-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  ul.actions {
    .button {
      margin-right: 2rem;
      &:last-child {
        margin-right: inherit;
      }
    }
  }
}
