.occurence-manager {

  .occurence-table-wrapper {
    position: relative;
    max-height: 60vh;
    min-height: 375px;
    overflow-y: auto;

    table.occurence-table {
      // width: 80vw;
      thead, tbody {
        // display: block;
        width: 100%;
        tr {
          width: 100%;

          @include dotted($primary, bottom);

          td {
            text-align: center;
            border: none;
            &:first-child {
              width: 20%;
            }
          }
        }
        form.occurence-form {
          display: table-row;
          td {
            vertical-align: baseline;
          }
        }
      }
      thead {
        tr {
          td {
            font-weight: $weight-bold;
            vertical-align: middle;
            padding: 1rem;
          }
        }
      }
    }

  }
}


