.offer-horiz-scroller {
  margin-left: -5px;
  > div {
    width: 100%;
    height: 33.4%;
  }
  .carousel {
    height: 100%;
    .slider-wrapper, .slider, .slide {
      height: 100%;
    }
    .slide {
      color: white;
      cursor: pointer;
      img.offerPicture {
        max-width: 50%;
        height: 100%;
        float: left;
      }
    }
  }
  .no-offers {
    width: 100%;
    padding-top: 40%;
    text-align: center;
  }
}
