.offer-item {
  border: $border;
  border-radius: $border-radius;
  img {
    height: auto;
    width: 100px;
    @media (min-width: $md) {
      width: 150px;
    }
  }
  &--modify {
    cursor: pointer;
  }
}
