.offer-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    height: auto;
    width: 150px;
    @media (min-width: $desktop) {
      width: 150px;
    }
  }
  &.modify {
    cursor: pointer;
  }
  .content {

  }
}
