.recto {
  width: 100%;
  padding-bottom: 133%;
  height: 0;
  overflow: hidden;
  position: relative;
  z-index: 0;
  &--small {
    border-radius: $border-radius;
  }
  &--loading {
    height: 50%;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    z-index: 1;
  }
  .card-background {
    filter: blur(30px);
    background-size: 150% 150%;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    &--loading {
      filter: none;
    }
  }
}
