.recto {
  width: 100%;
  padding-bottom: 133%;
  height: 0;
  overflow: hidden;
  position: relative;
  &--small {
    border-radius: $border-radius;
  }
  &__loading {
    height: 100%;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
  .card-background {
    filter: blur(30px);
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .card-gradient {
    background: linear-gradient(transparent, black);
    height: 0;
    padding-bottom: 26.6%;
    z-index: 100;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
