.search-filter {
  background-color: $grey-light;
  border-radius: 0.25em;

  h2 {
    font-style: italic;
    margin-bottom: 1em;
    margin-top: 1em;
    text-transform: uppercase;
    text-align: center;
  }

  div.field.checkbox {
    border-color: $primary;
  }

  button {
    background-color: $grey-light;
    border-color: white;
    border-radius: 0em;
  }
}
