.verso-wrapper {
  color: $text-color;
  text-align: left;
  min-height: 100%;
  position: relative;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;

  &.with-padding-top {
    padding-top: 50%;
  }

  .verso-header {
    background-color: $black;
    padding: 1rem;
    color: white;
    position: relative;
    flex-shrink: 0;

    $triangle-diag: 50px;
    &:before {
      content: '';
      background-color: inherit;
      width: $triangle-diag;
      height: $triangle-diag;
      transform: rotate(45deg);
      top: -$triangle-diag/2;
      margin: auto;
      left: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }

    h2 {
      font-size: 1.7rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
    h6 {
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .content {
    background-color: $very-very-light-grey;
    padding-bottom: 68px; // dirty
    flex: 1;
    h3 {
      margin-bottom: 1rem;
      color: $menu-red;
      font-weight: 500;
    }

    img.verso-tuto-mediation {
      width: 100%
    }

    p {
      margin-bottom: 1rem;
    }

    ul.address-info {
      list-style: none;
    }
  }
}

