.verso-wrapper {
  color: $text;
  text-align: left;
  min-height: 100%;
  position: relative;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  cursor: initial;

  &.with-padding-top {
    padding-top: 56.25%;
  }

  .verso-header {
    background-color: $black;
    padding-top: calculateRem(33px);
    padding-bottom: calculateRem(33px);
    padding-left: $page-padding;
    padding-right: $page-padding;
    color: $white;
    position: relative;
    flex-shrink: 0;

    $triangle-diag: 50px;

    &::before {
      content: '';
      background-color: inherit;
      width: $triangle-diag;
      height: $triangle-diag;
      transform: rotate(45deg);
      top: -$triangle-diag/2;
      margin: auto;
      left: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 2.7rem;
    }

    h2 {
      font-weight: 400;
      font-size: 1.375rem;
    }
  }

  .verso-content {
    background-color: $white;
    padding-bottom: $footer-height;
    flex: 1;

    div.description {
      margin-top: 0.5rem;
    }

    h3 {
      padding-top: 0.75rem;
      padding-bottom: 0.5rem;
      color: $primary;
      font-weight: 700;
      font-size: 1.5rem;
    }

    img.verso-tuto-mediation {
      width: 100%;
    }

    p {
      padding-bottom: 1rem;
      // line-height: 1.125rem;
      // font-size: 0.94rem;
    }

    ul.address-info {
      list-style: none;
      margin-left: 0;
    }
  }
}
