.verso {
  position: absolute;
  left: 0;
  right: 0;
  transition: transform 250ms;
  top: 0;
  bottom: 0;
  z-index: 500;
  transform: translate(0, 100%);
  will-change: transform;
  height: 100%;

  &.flipped {
    transform: translate(0, 0);
  }

  &.with-header {
    margin-top: $header-height;
  }

  .over-wrapper {
    margin-top: 50%;
  }
}
