.verso {
  bottom: -100%;
  left: 0;
  right: 0;
  transition: bottom 250ms, top 250ms;
  top: 110%;
  z-index: 500;
  padding-top: 50%;
  &--flipped {
    bottom: 0;
    top: 0;
    height: 100vh;
    overflow: scroll;
  }
}
