@use 'styles/variables/_forms.scss' as forms;
@use 'styles/mixins/_rem.scss' as rem;

.field-group {
  display: flex;

  &-item {
    border-radius: 0;
    border-right-width: 0;

    &:first-child {
      border-bottom-left-radius: forms.$input-border-radius;
      border-top-left-radius: forms.$input-border-radius;
    }

    &:last-child {
      border-right-width: rem.torem(1px);
      border-bottom-right-radius: forms.$input-border-radius;
      border-top-right-radius: forms.$input-border-radius;
    }

    &:focus,
    &:hover {
      border-right-width: rem.torem(1px);

      & + .field-group-item {
        border-left-width: 0;
      }
    }
  }
}
