.field-group {
  display: flex;
  
  &-item {
    border-radius: 0;
    border-right-width: 0;

    &:first-child {
      border-bottom-left-radius: $input-border-radius;
      border-top-left-radius: $input-border-radius;
    }

    &:last-child {
      border-right-width: 1px;
      border-bottom-right-radius: $input-border-radius;
      border-top-right-radius: $input-border-radius;
    }

    &:focus,
    &:hover {
      border-right-width: 1px;
      
      & + .field-group-item {
        border-left-width: 0;
      }
    }
  }
}