#filter-thing-by-date {
  .pc-selectbox {
    @extend .pl24, .py5;

    border-radius: 18px;
    width: 139px;
    height: 36px;
    background: 110px 14px no-repeat transparent url(/icons/dropdown-disclosure-down-s-w.svg);
    box-shadow: 0 2px 6px 0 $black-shadow;
    font-size: 16px;
    margin-right: rem(12px);
    margin-bottom: rem(54px);
    margin-top: rem(6px);
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

#filter-event-by-date {
  label {
    font-size: 16px;
  }

  .pc-selectbox {
    @extend .pl24, .py5;

    display: block;
    border-radius: 18px;
    width: 259px;
    height: 36px;
    background: 226px 14px no-repeat transparent url(/icons/dropdown-disclosure-down-s-w.svg);
    box-shadow: 0 2px 6px 0 $black-shadow;
    font-size: 16px;
    margin-right: rem(12px);
    margin-bottom: rem(54px);
    margin-top: rem(6px);
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
