.absolute-footer {
  align-items: center;
  background-color: transparent;
  bottom: 0;
  display: flex;
  height: $footer-height;
  left: 0;
  flex-direction: row-reverse;
  position: absolute;
  right: 0;
  text-align: right;
  padding: $footer-height-padding $page-padding;
  z-index: $zindex-beta-corner;

  a,
  button {
    font-size: 1.2rem;
  }

  .button-wrapper {
    margin: 5px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    button {
      border-radius: 50%;
      height: 100%;
      width: $footer-height;
      cursor: pointer;
      display: block;
      background: none;
      margin: auto;

      &:focus {
        outline: none;
      }

      img {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
      }
    }
  }

  &.bordered {
    @include dotted($white);
  }

  &.colored {
    background-color: rgba($white, 0.9);

    &.bordered {
      @include dotted($primary);
    }

    button {
      background-color: $white;
    }
  }

  &.on-top {
    z-index: 500;
  }
}
