.first-tutorial {
  background-color: $primary;
  background-image: url('/onboarding-1@2x.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;

  .first-tutorial-text {
    margin: 5.5vh 12% 0;
  }

  .text-highlight {
    &::after {
      width: rem(50px);
    }
  }
}
