@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;
@use "styles/variables/_z-index.scss" as zIndex;

.page-layout {
  display: flex;

  &-full {
    height: 100%;
  }
}

.container {
  position: relative;
  padding-bottom: rem.torem(32px);
  width: 100%;

  &-without-nav {
    display: flex;
    flex-direction: column;

    @media (min-width: size.$tablet) {
      flex-direction: row;
      width: 100%;
      margin: 0 auto;
    }
  }

  &-full {
    overflow-y: auto;

    @media (min-width: size.$tablet) {
      width: auto;
      margin-right: rem.torem(32px);
    }
  }

  &-sticky-actions {
    padding-bottom: calc(rem.torem(32px) + size.$action-bar-sticky-height);

    &-new-interface {
      padding-bottom: rem.torem(32px);
    }
  }
}

.page-content {
  background: var(--color-white);
  border-radius: rem.torem(10px);
  margin: rem.torem(calc(size.$top-menu-height + rem.torem(32px)) auto 0 auto);
  max-width: rem.torem(size.$main-content-width);
  border: rem.torem(1px) solid var(--color-grey-medium);

  @media (min-width: size.$tablet) {
    margin-left: calc(size.$side-nav-width + rem.torem(32px));
  }

  &-old {
    margin: rem.torem(-88px) auto 0 auto;
    box-shadow: 0 0 rem.torem(60px) var(--color-large-shadow);
    border: none;
  }

  &-with-review-banner {
    margin-top: rem.torem(32px);
  }

  .after-notification-content {
    padding: size.$main-content-padding;
    position: relative;
  }
}

.lateral-panel {
  &-logo {
    width: rem.torem(80px);
  }

  &-wrapper {
    display: none;
    position: fixed;
    top: size.$top-menu-height;
    left: 0;
    width: 100%;
    z-index: zIndex.$lateral-menu-z-index-mobile;
    min-height: calc(100vh - size.$top-menu-height);

    &::before {
      content: " ";
      display: block;
      position: fixed;
      inset: 0;
      background: rgb(from var(--color-input-text-color) r g b / 48%);
    }

    &-open {
      display: block;
    }
  }

  &-menu {
    background: var(--color-white);
    z-index: zIndex.$lateral-menu-z-index-mobile;
    position: fixed;
    max-width: rem.torem(268px);
    inset: 0;
    overflow-y: auto;
  }

  &-nav {
    padding: 0 rem.torem(16px);
    height: rem.torem(50px);
    box-shadow: 0 3px 4px 0 rgb(103 104 107 / 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-open {
      padding: 0 rem.torem(16px) 0 0;
    }

    &-button {
      display: inline-flex;
      width: rem.torem(50px);
      height: rem.torem(50px);
      justify-content: center;
      align-items: center;
      gap: 24px;
      flex-shrink: 0;
    }

    .logo {
      width: rem.torem(80px);
    }
  }
}

@media (min-width: size.$tablet) {
  .lateral-panel {
    &-wrapper {
      z-index: zIndex.$lateral-menu-z-index;
      position: fixed;
      top: size.$top-menu-height;
      left: 0;
      bottom: 0;
      display: block;
      width: size.$side-nav-width;

      &::before {
        display: none;
      }
    }

    &-menu {
      z-index: zIndex.$lateral-menu-z-index;
      position: initial;
      height: 100%;
      width: 100%;
    }

    &-nav {
      display: none;
    }
  }
}

.content-layout {
  &-basic {
    min-height: calc(100vh - (size.$footer-height));

    &-with-review-banner {
      min-height: calc(100vh - (size.$footer-height + size.$nav-height));
    }
  }

  &-funnel {
    min-height: calc(
      100vh -
        (
          size.$footer-height + size.$nav-height +
            size.$action-bar-sticky-height
        )
    );
  }

  &-sticky-actions {
    min-height: calc(
      100vh -
        (
          size.$footer-height + size.$nav-height +
            size.$action-bar-sticky-height
        )
    );
  }
}

.main-wrapper {
  width: 100%;
  background-color: var(--color-background-content);

  &-old {
    background-color: transparent;
  }
}
