@use "styles/mixins/_fonts.scss" as fonts;

.sign-up-unavailable-section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  @include fonts.title2;

  margin: var(--size-spacing-xl) 0;
}
