@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_forms.scss" as forms;
@use "styles/variables/_size.scss" as size;
@use "styles/mixins/_layout.scss" as layout;

.sign-up-unavailable-section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  @include layout.full-content-side;
}

.heading-1 {
  @include fonts.title1;

  margin: rem.torem(24px) 0;
}
