@use 'styles/mixins/_rem.scss' as rem;

.sign-up-unavailable-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

  .content {
    max-width: 50%;
  }

  .heading-1 {
    margin: rem.torem(24px) 0;
  }
}
