.allocine-provider-form {
  .field-asterisk {
    @extend .ml2;
    color: $violet-dark;
  }

  .apf-price-section {
    .price-section-label {
      display: flex;
    }

    .price-field {
      display: flex;
      flex-direction: column;
    }
  }

  input {
    text-align: left;
  }

  .blue-insert {
    margin-top: .5rem;
  }
}

.apf-price-section {
  margin-top: .5rem;
}

.apf-isDuo-section {
  display: flex;

  input {
    @extend .input;
    margin-right: 0.5rem;
    background-image: url(/icons/checkbox.svg);
    border: none;
    background-repeat: no-repeat;
    background-size: 1.1875em;
    width: 1.1875em;
    height: 1.1875em;
    padding: 0;
    border-radius: 0;

    &:checked {
      &::after {
        content: '';
        background: url(/icons/checkbox-check.svg) center no-repeat;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.apf-provider-import-button-section {
  margin-top: 1rem;

  button {
    width: 100%;
  }
}

.apf-tooltip {
  margin-left: .25rem;
}
