.allocine-provider-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .compte-section {
    margin-right: 20px;

    .compte-section-label {
      display: flex;
      justify-content: space-between;
    }

    .label {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .label-text {
        font-size: 12px;
      }
    }
  }

  .price-section {
    margin-right: 20px;

    .price-section-label {
      display: flex;
      justify-content: space-between;
    }

    .price-field {
      display: flex;
      flex-direction: column;
    }
  }

  .provider-import-button-container {
    position: relative;

    button {
      position: absolute;
      top: 23%;
    }
  }
}
