@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_outline.scss" as outline;

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem.torem(32px);
  margin-top: rem.torem(16px);
}

.one-booking-date-section {
  @include fonts.title4;
}

.booking-type-section {
  flex-grow: 1;
}

.date-select-section {
  width: 100%;
}

.horizontal-line {
  border: 1px solid var(--color-border-subtle);
  margin: 0;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: rem.torem(8px);
  width: 100%;
}

.bookings-radio-buttons {
  &-validated {
    margin: rem.torem(16px) 0;
  }
}

.bookings-date-count {
  margin: rem.torem(32px) 0;

  @include fonts.body-accent-xs;
}

.date-select-table {
  width: 100%;
  margin: rem.torem(8px) 0;
  text-align: left;
  max-height: rem.torem(276px);
  overflow: scroll;

  &-header {
    @include fonts.body-accent-xs;
  }
}

.table-column {
  padding: rem.torem(8px) 0;
}

.table-header {
  @include fonts.body-accent-xs;

  &:first-child {
    padding-left: rem.torem(28px);
  }
}

.bookings-date-radio {
  outline: none;

  &:focus-within {
    outline: none;
  }
}

.bookings-day {
  width: 4em;

  @include fonts.body-accent;

  text-decoration: none;
  text-transform: capitalize;
}

.radio-label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
