@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.confirmation {
  text-align: center;
  margin: auto;
  max-width: rem.torem(712px);

  &-icon {
    height: rem.torem(56px);
    margin-bottom: rem.torem(19px);

    &-validate {
      color: var(--color-icon-success);
    }
  }

  &-section {
    margin-bottom: rem.torem(32px);

    &-header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: rem.torem(24px);
    }

    &-title {
      @include fonts.title3;
    }

    &-back-to-nav-link {
      margin-left: rem.torem(16px);
    }
  }

  &-actions {
    max-width: rem.torem(486px);
    margin: rem.torem(40px) auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: rem.torem(24px);
    justify-content: center;
  }

  &-action {
    text-align: center;

    &:first-child {
      margin-left: 0;
    }
  }
}

.confirmation-wrapper .confirmation-banner {
  margin-top: rem.torem(45px);
}
