@use "styles/mixins/_rem.scss" as rem;

.quantity-input {
  display: flex;
  flex-direction: row;

  &-checkbox {
    margin-top: rem.torem(36px);
    margin-left: rem.torem(16px);

    &-for-small-label {
      margin-top: rem.torem(42px);
    }

    &-for-hidden-label {
      margin-top: rem.torem(10px);
    }
  }
}
