@import 'sass-rem';

.page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

li.page-number {
  &:not(:last-child) {
    margin-right: rem(20px);
  }
  a {
    color: #161617;
    font-size: rem(15px);
    line-height: rem(20px);

    &:not(.is-active) {
      text-decoration: none;
    }

    &.is-active {
      font-weight: bold;
      text-decoration: underline;
    }
  }


}

.page-dots {
  margin: 0 rem(15px) 0 rem(-5px);
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(45px);
}

.pagination-arrow {
  width: rem(7.5px);
  height: rem(15px);

  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;

  &:first-child {
    margin-right: rem(35px);
  }

  &:last-child {
    margin-left: rem(35px);
    transform: rotate(180deg);
  }
}
