@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;

.cinema-provider-form {
  margin-bottom: 0;
  margin-top: rem.torem(32px);

  .cpf-is-duo {
    margin-right: 0 !important;
    max-height: rem.torem(31px);
  }

  .cpf-tooltip {
    display: flex;
    margin-left: rem.torem(4px);
  }
}

.info-icon {
  width: rem.torem(16px);
  color: colors.$accent;
}
