#filter-by-offer {
  .pc-selectbox {
    @extend .pl24, .py5;

    font-size: 16px;
    border-radius: 18px;
    width: 488px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: 455px 14px;
    background-image: url(/icons/dropdown-disclosure-down-s-w.svg);
    background-color: transparent;
    box-shadow: 0 2px 6px 0 $black-shadow;
    margin: rem(6px) 0 rem(18px) 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  label {
    font-size: 16px;
  }
}
