@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;


.day-and-hours {
  margin: rem.torem(8px) 0;
  padding: rem.torem(8px) 0;
}

.important {
  @include fonts.body-important;
}

.day {
  color: colors.$grey-dark;
}