@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_forms.scss" as forms;
@use "styles/mixins/_layout.scss" as layout;

.title {
  @include fonts.title1;
}

.content {
  @include layout.full-content-side;

  display: flex;
  align-items: center;

  @media (min-width: size.$tablet) {
    min-height: 100vh;
  }
}

.confirmation-text {
  @include fonts.title4;

  margin-bottom: rem.torem(24px);
}

.banner-text-gap {
  margin-top: rem.torem(24px);
}
