@use "styles/mixins/_fonts.scss" as fonts;

.signup-confirmation {
  &-icon {
    margin-bottom: var(--size-spacing-m);
  }

  &-body {
    @include fonts.body;

    margin-bottom: var(--size-spacing-xl);
  }
}

.content {
  display: flex;
  align-items: center;

  .confirmation-text {
    @include fonts.title4;

    margin-bottom: var(--size-spacing-xl);
  }

  .banner-text-gap {
    margin-top: var(--size-spacing-xl);
  }
}
