.button {
  font-weight: $weight-bold;
  font-size: $font-size;
  line-height: $body-line-height;
  border-radius: 1px;

  &:focus {
    outline: none;
  }

  &:not(.is-outlined) {
    border-width: 0;
  }

  &:focus:not(:active) {
    box-shadow: none;
  }

  &.is-primary {
    box-shadow: inset 0 -2px 0 1px rgba(153, 0, 38, 0.6);
  }

  &.is-outlined {
    box-shadow: none;
  }

  &.is-intermediate {
    background: none;
    text-decoration: none;
    border: 1px solid $red;
    color: $red;
  }

  &.is-secondary {
    background: none;
    border-color: transparent;
    color: $red;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;

    &.is-inversed {
      color: $white;
    }
  }
}
