.button {
  height: auto;

  &:focus {
    &:not(:active) {
      box-shadow: none;
    }
  }

  &.is-primary {
    background-color: $white;
    color: $primary;
    border-top-right-radius: 0;
    font-weight: $weight-bold;
  }

  .is-rounded {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 290486px;
  }

  &.is-secondary {
    background: none;
    border: none;
    color: $white;
    font-weight: $weight-bold;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
  }
}
