@mixin multiLineEllipsis($line-clamp) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line-clamp;

  /* autoprefixer: off */
  -webkit-box-orient: vertical;

  /* autoprefixer: on */
}
