@mixin multiLineEllipsis() {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;

  /* autoprefixer: off */
  -webkit-box-orient: vertical;

  /* autoprefixer: on */
}
