/* --------------------------------------------

 FLEX

-------------------------------------------- */
.flex-end,
.flex-rows,
.flex-start,
.flex-around,
.flex-center,
.flex-between,
.flex-columns {
  display: flex;
}

.flex-columns {
  flex: 1;
  flex-direction: row;
}

.flex-rows {
  flex: 1;
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-inverse {
  flex-wrap: wrap-reverse;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.flex-wrapper {
  @extend .flex-columns;
  @extend .flex-between;

  flex-wrap: wrap;
}

/* --------------------------------------------

 BLOCK

-------------------------------------------- */

.flex-none {
  flex: none;
}

$spaces: (0, 1, 2, 3, 4, 5, 6, 7);

@each $space in $spaces {
  .flex-#{$space} {
    flex: #{$space};
  }
}

/* --------------------------------------------

 COLUMNS

-------------------------------------------- */

.col-100,
.col-1of1,
.col-2of2,
.col-3of3,
.col-4of4,
.col-5of5 {
  $size: 100%;

  flex: 1;
  width: $size;
  min-width: $size;
  max-width: $size;
}

.col-80,
.col-4of5 {
  $size: 78.5%;

  flex: 1;
  width: $size;
  min-width: $size;
  max-width: $size;
}

.col-75,
.col-3of4 {
  $size: 73.5%;

  flex: 1;
  width: $size;
  min-width: $size;
  max-width: $size;
}

.col-66,
.col-2of3 {
  $size: 65.5%;

  flex: 1;
  width: $size;
  min-width: $size;
  max-width: $size;
}

.col-60,
.col-3of5 {
  $size: 59.5%;

  flex: 1;
  width: $size;
  min-width: $size;
  max-width: $size;
}

.col-50,
.col-1of2,
.col-2of4 {
  $size: 47.5%;

  flex: 1;
  width: $size;
  min-width: $size;
  max-width: $size;
}

.col-40,
.col-2of5 {
  $size: 38%;

  flex: 1;
  width: $size;
  min-width: $size;
  max-width: $size;
}

.col-33,
.col-1of3 {
  $size: 31%;

  flex: 1;
  width: $size;
  min-width: $size;
  max-width: $size;
}

.col-25,
.col-1of4 {
  $size: 23%;

  flex: 1;
  width: $size;
  min-width: $size;
  max-width: $size;
}

.col-20,
.col-1of5 {
  $size: 18%;

  flex: 1;
  width: $size;
  min-width: $size;
  max-width: $size;
}

.col-0 {
  flex: 1;
  width: 0;
  min-width: 0;
  max-width: 0;
}

/* --------------------------------------------

 WRAPS

-------------------------------------------- */
.wrap-1,
.wrap-2,
.wrap-3,
.wrap-4,
.wrap-5 {
  @extend .flex-wrapper;
}

.wrap-1 > *,
.wrap-2 > *,
.wrap-3 > *,
.wrap-4 > *,
.wrap-5 > * {
  flex: 0 0 auto;
}

.wrap-1 > * {
  width: 100%;
}

.wrap-2 > * {
  width: 50%;
}

.wrap-3 > * {
  width: 33.333333%;
}

.wrap-4 > * {
  width: 25%;
}

.wrap-5 > * {
  width: 12.5%;
}
