// Font-weight
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 600;
$weight-extra-bold: 800;

// Font-size
$size-medium: rem(14px);
$size-regular: rem(16px);
$size-extra-regular: rem(18px);
$size-big: rem(22px);
$size-bigger: rem(24px);
$size-large: rem(32px);
