.field-sep {
  @extend .is-absolute;

  border-top: 1px solid $grey-medium;
  height: 16px;
  left: 0;
  right: 0;
  position: absolute;
}

.field-group {
  display: table;
  margin-bottom: 1rem;
  width: 100%;
}

.field-control {
  @extend .pb8;
  @extend .pt8;
}

.form {
  @extend .box;
  @extend .p36;
  @extend .is-relative;

  &.flex-columns {
    .field-group {
      margin-bottom: 0;

      .field-control {
        @extend .col-50;

        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
        padding-top: 0;

        @media (min-width: $tablet) {
          margin-left: inherit;
          margin-right: inherit;
          width: 100%;
        }
      }
    }
  }
}

.form-footer {
  height: $footer-height;
  min-height: $footer-height;
  max-height: $footer-height;

  button {
    @extend .no-border;
    @extend .no-outline;
    @extend .no-background;
  }
}

.field-label {
  @extend .mb12;
  @extend .pb6;
  @extend .pr12;
  @extend .fs18;

  color: $black;
  font-weight: 400;
  white-space: nowrap;

  &.empty {
    margin: 0;
    min-height: 0;
    padding: 0;
  }
}

.field-asterisk {
  color: $accent;
  margin-left: rem(2px);
}

.field-inner {
  background-color: $white;
}

.checkbox-field,
.checkboxes-field {
  .field-inner {
    color: $black;
    padding-left: 4px;
    border: none;
    border-radius: 0;
    font-weight: 500;
  }
}

.field-select {
  @extend .no-outline;
  @extend .no-background;
  @extend .pl24;
  @extend .fs16;

  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: 97.5% 50%;
  background-image: url('/icons/dropdown-disclosure-down.svg');
  border-radius: 16px;
  border: none;
  font-weight: 500;
  height: 36px;
  min-width: 250px;
  min-height: 36px;
  width: 250px;
}

.field-textarea,
.field-texteditor {
  resize: none;
  width: 100%;

  textarea {
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
  }
}

.field-checkbox,
.field-checkboxes,
.field-input,
.field-textarea,
.field-texteditor,
.field-select {
  color: $black;
}

.field-input,
.field-textarea,
.field-texteditor {
  @extend .py6;
  @extend .px18;
  @extend .fs16;
  @extend .flex-1;
  @extend .is-medium;
  @extend .no-outline;

  border-radius: $control-radius;
  border: $control-border-width solid $grey-medium;

  &::-webkit-input-placeholder {
    color: $grey-dark;
  }

  &::-moz-placeholder {
    color: $grey-dark;
  }

  &:-moz-placeholder {
    color: $grey-dark;
  }

  &:focus {
    border-color: $primary;
  }

  &::placeholder {
    color: $grey-dark;
  }
}

.field-date {
  height: 32px;
  padding: 6px;

  input.date {
    @extend .fs12;

    border: 0;
    cursor: pointer;
    font-weight: 500;
    min-width: 60px;
    width: 100%;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  img {
    height: 15px;
    width: 15px;
  }
}

.field-time,
.field-number {
  text-align: center;
}

.textarea-field,
.texteditor-field {
  .field-label {
    padding-top: 8px;
    vertical-align: middle;
  }

  .field-inner {
    width: 100%;
  }
}

.texteditor-field {
  .controls-bar {
    margin-bottom: 0.5rem;
    overflow-y: hidden;

    button {
      border: 2px solid $grey-medium;
      border-radius: 0;
      margin-right: 0;

      &:first-child {
        border-right: 0;
        border-radius: rem(5px) 0 0 rem(5px);
      }

      &:last-child {
        border-left: 0;
        border-radius: 0 rem(5px) rem(5px) 0;
      }

      .icon {
        height: 30px;
        width: 30px;
      }

      &.clicked {
        background-color: $grey-medium;
      }
    }
  }

  .field-texteditor {
    .texteditor {
      &:focus {
        outline: 0;
      }
    }
  }

  &.is-read-only {
    .field-texteditor {
      .texteditor {
        img[class*='draftJsEmojiPlugin__image'] {
          border-radius: 0;
          box-shadow: none;
        }
      }
    }
  }
}

.label-aligned-with-control {
  display: table-row;

  .field-label,
  .field-value {
    display: table-cell;
  }
}

.field {
  &.is-read-only {
    .field-inner {
      border: none;
      background-color: transparent;
      padding-left: 4px;
      resize: none;

      .field-checkbox,
      .field-checkboxes {
        input[type="checkbox"] {
          opacity: 1;
        }
      }

      .field-checkbox,
      .field-checkboxes,
      .field-input,
      .field-textarea,
      .field-texteditor,
      .field-select {
        background-color: transparent;
        border: 0;
        font-weight: 500;
        opacity: 1;

        &:focus {
          outline: none;
        }
      }

      .field-select {
        background-image: none;
        cursor: default;
        opacity: 1;
      }
    }
  }

  &.is-label-aligned {
    display: table-row;

    .field-label,
    .control {
      display: table-cell;
    }

    .field-label {
      @extend .pb32;
    }

    .field-control {
      display: table-cell;
      padding-bottom: 0;
      padding-top: 0;
      width: 100%;

      .field-value {
        .field-inner {
          .field-input {
            border-radius: 20px;
            height: 36px;
            width: inherit;
          }
        }
      }
    }
  }
}

.form .label-aligned-with-control {
  .field {
    @extend .label-aligned-with-control;
  }
}

.field .label-aligned-with-control {
  @extend .label-aligned-with-control;
}

.field-errors {
  color: $primary;
  display: flex;
  font-size: rem(14px);
  font-weight: $weight-medium;
  min-height: 24px;

  .field-error-icon {
    flex-shrink: 0;
    margin-right: rem(12px);
    margin-top: rem(2px);
    width: rem(16px);
  }

  &.field-error-message {
  }
}
