[class^='pc-final-form-'] {
  // reset des styles de tous les éléments
  // dont la classe commence par `pc-final-form-`
  border: 0;
  border-radius: 0;
  background: tansparent;
}

/* ------------------------------------

 Errors

------------------------------------ */

.pc-final-form-errors .pc-error-message + .pc-error-message {
  // si on a plusieurs erreurs pour un seul champ
  @extend .pt5;
}

/* ------------------------------------

 Footer

------------------------------------ */

.pc-final-form-footer {
  height: $footer-height;
  min-height: $footer-height;
  max-height: $footer-height;
}

.pc-final-form-footer button {
  @extend .no-border;
  @extend .no-outline;
  @extend .no-background;
}

/* ------------------------------------

 Elements

------------------------------------ */

.pc-final-form-text,
.pc-final-form-password,
.pc-final-form-selectbox,
.pc-final-form-datepicker,
.pc-final-form-contact,
.pc-final-form-cguCheckBox {
  // rangés par ordre d'architecture HTML
  .pc-final-form-label {
    @extend .pb7;
    @extend .fs16;

    .sublabel {
      @extend .fs12;
    }
  }

  .pc-final-form-help {
    @extend .pb7;
    @extend .fs13;
    @extend .is-block;
  }

  .pc-final-form-asterisk {
    @extend .ml3;

    color: $primary;
  }

  .pc-final-form-inner {
    @extend .is-clipped;
    @extend .flex-columns;

    width: 100%;
    background-color: $white;
    border-radius: rem(20px);
    border: 2px solid $grey-light;
  }

  .pc-final-form-input {
    @extend .py7;
    @extend .px18;
    @extend .fs16;
    @extend .flex-1;
    @extend .is-block;
    @extend .no-border;
    @extend .is-medium;
    @extend .no-outline;

    color: $black !important;
    font-family: $family-sans-serif;
  }
}

.pc-final-form-password {
  .pc-final-form-inner {
    justify-content: space-between;
  }

  .pc-final-form-input {
    flex: unset;
    width: 80%;
  }
}

/* ------------------------------------------------

 SELECTBOX

------------------------------------------------ */
.pc-final-form-selectbox {
  .pc-final-form-inner {
    @extend .is-relative;
  }

  .pc-final-form-inner::after {
    @extend .is-absolute;
    @extend .icon-retina;
    @extend .inherits-from-fontello-icon;

    content: '\62';
    top: 0;
    right: 6px;
    color: $primary;
  }

  .pc-final-form-input {
    @extend .no-appearance;

    margin-left: rem(18px);
    padding-left: 0 !important;
  }
}

/* ------------------------------------------------

 PASSWORD

------------------------------------------------ */

.pc-final-form-password {
  .pc-final-form-input {
    border-radius: 0;
  }
}

/* ------------------------------------------------

 CHECKBOX

------------------------------------------------ */

.field-checkbox {
  justify-content: space-between;
  display: flex;

  input[type="checkbox"] {
    background-image: url(/icons/checkbox.svg);
    border: none;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 45px;
    height: 20px;
    padding: 0;
    border-radius: 0;

    &:active,
    &:checked {
      &::after {
        content: '';
        background: url(/icons/checkbox-check.svg) no-repeat 5px center;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* ------------------------------------------------

 INPUT CALENDRIER
 div encadrant le champs input
 permettant d'afficher l'icone lorsqu'une date n'est pas selectionnee

------------------------------------------------ */

.react-datepicker__input-container_wrapper {
  @extend .flex-columns;

  &::after {
    @extend .inherits-from-fontello-icon;
    $size: rem(30px);

    color: $primary;
    font-size: rem(30px);
    position: absolute;
    right: 6px;
    top: 3px;
  }

  .calendar-icon {
    padding: 0.25rem;
    padding-right: 1rem;
    vertical-align: middle;
  }

  input {
    padding-left: 1.125rem;
    padding-top: 0.25rem;
    text-align: center;

    &::-webkit-input-placeholder {
      color: inherit;
      font-size: 19px;
      font-weight: 300;
    }

    &::-moz-placeholder {
      color: inherit;
      font-size: 19px;
      font-weight: 300;
    }

    &:-ms-input-placeholder {
      color: inherit;
      font-size: 19px;
      font-weight: 300;
    }

    &:-moz-placeholder {
      color: inherit;
      font-size: 19px;
      font-weight: 300;
    }

    &.read-only {
      .pc-final-form-datepicker-input {
        background-color: #F5F5F5;
      }
    }

    &.selected {
      &::after {
        display: none;
        visibility: hidden;
      }

      input {
        text-align: right;
      }
    }
  }
}
