input.input,
.select select,
textarea.textarea {
  font-weight: 500;

  &[readonly]:not([type='checkbox']) {
    border: none;
    background-color: transparent;
    padding-left: 0.125rem;
    resize: none;
  }
}

.field-group
.field.is-horizontal
.field-body
.field:not(.is-expanded)
input[type='checkbox'] {
  width: 1.1875em;
  margin-top: 0.5rem;
}

.field-group {
  display: table;
  width: 100%;
  margin-bottom: 1rem;
}

.field {
  &.field-siren {
    input {
      width: 8rem;
    }

    .display-name {
      color: $text;
      display: inline-block;
      font-weight: $weight-semibold;
      padding-left: 0.25rem;
      padding-top: 0.5rem;
      text-transform: uppercase;
    }
  }

  &:last-child {
    .button {
      border-left: none;
    }
  }

  &.field-password {
    .button {
      border-color: $input-focus-border-color;
    }
  }

  &:focus-within .button {
    border-color: $input-focus-border-color;
  }

  &.has-addons {
    .control {
      .button {
        border-width: $control-border-width;
        height: 100%;

        &:focus {
          &:not(:active) {
            box-shadow: none;
          }
        }
      }

      &:not(:last-child) {
        .input {
          border-right: none;
        }
      }
    }
  }

  &.is-horizontal {
    &.field-checkbox,
    &.field-email,
    &.field-select,
    &.field-siren,
    &.field-siret,
    &.field-text {
      height: 3.375em;

      &.readonly {
        height: 2.375em;
      }
    }

    &.field-textarea {
      textarea {
        margin-bottom: 1.125rem;
      }
    }

    display: table-row;
    margin-bottom: 1.125rem;

    .field-label,
    .field-body {
      display: table-cell;
    }

    .field-label {
      padding-top: 0.5rem;
      padding-right: 1rem;
      white-space: nowrap;
      vertical-align: top;

      .label {
        margin-bottom: 0;
      }

      &.readonly {
        padding-right: 0;
      }
    }

    .field-body {
      width: 100%;

      .select.readonly {
        &::after {
          display: none !important;
        }

        select[disabled] {
          border: none;
          background-color: transparent;
          cursor: default;
          color: $input-color;
          padding-left: 0.125rem;
          opacity: 1;
        }
      }

      textarea.textarea {
        border-radius: $control-radius;
      }

      .control:not(.is-expanded):not(.control-checkbox) {
        input,
        .select {
          width: auto;
        }
      }

      .control-checkbox {
        margin-top: 0.5rem;
      }
    }
  }

  .help {
    .column {
      line-height: initial;

      &:first-child {
        flex: none;
        width: 6%;
      }

      &:not(:last-child) {
        padding-right: 0.25rem;
      }
    }
  }

  .required:not(.readOnly) {
    &::after {
      content: ' *';
      color: $violet;
      display: inline;
    }
  }
}

.required-legend {
  color: $violet;
}

@media (min-width: $tablet) {
  .field-label {
    text-align: left;
  }

  .field-body {
    flex-grow: 4;
  }
}

ul.help {
  img {
    vertical-align: text-bottom;
  }
}
