* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  color: $black;
  height: 100%;
  min-height: 100%;
  overscroll-behavior: contain;
}

html {
  background-color: $black;
}

body {
  font-size: $font-size;
  line-height: normal;
  margin: 0 auto;
  max-width: 500px;
  max-height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba($white, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: rgba($white, 0);
  -webkit-touch-callout: none;
}

a,
button {
  cursor: pointer;
}

a:not(.is-underline),
a:link:not(.is-underline),
a:hover:not(.is-underline),
a:active:not(.is-underline),
a:visited:not(.is-underline) {
  text-decoration: none;
}

button {
  user-select: none;
}

/* --------------------------------
 Font
-------------------------------- */

body,
button,
textarea {
  color: inherit;
  font-family: $family-sans-serif;
  font-size: inherit;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
}

/* --------------------------------
 Séparation horizontale et verticale
 Avec une bordure en pointillée
-------------------------------- */

hr[class^='dotted-top-'],
hr[class^='dotted-left-'],
hr[class^='dotted-right-'],
hr[class^='dotted-bottom-'] {
  @extend .is-block;
  @extend .no-margin;
  @extend .no-padding;
  @extend .no-background;
  @extend .no-border;
}

hr[class^='dotted-top-'],
hr[class^='dotted-bottom-'] {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
}

hr[class^='dotted-left-'],
hr[class^='dotted-right-'] {
  width: 1px;
  min-width: 1px;
  max-width: 1px;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

hr[class^='dotted-top-2x-'],
hr[class^='dotted-bottom-2x-'] {
  height: 2px;
  min-height: 2px;
  max-height: 2px;
}

hr[class^='dotted-left-2x-'],
hr[class^='dotted-right-2x-'] {
  width: 2px;
  min-width: 2px;
  max-width: 2px;
}

.app .beta-corner {
  left: 0;
  bottom: 0;
  top: inherit;
  right: inherit;
  width: $footer-height;
  height: $footer-height;
  z-index: $zindex-beta-corner;
}

/* -------------------------------------------------

 LAYOUTS

------------------------------------------------- */

.pc-page-view,
.pc-page-view-main {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  box-shadow: 0 0 23px -1px rgba(0, 0, 0, 0.1);
}

.pc-label {
  color: $grey;
  font-size: 0.8rem;
}

.pc-gradient {
  background-image: linear-gradient(to bottom right, $primary, $purple-blue);
}

/* -------------------------------------------------

 LAYOUTS

------------------------------------------------- */

.pc-main {
  @extend .flex-1;
}

.pc-header {
  @extend .padded;
  @extend .text-center;
  @extend .fs19;
}

.pc-footer {
  @extend .p12;
  @extend .items-center;
  @extend .flex-columns;

  height: $footer-height;
  min-height: $footer-height;

  .icon-legacy-user-circle-outline {
    font-size: 2.7rem;
  }

  button {
    width: auto;
    display: block;
    text-align: center;
  }

  button + button {
    border-right: 0;
    border-left: 2px dotted #FFFFFF;

    &:disabled {
      border: 0;
    }
  }
}

.pc-text-button {
  @extend .no-border;
  @extend .no-select;
  @extend .no-outline;
  @extend .no-background;
}

#root,
.app {
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  max-height: 100%;
}

#android-statusbar-overlay {
  display: none;
  width: 100%;
  height: 24px;
  opacity: 0.5;
  background-color: $black;
  position: fixed;
  top: 0;
  z-index: 100000;
}

#error-catcher,
#application-loader {
  @extend .flex-center;
  @extend .flex-rows;
  @extend .text-center;
  @extend .is-italic;
  @extend .is-overlay;
  @extend .pc-gradient;
  @extend .is-white-text;

  background-color: $primary; // fallback to pc-gradient
  z-index: $zindex-application-loader;
  opacity: 1;

  img {
    margin-bottom: $page-padding;
  }
}
