* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  height: 100%;
  min-height: 100%;
  overscroll-behavior: contain;
}

html {
  background-color: $black;
}

body {
  background-color: $white;
  color: $black;
  font-family: $family-sans-serif;
  font-size: rem(16px);
  line-height: normal;
  margin: 0 auto;
  max-width: 500px;
  max-height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba($white, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: rgba($white, 0);
  -webkit-touch-callout: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: 0;
  color: $white;
  cursor: pointer;
  user-select: none;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

button,
input,
select,
textarea {
  font-family: $family-sans-serif;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

/* --------------------------------
 Séparation horizontale et verticale
 Avec une bordure en pointillée
-------------------------------- */

hr[class^='dotted-top-'],
hr[class^='dotted-left-'],
hr[class^='dotted-right-'],
hr[class^='dotted-bottom-'] {
  @extend .is-block;
  @extend .no-margin;
  @extend .no-padding;
  @extend .no-background;
  @extend .no-border;
}

hr[class^='dotted-top-'],
hr[class^='dotted-bottom-'] {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
}

hr[class^='dotted-left-'],
hr[class^='dotted-right-'] {
  width: 1px;
  min-width: 1px;
  max-width: 1px;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

hr[class^='dotted-top-2x-'],
hr[class^='dotted-bottom-2x-'] {
  height: 2px;
  min-height: 2px;
  max-height: 2px;
}

hr[class^='dotted-left-2x-'],
hr[class^='dotted-right-2x-'] {
  width: 2px;
  min-width: 2px;
  max-width: 2px;
}

/* -------------------------------------------------

 LAYOUTS

------------------------------------------------- */

img {
  vertical-align: middle;
}

.pc-page-view,
.pc-page-view-main {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.pc-gradient {
  background-image: linear-gradient(to bottom right, $primary, $purple-blue);
}

/* -------------------------------------------------

 LAYOUTS

------------------------------------------------- */

.pc-main {
  @extend .flex-1;
}

.pc-header {
  @extend .padded;
  @extend .text-center;
  @extend .fs19;
}

.pc-footer {
  @extend .p12;
  @extend .items-center;
  @extend .flex-columns;

  height: $footer-height;
  min-height: $footer-height;

  button {
    width: auto;
    display: block;
    text-align: center;
  }

  button + button {
    border-right: 0;
    border-left: 2px dotted #FFFFFF;
  }
}

.pc-text-button {
  @extend .no-border;
  @extend .no-select;
  @extend .no-outline;
  @extend .no-background;
}

#root {
  background: $grey-transition;
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  max-height: 100%;
  position: relative;
}

#error-catcher {
  @extend .flex-center;
  @extend .flex-rows;
  @extend .text-center;
  @extend .is-italic;
  @extend .is-overlay;
  @extend .pc-gradient;
  @extend .is-white-text;

  background-color: $primary;
  z-index: $zindex-application-loader;
  opacity: 1;
}
