// doivent etre remplaces par une regle simple s'appliquant a toutes les pages
// Ex: .page main {} || .page footer {}
.is-block {
  display: block;
}

.is-absolute {
  position: absolute;
}

.is-relative {
  position: relative;
}

.is-clipped {
  overflow: hidden !important;
}

.is-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.is-full-width {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.is-full-height {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.is-full-layout {
  @extend .is-full-width;
  @extend .is-full-height;
}

.is-hyphens {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: auto;
}

.is-primary-border {
  border: 2px solid $primary;
}

.is-raw-description {
  @extend .fs16;

  padding: 0;
  line-height: inherit;
  font-family: inherit;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: transparent;
}

.no-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.no-box-shadow {
  box-shadow: none !important;
  box-shadow: 0 !important;
}

.no-list-style {
  list-style: none;
}
