* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  overflow-y: auto;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-size: rem(16px);
  line-height: 1.1875em;
}

hr {
  @include dotted($primary);
}

.main-list {
  margin-bottom: 1rem;

  > li {
    display: flex;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include dotted($primary, bottom);

    > * {
      padding: 0 0.5rem;
      align-items: center;
      display: flex;

      &.field {
        margin: 0;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    .list-content {
      flex-grow: 1;
      display: block;
    }

    .caret,
    .picto {
      img {
        height: 1.5rem;
        vertical-align: middle;
      }
    }

    .name {
      font-weight: 700;
      font-size: rem(20px);
      margin-bottom: 0.5rem;
    }

    ul.actions,
    ul.infos {
      list-style: none;
      font-size: rem(16px);
      margin: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;

      img {
        height: 1rem;
        vertical-align: middle;
        margin-right: 0.2rem;
      }
    }
  }
}
