* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  overflow-y: auto;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-size: $font-size;
}

hr {
  @include dotted($primary);
}

.pc-form-section {
  font-size: $size-4;
  text-transform: uppercase;
  font-weight: $weight-bold;
  margin-bottom: 1rem;
}

ul.main-list {
  margin-bottom: 1rem;

  > li {
    display: flex;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include dotted($primary, bottom);

    > * {
      padding: 0 0.5rem;
      align-items: center;
      display: flex;

      &.field {
        margin: 0;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    .list-content {
      flex-grow: 1;
      display: block;
    }

    .caret,
    .picto {
      img {
        height: 1.5rem;
        vertical-align: middle;
      }
    }

    .name {
      font-weight: $weight-bold;
      font-size: $size-medium;
      margin-bottom: 0.5rem;
    }

    ul.actions,
    ul.infos {
      list-style: none;
      font-size: $size-normal;
      margin: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;

      img {
        height: 1rem;
        vertical-align: middle;
        margin-right: 0.2rem;
      }
    }
  }
}

.input-icon {
  height: rem(15px);
  width: rem(15px);
  position: absolute;
  right: rem(10px);
  top: 0;
  bottom: 0;
  margin: auto;
}

// Bulma overrides

.field {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
