.navbar {
  &.is-primary {
    background-image: $linear-gradient-to-bottom-right;

    .navbar-brand {
      & > .navbar-item:focus,
      & > .navbar-item:hover {
        background: transparent !important;
      }
    }
  }

  .icon {
    margin-right: 0.5rem;
  }
}
