.page {
  &.red-bg {
    background-color: $primary;
    color: $white;
  }

  .section {
    margin-bottom: 2rem;
    padding-bottom: 0;
    padding-top: 0;

    .main-list-title {
      border-bottom: thin solid $grey-darker;
      display: block;
      font-weight: $weight-medium;
      margin: 0.75rem 0;
      overflow-y: hidden;
      padding-bottom: 0.5rem;
      font-size: rem(18px);

      span {
        margin-top: 3.5px;
      }
    }
  }

  .small-text {
    font-size: 13px;
    color: $grey-darkest;
  }

  .align-left {
    text-align: left;
  }

  &.fullscreen {
    height: 100vh;
    width: 100%;

    .container {
      min-height: 100%;
      display: flex;
      .columns {
        min-height: 100%;
      }
    }

    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: $footer-height;
      text-align: right;
      padding: $footer-height-padding $page-padding;
      padding-left: 3em; // Beta footer
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      a,
      button {
        font-size: $size-medium;
      }
    }
  }

  &.container {
    position: relative;
    .page-content {
      // min-height: 100vh;
      position: relative;
      top: $header-height - $header-display-height;
      margin: 0 5rem;
      z-index: 10;
      background: white;
      box-shadow: 0 0 3.75rem rgba(0, 0, 0, 0.2);

      .after-notification-content {
        padding: 4.125rem 5.3rem;
        position: relative;

        &.with-padding {
          padding-top: 4.625rem;
        }

        .back-button {
          position: absolute;
          top: 1rem;

          img {
            position: absolute;
            left: -2rem;
          }
        }
      }
    }

    &.white-header {
      .page-content {
        box-shadow: none;
        .after-notification-content {
          padding: 0;
        }
      }
    }
  }
}

.advice {
  font-size: rem(20px);
  margin-bottom: rem(32px);

  a {
    border-bottom: 1px solid;

    &:hover {
      color: $primary;
    }
  }
}
