.container {
  margin: 0 auto;
  position: relative;
}

.columns,
.field.is-grouped {
  display: flex;
}

.page {
  &.red-bg {
    background-color: $primary;
    color: $white;
  }

  .section {
    margin-bottom: 2rem;
    padding-bottom: 0;
    padding-top: 0;

    .main-list-title {
      @include title4();

      border-bottom: thin solid $grey-medium;
      margin: 0.75rem 0;
      padding-bottom: 0.5rem;

      span {
        margin-top: 3.5px;
      }
    }
  }

  footer {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    height: 3.5rem;
    left: 0;
    padding: 1rem 4rem;
    padding-left: 3em;
    position: absolute;
    right: 0;
    text-align: right;

    a,
    button {
      font-size: rem(20px);
    }
  }

  .advice {
    font-size: rem(20px);
    margin-bottom: rem(32px);

    a {
      border-bottom: 1px solid;

      &:focus,
      &:hover {
        color: $primary;
      }
    }
  }

  &.fullscreen {
    height: 100vh;
    width: 100%;

    .container {
      display: flex;
      max-width: 1000px;
      min-height: 100%;
      width: 1000px;

      .columns {
        min-height: 100%;
      }
    }
  }

  &.container {
    max-width: 1000px;
    position: relative;
    width: 1000px;

    .page-content {
      background: $white;
      box-shadow: 0 0 3.75rem $black-shadow;
      margin: 0 5rem;
      min-width: rem(850px);
      position: relative;
      top: 3.375rem - 9.375rem;

      .after-notification-content {
        padding: rem(24px);
        position: relative;

        &.with-padding {
          padding-top: 4.625rem;
        }

        .back-button {
          font-weight: 600;
          padding-left: rem(30px);
          position: absolute;
          top: rem(24px);

          img {
            left: rem(0);
            position: absolute;
          }
        }
      }
    }

    &.white-header {
      .page-content {
        box-shadow: none;

        .after-notification-content {
          padding: 0;
        }
      }
    }
  }
}
