.Toastify__toast-container.Toastify__toast-container--top-right.react-toastify-container {
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100% !important;

  button, div {
    color: $white;
  }
}

.Toastify__toast.react-toastify-toast {
  padding: 0 rem(20px) !important;
}

.Toastify__toast--success {
  background-color: $green-valid;
}

.Toastify__toast--error {
  background-color: $primary-error;
}
