.pc-theme-purple {
  @extend .is-white-text;

  background-color: $purple-blue;

  [class*='border-'] {
    border-color: $white;
  }
}

.pc-theme-transparent {
  @extend .is-white-text;

  background-color: transparent;

  a {
    color: $white;
  }

  [class*='border-'] {
    border-color: $white;
  }
}

.pc-theme-default {
  @extend .is-black-text;

  background-color: $white;

  [class*='border-'] {
    border-color: $black;
  }
}

.pc-theme-black {
  @extend .is-white-text;

  background-color: $black;

  [class*='border-'] {
    border-color: $white;
  }
}

.pc-theme-white {
  color: $primary;
  background-color: $white;

  [class*='border-'] {
    border-color: $primary;
  }
}

.pc-theme-red,
.pc-theme-primary {
  @extend .is-white-text;

  background-color: $primary;

  [class*='border-'] {
    border-color: $white;
  }
}

.pc-theme-gradient {
  @extend .pc-gradient;
  @extend .is-white-text;

  [class*='border-'] {
    border-color: $white;
  }
}

.pc-gradient {
  .pc-final-form-errors {
    color: $white;
  }

  .pc-final-form-asterisk {
    color: $white;
  }
}
