.is-invisible {
  // legacy to BulmaCSS
  visibility: hidden !important;
}

.is-hidden {
  @extend .no-margin;
  @extend .no-padding;
  @extend .is-invisible;

  font-size: 0 !important;
  display: none !important;
  width: 0 !important;
  max-width: 0 !important;
  height: 0 !important;
  max-height: 0 !important;
  line-height: 0 !important;
}
