// ::-webkit-scrollbar {
//   -webkit-appearance: none;
//   width: 7px;
// }
//
// ::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: rgba(0, 0, 0, 0.5);
//   -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 500px;
  min-height: 100%;
  max-height: 100%;
  font-size: $font-size;
  -webkit-tap-highlight-color: rgba($white, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: rgba($white, 0);
  -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -o-user-select: none;
  // user-select: none;

  // https://stackoverflow.com/questions/29008194/disabling-androids-chrome-pull-down-to-refresh-feature
  overscroll-behavior: contain;
}

a,
button {
  cursor: pointer;
}

a:not(.is-underline),
a:link:not(.is-underline),
a:hover:not(.is-underline),
a:active:not(.is-underline),
a:visited:not(.is-underline) {
  text-decoration: none;
}

button {
  user-select: none;
}

/* --------------------------------

 Séparation horizontale et verticale
 Avec une bordure en pointillée

-------------------------------- */

hr[class^='dotted-top-'],
hr[class^='dotted-left-'],
hr[class^='dotted-right-'],
hr[class^='dotted-bottom-'] {
  @extend .is-block;
  @extend .no-margin;
  @extend .no-padding;
  @extend .no-background;
}

hr[class^='dotted-top-'],
hr[class^='dotted-bottom-'] {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
}

hr[class^='dotted-left-'],
hr[class^='dotted-right-'] {
  width: 1px;
  min-width: 1px;
  max-width: 1px;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

hr[class^='dotted-top-2x-'],
hr[class^='dotted-bottom-2x-'] {
  height: 2px;
  min-height: 2px;
  max-height: 2px;
}

hr[class^='dotted-left-2x-'],
hr[class^='dotted-right-2x-'] {
  width: 2px;
  min-width: 2px;
  max-width: 2px;
}
