/* <!------ UPDATE UI AVEC ION ------ */
.pc-form-matthieu input[type='text'],
.pc-form-matthieu input[type='email'],
.pc-form-matthieu input[type='password'] {
  border: 2px solid $grey-light;
}

.pc-form-matthieu .field.field-password .button {
  border-color: $grey-light;
}

.pc-border-dotted {
  background-size: 5px 2px !important;
  background-image: linear-gradient(
    270deg,
    #FFFFFF 35%,
    hsla(0, 0%, 100%, 0) 0
  ) !important;
}

// input[type='text'],
.pc-form-password .inner,
.pc-form-label:not(.pc-form-password) input[type='text'],
.pc-form-label:not(.pc-form-password) input[type='password'] {
  @extend .mt7;
  @extend .py7;
  @extend .px18;
  @extend .fs16;

  width: 100%;
  border-radius: rem(20px);
  border: 2px solid $grey-light;
}

.pc-form button[type='reset'],
.pc-form button[type='submit'] {
  transition: opacity 500ms;
}

.pc-form-controls {
  // alias pour etre plus lisible
  // quand on cherche dans la feuille de style forms.scss
  // NOTE: voir le fichier global/layout.scss
  @extend .pc-footer;
}

.pc-form-label {
  @extend .fs16;
  @extend .is-black-text;

  small {
    @extend .fs13;
  }
}

.pc-form-password .inner {
  background-color: $white;
}
