label {
  &.required {
    *.can-be-required:after {
      content: ' *';
      color: $violet;
      display: inline;
    }
  }
}

.required-legend {
  color: $violet;
}

input.input[readonly] {
  border: none;
  background-color: transparent;
}

@media (min-width: $tablet) {
  .field-label {
    text-align: left;
  }

  .field-body {
    flex-grow: 4;
  }
}
