[class^='pc-final-form-'] {
  // reset des styles de tous les éléments
  // dont la classe commence par `pc-final-form-`
  border: 0;
  border-radius: 0;
  background: tansparent;
}

/* ------------------------------------

 Errors

------------------------------------ */

.pc-final-form-errors .pc-error-message + .pc-error-message {
  // si on a plusieurs erreurs pour un seul champ
  @extend .pt5;
}

/* ------------------------------------

 Footer

------------------------------------ */

.pc-final-form-footer {
  height: $footer-height;
  min-height: $footer-height;
  max-height: $footer-height;
}

.pc-final-form-footer button {
  @extend .no-border;
  @extend .no-outline;
  @extend .no-background;
}

/* ------------------------------------

 Elements

------------------------------------ */

.pc-final-form-text,
.pc-final-form-password,
.pc-final-form-datepicker {
  // par ordre d'architecture HTML
  .pc-final-form-label {
    @extend .pb7;
    @extend .fs16;
    @extend .is-block;
  }

  .pc-final-form-asterisk {
    @extend .ml3;

    color: $primary;
  }

  .pc-final-form-inner {
    @extend .flex-columns;

    width: 100%;
    overflow: hidden;
    background-color: $white;
    border-radius: rem(20px);
    border: 2px solid $grey-light;
  }

  .pc-final-form-input {
    @extend .py7;
    @extend .px18;
    @extend .fs16;
    @extend .flex-1;
    @extend .is-block;
    @extend .no-border;
    @extend .is-medium;
    @extend .no-outline;

    color: $black !important;
  }
}

/* ------------------------------------

 Elements/Datepicker

------------------------------------ */

/* ------------------------------------

 Elements/Password

------------------------------------ */

.pc-final-form-password .pc-final-form-input {
  border-radius: 0;
}

/* ------------------------------------

 Elements/Select

------------------------------------ */
