label {
  &.required {
    *.can-be-required:after {
      content: ' *';
      color: $violet;
      display: inline;
    }
  }
}

.required-legend {
  color: $violet;
}

input.input, .select select, textarea.textarea {

  &[readonly] {
    border: none;
    background-color: transparent;
    resize: none;
  }
}

.select.readonly {
  &:after {
    display: none !important;
  }
  select[disabled] {
    opacity: 1;
    border: none;
    background-color: transparent;
    cursor: default;
    color: $input-color;
  }
}

@media (min-width: $tablet) {
  .field-label {
    text-align: left;
  }

  .field-body {
    flex-grow: 4;
  }
}

ul.help {
  img {
    vertical-align: text-bottom;
  }
}
