// doivent etre remplaces par une regle simple s'appliquant a toutes les pages
// Ex: .page main {} || .page footer {}

/* -------------------------------------------------

 DISPLAYS

------------------------------------------------- */

.is-block {
  display: block;
}

.is-absolute {
  position: absolute;
}

.is-relative {
  position: relative;
}

.is-clipped {
  overflow: hidden !important;
}

.is-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.is-full-width {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

/* -------------------------------------------------

 NEGATES

------------------------------------------------- */
.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: 0;
}

.no-background {
  background-color: transparent;
}

.no-outline {
  outline: none;
}

.no-pointer {
  cursor: default;
}

.no-select {
  user-select: none;
}

/* -------------------------------------------------

 PADDINGS/MARGINS

------------------------------------------------- */

// default padding to 1rem
// appliquer aux pages, aux sections de pages
.marged {
  margin: $page-padding !important;
}

.padded {
  padding: $page-padding !important;
}

/* -------------------------------------------------

 FONT SIZE

------------------------------------------------- */

.fs32 {
  @include fontSize(32px);
}

.fs22 {
  @include fontSize(22px);
}

.fs19 {
  @include fontSize(19px);
}

.fs18 {
  @include fontSize(18px);
}

.fs16 {
  @include fontSize(16px);
}

.fs14 {
  @include fontSize(14px);
}

.fs13 {
  @include fontSize(13px);
}

/* -------------------------------------------------

 FONT ALIGN

------------------------------------------------- */

.text-center,
.has-text-centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.is-grey-text {
  color: $grey;
}

.is-white-text {
  color: $white;
}

.is-black-text {
  color: $black;
}

.is-red-text,
.is-primary-text {
  color: $primary;
}

/* -------------------------------------------------

 FONT WEIGHT

------------------------------------------------- */

.is-light {
  font-weight: 200;
}

.is-normal {
  font-weight: 400;
}

.is-semi-bold {
  font-weight: 600;
}

.is-bold {
  font-weight: 800;
}

.is-italic {
  font-style: italic;
}

.is-uppercase {
  text-transform: uppercase;
}

.is-lowercase {
  text-transform: lowercase;
}

.is-capitalized {
  // capitalize each words first letter
  text-transform: capitalize;
}

/* -------------------------------------------------

 BORDERS

------------------------------------------------- */

.is-primary-border {
  border: 2px solid $primary;
}

/* -------------------------------------------------

 LAYOUTS

------------------------------------------------- */

.pc-label {
  color: $grey;
  font-size: 0.8rem;
}

.pc-theme-white,
.pc-white-element {
  color: $primary;
  background-color: $white;
}

.pc-theme-red,
.pc-theme-primary,
.pc-primary-element {
  color: $white;
  background-color: $primary;
}

.pc-gradient {
  background-image: linear-gradient(to bottom right, $primary, $purple);
}

.pc-main {
  @extend .flex-1;
}

.pc-header {
  @extend .flex-0;
  @extend .padded;
  @extend .text-center;
  @extend .fs19;
}

.pc-footer {
  @extend .flex-0;
  @extend .padded;
  @extend .items-center;
  @extend .flex-columns;

  height: $footer-height;
  min-height: $footer-height;

  .icon-user-circle-outline {
    font-size: 2.7rem;
  }
}

.is-raw-description {
  @extend .fs16;

  padding: 0;
  line-height: inherit;
  font-family: inherit;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: transparent;
}
