// doivent etre remplaces par une regle simple s'appliquant a toutes les pages
// Ex: .page main {} || .page footer {}
.is-block {
  display: block;
}

.is-absolute {
  position: absolute;
}

.is-relative {
  position: relative;
}

.is-clipped {
  overflow: hidden !important;
}

.is-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.is-full-width {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

/* -------------------------------------------------

 BORDERS

------------------------------------------------- */

.is-primary-border {
  border: 2px solid $primary;
}

.is-raw-description {
  @extend .fs16;

  padding: 0;
  line-height: inherit;
  font-family: inherit;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: transparent;
}
