* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  max-height: 100%;
  font-size: $font-size;
  -webkit-tap-highlight-color: rgba($white, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: rgba($white, 0);
  -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -o-user-select: none;
  // user-select: none;

  // https://stackoverflow.com/questions/29008194/disabling-androids-chrome-pull-down-to-refresh-feature
  overscroll-behavior: contain;
}

a,
button {
  cursor: pointer;
}

button {
  user-select: none;
}

#root,
.app {
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  max-height: 100%;
}

#android-statusbar-overlay {
  display: none;
  width: 100%;
  height: 24px;
  opacity: 0.5;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 100000;
}

.app .beta-corner {
  bottom: 0;
  left: 0;
  height: $footer-height;
  width: $footer-height;
  z-index: $zindex-beta-corner;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  display: inherit;
  visibility: inherit;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}
