.page {
  width: 100%;
  height: 100%;
  position: absolute;

  .page-content {
    height: 100%;
  }

  &.red-bg {
    background-color: $primary;
    color: $white;

    header {
      @include dotted($white, bottom);
    }

    footer {
      @include dotted($white);
    }

    .errors {
      color: $white;
    }
  }


  &.loading {
    .load-wrapper {
      position: relative;
      &:before {
        content: 'Chargement ...';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: $white;
        z-index: 5;
        text-align: center;
        padding-top: $page-padding;
      }
    }
  }
  &.container {
    position: relative;
    .page-content {
      // min-height: 100vh;
      padding: $page-padding;
      position: relative;
      top: $header-height - $header-display-height;
      margin: 0 5rem;
      z-index: 10;
      background: white;
      box-shadow: 0 0 3.75rem rgba(0,0,0,0.2);

      .notification {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }

      .back-button {
        position: absolute;
        top: 1rem;
      }
    }
  }

  &.with-footer {

    .page-content {
      bottom: $footer-height;
    }

    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: $footer-height;
      text-align: right;
      padding: $footer-height-padding $page-padding;
      padding-left: 3em; // Beta footer
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      a, button {
        font-size: $size-medium;
      }
    }

  }
}
