.page {
  height: 100%;
  position: absolute;

  &.loading {
    &:before {
      content: 'Chargement ...';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: $white;
      z-index: 5;
      text-align: center;
      padding-top: 33%;
    }
  }

  &.container {
    position: relative;
    .page-content {
      min-height: 100vh;
      padding: $page-padding 1rem;
      position: relative;
      top: $header-height - $header-display-height;
      margin: 0 5rem;
      z-index: 10;
      background: white;
      box-shadow: 0 1rem 3rem $grey;
    }
  }
}
