.page {
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
  // padding: $page-padding;

  &.loading {
    &:before {
      content: 'Chargement ...';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: $white;
      z-index: 1;
      text-align: center;
      padding-top: 33%;
    }
  }

  &.red-bg {
    background-color: $primary;
    color: $white;

    footer {
      @include dotted($white);
    }
  }

  .page-content {
    padding: $page-padding 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
  }

  &.with-header {

    header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: $header-height;
      text-align: center;
      font-weight: 500;
      background-color: $primary;
      color: $white;
      line-height: $header-height;
      @include dotted($white, bottom);
    }

    .page-content {
      top: $header-height;
    }
  }


  &.with-footer {

    .page-content {
      bottom: $footer-height;
    }

    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: $footer-height;
      text-align: right;
      padding: $footer-height-padding $page-padding;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      a, button {
        font-size: $size-medium;
      }
    }

  }

  &.no-padding .page-content {
    padding: 0;
    bottom: 0;
  }
}
