.__react_component_tooltip {

  a {
    color: white;
    pointer-events: visible;
    text-decoration: underline;
  }

  p {
    margin-bottom: 6px;
  }

  &.show {
    opacity: 1;
  }

  &.type-info {
    background-color: $blue;
    z-index: 99999;
  }


  &.place-bottom {
    margin-top: 4px;
  }

  padding: 12px;
  width: 300px;
}
