@use "styles/mixins/_fonts.scss" as fonts;

.search-no-results {
  text-align: center;

  &-icon {
    color: var(--color-icon-subtle);
    margin: var(--size-spacing-xxxxl) 0 var(--size-spacing-s);
  }

  &-title4 {
    @include fonts.title4;

    margin-bottom: var(--size-spacing-l);
  }

  &-text {
    color: var(--color-text-subtle);
    margin-bottom: var(--size-spacing-s);
  }
}
