@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.change-password-request-success {
  &-icon {
    margin-bottom: rem.torem(12px);
  }

  &-body {
    @include fonts.body;

    margin-bottom: rem.torem(24px);
  }

  &-info {
    @include fonts.body-s;

    color: var(--color-grey-dark);
  }
}

.change-password-request-form {
  .subtitle {
    @include fonts.body-xs;

    color: var(--color-text-subtle);
    margin-bottom: rem.torem(32px);
  }

  .validation-button {
    min-width: rem.torem(208px);
    width: 100%;
    margin: rem.torem(32px) 0;
  }

  .back-button {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  &-input {
    margin-bottom: 0;
  }

  // remove when removing WIP_2025_SIGN_UP
  &-old {
    .subtitle {
      @include fonts.title4;

      margin-bottom: rem.torem(16px);
    }

    .validation-button {
      width: auto;
    }
  }
}
