@use "src/styles/variables/_colors.scss" as colors;
@use "src/styles/mixins/_rem.scss" as rem;
@use "src/styles/mixins/_fonts.scss" as fonts;
@use "src/styles/mixins/_layout.scss" as layout;

.lost-password {
  display: flex;

  .logo-side {
    @include layout.logo-side;
  }
}

.scrollable-content-side {
  min-height: 100vh;
  background: colors.$white;
  position: relative;
  width: 100%;

  // Arbitrary value to make it look good with left logo header
  left: rem.torem(641px);
  display: flex;
  align-items: center;

  .content {
    // Arbitrary value to make it look good with left logo heade
    width: rem.torem(486px);
  }
}
