input[type="checkbox"] {
  appearance: none;
  border: 2px solid $grey-dark;
  border-radius: 4px;
  flex: 0 0 auto;
  font-size: inherit;
  height: 1.1875em;
  margin-right: rem(8px);
  outline: none;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 1.1875em;

  &:checked {
    background-color: $grey-dark;

    &::after {
      background-image: url(/icons/checkbox-check.svg);
      background-position: center;
      background-repeat: no-repeat;
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
    }

    &:hover {
      background-color: $primary;
      border-color: $primary;
    }

    &:focus {
      background-color: $primary-dark;
      border-color: $primary-dark;
    }

    &:disabled {
      background-color: $grey-medium;
      border-color: $grey-medium;
      cursor: not-allowed;
      opacity: 1;
    }
  }

  &:not(:checked) {
    background-color: $white;

    &:hover {
      border-color: $primary;
    }

    &:focus {
      border-color: $primary-dark;
    }

    &:disabled {
      border-color: $grey-medium;
      opacity: 1;
    }
  }
}

.input-checkbox-label {
  display: flex;
  flex-direction: column;

  &.label-hidden {
    display: none;
  }

  .ic-sub-label {
    @include caption();

    color: $grey-dark;
    margin-top: rem(8px);

    &.disabled {
      color: $grey-medium;
    }
  }
}

.field-checkbox {
  .input-checkbox-input {
    align-self: flex-start;
    margin-top: 3px;
  }

  svg {
    margin-right: rem(5px);
  }

  &.error {
    input[type="checkbox"] {
      border-color: $red-error;
    }

    svg .svg-color {
      fill: $red-error;
    }

    .input-checkbox-label {
      color: $red-error;
      font-weight: 700;
    }
  }

  &.disabled {
    color: $grey-medium;
    fill: $grey-medium;
  }
}
