.image-preview-shell {
  position: absolute;
  height: rem(515px);
}

.image-preview-home-preview {
  background-color: $white;
  border-radius: rem(5px);
  left: rem(18px);
  position: absolute;
  top: rem(50px);
  height: rem(128px);
}
