.image-preview-shell {
  top: rem(180px);
  position: absolute;
  height: 335px;
}

.image-preview-blur-venue-preview {
  background-color: $white;
  filter: blur(2px);
  left: rem(1px);
  position: absolute;
  top: rem(1px);
  height: 191px;
}

.image-preview-venue-preview {
  background-color: $white;
  border-radius: rem(5px);
  left: rem(12px);
  position: absolute;
  top: rem(76px);
  height: 176px;
}
