.ft-wrapper {
  display: inline-block;
  padding-top: rem(2px);
}

.ft-checkbox {
  display: none;
}

.ft-label-off {
  background: $grey-light;
  border-radius: rem(16.5px);
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: rem(28px);
  width: rem(53px);
}

.ft-label-on {
  content: '';
  background: $green-valid;
  border-radius: rem(16.5px);
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: rem(28px);
  width: rem(53px);
}

.ft-button {
  border-radius: rem(16.5px);
  box-shadow: 0 0 rem(6px) 0 rgba(0, 0, 0, 0.25);
  background: $white;
  height: rem(32px);
  position: absolute;
  top: rem(-2px);
  width: rem(32px);
}

.ft-checkbox:checked + .ft-label-on .ft-button {
  left: calc(100%);
  transform: translateX(-100%);
}
