@import "sass-rem";

.offer {
  display: grid;
  grid-column-gap: rem(20px);
  grid-template-columns: rem(200px) 1fr;
  width: 100%;

  img,
  .image-placeholder {
    border-radius: 6px;
    height: rem(300px);
    width: rem(200px);
  }

  .image-placeholder {
    align-items: center;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;

    svg {
      height: rem(50px);
      opacity: 1;
    }
  }

  .info {
    h2 {
      margin: 0;
    }

    h3 {
      font-size: rem(16px);
      margin-bottom: 0;
    }

    .venue-name {
      font-size: rem(18px);
      font-weight: bold;
      margin-top: rem(8px);
    }
  }

  ul.stocks {
    display: grid;
    grid-row-gap: rem(6px);

    li {
      display: grid;
      grid-column-gap: rem(8px);
      grid-template-columns: rem(200px) rem(150px) 1fr;
    }
  }
}
