@import "sass-rem";

.search-results {
  ul.offers {
    display: grid;
    grid-gap: rem(20px);
    padding: 0;

    hr.separator {
      border: 0;
      border-top: 1px solid #c7c7cc;
      justify-self: center;
      width: 80%;
    }
  }

  .offers-loader {
    height: 100%;

    .loading-spinner {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;

      svg {
        height: rem(56px);
        width: rem(56px);

        .logo {
          fill: #870087;
        }
      }
    }
  }
}
