@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem.torem(24px);
}

.header {
    @include fonts.title3;
}

.actions {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: rem.torem(24px);
    width: 100%;
    margin-top: rem.torem(24px);
}

.bookings-radio-buttons {
    max-width: rem.torem(454px);
    
    &-validated {
        margin: rem.torem(16px) 0;
    }
}