@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.onboarding-collective-steps {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-spacing-l);
  margin-top: var(--size-spacing-l);
  list-style: none;
  padding: 0;
  counter-reset: step-counter;
}

.onboarding-collective-step {
  display: flex;
  align-items: center;
  gap: var(--size-spacing-m);
  counter-increment: step-counter;

  &::before {
    content: counter(step-counter);

    @include fonts.body-accent-xs;

    flex-shrink: 0;
    width: rem.torem(32px);
    height: rem.torem(32px);
    border-radius: rem.torem(32px);
    background-color: var(--color-background-info);
    color: var(--color-text-brand-primary);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-icon {
    width: rem.torem(96px);
    aspect-ratio: 1/1;
  }

  &-text {
    @include fonts.body-s;

    line-height: var(--line-height-s);
  }
}

.divider {
  border: none;
  border-top: 1px solid var(--color-border-subtle);
}

.error-banner {
  margin-top: var(--size-spacing-l);
}