@use "styles/mixins/_rem.scss" as rem;

.no-data {
  text-align: center;

  &-icon {
    color: var(--color-grey-medium);
    width: rem.torem(128px);
    height: rem.torem(100px);
    margin-bottom: rem.torem(16px);
  }
}
