@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.not-found {
  align-items: center;
  background-color: var(--color-background-default);
  height: 100%;
  min-height: 100vh;
  position: relative;
  color: var(--color-text-default);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    @include fonts.title1;

    margin: rem.torem(32px) 0 rem.torem(16px);
  }

  p {
    @include fonts.title4;
  }

  .nm-redirection-link {
    margin: rem.torem(40px) auto;
  }

  .no-match-icon {
    color: var(--color-icon-brand-primary);
  }

  .not-found-content {
    text-align: center;
  }
}
