@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/fonts-design-system.scss" as fonts-design-system;

.not-found {
  align-items: center;
  background-color: var(--color-secondary);
  height: 100%;
  min-height: 100vh;
  position: relative;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    @include fonts-design-system.title1;

    margin: rem.torem(32px) 0 rem.torem(16px);
  }

  p {
    @include fonts-design-system.title4;
  }

  .nm-redirection-link {
    margin: rem.torem(40px) auto;

    &:focus-visible {
      outline-color: var(--color-white);
    }
  }

  &-icon {
    max-width: 100%;
  }

  &-gradient-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .not-found-content {
    position: relative;
    z-index: 1;
    text-align: center;
  }
}
