@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.no-match {
  align-items: center;
  background-image: url("/icons/linear-gradient.jpg");
  background-color: colors.$secondary;
  background-size:cover;
  background-position:center;
  color: colors.$white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  h1 {
    @include fonts.hero;

    color: colors.$white;
    margin: rem.torem(32px) 0 rem.torem(16px);
  }

  p {
    @include fonts.title4;
  }

  .nm-redirection-link {
    margin:40px auto;
  }
}
