@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.institution-panel {
  width: 100%;
  border-radius: var(--size-border-radius-l);
  box-shadow: 0 rem.torem(2px) rem.torem(16px) 0 var(--color-large-shadow);
  padding: rem.torem(24px);

  &-header {
    display: flex;
    align-items: center;
    gap: rem.torem(8px);

    &-title {
      @include fonts.title2;
    }
  }

  &-info {
    margin-top: rem.torem(24px);
    background-color: var(--color-background-info);
    border-radius: rem.torem(6px);
    padding: rem.torem(8px);
  }

  &-prebooking {
    text-align: center;
    margin-top: rem.torem(16px);

    &-icon {
      margin-right: rem.torem(10px);
    }

    &-date {
      @include fonts.body-accent-xs;

      margin-bottom: rem.torem(8px);

      &-emphasis {
        color: var(--color-text-brand-primary);
      }
    }
  }
}

@media (min-height: rem.torem(500px)) {
  //  Make sure the pannel is only sticky when the screen has a big enough height. Otherwise it might not be fully visible.
  .institution-panel {
    position: sticky;
    top: rem.torem(24px);
  }
}
