$button-margin: 0.75rem;
$button-size: 3.375rem - 2 * $button-margin;

button.back-button {
  background: none;
  border: none;
  border-radius: $button-size;
  height: $button-size;
  margin: $button-margin;
  position: absolute;
  width: $button-size;
  z-index: 1;

  img {
    height: 1.2rem;
    position: relative;
    vertical-align: middle;
    width: 1.2rem;
  }

  &:focus {
    outline: none;
  }

  .discovery-page & {
    background-color: $black;
  }
}
