$button-margin: 0.75rem;
$button-size: $header-height - 2 * $button-margin;

button.back-button {
  position: absolute;
  width: $button-size;
  height: $button-size;
  border-radius: $button-size;
  margin: $button-margin;
  background: none;
  border: none;
  z-index: 1;

  img {
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    vertical-align: middle;
  }

  &:focus {
    outline: none;
  }

  .discovery-page & {
    background-color: $black;
  }
}
