.confirm-change {
  max-width: rem(360px);

  ul {
    margin-right: rem(15px);
    margin-left: rem(15px);
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      text-align: left;

      img {
        width: 2.5em;
      }
    }
  }

  .level {
    @include dotted($primary, top);

    button:first-child {
      font-weight: $weight-light;
    }
  }
}
