.header {
  align-items: baseline;
  background-color: $primary;
  display: flex;
  padding: 6px;

  .page-reservations & {
    @include dotted($white, bottom);
  }
}

.header-start {
  flex: 0;
}

.header-title {
  color: $white;
  flex: 2;
  font-size: 1.2rem;
  text-align: center;
}

.header-end {
  flex: 0;
}

.header-submit {
  background-color: transparent;
  border: 2px solid $white;
  border-radius: 2px;
  color: $white;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
}

$button-size: $header-height - 0.75rem;

.back-link,
.close-link {
  border-radius: $button-size;
  display: block;
  height: $button-size;
  padding: 5px;
  text-align: center;
  width: $button-size;

  .discovery-page & {
    background-color: $black;
    position: absolute;
    top: 1rem;
    z-index: 300;
  }
}

.close-link-img {
  height: 21px;
  width: 21px;
}

.back-link {
  .discovery-page & {
    left: 1rem;
  }
}

.close-link {
  .discovery-page & {
    border: none;
    right: 1rem;
  }
}
