.app.modal-open {
  max-height: 100vh;
  overflow-y: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal {
  align-items: center;
  // overlay
  background-color: rgba($black, 0.8);
  display: none;
  justify-content: center;
  opacity: 0;
  overflow: auto;
  will-change: opacity;
  // on top of header in mobile view
  z-index: 10000;

  @media screen and (prefers-reduced-motion: reduce) {
    &.active {
      // cannot just use opacity: 1 here,
      // the element is display none - not rendered, when this class gets applied
      animation: none;
      display: flex;
      opacity: 1;
    }
  }

  &.active {
    // cannot just use opacity: 1 here,
    // the element is display none - not rendered, when this class gets applied
    animation: fadeIn 0.5s ease;
    display: flex;
    opacity: 1;
  }

  &.modal-in-modal {
    .modal-dialog {
      .modal-content {
        position: initial;
      }
    }
  }

  &.confirm-change-offer {
    .modal-dialog {
      padding: 0;
      width: auto;
    }
  }

  .modal-dialog {
    backface-visibility: hidden;
    background-color: $white;
    max-width: 64em;
    padding: 4rem;
    position: relative;
    text-align: center;
    transition-property: transform;
    transition-timing-function: ease-out;
    width: 100%;
    will-change: transform, opacity;

    button.close {
      background-color: transparent;
      border: none;
      position: absolute;
      right: 2rem;
      top: 2rem;
      z-index: 10;
    }

    .modal-content {
      max-width: $desktop;
      overflow: initial;
      width: auto;
    }
  }
}
