.offer-thumb {
  height: 100px;
  width: 75px;
  object-fit: cover;
  border-radius: 3px;
}

.default-thumb {
  align-items: center;
  background-color: $grey-medium;
  display: flex;
  height: 100px;
  width: 75px;
  justify-content: center;
  border-radius: 3px;

  svg {
    height: 75%;
    width: 75%;
  }
}
