.thumb {
  height: 100px;
  width: 75px;
  position: relative;
  overflow: hidden;

  .background {
    background-color: $grey-light;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    box-sizing: content-box;
  }
}
