.upload-thumb {
  display: block;
  height: auto;
  position: relative;
  text-align: center;

  .input {
    height: auto;
  }

  img.read-only {
    border-color: transparent;
    border-style: solid;
    box-sizing: content-box;
    margin: auto;
    object-fit: cover;
  }

  .drag-n-drop {
    align-items: center;
    background: $grey-light;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    margin: auto;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 0;

    &::before {
      border: thin dashed $grey-medium;
      border-radius: inherit;
      bottom: 0;
      content: '';
      left: 0;
      margin: 1rem;
      position: absolute;
      right: 0;
      top: 0;
    }

    &.dragged {
      font-weight: 700;
      outline-color: $black;

      &::before {
        border-color: $black;
      }
    }
  }

  .editor-zone {
    background: transparent;
    margin: auto;
    margin-bottom: 2rem;
    position: relative;

    &.no-drag {
      &::before {
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &.has-image {
      .drag-n-drop {
        display: none;
      }
    }

    .zoom {
      width: calc(100% - 90px);
    }

    .change-zoom {
      background: url(/icons/ico-plus-circled@2x.png) center no-repeat transparent;
      background-size: rem(36px) rem(36px);
      border: none;
      color: $primary;
      display: inline-block;
      font-size: rem(1px);
      height: rem(40px);
      margin: 0 0 0 rem(5px);
      outline: none;
      overflow: hidden;
      padding: 0;
      text-indent: rem(-50px);
      width: rem(40px);

      span {
        display: block;
        margin-top: rem(-9px);
      }
    }

    .change-zoom.decrement {
      background-image: url(/icons/ico-minus-circled@2x.png);
      margin: 0 rem(5px) 0 0;
    }
  }

  canvas {
    display: block;
    margin: auto;
  }
}

#zoomControl {
  display: flex;
  flex: 1;
  margin: rem(10px) auto;
  width: 68%;

  button,
  input {
    flex-direction: row;
  }
}
