.upload-thumb {
  position: relative;
  display: block;
  text-align: center;
  height: auto;

  .input {
    height: auto;
  }

  img.read-only {
    box-sizing: content-box;
    object-fit: cover;
    border-style: solid;
    border-color: transparent;
    margin: auto;
  }

  .drag-n-drop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $grey-light;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: auto;
    cursor: pointer;

    &::before {
      content: '';
      border-radius: inherit;
      margin: 1rem;
      border: thin dashed $grey-medium;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &.dragged {
      font-weight: $weight-bold;
      outline-color: $black;

      &::before {
        border-color: $black;
      }
    }
  }

  .editor-zone {
    background: transparent;
    position: relative;
    margin: auto;
    margin-bottom: 2rem;

    &.no-drag {
      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
      }
    }

    &.has-image {
      .drag-n-drop {
        display: none;
      }
    }

    .zoom {
      width: calc(100% - 90px);
      cursor: pointer;
    }

    .change-zoom {
      cursor: pointer;
      width: rem(40px);
      height: rem(40px);
      margin: 0 0 0 rem(5px);
      border: none;
      outline: none;
      display: inline-block;
      background: "url(/icons/ico-plus-circled@2x.png)" center no-repeat transparent;
      background-size: rem(36px) rem(36px);
      color: $primary;
      font-size: rem(1px);
      text-indent: rem(-50px);
      overflow: hidden;
      padding: 0;

      span {
        display: block;
        margin-top: rem(-9px);
      }
    }

    .change-zoom.decrement {
      margin: 0 rem(5px) 0 0;
      background-image: "url(/icons/ico-minus-circled@2x.png)";
    }
  }

  input[type=range]::-webkit-slider-thumb {
    background: "url(/thumb.png)" center no-repeat $primary !important;
  }

  canvas {
    display: block;
    margin: auto;
  }
}

#zoomControl {
  display: flex;
  flex: 1;
  width: 68%;
  margin: rem(10px) auto;

  button,
  input {
    flex-direction: row;
  }
}
