$button-margin: 0.75rem;
$button-size: $header-height - 2 * $button-margin;

button.back-button,
button.close-button {
  z-index: $zindex-close-button;
  position: absolute;
  width: $button-size;
  height: $button-size;
  border-radius: $button-size;
  margin: $button-margin;
  background: none;
  border: none;

  img {
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    left: -2px;
    vertical-align: middle;
  }

  &:focus {
    outline: none;
  }

  .discovery-page & {
    background-color: $black;
  }
}

button.close-button {
  right: 0;

  img {
    left: 0;
  }
}
