.finishable {
  position: relative;

  // TODO: change with rotated horizontal icon for better control

  .finish-icon {
    position: absolute;
    width: 110%;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -1rem;
    right: -1rem;
  }
}
