.form-field {
  .aligned {
      margin-top: 0;
      @media (min-width: $tablet) {
        margin-top: 0.5rem;
      }
  }
  .label {
    margin-bottom: 0;
    @media (min-width: $tablet) {
      margin-bottom: 0.5rem;
    }
  }

}
