.date-picker {

  margin: auto;
  position: relative;

  .react-datepicker__day {
    border-radius: 50%;
    &--highlighted {
      background-color: $grey-lighter;
      color: $text;
    }

    &--selected {
      background-color: $primary;
    }
  }

  .date {
    border: 0;
    padding-left: 0.5rem;
    width: 100%;
    &:focus {
      outline: none;
    }
  }

}
