.form-input {
  // text-align: center;
  label {
    display: block;
    // color: $black;
    // font-size: 1.2rem;
    small {
      display: block;
    }
  }

  input {
    border: 2px solid $menu-red;
    border-radius: 2em;
  }

  &.checkbox {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    input {
      margin-right: 0.5rem;
    }
  }

  &.text,.email,.password {
    padding: 0.3em 0.75em;
  }

}
