header.navbar {
  height: $header-display-height;
  align-items: start;
  z-index: initial;

  .navbar-brand {
    .navbar-item {
      font-size: $size-medium;

    }
  }

  .navbar-menu {
    z-index: 30;
    position: relative;
    .navbar-item {
      font-weight: $weight-bold;
      font-size: $size-small;
    }
  }

  .navbar-link span {
    color: $primary;
    margin-right: 0.5rem;
  }

  .navbar-item span {
    margin-right: 0.5rem;
  }
}
