header.navbar  {
  height: $header-display-height;
  align-items: start;
  z-index: initial;

  .navbar-brand {
    .navbar-item {
      font-size: $size-medium;

    }
  }

  .navbar-menu {
    z-index: 30;
    position: relative;
    .navbar-item {
      font-weight: $weight-bold;
      font-size: $size-small;
    }
  }

  .navbar-link span {
    color: $primary;
    margin-right: 0.5rem;
  }

  a.navbar-item span {
    color: $primary;
    margin-right: 0.5rem;
  }

  span.white-header {
    // quand menu est blanc
    color: $primary;
  }

  .navbar-dropdown {
    box-shadow: 0 0 3.75rem rgba(0,0,0,0.2);
  }
}

// TODO Refactoring For primary menu
header.navbar.is-primary a.navbar-item span {
  color: $white;
}

header.navbar.is-primary .navbar-dropdown a.navbar-item span {
  color: $primary;
}

header.navbar.is-primary a.navbar-link span {
  color: $white;
}
