a.logo {
  font-weight: $weight-light;
  // font-size: $size-medium;
  font-style: italic;
  color: $white;
  // padding-right: 0.8em;
  img {
    margin: -0.5em 0;
    max-height: 2.25em;
    height: 2.25em;
    vertical-align: middle;
  }

  &.no-link {
    cursor: inherit;
  }
}
