#main-menu {
  left: 0;
  right: 0;
  height: 100%;
  color: $white;
  z-index: $zindex-main-menu;
}

#main-menu .inner {
  width: 100%;
  height: 100%;
  max-height: 615px;
  border-radius: 1rem;
  background-color: $primary;
}

#main-menu .header {
  flex: 0;
  width: 100%;
  height: 152px;
  font-size: 18px;
  font-weight: 500;
  min-height: 152px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);

  .close-button {
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    outline: none;
    left: inherit;
  }
}

#main-menu .header .profile {
  width: 45%;
}

#main-menu .header .profile .username {
  @extend .px5;

  white-space: nowrap;
  text-overflow: ellipsis;
}

#main-menu .header .profile .avatar img {
  width: 88px;
  height: auto;
  margin-bottom: 0.3rem;
}

#main-menu .header .account {
  width: 65%;
  font-weight: 400;
  font-size: 1.875rem;
  align-items: center;
  border-left: 1px solid $white;

  strong {
    font-size: 3rem;
    font-weight: 500;
  }
}

#main-menu .scroll-container {
  height: calc(100% - 152px);
}

#main-menu .navlink {
  @extend .mx16;
  @extend .flex-columns;

  height: 56px;
  color: $white;
  min-height: 56px;
  line-height: 56px;
  font-size: 1.1875rem;

  .menu-icon {
    width: 44px;
    height: 100%;
    max-width: 44px;
    min-width: 44px;
    margin-right: 1rem;

    img {
      vertical-align: middle;
    }
  }
}

#main-menu .navlink + .navlink {
  @include dotted($text);
}

#main-menu .navlink.active {
  // disable le click sur les liens actifs dans le menu principal
  opacity: 0.9;
  cursor: default;
  touch-action: none;
  pointer-events: none;
  text-decoration: none;
}

#main-menu button.navlink {
  @extend .px16;

  border: 0;
  margin: 0;
  outline: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.2);
}
