.modal {
  &.modal-in-modal {
    .modal-dialog {

      .modal-content {
        position: initial;
      }
    }
  }

  &.confirm-change-offer {
    .modal-dialog {
      width: auto;
      padding: 0;
    }
  }

  .modal-dialog {
    width: 100%;
    max-width: 64em;
  }
}
