.notification {
  margin: 2px;
  overflow-y: hidden;
  padding: 6px;
  position: relative;

  img {
    width: 20px;
  }

  span {
    margin-right: 12px;
  }

  button.close {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    font-size: $font-size;
    font-weight: $weight-normal;
    height: auto;
    padding: 0;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      opacity: 0.75;
    }
  }

  &.fullscreen {
    margin-left: calc(50% + 1px);
    width: auto;

    .container {
      display: inline;
    }
  }
}
