.notification {
  margin: 6px;
  overflow-y: hidden;
  padding: 6px;
  position: relative;


  .small-padding {
    padding: 0.2rem;
  }

  img {
    align-self: baseline;
  }

  &.is-danger {
    background-color: #FF8097;
    color: #000000;
  }

  &.is-info {
    background-color: #B3E7FF;
    color: #000000;
  }

  &.is-success {
    background-color: #B8E986;
    color: #000000;
  }

  &.is-warning {
    background-color: #FFD580;
    color: #000000;
  }

  a.close,
  button.close {
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    font-size: $font-size;
    font-weight: $weight-semibold;
    height: auto;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      opacity: 0.75;
    }
  }

  &.fullscreen {
    margin-left: calc(50% + 1px);
    width: auto;
  }
}

.is-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  .notification-action-links {
    display: flex;
  }

  .notification-description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;

    img {
      width: 20px;
    }
  }

}
