.search-bar {
  border-radius: 12px;
  background-image: url('/icons/magnify.svg');
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 2px 60%;
  background-size: auto 80%;
}
