.splash {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  //
  display: flex;
  text-align: center;
  justify-content: center;
  //
  color: $white;
  z-index: $zindex-splash;
  background-color: $primary;
}
