.switch-button {
  border: 0px;
  border-radius: 20px;
  border-color: $primary;
  color: whitesmoke;
  height: 2rem;
  width: 6rem;
  min-width: 6rem;
  position: relative;
  cursor: pointer;

  div {
    align-items: center;
    border-radius: 20px;
    color: white;
    display: flex;
    font-size: 14px;
    font-weight: $weight-bold;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    transition: all 0.5s;
    width: 75%;
  }

  &--off {
    background-color: whitesmoke;
    div {
      background-color: $primary;
      left: 0;
    }
  }

  &--on {
    background-color: #f3f7bf;
    div {
      background-color: #d3dc4e;
      left: 25%;
    }
  }
}
