.upload-thumb {
  position: relative;
  display: block;
  text-align: center;
  height: auto;

  .input {
    height: auto;
  }

  img.read-only {
    box-sizing: content-box;
    object-fit: cover;
    border-style: solid;
    border-color: transparent;
    margin: auto;
  }

  .drag-n-drop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $grey-lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: auto;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      border-radius: inherit;
      margin: 1rem;
      border: thin dashed $grey-light;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &.dragged {
      font-weight: $weight-bold;
      outline-color: $text;
      &:before {
        border-color: $text;
      }
    }
  }

  .dropzone {
    background: transparent;
    position: relative;
    margin: auto;
    margin-bottom: 2rem;
    &.no-drag {
      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
      }
    }
    &.has-image {
      .drag-n-drop {
        display: none;
      }
    }
    .zoom {
      width: calc(100% - 90px);
      cursor: pointer;
    }

    .change-zoom {
      width: 40px;
      height: 40px;
      margin: 0 0 0 5px;
      display: inline-block;
      border: 2px solid $red;
      border-radius: 50%;
      background: transparent;
      color: $red;
      font-size: 40px;
      padding: 0;

      span {
        display: block;
        margin-top: -9px;
      }
    }

    .change-zoom.decrement {
      margin: 0 5px 0 0;
    }
  }

  input[type=range]::-webkit-slider-thumb {
    background: url(/thumb.png) center no-repeat $red !important;
  }


  canvas {
    display: block;
    margin: auto;
  }

}

#zoomControl {
  display: flex;
  flex: 1;
  width: 68%;
  margin: 10px auto;

  button, input {
    flex-direction: row;

  }
}
