@use "styles/mixins/_rem.scss" as rem;

.button {
  display: inline-block;
  width: fit-content;
}

.spinner {
  margin-top: rem.torem(16px);
}

.pagination {
  margin: rem.torem(24px) 0;
}

.filters {
  margin-bottom: rem.torem(32px);
}

.count {
  margin-bottom: rem.torem(8px);
}
