@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.container {
  width: 100%;
  padding: rem.torem(32px) 0;
}

.header {
  display: flex;
  align-items: center;
  gap: rem.torem(32px);
  flex-wrap: wrap;
  margin-bottom: rem.torem(24px);
}

.title {
  @include fonts.title2;
}

.no-stocks-content {
  display: flex;
  flex-direction: column;
  gap: rem.torem(40px);
  align-items: center;
  margin-top: rem.torem(64px);
}

.icon {
  width: rem.torem(73.24px);
  height: rem.torem(73.24px);
  color: var(--color-secondary);
  position: relative;
  z-index: 1;
}

.button {
  display: inline-block;
  width: fit-content;
}

.spinner {
  margin-top: rem.torem(16px);
}

.pagination {
  margin: rem.torem(24px) 0;
}
