@use 'styles/mixins/_rem.scss' as rem;

.select-autocomplete-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;

  .option {
    input[type=checkbox] {
      opacity: 0;
    }

    &-disabled:hover {
      background-color: white;
    }

    span {
      position: absolute;
    }
  }
}

.select-autocomplete-input {
  padding-left: rem.torem(16px);
}
