@use "styles/mixins/_forms.scss" as forms;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.multi-select-autocomplete-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.multi-select-autocomplete-placeholder-input::placeholder {
  &:not(:disabled) {
    color: var(--color-black);
  }
}

.field-overlay {
  position: relative;
  height: 0;

  .pellet {
    @include fonts.body-exergue;

    font-size: rem.torem(9px);
    align-items: center;
    background-color: var(--color-grey-light);
    border-radius: rem.torem(100px);
    color: var(--color-black);
    cursor: pointer;
    display: flex;
    height: rem.torem(18px);
    justify-content: center;
    padding: rem.torem(6px);
    position: absolute;
    left: rem.torem(13px);
    top: rem.torem(-29px);
    width: rem.torem(18px);
  }
}
