.notification {
  margin: rem(6px);
  overflow-y: hidden;
  padding: rem(6px);
  position: relative;

  .small-padding {
    padding: 0.2rem;
  }

  img {
    align-self: baseline;
  }

  &.is-danger {
    background-color: $notification-error;
    color: $black;
  }

  &.is-info {
    background-color: $notification-info;
    color: $black;
  }

  &.is-success {
    background-color: $notification-success;
    color: $black;
  }

  &.is-warning {
    background-color: $notification-warning;
    color: $black;
  }

  a.close,
  button.close {
    background: none;
    border: none;
    color: $black;
    cursor: pointer;
    float: right;
    font-size: rem(16px);
    font-weight: 600;
    height: auto;
    padding-left: rem(12px);
    text-decoration: underline;

    &:focus,
    &:hover {
      opacity: 0.75;
      text-decoration: none;
    }
  }

  &.fullscreen {
    margin-left: calc(40% + 1px);
    width: auto;
  }
}

.is-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  .notification-action-links {
    display: flex;
  }

  .notification-description {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;

    span {
      margin-bottom: rem(6px);
      margin-left: rem(8px);
    }
  }
}
