@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_a11y.scss" as a11y;

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: var(--size-border-radius-m);
  background: var(--color-loading-skeleton);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

.rounded-full {
  border-radius: var(--size-border-radius-pill);
}

.visually-hidden {
  @include a11y.visually-hidden;
}
