.bookings-head {
  tr {
    th {
      color: $black;
      font-size: rem(14px);
      padding: rem(14px);
      font-weight: $weight-medium;
    }

    th:nth-child(1){
      width: rem(200px);
    }

    th:nth-child(2){
      width: rem(37px);
    }

    th:nth-child(3){
      width: rem(225px);
    }

    th:nth-child(4){
      width: rem(110px);
    }

    th:nth-child(5){
      width: rem(120px);
    }

    th:nth-child(6) {
      padding-left: 0;
    }
  }
}
