.bookings-head {
  tr {
    th {
      color: $black;
      font-size: rem(14px);
      padding: rem(14px);
      font-weight: $weight-medium;

      .sorting-icons > img {
        height: rem(20px);
        margin-left: rem(10px);
        vertical-align: bottom;
        width: rem(20px);
      }
    }
  }
}
