@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.activation-codes-upload {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: rem.torem(540px);

  .activation-codes-upload-icon {
    height: rem.torem(120px);
    margin-top: rem.torem(20px);
    width: rem.torem(200px);
  }

  .activation-codes-upload-title {
    @include fonts.title4();

    margin-top: rem.torem(8px);
  }

  .activation-codes-upload-section {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .activation-codes-upload-separator {
    border: rem.torem(1px) solid colors.$grey-medium;
    margin-bottom: rem.torem(16px);
    margin-top: rem.torem(24px);
    width: 100%;
  }

  .activation-codes-upload-template-section {
    text-align: left;
    width: 100%;
  }

  .activation-codes-upload-gabarit {
    @include fonts.gabarit();

    margin-bottom: rem.torem(10px);
  }
}
