@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_rem.scss" as rem;

.eac-layout-heading-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: rem.torem(56px);

  @media (min-width: size.$tablet) {
    padding-top: 0;
  }
}
