.stock-item {
  input[type='number'] {
    padding-left: rem(12px);
    padding-right: rem(6px);
    text-align: right;
  }

  .time-field {
    width: rem(66px);

    .field-input {
      width: rem(40px);
      padding-left: rem(12px);
      padding-right: rem(12px);
    }
  }

  display: table-row;

  td {
    vertical-align: middle;

    .field-input {
      font-size: rem(12px);
      min-width: rem(32px);
      border-radius: 1rem;

      &.field-number {
        text-align: center;
        width: rem(85px);
      }

      &.input-number {
        min-width: rem(77px);
      }

      &[readonly] {
        text-align: center;
      }

      &[type='time'] {
        margin-left: 0.75rem;
      }
    }

    .tooltip {
      &.tooltip-info {
        background-color: transparent;
        margin-left: rem(6px) !important;
      }
    }
  }

  &.with-confirm {
    background-image: none;
  }
}
