@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.confirmation {
  text-align: center;
  margin: auto;
  max-width: rem.torem(712px);

  &-icon {
    height: rem.torem(56px);

    &-validate {
      color: var(--color-icon-success);
    }
  }

  &-actions {
    max-width: rem.torem(486px);
    margin: var(--size-spacing-xxxxl) auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-spacing-xl);
    justify-content: center;
  }

  &-title {
    @include fonts.title4;

    margin-bottom: var(--size-spacing-xxl);
  }

  &-description {
    display: grid;
    gap: var(--size-spacing-m);
    text-align: left;
  }
}

.text-bold {
  @include fonts.body-accent;
}

.institution-name {
  @include fonts.body-accent;

  display: grid;
  margin-top: var(--size-spacing-xl);
}

.confirmation-wrapper .confirmation-banner {
  margin-top: rem.torem(45px);
}

@media (max-width: size.$tablet) {
  .confirmation-title {
    text-align: left;
  }
}
