@import 'sass-rem';
@import 'styles';

.offer-filters-title {
  font-weight: bold;
  font-size: rem(15px);
  margin-bottom: rem(20px);
  display: inline-block;
}

.offer-filters-button-container {
  justify-content: center;
  display: flex;
  position: relative;
  margin-top: rem(32px);
}

.offer-filters-button-separator {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid $grey-medium;
  z-index: -1;
  top: 50%;
}

.offer-filters-row {
  display: flex;
}

.offer-filters-filter:not(:last-of-type) {
  margin-right: rem(24px);
}

.offer-filters-separator {
  margin: rem(20px) 0;
  width: rem(86px);
  border-bottom: rem(1px) solid $grey-medium;
}