.offer-page-v2 {
  .page-subtitle {
    @include caption();

    color: $grey-dark;
    margin-bottom: rem(24px);
  }

  .offer-content {
    margin-top: rem(25px);

    .sidebar-container {
      display: flex;
      justify-content: space-between;

      .content {
        max-width: rem(486px);
      }

      .sidebar {
        flex: 0 0 rem(256px);
      }
    }
  }

  .pc-breadcrumb {
    margin-bottom: rem(24px);
  }

  .offer-form {
    .form-row {
      margin-top: rem(24px);
    }
  }

  .provider-information {
    align-items: center;
    background-color: $notification-info;
    border-radius: rem(6px);
    display: flex;
    height: rem(50px);

    img {
      height: rem(40px);
      margin-left: rem(20px);
      margin-right: rem(20px);
      max-width: rem(100px);
    }
  }

  .actions-section {
    display: flex;
    justify-content: center;
    margin-top: rem(64px);

    button,
    a {
      flex: 1;
      margin-left: rem(24px);
      text-align: center;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
