.offer-page {
  ul.mediations-list {
    list-style: none;

    li {
      display: inline-block;
      height: rem(250px);

      img {
        height: rem(200px);
      }

      .field {
        .field-body {
          margin-left: auto;
          margin-right: auto;
          width: 90%;
        }

        .checkbox {
          margin-right: 0;
        }
      }
    }
  }

  .offer-form {
    select {
      max-width: rem(550px);
    }

    .title-field #offer-name {
      padding: rem(5px) rem(40px) rem(4px) rem(16px);
    }
  }

  .nb-dates {
    color: $primary;
    font-weight: $weight-bold;
    display: inline-block;
    margin-right: 2rem;
  }

  .select-duo-offer {
    background-color: transparent;
    display: flex;
    margin-bottom: rem(12px);
    margin-top: rem(16px);

    label {
      white-space: pre;
      margin-left: 0.7rem;
      vertical-align: top;
    }

    .duo-label-italic {
      font-style: italic;
    }

    .tip-icon {
      margin-left: rem(3px);
    }

    div {
      margin-bottom: rem(11px);
    }
  }

  .offer-tooltip {
    margin-left: rem(4px);
  }

  .subtitle {
    margin-bottom: rem(12px);
  }

  .main-list-title {
    border-bottom: thin solid;
    display: block;
    text-transform: uppercase;
    font-weight: $weight-bold;
    margin: 0.75rem 0;
    overflow-y: hidden;

    span {
      margin-top: rem(3.5px);
    }
  }

  .field-content {
    vertical-align: middle;
    padding-left: rem(5px);
  }

  .field-body textarea {
    padding-top: rem(8px);
  }

  .large-labels label {
    min-width: rem(200px);
  }

  .is-invisible {
    display: none;
  }
}
