.offer-page-v2 {
  .page-subtitle {
    @include caption();

    color: $grey-dark;
  }

  .offer-content {
    display: flex;
    justify-content: space-between;
  }

  .offer-form {
    max-width: rem(486px);

    .form-row {
      margin-top: rem(24px);
    }
  }

  .provider-information {
    align-items: center;
    background-color: $notification-info;
    border-radius: rem(6px);
    height: rem(50px);

    img {
      height: rem(50px);
      margin-left: rem(20px);
      margin-right: rem(20px);
      width: rem(50px);
    }
  }
}
