@use "styles/mixins/_rem.scss" as rem;

.status-container {
  position: relative;
}

.status-icon {
  width: rem.torem(16px);
  vertical-align: middle;

  &-active {
    color: var(--color-primary);
  }
}

.status-badge-icon {
  position: absolute;
  top: 0;
  right: 0;
  border: solid rem.torem(3px) var(--color-primary);
  border-radius: rem.torem(4px);
}
