@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.title {
  @include fonts.title4;

  margin-top: rem.torem(16px);
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: rem.torem(16px);
  flex: 1;
}

.row {
  display: flex;
  gap: rem.torem(16px);
  flex-wrap: wrap;
}

.description {
  margin: rem.torem(8px) 0;
}

.date {
  width: rem.torem(189px);
}

.time {
  width: rem.torem(110px);
}

.footer {
  display: flex;
  gap: rem.torem(8px);
  padding-top: rem.torem(16px);
}

.price-category {
  flex: 1;
}

.price-category-row {
  align-items: center;
  gap: rem.torem(16px);
  display: flex;
}
