@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_a11y.scss" as a11y;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_outline.scss" as outline;

.container {
  margin-bottom: var(--size-spacing-l);

  &-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  &-label {
    display: block;
    margin-bottom: var(--size-spacing-xs);
  }
}

.field-error {
  margin-top: var(--size-spacing-s);
}

.legend {
  @include fonts.body;

  color: var(--color-text-default);
  margin-bottom: var(--size-spacing-s);
}

.trigger {
  @include fonts.body;

  color: var(--color-text-default);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--size-spacing-l);
  background-color: var(--color-background-default);
  border: 1px solid var(--color-border-default);
  border-radius: var(--size-border-radius-m);
  width: 100%;
  cursor: pointer;
  height: rem.torem(40px);
  line-height: rem.torem(36px);

  &:disabled {
    background-color: var(--color-background-disabled);
    border: rem.torem(1px) solid var(--color-border-disabled);
    color: var(--color-text-disabled);
    cursor: auto;
  }

  &:hover {
    background: var(--color-background-subtle);
  }

  &:focus {
    border: 2px solid var(--color-border-focused);
  }

  &:focus-visible {
    @include outline.focus-outline;

    border: 1px solid var(--color-border-focused);
  }

  &-selected {
    border: 1px solid var(--color-border-selected);
  }

  &-error {
    border: 1px solid var(--color-border-error);
  }
}

.trigger-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-spacing-s);
}

.trigger-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}

.badge {
  @include fonts.body-accent-xs;

  display: flex;
  align-items: center;
  justify-content: center;
  width: rem.torem(24px);
  height: rem.torem(24px);
  background-color: var(--color-background-brand-primary);
  color: var(--color-text-inverted);
  border-radius: var(--size-border-radius-pill);
}

.chevron {
  width: rem.torem(16px);
  height: rem.torem(16px);
  color: var(--color-icon-default);

  &-disabled {
    color: var(--color-icon-disabled);
  }
}

.chevron-open {
  transform: rotate(180deg);
}

.item {
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    background: var(--color-background-subtle);
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-spacing-s);
}

.panel {
  position: absolute;
  z-index: 1;
  background-color: var(--color-background-default);
  left: 0;
  right: 0;
  top: rem.torem(42px);
  box-shadow: var(--shadow-overlay);
  padding-top: var(--size-spacing-l);
  border-radius: var(--size-border-radius-m);
}

.panel-scrollable {
  max-height: rem.torem(288px);
  overflow: auto;
}

.label {
  @include fonts.body;

  padding: rem.torem(11.2px) var(--size-spacing-l);
}

.checkbox {
  margin-left: var(--size-spacing-xl);
}

.search-input {
  margin: 0 rem.torem(24px);
  margin-bottom: var(--size-spacing-s);
}

.empty-search {
  @include fonts.body;

  text-align: center;
  margin-top: var(--size-spacing-l);
  margin-bottom: var(--size-spacing-l);
}

.visually-hidden {
  @include a11y.visually-hidden;
}

.separator {
  height: rem.torem(1px);
  background: var(--separator-color-subtle);
  margin: 0 var(--size-spacing-xl);
}
