@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.venue-details {
  background-color: var(--color-grey-light);
  padding-top: rem.torem(13px);
}

.section {
  background-color: var(--color-white);
  margin-top: rem.torem(6px);
  padding: rem.torem(12px) rem.torem(15px) rem.torem(16px) rem.torem(15px);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.title {
  @include fonts.bold;

  margin-bottom: rem.torem(16px);
}

.sub-title {
  @include fonts.caption;
}

.text {
  @include fonts.body-xs;

  margin-bottom: rem.torem(16px);
  word-break: break-word;

  &:last-child {
    margin-bottom: 0;
  }
}
