table#bookings-table {

  width:100%;

  tr > th {
    color: $black;
    font-size: rem(14px);
    padding: 14px;
    font-weight: $weight-medium;
  }

  tbody > tr:nth-child(odd) {
    background-color: $grey-light-bis;
  }

  td {
    font-size: rem(16px);
    padding: 16px;
  }

  td > span.offer-link {
    font-weight: $weight-bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 175px;
    display: block;
    overflow: hidden;
  }

  td span.cell-subtitle {
    color: $grey;
  }
}
