table#bookings-table {
  tr > th {
    color: $black;
    font-size: rem(14px);
    padding: 14px;
    font-weight: $weight-medium;
  }

  tbody > tr:nth-child(odd) {
    background-color: $grey-light-bis;
  }

  td {
    font-size: rem(16px);
    padding: 16px;

    & > span.offer-link {
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 175px;
      display: block;
      overflow: hidden;
    }

    & span.cell-subtitle {
      color: $grey;
    }

    & > span.booking-status-label {
      border-radius: 5px;
      padding: 2px 5px;
      color: $white;
      font-weight: $weight-medium;
      font-size: 14px;

      &.booking-status {
        &--reserve {
          background-color: $purple-dark;
        }

        &--valide {
          background-color: $blue-dark;
        }

        &--annule {
          background-color: $grey;
        }
      }
    }
  }
}
