.bookings-table-wrapper {
  display: flex;
  flex-direction: column;

  .bookings-table {
    margin-bottom: rem(10px);

    .td-bookings-duo {
      padding: 0;
      vertical-align: middle;
    }

    .td-bookings-status {
      vertical-align: middle;
    }
  }
}

