@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

.delete-venue-provider-dialog {
  min-width: rem.torem(636px);

  .explanation {
    text-align: left;

    ul {
      list-style: disc;
      margin-left: 2rem;
    }
  }
}
