@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_forms.scss" as forms;
@use "styles/mixins/_forms.scss" as formsM;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_a11y.scss" as a11y;

.input-layout-small-label > div > label {
  @include fonts.body-accent-xs;

  display: block;
  min-height: forms.$input-label-min-height;
  margin-bottom: forms.$label-small-space-before-input;
}
