@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.image-placeholder {
  border-radius: var(--size-border-radius-m);
  border: 1px solid var(--color-border-subtle);
  background-color: var(--color-background-subtle);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem.torem(16px);
  padding: rem.torem(32px);

  &-text {
    @include fonts.body-accent-xs;

    text-align: center;
  }
}
