@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.offers-status-filters {
  background: colors.$white;
  border-radius: rem.torem(4px);
  box-shadow: 0 rem.torem(2px) rem.torem(10px) 0 rgba(colors.$black, 0.3);
  display: flex;
  flex-direction: column;
  padding: rem.torem(16px);
  position: absolute;
  top: rem.torem(30px);
  width: rem.torem(208px);
  z-index: 1;

  .osf-title {
    @include fonts.caption();

    color: colors.$grey-dark;
    white-space: nowrap;
  }

  label {
    @include fonts.body();

    display: flex;
    margin-top: rem.torem(16px);
  }

  button {
    align-self: center;
    margin-top: rem.torem(16px);
  }
}
