@use "styles/mixins/_dotted.scss" as dotted;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

#csv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#csv-table tr:focus,
#csv-table tr:hover {
  background-color: var(--color-grey-medium);
}

#csv-table {
  thead {
    th {
      padding: rem.torem(10px);
    }
  }

  tbody {
    td {
      line-height: normal;
      padding: rem.torem(10px);
      vertical-align: middle;
    }

    tr {
      @include dotted.dotted(var(--color-primary));
    }
  }
}

.no-data-container {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  grid-column-start: col-main;
  grid-row-start: row-header;
  justify-content: center;

  p {
    margin: rem.torem(15px) 0;
  }
}

.csv-main-container {
  background-color: var(--color-white);
  grid-column: col-start / end-line;
  grid-row-start: row-header;
}

#spinner-container {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  grid-column-start: col-main;
  grid-row-start: row-header;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

@media print {
  @page {
    size: landscape;
  }

  body {
    font-size: xx-small;

    header {
      display: none;
    }
  }
}
