@use 'styles/mixins/_dotted.scss' as dotted;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

#csv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#csv-table tr:focus,
#csv-table tr:hover {
  background-color: colors.$grey-medium;
}

#csv-table {
  thead {
    th {
      padding: rem.torem(10px);
    }
  }

  tbody {
    td {
      line-height: normal;
      padding: rem.torem(10px);
      vertical-align: middle;
    }

    tr { /* stylelint-disable-line no-descending-specificity */
      @include dotted.dotted(colors.$primary);
    }
  }
}

#csv-print-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.no-data-container {
  align-items: center;
  background-color: colors.$white;
  display: flex;
  font-size: rem.torem(20px);
  grid-column-start: col-main;
  grid-row-start: row-header;
  justify-content: center;

  p {
    margin: rem.torem(15px) 0;
  }
}

#main-container {
  background-color: colors.$white;
  grid-column-end: end-line;
  grid-column-start: col-start;
  grid-row-start: row-header;
}

#spinner-container {
  align-items: center;
  background-color: colors.$white;
  display: flex;
  grid-column-start: col-main;
  grid-row-start: row-header;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

@media print {
  @page {
    size: landscape;
  }

  body {
    font-size: xx-small;

    header,
    #csv-print-button {
      display: none;
    }
  }
}
