@import "sass-rem";
@import 'styles';


.search-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (prefers-reduced-motion: reduce) {
  .search-box {
    border: 1px solid $secondary;
    border-radius: rem(4px);
    flex: 1;
    margin-right: rem(12px);
    outline: none;
    padding: rem(12px);
    transition: none;

    &:hover {
      border: 1px solid $primary;
    }

    &:focus {
      border: 1px solid $primary;
      box-shadow: 0 rem(2px) rem(6px) 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.search-box {
  border: 1px solid $secondary;
  border-radius: rem(4px);
  flex: 1;
  margin-right: rem(12px);
  outline: none;
  padding: rem(12px);
  transition: all 0.25s ease-in-out;

  &:hover {
    border: 1px solid $primary;
  }

  &:focus {
    border: 1px solid $primary;
    box-shadow: 0 rem(2px) rem(6px) 0 rgba(0, 0, 0, 0.1);
  }
}


.search-filters {
  margin-top: rem(32px);
}
