@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_outline.scss" as outline;
@use "styles/variables/_z-index.scss" as zIndex;
@use "styles/mixins/_fonts.scss" as fonts;

.nav-links-help {
  @include fonts.button;

  display: flex;
  gap: var(--size-spacing-s);
  align-items: center;
  padding: var(--size-spacing-s) var(--size-spacing-l);
  width: 100%;
  background-color: transparent;
  border: none;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background-color: var(--color-background-subtle);
  }

  &:focus-visible {
    @include outline.focus-outline(rem.torem(-8px));

    border-radius: var(--size-border-radius-l);
  }
}

.nav-links-help-content {
  display: flex;
  gap: var(--size-spacing-s);
}
