.search-home-page {
  @extend .page;

  display: flex;
  flex-direction: column;
  position: static;
  background: $white;
}

.sh-criteria-list {
  align-items: center;
  background: $white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.sh-criteria-separator {
  border-top: 1px solid $grey-light;
  width: 90%;
}

.sh-search-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-bottom: rem(20px);
  width: 100%;

  .sh-search-button {
    background-color: $primary;
    border-radius: 2rem;
    border: 0;
    font-size: rem(16px);
    font-weight: 700;
    height: rem(48px);
    width: 90%;
  }
}
