$main-menu-height: 592px;
$main-menu-header-height: 152px;
$main-menu-around-padding: 12px;
$main-menu-height-with-padding: (592px + 24px);

#main-menu {
  opacity: 0;
  top: 100%;
  transition: opacity, top 250ms ease;
  z-index: $zindex-main-menu;

  &.entered {
    opacity: 1;
    top: 0;
  }

  &.entering {
    opacity: 0;
    top: 100%;
  }

  .close-link {
    position: absolute;
    right: rem(22px);
    top: rem(22px);
    z-index: 1;
  }

  .pc-scroll-container {
    height: auto;
    margin: $main-menu-around-padding;
    min-height: auto;
    min-width: 95%;
    width: 95%;
  }
}

#main-menu-fixed-container {
  border-radius: rem(16px);
}

#main-menu-header {
  min-height: $main-menu-header-height;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);

  .column-profile {
    width: 38%;
    min-width: 108px;
  }

  .column-account {
    width: 55%;
    border-left: 1px solid $white;
  }

  .wallet-value {
    letter-spacing: -0.1rem;
    line-height: 42px;
  }

  .currency {
    line-height: 42px;
  }
}

#main-menu-header-avatar img {
  width: 88px;
  height: auto;
}

#main-menu-navigation .navlink {
  @extend .fs16;
  @extend .flex-columns;
  @extend .is-white-text;
  @extend .is-medium;

  .menu-icon {
    min-width: 44px;
  }
}

#main-menu-navigation .navlink {
  line-height: 44px;

  & + .navlink {
    @extend .dotted-top-black;
  }
}

#main-menu-logout-button {
  background-color: rgba(0, 0, 0, 0.2);
}
