@use "styles/mixins/_size.scss" as size;

.date-picker {
  text-transform: uppercase;
  letter-spacing: -1px;

  &::-webkit-calendar-picker-indicator {
    margin-left: 0;
    margin-right: calc(-1 * size.$input-filter-variant-horizontal-padding);
  }
}
