.it-with-icon-container {
  align-items: center;
  border: 1px solid $grey-medium;
  border-radius: 22px;
  display: flex;
  height: rem(40px);
  justify-content: space-between;
  margin-top: $spacing-xs;
  overflow: hidden;
  width: 100%;

  .labels {
    display: flex;
    justify-content: space-between;
  }

  img {
    width: rem(30px);
    height: rem(30px);
    cursor: pointer;
  }

  &:focus-within {
    box-shadow: 0 0 0 1px $primary inset;
    border: 1px solid $primary;
  }

  &.disabled {
    background-color: $grey-light;
    box-shadow: 0 0 0 1px $grey-light inset;
    border: none;

    .it-icon {
      background-color: $grey-light;
      box-shadow: 0 0 0 1px $grey-light inset;
    }

    img {
      filter: opacity(0.5);
      cursor: not-allowed;
    }
  }

  &.error:not(:focus-within) {
    border: 2px solid $red-error;
  }

  .it-input-with-icon {
    @include body();

    border: none;
    color: $black;
    flex: 1;
    height: 100%;
    padding: rem(10px) rem(16px);
    outline: none;

    &:focus {
      z-index: -1;
    }

    &:disabled {
      color: $grey-dark;
      background-color: $grey-light;
      opacity: 1;
    }
  }

  .it-icon {
    background: none;
    border: none;
    height: 100%;
    margin: 0 16px;
    outline: none;
    vertical-align: center;

    img {
      height: 100%;
    }
  }
}
