@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_rem.scss' as rem;

.search-no-results {
  color: colors.$grey-dark;
  text-align: center;

  &-icon {
    margin: rem.torem(10px) 0 rem.torem(30px);
  }

  &-text {
    margin-bottom: rem.torem(20px);
  }
}
