@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.income-no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;

  &-icon {
    margin-bottom: rem.torem(20px);
  }

  &-text-with-link {
    display: flex;
    margin-top: rem.torem(10px);
    flex-wrap: wrap;
    justify-content: center;

    &-buttonlink {
      margin: 0 rem.torem(10px);
    }
  }
}
