/* stylelint-disable selector-class-pattern */

@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_a11y.scss" as a11y;

$action-gap: rem.torem(10px);

.orejime-Modal-header,
.orejime-Modal-body,
.orejime-Modal-footer {
  padding: 0;
}

.orejime-Notice,
.orejime-Modal {
  background: var(--color-white);
  box-shadow: 0 2px 16px var(--color-medium-shadow);
  color: var(--color-input-text-color);
}

.orejime-Notice-actionItem button,
.orejime-Modal-form button {
  @include fonts.button;

  text-align: center;
  border-radius: rem.torem(30px);
  border: rem.torem(2px) solid var(--color-primary);
  padding: rem.torem(10px) rem.torem(24px);
  line-height: fonts.$body-line-height;
  background: var(--color-primary);
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
  }

  &:focus-visible {
    outline: rem.torem(1px) solid var(--color-input-text-color);
    outline-offset: rem.torem(2px);
  }
}

.orejime-Notice {
  border-radius: rem.torem(6px);
  padding: rem.torem(16px);

  @media (width >= 990px) {
    max-width: rem.torem(439px);
    width: 100%;
  }

  &-title {
    @include fonts.body-important;

    color: var(--color-input-text-color);
    line-height: fonts.$body-line-height;
    margin-bottom: rem.torem(8px);
  }

  &-body {
    padding: 0;
    margin: 0;
  }

  &-description {
    margin-bottom: rem.torem(16px);
    color: var(--color-black);

    @include fonts.body;
  }

  &-actions {
    display: flex;
    flex-wrap: wrap;
    gap: $action-gap;

    .orejime-Notice-actionItem button {
      margin: 0;
      width: 100%;
    }

    .orejime-Notice-actionItem--save,
    .orejime-Notice-actionItem--decline {
      width: calc(50% - ($action-gap / 2));
    }

    .orejime-Notice-actionItem--info {
      width: 100%;

      button {
        background: var(--color-white);
        color: var(--color-primary);

        &:hover {
          color: var(--color-white);
          background-color: var(--color-primary-dark);
          border-color: var(--color-primary-dark);
        }
      }
    }
  }
}

.orejime-ModalWrapper,
.orejime-Modal {
  width: rem.torem(735px);
}

.orejime-Modal {
  padding: rem.torem(30px);

  &-closeButton {
    top: rem.torem(30px);
    right: rem.torem(30px);
  }

  &-title {
    margin-bottom: rem.torem(8px);

    @include fonts.title3;
  }

  &-description {
    @include fonts.body;
  }

  &-poweredByLink {
    display: none;
  }
}

.orejime-AppToggles {
  margin: rem.torem(32px) 0;

  button {
    background: var(--color-white);
    color: var(--color-primary);
    cursor: pointer;

    &[disabled] {
      background: var(--color-grey-light);
      border-color: var(--color-grey-light);
      color: var(--color-grey-dark);
      border-radius: 30px;
      opacity: 1;
      cursor: default;
      pointer-events: none;
    }

    &:hover {
      color: var(--color-white);
      background-color: var(--color-primary-dark);
      border-color: var(--color-primary-dark);
    }
  }
}

.orejime-CategorizedAppList {
  .orejime-AppItem {
    input[type="checkbox"] {
      @include a11y.visually-hidden;
    }

    &-input:checked + .orejime-AppItem-label .orejime-AppItem-slider {
      background-color: var(--color-valid);

      &::before {
        transform: translateX(26px);
      }
    }

    &-input:focus-visible + .orejime-AppItem-label .orejime-AppItem-slider {
      outline: rem.torem(1px) solid var(--color-input-text-color);
      outline-offset: 0;
    }

    &-slider {
      box-shadow: none;
    }

    &-switch,
    &-slider {
      width: rem.torem(56px);
    }

    &-title {
      @include fonts.title4;
    }

    &-description {
      @include fonts.body;
    }

    &-switchLabel {
      @include fonts.caption;

      margin-top: rem.torem(8px);
    }

    &-required {
      @include fonts.caption;
    }

    &-label {
      margin-bottom: rem.torem(8px);
      display: inline-block;

      & > span {
        color: var(--color-input-text-color);
      }
    }

    &-purposes {
      display: none;
    }
  }

  &-apps {
    margin: rem.torem(16px) 0 0;
  }

  &-item {
    margin-bottom: rem.torem(24px);
  }
}

.orejime-AppList {
  $initial-padding-left-item: 60px;

  &-item {
    padding-left: rem.torem(calc($initial-padding-left-item + 9px));
  }
}

.orejime-Modal-footer,
.orejime-Modal-header {
  border: none;
}

.orejime-Modal-footer {
  margin-top: rem.torem(50px);
}
