a.logo {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  img {
    height: rem(45px);
    margin: rem(-10px) 0;
    max-height: rem(45px);
    vertical-align: middle;
  }

  &.no-link {
    cursor: inherit;

    img {
      height: auto;
      max-height: none;
    }
  }
}
