@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

a.logo {
  align-items: center;
  color: colors.$white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  img {
    height: rem.torem(45px);
    margin: rem.torem(-10px) 0;
    max-height: rem.torem(45px);
    vertical-align: middle;
  }

  &.no-link {
    cursor: inherit;

    img {
      height: auto;
      max-height: none;
    }
  }
}
