@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;

.loading-spinner {
  color: colors.$grey-dark;
  text-align: center;

  &-icon {
    width: rem.torem(48px);
    height: rem.torem(48px);
    color: colors.$primary;
    animation: rotation 3s infinite linear;
    margin-bottom: rem.torem(15px);

    @media screen and (prefers-reduced-motion: reduce) {
      animation: none;
      margin-bottom: rem.torem(15px);
    }
  }

  .content::after {
    content: attr(data-dots);
    position: absolute;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
