@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_a11y.scss" as a11y;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_outline.scss" as outline;

$step-label-height: rem.torem(12px);
$number-size: rem.torem(30px);

.stepper {
  @include fonts.body-accent-xs;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: $step-label-height;
  gap: rem.torem(8px);

  .step-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    &:last-child {
      flex: 0;
    }

    .step {
      display: flex;
      position: relative;
      color: var(--color-text-subtle);
      align-items: center;
    }

    .number {
      padding-right: rem.torem(8px);

      .inner {
        @include fonts.body-accent-xs;

        border: solid 1px var(--color-border-default);
        border-radius: var(--border-radius-full);
        width: $number-size;
        height: $number-size;
        text-align: center;
        line-height: $number-size;
        margin: auto;
        transition: box-shadow 250ms ease-in-out;
      }
    }

    &.selectionnable {
      .step {
        color: var(--color-text-default);

        .number {
          .inner {
            border-color: var(--color-border-brand-primary);
            color: var(--color-text-brand-primary);
          }
        }
      }

      :hover {
        .label {
          text-decoration: underline var(--color-text-default);
        }

        .number {
          .inner {
            box-shadow:
              inset $number-size $number-size $number-size
                var(--color-background-info),
              0 0 0 rem.torem(4px) var(--color-background-info);
          }
        }
      }
    }

    &.active {
      .step {
        color: var(--color-text-brand-primary);

        .label {
          text-decoration: underline;
        }

        .number {
          .inner {
            border-color: var(--color-border-brand-primary);
            background-color: var(--color-background-brand-primary);
            color: var(--color-text-inverted);
            box-shadow: none;
          }
        }
      }
    }

    :focus-visible {
      outline: 0;

      .label {
        .inner {
          span {
            @include outline.focus-outline(rem.torem(4px));

            border-radius: var(--border-radius-s);
          }
        }
      }
    }
  }
}

.visually-hidden {
  @include a11y.visually-hidden;
}

// Tablet and larger screen styles
@media (min-width: size.$tablet) {
  .stepper {
    flex-direction: row;
    gap: 0;

    .step-container {
      flex-direction: row;

      .step {
        justify-content: center;
      }

      .number {
        padding: 0;
      }

      .separator {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding: 0 rem.torem(16px);

        &::after {
          background-color: var(--color-border-subtle);
          content: "";
          width: 100%;
          height: rem.torem(2px);
        }

        &.active {
          &::after {
            background-color: var(--color-border-brand-primary);
          }
        }
      }

      .label {
        position: absolute;
        width: 7rem;
        text-align: center;
        top: calc($number-size + rem.torem(4px));
        text-decoration: underline transparent;
        transition: text-decoration 250ms;
      }

      &:first-child {
        .label {
          width: unset;
          left: 0;
          text-align: left;
        }
      }

      &:last-child {
        .label {
          width: unset;
          right: 0;
          text-align: right;
        }
      }
    }
  }
}
