@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;
@use "styles/variables/_size.scss" as size;

$step-label-height: rem.torem(12px);
$number-size: rem.torem(30px);

.stepper {
  @include fonts.caption;

  color: colors.$grey-semi-dark;
  display: flex;
  justify-content: space-between;
  padding-bottom: $step-label-height;
  flex-direction: column;
  gap: rem.torem(8px);

  li:last-child {
    flex: 0;
  }

  .step-container {
    display: flex;
    flex: 1;

    .step {
      display: flex;
      position: relative;
      color: colors.$grey-dark;
      align-items: center;
    }

    .number {
      padding-right: rem.torem(8px);

      .inner {
        @include fonts.button;

        border: solid 1px colors.$grey-dark;
        border-radius: 50%;
        width: $number-size;
        height: $number-size;
        text-align: center;
        line-height: $number-size;
        margin: auto;
        transition: box-shadow 250ms ease-in-out;
      }
    }

    &.selectionnable {
      .step {
        color: colors.$black;

        .number {
          .inner {
            border-color: colors.$secondary-light;
            color: colors.$secondary-light;
          }
        }
      }

      :hover {
        .label {
          text-decoration: underline colors.$black;
        }

        .number {
          .inner {
            box-shadow:
              inset $number-size $number-size $number-size
                colors.$background-secondary,
              0 0 0 rem.torem(4px) colors.$background-secondary;
          }
        }
      }
    }

    &.active {
      .step {
        color: colors.$secondary-light;

        .label {
          text-decoration: underline;
        }

        .number {
          .inner {
            border-color: colors.$secondary-light;
            background-color: colors.$secondary-light;
            color: colors.$white;
            box-shadow: none;
          }
        }
      }
    }

    :focus-visible {
      outline: 0;

      .label {
        .inner {
          span {
            outline: rem.torem(1px) solid colors.$input-text-color;
            outline-offset: rem.torem(4px);
            border-radius: rem.torem(4px);
          }
        }
      }
    }
  }
}

@media (min-width: size.$tablet) {
  .stepper {
    flex-direction: row;
    gap: 0;

    .step-container {
      .number {
        padding: 0 rem.torem(16px);
      }

      .separator {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        &::after {
          border-radius: rem.torem(2px);
          background-color: colors.$grey-semi-dark;
          content: "";
          width: 100%;
          height: rem.torem(2px);
        }

        &.active {
          &::after {
            background-color: colors.$secondary-light;
          }
        }
      }

      .label {
        margin-left: 50%;
        position: absolute;
        white-space: nowrap;
        line-height: $step-label-height;
        bottom: rem.torem(-17.274px);
        text-decoration: underline transparent;
        transition: text-decoration 250ms;

        .inner {
          margin-left: -50%;
        }
      }
    }
  }
}
