@use 'styles/mixins/_rem.scss' as rem;

.satus-period-filter {
  display: flex;
  select,
  :global(.period-filter-inputs) {
    margin-top: 0px !important;
  }
  :global(.input-select-full-width > select) {
    border-right: none;
    border-radius: rem.torem(20px) rem.torem(0px) rem.torem(0px) rem.torem(20px);
  }
  :global(.period-filter .field-date-begin) {
    border-left: none;
    border-radius: 0px;
  }
}
