@use "styles/mixins/_a11y.scss" as a11y;
@use "styles/mixins/_rem.scss" as rem;

.status-period-filter {
  display: flex;

  select,
  &-selector {
    margin-top: 0 !important;
  }

  &-selector input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.status-filter {
  border-right: none;
  border-radius: rem.torem(20px) 0 0 rem.torem(20px);
}

.visually-hidden {
    @include a11y.visually-hidden;
}