@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.offer-header {
  align-items: center;
  display: grid;
  grid-column-gap: rem.torem(24px);
  grid-template-columns: auto rem.torem(1px) auto;
  height: 100%;

  .tertiary-button img {
    filter: brightness(1) invert(1);
  }

  .separator {
    background-color: colors.$grey-medium;
    height: rem.torem(24px);
  }
}
