.time-picker {
  &-input {
    width: 100%;
    font-size: rem(16px);
    font-weight: 400;
    border-radius: 22px;
    box-shadow: 0 2px 6px 0 rgba(21, 21, 21, 0.2);
    color: $black;
    display: block;
    height: rem(40px);
    margin-top: rem(8px);
    border: 1px solid $grey-medium;
    flex: 1;
    outline: none;
    padding: rem(6px) rem(18px);

    .has-error & {
      border: 2px solid $primary;
    }

    &:focus {
      border: 2px solid $primary;
    }


    &::placeholder {
      color: $grey-dark;
    }

    &:disabled {
      background-color: $grey-light;
      border-color: $grey-light;
      opacity: 1;
    }
  }
}