@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.soft-deleted-offerer-warning {
  text-align: center;
  margin-bottom: var(--size-spacing-m);
}

.soft-deleted-offerer-warning-actions {
  display: flex;
  align-items: center;
  gap: var(--size-spacing-m);
  justify-content: center;
}
