@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_fonts.scss" as fonts;

.explanatory-text {
  margin-bottom: rem.torem(24px);
}

.image-uploader-image-container {
  display: flex;
  margin-bottom: rem.torem(16px);
}

.image-uploader-actions-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: rem.torem(32px);

  .actions-wrapper {
    height: rem.torem(108px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}

.image-preview {
  object-fit: cover;
  border: rem.torem(1px) solid var(--color-border-subtle);
  border-radius: var(--size-border-radius-s);
  box-shadow: 0 rem.torem(1px) rem.torem(8px)
    rgb(from var(--color-large-shadow) r g b / 15%);

  &.preview-venue {
    width: 100%;
    aspect-ratio: 3 / 2;

    @media (min-width: size.$tablet) {
      width: auto;
      height: rem.torem(176px);
    }
  }
}

.placeholder-venue {
  width: rem.torem(264px);
  height: rem.torem(176px);
}
