{
  "globals": {
    "fixture": true
  },
  "extends": "react-app",
  "plugins": ["prettier"],
  "rules": {
    "no-else-return": [2, {
      "allowElseIf": false
    }],
    "no-underscore-dangle": [2, {
      "allow": ["_paq"]
    }]
  }
}
