{
  "extends": [
    "eslint:recommended",
    "plugin:react/all",
    "plugin:jsx-a11y/strict",
    "plugin:import/errors",
    "plugin:jest/all"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "globals": {
    "fixture": "readonly"
  },
  "parser": "babel-eslint",
  "rules": {
    "jest/no-hooks": "off",
    "jest/prefer-expect-assertions": "off",
    "jest/prefer-inline-snapshots": "off",
    "jsx-a11y/label-has-for": "off",
    "no-var": "error",
    "react/forbid-component-props": "off",
    "react/jsx-curly-brace-presence": [true, { "props": "never", "children": "always" }],
    "react/jsx-fragments": "off",
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-max-depth": "off",
    "react/jsx-one-expression-per-line": [true, { "allow": "literal" }],
    "react/jsx-props-no-spreading": "off",
    "react/no-set-state": "off",
    "react/static-property-placement": "off",
    "semi": ["error", "never"]
  },
  "overrides": [
    {
      "files": [
        "testcafe/*.js"
      ],
      "rules": {
        "jest/expect-expect": "off",
        "jest/lowercase-name": "off",
        "jest/no-test-callback": "off",
        "jest/prefer-expect-assertions": "off",
        "jest/require-top-level-describe": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
