# macOS file system hidden file
.DS_Store

# please don't keep sensitive secrets in plain text files
*.secret

# env files
development_env_file
.env

# IntelliJ
.idea/
*.iml
.graphqlconfig

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache/

# VS-Code Synk plugin
.dccache

# Yarn
.yarn-integrity

# storybook build
docs-build/

# Backoffice scss to css tmp assets
/api/src/pcapi/static/backoffice/css/compiled/
/api/src/pcapi/static/backoffice/css/bundle.css
/api/src/pcapi/static/backoffice/js/bundle.js

# Certificate to start the api with a proxy
*.pem

# Certificates for local mutal TLS
*.crt
*.key
*.pub

# Script for VSCode local debugging
/api/src/pcapi/scripts/local_debug_script.py

# Allure Report
allure-results/
allure-report/
