.DS_Store
NOT_FORGET.md
*.secret
development_env_file
.idea/
*.pgsql
*.pgdump
*.iml

infra/artillery/reports/*
infra/artillery/*.retry
infra/artillery/user_list_with_password
infra/scalingo/files/data_staging.csv
infra/scalingo/files/data_testing.csv

scripts/remove_doublons_of_tuto_recommendation.py
scripts/recreate_where_not_first_tuto.py

.pytest_cache/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

pc_env/

pro-packed-staging/

*.retry

# The `shared` submodule has been removed in https://github.com/pass-culture/pass-culture-main/pull/334
/shared
.docker-sync

# misc
/.vscode/
.dccache
.graphqlconfig

# storybook build
docs-build/