[MESSAGES CONTROL]

disable=import-error,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        no-name-in-module,
        too-few-public-methods

[FORMAT]

max-line-length=200
