alembic==1.4.3
algoliasearch==2.4.0
# astroid is required by pylint and version 2.5.7 and 2.5.8 crashes
astroid==2.5.6
APScheduler==3.6.3
Babel==2.8.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
black
blinker==1.4
coveralls==2.1.2
debugpy
factory-boy
Flask==1.1.*
Flask-Admin==1.5.8
Flask-Cors==3.0.9
Flask-JWT-Extended==4.0.0
Flask-Limiter==1.4
Flask-Login==0.5.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
freezegun==0.3.12
GeoAlchemy2==0.8.4
google-auth==1.23.0
google-cloud-storage==1.35.0
google-cloud-tasks==2.3.0
gspread==3.6.0
gunicorn==20.0.4
inflect==4.1.0
isbnlib==3.10.3
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.3
mailjet-rest==1.3.3
MarkupSafe==1.1.1
mypy==0.812
nltk==3.5
notion-client==0.4.0
pgcli==2.2.0
Pillow>=8.1.1
pydantic[email]==1.8.2
PyJWT[crypto]==2.1.0
pylint==2.8.3
pylint-strict-informational
pytest-cov==2.10.1
pytest-flask==1.0.0
pytest-flask-sqlalchemy==1.0.2
python-keystoneclient==3.22.0
pytest-mock==3.3.1
pytest-dotenv==0.5.2
python-dotenv==0.14.0
python-json-logger==0.1.11
python-swiftclient==3.10.1
qrcode==6.1
# FIXME (dbaty, 2021-04-28): as of version 1.9 [1], requests_mock
# quotes URLs passed to Mocker. If we send a request on a URL that is
# not quoted, requests_mock does not find a match anymore and the test
# fails. This is the case on a few tests of the Mailjet client, which
# does not quote URLs in its `build_url()` function.
# [1] https://github.com/jamielennox/requests-mock/commit/f072845c0cb13c6c0fb18824160639a8bb3c7fe8
requests_mock==1.8.0
rq==1.5.2
schwifty==2020.9.0
semver==2.13.0
sentry-sdk==0.18.0
sib-api-v3-sdk
simplejson==3.17.2
spectree==0.3.15
SQLAlchemy==1.3.*
# FIXME (xordoquy, 2021-08-16): current apscheduler version (3.6.3)
# does not work with tzlocal 3+.
tzlocal<3.0.0
Werkzeug==1.0.1
wheel==0.35.1
WTForms-SQLAlchemy
phonenumberslite==8.12.23
tabulate==0.8.9