alembic
babel
bcrypt
colorthief
dateparser
Flask
flask_cors
flask-login
flask_sqlalchemy
flask_script
geoip2
gspread
gunicorn
hypothesis
inflect
isbnlib
luhn
mailjet_rest
nltk
oauth2client
pandas
PostgreSQL-Audit
psycopg2-binary
pytest
pytest-flask
pytest-mock
python-geoip
PyMemoize
python-swiftclient
requests
simplejson
wetransferpy
xlrd
