#
# Do not upgrade directly the following libs (incompatibility with other libs) :
# * jsonschema
# * PostgreSQL-Audit
# * psycopg2
# * psycopg2-binary (installed by building psycopg2 from the sources)
#
aiohttp==3.6.2
alembic==1.4.3
algoliasearch==2.4.0
APScheduler==3.6.3
asyncio==3.4.3
Babel==2.8.0
bcrypt==3.2.0
beautifulsoup4==4.9.2
blinker==1.4
coveralls==1.8.2
dateparser==0.7.6
flasgger==0.9.5
Flask-Admin==1.5.6
Flask-Cors==3.0.9
Flask-Login==0.5.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
freezegun==0.3.12
GeoAlchemy2==0.8.4
geopandas==0.8.1
gspread==3.6.0
gunicorn==20.0.4
inflect==3.0.2
isbnlib==3.10.3
luhn==0.2.0
lxml==4.5.2
mailjet-rest==1.3.3
mypy==0.782
nltk==3.5
pgcli==2.2.0
Pillow==7.2.0
pip-licenses==1.15.2
pipdeptree==1.0.0
PostgreSQL-Audit==0.10.0
pygsheets==2.0.3.1
pylint==2.6.0
PyMemoize==1.0.3
pytest-cov==2.10.1
pytest-flask==0.15.1
pytest-mock==1.11.2
python-dotenv==0.14.0
python-json-logger==0.1.11
python-keystoneclient==3.22.0
python-swiftclient==3.10.1
qrcode==6.1
rq==1.5.2
schwifty==2018.9.1
sentry-sdk==0.18.0
simplejson==3.17.2
wetransferpy==0.2.3
wheel==0.35.1
xlrd==1.2.0
