.loading-page {
  align-content: center;
  align-items: center;
  background-image: linear-gradient(to right, $teaser-gradient-start, $teaser-gradient-end);
  bottom: 0;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#loading-animation {
  height: rem(200px);
  width: rem(200px);
}
