.loading-page {
  align-content: center;
  align-items: center;
  background-image: $linear-gradient-to-right;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#loading-animation {
  height: rem(200px);
  width: rem(200px);
}
