.loading-page {
  position: absolute;
  background: linear-gradient(to right, $teaser-gradient-start, $teaser-gradient-end);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  #loading-animation {
    width: rem(200px);
    height: rem(200px);
    align-content: center;
  }
}
