.business-module-wrapper {
  padding: 0 1.45rem rem(24px) calc(1.25rem + 1.5%);
  width: 100%;

  .bmw-image-wrapper {
    position: relative;

    .bmw-image {
      border-radius: rem(8px);
      box-shadow: 0 rem(2px) rem(4px) 0 $black-shadow;
      height: rem(97px);
      object-fit: cover;
      width: 100%;
    }

    .bmw-text-wrapper {
      @include button;

      color: $white;
      display: flex;
      flex-direction: column;
      bottom: 0;
      justify-content: center;
      padding-left: rem(26px);
      position: absolute;
      height: 100%;
      width: 90%;
    }

    .bmw-icon-wrapper {
      align-items: center;
      display: flex;
      bottom: 0;
      justify-content: flex-end;
      padding-right: rem(15px);
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
}
