@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.allocine-provider-parameters-container {
  width: 100%;
  margin-top: rem.torem(16px);

  .title {
    @include fonts.title4;
  }

  .parameters-list {
    color: var(--color-grey-dark);

    .parameter-item {
      margin-top: rem.torem(8px);
    }

    span {
      color: var(--color-black);

      @include fonts.body-important;
    }
  }

  .edit-parameters-btn {
    margin-top: rem.torem(16px);
  }
}
