@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.delete-venue-provider-dialog {
  @media (min-width: size.$tablet) {
    min-width: rem.torem(636px);
  }

  .explanation {
    text-align: left;

    ul {
      list-style: disc;
      margin-left: rem.torem(32px);
    }
  }
}
