@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.venue-provider-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--color-border-subtle);
  padding: rem.torem(16px) rem.torem(24px) rem.torem(8px);
  width: 100%;
  gap: rem.torem(20px);
  max-width: rem.torem(486px);

  @media (min-width: size.$tablet) {
    width: rem.torem(486px);
    min-height: rem.torem(150px);
    gap: 0;
  }
}

.provider-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  @media (min-width: size.$tablet) {
    flex-direction: row;
    align-items: center;
  }
}

.provider-logo {
  height: rem.torem(40px);
  margin-right: rem.torem(16px);
}

.provider-name {
  @include fonts.title4;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.venue-provider-info-container {
  @include fonts.body-accent-xs;
}

.venue-provider-account-info {
  margin-bottom: rem.torem(8px);
}

.provider-actions-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem.torem(12px);

  @media (min-width: size.$tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0;
  }
}

.provider-actions-delete-and-inactivate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem.torem(12px);

  @media (min-width: size.$tablet) {
    flex-direction: row;
    align-items: center;
    gap: rem.torem(8px);
  }
}

.venue-id-at-offer-provider-container {
  display: flex;
  flex-direction: column;
  color: var(--color-text-subtle);
  margin-top: rem.torem(8px);
  gap: rem.torem(8px);
}

.last-synchronisation {
  &::before {
    background-color: var(--color-icon-success);
    border-radius: var(--border-radius-full);
    content: "";
    display: inline-block;
    height: rem.torem(8px);
    margin-right: rem.torem(8px);
    width: rem.torem(8px);
  }
}
