@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;

.venue-provider-row {
  align-items: normal;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: rem.torem(900px);
}

.venue-provider-item-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: rem.torem(900px);
}

.provider-name-container {
  @include fonts.caption;

  display: flex;
  flex-direction: column;
  gap: rem.torem(16px);
  background-color: var(--color-grey-light);
  border-radius: rem.torem(6px);
  padding: rem.torem(12px) rem.torem(20px);

  @media (min-width: size.$tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.provider-name {
  @include fonts.title4;
}

.provider-actions {
  display: flex;
  flex-direction: column;
  gap: rem.torem(8px);
  align-items: flex-start;

  @media (min-width: size.$tablet) {
    flex-direction: row;
    align-items: center;
  }
}

.provider-action-icon {
  width: rem.torem(20px);
  margin-right: rem.torem(8px);
}

.venue-id-at-offer-provider-container {
  display: flex;
  flex-direction: column;
  color: var(--color-grey-dark);
  font-size: rem.torem(15px);
  margin-top: rem.torem(8px);
  gap: rem.torem(8px);
}

.venue-id-at-offer-provider-message {
  color: var(--color-black);

  @include fonts.body-important;
}

.last-synchronisation {
  color: var(--color-grey-dark);

  @include fonts.highlight;

  &::before {
    background-color: var(--color-valid);
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: rem.torem(8px);
    margin-right: rem.torem(8px);
    width: rem.torem(8px);
  }
}
