.paginate-wrapper {
  align-items: center;
  justify-content: center;
  color: $black;
  display: flex;
  font-weight: $weight-medium;
  height: 100%;

  button {
    border: none;
    cursor:pointer;
    display: flex;
    align-items: center;
  }

  span {
    font-size: rem(14px);
    margin: 0 rem(16px);
    height: inherit;
  }
}
