.stocks-provider-form {
  margin-top: var(--size-spacing-l);
}

.aide-stock-button {
  margin-top: var(--size-spacing-xxl);
  color: var(--color-text-default);
}

.account-section {
  margin-bottom: var(--size-spacing-l);
}
