@import 'sass-rem';

.search-results {
  .offers-stats {
    margin-top: rem(24px);
    font-size: rem(12px);
    font-weight: 600;
  }

  ul.offers {
    display: grid;
    grid-gap: rem(20px);
    padding: 0;
    margin: rem(8px) 0;
  }

  .offers-loader {
    height: 100%;

    .loading-spinner {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;

      svg {
        height: rem(56px);
        width: rem(56px);

        .logo {
          fill: #870087;
        }
      }
    }
  }

  .offers-load-more {
    text-align: center;
    width: fit-content;
    margin: auto;

    &-text {
      font-weight: 600;
      font-size: rem(12px);
      margin-bottom: rem(10px);
    }
  }
}
