@import 'sass-rem';
@import 'styles';

.offer {
  display: flex;
  flex: 1;
  border: 1px solid #c7c8cb;
  border-radius: 8px;
  font-size: rem(15px);

  &-image-placeholder {
    width: rem(64px);
    background-color: #7b1e82;
    border-radius: rem(8px) 0 0 rem(8px);
    fill: $white;
    padding: rem(8px);
    box-sizing: border-box;

    &-showcase {
      background-color: $purple;
    }
  }

  &-container {
    padding: rem(18px);
    position: relative;
    width: 100%;
  }

  &-prebooking-button {
    position: absolute;
    right: rem(18px);
    top: rem(18px);
  }

  &-header {
    margin-bottom: rem(40px);

    &-title {
      margin: 0;
      font-size: rem(20px);
      font-weight: 700;
      padding-right: rem(150px);
    }

    .offer-venue-name {
      font-weight: 400;
      margin: 0;
    }

    .offer-domains-list {
      padding-left: unset;
      display: flex;
      flex-wrap: wrap;
      gap: rem(8px);

      &-item {
        list-style: none;
      }
    }

    & > *:not(:last-child) {
      margin-bottom: rem(8px);
    }
  }

  &-description {
    margin: 0 0 rem(24px);
    white-space: pre-line;
  }

  &-see-more {
    border: none;
    background-color: transparent;
    color: #eb0055;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;

    &-icon {
      margin-right: rem(10px);
      fill: #eb0055;

      &-closed {
        transform: rotate(180deg);
      }
    }
  }
}
