@use "styles/mixins/_rem.scss" as rem;

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  display: grid;
  grid-template-columns: [col-start] 1fr [col-main] 9fr 1fr;
  grid-template-rows: [row-header] rem.torem(16px) [row-main] minmax(0, 1fr);
  min-height: 100%;
}
