@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/fonts-design-system.scss" as fonts-design-system;

.title {
  @include fonts-design-system.title1;
}

.section {
  margin-top: rem.torem(32px);
}

.newsletter {
  margin-top: rem.torem(16px);
}

.step-section {
  margin-top: rem.torem(16px);
}

.reimbursements-banners {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: rem.torem(16px);
}
