@use "styles/mixins/_size.scss" as size;

.section {
  margin-top: var(--size-spacing-xxl);
}

.newsletter {
  margin-top: var(--size-spacing-l);
}

.step-section {
  margin-top: var(--size-spacing-l);
}

.reimbursements-banners {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-l);
  margin-top: var(--size-spacing-l);
}
