@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_a11y.scss" as a11y;

/**
 * TODO (mdesquilbet-pass, 2026-02-16): clean tmp style
 *      (used to display tmp cards while waiting for real ones)
 */
.container > * {
  width: 100%;
}

.top > * {
  height: auto;
}

.main > * {
  border: 2px solid rgb(7 57 90);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 30%);
  width: 100%;
  min-width: 300px;
  min-height: 200px;
}

.side > * {
  border: 2px solid rgb(7 57 90);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 30%);
  width: 100%;
  min-width: 200px;
  min-height: 150px;
}

/*
 * The real styling starts here
 */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "top-area top-area"
    "main-area side-area";
  gap: var(--size-spacing-xl);

  @media (max-width: size.$tablet) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "top-area"
      "main-area"
      "side-area";
  }
}

.top {
  grid-area: top-area;
}

.main {
  grid-area: main-area;
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-xl);
}

.side {
  grid-area: side-area;
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-xl);
}

.visually-hidden {
  @include a11y.visually-hidden;
}
