@use "styles/mixins/_fonts.scss" as fonts;

.card {
  margin-top: var(--size-spacing-xl);
}

.title {
  @include fonts.title4;

  margin-bottom: var(--size-spacing-s);
}

.content {
  text-align: center;
}

.actions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size-spacing-l);
  margin-top: var(--size-spacing-xl);
}
