@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

$connect-as-header-height: rem.torem(52px);

.layout {
  background-color: var(--color-background-subtle);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-layout {
  border-top: none;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;

  &-connect-as {
    height: calc(100% - $connect-as-header-height);
  }

  @media (min-width: size.$desktop) {
    margin: 0 auto;
    width: 100%;
  }
}

.content-wrapper {
  background-color: var(--color-background-default);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  &-with-vertical-scroll {
    overflow-y: auto;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  min-height: 0;
  padding: 0;
  width: 100%;
}

.content {
  margin: var(--size-spacing-xxl) auto 0 auto;
  max-width: size.$signup-content-width;
  min-height: calc(
    100vh -
      (
        size.$action-bar-sticky-height + size.$footer-height +
          size.$action-bar-sticky-height
      )
  );
  padding: var(--size-spacing-xl);

  @media screen and (min-width: size.$tablet) {
    padding-bottom: rem.torem(size.$action-bar-sticky-height);
  }
}

.content-flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 100%;
  min-height: 0;
  padding: size.$main-content-padding size.$main-content-padding 0;
  width: size.$main-content-width;
}
