.form-layout {
  &.small {
    width: rem(468px);
  }

  &-section {
    margin-bottom: rem(32px);

    &-header {
      margin-bottom: rem(24px);
    }

    &-description {
      margin-top: rem(16px);
    }
  }

  &-sub-section {
    margin-bottom: rem(32px);

    &-title {
      margin-bottom: rem(24px);
    }
  }

  &-row {
    margin-bottom: rem(38px);
    max-width: 100%;

    &.inline-group {
      display: flex;

      > *:not(:last-child) {
        margin-right: rem(24px);
      }
    }
  }

  &-actions {
    display: flex;
    margin-top: rem(64px);
  }

  &-action {
    width: rem(192px);
    margin-left: rem(24px);
    text-align: center;

    &:first-child {
      margin-left: 0;
    }
  }
}
