@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;

.expiration-cell {
  padding-top: 0;
}

.banner {
  padding: rem.torem(8px);
  border-radius: rem.torem(8px);
  background-color: var(--color-background-accent-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: rem.torem(8px);

  &.banner-expires-soon {
    background-color: var(--color-background-alert);
  }

  &-expiration {
    display: flex;
    align-items: center;
    gap: rem.torem(4px);
    flex-wrap: wrap;

    &-waiting {
      @include fonts.highlight;

      display: flex;
      align-items: center;
      gap: rem.torem(4px);
    }

    &-days-badge {
      @include fonts.highlight;

      background-color: var(--color-alert-dark);
      display: flex;
      align-items: center;
      gap: rem.torem(4px);
      padding: rem.torem(4px) rem.torem(8px);
      border-radius: rem.torem(4px);
    }
  }
}

@media (min-width: size.$tablet) {
  .banner-expiration {
    gap: rem.torem(16px);
  }
}


@media (max-width: size.$laptop) {
  .expiration-cell {
    display: block;
  }
}
