.no-filtered-bookings-wrapper {
  align-items: center;
  display:flex;
  justify-content: center;
  flex-direction: column;
  min-height: rem(400px);

  .nfb-icon {
    margin-bottom: rem(12px);
  }

  span {
    color: $grey-dark;
    font-size: rem(16px);

    &:first-of-type {
      margin-bottom: rem(16px);
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: $primary;
    font-weight: $weight-bold;
    font-size: rem(16px);
  }
}
