.search-page-algolia {
  @extend .page;
  @extend .with-footer;
  @extend .with-header;

  position: static;
  display: flex;
  flex-direction: column;

  .pc-footer {
    position: static;
  }
}

.home-header-wrapper {
  background: linear-gradient(108deg, $primary -6%, #D0005F 103%);
}

.header-search-main-page {
  padding: 0;
  background: none;
  align-items: flex-end;
  height: rem(50px);
  width: 90%;
  margin: 0 auto;

  .header-title {
    font-size: rem(18px);
  }

  .close-link {
    border-radius: 0;
    display: flex;
    padding: 0;
    text-align: center;
    width: auto;
    height: rem(22px);
    justify-content: center;
    align-items: center;

    .close-link-img {
      height: rem(15px);
      width: rem(16px);
    }
  }
}

.home-search-button-wrapper {
  bottom: $footer-height + rem(20px);
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.home-search-button {
  background-color: $primary;
  border-radius: 2rem;
  border: 0;
  font-size: rem(16px);
  font-weight: 700;
  height: rem(48px);
  width: 90%;
}

.home-minimize-search-button {
  width: 40%;
}

.home-text-input-back {
  background: $white;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  justify-content: flex-end;

  img {
    margin-left: rem(16px);
  }
}

.home-text-input-wrapper {
  display: flex;
  width: 90%;
  height: rem(48px);
  margin: 0 auto;
}

.home-text-input {
  border: 0;
  font-size: rem(20px);
  font-weight: 700;
  padding: rem(9px);
  width: 75%;

  &::placeholder {
    font-size: rem(18px);
    font-style: italic;
    font-weight: 400;
  }
}

.home-text-input-form {
  display: flex;
  justify-content: center;
  padding: rem(24px) 0;
  align-items: center;
}

.home-text-input-reset {
  align-items: center;
  background: $white;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  justify-content: center;
  width: 15%;
}

@media (min-width: $tablet) {
  .home-text-input {
    width: 80%;
  }

  .home-text-input-reset {
    width: 10%;
  }
}

.home-text-input-reset-button img {
  max-width: rem(18px);
}

.home-results-wrapper {
  background: $white;
  overflow-y: auto;
  flex-grow: 1;
}

.home-results-title {
  font-size: rem(15px);
  font-style: italic;
  font-weight: 600;
  margin-bottom: rem(12px);
  padding-left: rem(12px);
  padding-top: rem(12px);
  text-transform: uppercase;
}

.home-filter-list {
  align-items: center;
  background: $white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.search-criteria-separator {
  border-top: 1px solid $grey-even-more-light;
  width: 90%;
}

@media screen and (max-width: $iphone5-width) and (max-height: $iphone5-height) {
  .header-search-main-page {
    height: rem(30px);
  }

  .home-text-input-form {
    padding: rem(12px) 0;
  }
}
