.search-home-page {
  @extend .page;

  display: flex;
  flex-direction: column;
  position: static;

  .pc-footer {
    position: static;
  }
}

.sh-header-wrapper {
  background: linear-gradient(108deg, $primary -6%, #D0005F 103%);

  .home-header {
    align-items: flex-end;
    background: none;
    height: rem(30px);
    margin: 0 auto;
    padding: 0;
    width: 90%;

    .header-title {
      font-size: rem(18px);
    }

    .close-link {
      align-items: center;
      border-radius: 0;
      display: flex;
      height: rem(22px);
      justify-content: center;
      padding: 0;
      text-align: center;
      width: auto;

      .close-link-img {
        height: rem(15px);
        width: rem(16px);
      }
    }
  }
}

.sh-form {
  padding: rem(12px) 0;

  .sh-input-wrapper {
    display: flex;
    height: rem(48px);
    margin: 0 auto;
    width: 90%;

    .sh-input-back {
      background: $white;
      border-bottom-left-radius: 2rem;
      border-top-left-radius: 2rem;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      display: flex;
      justify-content: flex-end;

      img {
        margin-left: rem(16px);
      }
    }

    .sh-text-input {
      border: 0;
      font-size: rem(20px);
      font-weight: 700;
      padding: rem(9px);
      width: 75%;

      &::placeholder {
        font-size: rem(18px);
        font-style: italic;
        font-weight: 400;
      }
    }

    .sh-reset-wrapper {
      align-items: center;
      background: $white;
      border-radius: 0 2rem 2rem 0;
      display: flex;
      justify-content: center;
      width: 15%;

      .sh-reset-button img {
        max-width: rem(18px);
      }
    }
  }
}

.sh-criteria-list {
  align-items: center;
  background: $white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.sh-criteria-separator {
  border-top: 1px solid $grey-even-more-light;
  width: 90%;
}

.sh-search-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-bottom: rem(20px);
  width: 100%;

  .sh-search-button {
    background-color: $primary;
    border-radius: 2rem;
    border: 0;
    font-size: rem(16px);
    font-weight: 700;
    height: rem(48px);
    width: 90%;
  }
}

@media screen and (max-width: $iphone5-width) and (max-height: $iphone5-height) {
  footer {
    height: $footer-height / 2;
  }
}
