@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;

.offerers-page {
  .has-text-primary {
    align-items: center;
    color: colors.$primary;
    display: flex;
    justify-content: center;

    svg {
      height: rem.torem(24px);
      margin-right: rem.torem(4px);
    }

    svg .ico-plus {
      fill: colors.$primary;
    }
  }

  a.button {
    &.cta {
      &:focus,
      &:hover {
        background-color: transparent;
        color: colors.$primary;
      }

      border: 0;
      top: 5%;
    }
  }

  .form-search {
    align-items: flex-end;
    display: flex;
    flex-direction: row;

    label {
      flex: 2;
    }

    .input-text {
      margin-bottom: rem.torem(15px);
    }

    button {
      margin-bottom: rem.torem(15px);
    }
  }

  .title-action-links span {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .primary-button span {
    display: inline;
    margin-right: rem.torem(16px);
  }

  .secondary-button {
    margin-left: rem.torem(10px);
  }

  .pending {
    opacity: 0.5;
  }

  .validating-status {
    font-style: italic;
  }
}
