.verso-info {
  padding: $page-padding;

  .duo-logo {
    border-radius: 10px;
    font-size: rem(12px);
    font-weight: 600;
    padding-left: rem(1px);
    padding-right: rem(2px);
    padding-bottom: rem(1px);
  }

  .duo-label {
    padding-left: 2px;
  }

  .offerer {
    text-align: right;
    color: $primary;
    font-size: 1.2em;
    margin-left: 40%;
    margin-bottom: 1rem;
  }

  ul.dates-info {
    margin-bottom: 1rem;
    list-style: none;
    margin-left: 0;

    li + li {
      margin-top: 0.3rem;
    }
  }

  a.distance {
    padding: 0;
    font-weight: 500;
    color: $primary;
    font-size: 1.35rem;
    text-decoration: none;

    img {
      margin-left: 0.8rem;
    }
  }
}
