.verso-info {
  padding: $page-padding;

  .duo-logo {
    border-radius: 10px;
    font-size: rem(12px);
    font-weight: 600;
    padding-left: rem(1px);
    padding-right: rem(2px);
    padding-bottom: rem(1px);
  }

  .duo-label {
    padding-left: 2px;
  }

  .offerer {
    text-align: right;
    color: $primary;
    font-size: 1.2em;
    margin-left: 40%;
    margin-bottom: 1rem;
  }

  ul.dates-info {
    margin-bottom: 1rem;
    list-style: none;
    margin-left: 0;

    li + li {
      margin-top: 0.3rem;
    }
  }

  a.distance {
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    font-weight: 200;
    color: $primary;
    font-size: rem(16px);
    text-decoration: none;
    line-height: rem(29px);

    span {
      margin-left: 0.75rem;
    }
  }

  a.itinerary {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
    font-weight: bold;
    margin-top: 1em;
    padding: rem(6px) 0;
    border: rem(2px) solid $primary;
    border-radius: rem(24px);

    span {
      margin-left: 0.75rem;
    }
  }

  .geolocation-icon {
    height: 24px;
    width: 24px;
  }
}
