@import "sass-rem";

.venue-filter {
  display: flex;
  flex-direction: column;
  margin-top: rem(16px);

  .filter-label {
    font-weight: bold;
  }

  .venue-label {
    background-color: #c91074;
    border-radius: rem(12px);
    display: flex;
    margin-top: rem(4px);
    padding: rem(4px) rem(8px);
    width: fit-content;

    .venue-label-text {
      color: #fff;
      max-width: rem(600px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    svg {
      height: rem(20px);
      margin-left: rem(4px);
      width: rem(20px);
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
    }
  }
}
