@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

.modal-image-crop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem.torem(8px);

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-header {
    @include fonts.title3;

    margin-bottom: rem.torem(16px);
    line-height: rem.torem(16px);
  }

  &-right {
    min-width: fit-content;
    max-width: rem.torem(400px);
    margin-bottom: rem.torem(24px);
    text-align: center;
  }

  &-credit {
    width: 100%;
    margin-top: rem.torem(24px);
    padding-left: rem.torem(12px);
    padding-right: rem.torem(12px);
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    padding-left: rem.torem(6px);
    padding-right: rem.torem(12px);
  }
}
