@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.description-text {
  margin-bottom: rem.torem(24px);
}

.row-layout {
  width: rem.torem(570px);
}

.legend {
  border: none;

  @include fonts.title4;

  margin-bottom: rem.torem(24px);
}

.actions-layout {
  padding-top: rem.torem(24px);
}

.institution {
  margin: 0;
}

.banner-with-bin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner-space {
  margin-bottom: rem.torem(16px);
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
}
