@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/mixins/_fonts.scss' as fonts;

.description-text {
  margin-bottom: rem.torem(24px);

  &-italic {
    font-style: italic;
  }
}

.row-layout {
  width: 310px;
  margin-bottom: rem.torem(32px);

  &-large {
    width: rem.torem(488px);
  }
}

.legend {
  border:none;
  @include fonts.title4();
  margin-bottom: rem.torem(24px);
}

.actions-layout {
  padding-top: rem.torem(24px);
}

.institution {
  margin: 0;
}