@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  @include fonts.title3;

  margin-bottom: rem.torem(16px);
  line-height: rem.torem(16px);
}

.subtitle {
  color: colors.$grey-dark;
  margin-bottom: rem.torem(24px);
  line-height: rem.torem(16px);
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: rem.torem(24px);

  .button {
    margin: 0 rem.torem(12px);
    width: rem.torem(220px);
  }
}
