@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/mixins/_fonts.scss' as fonts;

.h-card {
  .od-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    margin-top: rem.torem(-8px);
    padding-bottom: rem.torem(8px);

    .input-select {
      width: 70%;

      select {
        margin-top: 0;
      }
    }

    .tertiary-button.od-primary {
      color: colors.$primary;

      & .svg-color {
        fill: colors.$primary;
      }
    }
  }

  .od-separator {
    background-color: colors.$grey-medium;

    &.horizontal {
      height: rem.torem(1px);
      margin-left: rem.torem(-16px);
      margin-right: rem.torem(-16px);
    }

    &.vertical {
      align-self: stretch;
      margin-bottom: rem.torem(-8px);
      margin-top: rem.torem(-8px);
      width: rem.torem(1px);

      &.small {
        align-self: center;
        height: rem.torem(20px);
      }
    }
  }

  .od-address {
    margin-left: rem.torem(8px);
  }

  .banner {
    margin: rem.torem(24px) 0;
  }
}
