@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_rem.scss' as rem;

.info-box {
    position: relative;
    border-top: 2px solid;
    padding-top: rem.torem(12px);
    padding-bottom: rem.torem(16px);
    font-weight: 600;

    &.info {
        border-color: colors.$tertiary;
        
        .info-box-title {
            color: colors.$tertiary
        }
    }

    &.important {
        border-color: colors.$primary;
        
        .info-box-title, .info-box-link {
            color: colors.$primary
        }

        .info-box-link-icon {
            fill: colors.$primary
        }
    }

    &-title {
        position: absolute;
        background-color: colors.$white;
        top: rem.torem(-15px);
        left: rem.torem(24px);
        display: flex;
        align-items: center;
        padding: 0 rem.torem(8px) 0 rem.torem(4px);
        font-size: rem.torem(12px);
    
        &-icon {
            margin-right: rem.torem(8px);
        }
    }

    &-link {
        margin-top: rem.torem(8px);
        display: flex;
        align-items: center;

        &-icon {
            margin-right: rem.torem(8px);
        }
    }
}
