@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_rem.scss' as rem;

.info-box {
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: rem.torem(4px);
    font-weight: 600;
  }

  &-bar {
    width: 100%;
    height: 2px;
    border-radius: rem.torem(10px);

    &:first-of-type {
      width: rem.torem(24px);
      flex: none;
    }
  }

  &-title {
    background-color: colors.$white;
    display: flex;
    align-items: center;
    padding: 0 rem.torem(8px);
    font-size: rem.torem(12px);
    flex: none;

    &-icon {
      margin-right: rem.torem(8px);
    }
  }

  &-link {
    margin-top: rem.torem(8px);
    display: flex;
    align-items: center;

    &-icon {
      margin-right: rem.torem(8px);
    }
  }
}

.info {
  .info-box-title {
    color: colors.$tertiary;
    padding-left: rem.torem(4px);
  }

  .info-box-bar {
    background: colors.$tertiary;
  }
}

.important {
  .info-box-title,
  .info-box-link {
    color: colors.$primary;
  }

  .info-box-link-icon {
    fill: colors.$primary;
  }

  .info-box-bar {
    background: colors.$primary;
  }
}
