@use "styles/mixins/_fonts.scss" as fonts;

.desk-message {
  @include fonts.body-accent-xs;

  white-space: pre-line;
  color: var(--color-valid);

  &.error {
    color: var(--color-error-light);
  }
}
