@use "styles/mixins/_fonts.scss" as fonts;

.desk-message {
  @include fonts.body-accent-xs;

  white-space: pre-line;

  &-default {
    color: var(--color-text-success);
  }

  &-error {
    color: var(--color-text-error);
  }

  &-success {
    color: var(--color-text-success);
  }
}
