@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

$offerers-gap: var(--size-spacing-l);
$medium-gap: var(--size-spacing-l);
$small-gap: var(--size-spacing-s);

.existing-offerers-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $offerers-gap;
}

.venues-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-background-subtle);
  padding: $medium-gap;
  gap: $medium-gap;
  border-radius: var(--size-border-radius-m);
  width: 100%;

  .venue-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $small-gap;

    li::before {
      content: "-";
      display: inline-block;
      width: 1em;
      margin-left: $small-gap;
    }
  }
}

.wrong-offerer-title {
  margin-bottom: $medium-gap;
  margin-top: var(--size-spacing-xxl);

  &.title-4 {
    margin-top: var(--size-spacing-xxxl);
  }
}

.title-4 {
  @include fonts.title4;
}

.dialog-content {
  margin-top: var(--size-spacing-xl);
}

.dialog-info {
  padding: 0 rem.torem(85px);
}

.button-add-new-offerer {
  margin-bottom: rem.torem(10px);
}

.existing-offerers-layout-wrapper {
  margin-bottom: var(--size-spacing-xxxl);
}
