@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

$offerers-gap: var(--size-spacing-l);
$medium-gap: var(--size-spacing-l);
$small-gap: var(--size-spacing-s);

.existing-offerers-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $offerers-gap;
}

.venues-layout {
  width: 100%;
}

.wrong-offerer-title {
  margin-bottom: var(--size-spacing-s);
  margin-top: var(--size-spacing-xxl);
}

.dialog-content {
  margin-top: var(--size-spacing-xl);
}

.dialog-info {
  padding: 0 rem.torem(85px);
}

.existing-offerers-layout-wrapper {
  margin-bottom: var(--size-spacing-xxxl);
}

.title {
  @include fonts.title1;

  margin-bottom: var(--size-spacing-s);
}

.subtitle {
  @include fonts.body-xs;

  color: var(--color-text-subtle, #696a6f);
  margin-bottom: var(--size-spacing-xxl);
}

.view-move-button {
  text-align: right;
}
