@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.existing-offerers-container {
  max-width: rem.torem(640px);
  margin-left: auto;
  margin-right: auto;
}

.main-heading {
  margin-bottom: var(--size-spacing-s);
}

.subheading-description {
  @include fonts.body-xs;

  color: var(--color-text-subtle);
  margin-bottom: var(--size-spacing-xxl);
}

.venues-layout {
  width: 100%;
}

.wrong-offerer-title {
  margin-bottom: var(--size-spacing-s);
  margin-top: var(--size-spacing-xxl);
}

.dialog-content {
  margin-top: var(--size-spacing-xl);
}

.dialog-info {
  padding: 0 rem.torem(85px);
}

.view-move-button {
  text-align: right;
}

.next-actions {
  margin-top: var(--size-spacing-xxl);
  display: flex;
  justify-content: space-between;
}
