@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.confirmation-container {
  text-align: center;
}

.display-in-app-link {
  margin-bottom: var(--size-spacing-xl);
}

.confirmation-details {
  margin-bottom: rem.torem(20px);
}

.confirmation-actions {
  display: flex;
  flex-direction: column-reverse;

  > :last-child {
    margin-bottom: var(--size-spacing-l);
  }
}

@media (min-width: size.$tablet) {
  .confirmation-actions {
    display: inline;
    padding-bottom: var(--size-spacing-xl);

    > :first-child {
      margin-right: var(--size-spacing-xl);
    }
  }
}
