.button {
  @include button();
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-radius: rem(24px);
  height: rem(40px);
  line-height: rem(36px);
  padding: 0 rem(16px);

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled,
  &.button-disabled {
    cursor: default;
  }

  &-icon {
    height: rem(20px);
    margin-right: rem(6px);
    margin-left: rem(-4px); // compensate for icon white space adding to padding
    width: rem(20px);
  }

  &-primary {
    color: $white;
    background-color: $primary;
    border-color: $primary;

    &:hover,
    &:focus {
      background-color: $primary-dark;
      border-color: $primary-dark;
    }

    &:disabled,
    &.button-disabled {
      background-color: $primary-disabled;
      border-color: $primary-disabled;
    }
    &:disabled .button-icon,
    &.button-disabled .button-icon {
      fill: $grey-medium;
    }
  }

  &-secondary {
    color: $primary;
    background-color: $white;
    border-color: $primary;

    &:hover,
    &:focus {
      color: $white;
      background-color: $primary-dark;
      border-color: $primary-dark;
    }

    &:disabled,
    &.button-disabled {
      background-color: $white;
      border-color: $primary-disabled;
      color: $primary-disabled;
    }
    &:disabled .button-icon,
    &.button-disabled .button-icon {
      fill: $grey-medium;
    }
  }

  &-ternary {
    color: $black;
    background-color: transparent;
    border-color: transparent;
    padding: 0 rem(8px);

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:disabled,
    &.button-disabled {
      color: $grey-medium;
      text-decoration: none;
    }
    &:disabled .button-icon,
    &.button-disabled .button-icon {
      fill: $grey-medium;
    }
  }
}
