@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

.button {
  @include fonts.button();

  display: flex;
  align-items: center;
  border: rem.torem(2px) solid;
  border-radius: rem.torem(24px);
  height: rem.torem(40px);
  padding: 0 rem.torem(16px);

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled,
  &.button-disabled {
    cursor: default;
  }

  &-icon {
    height: rem.torem(20px);
    margin-right: rem.torem(8px);
    width: rem.torem(20px);
    flex-shrink: 0;
  }

  &-primary {
    color: colors.$white;
    background-color: colors.$primary;
    border-color: colors.$primary;

    &:hover,
    &:focus {
      background-color: colors.$primary-dark;
      border-color: colors.$primary-dark;
    }

    &:disabled,
    &.button-disabled {
      background-color: colors.$primary-disabled;
      border-color: colors.$primary-disabled;
    }

    &:disabled .button-icon,
    &.button-disabled .button-icon {
      fill: colors.$grey-medium;
    }

    .button-icon {
      fill: colors.$white;
    }
  }

  &-secondary {
    color: colors.$primary;
    background-color: colors.$white;
    border-color: colors.$primary;

    &:hover,
    &:focus {
      color: colors.$white;
      background-color: colors.$primary-dark;
      border-color: colors.$primary-dark;
    }

    &:disabled,
    &.button-disabled {
      background-color: colors.$white;
      border-color: colors.$primary-disabled;
      color: colors.$primary-disabled;
    }

    &:disabled .button-icon,
    &.button-disabled .button-icon {
      fill: colors.$grey-medium;
    }

    .button-icon {
      fill: colors.$primary;
    }
  }

  &-ternary {
    @include fonts.button();

    color: colors.$black;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    border: none;
    height: auto;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:disabled,
    &.button-disabled {
      color: colors.$grey-dark;
      text-decoration: none;
    }

    &:disabled .button-icon,
    &.button-disabled .button-icon {
      fill: colors.$grey-dark;
    }
  }
}
