.mon-avatar {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: rem(22px) 0;
  padding: 0.75rem;

  img {
    height: rem(80px);
    min-height: rem(80px);
    min-width: rem(80px);
    width: rem(80px);
  }

  span {
    font-size: rem(18px);
    font-weight: 500;
    margin-left: rem(12px);
  }
}
