.mi-separator {
  height: 1px;
  background-color: $grey-even-more-light;
  margin: 0 rem(22px);
}

.mi-link {
  align-items: center;
  border-bottom: 1px solid $grey-even-more-light;
  color: $black;
  display: flex;
  font-size: rem(16px);
  font-weight: 600;
  margin: 0 rem(22px);
  padding: rem(24px) 0;
  text-decoration: none;
}

.mi-link-label {
  flex: 1;
  margin-left: rem(16px);
}
