.rc-end-validity-date {
  margin: 0 rem(21px);   
}


.rc-gauges {
  display: flex;
}

.rc-gauges-container{
  @extend .dotted-bottom-black;

  padding: 0 rem(17px) rem(17px) rem(17px);
}

.rc-informations-container {
  background: $grey-even-more-light;
  border-top-left-radius: rem(6px);
  border-top-right-radius: rem(6px);
  margin: rem(21px) rem(21px) rem(21px) rem(21px);
}

.rc-gauges-title {
  font-weight: 500;
  padding-top: rem(24px);
  padding-bottom: rem(24px);
}

.rc-header {
  background-image: linear-gradient(to right, $primary, $purple-blue);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  border-top-left-radius: rem(6px);
  border-top-right-radius: rem(6px);
  display: flex;
  padding: rem(17px);

  div {
    padding-left: rem(24px);
  }

  h3 {
    color: $white;
    font-size: rem(16px);
    font-weight: 400;
  }

  p {
    color: $white;
    font-weight: 500;
    font-size: rem(40px);
  }
}

.rc-read-more {
  padding: rem(17px);
}

.rc-read-more-arrow {
  transform: rotate(180deg);
}

.rc-read-more-arrow-is-flipped {
  transform: rotate(0deg);
}

.rc-read-more-button{
  @extend .no-decoration;

  color: $black;
  display: flex;
  font-size: rem(16px);
  font-weight: 700;
}

.rc-read-more-button{
  text-align: left;
}

.rc-read-more-content {
  display: none;
  padding-top: rem(8px);
}

.rc-read-more-content-is-visible {
  display: block;
}

.rc-title {
  @extend .is-primary-text;
  
  font-size: rem(18px);
  font-weight: 500;
  margin-left: rem(21px);
  margin-top: rem(25px);
  padding-bottom: rem(8px);
}

.rc-title-container {
  @extend .dotted-bottom-primary;
}

.app-version {
  font-size: 0.7rem;
  padding-right: 0.5rem;
  text-align: right;
}

.page-profil {
  .page {
    background: $white;
  }
}

