@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.mandatory-info {
  @include fonts.body-xs;

  margin-bottom: var(--size-spacing-xxl);
  color: var(--color-text-subtle);
}

.title {
  @include fonts.title1;

  margin-bottom: var(--size-spacing-xxl);
  overflow-wrap: anywhere;
}

.resetpassword-wrapper {
  max-width: size.$signup-content-width;
  margin: 0 auto;
}
