.event-occurrences-and-stocks-manager {

  .info {
    @extend .is-absolute;
    @extend .level;

    background-color: rgba($black, 0.8);
    bottom: 0;
    margin-bottom: 0 !important;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11000;

    .content {
      @extend .level-item;
      @extend .p24;

      background-color: $white;
      margin: auto;
      min-height: 200px;
      max-width: 50%;
    }
  }

  .event-occurrences-and-stocks-table-wrapper {
    .hero-section {
      text-align: left !important;
    }

    position: relative;
    max-height: 60vh;
    min-height: 500px;
    overflow-y: auto;

    table.event-occurrences-and-stocks-table {
      &.small {
        margin: 5rem;
        td {
          input {
            width: 50%;
          }
        }
      }

      // width: 80vw;
      thead,
      tbody {
        // display: block;
        width: 100%;
        tr {
          width: 100%;

          @include dotted($primary, bottom);

          &.inactive {
            &:hover {
              background-color: transparent;
            }
          }

          td {
            text-align: center;
            border: none;

            &:first-child {
              width: 20%;
            }

            input.date {
              width: 100px;
            }
            input[type='time'] {
              padding-left: 1rem;
            }
            input[readonly]::placeholder {
              color: $black;
            }
            input[readonly]::-webkit-input-placeholder{
              color: $black;
            }
            input[readonly]::-moz-placeholder {
              color: $black;
            }
            input[readonly]:-moz-placeholder {
              color: $black;
            }
          }
          td.tooltiped {
            white-space: nowrap;
            span.tooltip {
              background-color: transparent;
              padding: 0;
              margin: -4px 0 0 2px;
              z-index: 10500;
            }
          }
        }
      }

      thead {
        tr {
          td {
            font-weight: $weight-bold;
            vertical-align: middle;
            padding: 1rem;
          }
        }
      }
    }
  }
}
