.stocks-manager {
  td.remaining-stock {
    color: #757575;
    font-size: 0.75rem;
    font-weight: 500;
    min-width: 75px;
  }

  .has-text-weight-bold{
    text-transform: uppercase;
  }

  .info {
    @extend .is-absolute;
    @extend .level;

    background-color: rgba($black, 0.8);
    bottom: 0;
    margin-bottom: 0 !important;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11000;

    .content {
      @extend .level-item;
      @extend .p24;

      background-color: $white;
      margin: auto;
      min-height: 200px;
      max-width: 50%;
    }
  }

  .stocks-table-wrapper {
    .hero-section {
      text-align: left !important;
    }

    max-height: 60vh;
    min-height: 500px;
    overflow: auto;

    table.stocks-table {
      &.small {
        margin: 5rem;
        padding: 6px;
        td {
          input {
            width: 100%;
          }
        }
      }

      thead,
      tbody {
        width: 100%;
        tr {
          width: 100%;

          @include dotted($primary, bottom);

          &.inactive {
            &:hover {
              background-color: transparent;
            }
          }

          td {
            text-align: center;
            border: none;
            max-width: 120px;

            input[type='time'] {
              padding-left: 1rem;
            }
            input[readonly]::placeholder {
              color: $black;
            }
            input[readonly]::-webkit-input-placeholder{
              color: $black;
            }
            input[readonly]::-moz-placeholder {
              color: $black;
            }
            input[readonly]:-moz-placeholder {
              color: $black;
            }
          }
          td.tooltiped {
            white-space: nowrap;
            span.tooltip {
              background-color: transparent;
              padding: 0;
              z-index: 10500;
            }
          }
        }
      }

      thead {
        tr {
          td {
            font-weight: $weight-bold;
            vertical-align: middle;
            padding: 1rem;
          }
        }
      }
    }
  }
}
