.venue-providers-manager {
  form {
    width: 100%;
  }

  .venue-provider-table {
    display: flex;
    flex-direction: row;
    width: 100%;

    .provider-container {
      display: flex;

      .field-select {
        border-radius: 17px;
        border: 2px solid $grey-dark;
        background-image: url('/icons/dropdown-disclosure-down-s-w.svg');
        font-size: small;
        height: 24px !important;
        min-height: 24px !important;
        min-width: 174px !important;
        overflow: hidden;
        padding-left: 5px;
        width: 174px !important;
      }

      .provider-picto {
        width: 30px;
      }
    }

    .venue-id-at-offer-provider-container {
      margin-left: 10px;

      .field-text {
        height: 24px !important;
        min-height: 24px !important;
        min-width: 120px !important;
        width: 174px !important;

        .field-label {
          font-size: small;
          padding-bottom: 0;
        }
      }

      .field-is-read-only {
        margin-left: 0;
      }

      .import-label-container {
        margin-top: 0;
      }
    }

    .provider-import-button-container {
      margin-left: auto;

      .provider-import-button {
        height: 28px;
        width: 91px;
      }
    }

    .tooltip {
      padding: 4px;

      &.tooltip-info {
        margin-left: 6px !important;
      }
    }
  }
}
