@use "styles/mixins/_fonts.scss" as fonts;

.checkbox-group {
  &-description {
    @include fonts.body-accent-s;

    margin-top: var(--size-spacing-xs);
    color: var(--color-text-subtle);
  }

  &.label-as-text .checkbox-group-description {
    @include fonts.body-accent-xs;
  }

  &-error {
    @include fonts.body-accent-s;

    margin-top: var(--size-spacing-xs);
    color: var(--color-text-error);

    &-icon {
      color: var(--color-text-error);
      margin-right: var(--size-spacing-xs);
      vertical-align: middle;
    }
  }

  &-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--size-spacing-s);
    padding: 0;
    list-style: none;
  }

  // Layouts
  &.display-vertical .checkbox-group-options {
    flex-direction: column;
  }

  &.display-horizontal .checkbox-group-options {
    flex-direction: row;
  }

  &.variant-default.display-vertical .checkbox-group-options {
    row-gap: var(--size-spacing-xl);
  }

  &.variant-default.display-horizontal .checkbox-group-options {
    gap: var(--size-spacing-l);
  }

  &.variant-detailed.display-vertical .checkbox-group-options {
    row-gap: var(--size-spacing-s);
  }

  &.variant-detailed.display-horizontal .checkbox-group-options {
    gap: var(--size-spacing-l);
  }
}
