@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.checkbox-group {
  &-header {
    display: flex;
    flex-direction: column;
    gap: rem.torem(4px);
    margin-bottom: rem.torem(8px);
  }

  &-label {
    @include fonts.title2;

    color: var(--color-text-default);

    &.disabled {
      color: var(--color-text-disabled);
    }
  }

  &-description {
    @include fonts.body;

    color: var(--color-text-subtle);

    &.disabled {
      color: var(--color-text-disabled);
    }
  }

  &-error {
    @include fonts.body-accent-s;

    color: var(--color-text-error);
    margin-bottom: 0;
  }

  &-options {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  // Layouts
  &.display-vertical .checkbox-group-options {
    flex-direction: column;
  }

  &.display-horizontal .checkbox-group-options {
    flex-direction: row;
  }

  &.variant-default.display-vertical .checkbox-group-options {
    row-gap: rem.torem(24px);
  }

  &.variant-default.display-horizontal .checkbox-group-options {
    gap: rem.torem(16px);
  }

  &.variant-detailed.display-vertical .checkbox-group-options {
    row-gap: rem.torem(8px);
  }

  &.variant-detailed.display-horizontal .checkbox-group-options {
    gap: rem.torem(16px);
  }
}
