@import 'sass-rem';

.offer-details {
  white-space: pre-line;
  &-title {
    font-size: rem(20px);
    font-weight: bold;
    margin: rem(20px) 0;
  }

  &-list {
    list-style: none;
    padding: 0;
  }
}
