.exit-offer-creation-dialog {
  padding: 0 rem(60px);
  text-align: center;

  svg {
    height: rem(124px);
    width: rem(197px);
  }

  p {
    margin-top: rem(25px);
    width: rem(350px);
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin: rem(30px) auto 0;
    width: 90%;

    button {
      padding: 0 rem(44px);
    }
  }
}
