@use "styles/mixins/_fonts.scss" as fonts;

.bookings-count {
  @include fonts.body-accent-xs;

  line-height: unset;
  padding: 0 var(--size-spacing-s);
  background-color: var(--color-background-brand-primary);
  color: var(--color-text-inverted);
  border-radius: var(--size-border-radius-pill);
  margin-left: var(--size-spacing-s);
}
