.loader {
  align-items: center;
  background-color: $primary;
  background-image: linear-gradient(to right, $teaser-gradient-start, $teaser-gradient-end);
  color: $white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $zindex-application-loader;
}

.loader-title {
  @include h1();

  margin: rem(16px) 0;
}

.loader-message {
  color: $white;
  margin-bottom: rem(48px);
  text-align: center;
  width: rem(240px);
}

.loader-refresh {
  border: 2px solid $white;
  border-radius: rem(20px);
  font-size: rem(16px);
  font-weight: 600;
  padding: rem(10px) rem(30px);
}
