.loader {
  align-items: center;
  background-color: $primary;
  background-image: $linear-gradient-to-right;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader-title {
  @include h1();

  margin: rem(16px) 0;
}

.loader-message {
  color: $white;
  text-align: center;
  width: rem(240px);
}

.loader-refresh {
  border: 2px solid $white;
  border-radius: rem(20px);
  font-size: rem(16px);
  font-weight: 600;
  margin-top: rem(48px);
  padding: rem(10px) rem(30px);
}
