.no-bookings {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: rem(400px);

  .no-bookings-icon {
    height: rem(124px);
    width: rem(124px);
  }

  .no-bookings-message {
    color: $grey-dark;
  }
}
