@use "styles/mixins/_fonts.scss" as fonts;

.hook {
  @include fonts.body-accent-xs;

  font-weight: 600;
  font-style: italic;
}

.text {
  @include fonts.body-xs;

  margin-top: var(--size-spacing-s);
}

.list {
  list-style: inside;
  margin-top: var(--size-spacing-s);
}
