@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.reimbursement-subtitle {
  margin: rem.torem(24px) 0;
  font-size: rem.torem(15px);

  .text-hightlight {
    @include fonts.body-exergue;
  }
}

.text-dialog {
  margin-bottom: rem.torem(30px);
}

.dropdown-container {
  display: flex;
  align-items: center;
  margin: rem.torem(24px) 0;
  flex-wrap: wrap;

  .select {
    width: 100%;
    margin-bottom: rem.torem(16px);
  }

  .select > select {
    text-overflow: ellipsis;
  }

  .space-text-left {
    margin-left: rem.torem(10px);

    @include fonts.body-important;
  }
}

.siret-valid-icon {
  color: var(--color-valid);
}

.desk-callout {
  margin-top: rem.torem(16px);
}
