@import "design-system/build/css/font-faces.css";

//  The following font-faces are legacy
//  They are not part of the design system and the goal is to replace them with DS typos
//  Until they are replaced, they should remain here
@font-face {
  font-family: Montserrat-Regular;
  font-weight: 400;
  font-style: normal;
  font-display: "swap";
  src:
    local("Montserrat Regular"),
    local("Montserrat-Regular"),
    url("/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Montserrat-RegularItalic;
  font-style: italic;
  font-weight: 400;
  font-display: "swap";
  src:
    local("Montserrat Italic"),
    local("Montserrat-Italic"),
    url("/fonts/Montserrat-Italic.woff2") format("woff2");
}

@font-face {
  font-family: Montserrat-ExtraBold;
  font-weight: 800;
  font-style: normal;
  font-display: "swap";
  src:
    local("Montserrat ExtraBold"),
    local("Montserrat-ExtraBold"),
    url("/fonts/Montserrat-ExtraBold.woff2") format("woff2");
}
