/* stylelint-disable pass-culture/no-font-properties */
// regular
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('../../fonts/Montserrat-Italic.ttf') format('truetype');
}

// medium
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('../../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('../../fonts/Montserrat-MediumItalic.ttf') format('truetype');
}

// semi-bold
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('../../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url('../../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
}

// bold
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('../../fonts/Montserrat-Bold.ttf') format('truetype');
}

// extra-bold
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url('../../fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url('../../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}
