/* stylelint-disable pass-culture/no-font-properties */
// regular
@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src:
    url("/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  src:
    url("/fonts/Montserrat-Italic.woff2") format("woff2");
}

// medium
@font-face {
  font-family: Montserrat;
  font-weight: 500;
  src:
    url("/fonts/Montserrat-Medium.woff2") format("woff2");
}

// semi-bold
@font-face {
  font-family: Montserrat;
  font-weight: 600;
  src:
    url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
}

// bold
@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src:
    url("/fonts/Montserrat-Bold.woff2") format("woff2");
}

// extra-bold
@font-face {
  font-family: Montserrat;
  font-weight: 800;
  src:
    url("/fonts/Montserrat-ExtraBold.woff2") format("woff2");
}
