@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.field-group {
  display: table;
  margin-bottom: rem.torem(16px);
  width: 100%;
}

input.input,
.select select,
textarea.textarea {
  @include fonts.body();

  &[readonly]:not([type='checkbox']) {
    background-color: transparent;
    border: none;
    padding-left: rem.torem(2px);
    resize: none;
  }
}

:not(output):-moz-ui-invalid {
  box-shadow: none;
}

.field-profil-input {
  width: 100%;
}

.field {
  &.field-siren {
    input {
      width: rem.torem(128px);
    }

    .display-name {
      @include fonts.button();

      color: colors.$black;
      display: inline-block;
      padding-left: rem.torem(4px);
      padding-top: rem.torem(8px);
      text-transform: uppercase;
    }
  }

  &.field-checkbox {
    align-items: center;
    display: flex;
  }

  &.has-addons {
    &:focus-within .button {
      border-color: colors.$primary;
    }

    .control {
      .button {
        border-width: rem.torem(2px);
        height: 100%;

        &:focus {
          border-color: colors.$grey-medium;

          &:not(:active) {
            box-shadow: none;
          }
        }
      }

      &:last-child {
        .button {
          border-left: none;
        }
      }

      &:not(:last-child) {
        .input {
          border-right: none;
        }

        &.with-info {
          .button {
            border-bottom-right-radius: rem.torem(18px);
            border-top-right-radius: rem.torem(18px);
          }
        }
      }
    }
  }

  &.is-horizontal {
    &.field-bic,
    &.field-checkbox,
    &.field-file,
    &.field-email,
    &.field-select,
    &.field-siren,
    &.field-siret,
    &.field-iban,
    &.field-text {
      height: rem.torem(54px);

      &.readonly {
        height: rem.torem(38px);
      }
    }

    &.field-textarea {
      textarea {
        margin-bottom: rem.torem(18px);
      }
    }

    display: table-row;
    margin-bottom: rem.torem(18px);

    .field-label,
    .field-body {
      display: table-cell;

      .columns {
        &:last-child {
          margin-bottom: rem.torem(16px);
        }
      }
    }

    .field-label {
      padding-right: rem.torem(16px);
      padding-top: rem.torem(8px);
      vertical-align: top;
      white-space: nowrap;

      .label {
        color: colors.$black;
        margin-bottom: 0;
      }

      &.readonly {
        padding-right: 0;
      }
    }

    .field-body {
      width: 100%;

      .select.readonly {
        &::after {
          display: none !important;
        }

        select[disabled] {
          background-color: transparent;
          border: none;
          color: colors.$black;
          cursor: default;
          opacity: 1;
          padding-left: rem.torem(2px);
        }
      }

      textarea.textarea {
        border-radius: rem.torem(18px);
      }

      .control:not(.is-expanded):not(.control-checkbox) {
        input,
        .select {
          width: auto;
        }
      }

      .control-checkbox {
        margin-top: rem.torem(8px);
      }

      .control-file {
        align-items: center;
        display: flex;
        justify-content: flex-start;
      }
    }
  }

  .help {
    .column {
      line-height: initial;

      &:first-child {
        flex: none;
        width: 6%;
      }

      &:not(:last-child) {
        padding-right: rem.torem(4px);
      }
    }
  }

  .required:not(.readOnly) {
    &::after {
      color: colors.$accent;
      content: ' *';
      display: inline;
    }
  }
}

.required-legend {
  color: colors.$accent;
}

div.control.control-duration {
  input.field-input.field-duration {
    width: rem.torem(88px) !important;
  }
}

ul.help {
  img {
    vertical-align: text-bottom;
  }
}
