@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.field-group {
  display: table;
  margin-bottom: rem.torem(16px);
  width: 100%;
}

.field-control {
  padding: rem.torem(8px) 0;
}

.field-label {
  @include fonts.title4();

  color: colors.$black;
  margin-bottom: rem.torem(12px);
  padding-bottom: rem.torem(6px);
  padding-right: rem.torem(12px);
  white-space: nowrap;

  &.empty {
    margin: 0;
    min-height: 0;
    padding: 0;
  }
}

.field-asterisk {
  color: colors.$accent;
  margin-left: rem.torem(2px);
}

.field-inner {
  background-color: colors.$white;
}

.checkbox-field {
  display: flex;

  svg {
    margin-top: rem.torem(-2px);
  }
}

.checkbox-field,
.checkboxes-field {
  .field-inner {
    @include fonts.body-important();

    border: none;
    border-radius: 0;
    color: colors.$black;
    padding-left: rem.torem(4px);
  }
}

.field-select {
  @include fonts.body-important();

  appearance: none;
  background-position: 97.5% 50%;
  background-repeat: no-repeat;
  border: none;
  border-radius: rem.torem(16px);
  min-height: rem.torem(36px);
  min-width: rem.torem(250px);
  outline: none !important;
  padding-left: rem.torem(24px);
  width: rem.torem(250px);
}

.field-textarea {
  resize: none;
  width: 100%;

  textarea {
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
  }
}

.field-checkbox,
.field-checkboxes,
.field-input,
.field-textarea,
.field-select {
  color: colors.$black;
}

.field-input,
.field-textarea {
  @include fonts.body-important();

  border: rem.torem(1px) solid colors.$grey-medium;
  border-radius: rem.torem(18px);
  flex: 1;
  outline: none !important;
  padding: rem.torem(6px) rem.torem(18px);

  &:focus {
    border-color: colors.$primary;
  }

  &::placeholder {
    font-weight: 400;
  }
}

.field-date {
  height: rem.torem(32px);
  padding: rem.torem(6px);

  input.date {
    @include fonts.preview-text();

    border: 0;
    min-width: rem.torem(60px);
    text-align: center;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  img {
    height: rem.torem(15px);
    width: rem.torem(15px);
  }
}

.field-time,
.field-number {
  text-align: center;
}

.textarea-field,
.texteditor-field {
  .field-label {
    padding-top: rem.torem(8px);
    vertical-align: middle;
  }

  .field-inner {
    width: 100%;
  }

  .character-count {
    @include fonts.preview-text();
  }
}

.texteditor-field {
  .controls-bar {
    margin-bottom: rem.torem(8px);
    overflow-y: hidden;

    button {
      border: rem.torem(2px) solid colors.$grey-medium;
      border-radius: 0;
      margin-right: 0;

      &:first-child {
        border-radius: rem.torem(5px) 0 0 rem.torem(5px);
        border-right: 0;
      }

      &:last-child {
        border-left: 0;
        border-radius: 0 rem.torem(5px) rem.torem(5px) 0;
      }

      .icon {
        height: rem.torem(30px);
        width: rem.torem(30px);
      }

      &.clicked {
        background-color: colors.$grey-medium;
      }
    }
  }
}

.field {
  &:not(:last-child) {
    margin-bottom: rem.torem(16px);
  }

  &.is-read-only {
    .field-inner {
      background-color: transparent;
      border: none;
      padding-left: rem.torem(4px);
      resize: none;

      .field-checkbox,
      .field-checkboxes {
        input[type='checkbox'] {
          opacity: 1;
        }
      }

      .field-checkbox,
      .field-checkboxes,
      .field-input,
      .field-textarea,
      .field-select {
        @include fonts.body-important();

        background-color: transparent;
        border: 0;
        opacity: 1;

        &:focus {
          outline: none;
        }
      }

      .field-select {
        background-image: none;
        cursor: default;
        opacity: 1;
      }
    }
  }

  &.is-label-aligned {
    display: table-row;

    .field-label,
    .control {
      display: table-cell;
    }

    .field-label {
      padding-bottom: rem.torem(32px);
    }

    .field-control {
      display: table-cell;
      padding-bottom: 0;
      padding-top: 0;
      width: 100%;

      .field-value {
        .field-inner {
          .field-input {
            border-radius: rem.torem(20px);
            height: rem.torem(36px);
            width: inherit;
          }
        }
      }
    }
  }
}

.field-errors {
  @include fonts.caption();

  color: colors.$primary;
  display: flex;
  min-height: rem.torem(24px);

  .field-error-icon {
    flex-shrink: 0;
    margin-right: rem.torem(12px);
    margin-top: rem.torem(2px);
    width: rem.torem(16px);
  }
}

.input[type='email'],
.input[type='text'],
.input[type='url'] {
  @include fonts.body();

  align-items: center;
  appearance: none;
  border: rem.torem(1px) solid colors.$grey-medium;
  border-radius: rem.torem(20px);
  box-shadow: none;
  display: inline-flex;
  height: rem.torem(36px);
  justify-content: flex-start;
  line-height: 1.5;
  outline: none;
  padding: rem.torem(6px) rem.torem(18px);
  position: relative;
  vertical-align: top;
}
