/* stylelint-disable selector-class-pattern */

@use "styles/mixins/_fonts.scss" as fonts;

body {
  color: var(--color-black);
  background-color: var(--color-white);
}

body,
button,
input,
select,
p,
textarea {
  @include fonts.body;
}

strong, b {
  font-family: var(--typography-body-accent-font-family);
}

em {
  font-family: var(--typography-body-italic-font-family);
}
