@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/variables/_colors.scss' as colors;

.columns,
.field.is-grouped {
  display: flex;
}

main {
  .section {
    margin-bottom: 2rem;
    padding-bottom: 0;
    padding-top: 0;

    .main-list-title {
      @include fonts.title4();

      border-bottom: thin solid colors.$grey-medium;
      margin: 0.75rem 0;
      padding-bottom: 0.5rem;

      .main-list-title-text {
        @include fonts.title4();
      }

      span {
        margin-top: 3.5px;
      }
    }

    .title-actions-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .advice {
    @include fonts.title4();

    margin-bottom: rem.torem(32px);

    a {
      border-bottom: 1px solid;

      &:focus,
      &:hover {
        color: colors.$primary;
      }
    }
  }

  &.fullscreen {
    grid-column-end: end-line;
    grid-column-start: col-start;
    grid-row-end: end-line;
    grid-row-start: row-nav;
    height: 100vh;

    .container {
      display: flex;
      max-width: 1000px;
      min-height: 100%;
      width: 1000px;

      .columns {
        min-height: 100%;
      }
    }
  }

  &.container {
    grid-column-start: col-main;
    grid-row-end: row-footer;
    grid-row-start: row-header;

    .page-content {
      background: colors.$white;
      box-shadow: 0 0 3.75rem colors.$black-shadow;
      border-radius: rem.torem(10px);

      .after-notification-content {
        padding: rem.torem(24px);
        position: relative;

        &.with-padding {
          padding-top: rem.torem(74px);
        }
      }
    }
  }

  &.spinner-container {
    grid-column-start: col-main;
    grid-row-start: row-main;
  }
}
