/* stylelint-disable selector-class-pattern */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-synthesis: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-style: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}
