:root {
  // GENERAL COLORS
  --color-white: #fff;
  --color-grey-light: #f1f1f4;
  --color-grey-medium: #cbcdd2;
  --color-grey-semi-dark: #90949d;
  --color-grey-dark: #696a6f;
  --color-black: #161617;

  // SHADOWS COLORS
  --color-medium-shadow: #67686b29;
  --color-large-shadow: #25026c26;

  // BRAND & ACTIONS COLORS
  --color-brand: #870087;
  --color-primary: #320096;
  --color-secondary-lighter: #c1a3ff;
  --color-secondary-light: #6123df;
  --color-secondary: #320096;
  --color-secondary-dark: #25026c;
  --color-primary-dark: #25026c;

  // STATE COLORS
  --color-accent: #06f;
  --color-valid: #15884f;
  --color-error-light: #e60039;
  --color-error: #a20121;
  --color-alert-dark: #f9c030;

  // GRADIENTS COLORS
  --color-grey-lighter-for-gradient: #e1e1e7;
  --color-linear-gradient-to-right: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  --color-linear-gradient-skeleton: linear-gradient(
    191deg,
    var(--color-grey-lighter-for-gradient),
    var(--color-grey-light),
    var(--color-grey-lighter-for-gradient)
  );
  --color-adage-linear-gradient-image-preview: linear-gradient(
    207.06deg,
    var(--color-grey-light) 43.41%,
    var(--color-grey-lighter-for-gradient) 107.01%
  );

  //  BACKGROUND COLORS
  --color-background-accent-light: #e5f0ff;

  // ADAGE COLORS
  // waiting for designer approval :
  --color-adage-purple: #4613ad;
  --color-adage-blue: #448;
  --color-adage-orange-light: #fa9f16;
  --color-adage-orange-dark: #b85901;
  --color-adage-purple-light: #ad87ff;
  --color-adage-purple-dark: #8337e9;
  --color-adage-pink-light: #ec3478;
  --color-adage-pink-dark: #c01371;
  --color-adage-green-light: #27dca8;
  --color-adage-green-dark: #0e8474;
  --color-adage-red-light: #f8733d;
  --color-adage-red-dark: #ca3f13;
  --color-adage-blue-light: #1fc5e9;
  --color-adage-blue-dark: #0e78b7;
  --color-adage-blue-external: #626fad;
  --color-adage-salmon-light: #faeaf1;
  --color-adage-skeleton: #f0f0f0;
}
