:root {
  // GENERAL COLORS
  --color-white: #fff;
  --color-grey-dark: #696a6f;
  --color-black: #161617;

  // SHADOWS COLORS
  --color-medium-shadow: #67686b29;
  --color-large-shadow: #25026c26;

  // OVERLAY
  --color-background-overlay: rgb(
    from var(--color-background-locked) r g b / 48%
  );

  // BRAND COLORS
  --color-primary: #320096;

  // STATE COLORS
  --color-accent: #06f;
  --color-valid: #15884f;
  --color-error-light: #e60039;
  --color-alert-dark: #f9c030;

  // GRADIENTS COLORS
  --color-grey-for-gradient-1: #e1e1e7;
  --color-grey-for-gradient-2: #f1f1f4;
  --color-linear-gradient-skeleton: linear-gradient(
    191deg,
    var(--color-grey-for-gradient-1),
    var(--color-grey-for-gradient-2),
    var(--color-grey-for-gradient-1)
  );

  //  BACKGROUND COLORS
  --color-background-accent-light: #e5f0ff;

  // ADAGE COLORS
  // waiting for designer approval :
  --color-adage-purple: #4613ad;
  --color-adage-orange-light: #fa9f16;
  --color-adage-orange-dark: #b85901;
  --color-adage-purple-light: #ad87ff;
  --color-adage-purple-dark: #8337e9;
  --color-adage-pink-light: #ec3478;
  --color-adage-pink-dark: #c01371;
  --color-adage-green-light: #27dca8;
  --color-adage-green-dark: #0e8474;
  --color-adage-red-light: #f8733d;
  --color-adage-red-dark: #ca3f13;
  --color-adage-blue-light: #1fc5e9;
  --color-adage-blue-dark: #0e78b7;
  --color-adage-blue-external: #626fad;
  --color-adage-skeleton: #f0f0f0;
}
