.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  @include title3;
  margin-bottom: rem(16px);
  line-height: 1em;
}

.subtitle {
  color: $grey-dark;
  margin-bottom: rem(24px);
  line-height: 1em;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: rem(24px);

  .button {
    margin: 0 rem(12px);
    width: rem(220px);
  }
}
