@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_colors.scss" as colors;

.offers-stats {
  margin-top: rem.torem(24px);
  font-size: rem.torem(12px);
  font-weight: 600;
}

.offers-list {
  display: grid;
  grid-gap: rem.torem(20px);
  padding: 0;
  margin: rem.torem(8px) 0 rem.torem(24px) 0;
}

.offers-loader {
  height: 100%;

  .loading-spinner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}

.offers-load-more {
  text-align: center;
  width: fit-content;
  margin: 0 auto rem.torem(24px);
  font-size: rem.torem(12px);
  height: rem.torem(50px);

  &-text {
    @include fonts.small-caption;

    margin-bottom: rem.torem(10px);
  }
}

.back-to-top-button {
  @include fonts.button;

  position: fixed;
  right: rem.torem(16px);
  bottom: rem.torem(16px);
  display: flex;
  align-items: center;
  gap: rem.torem(8px);
  background-color: colors.$grey-light;
  padding: rem.torem(16px);
  border-radius: rem.torem(30px);
  box-shadow: 0 3px 4px 0 rgb(103 104 107 / 10%);
  cursor: pointer;

  &-icon {
    width: rem.torem(20px);
    height: rem.torem(20px);
  }

  &:hover {
    text-decoration: underline;
    box-shadow: 0 3px 4px 0 rgb(103 104 107 / 16%);
  }

  &:active {
    color: colors.$grey-dark;
    text-decoration: none;
    box-shadow: 0 3px 4px 0 rgb(103 104 107 / 16%);
  }

  &:focus-visible {
    border: solid rem.torem(2px) colors.$black;
    text-decoration: underline;
    outline: none;
    box-shadow: 0 3px 4px 0 rgb(103 104 107 / 16%);
  }
}
