@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;

$offer-image-height: rem.torem(264px);
$offer-image-width: rem.torem(176px);

.offer {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid var(--color-grey-medium);
  border-radius: 8px;

  &-container {
    display: flex;
    flex-wrap: wrap;
    padding: rem.torem(16px);
    gap: rem.torem(16px);
  }

  &-headband {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-adage-salmon-light);
    padding: rem.torem(18px) rem.torem(16px);
    border-bottom: rem.torem(2px) solid var(--color-grey-light);

    &-prebooked {
      background-color: var(--color-grey-light);
    }

    &-text {
      display: flex;
      flex-direction: column;
    }

    .intended-for {
      @include fonts.caption;

      margin-bottom: rem.torem(8px);
    }

    .infos {
      @include fonts.body-important;
    }

    &-button {
      display: flex;
      flex-direction: column;
    }
  }

  &-image-container {
    border-radius: rem.torem(3px);
    object-fit: cover;
  }

  &-image {
    border-radius: rem.torem(3px);
    object-fit: cover;
    height: $offer-image-height;
    width: $offer-image-width;
    box-shadow: 0 1px 8px var(--color-large-shadow);
  }

  &-image-default {
    align-items: center;
    background-color: var(--color-grey-light);
    border: 1px solid var(--color-grey-medium);
    border-radius: rem.torem(4px);
    display: flex;
    height: $offer-image-height;
    width: $offer-image-width;
    justify-content: center;

    svg {
      height: rem.torem(80px);
      width: rem.torem(80px);
      color: var(--color-grey-semi-dark);
    }
  }

  &-details-container {
    padding: rem.torem(16px) rem.torem(16px) 0 0;
    position: relative;
    width: 100%;

    .offer-details-actions {
      display: flex;
      gap: rem.torem(24px);
      justify-content: flex-end;
      align-items: center;
    }
  }

  &-header {
    margin-bottom: rem.torem(24px);

    &-row {
      margin-bottom: rem.torem(6px);
      display: flex;
      gap: rem.torem(16px);
      flex-wrap: wrap;

      &-title {
        flex: 1;

        @include fonts.title3;
      }
    }

    &-label {
      color: var(--color-grey-dark);
    }

    &-venue-link {
      display: flex;
      align-items: center;
    }

    &-subtitles,
    &-teacher {
      @include fonts.body-important;
    }

    &-subtitles {
      margin-bottom: rem.torem(24px);
      display: inline-flex;
      flex-wrap: wrap;
      gap: rem.torem(8px);
    }

    &-teacher {
      margin-bottom: rem.torem(8px);
    }

    .offer-domains-list {
      padding-left: unset;
      display: flex;
      flex-wrap: wrap;
      gap: rem.torem(8px);

      &-item {
        list-style: none;

        &-tag {
          white-space: break-spaces;
        }
      }
    }

    & > *:not(:last-child) {
      margin-bottom: rem.torem(8px);
    }
  }

  &-description {
    margin: 0 0 rem.torem(20px);
    white-space: pre-line;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
  }

  &-prebooking-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: size.$tablet) {
  .offer-container {
    flex-wrap: unset;
  }
}

@media (max-width: size.$mobile) {
  .offer-headband {
    display: flex;
    flex-direction: column;
    gap: rem.torem(16px);
  }
}
