@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;

$offer-image-height: rem.torem(264px);
$offer-image-width: rem.torem(176px);

.offer {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid colors.$grey-medium;
  border-radius: 8px;
  font-size: rem.torem(15px);

  &-container {
    display: flex;
    flex-wrap: wrap;
    padding: rem.torem(16px);
    gap: rem.torem(16px);
  }

  &-geoloc {
    @include fonts.body-important;

    display: flex;
    align-items: center;
    gap: rem.torem(8px);
    padding: rem.torem(8px) rem.torem(16px);
    background-color: rgba(colors.$grey-dark, 0.05);
    height: rem.torem(36px);
    border-top-right-radius: rem.torem(3px);
    border-top-left-radius: rem.torem(3px);

    &-icon {
      color: colors.$primary;
      width: rem.torem(16px);
    }

    &-separator {
      background-color: colors.$grey-medium;
      width: rem.torem(2px);
      height: rem.torem(18px);
    }
  }

  &-image-container {
    border-radius: rem.torem(3px);
    object-fit: cover;
  }

  &-image {
    border-radius: rem.torem(3px);
    object-fit: cover;
    height: $offer-image-height;
    width: $offer-image-width;
    box-shadow: 0 1px 8px colors.$dark-blue-shadow;
  }

  &-image-default {
    align-items: center;
    background-color: colors.$grey-light;
    border: 1px solid colors.$border-grey-color;
    border-radius: rem.torem(4px);
    display: flex;
    height: $offer-image-height;
    width: $offer-image-width;
    justify-content: center;

    svg {
      height: rem.torem(80px);
      width: rem.torem(80px);
      color: colors.$grey-semi-dark;
    }
  }

  &-details-container {
    padding: rem.torem(16px) rem.torem(16px) rem.torem(16px) rem.torem(0);
    position: relative;
    width: 100%;

    .offer-details-actions {
      display: flex;
      gap: rem.torem(24px);
      justify-content: flex-end;
      align-items: center;
    }
  }

  &-header {
    margin-bottom: rem.torem(24px);

    &-row {
      margin-bottom: rem.torem(6px);
      display: flex;
      gap: rem.torem(16px);
      flex-wrap: wrap;

      &-title {
        flex: 1;

        @include fonts.title3;
      }
    }

    &-label {
      color: colors.$grey-dark;
    }

    &-venue-link {
      display: flex;
      align-items: center;
    }

    &-subtitles,
    &-teacher {
      font-weight: 500;
      font-size: rem.torem(15px);
    }

    &-subtitles {
      margin-bottom: rem.torem(24px);
      display: inline-flex;
      flex-wrap: wrap;
      gap: rem.torem(8px);
    }

    &-teacher {
      margin-bottom: rem.torem(8px);
    }

    .offer-domains-list {
      padding-left: unset;
      display: flex;
      flex-wrap: wrap;
      gap: rem.torem(8px);

      &-item {
        list-style: none;

        &-tag {
          white-space: break-spaces;
        }
      }
    }

    & > *:not(:last-child) {
      margin-bottom: rem.torem(8px);
    }
  }

  &-description {
    margin: 0 0 rem.torem(24px);
    white-space: pre-line;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
  }

  &-see-more {
    border: none;
    background-color: transparent;
    color: colors.$primary;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;

    &-icon {
      margin-right: rem.torem(10px);
      fill: colors.$primary;

      &-closed {
        transform: rotate(180deg);
      }
    }
  }
}

@media (min-width: size.$tablet) {
  .offer-container {
    flex-wrap: unset;
  }
}
