@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;

.offers-view {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem.torem(24px);
}

.offers-stats {
  @include fonts.caption;

  margin-top: rem.torem(24px);

  &-grid {
    margin-left: rem.torem(16px);
  }
}

.offers-list {
  display: grid;
  grid-gap: rem.torem(16px);
  padding: 0;
  margin: rem.torem(8px) 0 rem.torem(24px) 0;
}

.offers-grid {
  display: grid;
  grid-gap: rem.torem(48px) rem.torem(16px);
  padding: 0;
  margin: rem.torem(8px) 0 rem.torem(24px) 0;
  grid-template-columns: repeat(auto-fill, minmax(rem.torem(216px), 0fr));
  justify-content: space-around;
}

.offers-banner {
  display: grid;
  grid-column: 1 / 5;
}

.offers-banner-none {
  display: none;
}

.offers-loader {
  height: 100%;

  .loading-spinner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}

.offers-load-more {
  text-align: center;
  width: fit-content;
  margin: 0 auto rem.torem(24px);
  font-size: rem.torem(12px);
  height: rem.torem(50px);

  &-text {
    @include fonts.highlight;

    margin-bottom: rem.torem(10px);
  }
}

.back-to-top-button {
  @include fonts.button;

  display: flex;
  width: fit-content;
  margin-left: auto;
  position: sticky;
  right: rem.torem(16px);
  bottom: rem.torem(16px);
  align-items: center;
  gap: rem.torem(8px);
  background-color: var(--color-grey-light);
  padding: rem.torem(16px);
  border-radius: rem.torem(30px);
  box-shadow: 0 3px 4px 0 var(--color-medium-shadow);
  cursor: pointer;

  &-icon {
    width: rem.torem(20px);
    height: rem.torem(20px);
  }

  &:hover {
    text-decoration: underline;
    box-shadow: 0 3px 4px 0 var(--color-medium-shadow);
  }

  &:active {
    color: var(--color-grey-dark);
    text-decoration: none;
    box-shadow: 0 3px 4px 0 var(--color-medium-shadow);
  }

  &:focus-visible {
    outline: solid rem.torem(2px) var(--color-black);
    outline-offset: rem.torem(2px);
    text-decoration: underline;
  }
}

.pagination {
  margin: rem.torem(24px) 0;
}

@media (max-width: size.$mobile) {
  .offer-type-vue {
    display: none;
  }
}
