@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

@media screen and (min-width: size.$tablet) {
  .status-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: rem.torem(100px);
  }
}
