@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;
@use "styles/variables/_z-index.scss" as zIndex;
@use "styles/mixins/_a11y.scss" as a11y;
@use "styles/mixins/_outline.scss" as outline;

.title-column {
  min-width: rem.torem(160px);

  &-with-thumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: rem.torem(240px);
    gap: var(--size-spacing-s) var(--size-spacing-xl);
  }

  &-name {
    @include fonts.body-accent;

    display: block;
    overflow-wrap: anywhere;
  }

  &-thumb {
    display: block;
    width: fit-content;
  }
}

.status-column {
  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-headline-offer-star {
    display: flex;
    margin-left: var(--size-spacing-l);

    &-icon {
      color: var(--color-icon-brand-primary);
      vertical-align: middle;
    }
  }

  &-headline-offer-button {
    border: none;
    background: var(--color-background-default);
  }
}

.actions-column {
  place-self: center;
}

.isbn {
  @include fonts.body-accent-xs;

  color: var(--color-text-subtle);
}

.stocks {
  @include fonts.body-accent-xs;

  color: var(--color-text-subtle);
  display: flex;
  align-items: center;
  position: relative;
}

.sold-out-button {
  border: none;
  background-color: var(--color-background-default);
}

.sold-out-icon {
  width: rem.torem(16px);
  height: rem.torem(16px);
  color: var(--color-icon-error);
  margin-left: var(--size-spacing-xs);
  margin-top: var(--size-spacing-xs);
}

@media screen and (min-width: size.$tablet) {
  .title-column {
    min-width: rem.torem(160px);

    &-with-thumb {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  }

  .status-column {
    &-content {
      min-width: rem.torem(160px);
    }
  }
}
