@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.dialog-content {
  max-width: rem.torem(684px);
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: var(--size-spacing-xl);
  padding-top: var(--size-spacing-xl);
  padding-bottom: var(--size-spacing-xl);
}

.description {
  @include fonts.body;

  padding-bottom: var(--size-spacing-s);
}

.list {
  list-style-type: disc;
  padding-left: var(--size-spacing-l);

  li::marker {
    font-size: rem.torem(8px);
  }
}

.dialog-footer {
  padding-top: var(--size-spacing-l);
  display: flex;
  justify-content: center;
  gap: var(--size-spacing-l);
}
