.criteria-location-page {
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.cl-wrapper {
  align-items: center;
  border-bottom: rem(1px) solid $grey-light;
  display: flex;
  justify-content: center;
  padding-bottom: rem(20px);
  padding-top: rem(20px);

  .cl-icon {
    height: rem(40px);
    margin-left: rem(24px);
    margin-right: rem(24px);
    width: rem(40px);
  }

  .cl-warning-message {
    color: $grey-dark;
    flex: 1;
    font-size: rem(14px);
    font-weight: 500;
    padding-right: rem(20px);
  }
}

.cl-place-wrapper {
  background-color: $white;
  display: flex;
  padding-top: rem(15px);

  .cl-place-button {
    color: $black;
    font-size: rem(16px);
    font-weight: 700;
    text-align: left;
  }

  .cl-icon {
    padding: 0 rem(20px) 0 rem(20px);
  }

  .cl-place-button-active {
    color: $primary;
    font-size: rem(16px);
    font-weight: 700;
    text-align: left;
  }

  .cl-icon-active {
    filter: invert(22%) sepia(100%) saturate(6963%) hue-rotate(331deg) brightness(89%) contrast(107%);
    padding: 0 rem(20px) 0 rem(20px);
  }
}
