@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.modal-image-crop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem.torem(8px);
  flex-grow: 1;

  &-content {
    flex-grow: 1;
  }

  &-subwrapper {
    display: flex;
    flex-direction: column;
    gap: rem.torem(16px);

    @media (min-width: size.$tablet) {
      min-width: calc(rem.torem(size.$tablet) - size.$dialog-box-padding * 2);
      flex-direction: row;
    }
  }

  &-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rem.torem(1px) solid var(--color-border-subtle);
    border-radius: rem.torem(4px);
    max-width: rem.torem(410px);

    &-loading {
      visibility: hidden;
    }
  }

  &-callout {
    margin-top: rem.torem(16px);

    &-list {
      list-style-type: disc;
      padding-left: rem.torem(24px);
    }
  }

  &-actions {
    display: flex;
    flex-direction: column;
    gap: rem.torem(16px);
    padding: rem.torem(24px) rem.torem(16px) rem.torem(16px) rem.torem(16px);
    align-items: flex-start;
  }

  &-right {
    @include fonts.body-s;

    margin-bottom: rem.torem(16px);
  }

  &-credit {
    max-width: 410px;
    margin-top: rem.torem(24px);

    &-loading {
      visibility: hidden;
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-start;
    padding-left: rem.torem(6px);
    padding-right: rem.torem(12px);
    gap: rem.torem(16px);
  }
}
