@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

$modal-width: rem.torem(592px);
$modal-height: rem.torem(484px);

.dialog {
  display: flex;
  flex-direction: column;

  &-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
  }

  &-actions {
    display: flex;
    justify-content: flex-end;
    gap: rem.torem(24px);
  }

  @media (min-width: size.$tablet) {
    width: $modal-width;
    height: $modal-height;
  }
}

.callout {
  margin-bottom: rem.torem(24px);

  &-title {
    @include fonts.title3;

    margin-bottom: rem.torem(24px);
  }
}

.venues-select {
  margin-bottom: rem.torem(24px);
}
