@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.dialog {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
  }

  &-actions {
    display: flex;
    gap: rem.torem(16px);
  }
}

.callout {
  margin: rem.torem(16px) 0 rem.torem(32px) 0;
}

.venues-select {
  margin-bottom: rem.torem(24px);
}
