@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/variables/_forms.scss' as forms;
@use 'styles/mixins/_rem.scss' as rem;

.password-input-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.password-input {
  width: 90%;
}

.password-input-eye-ico {
    width: rem.torem(20px) !important;
    height: rem.torem(20px) !important;
}

.password-tip-icon {
  position: absolute;
  right: rem.torem(16px);
  top: rem.torem(36px);
}
