@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;

.title {
  @include fonts.title3;

  margin-bottom: rem.torem(16px);
}

.cards-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem.torem(24px); // in case it's inside a section-row with multiple cards
}

@media (min-width: size.$tablet) {
  .cards-row {
    grid-template-columns: 1fr 1fr;
  }
}
