@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/fonts-design-system.scss" as fonts-design-system;

.title {
  @include fonts-design-system.title4;

  margin-bottom: rem.torem(8px);
}

.card-content {
  margin-top: rem.torem(16px);

  li {
    margin-top: rem.torem(8px);
  }
}
