.ci-wrapper {
  background: $white;
  text-align: center;
  margin: rem(23px) 0;

  &:first-child {
    margin-top: rem(60px);
  }
}

.ci-link-label {
  margin-bottom: rem(13px);
  color: $grey;
  font-size: 16px;

  span:first-child {
    margin-right: rem(8px);
  }
}

.ci-page-link {
  font-size: rem(22px);
  font-weight: bold;
  line-height: 1.18;
  display: flex;
  align-items: center;
  color: $black-light;

  &:visited {
    color: $black-light;
  }

  .ci-page-icon {
    margin-right: rem(12px);
  }
}

@media screen and (max-width: $iphone6) {
  .ci-wrapper {
    margin: rem(15px) 0;

    &:first-child {
      margin-top: rem(15px);
    }
  }
}

@media screen and (max-width: $iphone5-width) and (max-height: $iphone5-height) {
  .ci-wrapper {
    margin: rem(5px) 0;

    &:first-child {
      margin-top: rem(5px);
    }
  }

  .ci-link-label {
    font-size: rem(14px);
    margin-bottom: rem(10px);
  }

  .ci-page-link {
    font-size: rem(18px);
  }
}
