// TODO: Fill JSDoc below for <% cname %>:

/**
 * Description of what <% cname %>() should do …
 * @param message string Welcome message
 * @returns string
 * @example
 * <% cname %>()
 * // => Hello <% cname %>
 * <% cname %>('Hey')
 * // => Hey <% cname %>
 */
export const <% cname %> = (message: string = 'Hello'): string => {
  return message + ' ' + '<% cname %>'
}
