@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.bookings-header,
.bookings-header-loading {
  align-items: center;
  display: flex;
  margin-bottom: rem.torem(30px);
  min-height: rem.torem(36px);
}

.bookings-header {
  justify-content: space-between;
}

.bookings-header-number {
  @include fonts.body;
}
