@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  @include fonts.title3;

  margin-bottom: rem.torem(16px);
}

.subtitle {
  color: var(--color-grey-dark);
  margin-bottom: rem.torem(24px);
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: rem.torem(24px);

  .button {
    margin: 0 rem.torem(12px);

    @media (min-width: size.$tablet) {
      width: rem.torem(220px);
    }
  }
}
