@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.banner-content {
  display: flex;
  align-items: center;
  gap: rem.torem(8px);
}

.provider-logo {
  width: rem.torem(32px);
}

.provider-text {
  margin: 0 rem.torem(16px);
}
