#category-description {
  background: rgba($primary, 0.75);
  padding: 1em;
}

#category-description h2 {
  margin-bottom: rem(12px);
}

.recommendation-list-item {
  .to-details {
    cursor: pointer;
    outline: none;
  }

  .image {
    overflow: hidden;
    width: rem(96px);
    height: rem(96px);
    max-width: rem(96px);
    max-height: rem(96px);
    min-width: rem(96px);
    min-height: rem(96px);
    margin-left: -12px;
    margin-bottom: -12px;

    img {
      width: 100%;
      height: auto;
    }
  }

  h5 {
    @include multiLineEllipsis();
  }

  .fs13 {
    color: $grey;
  }

  div.m18 div:nth-child(2) {
    font-weight: 600;
  }
}

.nav-result-title {
  margin-top: rem(18px);
}
