@import 'FilterByDistance.scss';
@import 'NavResultsHeader.scss';
@import 'results/index.scss';
@import 'searchFilters/index.scss';
@import 'searchByType/index.scss';

.search-page {
  form {
    margin-bottom: 40px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .page-content {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}

.search-picture {
  @extend .is-relative;

  overflow: hidden;
  border-radius: 4px;

  img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  span {
    @extend .is-absolute;
    @extend .is-white-text;

    left: 0;
    right: 0;
    bottom: 0;
  }
}

#search-page-keywords-field {
  margin-bottom: 0;

  #refresh-keywords-button {
    pointer-events: all;
  }
}

#nav-results-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: rem(250px);
}

#category-description {
  left: 12px;
  right: 12px;
  bottom: 12px;
}

#keywords-search-button {
  @extend .pc-theme-primary;

  border-color: $primary;
}
