#search-filter-menu {
  background-color: $grey-lighter;
  border-radius: 0.25em 0 0.25em 0.25em;

  button {
    background-color: $grey-lighter;
    border-color: $white;
    border-radius: 0;
    color: $primary;
    font-size: 1.375rem;
  }
}

/* ------------------------------------------------

 Boutons permettant de réinitialiser/appliquer
 les filtres de recherche

------------------------------------------------ */
#search-filter-menu-footer-controls {
  border-top: 2px solid $white;

  button {
    border: 0;
  }

  button + button {
    border-left: 2px solid $white;
  }
}

/* ------------------------------------------------

 Boutons permettant de masquer/afficher
 le menu des filtres

------------------------------------------------ */
#search-filter-menu-toggle-button {
  // on fixe la taille et la hauteur
  // pour que le bouton est la même hauteur que le search input
  // et que quand on ouvre le menu des filtres
  // on ait un background gris pour le bouton
  width: 44px;
  min-width: 44px;
  max-width: 44px;
  height: 50px;
  min-height: 50px;

  &.filters-are-opened {
    background: $grey-lighter;
    border-radius: 4px 4px 0 0;
  }
}

#filter-by-dates {
  .pc-scroll-horizontal {
    height: 65px;
    overflow-x: auto;
  }

  .list .item {
    border-radius: 4px;
    border: solid $primary 1px;
  }

  .list .item + .item {
    @extend .ml22;
  }

  .list .item .field {
    margin-bottom: 0;
  }

  .list .item .field .input {
    margin-right: 7px;
  }
}

/*
#filter-by-distance {
  padding-bottom: 0.25rem;

  select {
    border-color: $primary;
    border-radius: $control-radius;
    min-width: 250px;
    margin: 3rem;
    padding: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('/icons/dropdown-disclosure-down.svg') no-repeat;
    background-position: right;
  }
}
*/

#filter-by-offer-types {
  label {
    color: $white;
    height: 23px;
    width: 86px;
    opacity: 0.8;
    background-color: #000000;
  }

  margin-bottom: 1rem;
}

.filter-menu-outer {
  display: flex; /* displays flex-items (children) inline */
  overflow-x: auto;
}

.filter-menu-inner {
  // flex: 0 0 25%;

  /* doesn't grow nor shrink, initial width set to 25% of the parent's */
  padding: 0.5em;
  border-radius: 1.125em;

  img {
    height: 86px;
  }
}
