@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_outline.scss" as outline;

.button {
  background-color: transparent;
  border: none;
  width: rem.torem(32px);
  height: rem.torem(32px);
  border-radius: var(--border-radius-full);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 100ms ease-in-out;
  cursor: pointer;

  &:focus-visible {
    @include outline.focus-outline;
  }

  &:active {
    color: var(--color-icon-brand-primary);
    background-color: transparent;
  }

  &:hover:not(:disabled) {
    background-color: var(--color-background-info);
  }

  &-icon {
    transition: all 100ms ease-in-out;
    height: rem.torem(24px);
    width: rem.torem(24px);
    color: var(--color-icon-default);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-icon-disabled);
    background-color: var(--color-background-disabled);
  }
}

.tooltip {
  border-radius: var(--border-radius-xxl);
}

.variant-primary {
  width: rem.torem(40px);
  height: rem.torem(40px);

  &:hover:not(:disabled),
  &:focus-visible {
    background-color: transparent;
  }

  &:hover:not(:disabled) {
    border: rem.torem(1px) solid var(--color-border-default);
  }

  &:disabled {
    background-color: var(--color-background-disabled);
  }

  .button-icon {
    color: var(--color-icon-brand-primary);
  }
}
