@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;

.button {
  background-color: transparent;
  border: none;
  width: rem.torem(32px);
  height: rem.torem(32px);
  border-radius: rem.torem(16px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 100ms ease-in-out;
  cursor: pointer;

  &:active:not(:disabled),
  &:hover:not(:disabled),
  &:focus-visible {
    .button-icon {
      height: rem.torem(20px);
      width: rem.torem(20px);
    }
  }

  &:focus-visible {
    outline: rem.torem(1px) solid colors.$input-text-color;
  }

  &:active {
    color: colors.$tertiary;
    background-color: transparent;
  }

  &:hover:not(:disabled) {
    background-color: #ede3ff;
  }

  &-icon {
    transition: all 100ms ease-in-out;
    height: rem.torem(24px);
    width: rem.torem(24px);
  }

  &:disabled {
    cursor: not-allowed;
    color: colors.$grey-semi-dark;
  }
}

.tooltip {
  border-radius: rem.torem(16px);
}
