@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;
@use "styles/mixins/_a11y.scss" as a11y;

.button {
  background-color: transparent;
  border: none;
  width: rem.torem(32px);
  height: rem.torem(32px);
  border-radius: rem.torem(16px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 100ms ease-in-out;

  &:focus {
    outline: rem.torem(1px) solid colors.$black;

    .button-icon {
      height: rem.torem(20px);
      width: rem.torem(20px);
    }
  }

  &:active {
    outline: 0;
    background-color: transparent;
  }

  &:hover:not(:disabled) {
    background-color: hsl(261, 100%, 95%);
    outline: 0;

    .button-icon {
      height: rem.torem(20px);
      width: rem.torem(20px);
    }
  }

  &-icon {
    height: rem.torem(24px);
    width: rem.torem(24px);
    transition: all 100ms ease-in-out;
    fill: colors.$black;

    &:active {
      fill: colors.$tertiary;
    }
  }

  &:disabled {
    cursor: not-allowed;

    .button-icon {
      fill: colors.$grey-semi-dark;
    }
  }
}

.tooltip {
  border-radius: rem.torem(16px);
}

.visually-hidden {
  @include a11y.visually-hidden;
}
