@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

table.reimbursement-table {
  display: flex;
  flex-direction: column;

  tr {
    align-items: center;
    display: flex;
    justify-content: flex-start;

    th {
      @include fonts.caption();

      align-items: center;
      cursor: pointer;
      display: flex;

      button {
        @include fonts.caption();
        background: none;
        border: none;
        display: flex;
        padding: 0;

        img {
          height: rem.torem(20px);
          margin-left: rem.torem(2px);
        }
      }
    }

    td,
    th {
      padding: rem.torem(20px) rem.torem(16px);
      width: rem.torem(120px);
    }

    th:nth-child(2) {
      width: rem.torem(220px);
    }

    th:nth-child(4) {
      cursor: default;
      margin-left: rem.torem(20px);
      text-align: right;
    }
  }

  tbody tr:nth-child(n + 1):nth-child(odd) {
    background-color: #f1f1f4;
  }
}
