@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_a11y.scss" as a11y;

$arrow-triangle-height: rem.torem(8px);

.tooltip-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.tooltip {
  @include fonts.body-accent-xs;

  display: block;
  align-self: start;
  color: var(--color-white);
  padding: rem.torem(4px);
  max-width: rem.torem(200px);
  border-radius: rem.torem(3px);
  position: absolute;
  text-align: center;
  width: max-content;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-120% - #{$arrow-triangle-height}));
  background-color: var(--color-secondary-dark);

  &::after {
    content: "";
    position: absolute;
    margin-bottom: 4px;
    width: 0;
    height: 0;
    border-width: $arrow-triangle-height;
    border-style: solid;
    border-color: var(--color-secondary-dark) transparent transparent
      transparent;
    bottom: -($arrow-triangle-height * 2);
    left: 50%;
    transform: translate(-50%);
  }
}

.tooltip-hidden {
  @include a11y.visually-hidden;
}
