li.offer-item {
  img {
    max-height: 100px;
  }

  .infos {
    margin-bottom: 1rem;
  }

  .name,
  .infos,
  .offer-thumb {
    opacity: 0.5;
  }

  &.active {
    .name,
    .infos,
    .offer-thumb {
      opacity: 1;
    }
  }

  ul {
    border-top: 1px solid $grey-light;
    li,
    .label {
      font-size: 0.82rem;
      display: inline;
    }
  }

  ul.main-list & .list-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  ul.actions {
    &.offer-actions-list {
      justify-content: flex-end;
      padding-top: 0.2rem;

      a, button {
        font-weight: $weight-medium;
      }

      img {
        height: 0.6rem;
      }

      li {
        flex-grow: 1;
        text-align: center;

        &:nth-child(2) {
          border-right: 1px solid $grey-light;
        }
        &:nth-child(3) {
          border-right: 1px solid $grey-light;
        }

        &:first-child {
          flex-grow: 6;
          text-align: left;
        }
        &:last-child {
          width: rem(50px);
          text-align: center;
          border-right: none;
        }
      }
    }
  }
}
