li.offer-item {
  align-items: center;
  display: grid;
  grid-column-gap: rem(16px);
  grid-template-columns: rem(82px) 1fr 1fr 1fr rem(96px) rem(40px);

  .name {
    @include button();

    margin-bottom: rem(4px);
  }

  .offer-thumb {
    height: rem(84px);
    object-fit: cover;
    width: 100%;
  }

  .default-thumb {
    align-items: center;
    background-color: $grey-medium;
    display: flex;
    height: rem(84px);
    justify-content: center;

    svg {
      height: 75%;
      width: 75%;
    }
  }

  &.inactive {
    .name,
    .offer-thumb,
    .default-thumb {
      opacity: 0.5;
    }
  }

  .title-container a {
    display: block;
  }

  .stocks {
    color: $primary;
  }

  .secondary-link,
  .secondary-button {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      max-height: rem(16px);
      max-width: rem(16px);
    }
  }
}
