.offer-item {
  grid-template-rows: auto auto;

  .name {
    @include button();

    margin-bottom: rem(4px);
  }

  .offer-thumb {
    height: rem(84px);
    width: 100%;
  }

  .default-thumb {
    height: 84px;
  }

  &.inactive {
    .name,
    .offer-thumb,
    .default-thumb {
      opacity: 0.5;
    }
  }

  .title-container a {
    display: block;
  }

  .stocks {
    color: $primary;
  }

  .secondary-link,
  .secondary-button {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      max-height: rem(16px);
      max-width: rem(16px);
    }
  }
}
