.input-text {
  .labels {
    display: flex;
    justify-content: space-between;
  }

  .it-sub-label {
    @include caption();

    color: $grey-dark;
    float: right;
    margin-left: rem(5px);
  }

  .it-errors {
    @include caption();
    align-items: center;
    color: $primary;
    display: flex;
    line-height: rem(32px);
    margin-top: rem(8px);
    text-align: left;

    img {
      margin-right: rem(5px);
      height: rem(15px);
      width: rem(15px);
    }

    pre {
      background: none;
      color: $primary;
      font-family: inherit;
      font-size: inherit;
      white-space: pre-wrap;
      padding: 0;
    }
  }

  .it-input {
    @include body();

    border: 1px solid $grey-medium;
    border-radius: 22px;
    color: $black;
    display: block;
    height: rem(40px);
    margin-top: rem(9px);
    padding: rem(10px) rem(16px);
    width: 100%;

    &:focus {
      border: 2px solid $primary;
      outline: none;
      outline-offset: 0;
    }

    &:disabled {
      background-color: $grey-light;
      border: none;
      color: $grey-dark;
      opacity: 1;
    }
  }
}
