@mixin input-text() {
  display: flex;
  flex-direction: column;

  .labels {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  .description {
    @include caption();

    color: $grey-dark;
    margin-top: rem(8px);
  }

  .it-character-count {
    @include caption();

    align-self: flex-end;
    color: $grey-dark;
    margin-top: rem(6px);
  }

  .it-sub-label {
    @include caption();

    color: $grey-dark;
  }

  .it-input {
    @include body();

    border: 1px solid $grey-medium;
    border-radius: 22px;
    box-shadow: 0 2px 6px 0 $black-shadow;
    color: $black;
    display: block;
    height: rem(40px);
    margin-top: rem(8px);
    padding: rem(10px) rem(16px);
    width: 100%;

    &:focus {
      border: 1px solid $primary;
      box-shadow: 0 0 0 1px $primary inset;
      outline: none;
      outline-offset: 0;
    }

    &:disabled {
      background-color: $grey-light;
      border: none;
      color: $grey-dark;
      opacity: 1;
    }

    &.error:not(:focus-within) {
      border: 2px solid $red-error;
    }
  }
}

.input-text {
  @include input-text();
}
