.stocks-manager {
  .has-text-weight-bold {
    text-transform: uppercase;
  }

  .is-pulled-right {
    float: right;
  }

  .hero-section {
    margin-bottom: 1rem;
  }

  .info {
    @include dotted($primary, top);

    background-color: $black-with-transparency;
    bottom: 0;
    left: 0;
    margin-bottom: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11000;

    .content {
      background-color: $white;
      margin: auto;
      max-width: 50%;
      min-height: rem(200px);
      padding: rem(24px);
    }
  }

  .notification {
    max-height: rem(80px);

    @media screen and (prefers-reduced-motion: reduce) {
      &.fade-out {
        margin: 0;
        max-height: 0;
        padding: 0;
        transition: none;
      }
    }

    &.fade-out {
      margin: 0;
      max-height: 0;
      padding: 0;
      transition: all 1s ease-in;
    }
  }

  .stocks-event-legal-warning {
    background-color: $grey-light;
    border-radius: rem(4px);
    color: $grey-dark;
    font-size: rem(12px);
    line-height: normal;
    margin-bottom: rem(8px);
    padding: rem(8px) rem(60px);
    text-align: center;

    span {
      display: block;
    }

    .selw-emphasis {
      @include caption();

      font-size: rem(12px);
    }
  }

  .stocks-table-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    min-height: rem(500px);
    overflow: auto;

    .hero-section {
      text-align: left !important;
    }

    table.stocks-table {
      width: 100%;

      thead,
      tbody {
        width: 100%;

        tr {
          width: 100%;

          @include dotted($primary, bottom);

          td {
            border: none;
            max-width: rem(140px);
            padding: rem(6px);
            text-align: center;
          }
        }
      }

      thead {
        tr {
          td {
            color: $grey-dark;
            font-size: rem(12px);
            line-height: normal;
            vertical-align: middle;
          }
        }
      }

      tbody {
        &:not(.inactive) {
          &:focus,
          &:hover {
            background-color: $grey-light;
          }
        }

        &.inactive .button {
          padding: 0;
        }

        td {
          font-size: rem(12px);
          font-weight: 500;

          &.booking-limit-datetime {
            max-width: rem(150px);
          }

          &.tooltiped {
            white-space: nowrap;

            span.tooltip {
              background-color: transparent;
              padding: 0;
              z-index: 10500;
            }
          }
        }
      }

      .submitStep {
        background-color: $primary;
        border-radius: rem(2px);
        color: $white;
      }
    }
  }
}

.button {
  border-radius: rem(24px);
  font-size: rem(16px);
  font-weight: 700;
  line-height: 1.1875em;
  padding-left: rem(16px);
  padding-right: rem(16px);

  &:focus {
    outline: none;
  }

  &:not(.is-outlined) {
    border-width: 0;
  }

  &:focus:not(:active) {
    box-shadow: none;
  }

  &.is-primary {
    &:active {
      background-color: $primary-dark;
    }

    &:disabled {
      background-color: $grey-medium;
      opacity: 1;
    }

    &:focus:not(:active) {
      border: rem(3px) solid $primary-dark;
      box-shadow: none;
      padding-left: rem(13px);
      padding-right: rem(13px);
    }
  }

  &.is-secondary {
    background: none;
    border: rem(2px) solid $primary;
    color: $primary;
    padding-left: rem(14px);
    padding-right: rem(14px);

    &:active {
      background-color: $primary-dark;
      border: none;
      color: $white;
      padding-left: rem(16px);
      padding-right: rem(16px);
    }

    &:disabled {
      border-color: $grey-medium;
      color: $grey-medium;
      opacity: 1;
    }

    &:focus:not(:active) {
      border-width: rem(3px);
      box-shadow: 0 0 4px $primary;
      padding-left: rem(13px);
      padding-right: rem(13px);
    }
  }

  &.is-tertiary {
    background: none;
    border-color: transparent;
    color: $primary;
    text-decoration: none;

    &:active {
      color: $primary-dark;
    }

    &:disabled {
      color: $grey-dark;
      opacity: 1;
    }

    &[disabled] {
      color: $grey-dark;
      opacity: 1;
    }

    &:focus:not(:active) {
      border: rem(1px) solid $grey-medium;
      box-shadow: none;
      padding-left: rem(15px);
      padding-right: rem(15px);
    }

    &.is-inversed {
      color: $white;
    }
  }

  &.is-outlined {
    box-shadow: none;

    &:disabled {
      opacity: 0.3;
    }
  }

  &.is-intermediate {
    background: none;
    border: 1px solid $primary;
    color: $primary;
    text-decoration: none;
  }

  &.is-flex-button {
    flex: 0.5;
  }
}
