.stocks-manager {

  .has-text-weight-bold {
    text-transform: uppercase;
  }

  .info {
    @extend .is-absolute;
    @extend .level;

    background-color: $black-with-transparency;
    bottom: 0;
    margin-bottom: 0 !important;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11000;

    .content {
      @extend .level-item;
      @extend .p24;

      background-color: $white;
      margin: auto;
      min-height: rem(200px);
      max-width: 50%;
    }
  }

  .notification {
    max-height: 40px;

    &.fade-out {
      margin: 0;
      max-height: 0;
      padding: 0;
      transition: all 0.5s ease-in;
    }
  }

  .stocks-table-wrapper {
    display: flex;
    flex-direction: column;

    .hero-section {
      text-align: left !important;
    }

    max-height: 60vh;
    min-height: rem(500px);
    overflow: auto;

    table.stocks-table {
      width: 100%;

      thead,
      tbody {
        width: 100%;

        tr {
          width: 100%;

          @include dotted($primary, bottom);

          td {
            text-align: center;
            border: none;
            max-width: rem(140px);
            padding: rem(6px);
          }
        }
      }

      thead {
        tr {
          td {
            vertical-align: middle;
            font-size: rem(12px);
            color: $grey-darkest;
            line-height: normal;
          }
        }
      }

      tbody {
        &:not(.inactive) {
          &:hover {
            background-color: #FAFAFA;
          }
        }

        td {
          font-size: 0.75rem;
          font-weight: 500;

          &.booking-limit-datetime {
            max-width: rem(150px);
          }

          &.tooltiped {
            white-space: nowrap;

            span.tooltip {
              background-color: transparent;
              padding: 0;
              z-index: 10500;
            }
          }
        }
      }
    }
  }
}
