@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

.cinema-provider-parameters {
  width: 100%;
  margin-top: rem.torem(16px);

  .title {
    font-size: rem.torem(16px);
    font-weight: 600;
  }

  .cinema-provider-parameters-list {
    color: colors.$grey-dark;
    margin-top: rem.torem(8px);

    span {
      color: colors.$black;
      font-size: rem.torem(15px);
      font-weight: 500;
    }
  }

  .edit-parameters-btn {
    margin-top: rem.torem(16px);
  }
}
