@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.no-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: rem.torem(56px) 0;

  &-icon {
    color: var(--color-icon-subtle);
  }
}

.no-data-title {
  @include fonts.title3;

  margin: var(--size-spacing-l) 0;
  text-align: center;
}

.no-data-subtitle {
  @include fonts.body;
}
