@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_forms.scss" as forms;
@use "styles/mixins/_forms.scss" as formsM;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_a11y.scss" as a11y;
@use "styles/mixins/_size.scss" as size;

.grid-layout-input-container {
  display: grid;
  grid-template-columns: minmax(100px, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: rem.torem(8px) rem.torem(16px);
  align-items: center;

  &:not(.has-footer) {
    grid-template-rows: repeat(2, auto);

    .grid-layout-footer {
      grid-area: unset;
    }
  }
}

.grid-layout-label {
  @include fonts.body;

  grid-area: 1;
  display: flex;
  align-items: center;

  &-description {
    @include fonts.body-xs;

    display: block;
    color: var(--color-text-subtle);
  }
}

.grid-layout-input {
  grid-area: 2 / 1;
}

.grid-input-extension {
  grid-area: 2 / 2;
  display: flex;
}

.grid-layout-footer {
  grid-area: 3 / 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visually-hidden {
  @include a11y.visually-hidden;
}
