.thumbnail-dialog {
  min-height: rem(510px);
  position: relative;
  text-align: center;
}

.tnd-close {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 0;
}

.tnd-header {
  @include title4;

  margin-bottom: rem(24px);
}

.tnd-hr {
  border: rem(1px) solid $grey-medium;
}

.tnf-form {
  margin-top: rem(48px);

  svg {
    width: 100%;
  }

  .input-text {
    text-align: left;
  }
}

.tnf-info {
  color: $grey-dark;
  margin-bottom: rem(40px);
  margin-top: rem(8px);
}

.tnf-file-label {
  cursor: pointer;
  margin-bottom: rem(16px);
  padding: 0 rem(48px);

  &:focus-within {
    @include primary-focus();
  }
}

.tnf-file-input {
  height: 0;
  width: 0;
}

.tnf-mandatory {
  @include caption();

  color: $grey-dark;
}

.tnf-url-button {
  margin-top: rem(36px);
  width: rem(334px);
}
