@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.bank-account {
  display: grid;
  padding: var(--size-spacing-l) rem.torem(24px);
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2);
  border: rem.torem(1px) solid var(--color-border-subtle);
  border-radius: var(--size-border-radius-m);

  @media (min-width: size.$tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.informations-section,
.linked-venues-section {
  padding: var(--size-spacing-s) 0;
}

.informations-section {
  border-bottom: rem.torem(1px) solid var(--color-border-subtle);
  padding-bottom: var(--size-spacing-xl);
  margin-bottom: var(--size-spacing-l);

  @media (min-width: size.$tablet) {
    border-bottom: none;
    border-right: rem.torem(1px) solid var(--color-border-subtle);
  }

  &-title {
    @include fonts.title4;

    margin-bottom: var(--size-spacing-l);
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: var(--size-spacing-s);
  }
}

.linked-venues-section {
  display: flex;
  flex-direction: column;

  @media (min-width: size.$tablet) {
    margin-left: var(--size-spacing-xl);
  }

  &-title {
    @include fonts.body-accent;

    margin-bottom: var(--size-spacing-l);
    display: inline-flex;

    .error-icon {
      color: var(--color-icon-error);
      margin-left: var(--size-spacing-s);
    }
  }

  .issue-text {
    @include fonts.body-accent-xs;

    color: var(--color-text-error);
    margin-bottom: var(--size-spacing-l);
  }

  .linked-venues {
    margin-bottom: var(--size-spacing-xl);
    display: flex;
    flex-direction: column;
    gap: var(--size-spacing-s);
  }

  .linked-venue {
    width: 100%;
    background-color: var(--color-background-subtle);
    border-radius: var(--size-border-radius-m);
    padding: var(--size-spacing-m) var(--size-spacing-l);
  }
}

.pending-account {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-l);
  padding: var(--size-spacing-l);
  margin-left: var(--size-spacing-xl);
  border-radius: var(--size-border-radius-m);
  background-color: var(--color-background-subtle);
  color: var(color-black);
  text-align: center;

  .status-icon {
    margin: auto;
    color: var(--color-icon-subtle);

    &.error-icon {
      color: var(--color-icon-error);
    }
  }

  &.needs-correction {
    background: var(--color-background-error);
  }
}
