@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;

.bank-account {
  display: grid;
  padding: rem.torem(16px) rem.torem(24px);
  grid-template-columns: rem.torem(281px) auto;
  border: rem.torem(1px) solid var(--color-grey-medium);
  border-radius: rem.torem(6px);
  box-shadow: rem.torem(0) rem.torem(3px) rem.torem(4px)
    var(--color-medium-shadow);

  @media (max-width: size.$tablet) {
    display: flex;
    flex-direction: column;
  }
}

.informations-section,
.linked-venues-section {
  padding: rem.torem(8px) 0;
}

.informations-section {
  border-right: rem.torem(1px) solid var(--color-grey-medium);

  @media (max-width: size.$tablet) {
    border-right: none;
    border-bottom: rem.torem(1px) solid var(--color-grey-medium);
    padding-bottom: rem.torem(24px);
    margin-bottom: rem.torem(16px);
  }

  &-title {
    @include fonts.title4;

    margin-bottom: rem.torem(16px);
  }

  &-content {
    @include fonts.body-important;

    display: flex;
    flex-direction: column;
    gap: rem.torem(8px);
  }
}

.linked-venues-section {
  display: flex;
  flex-direction: column;

  @media (min-width: size.$tablet) {
    margin-left: rem.torem(24px);
  }

  &-title {
    @include fonts.body-important;

    margin-bottom: rem.torem(16px);
    display: inline-flex;

    .error-icon {
      color: var(--color-error);
      margin-left: rem.torem(8px);
    }
  }

  .issue-text {
    @include fonts.caption;

    color: var(--color-error);
    margin-bottom: rem.torem(16px);
  }

  .linked-venues {
    margin-bottom: rem.torem(24px);
    display: flex;
    flex-direction: column;
    gap: rem.torem(8px);
  }

  .linked-venue {
    width: 100%;
    background-color: var(--color-grey-light);
    border-radius: rem.torem(6px);
    padding: rem.torem(12px) rem.torem(16px);

    @media (max-width: size.$tablet) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.pending-account {
  display: flex;
  flex-direction: column;
  gap: rem.torem(16px);
  padding: rem.torem(16px);
  margin-left: rem.torem(24px);
  border-radius: rem.torem(6px);
  background-color: var(--color-grey-light);
  color: var(color-black);
  text-align: center;

  .status-icon {
    margin: auto;
    color: var(--color-grey-dark);

    &.error-icon {
      color: var(--color-error);
    }
  }

  &.needs-correction {
    background: var(--color-background-error);
  }

  .account-status {
    @include fonts.bold;
  }
}
