@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/mixins/_fonts.scss' as fonts;

.homepage {
  .pc-breadcrumb {
    margin-bottom: rem.torem(32px);
    margin-top: rem.torem(24px);
  }

  .h-description-list {
    .h-dl-row {
      display: flex;
      flex-direction: row;
      margin-top: rem.torem(8px);
    }

    .h-dl-title {
      color: colors.$grey-dark;
      flex-shrink: 0;
    }

    .h-dl-description {
      margin-left: rem.torem(8px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .h-card {
    border: rem.torem(1px) solid colors.$grey-medium;
    border-radius: rem.torem(8px);
    box-shadow: 0 rem.torem(2px) rem.torem(6px) 0 rgba(colors.$black, 0.15);
    overflow: hidden;

    &.h-card-placeholder {
      min-height: rem.torem(205px);

      .h-card-inner {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: rem.torem(205px);
      }
    }

    .h-card-inner {
      border-left: rem.torem(8px) solid colors.$grey-medium;
      height: 100%;
      padding: rem.torem(16px) rem.torem(16px) rem.torem(24px);
      width: 100%;

      &.h-no-bottom {
        padding-bottom: 0;
      }
    }

    .h-card-header-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &.h-card-primary {
      .h-card-inner {
        border-color: colors.$primary;
      }
    }

    &.h-card-secondary {
      .h-card-inner {
        border-color: colors.$secondary;
      }
    }

    &.h-card-secondary-hover {
      &:focus,
      &:hover {
        border-color: colors.$secondary;

        .h-card-inner {
          border-color: colors.$secondary;
        }
      }
    }

    .h-card-title {
      @include fonts.title4();

      align-items: center;
      display: flex;
      flex-direction: row;
    }

    .h-card-secondary-title {
      @include fonts.body();

      .ico-bank-warning {
        margin-left: rem.torem(8px);
        vertical-align: middle;
      }
    }

    .h-card-content {
      margin-top: rem.torem(8px);

      p {
        color: colors.$black;
      }
    }

    .h-card-cols {
      display: flex;
      flex-direction: row;
      margin-top: rem.torem(16px);

      .h-card-col {
        border-left: rem.torem(1px) solid colors.$grey-medium;
        flex: 1 1;
        overflow: hidden;
        padding-left: rem.torem(24px);
        padding-right: rem.torem(24px);

        &:first-child {
          border: 0;
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .h-section {
    margin-top: rem.torem(40px);

    &:first-child {
      margin-top: 0;
    }

    .h-section-title {
      @include fonts.title3();
    }

    > .h-card,
    > .h-section {
      margin-top: rem.torem(24px); // in case it's just after section title

      &:first-child {
        margin-top: 0;
      }
    }

    .h-section-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: rem.torem(16px);

      &:first-child {
        margin-top: 0;
      }

      &.nested {
        margin-left: rem.torem(14px);
      }

      .h-card {
        flex: 1 1;
        margin-left:
          rem.torem(
            24px
          ); // in case it's inside a section-row with multiple cards

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .newsletter {
      position: relative;
      margin-top: rem.torem(16px);
    }
  }

  .venue-banner,
  .offerer-banner {
    margin-top: rem.torem(24px);

    .h-card-content {
      text-align: center;
    }

    .actions-container {
      display: flex;
      justify-content: center;
      margin-top: rem.torem(24px);
      text-align: center;

      a {
        flex: 1;
        margin-left: rem.torem(16px);
        max-width: rem.torem(240px);

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .offerer-banner {
    .actions-container {
      a {
        max-width: rem.torem(255px);
      }
    }
  }

  .h-venue-list {
    margin-top: rem.torem(16px);

    .loading-spinner {
      img {
        margin-bottom: 0;
      }
    }

    .h-card-inner {
      padding-bottom:
        rem.torem(
          16px
        ); // FIXME: remove this fix when venue list card get content.
    }
  }
}
