@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

$offer-image-height: rem.torem(273px);
$offer-image-width: rem.torem(216px);

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: $offer-image-width;
  gap: rem.torem(16px);
}

.offer-link {
  &:active {
    opacity: 0.64;

    .offer-image {
      box-shadow: none;
    }

    .offer-name,
    .offer-venue-name,
    .offer-venue-distance {
      text-decoration: none;
    }
  }

  &:hover {
    .offer-image {
      box-shadow: 0 0 rem.torem(8px) var(--color-large-shadow);
    }

    .offer-name,
    .offer-venue-name,
    .offer-venue-distance {
      text-decoration: underline;
    }
  }

  &:focus-visible {
    outline: rem.torem(1px) solid var(--color-input-text-color);
    outline-offset: rem.torem(4px);
    border-radius: rem.torem(18px);
  }
}

.offer-image-container {
  height: rem.torem(273px);
}

.offer-image {
  width: $offer-image-width;
  height: $offer-image-height;
  border-radius: rem.torem(16px);
  border: rem.torem(1px) solid var(--color-white);
  object-fit: cover;

  &.offer-image-fallback {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-grey-light);
    color: var(--color-grey-semi-dark);
  }
}

.offer-favorite-button {
  background-color: var(--color-white);
  padding: rem.torem(10px);
  position: absolute;
  top: rem.torem(12px);
  right: rem.torem(12px);

  &:hover:not(:disabled),
  &:focus-visible {
    background-color: var(--color-white);
  }
}

.offer-tag-container {
  display: flex;
  align-items: center;
  gap: rem.torem(8px);
  width: 100%;
  margin: rem.torem(16px) 0;
}

.offer-tag {
  display: flex;
  align-items: center;
  border-radius: rem.torem(32px);
  padding: rem.torem(4px) rem.torem(8px);

  &-image {
    width: rem.torem(16px);
  }
}

.offer-name {
  @include fonts.bold;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  margin-bottom: rem.torem(16px);
}

.offer-venue {
  margin-bottom: rem.torem(8px);

  &-name {
    @include fonts.highlight;
  }

  &-distance {
    @include fonts.highlight;

    color: var(--color-grey-dark);
    text-transform: uppercase;
  }
}
