@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_forms.scss" as forms;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_fonts.scss" as fonts;

.container {
  container: openinghours / inline-size;
}

.legend {
  float: left;
  display: inline-flex;
  align-items: flex-start;
}

.fieldset {
  display: flex;
  flex-direction: column;
  margin: var(--size-spacing-xl) 0;

  &.has-timespans .legend {
    margin-top: var(--size-spacing-m);
  }

  &:not(&.has-timespans) .legend {
    align-items: center;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.timespans {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-l);
}

.timespans-headers {
  @include fonts.body-accent-s;

  color: var(--color-text-subtle);
  display: flex;
  flex-direction: row;
  margin-left: rem.torem(56px);
  margin-right: rem.torem(64px);
  justify-content: space-evenly;
}

@container openinghours (min-width: #{rem.torem(400px)}) {
  .fieldset {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: var(--size-spacing-l);
  }
}
