.android-with-statusbar .close {
  top: 2rem;
}

#deck {
  background-color: $black;
  height: 100%;
  max-height: 100%;

  .react-draggable {
    cursor: -webkit-grab;
    transition-duration: 250ms;
    transition-property: transform;
    transition-timing-function: ease;
    z-index: $zindex-deckdraggable;
  }

  .react-draggable .inner {
    height: 100%;
    width: 100%;
  }

  .close {
    right: 1rem;
    top: 1rem;
  }
}
