@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;
@use "styles/mixins/_fonts.scss" as fonts;

$banner-left-padding: rem.torem(16px);

.bi-banner {
  border-radius: rem.torem(6px);
  margin: rem.torem(16px) 0;
  padding: rem.torem(20px) rem.torem(16px) rem.torem(16px) rem.torem(16px);

  &.attention,
  &.notification-info {
    position: relative;

    &.title {
      margin: rem.torem(30px) 0 rem.torem(16px) 0;
    }

    &::before {
      padding: 0 rem.torem(8px) 0 rem.torem(40px);
      top: rem.torem(-10px);
      left: rem.torem(14px);
      background: var(--color-white);
    }

    .icon {
      color: var(--color-primary);
      width: rem.torem(24px);
      height: rem.torem(24px);
      top: rem.torem(-15px);
      left: rem.torem(23px);
    }

    .bi-banner-text {
      color: var(--color-black);

      &.provider {
        display: flex;
        align-items: center;
        height: calc(
          size.$provider-banner-height - rem.torem(1px) * 2
        ); // banner height minus border height * 2
      }
    }

    .bi-link {
      display: flex;
      align-items: flex-start;
      justify-content: left;
    }

    &.is-minimal {
      border: none;
      border-radius: 0;
      border-top: 2px solid;

      > .border-cut::after {
        display: none;
      }
    }

    > .border-cut::after {
      content: "";
      position: absolute;
      bottom: rem.torem(-2px);
      right: rem.torem(80px);
      background: var(--color-white);
      width: rem.torem(24px);
      height: rem.torem(3px);
    }
  }

  &.attention {
    border: rem.torem(1px) solid var(--color-primary);
    color: var(--color-primary);

    svg,
    a,
    .bi-link {
      color: var(--color-black);
    }
  }

  &.notification-info {
    border: rem.torem(1px) solid var(--color-secondary-light);
    color: var(--color-secondary-light);
  }

  &.light {
    background: var(--color-grey-light);
    color: var(--color-grey-dark);
  }

  &.new {
    background: var(--color-accent);
    color: var(--color-white);

    .content {
      display: flex;
      align-items: flex-start;
    }

    .ico-new {
      margin-right: rem.torem(16px);
      margin-top: rem.torem(8px);
    }

    a,
    .bi-link {
      color: var(--color-white);
    }

    path {
      fill: var(--color-white);
      color: var(--color-white);
    }
  }

  &.image {
    position: relative;
    box-sizing: content-box;
    padding: 0;

    &,
    .bi-banner-text,
    .content svg {
      height: size.$image-banner-height;
      width: size.$image-banner-width;
    }

    button {
      position: absolute;
      right: rem.torem(8px);
      top: rem.torem(8px);

      path {
        fill: var(--color-white);
        color: var(--color-white);
      }
    }
  }

  &-text {
    line-height: rem.torem(20px);
    text-align: left;

    &.with-margin {
      margin-bottom: rem.torem(8px);
    }
  }

  button {
    background: none;
    border: none;
    float: right;
  }
}

.container {
  @include fonts.bold;

  display: flex;
  position: absolute;
  height: rem.torem(26px);
  align-items: center;
  background: var(--color-white);
  top: 0;
  left: $banner-left-padding;
  transform: translateY(-50%);
  padding: 0 rem.torem(8px);

  &-title {
    margin-left: rem.torem(8px);
  }
}
