@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;

.offer-date-filter {
  width: rem.torem(173px);
}

.venue-filter {
  flex-grow: 1;
  width: rem.torem(397px);
}

.bookings-page {
  .vertical-bar {
    background-color: colors.$grey-medium;
    height: rem.torem(40px);
    width: rem.torem(1px);
  }

  .search-separator {
    align-items: center;
    display: flex;

    .separator {
      background-color: colors.$grey-medium;
      flex: 5;
      height: rem.torem(1px);
    }

    button {
      flex: 3;
    }
  }

  .choose-pre-filters {
    padding-top: rem.torem(16px);
  }
}

.pre-filters-form {
  &:not(.has-result) {
    margin-bottom: rem.torem(32px);
  }

  &.has-result:not(.refresh-required) {
    margin-bottom: rem.torem(48px);
  }

  &.refresh-required.has-result {
    margin-bottom: rem.torem(16px);
  }

  &:not(.refresh-required) ~ .no-bookings-for-pre-filters {
    padding-top: rem.torem(16px);
  }

  &.refresh-required ~ .no-bookings-for-pre-filters {
    padding-top: 0;
  }
}

.reset-filters {
  margin-top: rem.torem(30px);
  margin-bottom: rem.torem(36px);
  display: flex;
  justify-content: flex-end;
}

.pf-refresh-message {
  @include fonts.body;

  color: colors.$red-error;
  line-height: rem.torem(16px);
  text-align: center;
}

.show-button {
  z-index: 0;
}
