.bookings-page {
  .vertical-bar {
    background-color: $grey-medium;
    height: rem(40px);
    width: rem(1px);
  }

  .reset-filters {
    margin-bottom: rem(36px);
    text-align: right;
  }

  .pre-filters {
    .pre-filters-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(30px);
    }

    .pf-offer-date {
      .field-date {
        align-items: center;
        background-image: url(/icons/ico-calendar.svg);
        background-position-x: 90%;
        background-position-y: center;
        background-repeat: no-repeat;
        border: 1px solid $grey-medium;
        border-radius: rem(20px);
        display: flex;
        height: rem(40px);
        margin-top: rem(16px);
        padding: 0 1px;
        width: rem(173px);

        &:focus-within {
          border-color: $primary;
          border-width: rem(2px);
        }

        &.disabled {
          background-image: url(/icons/ico-calendar-disabled.svg);
          border: none;
          box-shadow: none;
        }
      }

      .pf-offer-date-picker:focus-within {
        .field-date {
          border-color: $primary;
          border-width: rem(2px);
          padding: 0;
        }
      }

      button {
        outline: none;
      }

      .pf-offer-date-label {
        margin-bottom: rem(12px);
      }

      .pf-offer-date-input {
        @include body();

        background: none;
        border: 0;
        outline: none;
        padding-left: rem(10px);
        width: 100%;

        &:disabled {
          color: $grey-dark;
          cursor: initial;
          opacity: 1;

          &::placeholder {
            color: $grey-dark;
          }
        }
      }
    }

    .input-select {
      select {
        margin-top: rem(16px);
      }
    }

    .pre-filters-venue {
      flex-grow: 1;
      width: rem(397px);
      min-width: rem(397px);
      margin-right: rem(24px);
    }

    .pre-filters-offer-type {
      width: rem(208px);
      margin-right: rem(24px);
    }
  }

  .search-separator {
    align-items: center;
    display: flex;

    .separator {
      background-color: $grey-medium;
      flex: 5;
      height: rem(1px);
    }

    button {
      flex: 3;
    }
  }

  form {
    &:not(.has-result) {
      margin-bottom: rem(32px);
    }

    &.has-result:not(.refresh-required) {
      margin-bottom: rem(48px);
    }

    &.refresh-required.has-result {
      margin-bottom: rem(16px);
    }

    &:not(.refresh-required) ~ .no-bookings-for-pre-filters {
      padding-top: rem(16px);
    }

    &.refresh-required ~ .no-bookings-for-pre-filters {
      padding-top: 0;
    }
  }

  .choose-pre-filters {
    padding-top: rem(16px);
  }

  .pf-refresh-message {
    @include body();

    color: $red-error;
    line-height: rem(16px);
    text-align: center;
  }
}
