@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.image-preview-previews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: rem.torem(24px) 0;

  &-shell {
    height: rem.torem(150px);
    margin-bottom: rem.torem(12px);
  }

  & > div {
    text-align: center;
    width: 50%;
  }
}

.image-preview-previews-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
  align-items: center;

  figcaption {
    @include fonts.body-accent-xs;
  }
}
