@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.image-preview-previews {
  background: colors.$grey-light;
  display: flex;
  justify-content: center;
  padding: rem.torem(16px) 0;

  svg {
    height: rem.torem(600px);
    width: rem.torem(342px);
    margin-bottom: rem.torem(12px);
  }

  & > div {
    text-align: center;
    width: 50%;
  }
}

.image-preview-previews-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 rem.torem(60px);
  position: relative;
  align-items: center;

  figcaption {
    @include fonts.caption();
  }
}

.image-preview-screen {
  position: absolute;
  left: rem.torem(26px);
  top: rem.torem(34px);
}
