@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.image-preview-previews {
  padding: rem.torem(16px);
  border: 1px solid var(--color-border-subtle);
  border-radius: rem.torem(8px);

  &-title {
    @include fonts.body-xs;
  }

  &-container {
    display: flex;
    flex-direction: column;
    place-items: center center;
    gap: rem.torem(30px);
    margin: rem.torem(24px) 0;
  }

  &-shell {
    height: rem.torem(148px);
    margin: 0 39px;
  }
}

.image-preview-previews-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

  figcaption {
    @include fonts.body-accent-xs;

    margin-top: rem.torem(6px);
  }
}

.image-preview-screen {
  position: absolute;
  left: rem.torem(46px);
  top: rem.torem(10px);
}


