@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.contact-detail {
  display: flex;
  gap: rem.torem(8px);
  align-items: center;

  &-icon {
    display: flex;
    height: rem.torem(16px);
    width: rem.torem(16px);
    color: var(--color-icon-default);
  }

  &:first-child {
    margin-bottom: rem.torem(4px);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.contact-container {
  margin-top: rem.torem(16px);
  display: flex;
  flex-direction: column;
  gap: rem.torem(4px);
}
