@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.contact-detail {
  display: flex;
  gap: var(--size-spacing-s);
  align-items: center;

  &-icon {
    display: flex;
    height: rem.torem(16px);
    width: rem.torem(16px);
    color: var(--color-icon-default);
  }

  &:first-child {
    margin-bottom: var(--size-spacing-xs);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.contact-container {
  margin-top: var(--size-spacing-l);
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-xs);
}
