<html>
    <body>
        <p id="mail-greeting">Cher partenaire pass Culture,</p>
        <p id="action">
            Suite à votre suppression de
            {% if cancellation_case == 'stock' %}
                stock
            {% elif cancellation_case == 'event_occurrence' %}
                date
            {% endif %}
            pour l'offre {{ offer_name }}, les réservations suivantes ont été automatiquement annulées :
        <table id="recap-table">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
            </tr>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.user.firstName }}</td>
                <td>{{ booking.user.lastName }}</td>
                <td>{{ booking.user.email }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>