{% extends "mails/offerer_recap_email.html" %}
{% block new_reservation %}
    <p id="action">
        <strong>{{ user_name }}</strong> ({{ user_email }}) vient
        {% if is_cancellation -%}
            d'annuler sa réservation
        {%- else -%}
            de faire une nouvelle réservation
        {%- endif -%}
        {%- if booking_is_on_event -%}
            .
        {% else %}
        <br/>pour {{ stock_name }},
            {% if venue.isVirtual %}
                <br/>offre numérique proposée par {{ venue.name }}.
            {% else %}
                <br/>proposé par {{ venue.name }} (Adresse : {{ venue.address }}, {{ venue.postalCode }} {{ venue.city }}).
            {% endif %}
        {%- endif -%}
    </p>
{% endblock %}