<html>
    <body>
        <p id="mail-greeting">Cher partenaire pass Culture,</p>
        <div id="mail-content">
            Vous venez de créer un compte pass Culture pro avec votre adresse {{ user.email }}.
            Vous pouvez valider votre adresse email en suivant ce lien : <br>
            <a href="{{ app_origin_url }}/inscription/validation/{{ user.validationToken }}">
                {{ app_origin_url }}/inscription/validation/{{ user.validationToken }}
            </a>
        </div>
    </body>
</html>