@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_rem.scss" as rem;

.snack-bar-container {
  position: fixed;
  bottom: rem.torem(24px);
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-spacing-m);
  z-index: 1000;

  &.with-sticky-action-bar {
    bottom: rem.torem(72px);
  }
}

@media screen and (max-width: size.$tablet) {
  .snack-bar-container {
    left: 0;
    top: 0;
    bottom: unset;
    transform: unset;
    width: 100%;
    gap: var(--size-spacing-xs);

    &.with-sticky-action-bar {
      bottom: unset;
    }
  }
}
