.page-activation {
  .form-checkbox {
    background-image: url(/icons/checkbox-w.svg);

    &:active,
    &:checked {
      &::after {
        background-image: url(/icons/checkbox-check-w.svg);
      }
    }
  }
}

.activation-email-label {
  font-size: rem(19px);
}

.activation-email {
  font-size: rem(20px);
  font-weight: 700;
}
