#activation-password-page {
  .pc-final-form-label {
    @extend .fs19;
  }

  .pc-final-form-input {
    @extend .fs20;
    @extend .is-bold;
  }

  label[for='activation-newPassword'] .pc-final-form-label {
    padding: 0;
  }

  .checkbox-accept-CGU {
    margin-top: 40px;

    input {
      margin-right: 0.5rem;
      background-image: url(/icons/checkbox-w.svg);
      border: none;
      background-repeat: no-repeat;
      background-size: 1.1875em;
      width: 1.1875em;
      height: 1.1875em;
      padding: 0;
      border-radius: 0;
      vertical-align: text-bottom;

      &:active,
      &:checked {
        &::after {
          content: '';
          background-repeat: no-repeat;
          background-image: url(/icons/checkbox-check-w.svg);
          background-position: center;
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }

    a {
      text-decoration: underline;
      color: $white;
    }
  }
}

#activation-events-page {
  .pc-final-form-selectbox {
    .pc-final-form-inner {
      @extend .no-border;
      @extend .no-background;

      border-radius: 0;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-color: $white !important;
    }

    .pc-final-form-inner::after {
      color: $white;
    }

    .pc-final-form-input {
      @extend .fs18;
      @extend .is-bold;
      @extend .no-background;

      color: $white !important;
      margin-left: 0 !important;
    }
  }
}

#activation-events-page-submit-button {
  color: $white;
  background-color: transparent;
}

#activation-error-page,
#activation-link-error-page {
  p {
    font-weight: 500;
    font-style: italic;
  }

  > div {
    margin-top: 16px;
  }

  a {
    border-radius: 1px;
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.react-embed-typeform-container iframe {
  @extend .is-full-layout;
}
