@use "styles/mixins/_rem.scss" as rem;

.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-spacing-l);
  align-items: flex-end;
}

.time-picker {
  width: rem.torem(110px);
}

.separator {
  border-left: 1px solid var(--separator-color-default);
  margin-top: calc(var(--typography-body-line-height) + rem.torem(8px));
  height: rem.torem(40px);
}

.sort-select,
.place-category-select {
  max-width: rem.torem(189px);
}

.filter-reset {
  height: 40px;
  display: inline-flex;
}
