@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.section {
  margin-top: var(--size-spacing-xxl);
}

.no-data {
  color: var(--color-text-subtle);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--size-spacing-l) 0;

  &-icon {
    width: rem.torem(42px);
    height: rem.torem(32px);
  }
}

.data-container {
  display: grid;
  width: 100%;
  gap: var(--size-spacing-xxl);
  grid-template-columns: 1fr;
  margin-top: var(--size-spacing-s);

  &.has-top-offers {
    @media (min-width: size.$tablet) {
      grid-template-columns: 1fr rem.torem(255px);
    }
  }
}

.sync-date {
  @include fonts.body-accent-xs;

  text-align: end;
  margin-top: var(--size-spacing-s);
  grid-column: 1 / -1;
}

.card-data {
  display: flex;
  justify-content: center;
  flex: 1 1 670px;
  width: 100%;
}
