@import 'styles';
@import 'sass-rem';

.button {
  border-style: none;
  border-radius: rem(24px);
  padding: rem(10px) rem(24px);
  font-weight: 700;
  font-size: rem(15px);

  &-secondary {
    color: $primary;
    background-color: $white;
    border: rem(2px) solid $primary;

    &:focus,
    &:hover {
      color: $white;
      border-color: $primary-dark;
    }
  }

  &-primary {
    color: $white;
    background-color: $primary;

    &:focus,
    &:hover {
      outline: none;
      background-color: $primary-dark;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    background-color: $primary-disabled;
    border: rem(3px) solid $primary-disabled;
    cursor: not-allowed;
  }
}
