@import 'styles';
@import 'sass-rem';

.button {
  border-style: none;
  border-radius: rem(24px);
  padding: rem(8px) rem(24px);
  font-weight: 700;
  font-size: rem(15px);

  &-is-loading {
    padding: rem(4px) rem(24px);
  }

  &-spinner {
    height: rem(24px);
  }

  &-secondary {
    color: $primary;
    background-color: $white;
    border: rem(2px) solid $primary;

    &:focus,
    &:hover {
      color: $white;
    }

    .button-spinner {
      fill: $primary;
    }
  }

  &-primary {
    color: $white;
    background-color: $primary;
    border: rem(2px) solid $primary;

    .button-spinner {
      fill: $white;
    }
  }

  &:focus,
  &:hover {
    outline: none;
    background-color: $primary-dark;
    border-color: $primary-dark;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    background-color: $primary-disabled;
    border: rem(3px) solid $primary-disabled;
    cursor: not-allowed;
  }
}

.button-spinner {
  @media screen and (prefers-reduced-motion: reduce) {
    animation: none;
  }

  animation: rotation 3s infinite linear;

  .content::after {
    content: attr(data-dots);
    position: absolute;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }
}
