@use "src/styles/mixins/_rem.scss" as rem;

.offerer-stats-no-result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    margin: rem.torem(24px) 0;
  }
}
