@use "styles/mixins/_rem.scss" as rem;

$min-width: rem.torem(640px);
$max-width: rem.torem(1440px);
$max-width-percentage: 60%;

.content-wrapper {
  max-width: clamp($min-width, $max-width-percentage, $max-width);
  margin-left: auto;
  margin-right: auto;
}

.layout {
  margin: unset;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
