@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.notification-mail {
  position: relative;
  &-input {
    width: 90%;
  }
}

.trash {
  position: absolute;
  // Center icon on input : label height (20px) + label margin(8px) + (input height(40px) - icon size(20px))/2
  top: rem.torem(38px);
  right: rem.torem(4px);
  &:hover {
    svg {
      fill: colors.$primary;
    }
  }
}
