@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_forms.scss" as forms;
@use "styles/variables/_size.scss" as size;
@use "styles/mixins/_fonts.scss" as fonts;

.notification-mail {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: rem.torem(8px);

  &-input {
    width: 90%;
  }
}

.trash {
  @include size.input-center-with-top-margin(size.$button-icon-size);

  &:hover {
    svg {
      fill: var(--color-primary);
    }
  }
}
