@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_outline.scss" as outline;

.button-filter {
  @include fonts.body;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: var(--color-background-default);
  padding: rem.torem(6px) rem.torem(8px);
  border: rem.torem(1px) solid var(--color-border-default);
  border-radius: rem.torem(8px);
  max-width: rem.torem(400px);
  color: var(--color-text-default);

  &-icon {
    height: size.$button-icon-size;
    width: size.$button-icon-size;
    flex-shrink: 0;
    vertical-align: text-bottom;
    margin: rem.torem(2px) 0 0 rem.torem(8px);
  }

  &-active {
    @include fonts.button;

    &::before {
      content: "";
      display: block;
      width: rem.torem(8px);
      height: rem.torem(8px);
      border-radius: 50%;
      margin-right: rem.torem(8px);
      background-color: var(--color-icon-brand-primary);
    }
  }

  &-open {
    border: rem.torem(2px) solid var(--color-border-brand-primary);
  }

  &:focus-visible {
    @include outline.focus-outline;
  }

  &:hover {
    cursor: pointer;
  }
}
