.password-set-confirm {
  h1 {
    margin-bottom: rem(16px);
  }

  h2 {
    margin-bottom: rem(32px);
  }
}

// This is to override the width of content class
#override-content-width {
  width: rem(488px);
}

.redirection-button {
  text-align: center;
  width: rem(232px);
}
