.mf-my-favorite {
  .teaser-title {
    font-weight: 700;
  }

  .teaser-sub-title {
    @include multiLineEllipsis(1);
  }

  .mf-wrapper {
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
