.actionLink {
    margin-right: rem(10px);
}

.educational-form {
    width: 100%;

    &-information {
        margin-bottom: rem(24px);
        font-size: rem(14px);
    }

}

.educational-form-actions {
    display: flex;
    justify-content: center;
    margin-top: rem(64px);

    &-action {
        flex: 1;
        margin-left: rem(24px);
        text-align: center;

        &:first-child {
            margin-left: 0;
        }
    }
}
