.booking-form-content-datepicker {
  .react-datepicker {
    border-color: $grey-light;
    border-radius: 20px;
    border-width: 2px;
    font-family: $family-sans-serif;
  }

  .react-datepicker__header {
    @extend .dotted-bottom-primary;
    @extend .fs22;
    @extend .no-padding;

    background-color: $white;
    border-bottom: 0;

    .react-datepicker__current-month {
      @extend .mt7;
      @extend .mb16;
      @extend .fs18;
      @extend .is-normal;
      @extend .is-capitalized;
    }

    .react-datepicker__day-names {
      @extend .mt7;
      @extend .dotted-top-primary;
    }

    .react-datepicker__day-name {
      @extend .fs16;
      @extend .is-capitalized;

      width: rem(36px);
    }
  }

  .react-datepicker__month-container {
    @extend .px12;

    .react-datepicker__day {
      @extend .fs16;

      border-radius: 50%;
      height: rem(36px);
      line-height: rem(36px);
      width: rem(36px);

      &:hover,
      &:focus {
        background-color: $grey-light;
      }
    }

    .react-datepicker__day--disabled {
      &:hover,
      &:focus {
        background-color: $white;
      }
    }

    .react-datepicker__day--keyboard-selected {
      background-color: $white;
      color: $black;

      &:hover,
      &:focus {
        background-color: $grey-light;
      }
    }

    .react-datepicker__day--selected {
      background-color: $primary;

      &.react-datepicker__day--keyboard-selected {
        background-color: $primary;
        color: $white;
      }
    }
  }

  /* ----- TODAY ----- */

  .react-datepicker__today-button {
    @extend .fs16;
    @extend .is-normal;
    @extend .no-border;
    @extend .dotted-top-primary;

    background-color: transparent;
    border-top: 0;
    color: $primary;
    padding: rem(12px 0);
  }

  /* ----- TRIANGLE ----- */

  .react-datepicker-popper .react-datepicker__triangle {
    border-bottom-color: $white !important;
  }

  /* ----- POPUP ----- */

  .react-datepicker-popper[data-placement^='top'],
  .react-datepicker-popper[data-placement^='bottom'] {
    .react-datepicker__triangle::before {
      border-bottom-color: $grey-light;
      border-width: 12px;
      left: -12px;
    }
  }

  .react-datepicker-popper[data-placement^='bottom'] {
    margin-top: rem(10px);

    .react-datepicker__triangle::before {
      top: -3px;
    }
  }

  /* ----- NAVIGATION GAUCHE/DROITE ----- */

  .react-datepicker__navigation--next,
  .react-datepicker__navigation--previous {
    /* overrides */
    $size: 30px;

    border: 0;
    height: rem($size);
    line-height: rem($size);
    max-height: rem($size);
    max-width: rem($size);
    text-indent: inherit;
    width: rem($size);

    &::before {
      font-size: rem($size);
      line-height: rem($size);
    }
  }

  .react-datepicker__navigation--next::before {
    color: $black;
    content: '\3009';
    font-size: rem(20px);
  }

  .react-datepicker__navigation--previous::before {
    color: $black;
    content: '\3008';
    font-size: rem(20px);
  }

  /* ----- CLEAR ICON ----- */

  .react-datepicker__close-icon {
    $size: 24px;

    background-color: $primary;
    border-radius: 50%;
    height: rem($size);
    right: 8px;
    top: 7px;
    width: rem($size);

    &::after {
      background-color: transparent;
      font-size: rem(30px);
      left: -2px;
      padding: 0;
      top: 3px;
    }
  }
}
