@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;
@use "styles/variables/_z-index.scss" as zIndex;

$connect-as-header-height: rem.torem(52px);

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-background-subtle);
}

.page-layout {
  display: flex;
  height: 100%;
  overflow: hidden;
  border-top: none;
  width: 100%;

  &-connect-as {
    height: calc(100% - $connect-as-header-height);
  }

  @media (min-width: size.$desktop) {
    margin: 0 auto;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  background-color: var(--color-background-default);
}

.content-container {
  width: 100%;
  flex-grow: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: size.$tablet) {
    padding: size.$main-content-padding size.$main-content-padding 0;
  }

  &-sticky-onboarding {
    margin: 0 auto size.$action-bar-sticky-height auto;
    padding: 0;
  }
}

.content {
  position: relative;
  max-width: 100%;
  border: none;
  margin: 0;

  &-sticky-onboarding {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: size.$main-content-width;
    padding: size.$main-content-padding size.$main-content-padding 0;
    margin: 0 auto;
  }
}

.main-heading {
  margin-bottom: 1rem;
}

.onboarding-layout {
  margin: rem.torem(32px) auto 0 auto;
  padding: 0 rem.torem(32px);
  display: flex;
  flex-direction: column;
  align-items: center;

  // Not vertically centered by default
  justify-content: flex-start;

  &.vertically-centered {
    margin-top: rem.torem(32px);

    @media (min-width: size.$laptop) {
      margin-top: 15vh;
    }

    // Slightly up for low height screens
    @media (max-height: rem.torem(900px)) {
      margin-top: 10vh;
    }
  }
}
