@use "styles/mixins/_rem.scss" as rem;

.sub-form {
  margin-top: rem.torem(24px);
}

.callout {
  margin-bottom: rem.torem(32px);
}

.artistic-info-inputs {
  display: flex;
  flex-direction: column;
  gap: rem.torem(16px);
}
