@use "styles/mixins/_rem.scss" as rem;

.image-preview-shell {
  position: absolute;
  width: rem.torem(70px);
  top: rem.torem(0);
}

.image-preview-blur-offer-preview {
  background-color: var(--color-white);
  filter: blur(2px);
  left: rem.torem(1px);
  position: absolute;
  top: rem.torem(1px);
  width: 70px;
  overflow: hidden;
}

.image-preview-offer-preview {
  background-color: var(--color-white);
  border-radius: rem.torem(5px);
  left: rem.torem(12px);
  position: absolute;
  top: rem.torem(22.4px);
  height: rem.torem(70.93px);
}

