@use "src/styles/mixins/_rem.scss" as rem;

.contact-modal {
  &-dialog {
    max-width: rem.torem(548px);
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-text {
    margin-top: rem.torem(32px);
  }

  &-text,
  &-list {
    text-align: center;
    margin-bottom: rem.torem(32px);
  }

  &-list {
    list-style: none;
    font-weight: 700;
    line-height: rem.torem(24px);
    padding: 0;
    font-size: rem.torem(20px);

    &-item-link {
      color: inherit;
      word-break: break-all;
    }
  }

  &-button {
    margin-top: rem.torem(16px);
  }
}
