@use 'styles/mixins/_rem.scss' as rem;

.offers-actions-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .actions-container {
    display: flex;

    button {
      margin-left: rem.torem(40px);
    }
  }
}
