@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.content {
  margin-top: rem.torem(15px);
}

.offer-title {
  @include fonts.title4;

  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-s);
  margin-top: rem.torem(-32px);
  margin-bottom: rem.torem(64px);

  @media screen and (min-width: size.$tablet) {
    flex-direction: row;
    gap: var(--size-spacing-l);
    margin-bottom: 0;
  }
}

.title-container {
  position: absolute;
  top: rem.torem(80px);

  @media screen and (min-width: size.$tablet) {
    top: 0;
    right: 0;
  }
}

.status {
  align-self: baseline;
  margin-bottom: var(--size-spacing-l);
}

.publication-date {
  margin-top: var(--size-spacing-xs);
  display: flex;
  gap: var(--size-spacing-s);
  align-items: center;
}

.publication-icon {
  color: var(--color-icon-success);
  width: rem.torem(24px);
  height: rem.torem(24px);
}

.banner-container {
  margin: var(--size-spacing-l) 0;
}

.ean-already-exists-callout {
  margin: var(--size-spacing-l) 0;
}

.ean-already-exists-callout-description {
  margin: var(--size-spacing-s) 0;
}
