@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.stocks-page {
  .stock-options-menu-button {
    @include fonts.title2();

    background-color: transparent;
    border: none;
    display: flex;
    padding: rem.torem(8px) rem.torem(10px);

    .stock-options-menu-button-icon {
      height: rem.torem(24px);
    }

    &:focus,
    &:focus-visible,
    &:hover {
      .stock-options-menu-button-icon {
        fill: colors.$primary;
      }
    }
  }
}

.stock-options-menu-item-icon {
  height: rem.torem(32px);
  width: rem.torem(32px);
}

.stock-options-menu-item {
  @include fonts.button();

  align-items: center;
  column-gap: 4px;
  display: grid;
  grid-template-columns: 32px 1fr;
  margin-top: rem.torem(10px);
  padding: 0 rem.torem(12px);

  &:first-child {
    margin-top: 0;
  }

  &[data-selected] {
    background-color: transparent;
    color: colors.$primary;

    .stock-options-menu-item-icon {
      fill: colors.$primary;
    }
  }

  &:not([data-selected]) {
    color: colors.$black;
  }
}

.stock-options-menu-list[data-reach-menu-list] {
  padding: rem.torem(12px) 0;
  white-space: pre-wrap;
  width: 200px;
}

[data-reach-menu-popover] {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 3;
}
