.stocks-page {
  .stock-options-menu-button {
    @include title2();

    background-color: transparent;
    border: none;
    display: flex;
    padding: rem(8px) rem(10px);

    .stock-options-menu-button-icon {
      height: rem(24px);
    }

    &:focus,
    &:focus-visible,
    &:hover {
      .stock-options-menu-button-icon {
        fill: $primary;
      }
    }
  }
}

.stock-options-menu-item-icon {
  height: rem(32px);
  width: rem(32px);
}

.stock-options-menu-item {
  @include button();

  align-items: center;
  column-gap: 4px;
  display: grid;
  grid-template-columns: 32px 1fr;
  margin-top: rem(10px);
  padding: 0 rem(12px);

  &:first-child {
    margin-top: 0;
  }

  &[data-selected] {
    background-color: transparent;
    color: $primary;

    .stock-options-menu-item-icon {
      fill: $primary;
    }
  }

  &:not([data-selected]) {
    color: $black;
  }
}

.stock-options-menu-list[data-reach-menu-list] {
  padding: rem(12px) 0;
  white-space: pre-wrap;
  width: 200px;
}

[data-reach-menu-popover] {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 3;
}
