.eligibility-check-page {
  background-image: url('/id-check-bg.jpg');
  background-size: 100%;
  display: grid;
  grid-template-columns: 52px auto;
  grid-template-rows: 80px auto;
  height: 100%;

  .back-link {
    grid-column: 1/2;
    grid-row: 1/2;
    place-self: center;
  }

  .eligibility-title {
    color: $white;
    font-size: rem(18px);
    grid-column: 1/3;
    grid-row: 1/2;
    place-self: center;
  }

  .eligibility-form {
    align-items: center;
    background-color: $white;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex: 7;
    flex-direction: column;
    grid-column: 1/3;
    grid-row: 2/3;
    height: 100%;
    justify-content: space-between;
    padding: rem(24px) 0;
    position: relative;

    label {
      align-items: center;
      display: flex;
      flex-direction: column;

      input {
        border: 1px solid $grey-medium;
        border-radius: 24px;
        font-size: rem(22px);
        font-weight: 500;
        margin: rem(16px) 0;
        outline: none;
        padding: rem(11px) 0;
        text-align: center;

        &::placeholder {
          color: $grey-medium;
        }

        &:focus {
          border: 2px solid $primary;
          caret-color: $primary;
          margin: rem(15px) 0;
        }
      }

      .date-of-birth-input {
        margin-bottom: 0;

        &:focus {
          margin-bottom: 0;
        }
      }

      .date-of-birth-input-error {
        animation: wizz-input-error .1s linear;
        animation-iteration-count: 3;
        border: 2px solid $error;

        &:focus {
          border: 2px solid $error;
        }
      }
    }
  }

  .eligibility-submit {
    background-image: linear-gradient(101deg, $primary -42%, $secondary 128%);
    border: none;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    color: $white;
    cursor: pointer;
    font-size: rem(16px);
    font-weight: bold;
    outline: none;
    padding: rem(15px) 0;
    width: rem(300px);

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
      -webkit-text-fill-color: $white;
    }
  }

  .dob-field-error {
    align-self: flex-start;
    color: $error;
    display: flex;
    font-size: rem(14px);
    font-weight: 500;
    margin: rem(7px) rem(15px) 0;

    img {
      height: rem(17px);
      margin-right: rem(9px);
      width: rem(17px);
    }

    pre {
      font-family: inherit;
      white-space: pre-wrap;
    }
  }
}

@keyframes wizz-input-error {
  0% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
