.is-block {
  display: block;
}

.is-inline-block {
  display: inline-block !important;
}

.is-absolute {
  position: absolute;
}

.is-relative {
  position: relative;
}

.is-clipped {
  overflow: hidden !important;
}

.is-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.is-full-width {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

.is-full-height {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}

.is-full-layout {
  @extend .is-full-width;
  @extend .is-full-height;
}

.is-hyphens {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: auto;
}

.is-primary-border {
  border: 2px solid $primary;
}

.is-raw-description {
  @extend .fs16;

  background-color: transparent;
  font-family: inherit;
  line-height: inherit;
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}
