@mixin withHeight($pixelSize) {
  height: rem($pixelSize);
  max-height: rem($pixelSize);
  min-height: rem($pixelSize);
}

@mixin withWidth($pixelSize) {
  max-width: rem($pixelSize);
  min-width: rem($pixelSize);
  width: rem($pixelSize);
}

@mixin withSize($width, $height) {
  @include withWidth($width);
  @include withHeight($height);
}

@mixin squareSize($pixelSize) {
  @include withSize($pixelSize, $pixelSize);
}
