.bookings-table {
  .booking-status-label {
    border-radius: rem(5px);
    color: $white;
    font-weight: $weight-medium;
    font-size: rem(14px);
    padding: rem(2px) rem(5px);
  }

  .booking-status-booked {
    background-color: $purple-dark;
  }

  .booking-status-validated {
    background-color: $blue-dark;
  }

  .booking-status-cancelled {
    background-color: $grey;
  }

  .booking-status-reimbursed {
    background-color: $green-dark;
  }

  .booking-status-wrapper {
    position: relative;
  }

  .booking-status-wrapper .bs-tooltip {
    display: none;
  }

  .booking-status-wrapper:hover .bs-tooltip {
    background-color: $white;
    border-radius: rem(4px);
    box-shadow: 0 rem(2px) rem(10px) 0 rgba(0, 0, 0, 0.3);
    color: $black;
    display: block;
    height: rem(179px);
    position: absolute;
    padding: rem(16px) rem(24px) rem(16px) rem(24px);
    right: 0;
    top: rem(30px);
    width: rem(284px);
    z-index: 1;
  }

  .bs-offer-title {
    font-size: rem(16px);
    font-weight: bold;
  }
}
