.bookings-table {
  .booking-status-label {
    border-radius: rem(5px);
    color: $white;
    font-weight: $weight-medium;
    font-size: rem(14px);
    padding: rem(2px) rem(5px);
  }

  .booking-status-booked {
    background-color: $purple-dark;
  }

  .booking-status-validated {
    background-color: $blue-dark;
  }

  .booking-status-cancelled {
    background-color: $grey;
  }

  .booking-status-reimbursed {
    background-color: $green-dark;
  }

  .booking-status-wrapper {
    position: relative;
  }

  .booking-status-wrapper .bs-tooltip {
    display: none;
  }

  .booking-status-wrapper:hover .bs-tooltip {
    background-color: $white;
    border-radius: rem(4px);
    box-shadow: 0 rem(2px) rem(10px) 0 rgba(0, 0, 0, 0.3);
    color: $black;
    display: block;
    position: absolute;
    padding: rem(16px) rem(24px) rem(16px) rem(24px);
    right: 0;
    top: rem(30px);
    width: rem(284px);
    z-index: 1;
  }

  .bs-offer-title {
    display: block;
    font-size: rem(16px);
    font-weight: $weight-bold;
  }

  .bs-offer-amount {
    display: block;
    font-size: rem(14px);
    font-weight: $weight-medium;
    margin-top: rem(7px);
  }

  .bs-history-title {
    font-size: rem(16px);
    margin-top: rem(16px);
  }

  .bs-history-label {
    font-size: rem(16px);
    margin-top: rem(12px);
  }

  .bs-history-datetime {
    margin: rem(6px);
  }

  .booking-status-history li {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin-top: rem(16px);
    text-transform: capitalize;
  }

  .colored-disc {
    border-radius: rem(9px);
    height: rem(14px);
    margin-right: rem(16px);
    width: rem(14px);

    &.bs-history-booked {
      background-color: $purple-dark;
    }

    &.bs-history-cancelled {
      background-color: $grey;
    }

    &.bs-history-reimbursed {
      background-color: $green-dark;
    }

    &.bs-history-validated {
      background-color: $blue-dark;
    }
  }
}
