@use "src/styles/variables/_colors.scss" as colors;
@use "src/styles/mixins/_fonts.scss" as fonts;
@use "src/styles/mixins/_rem.scss" as rem;

.toggle-venue-provider-status-dialog {
  min-width: rem.torem(636px);

  .explanation {
    text-align: left;

    ul {
      list-style: disc;
      margin-left: rem.torem(32px);
    }
  }
}
