@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;

.offer-card-link {
  display: block;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    cursor: pointer;
  }

  &:focus-visible {
    outline: none;

    &::before {
      outline: rem.torem(1px) solid var(--color-input-text-color);
      outline-offset: rem.torem(2px);
      border-radius: rem.torem(16px);
    }
  }
}

.offer-card {
  display: flex;
  flex-direction: column;
  gap: rem.torem(16px);
  border: 2px solid var(--color-grey-light);
  border-radius: rem.torem(16px);
  transition: box-shadow 0.1s ease-out;
  position: relative;
  z-index: 0;
  align-items: center;

  &:hover {
    box-shadow: 0 2px 16px 0 var(--color-large-shadow);

    .offer-card-image-img {
      transform: translateX(0) translateY(0) scale(1.1);

      @media screen and (prefers-reduced-motion: reduce) {
        transform: none;
      }
    }
  }

  &-template {
    padding: rem.torem(16px);
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: rem.torem(16px);
  }

  &-bookable {
    padding: 0 rem.torem(16px) rem.torem(16px);
  }

  &-right {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    gap: rem.torem(16px);
  }

  &-image {
    width: rem.torem(216px);
    min-width: rem.torem(216px);
    height: rem.torem(273px);
    border-radius: rem.torem(16px);
    overflow: hidden;
    border: 1px solid var(--color-grey-light);

    &-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: transform 0.15s ease-in-out;
    }

    &-fallback {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-grey-light);
      color: var(--color-grey-semi-dark);
      width: 100%;
      height: 100%;

      svg {
        height: rem.torem(80px);
        width: rem.torem(80px);
      }
    }
  }

  &-content {
    flex: 1;
    word-break: break-word;
    overflow: hidden;
  }

  &-actions {
    display: flex;
    justify-content: center;
    gap: rem.torem(16px);
    position: relative;
    z-index: 2;
  }
}

.offer-title {
  @include fonts.title3;
}

.offer-headband {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-adage-salmon-light);
  padding: rem.torem(18px) rem.torem(16px);
  width: 100%;
  border-top-right-radius: rem.torem(14px);
  border-top-left-radius: rem.torem(14px);

  &-prebooked {
    background-color: var(--color-grey-light);
  }

  &-text {
    display: flex;
    flex-direction: column;
  }

  .intended-for {
    @include fonts.caption;

    margin-bottom: rem.torem(8px);
  }

  .infos {
    @include fonts.body-important;
  }

  &-button {
    display: flex;
    flex-direction: column;
  }
}

.offer-prebooking-button {
  z-index: 2;
}

@container adage (min-width: #{size.$tablet}) {
  .offer-card {
    flex-direction: column;
    align-items: flex-start;

    &-container {
      flex-direction: row;
      align-items: unset;
    }

    &-right {
      flex-direction: row;
    }

    &-actions {
      justify-content: flex-start;
    }
  }

  .offer-card-share-button-tooltip-content {
    width: auto;
  }
}
