@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;

.title {
  @include fonts.title3;

  margin-bottom: 0;
}

.subtitle {
  @include fonts.title4;

  margin-top: rem.torem(32px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-displaying {
  margin-top: rem.torem(8px);
  padding: rem.torem(16px);

  .data-line {
    @include fonts.body;

    color: colors.$black;
    margin-bottom: rem.torem(8px);
  }

}

.validation-screen {
  margin-bottom: rem.torem(24px);

  section:nth-child(even) {
    margin-bottom: rem.torem(52px);
  }
}
