$actionsPaddingTop: rem(20px);
$actionsPaddingBottom: rem(20px);
$buttonHeight: rem(40px);

.stocks-page {
  h2 {
    @include title3();
  }

  .add-first-stock-button {
    margin: rem(24px) auto 0 auto;
  }

  .tertiary-button {
    margin-top: rem(26px);

    svg .ico-plus {
      fill: $black;
    }
  }

  .cancellation-information {
    margin-top: rem(16px);
  }

  table {
    margin-top: rem(28px);
    width: 100%;
  }

  th {
    @include caption();

    text-align: left;
  }

  th.action-column {
    max-width: rem(61px);
    min-width: rem(61px);
  }

  table td,
  table th {
    padding: rem(10px) rem(5px);
    vertical-align: middle;
  }

  .interval {
    height: rem(32px);
    left: 0;
    right: 0;

    &.cover {
      background: $white;
      position: absolute;
      z-index: 1;
    }

    &.shadow {
      background-image: radial-gradient(ellipse at bottom, $black-shadow, transparent 75%);
      bottom: $actionsPaddingBottom + $actionsPaddingTop + $buttonHeight;
      position: sticky;
    }
  }

  .react-datepicker-popper {
    z-index: 3;
  }

  .actions-section {
    background: $white;
    bottom: 0;
    margin-top: rem(60px);
    padding-bottom: $actionsPaddingBottom;
    padding-top: $actionsPaddingTop;
    position: sticky;
    z-index: 2;

    button,
    a {
      max-width: rem(230px);
    }
  }
}
