$share-popin-height: auto;

#share-popin {
  left: 0;
  right: 0;
  z-index: $zindex-share-popin;
}

#share-popin-close-button {
  right: rem(16px);
  top: rem(16px);
  z-index: 1;
}

#share-popin .inner {
  background-color: $white;
}

@media screen and (prefers-reduced-motion: reduce) {
  #share-popin-fixed-container {
    height: auto;
    transition: none;
  }
}

#share-popin-fixed-container {
  height: auto;
  transition: height 500ms;
}
