.client-offer-page {
    h3 {
        margin-top: 0.5em;
    }
    h2 {
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
    img.offerPicture {
        float: left;
        margin-right: 10px;
        margin-left: 10px;
        max-width: 45%;
    }
    .sellerInfos {
        margin-top: 2em;
    }
}
