.sign-page {

  color: $black;
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 60px;

  .h1 {
    font-weight: 800;
    font-style: italic;
  }

  .h2 {
    font-weight: 500;
    font-style: italic;
    color: white;
    margin-top: 6px;
  }

  .h2-black {
    font-weight: 500;
    font-style: italic;
    color: black;
    margin-top: 6px;
  }

  label .h4 {
   line-height: 1.1875rem;
   display: block;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-y: auto;
    padding: 1.5rem;
    justify-content: center;
  }

  form {
    .form-input {
      margin-top: 1.5rem;
    }
  }

  &.signin-page form {
    .form-input {
      margin-top: 3rem;
    }
  }

  a {
    color: $black;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 0;
  }

  footer {
    background-color: $menu-red;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding-left: 1.15rem;
    padding-right: 1.15rem;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 60px;
    position: absolute;
    right: 0;
    a {
      color: white;
      text-decoration: none;
    }
  }

  span {
    a {
      font-size: 1em;
      font-weight: 400;
    }
  }

  p {
    font-weight: 500;
  }

  .errors {
    color: $menu-red;
    font-size: 0.9rem;
    font-weight: 500;
    height: 2rem;
    line-height: 2em;
    list-style-type: none;
    text-align: left;
    transition: transform .2s ease-in-out;
    &.pop {
      transform: scale(1.04);
      transform-origin: 0 50%;
    }
    img {
      vertical-align: middle;
      padding-right: 5px;
    }
    &:empty {
      display: none;
    }
  }

  &.red {
    background-color: $menu-red;
    color: white;

    footer {
      border-top: dotted 1px white;
    }

    label {
      color: white;
    }
    .errors {
      color: $white;
    }
  }
}

body.softkeyboard .sign-page,
body.web .sign-page {
  min-height: 100vh;
  height: auto;
  .form-container {
    flex: 1;
  }
}
