.sign-page {

  padding: 1rem;
  color: $black;
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  padding-bottom: 5rem;

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $menu-red;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
  }

  label {
    margin-bottom: 0.5rem;
  }

  p {
    font-weight: 500;
  }

  &.red {
    background-color: $menu-red;
    color: white;

    footer {
      border-top: dotted 1px white;
    }

    label {
      color: white;
    }
  }

  .button--secondary {
    font-size: 1.3rem;
    line-height: 1rem;
  }

  .errors {
    color: $menu-red;
    font-weight: 500;
    text-align: center;
  }


}
