@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_outline.scss" as outline;

$icon-size: rem.torem(20px);

.details-ean-search {
  margin-bottom: rem.torem(32px);
  position: relative;
}

.details-ean-search-callout {
  margin-top: rem.torem(16px);
}

.clear-button {
  justify-content: center;
  width: calc(#{$icon-size} + #{rem.torem(2px)});
  height: calc(#{$icon-size} + #{rem.torem(2px)});
  border-radius: 50%;

  &-container {
    position: absolute;
    border-radius: 50%;
    top: rem.torem(65px);
    right: rem.torem(160px);
  }

  &:focus {
    @include outline.focus-outline;
  }

  &-icon {
    width: $icon-size;
    height: $icon-size;
  }
}
