@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;

main.error {
  background-image: linear-gradient(to bottom, colors.$primary, colors.$secondary);
  color: colors.$white;
  display: flex;
  flex-direction: column;
  grid-column: col-start end-line;
  place-content: center center;
  text-align: center;

  a {
    color: colors.$white;
  }

  h1 {
    font-size: rem.torem(40px);
  }

  div {
    font-size: rem.torem(24px);
  }
}
