@use "styles/mixins/_rem.scss" as rem;

.select-page-partenaire {
  margin-top: rem.torem(32px);
  max-width: rem.torem(405px);
}

.separator {
  width: 100%;
  height: 2px;
  background: var(--separator-color-subtle);
  border: none;
  margin-bottom: rem.torem(32px);
}
