@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.header {
  display: flex;
  flex-direction: column;
  gap: rem.torem(24px);
  margin-bottom: rem.torem(32px);
  align-items: flex-start;

  @media (min-width: size.$tablet) {
    flex-direction: row;
  }
}

.image-uploader {
  align-self: center;
  margin-bottom: 0;

  @media (min-width: size.$tablet) {
    align-self: flex-start;
  }

  > button,
  > img {
    @media (min-width: size.$tablet) {
      height: rem.torem(232px) !important;
    }
  }
}

.venue-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: rem.torem(24px);

  &-links,
  &-main {
    display: flex;
    flex-direction: column;
    gap: rem.torem(8px);
  }
}

.venue-type {
  color: var(--color-text-subtle);
  text-transform: uppercase;
}

.venue-name {
  @include fonts.title2;
}

.separator {
  width: 100%;
  border-top: 2px solid var(--color-border-subtle);

  // override default style
  margin: 0;
  background: none;
}

.venue-button {
  width: 100%;

  @media (min-width: size.$tablet) {
    width: auto;
  }
}
