.provider-information {
  display: flex;
  margin-bottom: 1.5rem;
}

.provider-thumb {
  display: flex;
}

.provider-details {
  padding-left: 1rem;
  display: block;
}

.provider-header {
  display: flex;
  align-items: center;

  .provider-title {
    padding-left: 0.75rem;

    h3 {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: rem(1px);
    }

    span {
      vertical-align: middle;
      padding-left: 0.5rem;
      padding-top: rem(2px);
    }
  }
}

.provider-explanation {
  @extend .small-text;

  text-align: justify;
}
