@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/mixins/_fonts.scss' as fonts;

.change-password-request-form {
  .field-password {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .field-password > img {
    position: absolute;
    right: rem.torem(43px);
    top: rem.torem(37px);
  }
  h1 {
    margin-bottom: rem.torem(16px);
  }

  p {
    @include fonts.title2();
  }

  label {
    margin-bottom: rem.torem(48px);
  }

  .server-error-message {
    margin-bottom: rem.torem(48px);
  }

  .hero-body {
    padding: rem.torem(48px) rem.torem(24px);
  }
}
