.change-password-request-form {
  .field-password {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .field-password > img {
    position: absolute;
    right: rem(43px);
    top: rem(37px);
  }
  h1 {
    margin-bottom: rem(16px);
  }

  p {
    @include title2();

    line-height: rem(22px);
  }

  label {
    margin-bottom: rem(48px);
  }

  .server-error-message {
    margin-bottom: rem(48px);
  }

  .hero-body {
    padding: 3rem 1.5rem;
  }
}