@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;

.adage-header-budget {
  border-left: 1px solid var(--color-grey-medium);
  padding-left: rem.torem(32px);
  display: none;

  &-link {
    @include fonts.highlight;

    display: flex;
    align-items: center;
    margin-bottom: rem.torem(4px);
    white-space: nowrap;
  }

  &-icon {
    margin-right: rem.torem(4px);
  }

  &-value {
    @include fonts.title4;

    white-space: nowrap;
    color: var(--color-brand);
    margin-left: rem.torem(20px);
  }
}

@media (min-width: size.$tablet) {
  .adage-header-budget {
    display: block;
  }
}
