@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.no-data {
  @include fonts.title4;

  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: rem.torem(32px);

  &-icon {
    margin: rem.torem(40px) 0;
  }
}
