$red: #EB0055;
$black: #000000;
$white: #FFFFFF;
$green: #27AE60;

$primary: $red;
$grey-dark: #404040;
$grey: #757575;
$grey-light: #DAE1E3;
$grey-lighter: #EDF1F2;

$purple-red: #BD10E0;
$purple-blue: #320096;

$jauge-blue: rgba(0, 210, 230, 1);
$jauge-green: rgba(176, 222, 0, 1);
$jauge-pink: rgba(255, 92, 214, 1);
$jauge-orange: rgba(255, 151, 0, 1);
