// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 64px;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px;
// 960px container + 4rem
$desktop: 960px + (2 * $gap);
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap);
$widescreen-enabled: true;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap);
$fullhd-enabled: true;

// Colors
$menu-red: #e60039;

$primary: $menu-red;

@import '~bulma/sass/utilities/initial-variables';

$text: $black;
$link: $text;
$title-color: inherit;
$subtitle-color: inherit;
$text-strong: inherit;


$family-sans-serif: 'Barlow', 'Helvetica Neue', Arial, sans-serif;

$weight-normal: 400;
$weight-bold: 700;

$size-1: 2rem;
$size-2: 1.5rem;
$size-3: 1.25rem;
$size-4: 1.25rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;
$size-medium: 1.25rem;

$body-line-height: initial;
$subtitle-line-height: initial;

$control-border-width: 2px;
$input-border-color: $primary;
$input-focus-border-color: $primary;
$input-hover-border-color: $primary;
$input-disabled-border-color: $primary;

$section-padding: 0 0 1rem 0;

$radius: 2rem;

$button-disabled-opacity: 0.3;

$input-shadow: none;