.button {
  background-color: $identity-color;
  border: 1px solid transparent;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: $white;
  cursor: pointer;
  display: inline-block;
  fill: white;
  font-family: $font-family;
  font-size: 10px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-align: center;
  transition: all 0.4s ease-out;
  @media (min-width: $mini) {
    font-size: 14px;
  }
  @media (min-width: $lg) {
    font-size: 18px;
  }
  &--alive {
    &:hover,
    &:focus {
      transform: scale(1.04);
      transition: all 0.4s ease-out;
    }
  }
  &--cta {
    min-width: 100px;
  }
  &--disabled, &.disabled {
    opacity: 0.25;
  }
  &--hidden, &.hidden {
    opacity: 0;
    visibility: hidden; // otherwise it is still clickable
  }
  &--inversed {
    background-color: white;
    border-color: $identity-color;
    color: $identity-color;
    svg {
      fill: $identity-color;
    }
  }
  &--rounded {
    border-radius: 50%;
    font-weight: 500;
    height: 30px;
    padding: 0.25rem;
    width: 30px;
  }
  &--selected {
    box-shadow: $box-shadow-hover;
    transform: scale(1.04);
  }
  &--shadow {
    box-shadow: $box-shadow;
    &:hover,
    &:focus {
      box-shadow: $box-shadow-hover;
    }
    transition: all 0.4s ease-out;
  }
  &--secondary {
    background-color: transparent;
    color: $white;
    padding: 0;
    border: none;
    height: 1em;
    font-size: 1.3rem;
    font-weight: 700;
    svg {
      vertical-align: top !important; // TODO: investigate why there is vertical-align: middle inline
    }
  }
  &--primary {
    background-color: $white;
    color: $menu-red;
    border-top-right-radius: 0;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.1rem;
    &.button--inversed {
      background-color: $menu-red;
      color: $white;
      border-color: $white;
      border-top-right-radius: 2rem;
      border-bottom-left-radius: 0;
      svg {
        fill: $white;
      }
    }
  }
  &--xlarge {
    font-size: 2.5em;
  }
  &[disabled] {
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }
}
