// Color Palette
$light-blue: #1acfff !default;

$medium-green: #70c946 !default;
$dark-green: #63D180 !default;

$very-very-light-grey: #fcfcfc !default;
$very-light-grey: #e4e4e4 !default;
$light-grey: #c5c5c5 !default;
$medium-grey: #dcdddc !default;
$dark-grey: #777777 !default;
$very-dark-grey: #4a4a4a !default;

$red: #DD2C00 !default;
