* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  min-height: 100%;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba($white, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: rgba($white, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  &.loading {
    background-color: $menu-red;
    background-image: url('/icons/logo-group.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

a {
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: 1.2rem;
  padding: 0.5rem;
  color: $white;
}

.app {
  color: $dark-grey;
  font-family: $font-family;
  min-height: 100vh;
  position: relative;
}

.disabled {
  opacity: 0.5;
}

.flip-horiz {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.h2 {
  color: $very-dark-grey;
}

.input {
  border: $border;
  border-radius: $border-radius;
  color: $very-dark-grey;
  font-family: $font-family;
  font-weight: 500;
  font-size: 20px;
  padding: 0.25em 0.5em;
  &:focus {
    outline: none;
  }
  &--checkbox {
    -webkit-appearance: none;
    border: $border;
    border-radius: 4px !important;
    width: 25px;
    display: inline-block;
    padding: 9px;
    position: relative;
    transition: all 0.25s ease-out;
    &:focus{
      outline: none;
    }
    &:active,&:checked {
      color: $very-very-light-grey;
      &:after {
      	content: '\2714';
      	font-size: 18px;
      	position: absolute;
      	top: -3px;
      	left: 3px;
      	color: $menu-red;
      }
    }
  }
  &--text, &--email, &--password {
    width: 100%;
  }
}

label {
  color: $very-dark-grey;
  text-align: left;
}

.page {
  background-color: $very-very-light-grey;
  min-height: 100%;
}

select {
  border: $border;
  border-radius: $border-radius;
  font-family: $font-family;
  font-size: 20px;
  font-weight: 500;
  &:focus {
    outline: none;
  }
}

.sep {
  background-color: $very-light-grey;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.textarea {
  border: $border;
  border-radius: $border-radius;
  color: $very-dark-grey;
  font-family: $font-family;
  font-weight: 500;
  font-size: 12px;
  min-height: 100px;
  padding: 20px;
  resize: none;
  width: 300px;
  &:focus {
    outline: none;
  }
}

.white {
  color: white;
}

::-webkit-input-placeholder { /* Chrome */
  color: $light-grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $light-grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $light-grey;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $light-grey;
  opacity: 1;
}

#android-statusbar-overlay {
  display: none;
  width: 100%;
  height: 24px;
  opacity: 0.5;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 100000;
}
