* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body {
  min-height: 100vh;
}

.app {
  color: $dark-grey;
  font-family: $font-family;
  min-height: 100vh;
}

.button {
  background-color: $identity-color;
  border: 1px solid transparent;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  fill: white;
  font-family: $font-family;
  font-size: 10px;
  font-weight: 500;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
  transition: all 0.4s ease-out;
  @media (min-width: $mini) {
    font-size: 14px;
  }
  @media (min-width: $lg) {
    font-size: 18px;
  }
  &--alive {
    &:hover,
    &:focus {
      transform: scale(1.04);
      transition: all 0.4s ease-out;
    }
  }
  &--cta {
    min-width: 100px;
  }
  &--disabled {
    opacity: 0.25;
  }
  &--inversed {
    background-color: white !important;
    border-color: $identity-color !important;
    color: $identity-color !important;
    svg {
      fill: $identity-color !important;
    }
  }
  &--rounded {
    border-radius: 50%;
    font-weight: 500;
    height: 30px;
    padding: 0.25rem;
    width: 30px;
  }
  &--selected {
    box-shadow: $box-shadow-hover;
    transform: scale(1.04);
  }
  &--shadow {
    box-shadow: $box-shadow;
    &:hover,
    &:focus {
      box-shadow: $box-shadow-hover;
    }
    transition: all 0.4s ease-out;
  }
  &[disabled] {
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }
}

.h2 {
  color: $very-dark-grey;
}

.input {
  border: $border;
  border-radius: $border-radius;
  color: $very-dark-grey;
  font-family: $font-family;
  font-weight: 500;
  font-size: 20px;
  padding: 0.25em 0.5em;
  &:focus {
    outline: none;
  }
}

label {
  color: $dark-grey;
}

.page {
  background-color: $very-very-light-grey;
  padding: 5px;
  min-height: 100vh;
  padding-top: 55px;
}

select {
  border: $border;
  border-radius: $border-radius;
  font-family: $font-family;
  font-size: 20px;
  font-weight: 500;
  &:focus {
    outline: none;
  }
}

.sep {
  background-color: $very-light-grey;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.textarea {
  border: $border;
  border-radius: $border-radius;
  color: $very-dark-grey;
  font-family: $font-family;
  font-weight: 500;
  font-size: 12px;
  min-height: 100px;
  padding: 20px;
  resize: none;
  width: 300px;
  &:focus {
    outline: none;
  }
}

::-webkit-input-placeholder { /* Chrome */
  color: $light-grey;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $light-grey;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $light-grey;
  font-style: italic;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $light-grey;
  font-style: italic;
  opacity: 1;
}
