.input {
  // font-family: $font-famisly;
  // font-weight: 500;
  // font-size: 20px;
  // padding: 0.25em 0.5em;
  &:focus {
    outline: none;
  }

  &.checkbox {
    -webkit-appearance: none;
    border-radius: 4px !important;
    width: 25px;
    height: 25px;
    display: inline-block;
    padding: 9px;
    position: relative;
    transition: all 0.25s ease-out;
    &:focus{
      outline: none;
    }
    &:active,&:checked {
      color: $very-very-light-grey;
      &:after {
        content: '\2714';
        font-size: 18px;
        position: absolute;
        top: -3px;
        left: 3px;
        color: $menu-red;
      }
    }
  }
}
