@font-face {
  font-family: "Source Sans Pro";
  font-weight: 200;
  src: url("../fonts/SourceSansPro-Light.ttf") format('truetype');
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 500;
  src: url("../fonts/SourceSansPro-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: bold;
  src: url("../fonts/SourceSansPro-Bold.ttf") format('truetype');
}
