@font-face {
  font-family: "Barlow";
  font-weight: 200;
  src: url("../fonts/barlow-latin-200.woff2") format('woff2'),
       url('../fonts/barlow-latin-200.woff')  format('woff');
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow-latin-100.woff2") format('woff2'),
       url('../fonts/barlow-latin-100.woff')  format('woff');
}

@font-face {
  font-family: "Barlow";
  font-weight: 500;
  src: url("../fonts/barlow-latin-500.woff2") format('woff2'),
       url('../fonts/barlow-latin-500.woff')  format('woff');
}

@font-face {
  font-family: "Barlow";
  font-weight: bold;
  src: url("../fonts/barlow-latin-900.woff2") format('woff2'),
       url('../fonts/barlow-latin-900.woff')  format('woff');
}
