// Breakpoints
$mini: 425px;
$sm: 768px;
$md: 1024px;
$lg: 1440px;
$xl: 2560px;

$border: 1px solid $light-grey;
$border-radius: 0.5rem;
$box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0 0 10px rgba(0,0,0,0.4);
$button-border-radius: 2rem;
$box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0 0 10px rgba(0,0,0,0.4);
$font-family: "Barlow", "Helvetica Neue", Arial, sans-serif;
$menu-padding-left: 0.25rem;
$menu-width: 33%;

$font-size: 16px;
$header-height: 3.5rem;
$footer-height: 3.5rem;

$page-padding: 1.5rem;
$footer-height-padding: 1rem;

$opacity-transition: all 1s ease-out;
