@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;

.offers-page {
  .op-title {
    @include fonts.title3;

    display: inline-block;
    margin: 0 rem.torem(20px) rem.torem(24px) 0;
  }

  .offerer-filter {
    @include fonts.caption;

    align-items: center;
    background-color: var(--color-accent-light);
    border: none;
    border-radius: rem.torem(24px);
    display: flex;
    height: rem.torem(32px);
    justify-content: space-between;
    margin-bottom: rem.torem(16px);
    padding: rem.torem(5px) rem.torem(15px);
    width: max-content;

    button {
      align-items: center;
      background: none;
      border: none;
      display: flex;
      margin-left: rem.torem(8px);

      img {
        height: rem.torem(14px);
        width: rem.torem(14px);
      }
    }
  }

  form {
    margin-bottom: rem.torem(20px);
  }

  .form-row {
    display: flex;
    flex-direction: row;
  }

  table {
    width: 100%;

    th {
      @include fonts.caption;

      color: var(--color-black);
      padding: 0 rem.torem(8px) rem.torem(10px);
      text-align: left;
    }

    .th-checkbox {
      padding: 0;

      input {
        @include fonts.body-important;

        &:disabled {
          cursor: not-allowed;
        }
      }

      &.label-disabled {
        opacity: 0.5;

        label {
          cursor: not-allowed;
        }
      }
    }

    th.th-with-filter {
      position: relative;

      & > button {
        align-items: center;
        background-color: transparent;
        border: none;
        color: inherit;
        display: flex;
        font-size: inherit;
        font-weight: inherit;
        outline: none;

        svg {
          margin-left: rem.torem(10px);
          margin-top: rem.torem(2px);
        }

        &:focus svg {
          color: var(--color-primary);
          border: rem.torem(1px) solid var(--color-primary);
          border-radius: rem.torem(4px);
        }

        &:disabled {
          cursor: not-allowed;
        }
      }
    }

    th.th-actions {
      text-align: right;

      &-eac {
        padding-right: 0;
      }
    }

    tbody > tr {
      border-bottom: rem.torem(1px) solid var(--color-grey-medium);
      margin-top: 1rem;

      td {
        vertical-align: middle;
      }

      td:last-child {
        padding-right: 0;
      }

      td:first-child {
        padding-left: 0;
      }

      &:first-child {
        td {
          padding-top: 0;
        }
      }
    }
  }

  .loading-spinner {
    margin-top: rem.torem(70px);
  }

  thead {
    display: none;
  }

  table,
  tbody {
    display: block;
  }

  @media (min-width: size.$tablet) {
    table {
      display: table;
    }

    tbody {
      display: table-row-group;
    }

    thead {
      display: table-header-group;
    }
  }
}
