@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;

.offers-count {
  margin-bottom: rem.torem(32px);
}

.offers-pagination {
  margin-top: rem.torem(32px);
}

.select-all-container {
  display: flex;
  align-items: center;
  position: relative;
  top: 20px;

  label {
    @include fonts.caption;
  }
}

@media (max-width: size.$tablet) {
  .select-all-container {
    top: unset;
    margin-bottom: rem.torem(20px);
  }
}
