.see-more-wrapper {
  margin-left: 2%;

  .smw-image-one-item-medium {
    align-items: center;
    display: flex;
    justify-content: center;

    background-image: url('/home-group.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 rem(2px) rem(4px) 0 $black-shadow;
    background-color: $grey;
    border-radius: rem(8px);
    height: rem(160px);
    width: 99%;

    .smw-content-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: rem(-15px);

      span {
        @include button();
        color: $white;
      }
    }
  }

  .smw-image-two-items {
    align-items: center;
    background-color: $white;
    border-radius: rem(8px);
    border: 1px solid $grey-medium;
    display: flex;
    justify-content: center;
    height: rem(160px);
    width: 47.5%;

    .smw-content-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: rem(-15px);

      span {
        @include button();
        color: $secondary;
      }
    }
  }
}
