.h-card {
  .od-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    margin-top: rem(-8px);
    padding-bottom: rem(8px);

    .input-select {
      width: 70%;

      select {
        margin-top: 0;
      }
    }

    .tertiary-button.od-primary {
      color: $primary;

      & .svg-color {
        fill: $primary;
      }
    }
  }

  .od-separator {
    background-color: $grey-medium;

    &.horizontal {
      height: 1px;
      margin-left: rem(-16px);
      margin-right: rem(-16px);
    }

    &.vertical {
      align-self: stretch;
      margin-bottom: rem(-8px);
      margin-top: rem(-8px);
      width: 1px;

      &.small {
        align-self: center;
        height: rem(20px);
      }
    }
  }

  .od-address {
    margin-left: rem(8px);
  }

  .bi-banner.notification-info {
    margin-bottom: 0;
    margin-top: rem(24px);
  }
}
