// @use 'styles/mixins/_forms.scss' as forms;
@use "src/styles/mixins/_rem.scss" as rem;

.text-input-readonly {
  display: flex;
  align-items: center;
  min-height: rem.torem(40px);
  line-height: 1.3;
}
