@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_fonts.scss" as fonts;

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-width: size.$signup-content-width;
  gap: var(--size-spacing-xl);
}

.title {
  @include fonts.title1;

  margin-bottom: var(--size-spacing-xxl);
  overflow-wrap: anywhere;
}
