@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.title {
  @include fonts.title3;

  margin-bottom: rem.torem(16px);
}

.offerer-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem.torem(32px);

  &-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: rem.torem(16px);
  }

  &-boxes > div {
    flex: 1;
  }
}
