@use 'styles/mixins/_rem.scss' as rem;

.offerer-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem.torem(32px);
  &-boxes {
    margin-top: rem.torem(16px);
    display: flex;
    gap: rem.torem(16px);
  }
  &-boxes > div {
    flex: 1;
  }
}
