@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.description-text {
  margin-bottom: var(--size-spacing-xl);

  &-example {
    @include fonts.body-xs;

    color: var(--color-text-subtle);
  }
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
}

.price-details {
  margin-top: var(--size-spacing-l);
}

.offer-educational-stock-form-layout .offer-educational-stock-banner {
  margin: var(--size-spacing-xl) 0;
}

.banner-space {
  margin-bottom: var(--size-spacing-l);
}

.input-date {
  width: rem.torem(230px);
}
