@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.home-screen-shell {
  position: absolute;
  height: rem.torem(515px);
}

.preview-on-home-screen {
  background-color: colors.$white;
  border-radius: rem.torem(5px);
  left: rem.torem(17px);
  position: absolute;
  top: rem.torem(152px);
  height: rem.torem(228px);
}

.offer-screen-shell {
  top: rem.torem(236px);
  position: absolute;
  height: rem.torem(280px);
}

.blurred-preview-on-offer-screen {
  background-color: colors.$white;
  filter: blur(2px);
  left: rem.torem(1px);
  position: absolute;
  top: rem.torem(1px);
  height: rem.torem(435px);
  width: rem.torem(290px);
}

.preview-on-offer-screen {
  background-color: colors.$white;
  border-radius: rem.torem(5px);
  left: rem.torem(65px);
  position: absolute;
  top: rem.torem(71px);
  height: rem.torem(240px);
}
