@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;
@use "styles/variables/_z-index.scss" as zIndex;

.actions-bar {
  z-index: zIndex.$sticky-bar-z-index;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 rem.torem(10px);
  min-height: size.$action-bar-sticky-height;
  align-items: center;
  display: flex;
  background: var(--color-white);
  border-top: 1px solid var(--color-grey-medium);

  .actions-bar-content {
    width: 100%;
    max-width: rem.torem(size.$main-content-width);
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: rem.torem(16px);

    .left {
      display: flex;
      align-items: center;
      margin: 1rem;
      gap: rem.torem(16px);
      width: 100%;
      flex-direction: column-reverse;

      > * {
        width: 100%;
      }
    }

    .right {
      display: flex;
      align-items: center;
      flex-flow: column wrap;
      justify-content: center;
      gap: rem.torem(16px);
      width: 100%;

      > * {
        width: 100%;
      }
    }

    .right-inverse {
      flex-direction: column-reverse;
    }
  }
}

@media (min-width: size.$laptop) {
  .actions-bar-new-interface {
    padding-left: calc(rem.torem(size.$side-nav-width) + rem.torem(32px));
  }
}

@media (min-width: size.$tablet) {
  .actions-bar {
    position: fixed;
    box-shadow: 0 rem.torem(-2px) rem.torem(16px) var(--color-large-shadow);
    border-top: unset;

    &-new-interface {
      justify-content: flex-start;
      max-width: size.$desktop;

      @media (min-width: size.$desktop) {
        margin: 0 auto;
        border: 1px solid var(--color-grey-medium);
        border-top: none;
      }
    }

    .actions-bar-content {
      justify-content: space-between;
      flex-flow: row wrap;
      margin-top: unset;

      &-new-interface {
        justify-content: flex-start;
        margin: 0;
      }

      .left {
        margin: 0;
        width: unset;
        flex-direction: row;

        > * {
          width: unset;
        }
      }

      .right {
        margin-left: auto;
        width: unset;
        flex-direction: row;

        > * {
          width: unset;
        }
      }
    }
  }
}
