@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;
@use "styles/variables/_size.scss" as size;
@use "styles/variables/_z-index.scss" as zIndex;

.actions-bar {
  z-index: zIndex.$sticky-bar-z-index;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 rem.torem(10px);
  min-height: size.$action-bar-sticky-height;
  align-items: center;
  display: flex;
  background: colors.$white;
  border-top: 1px solid colors.$grey-medium;

  .actions-bar-content {
    width: 100%;
    max-width: rem.torem(size.$main-content-width);
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: rem.torem(16px);

    .left {
      display: flex;
      align-items: center;
      margin: 1rem;
      gap: rem.torem(16px);
      width: 100%;
      flex-direction: column-reverse;

      > * {
        width: 100%;
      }
    }

    .right {
      display: flex;
      align-items: center;
      flex-flow: column wrap;
      justify-content: center;
      gap: rem.torem(16px);
      width: 100%;

      > * {
        width: 100%;
      }
    }
  }
}

@media (min-width: size.$tablet) {
  .actions-bar {
    position: fixed;
    box-shadow: 0 2px rem.torem(16px) colors.$large-shadow;
    border-top: unset;

    .actions-bar-content {
      justify-content: space-between;
      flex-flow: row wrap;
      margin-top: unset;


      .left {
        margin: 0;
        width: unset;
        flex-direction: row;

        > * {
          width: unset;
        }
      }

      .right {
        margin-left: auto;
        width: unset;
        flex-direction: row;

        > * {
          width: unset;
        }
      }
    }
  }
}
