@use "styles/mixins/_rem.scss" as rem;

.field-layout-align-self {
  align-self: flex-start;
}

.input-date {
  flex: 0 1 rem.torem(168px);
  min-width: rem.torem(160px);
}

.input-booking-limit-datetime {
  flex: 0 1 rem.torem(208px);
  min-width: rem.torem(160px);
}

.input-beginning-time,
.input-quantity,
.input-price {
  flex: 0 1 rem.torem(112px);
  min-width: rem.torem(89px);
}
