@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_forms.scss' as forms;
@use 'styles/mixins/_rem.scss' as rem;

.multi-select-autocomplete-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.multi-select-autocomplete-tags {
  display: flex;
  flex-wrap: wrap;
  gap: rem.torem(8px);
  padding-top: rem.torem(8px);
}

.multi-select-autocomplete-placeholder-input::placeholder {
  font-style: normal;

  &:not(:disabled) {
    color: colors.$black;
  }
}
