// TODO: Fill JSDoc below for <% name %>:

/**
 * Description of what <% name %>() should do …
 * @param message string Welcome message
 * @returns string
 * @example
 * <% name %>()
 * // => Hello <% name %>
 * <% name %>('Hey')
 * // => Hey <% name %>
 */
export const <% name %> = (message: string = 'Hello'): string => {
  return message + ' ' + '<% name %>'
}
