@use "styles/mixins/_fonts.scss" as fonts;

.offers-table {
  &-callout {
    margin-bottom: var(--size-spacing-l);
  }

  &-title {
    display: flex;
    align-items: center;
    margin-bottom: var(--size-spacing-s);

    &-heading {
      @include fonts.title2;

      margin-right: var(--size-spacing-l);
    }
  }
}

.select-filter {
  width: 100%;
}
