/*
* @debt directory "Gaël: SCSS file should be co-located and imported within a component"
*/

input[type="radio"] {
  appearance: none;
  border: 2px solid $grey-dark;
  border-radius: 50%;
  font-size: inherit;
  height: 1.1875em;
  margin-right: rem(8px);
  outline: none;
  width: 1.1875em;

  &:checked {
    background: radial-gradient($grey-dark 0%, $grey-dark 40%, transparent 50%, transparent);

    &:hover {
      background: radial-gradient($primary 0%, $primary 40%, transparent 50%, transparent);
      border-color: $primary;
    }

    &:focus {
      background: radial-gradient($primary-dark 0%, $primary-dark 40%, transparent 50%, transparent);
      border-color: $primary-dark;
    }

    &:disabled {
      background: radial-gradient($grey-medium 0%, $grey-medium 40%, transparent 50%, transparent);
      border-color: $grey-medium;
      cursor: not-allowed;
      opacity: 1;
    }
  }

  &:not(:checked) {
    &:hover {
      border-color: $primary;
    }

    &:focus {
      border-color: $primary-dark;
    }

    &:disabled {
      border-color: $grey-medium;
      opacity: 1;
    }
  }
}
