<!doctype html>
<html lang="fr" data-theme="pink">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#000000" />
    <meta name="version" content="%VITE_APP_VERSION%" />
    <% if (mode==='development' ) { %>
    <!--
        Do not use hashes to define CSP: we had a bug where Beamer was not loaded
        because the hash was invalid in some instances of Firefox
        It is probably a Firefox bug where the hash is not computed correctly/is not reliable
      -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' blob: data: https: http: gap://ready https://*.hotjar.com:* https://*.hotjar.io wss://*.hotjar.com https://*.getbeamer.com/; connect-src 'self' data: https: http: ws://*:3001 wss://*:3001; style-src 'self' https://app.getbeamer.com/styles/beamer-embed.css https://fonts.googleapis.com/css 'unsafe-inline'"
    />
    <% } else { %>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' blob: data: https: http: gap://ready https://*.hotjar.com:* https://*.hotjar.io wss://*.hotjar.com https://*.getbeamer.com/; style-src 'self' https://app.getbeamer.com/styles/beamer-embed.css https://fonts.googleapis.com/css 'unsafe-inline'"
    />
    <% } %>
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="shortcut icon" href="/icon/app-icon-iphone.png" />
    <link rel="apple-touch-icon" href="/icon/app-icon-iphone.png" />
    <!-- <link
      rel="preload"
      href="/fonts/Montserrat-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Montserrat-Italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Montserrat-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Montserrat-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Montserrat-SemiBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Montserrat-ExtraBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    /> -->
    <title>pass Culture Pro</title>
  </head>

  <body>
    <div id="root"></div>
    <noscript>passCulture Pro a besoin de JavaScript pour fonctionner</noscript>
    <script type="module" src="/index.tsx"></script>
    <script
      data-type="text/javascript"
      type="opt-in"
      data-name="beamer"
      data-src="https://app.getbeamer.com/js/beamer-embed.js"
      defer="defer"
    ></script>
  </body>
</html>
