@use "styles/mixins/rem" as rem;

.venue-providers {
  display: flex;
  gap: rem.torem(16px);
  flex-flow: row wrap;
  margin-bottom: rem.torem(20px);
}

.venue-providers-synchro {
  max-width: rem.torem(486px);
}
