@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.title-without-name {
  margin-bottom: rem.torem(54px);
}

.content {
  margin-top: rem.torem(15px);
}

.offer-title {
  @include fonts.title4-light;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  gap: rem.torem(16px);
}

.title {
  flex: auto;
}

.status {
  align-self: baseline;
  margin-bottom: rem.torem(16px);
}

.publication-date {
  @include fonts.body-important;

  margin-top: rem.torem(4px);
  display: flex;
  gap: rem.torem(8px);
  align-items: center;
}

.publication-icon {
  color: var(--color-valid);
  width: rem.torem(24px);
  height: rem.torem(24px);
}
