@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_fonts.scss" as fonts;

.title-without-name {
  margin-bottom: rem.torem(54px);
}

.content {
  margin-top: rem.torem(15px);
}

.offer-title {
  @include fonts.title4;

  display: block;
  font-weight: 500;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: rem.torem(16px);

  .right {
    align-self: baseline;
  }
}
