@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.container {
  border: rem.torem(1px) solid var(--color-border-subtle);
  border-radius: var(--border-radius-l);
  box-shadow: 0 rem.torem(2px) rem.torem(6px) 0
    rgb(from var(--color-black) r g b / 15%);
  padding: rem.torem(16px);
}
