@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_rem.scss" as rem;

.favorite-button {
  color: colors.$black;

  svg {
    margin-right: 0;
    width: rem.torem(32px);
    height: rem.torem(32px);
  }

  &-loading {
    svg {
      width: rem.torem(20px);
      height: rem.torem(20px);
    }
  }

  &-active {
    color: colors.$primary;
    
    svg {
      fill: colors.$primary;
    }
  }
}
