@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_rem.scss" as rem;

.faorite-button-loading {
  svg {
    width: rem.torem(20px);
    height: rem.torem(20px);
  }
}

.faorite-button-active {
  svg {
    fill: colors.$primary;
  }
}
