@use "src/styles/mixins/_rem.scss" as rem;
@use "src/styles/variables/_colors.scss" as colors;

.image-preview {
  margin-top: rem.torem(24px);
  height: rem.torem(264px);
  aspect-ratio: 2 / 3;
  border: 1px solid colors.$grey-medium;
  box-shadow: 0 1px 8px 0 #25026c26;
}

.default-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: rem.torem(4px);
  background: linear-gradient(207.06deg, #f1f2f4 43.41%, #e1e1e7 107.01%);

  svg {
    height: rem.torem(60px);
    width: rem.torem(60px);
    fill: colors.$grey-semi-dark;
  }
}
