@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.offer {
  container: offer / inline-size;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: rem.torem(7px);
    background-color: var(--color-background-info);
    position: absolute;
    top: rem.torem(132px);
    z-index: 0;
  }

  &-header {
    padding: 0 rem.torem(24px) rem.torem(24px);
    border-bottom: rem.torem(7px) solid var(--color-background-info);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem.torem(24px);
    position: relative;
    z-index: 1;
  }

  &-body {
    padding: rem.torem(24px);
    display: flex;
    flex-direction: column;
    gap: rem.torem(24px);
  }

  &-main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: rem.torem(32px);
  }

  &-side {
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;
  }
}

.offer-section {
  &-header {
    display: flex;
    align-items: center;
    gap: rem.torem(8px);
    margin-bottom: rem.torem(16px);

    &-title {
      @include fonts.title2;
    }
  }

  &-group {
    display: flex;
    flex-direction: column;
    gap: rem.torem(16px);
    word-break: break-word;

    &-item {
      &-subtitle {
        @include fonts.body-accent-xs;

        color: var(--color-text-subtle);
        margin-bottom: rem.torem(8px);
      }

      &-description {
        white-space: pre-line;
        line-height: rem.torem(24px);
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: rem.torem(8px);

      &-pipe {
        color: var(--separator-color-subtle);
      }
    }
  }
}

@container offer (min-width: #{size.$tablet}) {
  .offer-body {
    flex-direction: row;
  }

  .offer-side {
    width: rem.torem(480px);
    max-width: 50%;
  }
}

@container offer (width >= #{size.$tablet}) {
  .offer-header {
    flex-direction: row;
    align-items: unset;
  }

  .offer::before {
    display: none;
  }
}

.disabled-prebook-callout {
  margin: 0 rem.torem(24px) rem.torem(24px) rem.torem(24px);
}
