@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_rem.scss" as rem;

.offer {
  &-header {
    padding: 0 rem.torem(24px) rem.torem(24px);
    border-bottom: rem.torem(7px) solid #f3edff;

    &-image-container {
      width: rem.torem(176px);
      height: rem.torem(264px);

      .offer-header-image,
      .offer-header-image-fallback {
        width: 100%;
        height: 100%;
        border-radius: rem.torem(10px);
      }

      .offer-header-image {
        object-fit: cover;
      }

      .offer-header-image-fallback {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: colors.$grey-light;
        color: colors.$grey-semi-dark;
      }
    }
  }
}
