@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.confirmed-attachment-container {
  max-width: rem.torem(640px);
  margin-left: auto;
  margin-right: auto;
}

.main-heading {
  @include fonts.title1;

  margin-bottom: var(--size-spacing-l);
}

.subheading-description {
  @include fonts.body-xs;

  color: var(--color-text-subtle);
  margin-bottom: var(--size-spacing-xxl);
}
