@use "styles/mixins/_fonts.scss" as fonts;

$confirmed-attachment-gap: var(--size-spacing-xxl);

.subtitle {
  @include fonts.title3;
}

.confirmed-attachment-layout {
  display: flex;
  flex-direction: column;
  gap: $confirmed-attachment-gap;
  margin: auto;
}
