.hero-section {
  margin-bottom: 2rem;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;

  .section-icon {
    background-image: url(/icons/ico-structure.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 120px;
    margin-left: -2.5rem;
    opacity: 0.25;
    width: 120px;
  }

  .section-icon-mask {
    width: 80px;
    height: 120px;
    position: absolute;
    top: -2.75rem;
    left: -5.3rem;
    overflow: hidden;
  }

  h1 {
    color: $grey;
    font-style: italic;
    font-size: $size-1;
    font-weight: $weight-normal;
    line-height: 38px;
  }

  h2 {
    @extend .has-text-weight-semibold;
    @extend .is-paddingless;

    line-height: 22px;
    font-size: 1.125rem;
  }

  .tip-icon {
    display: flex;
    margin-left: 0.5rem;
  }

  .title-action-links {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    top: 0px;

    .link {
      display: flex;
      font-weight: $weight-semibold;
      font-size: 14px;
      background-color: transparent;
      color: $primary;

      &:hover {
        background-color: transparent;
        color: $primary;
      }
    }
  }
}

.cta {
  border: 0;
  line-height: rem(22px);
  position: absolute;
  right: 0;
  top: -3px;

  img {
    height: rem(20px);
    margin-right: rem(8px);
    width: rem(20px);
  }
}
