@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/mixins/_fonts.scss' as fonts;

@mixin quaternary {
  @include fonts.caption();

  color: colors.$black;
  line-height: rem.torem(22px);

  &:hover,
  &:focus {
    color: colors.$black;
    text-decoration: underline;
  }

  &:active {
    color: colors.$black;
  }

  img {
    height: rem.torem(24px);
    margin-right: rem.torem(4px);
    vertical-align: bottom;
    width: rem.torem(24px);
  }
}

.quaternary-link {
  @include quaternary();
}
