.tutorial-welcome {
  align-items: center;
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: rem(28px);
  }

  .tw-content {
    width: rem(450px);

    .tw-strong {
      @include body-important();

      margin-bottom: rem(40px);
      margin-top: rem(40px);
    }

    .tw-steps {
      display: grid;
      grid-column-gap: rem(16px);
      grid-row-gap: rem(24px);
      grid-template-columns: 1fr 1fr;
    }
  }
}
