.mediation-manager {
  .info-message {
    background: $attention;
    border-radius: 6px;
    margin-bottom: rem(16px);
    padding: rem(12px) rem(15px);
  }

  ul.mediations-list {
    list-style: none;

    li {
      display: inline-block;
      height: rem(250px);

      img {
        height: rem(200px);
      }

      .field {
        .field-body {
          margin-left: auto;
          margin-right: auto;
          width: 90%;
        }

        .checkbox {
          margin-right: 0;
        }
      }
    }
  }
}
