.bi-banner {
  &.attention {
    background: $attention;
  }

  &.notification-info {
    background: $notification-info;
  }

  border-radius: 6px;
  margin: rem(16px) 0;
  padding: rem(7px) rem(15px);

  > p {
    margin: rem(5px) 0;
  }
}

.bi-link {
  &.bi-external-link--mod-topright {
    position: absolute;
    right: 0;
    top: rem(-6px);
  }
}
