@use "styles/mixins/_outline.scss" as outline;

.sorting-icons {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--size-spacing-s);

  &:focus {
    @include outline.focus-outline;
  }
}

.both-icons {
  display: flex;
  flex-direction: column;
}
