@use "styles/mixins/_rem.scss" as rem;

.box-form-layout:not(:last-child) {
  margin-bottom: var(--size-spacing-l);
}

.box-form-layout-header-title {
  margin-bottom: var(--size-spacing-s);
  color: var(--color-text-subtle);
}

.box-form-layout-fields {
  max-width: rem.torem(400px);
}

.box-form-layout-form-header {
  margin-bottom: var(--size-spacing-l);
  overflow-wrap: anywhere;
}

.box-form-layout-form-header-secondary {
  color: var(--color-text-subtle);
}

.box-form-layout-required-message {
  margin-bottom: var(--size-spacing-l);
}
