@use "styles/mixins/_layout.scss" as layout;
@use "styles/variables/_size.scss" as size;

.sign-up {
  display: flex;
  flex-direction: column;

  .logo-side {
    @include layout.logo-side;
  }

  @media (min-width: size.$tablet) {
    flex-direction: row;
  }
}
