@use "styles/mixins/_size.scss" as size;

.share-link {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;

  &-input {
    flex: 1;

    input {
      text-overflow: ellipsis;
      user-select: none;
      pointer-events: none;
    }
  }

  &-button {
    display: flex;
    align-self: flex-end;
  }
}

.container {
  width: 100%;
}

@media (max-width: size.$tablet) {
  .share-link {
    display: grid;

    &-button {
      justify-self: center;
    }
  }
}
