@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.booking-summary {
  @include fonts.body-accent-xs;

  margin-bottom: var(--size-spacing-l);
}

.desk-line {
  display: flex;
}

.desk-label {
  color: var(--color-text-subtle);
  text-align: right;
  width: 50%;
}

.desk-value {
  padding-left: rem.torem(5px);
  text-align: left;
  width: 50%;
}

.duo-price {
  position: relative;

  &-icon {
    position: absolute;
    top: rem.torem(-6px);
    margin-left: rem.torem(5px);
    height: rem.torem(30px);
    width: rem.torem(30px);
  }
}
