@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.desk-form-wrapper {
  border-radius: var(--size-border-radius-m);
  box-shadow: 0 0 rem.torem(5px) var(--color-large-shadow);
  padding: rem.torem(25px);
}

.desk-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: rem.torem(16px);
  text-align: center;
}

.desk-form-input {
  margin-bottom: rem.torem(24px);
  max-width: rem.torem(328px);
  text-align: left;
}

.desk-button {
  margin-bottom: rem.torem(10px);
}

.advice {
  @include fonts.title4;

  margin-bottom: rem.torem(32px);
}
