.help-link {
  display: inline-block;
  position: fixed;
  bottom: rem(32px);
  right: rem(32px);
  text-align: center;
  max-width: rem(42px);

  &-text {
    margin-top: rem(4px);
    display: block;
    @include bold();
  }

  &:hover {
    color: $primary
  }
}