@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_a11y.scss" as a11y;

.search-container {
  position: relative;
  margin: rem.torem(16px) 0;
}

.search-input-container {
  margin-bottom: rem.torem(16px);
}

.sub-title {
  @include fonts.title4;
}

.search-input input {
  border-radius: rem.torem(24px) 0 0 rem.torem(24px);
}

.search-button {
  margin-left: rem.torem(-16px);
  border-radius: 0 rem.torem(24px) rem.torem(24px) 0;
}

.search-no-results {
  color: var(--color-text-subtle);
  text-align: center;
  margin-top: rem.torem(32px);

  &-icon {
    margin: rem.torem(10px) 0 rem.torem(30px);
    color: var(--color-icon-subtle);
  }

  &-text {
    margin-bottom: rem.torem(20px);
  }
}

.visually-hidden {
  @include a11y.visually-hidden;
}
