.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-s);
}

.inline {
  flex-flow: row wrap;
  gap: var(--size-spacing-l);
  row-gap: var(--size-spacing-s);
}

.legend {
  margin-bottom: var(--size-spacing-s);
}

.error {
  margin-top: var(--size-spacing-s);
}
