@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem.torem(16px);

  @include fonts.body-accent-xs;
}

.button {
  background: none;
  border: none;
  height: rem.torem(24px);
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
