@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.location-viewer {
  margin-bottom: 1.125rem;
  width: 100%;

  .input-wrapper {
    position: relative;
    width: 90%;

    .menu {
      background: colors.$white;
      border: 2px solid colors.$grey-medium;
      border-bottom-left-radius: 1.125em;
      border-bottom-right-radius: 1.125em;
      border-top: none;
      left: 1.125em;
      overflow: hidden;
      position: absolute;
      right: 1.125em;
      z-index: 2000;

      &.empty {
        display: none;
      }

      .item {
        padding: 0.5rem 1rem;

        &:not(.placeholder) {
          &.highlighted {
            font-weight: 700;
          }

          &:focus,
          &:hover {
            background-color: colors.$grey-light;
          }
        }
      }
    }
  }

  .map {
    height: 20rem;
    margin-top: 1rem;
    overflow: hidden;
    width: 100%;

    /* the default z-indexes are set to:
     * -  400 for leaflet-pane
     * -  800 for leaflet-control
     * - 1000 for leaflet-top and leaflet-bottom
     * which are random values, interfering with modals
     */
    .leaflet-pane,
    .leaflet-top,
    .leaflet-bottom,
    .leaflet-control {
      z-index: 0;
    }
  }
}
