@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;

.booking-status-label {
  @include fonts.caption;

  border-radius: rem.torem(5px);
  padding: rem.torem(5px) rem.torem(7px);
  white-space: nowrap;
  line-height: rem.torem(19px);
  position: relative;
  width: fit-content;
  border: none;
  text-align: left;

  &:focus-visible {
    outline: rem.torem(1px) solid var(--color-black);
    outline-offset: rem.torem(2px);
  }
}

.booking-status-icon {
  width: rem.torem(17px);
  height: rem.torem(17px);
  color: var(--color-white);
  padding-right: rem.torem(4px);
  vertical-align: middle;
}

.bs-tooltip {
  white-space: initial;
  background-color: var(--color-white);
  border-radius: rem.torem(4px);
  box-shadow: 0 rem.torem(2px) rem.torem(10px) 0 var(--color-large-shadow);
  color: var(--color-black);
  display: block;
  padding: rem.torem(16px) rem.torem(24px) rem.torem(16px) rem.torem(24px);
  position: absolute;
  top: rem.torem(30px);
  width: rem.torem(340px);
  right: 0;
  z-index: 1;

  @media (max-width: rem.torem(size.$tablet)) {
    translate: -50%;
    right: unset;
  }
}

.bs-offer-title {
  @include fonts.button;

  display: block;
}

.bs-offer-amount {
  @include fonts.caption;

  display: block;
  margin-top: rem.torem(7px);
}

.bs-history-title {
  @include fonts.body;

  margin-top: rem.torem(16px);
}

.bs-history-label {
  @include fonts.body;

  margin-top: rem.torem(12px);
}

.bs-history-datetime {
  margin: rem.torem(6px);
}
