@use "styles/mixins/_rem.scss" as rem;

.allocine-provider-form-banner {
  margin: rem.torem(32px) 0;
}

.allocine-provider-form-actions {
  justify-content: center;
}

.price-input,
.nb-places-input {
  max-width: rem.torem(276px);
}
