@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

.tabs {
  display: flex;
  margin-bottom: rem.torem(32px);

  &-tab {
    background-color: transparent;
    font-size: rem.torem(16px);
    font-weight: 600;
    border-bottom: rem.torem(2px) solid transparent;

    &-icon {
      fill: colors.$black;
      width: rem.torem(20px);
      height: auto;
      margin-right: rem.torem(12px);
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: rem.torem(8px);
    }

    &.is-selected {
      border-bottom: rem.torem(2px) solid colors.$primary;

      .tabs-tab-link {
        color: colors.$primary;
      }

      .tabs-tab-icon {
        fill: colors.$primary;
      }
    }

    &:not(:last-of-type) {
      margin-right: rem.torem(32px);
    }
  }
}
