.tabs {
  display: flex;
  margin-bottom: rem(32px);

  &-tab {
    background-color: transparent;
    padding-bottom: rem(8px);
    font-size: rem(16px);
    font-weight: 600;
    cursor: pointer;
    border-bottom: 2px solid transparent;

    &-icon {
      fill: $black;
      width: rem(20px);
      height: auto;
      margin-right: rem(12px);
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.is-selected {
      border-bottom: 2px solid $primary;
      
      .tabs-tab-link { 
        color: $primary;
      }

      .tabs-tab-icon {
        fill: $primary;
      }
    }

    &:not(:last-of-type) {
      margin-right: rem(32px);
    }
  }
}
