.sticky {
  z-index: 10;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-spacing-l);
    flex-wrap: wrap;
    width: 100%;

    &-buttons {
      display: flex;
      align-items: center;
      gap: var(--size-spacing-l);
      flex-wrap: wrap;
    }
  }
}
