.teaser-list {
  display: flex;
  flex-direction: column;
  height: 100%;

  .absolute-footer {
    height: calc(#{$footer-height} + #{$header-height});
  }
}

.teaser-main {
  background-image: linear-gradient(to bottom right, $red, $purple-blue);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.teaser-link {
  display: flex;
  height: 150px;
}

.teaser-thumb {
  display: flex;
  width: 30%;

  img {
    width: 100%;
  }
}

.teaser-wrapper {
  @include dotted($primary, left);

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  padding-right: 0;
  width: 55%;
}

.teaser-title {
  @include multiLineEllipsis(2);

  color: $black;
  font-size: 1.1rem;
  font-weight: 700;
}

.teaser-title-booking {
  color: $black;
  font-size: 1.1rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.teaser-sub-title {
  color: $grey;
  font-size: 0.8rem;
  font-weight: 600;
  padding-top: 0.3rem;
  @include multiLineEllipsis(1);
}

.teaser-date,
.teaser-distance {
  color: $grey;
  font-size: 0.8rem;
  padding-top: 0.3rem;
}

.teaser-arrow {
  align-items: center;
  display: flex;
  position: relative;
  width: 15%;

  .field-checkbox {
    margin: auto;
  }
}

.teaser-arrow-img {
  margin: auto;
}

.teaser-no-teasers {
  align-items: center;
  justify-content: center;
}

.teaser-link-offers {
  border: 2px solid $white;
  border-radius: 2px;
  color: $white;
  display: block;
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
  padding: 0.4rem 1.5rem;

  &:hover {
    color: $white;
  }
}

.teaser-text {
  color: $white;
  text-align: center;
}

.teaser-item{
  @include dotted($primary, bottom);

  background-color: $white;
}

.teaser-infos {
  padding-top: 0.3rem;
}

.teaser-status {
  border-radius: 2px;
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 0.2rem;
  padding: 0.2rem;
  text-transform: uppercase;
}

.teaser-tomorrow {
  background-color: $ribbon-yellow;
  color: $black;
}

.teaser-today {
  background-color: $ribbon-blue;
  color: $white;
}

.teaser-finished {
  background-color: $grey-finished;
  color: $white;
}

.teaser-booked {
  background-color: $ribbon-green;
  color: $black;
}

.teaser-cancelled {
  background-color: $ribbon-red;
  color: $white;
}

.teaser-fully-booked {
  background-color: $grey;
  color: $white;
}
