$teaser-title-height-with-margin: rem(53px);

.teaser-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$navbar-height} - #{$teaser-title-height-with-margin});
  justify-content: center;
}

.teaser-link-container {
  background-image: url('/big-sun.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin: rem(-72px);
  padding: rem(100px);
}

.teaser-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.teaser-page {
  background-image: $linear-gradient-to-right;
  height: 100%;
  overflow: auto;
}

.teaser-link {
  display: flex;
  height: rem(150px);
}

.teaser-main-title {
  color: $white;
  margin: rem(31px) auto 0;
  font-size: rem(18px);
  font-weight: normal;
  text-align: center;
}

.teaser-thumb {
  background: $grey-dark;
  display: flex;
  width: 30%;

  img {
    width: 100%;
  }
}

.teaser-wrapper {
  @include dotted($primary, left);

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  padding-right: 0;
  width: 55%;
}

.teaser-title {
  @include multiLineEllipsis(2);

  color: $black;
  font-size: 1.1rem;
  font-weight: 700;
}

.teaser-title-booking {
  color: $black;
  font-size: 1.1rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.teaser-sub-title {
  color: $grey-dark;
  font-size: 0.8rem;
  font-weight: 600;
  @include multiLineEllipsis(1);
}

.teaser-date,
.teaser-distance {
  color: $grey-dark;
  font-size: 0.8rem;
  padding-top: 0.3rem;
}

.teaser-arrow {
  align-items: center;
  display: flex;
  position: relative;
  width: 15%;

  .field-checkbox {
    margin: auto;
  }
}

.teaser-arrow-img {
  margin: auto;
}

.teaser-link-offers {
  background-color: $white;
  border: 1px solid $white;
  border-radius: 24px;
  color: $primary;
  display: block;
  font-size: rem(16px);
  font-weight: bold;
  padding: rem(13px) rem(38px);
}

.teaser-text {
  color: $white;
  text-align: center;
  padding: 0 rem(70px);
  font-weight: 400;
}

.teaser-item{
  @include dotted($primary, bottom);

  background-color: $white;
}

.teaser-infos {
  padding-top: 0.3rem;
}

.teaser-status {
  border-radius: 2px;
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 0.2rem;
  padding: 0.2rem;
  text-transform: uppercase;
}

.teaser-tomorrow {
  background-color: $ribbon-yellow;
  color: $black;
}

.teaser-today {
  background-color: $ribbon-blue;
  color: $white;
}

.teaser-finished {
  background-color: $black;
  color: $white;
}

.teaser-booked {
  background-color: $ribbon-green;
  color: $black;
}

.teaser-cancelled {
  background-color: $ribbon-red;
  color: $white;
}

.teaser-fully-booked {
  background-color: $grey-dark;
  color: $white;
}
