@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_forms.scss' as forms;
@use 'styles/mixins/_rem.scss' as rem;

.text-area {
  @include forms.input-theme;
  $line-height: 1.3;
  $padding: rem.torem(8px);
  $font-size: rem.torem(16px);

  padding-top: rem.torem($padding);
  padding-bottom: rem.torem($padding);
  min-height: rem.torem($line-height * $font-size * 3 + $padding * 2);
  resize: none !important;
  overflow: hidden;

  &.has-error {
    @include forms.input-theme-error;
  }
}
