@use "styles/mixins/_forms.scss" as forms;
@use "styles/mixins/_rem.scss" as rem;

.text-area {
  @include forms.input-theme;

  $line-height: 1.3;
  $padding: 16px;

  display: block;
  padding-top: rem.torem($padding);
  padding-bottom: rem.torem($padding);
  resize: none;
  overflow: hidden;
  border-radius: rem.torem(6px);

  @include forms.input-theme-nested;

  &.has-error {
    @include forms.input-theme-error;
  }
}
