@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_forms.scss" as forms;
@use "styles/mixins/_rem.scss" as rem;

.wrapper {
  position: relative;
}

.text-area {
  @include forms.input-theme;

  $padding: 16px;

  display: block;
  padding-top: rem.torem($padding);
  padding-bottom: rem.torem($padding);
  resize: none;
  overflow: hidden;
  border-radius: var(--size-border-radius-m);

  @include forms.input-theme-nested;

  &.has-error {
    @include forms.input-theme-error;
  }
}

.label:not(.has-description) {
  display: block;
  margin-bottom: rem.torem(8px);
}

.template-button {
  position: absolute;
  bottom: rem.torem(16px);
  left: rem.torem(16px);
}

.description {
  @include fonts.body-xs;

  display: block;
  color: var(--color-text-subtle);
  margin-bottom: rem.torem(8px);
}

.footer {
  margin-top: rem.torem(8px);
  display: flex;
  align-items: center;
  gap: rem.torem(8px);
}

.error {
  flex: 1;
}
