@use "src/styles/mixins/_rem.scss" as rem;
@use "src/styles/variables/_colors.scss" as colors;

.actions {
  display: flex;
  justify-content: center;
  gap: rem.torem(16px);
}

.separator {
  background-color: colors.$grey-medium;
  height: rem.torem(24px);
  width: rem.torem(1px);
}

.button-link {
  svg {
    width: rem.torem(20px);
    height: rem.torem(20px);
  }
}
