.one-item-medium {
  margin-bottom: rem(50px);
  overflow-x: scroll;
  padding-left: rem(20px);
  padding-right: rem(20px);
  white-space:nowrap;

  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}
