.module-wrapper {
  .one-item-medium,
  .two-items {
    padding: 0 rem(20px) rem(24px);
    white-space: nowrap;
  }

  h1 {
    @include title4();

    color: $black;
    margin-left: 2%;
    padding: 0 rem(20px) rem(16px);
    white-space: normal;
  }

  &:first-child h1 {
    color: $white;
  }

  .offer-cover-wrapper {
    margin-left: 2%;
    position: relative;
    width: 97%;

    .ofw-image-one-item, .ofw-image-two-items {
      box-shadow: 0 rem(2px) rem(4px) 0 $black-shadow;
      background-color: $grey;
      border-radius: rem(8px);
      object-fit: cover;
      margin-bottom: rem(5px);
      width: 100%;
    }

    .ofw-image-one-item {
      height: rem(195px);
    }

    .ofw-image-two-items {
      height: rem(215px);
    }
  }
}

.ofw-swipe-icon-wrapper {
  align-items: center;
  bottom: rem(3px);
  border-bottom-left-radius: rem(8px);
  border-bottom-right-radius: rem(8px);
  display: flex;
  height: 100%;
  justify-content: flex-end;
  padding-right: rem(15px);
  position: absolute;
  width: 100%;

  .ofw-swipe-icon {
    height: rem(32px);
    width: rem(22px);
  }
}

.ofw-two-tiles-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: hidden;
  width: 99%;

  .offer-tile-wrapper {
    max-width: 47%;
  }

  .otw-offer-info {
    display: flex;
    flex-direction: column;
  }

  .see-more-wrapper {
    margin-left: 4%;
    width: 100%;

    .smw-image-two-items {
      width: 100%;
    }
  }
}
