.module-wrapper {
  .one-item-medium {
    margin-bottom: rem(24px);
    padding-left: rem(20px);
    padding-right: rem(20px);
    white-space: nowrap;
  }

  h1 {
    @include title4();

    color: $black;
    margin: 0 rem(20px) rem(15px);
    white-space: normal;
  }

  &:first-child h1 {
    color: $white;
  }
}
