@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.venue-providers-manager {
  form {
    width: 100%;
  }

  .stocks-provider-form {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .loading-spinner {
    flex-grow: 1;
  }

  .account-section {
    flex-direction: column;
    margin-right: rem.torem(25px);
    max-width: rem.torem(250px);
  }

  .account-label {
    margin-bottom: rem.torem(15px);
    margin-top: rem.torem(6px);
  }

  .account-value {
    @include fonts.title4();

    height: rem.torem(36px);
  }

  .secondary-button {
    margin-top: rem.torem(6px);

    svg .ico-more-circle {
      fill: colors.$primary;
    }
  }

  .provider-picto {
    align-items: center;
    width: rem.torem(30px);

    img {
      line-height: rem.torem(30px);
    }
  }

  .venue-id-at-offer-provider-container {
    display: flex;
    flex: 6;

    .field-is-read-only {
      margin-left: 0;
    }

    .tooltip .tooltip-info {
      margin-left: rem.torem(70px);
      padding: rem.torem(4px);
    }
  }

  .input-select {
    padding: rem.torem(8px) 0;
  }
}
.account-section {
  margin: rem.torem(16px) 0;
}
