@mixin btn() {
  border: none;
  color: $white;
  margin-left: 1rem;
  padding: 1rem 1rem 1rem 2rem;
}

.mf-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mf-done {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mf-done-btn {
  @include btn();

  background: transparent url(/icons/ico-check.svg) no-repeat left center;
}

.mf-edit-btn {
  @include btn();

  background: transparent url(/icons/ico-edit.svg) no-repeat left center;
}

.mf-delete-btn {
  @include btn();

  background: transparent url(/icons/ico-bin.svg) no-repeat left center;
}
