@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.fake-adage-page {
  margin-top: rem.torem(32px);
  background-color: var(--color-background-subtle);
  border: 1px solid transparent;

  &-header {
    background-color: var(--color-adage-blue-external);
    height: rem.torem(54px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem.torem(10px);

    &-logo {
      max-height: 100%;
    }

    &-burger {
      border: 0.5px solid var(--color-border-inverted);
      border-radius: var(--size-border-radius-m);
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem.torem(48px);
      height: rem.torem(32px);
    }
  }

  &-pass {
    background-color: var(--color-background-default);
    border-radius: var(--size-border-radius-l);
    box-shadow: 0 0 16px 0 var(--color-medium-shadow);

    &-header {
      padding: 0 rem.torem(16px);
      color: var(--color-text-brand-primary);
      height: rem.torem(48px);
      display: flex;
      align-items: center;
      box-shadow: 0 0 16px 0 var(--color-medium-shadow);
      border-top-right-radius: rem.torem(16px);
      border-top-left-radius: rem.torem(16px);
      position: relative;
      z-index: 1;
    }

    &-content {
      padding-top: rem.torem(24px);
    }
  }
}

@media screen and (min-width: size.$tablet) {
  .fake-adage-page-pass {
    margin: rem.torem(40px);
  }
}
