@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.banner {
  margin-bottom: rem.torem(16px);
}

.title {
  @include fonts.title1;

  margin-bottom: rem.torem(32px);
}

.offers-pagination {
  margin-top: rem.torem(32px);
}
