@charset "UTF-8";
.swagger-ui html {
  box-sizing: border-box
}

.swagger-container {
    margin: 20px;
}

.topbar {
    display: none;
}

.swagger-ui .markdown code, .swagger-ui .renderedMarkdown code {
    background: #41444e;
    font-size: 12px;
    padding: 10px;
    border-radius: 4px;
    font-family: monospace;
    font-weight: 600;
    color: #fff;
    }

span.example {
    font-family: sans-serif;
    color: #3b4151;
    font-size: 12px;
    font-weight: 700;
}
