@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;
@use "styles/mixins/_rem.scss" as rem;

.income {
  &-filters {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: rem.torem(20px);
    row-gap: rem.torem(10px);

    @media (min-width: size.$tablet) {
      margin-bottom: rem.torem(12px);
    }

    &-divider {
      display: none;

      @media (min-width: size.$tablet) {
        display: block;
        margin: rem.torem(31.75px) 0 0 rem.torem(24px);
        width: rem.torem(1px);
        height: rem.torem(30px);
        background: var(--color-grey-semi-dark);
      }
    }

    &-by-year {
      display: flex;
      flex-flow: row wrap;
      flex-direction: row;
      gap: rem.torem(8px);

      @media (width >= 634px) {
        height: rem.torem(66.75px);
        margin-left: rem.torem(24px);
        align-items: end;

        &-is-only-filter {
          margin-left: 0;
        }
      }

      &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        cursor: pointer;
        padding: rem.torem(10px);
        color: var(--color-black);
        border: solid rem.torem(1px) var(--color-grey-dark);
        border-radius: rem.torem(4px);

        &:hover, &:focus {
          outline: rem.torem(1px) solid var(--color-primary);
        }

        &-active {
          @include fonts.button;

          border-color: var(--color-black);

          &::before {
            content: '';
            display: block;
            width: rem.torem(8px);
            height: rem.torem(8px);
            background-color: var(--color-secondary-light);
            border-radius: 50%;
            margin-right: rem.torem(8px);
          }
        }
      }
    }
  }
}