@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_rem.scss" as rem;

.income {
  &-box {
    margin-bottom: rem.torem(24px);
  }

  &-input {
    max-width: rem.torem(350px);
  }

  &-filters {
    display: flex;
    flex-direction: column;
    margin-bottom: rem.torem(20px);
    row-gap: rem.torem(24px);

    &-by-year {
      display: flex;
      flex-flow: row wrap;
      flex-direction: row;
      gap: rem.torem(8px);

      &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        cursor: pointer;
        padding: rem.torem(10px);
        color: var(--color-text-default);
        border: solid rem.torem(1px) var(--color-border-default);
        border-radius: var(--size-border-radius-m);

        &:hover,
        &:focus {
          outline: rem.torem(1px) solid var(--color-border-brand-primary);
        }

        &-active {
          @include fonts.button;

          border-color: var(--color-border-selected);

          &::before {
            content: "";
            display: block;
            width: rem.torem(8px);
            height: rem.torem(8px);
            background-color: var(--color-icon-brand-primary);
            border-radius: var(--size-border-radius-pill);
            margin-right: rem.torem(8px);
          }
        }
      }
    }
  }
}
