#splash {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/splash-background.webp');
  background-size: cover;
  background-repeat: no-repeat;

  #beta-mention {
    padding-top: 7.5em;
    padding-left: 0.3em;
    color: white;
    font-weight: lighter;
    text-transform: capitalize;
  }
}
