@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_forms.scss" as forms;
@use "styles/variables/_colors.scss" as colors;

.aa-InputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aa-Input {
  @include forms.input-theme;

  position: relative;
  min-height: rem.torem(48px);
  border-radius: rem.torem(24px);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: rem.torem(36px);
}

.aa-Span {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  width: rem.torem(48px);
  height: 100%;
  display: flex;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  color: colors.$black;
}

.aa-SearchButton {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  min-height: rem.torem(48px);
}

.aa-InputContainer {
  position: relative;
  width: 100%;
  max-width: 51.5rem;
}
