@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_forms.scss" as forms;
@use "styles/mixins/_fonts.scss" as fonts;

.form {
  display: flex;
  justify-content: center;

  &-container {
    width: 100%;
    max-width: 53.5rem;
    position: relative;

    &-wrapper {
      min-height: rem.torem(48px);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      padding: 0 rem.torem(16px);
    }

    &-input {
      position: relative;
      width: 100%;
    }
  }

  &-input {
    @include forms.input-theme;

    position: relative;
    min-height: rem.torem(48px);
    border-radius: rem.torem(24px);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: rem.torem(36px);

    @include forms.input-theme-nested;

    &-span {
      position: absolute;
      top: 0;
      left: 0;
      width: rem.torem(48px);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-search-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-height: rem.torem(48px);
  }
}

.dialog {
  border: none;
  width: 100%;
  background-color: var(--color-white);
  position: absolute;
  top: rem.torem(-16px);
  right: 0;
  border-radius: rem.torem(8px);
  z-index: 1;
  bottom: rem.torem(64px);
  padding-top: rem.torem(40px);

  &-panel {
    margin-top: rem.torem(24px);
    padding: rem.torem(8px) rem.torem(40px) rem.torem(24px);

    &-autocomplete {
      &-text {
        @include fonts.caption;

        color: var(--color-grey-dark);
        display: flex;
        align-items: center;
        margin-top: rem.torem(16px);
        margin-bottom: rem.torem(12px);

        &-clean {
          @include fonts.caption;

          margin-left: rem.torem(8px);
          text-decoration: none;
          display: flex;
          align-items: center;
        }

        svg {
          width: rem.torem(16px) !important;
          margin-right: rem.torem(4px) !important;
        }
      }

      &-item {
        @include fonts.body;

        display: flex;
        gap: rem.torem(8px);
        align-items: center;
        cursor: pointer;
        word-break: break-word;
        width: 100%;
        padding: rem.torem(8px);

        &:hover,
        &:focus-within,
        &[aria-selected="true"] {
          background-color: var(--color-grey-light);
        }

        &-icon {
          color: var(--color-grey-dark);
        }

        svg {
          width: rem.torem(16px) !important;
        }
      }

      &-category {
        @include fonts.button;

        color: var(--color-primary);
      }
    }
  }
}

.backdrop {
  z-index: 1;
  position: fixed;
  inset: 0;
  background-color: rgb(from var(--color-input-text-color) r g b / 16%);
}

.panel-footer {
  @include fonts.caption;

  padding: rem.torem(12px) rem.torem(16px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: rem.torem(1px) solid var(--color-grey-medium);

  &-link {
    @include fonts.caption;

    margin-left: rem.torem(8px);
  }

  svg {
    max-width: rem.torem(16px);
    margin-right: rem.torem(4px) !important;
  }
}

.form-search-button:focus-visible {
  z-index: 3;
}
