@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.radio-group-title {
  @include fonts.title2;
}

.educational-form {
  &-banner {
    margin-bottom: var(--size-spacing-xxl) !important;
  }
}

.educational-form .educational-form-adress-banner {
  margin-top: var(--size-spacing-s);
}

.educational-form-adress-banner {
  padding: var(--size-spacing-l);
  background: var(--color-background-subtle);
  border-radius: var(--size-border-radius-m);
  overflow-wrap: anywhere;
}

.price-details textarea {
  min-height: rem.torem(72px);
  height: rem.torem(72px);
}

.banner-space {
  margin-bottom: var(--size-spacing-l);
}

.duration-input {
  width: rem.torem(127px);
}

.description-info-boxes {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-s);
}

.description-info-spacing {
  display: block;
  margin-bottom: var(--size-spacing-m);
}

.title,
.description,
.price-detail {
  margin-bottom: var(--size-spacing-l);
}

.event-other-address {
  margin-top: var(--size-spacing-l);
}

.school-departments {
  @include fonts.body;
}

.specific-address {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-l);

  &-search {
    margin-bottom: 0;
  }
}
