@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_rem.scss' as rem;

.field-overlay {
  position: relative;
  height: 0;

  .dropdown-indicator {
    background: none;
    border: none;
    fill: colors.$grey-light;
    position: absolute;
    right: rem.torem(16px);
    bottom: rem.torem(8px);
    & img {
      width: rem.torem(20px);
    }
    &-is-closed {
      transform: rotate(180deg);
    }

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  }

  .pellet {
    align-items: center;
    background-color: colors.$primary;
    border-radius: rem.torem(100px);
    box-sizing: border-box;
    color: colors.$white;
    cursor: pointer;
    display: flex;
    font-size: rem.torem(9px);
    height: rem.torem(18px);
    justify-content: center;
    padding: rem.torem(6px);
    position: absolute;
    left: rem.torem(12.8px);
    top: rem.torem(-28.8px);
    width: rem.torem(18px);
  }
}

.menu {
  border-radius: rem.torem(6px);
  box-shadow: 0 rem.torem(3px) rem.torem(4px) rgba(103, 104, 107, 0.1);
  font-size: rem.torem(15px);
  margin: 0 rem.torem(1.6px);
  max-height: rem.torem(296px);
  overflow-y: scroll;
  padding: rem.torem(8px) 0;
  position: absolute;
  background-color: colors.$white;
  width: 100%;
  right: 0;
  z-index: 1;

  &--no-results {
    padding: rem.torem(8px);
  }

  label {
    display: flex;
    padding: rem.torem(11.2px) rem.torem(16px);
  }

  label:hover,
  label:focus-within {
    background-color: colors.$grey-light;
  }
}
