@use "src/styles/mixins/_rem.scss" as rem;
@use "src/styles/variables/_forms.scss" as forms;
@use "src/styles/variables/_size.scss" as size;
@use "src/styles/mixins/_fonts.scss" as fonts;

.label-input {
  width: rem.torem(424px);
}

.price-input {
  width: rem.torem(146px);
}

.duo-section {
  margin-top: rem.torem(12px);
  margin-bottom: rem.torem(40px);
}

.form-row-actions {
  height: size.$input-min-height;
  display: flex;
  align-items: center;

  > * {
    line-height: 1;
  }
}

.first-row {
  // "Center" with input
  // We are using margin-top and not flex center because when there is an error the
  // input field grows at the bottom and we don't want the icon to move
  margin-top: calc(
    #{forms.$label-small-space-before-input} + #{fonts.$caption-line-height}
  );
}

.free-checkbox {
  margin-right: rem.torem(20px);
}

.delete-icon {
  svg {
    width: rem.torem(24px);
    height: rem.torem(24px);
  }
}
