@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;

.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.callout-area {
  margin-bottom: 8px;
}

.callout-area-margin {
  margin-top: rem.torem(32px);
}

.mandatory {
  @include fonts.caption;

  color: var(--color-grey-dark);
}

@media (min-width: size.$tablet) {
  .row {
    flex-direction: row;
    gap: rem.torem(16px);
    align-items: flex-start;
  }

  .field-layout-xsmall {
    max-width: rem.torem(154px);
  }

  .field-layout-small {
    max-width: rem.torem(242px);
  }

  .field-layout-shrink {
    width: initial;
  }

  .field-layout-footer {
    min-height: rem.torem(32px);
  }
}
