.calendarpicker-field-input {
  width: 260px;
}

.timepicker-field-input {
  width: 212px;
}

.timepicker-field-input input,
.calendarpicker-field-input input {
  text-align: center;
  padding-right: 44px;
}
