.secondary-button {
  @include button();
  background-color: $white;
  border: 2px solid $primary;
  border-radius: rem(24px);
  color: $primary;
  height: rem(40px);
  line-height: rem(15px);
  padding: 10px 16px;

  &:disabled {
    background-color: $white;
    border: 3px solid $primary-disabled;
    color: $primary-disabled;
    cursor: not-allowed;
    opacity: 1;
  }

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:active:not(:disabled) {
    background-color: $primary-dark;
    border: 2px solid $primary-dark;
    color: $white;
  }

  &:focus:not(:active) {
    box-shadow: none;
  }
}

a.secondary-button {
  display:block;

  &:hover:not(:disabled) {
    color: $primary;
  }
  &:active:not(:disabled) {
    color: $white;
  }
}
