@mixin secondary {
  @include button();

  background-color: $white;
  border: 2px solid $primary;
  border-radius: rem(24px);
  color: $primary;
  cursor: pointer;
  height: rem(40px);
  line-height: rem(15px);
  padding: rem(10px) rem(16px);

  &:active,
  &:hover,
  &:focus {
    background-color: $primary-dark;
    border: 2px solid $primary-dark;
    color: $white;
  }
}

.secondary-button {
  @include secondary();

  &:disabled {
    background-color: $white;
    border: 3px solid $primary-disabled;
    color: $primary-disabled;
    cursor: not-allowed;
    opacity: 1;
  }
}

.secondary-link {
  @include secondary();

  &:active {
    color: $white;
  }
}
