#pc-header-top {
    background: linear-gradient(to right, rgb(var(--bs-primary-rgb)), rgb(var(--bs-secondary-rgb)));
}

:root {
    --bs-body-bg: #f9f9f9;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: rgb(219 218 218);
}

pre:has(code) {
    padding: 0.5rem;
    font-family: Consolas, "courier new", serif !important;
}