@use "styles/mixins/_size.scss" as size;

.menu {
  padding: var(--size-spacing-s) var(--size-spacing-l);
  gap: 0;
}

.pop-in {
  @media screen and (min-width: size.$tablet) {
    width: auto;
  }
}

.nav-section-title {
  flex: 1;
  text-align: left;
}

.help-dropdown-trigger {
  display: flex;
  align-items: center;
  gap: var(--size-spacing-s);
}
