@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;

.box-form-layout {
    margin-bottom: rem.torem(16px);
}

.profile-form-description-banner {
    margin: rem.torem(16px);
}

.box-form-layout-header-title {
    margin-bottom: rem.torem(8px);
}

.box-form-layout-header-subtitle {
    color: colors.$grey-dark;
}

.box-form-layout-fields {
    width: rem.torem(400px);
}
