@use 'styles/mixins/_fonts.scss' as fonts;
@use 'src/styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_rem.scss' as rem;

.reimbursements-page {
  .header {
    display: flex;
    justify-content: space-between;
    margin-top: rem.torem(34px);
    padding-bottom: rem.torem(36px);

    &-title {
      @include fonts.title3();
    }
  }

  .reset-filters {
    @include fonts.button();

    color: colors.$primary;
    line-height: rem.torem(22px);

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:disabled {
      color: colors.$grey-dark;

      &:hover,
      &:focus {
        cursor: auto;
        text-decoration: none;
      }
    }
  }

  .filters {
    align-content: stretch;
    display: flex;
    justify-content: space-between;
    padding-bottom: rem.torem(32px);

    .input-select {
      flex: 1;
      margin-right: rem.torem(24px);

      select {
        width: 100%;
      }
    }

    .period-filter-inputs {
      margin-top: rem.torem(8px);
    }
  }

  .button-group {
    margin-bottom: rem.torem(16px);
    position: relative;

    .search-button {
      padding: 0 rem.torem(32px);
    }

    &-buttons {
      display: flex;
      justify-content: center;
      position: relative;

      > button {
        margin: 0 rem.torem(12px);
        min-width: rem.torem(148px);
      }
    }

    &-separator {
      border-bottom: 1px solid colors.$grey-medium;
      display: block;
      position: absolute;
      top: 50%;
      width: 100%;
    }
  }

  .format-mention {
    text-align: center;
  }

  .no-refunds {
    align-items: center;
    display: flex;
    flex-direction: column;

    &.admin-view {
      margin-top: rem.torem(32px);
    }
  }

  .no-refunds-title {
    @include fonts.title4();

    margin: rem.torem(16px) 0;
  }

  .no-refunds-description {
    align-items: center;
    display: flex;
    flex-direction: column;

    button {
      margin: rem.torem(8px) 0;
    }
  }

  .admin-view-description {
    color: colors.$grey-dark;
    margin-top: rem.torem(18px);
    text-align: center;
    width: 52%;
  }

  .banner {
    margin: rem.torem(32px) 0;

    p {
      display: flex;
      align-items: center;
    }

    a {
      margin: 0 rem.torem(8px);
      display: inline-flex;
      align-items: center;
    }
  }

  .secondary-button {
    margin-left: rem.torem(10px);
  }
}
