@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/variables/_forms.scss' as forms;
@use 'styles/mixins/_rem.scss' as rem;

.field-layout {
  width: 100%;

  &-label {
    margin-bottom: rem.torem(forms.$label-space-before-input);
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }

  &-small-label &-label {
    @include fonts.caption();
  }

  &-inline {
    display: flex;

    .field-layout-content {
      width: 100%
    }

    /*
    * When label and input are inline, we need to add margin
    * bottom to the label in order to align label and input,
    * since there is a placeholder for the footer under the input
    */
    .field-layout-label {
      margin-bottom: rem.torem(forms.$input-space-before-error + forms.$input-error-reserved-space);
      margin-right: rem.torem(8px);
    }
  }

  &-optional {
    @include fonts.caption();
    color: colors.$grey-dark;
  }

  &-footer {
    margin-top: rem.torem(forms.$input-space-before-error);
    display: flex;
    justify-content: flex-end;
    min-height: rem.torem(forms.$input-error-reserved-space);
  }

  &-error {
    flex: 1;
  }

  &-counter {
    @include fonts.caption();
    color: colors.$grey-dark;
    flex: initial;
    justify-self: flex-end;
  }
}
