@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_forms.scss" as forms;
@use "styles/mixins/_forms.scss" as formsM;
@use "styles/mixins/_rem.scss" as rem;

.field-layout {
  width: 100%;
  margin-bottom: rem.torem(8px);

  &-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;

    &-container {
      margin-bottom: rem.torem(forms.$label-space-before-input);
    }

    &-break {
      white-space: break-spaces;
    }
  }

  &-small-label &-label {
    @include fonts.caption;

    margin-bottom: forms.$label-small-space-before-input;
  }

  &-inline {
    display: flex;

    .field-layout-content {
      width: 100%;
    }

    /*
    * When label and input are inline, we need to add margin
    * bottom to the label in order to align label and input,
    * since there is a placeholder for the footer under the input
    */
    .field-layout-label {
      margin-bottom: rem.torem(
        forms.$input-space-before-error + forms.$input-error-reserved-space
      );
      margin-right: rem.torem(8px);
    }
  }

  &-footer {
    @include formsM.field-layout-footer;
  }

  &-error {
    flex: 1;

    svg {
      flex: 0 0 15px;
    }
  }

  &-counter {
    @include fonts.caption;

    color: var(--color-grey-dark);
    flex: initial;
    justify-self: flex-end;
  }

  &-input-description {
    @include fonts.caption;

    color: var(--color-grey-dark);
  }
}

// Used by clear button
.input-wrapper {
  position: relative;
}

$icon-size: rem.torem(20px);

.clear-button {
  width: calc(#{$icon-size} + #{rem.torem(2px)});
  height: calc(#{$icon-size} + #{rem.torem(2px)});
  border: 1px solid var(--color-white);
  background: var(--color-white);
  border-radius: 50%;

  // Reset button styles
  line-height: 0;

  &-container {
    position: absolute;
    top: rem.torem(-4px);
    right: 0;
  }

  &:focus {
    outline: 1px solid var(--color-black);
  }

  &:disabled {
    cursor: not-allowed;

    path {
      fill: var(--color-grey-semi-dark);
    }
  }

  &-icon {
    width: $icon-size;
    height: $icon-size;

    path {
      fill: var(--color-black);
    }
  }
}
