@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.tips-banner {
  display: flex;
  padding: var(--size-spacing-l);
  border-radius: var(--size-border-radius-m);
  background: var(--color-background-info);
  width: fit-content;
  gap: var(--size-spacing-s);

  @media (min-width: size.$tablet) {
    max-width: rem.torem(500px);
  }

  &-text {
    display: flex;
    flex-direction: column;
    gap: var(--size-spacing-s);
    overflow-wrap: anywhere;
  }

  &-header {
    @include fonts.body-accent-s;

    display: flex;
    align-items: center;
    gap: var(--size-spacing-s);
    color: var(--color-text-brand-primary);
  }

  &-icon {
    width: rem.torem(20px);
    height: rem.torem(20px);
  }

  &-content {
    @include fonts.body-xs;
  }

  &-illustration {
    display: none;
    width: auto;
    height: 100%;
    max-width: rem.torem(160px);

    @media (min-width: size.$tablet) {
      display: flex;
    }
  }
}
