@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;
@use "styles/variables/_size.scss" as sizes;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_forms.scss" as forms;

.signup-page-form {
  position: relative;
}

.sign-up-form-page {
  height: 100%;
  width: 100%;
  position: relative;
  left: forms.$sign-form-space-left;

  .content {
    padding: rem.torem(60px) 0 0;
    width: rem.torem(486px);

    .sign-page-form {
      width: 59%;
    }

    .siren-field {
      margin-bottom: rem.torem(16px);
    }

    .sign-up-infos-before-signup {
      margin-top: rem.torem(40px);
    }

    .sign-up-form {
      margin: rem.torem(16px) 0 rem.torem(36px) 0;
    }

    .buttons-field {
      display: flex;
      flex-wrap: wrap;
      gap: rem.torem(24px);
      margin-top: rem.torem(16px);
      margin-bottom: rem.torem(32px);

      a,
      button {
        margin-bottom: rem.torem(5px);
        width: rem.torem(231px);
      }

      .button {
        padding: 0 rem.torem(45px);

        &:focus {
          border: none;
          padding: 0 rem.torem(45px);
        }
      }
    }
  }
}

.cookie-footer {
  bottom: -97px;
  left: -145px;
}
