@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.styleguide-page {
  h2 {
    @include fonts.title2();

    margin-bottom: rem.torem(20px);
  }

  h3 {
    @include fonts.title3();

    margin-bottom: rem.torem(10px);
  }

  input {
    display: block;
  }

  ul {
    background-color: colors.$grey-light;
    margin: rem.torem(10px);
    padding: rem.torem(10px);
  }

  li {
    padding: rem.torem(2px) 0;
    text-align: rem.torem(10px);
  }

  li:hover a,
  li:focus a {
    color: colors.$primary;
  }

  hr.separator {
    border: 1px solid colors.$grey-medium;
  }

  .flex-block {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 rem.torem(20px);

    .class-name {
      @include fonts.body-important();

      color: colors.$primary;
      font-style: italic;
    }
  }

  .styleguide-select {
    .input-select {
      width: 30%;
    }
  }
}

.it-content {
  flex: 2;
}

.it-description {
  flex: 3;
  margin-left: rem.torem(10px);
  text-align: center;
  text-align: center;
}

.it-icon-snippet {
  background-color: colors.$grey-light;
  border-radius: 5px;
  padding: 0;
  text-align: left;
}
