@use "src/styles/variables/_colors.scss" as colors;
@use "src/styles/mixins/_rem.scss" as rem;

.confirm-dialog {
  .tertiary-link {
    color: colors.$primary;

    &:hover,
    &:focus {
      color: colors.$primary;
    }
  }

  &-actions {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem.torem(48px);
    gap: rem.torem(24px);
  }
}
