@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;
@use "styles/variables/_z-index.scss" as zIndex;

.lateral-panel {
  &-wrapper {
    display: none;
    position: fixed;
    top: size.$top-menu-height;
    left: 0;
    min-width: size.$side-nav-width;
    z-index: zIndex.$lateral-menu-z-index-mobile;
    min-height: 100%;

    &::before {
      content: " ";
      display: block;
      position: fixed;
      inset: 0;
      background: var(--color-background-overlay);
    }

    &-open {
      display: block;
    }
  }

  &-menu {
    background: var(--color-background-default);
    z-index: zIndex.$lateral-menu-z-index-mobile;
    position: fixed;
    inset: 0;
    overflow-y: auto;
  }

  @media (min-width: size.$tablet) {
    &-menu {
      max-width: rem.torem(268px);
      inset: 0;
    }
  }

  &-nav {
    padding: 0 rem.torem(16px);
    height: rem.torem(50px);
    border-bottom: rem.torem(1px) solid var(--color-border-subtle);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-open {
      padding: 0 0 0 rem.torem(16px);
      border-right: rem.torem(1px) solid var(--color-border-subtle);
    }

    .logo {
      width: rem.torem(80px);
    }
  }

  &-logo {
    width: rem.torem(80px);
  }
}

@media (min-width: size.$laptop) {
  .lateral-panel {
    &-wrapper {
      z-index: zIndex.$lateral-menu-z-index;
      display: block;
      position: initial;
      height: 100%;

      &::before {
        display: none;
      }
    }

    &-menu {
      z-index: zIndex.$lateral-menu-z-index;
      position: initial;
      height: 100%;
      width: 100%;
    }

    &-nav {
      display: none;
    }
  }
}
