.crop-explain p {
  margin-top: auto;
}

.crop-explain .column {
  color: $mediation-green-dark;
  display: flex;
  flex-basis: 0;
  flex-flow: column nowrap;
  flex-grow: 1;
  margin: 0 0.75em 0 0;

  &.explain-text {
    padding-left: 0;

    b {
      display: block;
    }
  }

  &.explain-bad {
    color: $mediation-red;
  }
}

.mediation-page {
  p {
    margin-bottom: rem(15px);
  }

  a {
    color: $primary;
  }
}

.thumbnailManager {
  background-color: $grey-light;
  margin-bottom: rem(10px);
  padding: rem(18px);

  hr {
    margin: 1rem 0;
  }

  canvas {
    background: url(/icons/pattern-checker.png) repeat $white;
    border: 1px solid $grey-medium;
  }

  .section {
    font-size: rem(13px);
    margin-bottom: 0.7rem;

    h2 {
      font-size: rem(16px);
      margin-bottom: rem(15px);
    }
  }

  ul li {
    display: flex;
    flex-direction: row;
    margin-bottom: rem(12px);
  }

  ul li span.li-number {
    background-color: $mediation-green;
    color: $black;
    font-weight: bold;
    height: rem(20px);
    margin-right: rem(10px);
    text-align: center;
    width: rem(20px);
  }

  ul li:first-child span.li-number {
    background-color: $mediation-violet;
    color: $white;
  }

  h6 {
    margin-bottom: rem(5px);
  }
}
