.crop-explain p {
  margin-top: auto;
}

.crop-explain .column {
  display: flex;
  flex-flow: column nowrap;
  color: $mediation-green-dark;

  &.explain-text {
    padding-left: 0;

    b {
      display: block;
    }
  }

  &.explain-bad {
    color: $mediation-red;
  }
}

.mediation-page {
  p {
    margin-bottom: rem(15px);
  }

  a {
    color: $red;
  }
}

.thumbnailManager {
  background-color: $grey-light-bis;
  padding: 18px;
  margin-bottom: 10px;

  hr {
    margin: 1rem 0;
  }

  canvas {
    background: url(/pattern-checker.png) repeat white;
    border: 1px solid $grey-medium;
  }

  .section {
    font-size: 13px;
    margin-bottom: 0.7rem;

    h2 {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  ul li {
    display: flex;
    flex-direction: row;
  }

  ul li span.li-number {
    height: 20px;
    width: 20px;
    color: black;
    background-color: $mediation-green;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
  }

  ul li:first-child span.li-number {
    color: white;
    background-color: $violet;
  }

  h6 {
    margin-bottom: 5px;
  }
}
