.desk-page {
  form {
    border-radius: rem(8px);
    box-shadow: 0 0 5px $black-shadow;
    display: flex;
    flex-direction: column;
    padding: rem(25px);
    text-align: center;
  }

  .input-text .labels {
    margin: 0 auto;
    width: rem(328px);
  }

  .it-input {
    margin: rem(10px) auto rem(15px);
    width: rem(328px);
  }

  .booking-summary {
    @include caption();

    margin-bottom: rem(15px);

    > div > div {
      display: inline-block;
      width: 50%;
    }
  }

  .desk-label {
    color: $grey-dark;
    text-align: right;
  }

  .desk-value {
    color: $black;
    padding-left: rem(5px);
    text-align: left;
  }

  .duo-price {
    position: relative;
    svg {
      position: absolute;
      top: rem(-6px);
      margin-left: rem(5px);
      height: rem(30px);
      width: rem(30px);
    }
  }

  .desk-button {
    background-image: linear-gradient(to left, $primary 10%, transparent 0%);
    background-position: center;
    background-repeat: repeat-x;
    background-size: 6px 1px;
    margin-bottom: rem(10px);
  }

  .desk-message {
    @include caption();

    color: $green-valid;

    &.error {
      color: $red-error;
    }
  }

  .bi-banner {
    text-align: left;
  }
}
