.verso {
  transition: transform 250ms;
  z-index: $zindex-verso-view;
  transform: translate(0, 100%);
  will-change: transform;
  height: 100%;
  position: relative;

  &.flipped {
    // A remplacer par react-transition-group
    // pour gérer les transitions dans le composant
    transform: translate(0, 0);
  }

  &.with-header {
    // NOTE: permet de passer le verso au dessus du header
    // - dans la recherche
    margin-top: $header-height;

    .verso-info {
      padding-bottom: $header-height;
    }
  }

  .footer {
    position: absolute;
    bottom: calc(#{$footer-height} - #{$page-padding});
    left: 0;
    right: 0;
    height: $footer-height;
    text-align: right;
    padding: $footer-height-padding $page-padding;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}
