.verso-wrapper {
  cursor: initial;
  height: 100%;
  min-height: 100%;
  padding-top: 56.25%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  .verso-header {
    flex-shrink: 0;
  }

  .with-triangle::before {
    $triangle-diag: 50px;

    content: '';
    background-color: inherit;
    height: $triangle-diag;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -$triangle-diag/2;
    transform: rotate(45deg);
    width: $triangle-diag;
    z-index: -1;
  }

  .verso-content {
    background-color: $white;
    padding-bottom: $footer-height;
    flex: 1;

    div.description {
      margin-top: 0.5rem;
    }

    h3 {
      padding-top: 0.75rem;
      padding-bottom: 0.5rem;
      color: $primary;
      font-weight: 700;
      font-size: 1.5rem;
    }

    p {
      padding-bottom: 1rem;
    }

    ul.address-info {
      list-style: none;
      margin-left: 0;
    }
  }
}
