.verso {
  .verso-control {
    @extend .is-clipped;

    height: 62px;
    min-height: 62px;

    button {
      &:focus {
        outline: none;
      }
    }

    .font-icon {
      width: 0.5rem;

      &::before {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .verso-control ul {
    @extend .no-list-style;

    height: 62px;
    min-height: 62px;
  }

  .verso-control span[class^='icon-']::before {
    margin: 0;
  }

  .verso-control li {
    @extend .text-center;
    @extend .is-inline-block;
  }

  .verso-control .finishable {
    // -> voir fichier finishable.scss
  }

  .verso-control .cancel-button {
    background: transparent;
    color: white;
    border: 2px solid white;
    border-left-style: dotted;
  }
}

.font-icon {
  font-size: 2.7rem;
}

.fav-button {
  background-color: transparent;
  border: 0;
}

#verso-cancel-booking-button:disabled {
  opacity: 1;
}

@media screen and (max-width: 370px) {
  .verso-control .pc-ticket-button-price,
  .verso-control .pc-ticket-button-label {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media screen and (min-width: 371px) {
  .verso-control .pc-ticket-button-price,
  .verso-control .pc-ticket-button-label {
    padding-left: 12px;
    padding-right: 12px;
  }
}
