@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;

.title {
  @include fonts.title1;
}

.tw-icon svg {
  width: rem.torem(30px);
  height: rem.torem(30px);
}

.tw-strong {
  @include fonts.title4-light;
}

.tco-italic {
  font-style: italic;
}

.tw-steps {
  display: grid;
  grid-gap: rem.torem(40px) rem.torem(16px);
  grid-template-columns: 1fr 1fr;
}

.two-columns-section-block {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  p,
  .subtitle {
    text-align: left;
  }

  .subtitle {
    @include fonts.button;

    line-height: rem.torem(20px);
    margin-bottom: rem.torem(8px);
  }

  p {
    @include fonts.body;
  }

  svg {
    width: rem.torem(40px);
    height: rem.torem(40px);
    margin-bottom: rem.torem(20px);

    &,
    & path {
      fill: var(--color-black);
    }
  }
}

.mb-content {
  display: grid;
  grid:
    "ticket-office-informations . booking-informations ." 1fr
    "nav-tutorial nav-tutorial nav-tutorial nav-tutorial" 1fr
    ". offers-informations . reimbursements-informations" 1fr
    /1fr 1fr 1fr 1.5fr;
  margin: auto;
  align-items: center;
  gap: rem.torem(8px) 0;

  .ticket-office-informations {
    grid-area: ticket-office-informations;
  }

  .offers-informations {
    grid-area: offers-informations;
  }

  .booking-informations {
    grid-area: booking-informations;
  }

  .reimbursements-informations {
    grid-area: reimbursements-informations;
  }

  .header-element-icon {
    height: rem.torem(24px);
    margin-right: rem.torem(8px);
    width: rem.torem(24px);
  }

  .nav-tutorial {
    display: grid;
    grid:
      "ticket-office offers booking reimbursements" 1fr
      /1fr 1fr 1fr 1.5fr;
    grid-area: nav-tutorial;
    color: var(--color-white);
    background-image: linear-gradient(
      97deg,
      var(--color-primary),
      var(--color-secondary)
    );

    .ticket-office {
      grid-area: ticket-office;
    }

    .offers {
      grid-area: offers;
    }

    .booking {
      grid-area: booking;
    }

    .reimbursements {
      grid-area: reimbursements;
    }

    .ticket-office,
    .offers,
    .booking,
    .reimbursements {
      @include fonts.button;

      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-white);
      height: rem.torem(80px);
    }
  }
}

@media (max-width: size.$mobile) {
  .mb-content {
    grid:
      "ticket-office-informations nav-tutorial" 1fr
      "offers-informations nav-tutorial" 1fr
      "booking-informations nav-tutorial" 1fr
      "reimbursements-informations nav-tutorial" 1fr
      /1fr 1fr;

    .nav-tutorial {
      display: block;
      background-image: linear-gradient(
        var(--color-primary),
        var(--color-secondary)
      );
    }
  }

  .arrow-icon {
    display: none;
  }
}
