.activation-codes-upload {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: rem(540px);

  .activation-codes-upload-icon {
    height: rem(120px);
    margin-top: rem(16px);
    width: rem(120px);
  }

  .activation-codes-upload-title {
    @include title4();

    margin-top: rem(8px);
  }

  .activation-codes-upload-section {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .activation-codes-upload-separator {
    border: 1px solid $grey-medium;
    margin-top: rem(24px);
    width: 100%;
  }

  .activation-codes-upload-information-message {
    @include body();

    margin-top: rem(8px);
  }

  .activation-codes-upload-confirmation-message {
    @include body();

    margin-top: rem(24px);
  }

  .activation-codes-upload-confirmation-buttons {
    display: grid;
    grid-column-gap: rem(24px);
    grid-template-columns: 1fr 1fr;
    margin-top: rem(24px);
    width: 100%;
  }

  .activation-codes-upload-confirmation-button {
    width: 100%;
  }
}
