@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

$confirmed-attachment-gap: rem.torem(32px);

.confirmed-attachment-layout {
  display: flex;
  flex-direction: column;
  gap: $confirmed-attachment-gap;
  margin: auto;
}

.title {
  @include fonts.title1;
}

.informations {
  @include fonts.title4-light;
}

.home-button {
  width: fit-content;
}
