@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;

.filters {
  margin-top: rem.torem(30px);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem.torem(36px);
}

.selectors {
  flex-grow: 1;
  justify-content: space-between;
}

.reset-filters {
  margin-top: rem.torem(30px);
  margin-left: auto;
  align-items: center;
}

.button-group {
  margin-top: rem.torem(16px);
  position: relative;

  &-separator {
    border-bottom: rem.torem(1px) solid var(--color-grey-medium);
    position: absolute;
    top: 50%;
    width: 100%;
  }

  &-button {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &-search-button {
    margin: 0 rem.torem(12px);
    min-width: rem.torem(148px);
  }
}

@media (min-width: size.$tablet) {
  .button-group {
    margin-top: 0;
    position: relative;

    &-separator {
      border-bottom: rem.torem(1px) solid var(--color-grey-medium);
      position: absolute;
      top: 50%;
      width: 100%;
    }
  }

  .reset-filters {
    margin-top: 0;
  }
}
