@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;
@use "styles/variables/_size.scss" as size;

.venue-list {
  margin-top: rem.torem(16px);
  display: flex;
  flex-direction: column;
  gap: rem.torem(16px);
}

.toggle-wrapper {
  cursor: pointer;
  background: none;
  border: none;
  word-break: break-all;

  @media (max-width: size.$tablet) {
    flex-shrink: 0;
  }
}

.toggle-icon {
  height: rem.torem(12px);
  width: rem.torem(12px);
  margin-right: rem.torem(8px);
}

.needs-payment-icon {
  margin-left: rem.torem(10px);
  color: colors.$primary;
}

.api-tag {
  margin-left: rem.torem(16px);
}

.card-container {
  display: flex;
  gap: rem.torem(12px);
  justify-content: space-between;
  align-items: center;

  @media (max-width: size.$tablet) {
    flex-direction: column;
  }
}

.button-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-shrink: 0;

  @media (max-width: size.$tablet) {
    flex-shrink: 0;
    gap: rem.torem(16px);
  }

  // Delete when WIP_ENABLE_NEW_BANK_DETAILS_JOURNEY is deleted
  &-separator {    
    @media (min-width: size.$tablet) {height: rem.torem(20px);
      border-left: solid rem.torem(1px) colors.$grey-medium;
      margin-left: rem.torem(16px);
      margin-right: rem.torem(12px);
    }
  }
}

.offer-steps {
  margin-top: rem.torem(16px);
}
