.booking-status-booked {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.booking-status-pending {
  background-color: var(--color-alert-dark);
  color: var(--color-text-default);

  svg {
    color: var(--color-icon-default);
  }
}

.booking-status-validated {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.booking-status-cancelled {
  color: var(--color-white);
  background-color: var(--color-grey-dark);
}

.booking-status-reimbursed {
  color: var(--color-white);
  background-color: var(--color-valid);
}

.booking-status-confirmed {
  color: var(--color-white);
  background-color: var(--color-black);
}
