@use 'styles/mixins/_rem.scss' as rem;

.confirmation {
  text-align: center;
  margin: auto;
  max-width: rem.torem(712px);

  &-icon {
    height: rem.torem(56px);
    margin-bottom: rem.torem(19px);
  }

  &-section {
    margin-bottom: rem.torem(32px);

    &-header {
      margin-bottom: rem.torem(24px);
    }
  }

  &-actions {
    max-width: rem.torem(486px);
    margin: rem.torem(64px) auto 0;
    display: flex;
    justify-content: center;
  }

  &-action {
    flex: 1;
    margin-left: rem.torem(24px);
    text-align: center;

    &:first-child {
      margin-left: 0;
    }
  }
}
