.blue-insert {
  @extend .fs16;

  align-items: center;
  background-color: $notification-info;
  color: $black;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 18px;

  span {
    margin-left: 12px;
  }

  img {
    align-self: baseline;
    height: auto;
  }
}

.yellow-insert {
  @extend .fs16;

  background-color: $attention;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  padding: 18px;

  .insert-action-link {
    margin-top: 0.5rem;
    a {
      font-weight: 700;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;

      p {
        align-self: normal;
        padding-left: 0.5rem;
        padding-top: 0.25rem;
      }

      img {
        align-self: center;
      }
    }
    a:hover{
      color: $black;
    }
  }
}
