{# Macro taken from https://github.com/flask-admin/flask-admin/blob/master/flask_admin/templates/bootstrap3/admin/model/layout.html #}
{% macro search_form(input_class="col-auto") %}
    <form method="GET" action="{{ return_url }}" class="form-inline my-2 my-lg-0" role="search">
        {% for flt_name, flt_value in filter_args.items() %}
            <input type="hidden" name="{{ flt_name }}" value="{{ flt_value }}">
        {% endfor %}
        {% if page_size != default_page_size %}
            <input type="hidden" name="page_size" value="{{ page_size }}">
        {% endif %}
        {% if sort_column is not none %}
            <input type="hidden" name="sort" value="{{ sort_column }}">
        {% endif %}
        {% if sort_desc %}
            <input type="hidden" name="desc" value="{{ sort_desc }}">
        {% endif %}
        {# Added the extra args here to prevent bug PC-10196 #}
        {% for arg_name, arg_value in extra_args.items() %}
            <input type="hidden" name="{{ arg_name }}" value="{{ arg_value }}">
        {% endfor %}
        {% if search %}
            <div class="form-inline input-group">
              <input  class="form-control {{ input_class }}" size="30" type="text" name="search" value="{{ search }}"
                       placeholder="{{ _gettext('%(placeholder)s', placeholder=search_placeholder) }}">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <a href="{{ clear_search_url }}" class="align-middle">
                      <span class="fa fa-times glyphicon glyphicon-remove"></span>
                    </a>
                  </span>
                </div>
                <button class="btn btn-secondary my-2 my-sm-0 ml-2" type="submit">{{ _gettext('Search') }}</button>
            </div>
        {% else %}
            <div class="form-inline">
              <input class="form-control {{ input_class }}" size="30" type="text" name="search" value=""
                       placeholder="{{ _gettext('%(placeholder)s', placeholder=search_placeholder) }}">
                <button class="btn btn-secondary my-2 my-sm-0 ml-2" type="submit">{{ _gettext('Search') }}</button>
            </div>
        {% endif %}
    </form>
{% endmacro %}