{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block head %}
    {{ super() }}
    {{ lib.form_css() }}
{% endblock %}

{% block body %}
<div class="col-md-3"></div>
<div class="col-md-6">
  <div>
    <h3><span class="label label-default">Informations concernant les livres</span></h3>
    <p><b>Titre du livre :</b> {{ name }}</p>
    <p><b>Nombre d'offres associées :</b></p>
    <p><b>Actives : {{ active_offers_number }}</b></p>
    <p><b>Inactives : {{ inactive_offers_number }}</b></p>
    <p><b>compatible avec les CGU :</b> {{ 'Oui' if is_product_compatible else 'Non' }}</p>
    <p><b>ISBN :</b> {{ isbn }}</p>
  </div>

  {% include 'admin/edit_many_offers_components/playlist_tag_form.html' %}
  {% include 'admin/edit_many_offers_components/gcu_compatible_form.html' %}
</div>
<div class="col-md-3"></div>

{% endblock %}

{% block tail %}
    {{ super() }}
    {{ lib.form_js() }}
{% endblock %}
