{% extends 'admin/master.html' %}

{% block body %}
<h2>Je cherche des offres par :</h2>
<form action="{{ action }}" method="POST">
  {% for field in form %}
    {% if field.name == "csrf_token" %}
      {{ field }}
    {% else %}
    <div class="row form-group">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <label>{{ field.label }} {% if field.flags.required %}*{% endif %}</label>
          {{ field(class_="form-control") }}
        </div>
      <div class="col-md-3"></div>
    </div>
    {% endif %}
  {% endfor %}
  <div class="row">
    <div class="col-md-3"></div>
    <input class="btn btn-default col-md-6" type="submit" value="Rechercher les offres associées à cet ISBN">
    <div class="col-md-3"></div>
  </div>
</form>
{% endblock %}
