{% extends 'admin/base.html' %}


{% block body %}
<style>
    .sticky-top {
        z-index: 0;
    }
</style>
<br>
<h2>Liste des sous-catégories existantes</h2>
<br>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark sticky-top">
        <tr>
            {% for column_name in column_names %}
                {% if column_labels[column_name] %}
                    <th> {{ column_labels[column_name] }}</th>
                {% else %}
                    <th> {{ column_name }}</th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead >
    {% for subcategory in subcategories %}
    <tr>
        {% for column_name in column_names %}
        <td>
            {% if subcategory[column_name] == True %}
            <span class="fa fa-check-circle glyphicon glyphicon-ok-circle icon-ok-circle" style="color:green;"></span>
            {% elif subcategory[column_name] == False %}
            <span class="fa fa-minus-circle glyphicon glyphicon-minus-sign icon-minus-sign" style="color:red;"></span>
            {% else %}
                {% if column_name == 'search_group_name' %}
                    {{ search_groups[subcategory[column_name]].value }}
                {% elif column_name == 'homepage_label_name' %}
                    {{ homepage_labels[subcategory[column_name]].value }}
                {% else %}
                    {{ subcategory[column_name] }}
                {% endif %}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
