{% extends 'admin/model/details.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block details_search %}{% endblock %}

{% block details_table %}

<div class="modal fade" id="userValidationModal" tabindex="-1" role="dialog" aria-labelledby="userValidationModalTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userValidationModalTitle">Validation de l'utilisateur {{ model.firstName}}
          {{model.lastName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{{ url_for('support_beneficiary.validate_beneficiary', user_id=model.id)}}">
        <div class="modal-body">
          <div class="form-group row">
            <label for="review" class="col-4 col-form-label">Revue</label>
            <div class="col-8">
              <select id="review" name="review" class="form-control">
                <option></option>
                <option value="OK">OK</option>
                <option value="KO">KO</option>
                <option value="REDIRECTED_TO_DMS">Renvoi vers DMS</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="reason" class="col-4 col-form-label">Raison</label>
            <div class="col-8">
              <textarea id="reason" name="reason" cols="40" rows="5" class="form-control"
                required="required"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button name="submit" type="submit" class="btn btn-primary">Valider</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="userIdPieceNumberUpdate" tabindex="-1" role="dialog"
  aria-labelledby="userIdPieceNumberUpdateTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userIdPieceNumberUpdateTitle">Validation de l'utilisateur {{ model.firstName}}
          {{model.lastName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST"
        action="{{ url_for('support_beneficiary.update_beneficiary_id_piece_number', user_id=model.id)}}">
        <div class="modal-body">
          <div class="form-group row">
            <label for="id_piece_number" class="col-4 col-form-label">N° de carte d'identité</label>
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-address-card"></i>
                  </div>
                </div>
                <input id="id_piece_number" name="id_piece_number" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button name="submit" type="submit" class="btn btn-primary">Valider</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    {% if not model.beneficiaryFraudReview and (current_user.has_jouve_role or current_user.is_super_admin()) %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userValidationModal">
      Soumettre une revue manuelle
    </button>
    {% endif %}
    {% if current_user.has_jouve_role or current_user.is_super_admin() %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userIdPieceNumberUpdate">
      Mettre à jour la pièce d'identité
    </button>
    {% endif %}
    {% if current_user.isAdmin %}
    <button name="submit" form="validate_form_button" type="submit" class="btn btn-primary">Valider le n° de
      téléphone</button>
    {# avoid putting the button inside the form to get the buttons aligned on the same grid #}
    <form id="validate_form_button" method="POST"
      action="{{ url_for('support_beneficiary.validate_phone_number', user_id=model.id)}}">
    </form>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Utilisateur</h3>
    <table class="table">
      <tr>
        <th scope="row">Id</th>
        <td>{{ model.id }}</td>
      </tr>
      <tr>
        <th scope="row">Nom</th>
        <td>{{ model.lastName }}</td>
      </tr>
      <tr>
        <th scope="row">Prénom</th>
        <td>{{ model.firstName }}</td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td>{{ model.email }}</td>
      </tr>
      <tr>
        <th scope="row">Numéro de téléphone</th>
        <td>{{ model.phoneNumber }}</td>
      </tr>
      <tr>
        <th scope="row">Date de naissance</th>
        <td>{% if model.dateOfBirth %}{{ model.dateOfBirth.strftime('%d/%m/%Y') }}{% else %}Inconnue{% endif %}</td>
      </tr>
      <tr>
        <th scope="row">Code départemental</th>
        <td>{{ model.departmentCode|default('Inconnu') }}</td>
      </tr>
      <tr>
        <th scope="row">N° de la pièce d'identité</th>
        <td>{{ model.idPieceNumber }}</td>
      </tr>
      <tr>
    </table>
    </dl>
  </div>
  <div class="col">
    <h3>Parcours de validation</h3>
    <table class="table">
      <tr>
        <th scope="row">Email validé</th>
        <td>{{ model.isEmailValidated|yesno }}</td>
      </tr>
      <tr>
        <th scope="row">Téléphone validé</th>
        <td>{{ model.phoneValidationStatus.value|default("Inconnu") }}</td>
      </tr>
      <tr>
        <th scope="row">Compte actif</th>
        <td>{{ model.isActive|yesno }}</td>
      </tr>
      <tr>
        <th scope="row">IDCheck déposé</th>
        <td>{{ model.hasCompletedIdCheck|yesno }}</td>
      </tr>
      <tr>
        <th scope="row">Bénéficiaire</th>
        <td>{{ model.isBeneficiary|yesno }}</td>
      </tr>
      {% if model.suspensionReason %}
      <tr>
        <th scope="row">L'utilisateur est suspendu</th>
        <td>{{ model.suspensionReason }}</td>
      </tr>
      {% endif %}
    </table>
  </div>
  <div class="col">
    <h3>Résultat de l'algorithme</h3>
    {% if model.beneficiaryFraudResult %}
    <table class="table">
      <tr>
        <th scope="row">Etat</th>
        <td>{{ model.beneficiaryFraudResult.status.value }}</td>
      </tr>
      <tr>
        <th scope="row">Date de création</th>
        <td>{{ model.beneficiaryFraudResult.dateCreated.strftime('le %d/%m/%Y à %H:%M:%S') }}</dd>
        </td>
      </tr>
      <tr>
        <th scope="row">Dernière mise à jour</th>
        <td>{% if model.beneficiaryFraudResult.dateUpdated %}{{ model.beneficiaryFraudResult.dateUpdated.strftime('le
          %d/%m/%Y à %H:%M:%S') }}{% else %}Inconnue{% endif %}</dd>
        </td>
      </tr>
      <tr>
        <th scope="row">Explication</th>
        <td>{{ model.beneficiaryFraudResult.reason }}</dd>
        </td>
      </tr>
    </table>
    {% endif %}
  </div>
  {% if model.beneficiaryFraudReview %}
  <div class="col">
    <h3>Revue manuelle</h3>
    <table class="table">
      <tr>
        <th scope="row">Auteur</th>
        <td>{{ model.beneficiaryFraudReview.author.firstName }}{{ model.beneficiaryFraudReview.author.lastName }}</td>
      </tr>

      <tr>
        <th scope="row">Etat</th>
        <td>{{ model.beneficiaryFraudReview.review.value }}</td>
      </tr>
      <tr>
        <th scope="row">Date de création</th>
        <td>{{ model.beneficiaryFraudReview.dateReviewed.strftime('le %d/%m/%Y à %H:%M:%S') }}</dd>
        </td>
      </tr>
      <tr>
        <th scope="row">Explication</th>
        <td>{{ model.beneficiaryFraudReview.reason }}</dd>
        </td>
      </tr>
    </table>
  </div>
  {% endif %}
</div>
<h3>Vérification des données utilisateurs</h3>
<div class="row">
  {% for check in model.beneficiaryFraudChecks %}
  <div class="col-lg-4">
    <table class="table">
      <tr>
        <th scope="row">Type</th>
        <td>{{ check.type.value }}</td>
      </tr>
      <tr>
        <th scope="row">Date de création</th>
        <td>{{ check.dateCreated.strftime('le %d/%m/%Y à %H:%M:%S') }}</td>
      </tr>
      <tr>
        <th scope="row">Identifiant technique</th>
        <td>{{ check.thirdPartyId }}</td>
      </tr>
    </table>
    <h4>Détails techniques</h4>
    <div class="row">
      <pre class="pre-scrollable"><code>{{ check.resultContent|pprint }}</code></pre>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}