@use 'styles/mixins/_rem.scss' as rem;

.password-set-confirm {
  h1 {
    margin-bottom: rem.torem(16px);
  }

  h2 {
    margin-bottom: rem.torem(32px);
  }
}

// This is to override the width of content class
#override-content-width {
  width: rem.torem(488px);
}

.redirection-button {
  text-align: center;
  width: rem.torem(232px);
}
