@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.tag {
  @include fonts.body-accent-xs;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: rem.torem(4px);
  white-space: nowrap;
  padding: rem.torem(4px) rem.torem(8px);
  border-radius: rem.torem(4px);

  svg {
    width: rem.torem(16px);
    height: rem.torem(16px);
    vertical-align: middle;
  }

  &.small-outline {
    padding: rem.torem(1px) rem.torem(4px);
    color: var(--color-text-brand-primary);
    border: solid rem.torem(1px) var(--color-border-brand-primary);
  }

  &.light-grey {
    background-color: var(--color-background-subtle);
    color: var(--color-text-default);
  }

  &.dark-grey {
    background-color: var(--color-grey-dark);
    color: var(--color-white);
  }

  &.black {
    background-color: var(--color-black);
    color: var(--color-white);
  }

  &.light-purple {
    background-color: var(--color-grey-light);
    color: var(--color-primary);
  }

  &.purple {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &.red {
    background-color: var(--color-error-light);
    color: var(--color-white);
  }

  &.green {
    background-color: var(--color-valid);
    color: var(--color-white);
  }

  &.blue {
    padding: 0 rem.torem(4px);
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
  }

  &.light-green {
    background-color: var(--color-background-success);
  }

  &.light-yellow {
    background-color: var(--color-background-warning);
  }

  &.light-blue {
    background-color: var(--color-background-accent-light);
  }
}
