@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

.tag {
  @include fonts.highlight();

  white-space: nowrap;
  border: solid rem.torem(1px) colors.$tertiary;
  border-radius: rem.torem(4px);
  color: colors.$tertiary;
  display: inline-block;
  line-height: rem.torem(16px);
  padding: 0 rem.torem(4px);
}
