@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.thumb-container {
  align-items: center;
  border-radius: var(--size-border-radius-s);
  display: flex;
  justify-content: center;
  background-color: var(--color-background-subtle);
  width: rem.torem(80px);
  height: rem.torem(80px);
}

.offer-thumb {
  border-radius: var(--size-border-radius-s);
  object-fit: cover;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
}

.default-thumb {
  color: var(--color-icon-subtle);
}
