@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;
@use "styles/variables/_size.scss" as size;

.offer-thumb {
  border-radius: rem.torem(4px);
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.default-thumb {
  align-items: center;
  border-radius: rem.torem(4px);
  display: flex;
  justify-content: center;
  background-color: colors.$grey-light;
  color: colors.$grey-semi-dark;
  padding: 25%;
}
