@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.constraint-check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @include fonts.body-accent-xs;

  color: var(--color-text-subtle);

  &-failing-constraint {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-error-light);

    img {
      margin: rem.torem(3px);
      width: rem.torem(14px);
    }
  }
}
