@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.section {
  margin-bottom: var(--size-spacing-xxl);
  padding-bottom: 0;
  padding-top: 0;
}

.main-list-title {
  @include fonts.title2;

  margin: var(--size-spacing-xxl) 0;
}

.subtitle {
  @include fonts.title4;

  margin-bottom: var(--size-spacing-s);
}

.description {
  margin-bottom: var(--size-spacing-xl);
}

.invitation-form {
  margin-bottom: var(--size-spacing-xxl);
}

.invitation-email-wrapper {
  display: flex;
  align-items: flex-end;
  gap: var(--size-spacing-s);
}

.invitation-email-field {
  width: 100%;
  margin-bottom: var(--size-spacing-s);
}

.members-container {
  margin-bottom: var(--size-spacing-xl);
}

.members-list {
  border-collapse: separate;
  width: 100%;

  &-th {
    @include fonts.body-accent-xs;

    padding-bottom: var(--size-spacing-l);
    vertical-align: middle;
    text-align: left;

    &:first-of-type {
      width: rem.torem(350px);
    }
  }

  &-td {
    @include fonts.body;

    vertical-align: baseline;
    text-align: left;
    padding-right: var(--size-spacing-l);
  }

  &-tr:not(:last-child) &-td {
    padding-bottom: var(--size-spacing-m);
  }
}

.member-email {
  overflow-wrap: anywhere;
}

.member-status {
  white-space: nowrap;
}

.display-all-members-button {
  margin-top: rem.torem(20px);
}
