.offers-actions-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .nb-offers-description {
    display: inline-block;
    position: absolute;
  }

  .actions-container {
    display: flex;
    margin: auto;

    button {
      margin-left: 40px;
    }
  }

  .oa-cancel {
    background-color: $white;
    color: $black;
  }
}
