.offers-actions-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nb-offers-description {
    display: inline-block;
    position: absolute;
  }

  .actions-container {
    display: flex;
    margin: auto;
    button {
      margin-left: 40px;
    }
  }
}
