.offers-page {
  .search {
    @extend .mb4;
  }

  .list-header {
    align-items: center;
    border-bottom: 1px solid;
    display: flex;

    @extend .mb32;
    @extend .pb8;

    justify-content: space-between;

    .select {
      vertical-align: middle;
      width: auto;

      select {
        @extend .ml8;

        display: inline-block;
      }
    }
  }

  .search-separator {
    align-items: center;
    display: flex;
    margin-top: rem(35px);

    .separator {
      background-color: $grey-medium;
      height: 1px;
      flex: 5;
    }

    button {
      flex: 3;
    }
  }

  .offers-list-actions {
    border-bottom: 1px solid $grey-dark;
    font-size: 0.8rem;

    @extend .pb8;
    @extend .mb16;

    button {
      @extend .mr8;

      font-weight: 500;
      height: auto;
    }

    button:first-child {
      border-right: 1px solid $grey-dark;

      @extend .pr8;
    }
  }

  .tag {
    border-color: transparent;

    @extend .mr8;

    font-size: 1rem;

    img {
      @extend .ml8;

      height: 0.7rem;
    }

    .name {
      font-weight: bold;

      @extend .ml5;
    }
  }

  table {
    width: 100%;

    th {
      @include caption();

      padding: 0 rem(8px);
    }

    tbody > tr {
      border-bottom: 1px solid $grey-medium;

      td {
        padding: rem(16px) rem(8px);
        vertical-align: middle;
      }

      td:last-child {
        padding-right: 0;
      }

      td:first-child {
        padding-left: 0;
      }

      &:first-child {
        td {
          padding-top: 0;
        }
      }
    }
  }

  .pagination {
    @include caption();

    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: rem(35px);

    button {
      background: none;
      border: none;
      cursor: pointer;
      height: 24px;

      &:disabled {
        cursor: not-allowed;
      }
    }

    span {
      margin: 0 rem(15px);
    }
  }

  .loading-spinner {
    margin-top: rem(70px);
  }
}
