.offers-page {
  .search {
    @extend .mb4;
  }

  .recently-added {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    background-color: $blue;
    @extend .mr8;
  }

  .list-header {
    display: flex;
    border-bottom: 1px solid;
    justify-content: space-between;
    @extend .mb32;
    @extend .pb8;
    align-items: center;

    .select {
      width: auto;
      vertical-align: middle;

      select {
        @extend .ml8;
        display: inline-block;
      }
    }
  }

  .offers-list-actions {
    border-bottom: 1px solid $grey-darkest;
    font-size: 0.8rem;
    @extend .pb8;
    @extend .mb16;
    button {
      @extend .mr8;
      font-weight: 500;
      height: auto;
    }
    button:first-child {
      border-right: 1px solid $grey;
      @extend .pr8;
    }
  }

  .tag {
    font-size: 1rem;
    @extend .mr8;
    border-color: transparent;
    img {
        @extend .ml8;
        height: 0.7rem;
    }
    .name {
      font-weight: bold;
      @extend .ml5;
    }
  }
}
