.offers-page {
  .search {
    margin-bottom: 0.25rem;
  }

  .recently-added {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    background-color: $blue;
    margin-right: 0.5rem;
  }

  .list-header {
    display: flex;
    border-bottom: 1px solid;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    align-items: center;

    .select {
      width: auto;
      vertical-align: middle;

      select {
        margin-left: 0.5rem;
        display: inline-block;
      }
    }
  }

  .offers-list-actions {
    border-bottom: 1px solid #404040;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    button {
      margin-right: 0.5rem;
      font-weight: 500;
      height: auto;
    }
    button:first-child {
      border-right: 1px solid #757575;
      padding-right: 0.5rem;
    }
  }

  .tag {
    font-size: 1rem;
    margin-right: 0.5rem;
    border-color: transparent;
    img {
        margin-left: 0.5rem;
        height: 0.7rem;
    }
    .name {
      font-weight: bold;
      margin-left: 0.3rem;
    }
  }
}
