//  Legacy fonts to cover the typos weights and styles that do not fit in the new design system
//  These should be progresively replaced with DS fonts
@mixin extra-bold {
  font-family: Montserrat-ExtraBold;
  font-weight: 800;
  font-style: normal;
}

@mixin bold() {
  font-family: Montserrat-Bold;
  font-weight: 700;
  font-style: normal;
}

@mixin semi-bold() {
  font-family: Montserrat-SemiBold;
  font-weight: 600;
  font-style: normal;
}

@mixin medium() {
  font-family: Montserrat-Medium;
  font-weight: 500;
  font-style: normal;
}

@mixin regular() {
  font-family: Montserrat-Regular;
  font-weight: 400;
  font-style: normal;
}
