@use "styles/mixins/_rem.scss" as rem;
@import "./fonts-legacy";

// need to use em for accessibility: when root size is 200% line-height should adjust
$body-line-height: 1.25em;
$body-font-size: rem.torem(15px);
$caption-line-height: rem.torem(16px);

@mixin title1() {
  font-family: var(--typography-title1-font-family), system-ui, sans-serif;
  font-style: normal;
  font-size: var(--typography-title1-font-size);
  line-height: var(--typography-title1-line-height);
}

@mixin title2() {
  font-family: var(--typography-title2-font-family), system-ui, sans-serif;
  font-style: normal;
  font-size: var(--typography-title2-font-size);
  line-height: var(--typography-title2-line-height);
}

@mixin title3() {
  font-family: var(--typography-title3-font-family), system-ui, sans-serif;
  font-style: normal;
  font-size: var(--typography-title3-font-size);
  line-height: var(--typography-title3-line-height);
}

@mixin title4() {
  font-family: var(--typography-title4-font-family), system-ui, sans-serif;
  font-style: normal;
  font-size: var(--typography-title4-font-size);
  line-height: var(--typography-title4-line-height);
}

@mixin button() {
  font-family: Montserrat-Bold, system-ui, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: rem.torem(15px);
}

@mixin body() {
  font-family: Montserrat-Regular, system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $body-font-size;
  line-height: $body-line-height;
}

@mixin body-important() {
  font-family: Montserrat-Medium, system-ui, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: $body-font-size;
}

@mixin body-exergue() {
  font-family: Montserrat-SemiBold, system-ui, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: $body-font-size;
}

@mixin caption() {
  font-family: Montserrat-SemiBold, system-ui, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: rem.torem(12px);
  line-height: $caption-line-height;
}

@mixin preview-text() {
  font-family: Montserrat-Regular, system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: rem.torem(12px);
  line-height: rem.torem(16px);
}

@mixin highlight() {
  font-family: Montserrat-SemiBold, system-ui, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: rem.torem(12px);
}

@mixin mini-highlight() {
  font-family: Montserrat-SemiBold, system-ui, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: rem.torem(10px);
}

@mixin placeholder() {
  font-family: Montserrat-RegularItalic, system-ui, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: rem.torem(15px);
}
