//  Legacy fonts to cover the typos weights and styles that do not fit in the new design system
//  These should be progresively replaced with DS fonts

@mixin bold() {
  font-family: Montserrat-Bold, system-ui, sans-serif;
}

@mixin semi-bold() {
  font-family: Montserrat-SemiBold, system-ui, sans-serif;
}

@mixin medium() {
  font-family: Montserrat-Medium, system-ui, sans-serif;
}
