@use "styles/mixins/_rem.scss" as rem;
@import "./fonts-legacy";

// need to use em for accessibility: when root size is 200% line-height should adjust
$body-line-height: 1.25em;
$body-font-size: rem.torem(15px);
$caption-line-height: rem.torem(16px);

@mixin title1() {
  font-family: Montserrat-ExtraBold, system-ui, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: rem.torem(26px);
  line-height: rem.torem(34px);
}

@mixin title2() {
  font-family: Montserrat-Medium, system-ui, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: rem.torem(22px);
  line-height: rem.torem(26px);
}

@mixin title3() {
  font-family: Montserrat-Bold, system-ui, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: rem.torem(20px);
  line-height: rem.torem(24px);
}

@mixin title4() {
  font-family: Montserrat-SemiBold, system-ui, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: rem.torem(18px);
  line-height: rem.torem(22px);
}

@mixin button() {
  font-family: Montserrat-Bold, system-ui, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: rem.torem(15px);
}

@mixin body() {
  font-family: Montserrat-Regular, system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $body-font-size;
  line-height: $body-line-height;
}

@mixin body-important() {
  font-family: Montserrat-Medium, system-ui, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: $body-font-size;
}

@mixin body-exergue() {
  font-family: Montserrat-SemiBold, system-ui, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: $body-font-size;
}

@mixin caption() {
  font-family: Montserrat-SemiBold, system-ui, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: rem.torem(12px);
  line-height: $caption-line-height;
}

@mixin body-xs() {
  font-family: var(--typography-body-xs-font-family), system-ui, sans-serif;
  font-weight: var(--typography-body-xs-font-weight);
  font-size: var(--typography-body-xs-font-size);
  line-height: var(--typography-body-xs-line-height);
}

@mixin highlight() {
  font-family: Montserrat-SemiBold, system-ui, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: rem.torem(12px);
}

@mixin mini-highlight() {
  font-family: Montserrat-SemiBold, system-ui, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: rem.torem(10px);
}

@mixin placeholder() {
  font-family: Montserrat-RegularItalic, system-ui, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: rem.torem(15px);
}
