@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/variables/_forms.scss' as forms;
@use 'styles/mixins/_rem.scss' as rem;

@mixin input-theme {
  @include fonts.body();

  width: 100%;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  min-height: rem.torem(40px);
  line-height: 1.3;
  border: solid rem.torem(1px) forms.$input-border-color;
  border-radius: rem.torem(forms.$input-border-radius);
  background-color: forms.$input-bg-color;
  padding: 0 rem.torem(16px);
  color: forms.$input-text-color;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: border 150ms ease, background 150ms ease, box-shadow 150ms ease;

  &:focus,
  &:hover {
    border-color: forms.$input-border-color-focus;
  }

  &:focus {
    box-shadow: forms.$input-focus-shadow;
  }

  &:disabled {
    cursor: unset;
    background-color: forms.$input-bg-color-disabled;
    border-color: forms.$input-border-color-disabled;
    color: forms.$input-text-color-disabled;
    opacity: 1;
  }

  &::placeholder {
    @include fonts.placeholder();

    color: forms.$placeholder-text-color;
  }

  &:-webkit-autofill,
  &:-internal-autofill-selected {
    background-color: forms.$input-bg-color !important;
    color: forms.$input-text-color !important;
  }
}

@mixin input-theme-error {
  border-color: forms.$input-border-color-error;
}

@mixin input-icon-wrapper($icon-width: 16px) {
  position: absolute;
  right: 0;
  top: 0;
  width: rem.torem(48px);
  height: 100%;
  display: flex;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  color: forms.$input-text-color;

  svg {
    width: $icon-width;
    height: auto;
  }

  :disabled + & {
    color: forms.$input-text-color-disabled;
  }
}

@mixin input-icon-button-wrapper($icon-width: 32px) {
  @include input-icon-wrapper($icon-width);

  pointer-events: initial;
}
