@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_forms.scss" as forms;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;

@mixin input-theme {
  @include fonts.body;

  width: 100%;
  outline: none;
  appearance: none;
  min-height: size.$input-min-height;
  line-height: 1.3;
  border: solid size.$input-border-width var(--color-input-border-color);
  border-radius: rem.torem(forms.$input-border-radius);
  background-color: var(--color-input-bg-color);
  padding: 0 rem.torem(16px);
  color: var(--color-input-text-color);
  box-shadow: 0 0 0 0 var(--color-black);
  transition:
    background 150ms ease,
    box-shadow 150ms ease;
}

@mixin input-theme-nested {
  &:focus {
    outline: solid size.$input-border-width
      var(--color-input-border-color-focus);
    border-color: var(--color-input-border-color-focus);
  }

  &:hover:not(:focus) {
    box-shadow: forms.$input-hover-shadow;
  }

  &:disabled {
    cursor: unset;
    background-color: var(--color-input-bg-color-disabled);
    color: var(--color-input-text-color-disabled);
    opacity: 1;
    border-color: var(--color-input-border-color-disabled);

    &:hover {
      box-shadow: none;
    }
  }

  &::placeholder {
    @include fonts.placeholder;

    color: var(--color-grey-dark);
    opacity: 1;
  }

  &:-webkit-autofill,
  &:-internal-autofill-selected {
    background-color: var(--color-input-bg-color) !important;
    color: var(--color-input-text-color) !important;
  }
}

@mixin input-theme-error {
  border-color: var(--color-input-border-color-error);
  outline-color: var(--color-input-border-color-error);
}

@mixin input-icon-wrapper(
  $icon-width: rem.torem(16px),
  $input-icon-margin: rem.torem(16px)
) {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(#{$icon-width} + 2 * #{$input-icon-margin});
  height: 100%;
  display: flex;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  color: var(--color-input-text-color);

  svg {
    width: $icon-width;
    height: auto;
  }

  :disabled + & {
    color: var(--color-input-text-color-disabled);
  }
}

@mixin field-layout-footer() {
  margin-top: rem.torem(forms.$input-space-before-error);
  display: flex;
  justify-content: flex-end;
  min-height: rem.torem(forms.$input-error-reserved-space);
}
