@use "styles/mixins/_rem.scss" as rem;

@mixin focus-outline(
  $offset: rem.torem(2px),
  $color: var(--color-outline-default)
) {
  outline: rem.torem(1px) solid $color;
  outline-offset: $offset;
}
