#booking-card {
  background: $white;
  color: $black;
  z-index: $zindex-booking-card;

  &.entered {
    top: 0;
    transition: top 250ms ease-in-out;
  }

  &.entering {
    top: 100%;
    transition: top 250ms ease-in-out;
  }

  &.exited {
    display: none;
    visibility: none;
    transition: top 250ms ease-in-out;
  }

  .isDuo {
    padding-top: rem(20px);
  }

  .duo-logo {
    border-radius: 10px;
    font-size: rem(15px);
    font-weight: 600;
    padding-left: rem(1px);
    padding-right: rem(2px);
    padding-bottom: rem(1px);
  }

  .duo-label {
    padding-left: rem(8px);
    font-size: rem(20px);
  }

  .form-checkbox {
    margin-top: rem(5px);
  }

  header {
    background: #261801;
    color: $white;
    padding: 1.5rem 1rem;

    .content {
      min-height: 450px;
    }

    .title {
      font-size: 40px;
    }

    .subtitle {
      font-size: 22px;
    }
  }

  .label-contact-inner {
    align-items: center;
  }


  &.with-header {
    margin-top: $header-height;

    header {
      height: initial;
      position: inherit;
    }
  }

  .form-label-inner {
    @extend .fs22;
  }

  .form-datepicker-input {
    @extend .py7;
    @extend .fs20;
    @extend .flex-1;
    @extend .is-bold;
    @extend .is-block;
    @extend .no-border;
    @extend .no-outline;

    color: $black !important;
    cursor: pointer;
  }

  .react-datepicker-popper {
    margin-top: rem(15px);
  }

  .react-datepicker__triangle {
    left: 50%;
  }

  .form-footer {
    height: 3.5rem;
    max-height: 3.5rem;
    min-height: 3.5rem;
    background-color: $primary;

    button {
      background: transparent;
      color: $white;
      font-size: 22px;
      font-weight: 700;
      width: 35%;
    }

    #booking-close-button {
      font-weight: 400;
    }
  }

  .select-field {
    @extend .px12;

    width: 264px;

    &.is-read-only {
      box-shadow: none;
      font-family: $family-sans-serif;
    }

    .content {
      background-color: white;
      border: 0;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      height: 37px;
      padding: 0 24px;
      text-align: center;
      width: 100%;
      -moz-appearance: none;
      -o-appearance: none;
      -webkit-appearance: none;

      &,
      &:hover,
      &:focus {
        border-color: $grey-light;
        outline: none;
      }

      &[disabled] {
        color: inherit;
        cursor: default;
        margin: auto;
        opacity: 1;
        text-indent: 10px;
        width: 80%;
      }
    }

    select + img {
      float: right;
      pointer-events: none;
    }
  }
}

#form-create-booking.is-read-only {
  .input-inner,
  .input-inner input {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    cursor: default;
  }
}
