.fieldset-layout {
  border: none;
  
  &-legend {
    margin-bottom: rem(16px);
  }
  
  &-fields {
    margin-bottom: rem($input-space-before-error);
  }
  
  &-error {
    min-height: rem($input-error-reserved-space);
  }
}