.thumbnail-dialog {
  position: relative;
  text-align: center;

  .pc-breadcrumb {
    margin-top: rem(24px);
  }
}

.tnd-actions {
  display: flex;
  justify-content: center;
  margin-top: rem(40px);

  button {
    margin: 0 rem(12px);
    width: rem(220px);
  }
}

.tnd-subtitle {
  color: $grey-dark;
  margin-bottom: rem(24px);
}

.tnd-header {
  @include title3;
}

.tnd-hr {
  background: $grey-medium;
  height: rem(1px);
}

.tnf-form {
  & > svg {
    height: rem(128px);
  }

  .input-text {
    height: rem(104px);
    text-align: left;
  }
}

.tnf-file-label {
  cursor: pointer;
  margin-bottom: rem(16px);
  padding: 0 rem(32px);
  width: rem(372px);

  &:focus-within {
    @include primary-focus();
  }
}

.tnf-file-input {
  height: 0;
  width: 0;
}

.tnf-url-button {
  color: $white;
  width: rem(334px);

  svg {
    height: rem(32px);
  }
}

.tna-advices {
  text-align: left;
  width: rem(500px);
}

.tna-hidden {
  display: none;
}

.tna-toggle {
  @include button;

  align-items: center;
  background: transparent;
  border: 0;
  display: flex;
  outline: none;

  svg {
    margin-left: rem(8px);
  }
}

.tna-teaser {
  margin-top: rem(24px);
}

.tna-title {
  @include title4;

  margin-top: rem(8px);
}

.tnp-previews {
  background: $grey-light;
  display: flex;
  justify-content: center;
  padding: rem(32px);

  svg {
    height: rem(600px);
    margin-bottom: rem(16px);
  }

  & > div {
    text-align: center;
    width: 50%;
  }
}

.tna-links a {
  align-items: center;
  display: flex;
  margin: rem(16px) 0;

  svg {
    margin: 0 rem(8px) 0 rem(-5px);
  }
}

.tna-links-help {
  @include body;

  color: $grey-dark;
}

.tnc-explanations {
  margin-top: rem(32px);
  text-align: left;
  width: rem(500px);
}

.tnr-canvas {
  margin-bottom: rem(16px);
}

.tnr-scale {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  span {
    @include caption;

    color: $grey-dark;
  }

  input {
    width: rem(350px);
  }

  @mixin slider-thumb {
    background: $primary;
    border: 0;
    border-radius: rem(10px);
    box-shadow: none;
    height: rem(17px);
    width: rem(17px);
  }

  @mixin slider-track {
    background-color: $grey-medium;
    border: 0;
    box-shadow: none;
    height: 1px;
  }

  [type="range"] {
    -webkit-appearance: none;

    &::-moz-range-thumb {
      @include slider-thumb;
    }

    &::-webkit-slider-thumb {
      @include slider-thumb;

      -webkit-appearance: none;
      margin-top: rem(-8px);
    }

    &::-moz-range-track {
      @include slider-track;
    }

    &::-webkit-slider-runnable-track {
      @include slider-track;
    }

    &:focus {
      &::-moz-range-thumb {
        background-color: $primary-dark;
        cursor: pointer;
      }

      &::-webkit-slider-thumb {
        background-color: $primary-dark;
        cursor: pointer;
      }
    }
  }
}

.tnp-previews-wrapper {
  margin: 0 rem(60px);
  position: relative;
}

.tnp-shell {
  left: rem(26px);
  position: absolute;
  top: rem(34px);

  &.right {
    top: rem(270px);
  }
}

.tnp-home-preview {
  background-color: $white;
  border-radius: rem(5px);
  left: rem(42px);
  position: absolute;
  top: rem(186px);
}

.tnp-blur-offer-preview {
  background-color: $white;
  filter: blur(2px);
  left: rem(27px);
  position: absolute;
  top: rem(35px);
}

.tnp-offer-preview {
  background-color: $white;
  border-radius: rem(5px);
  left: rem(91px);
  position: absolute;
  top: rem(97px);
}
