@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.thumbnail-dialog {
  position: relative;
  text-align: center;

  .pc-breadcrumb {
    margin-top: rem.torem(24px);
  }
}

.tnd-actions {
  display: flex;
  justify-content: center;
  margin-top: rem.torem(24px);

  button {
    margin: 0 rem.torem(12px);
    width: rem.torem(220px);
  }
}

.tnd-subtitle {
  margin-bottom: rem.torem(24px);
  line-height: rem.torem(16px);
}

.tnd-header {
  @include fonts.title3();
  margin-bottom: rem.torem(16px);
  line-height: rem.torem(16px);
}

.tnd-hr {
  background: colors.$grey-medium;
  height: rem.torem(1px);
}

.tnf-form {
  & > svg {
    height: rem.torem(128px);
  }

  .input-text {
    height: rem.torem(104px);
    text-align: left;
  }
}

.tnf-url-button {
  color: colors.$white;
  width: rem.torem(334px);

  svg {
    height: rem.torem(32px);
  }
}

.tna-advices {
  text-align: left;
  width: rem.torem(500px);
}

.tna-hidden {
  display: none;
}

.tna-toggle {
  @include fonts.button;

  align-items: center;
  background: transparent;
  border: 0;
  display: flex;
  outline: none;

  svg {
    margin-left: rem.torem(8px);
  }
}

.tna-teaser {
  margin-top: rem.torem(24px);
}

.tna-title {
  @include fonts.title4;

  margin-top: rem.torem(16px);
}

.tna-links a {
  align-items: center;
  display: flex;
  margin: rem.torem(16px) 0;

  svg {
    margin: 0 rem.torem(8px) 0 rem.torem(-5px);
  }
}

.tna-links-help {
  @include fonts.body;
}

.tnc-explanations {
  margin-top: rem.torem(32px);
  text-align: left;
  width: rem.torem(500px);
}
