@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.expiration-cell {
  padding-top: 0;
}

.banner {
  padding: var(--size-spacing-s);
  border-radius: var(--size-border-radius-m);
  background-color: var(--color-background-subtle);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: var(--size-spacing-s);

  &.banner-expires-soon {
    background-color: var(--color-background-warning);
  }

  &-expiration {
    display: flex;
    align-items: center;
    gap: var(--size-spacing-xs);
    flex-wrap: wrap;

    &-waiting {
      @include fonts.body-accent-xs;

      display: flex;
      align-items: center;
      gap: var(--size-spacing-xs);
    }

    &-days-badge {
      @include fonts.body-accent-xs;

      display: flex;
      align-items: center;
      gap: var(--size-spacing-xs);
    }
  }
}

@media (min-width: size.$tablet) {
  .banner {
    margin-left: var(--size-spacing-s);
  }

  .banner-expiration {
    gap: var(--size-spacing-l);
  }
}
