@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-background-subtle);
}

.page-layout {
  display: flex;
  height: 100%;
  overflow: hidden;
  border-top: none;

  @media (min-width: size.$desktop) {
    margin: 0 auto;
    width: 100%;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  background-color: var(--color-background-default);

  &-right-side {
    @media screen and (min-width: size.$laptop) {
      flex-direction: row-reverse;
    }

    &-logo {
      display: none;

      @media screen and (min-width: size.$desktop) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-width: size.$signup-side-min-width;
        width: 50%;
        background-color: var(--color-background-brand-primary);
        position: sticky;
        top: 0;
        overflow: hidden;

        .image-engagements {
          margin: 14vh auto;
          display: flex;
          flex-direction: column;
          width: 80%;
          gap: 5.05vh;
          color: var(--color-text-inverted);

          &-text-1 {
            @include fonts.title4;

            width: rem.torem(223px);
            align-self: flex-start;
            position: relative;
          }

          &-text-2 {
            @include fonts.title4;

            width: rem.torem(265px);
            align-self: flex-end;
            position: relative;
          }

          &-text-3 {
            @include fonts.title4;

            width: rem.torem(240px);
            align-self: flex-start;
            position: relative;
          }

          &-text-emphasis {
            position: relative;

            &::after {
              content: "";
              display: inline-block;
              background-color: var(--color-background-brand-secondary);
              width: calc(100% + 10px);
              height: rem.torem(14px);
              position: absolute;
              top: rem.torem(10px);
              left: rem.torem(-5px);
              z-index: -1;
              border-radius: var(--size-border-radius-pill);
            }
          }

          @media (max-height: rem.torem(780px)) {
            margin: 4vh auto;
          }

          .citation-icon-1 {
            position: absolute;
            bottom: rem.torem(-1rem);
            right: rem.torem(1rem);
          }

          .citation-icon-2 {
            position: absolute;
            bottom: rem.torem(-1rem);
            left: rem.torem(-2rem);
            transform: rotate(90deg);
          }

          .citation-icon-3 {
            position: absolute;
            top: rem.torem(-1rem);
            right: rem.torem(-2rem);
            transform: rotate(-90deg);
          }
        }

        .image-laptop {
          &-macstudio {
            width: 100%;
            bottom: rem.torem(64px);
            right: 0;
            position: absolute;
            max-width: rem.torem(540px);

            @media (max-height: rem.torem(1024px)) {
              bottom: 0;
            }

            @media (max-height: rem.torem(675px)) {
              max-width: rem.torem(350px);
            }
          }
        }

        @media (max-height: rem.torem(500px)) {
          .image-engagements {
            margin: rem.torem(50px) auto rem.torem(25px);
          }

          .image-laptop {
            &-macstudio {
              display: none;
            }
          }
        }
      }

      @media screen and (min-width: rem.torem(2600px)) {
        // Fix width for ultra-wide screens
        min-width: initial;
        width: rem.torem(1300px);
      }
    }
  }
}

.content-container {
  width: 100%;
  flex-grow: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo-sign-up {
    color: var(--color-text-brand-primary);
    max-width: rem.torem(135px);
    align-self: center;
    margin-top: var(--size-spacing-xxl);

    @media (min-width: size.$laptop) {
      align-self: flex-start;
      margin-left: var(--size-spacing-xxxl);
      margin-top: var(--size-spacing-xxxl);
      flex-shrink: 0;
    }
  }

  [id="content"] {
    width: 100%;
    max-width: rem.torem(640px);
    align-self: center;
    margin: auto;
    padding-bottom: var(--size-spacing-xxxxl);

    /* For ultra-wide screens, makes content little bit more larger */
    @media (min-width: rem.torem(2600px)) {
      max-width: rem.torem(800px);
    }
  }
}

.content {
  position: relative;
  max-width: 100%;
  border: none;
  margin: 0;

  &-sign-up {
    padding: var(--size-spacing-l);

    @media (min-width: size.$laptop) {
      padding: var(--size-spacing-xl);
    }
  }
}
