@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.offer-page {
  .page-subtitle {
    @include fonts.caption();

    color: colors.$grey-dark;
    margin-bottom: rem.torem(24px);
  }

  .section {
    margin-bottom: 0;
  }

  .sub-title {
    @include fonts.title4();

    font-weight: 500;
  }

  .title-section {
    margin-bottom: rem.torem(32px);
  }

  .offer-content {
    margin-top: rem.torem(25px);

    .no-physical-venue {
      margin-top: rem.torem(24px);
    }

    .sidebar-container {
      display: flex;
      justify-content: space-between;

      .content {
        max-width: rem.torem(486px);
      }

      .sidebar {
        flex: 0 0 rem.torem(256px);
      }

      .sidebar-wrapper {
        border: rem.torem(1px) solid colors.$grey-medium;
        border-radius: rem.torem(4px);
        box-shadow: 0 0 rem.torem(20px) 0 colors.$black-shadow;
        height: fit-content;
        margin-bottom: rem.torem(24px);
      }

      .secondary-link {
        text-align: center;
        width: 100%;
      }
    }
  }

  .pc-breadcrumb-edition {
    margin-bottom: rem.torem(24px);
  }

  .pc-breadcrumb-creation {
    margin-bottom: rem.torem(40px);
    padding-right: rem.torem(11px);
    padding-left: rem.torem(17px);
  }

  .offer-form {
    .form-row {
      margin-top: rem.torem(24px);
    }
  }

  .provider-information {
    align-items: center;
    background-color: colors.$notification-info;
    border-radius: rem.torem(6px);
    display: flex;
    height: rem.torem(50px);

    img {
      height: rem.torem(40px);
      margin-left: rem.torem(20px);
      margin-right: rem.torem(20px);
      max-width: rem.torem(100px);
    }
  }

  .actions-section {
    display: flex;
    justify-content: center;
    margin-top: rem.torem(64px);

    button,
    a {
      flex: 1;
      margin-left: rem.torem(24px);
      text-align: center;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .edit-buttons {
    width: rem.torem(600px);
  }

  .offer-details-offer-preview-app-link {
    text-align: center;

    & > a {
      width: 100%;
    }
  }
}
