@mixin primary {
  @include button();

  background-color: $primary;
  border: 3px solid $primary;
  border-radius: rem(24px);
  color: $white;
  cursor: pointer;
  height: rem(40px);
  line-height: rem(34px);
  padding: 0 rem(16px);

  svg {
    height: rem(25px);
    margin-right: rem(16px);
    vertical-align: middle;
    width: rem(25px);
  }

  &:active,
  &:hover,
  &:focus {
    background-color: $primary-dark;
    border: 3px solid $primary-dark;
    color: $white;
  }

  &:focus {
    outline: none;
  }
}

.primary-button {
  @include primary();

  &:disabled {
    background-color: $primary-disabled;
    border: 3px solid $primary-disabled;
    cursor: not-allowed;
    opacity: 1;
  }
}

.primary-link {
  @include primary();

  display: inline-block;

  &:active {
    color: $white;
  }
}
