@mixin primary-focus {
  background-color: $primary-dark;
  border: 3px solid $primary-dark;
}

@mixin primary {
  @include button();

  background-color: $primary;
  border: 3px solid $primary;
  border-radius: rem(24px);
  color: $white;
  height: rem(40px);
  line-height: rem(34px);
  padding: 0 rem(16px);

  &:active,
  &:hover,
  &:focus {
    @include primary-focus();

    color: $white;
  }

  &:focus {
    outline: none;
  }
}

.primary-button {
  @include primary();

  &:disabled {
    background-color: $primary-disabled;
    border: 3px solid $primary-disabled;
    cursor: not-allowed;
    opacity: 1;
  }

  &.with-icon {
    align-items: center;
    display: flex;
    justify-content: center;

    img,
    svg {
      height: rem(24px);
      margin-right: rem(4px);
    }
  }
}

.primary-link {
  @include primary();

  display: inline-block;

  &:active {
    color: $white;
  }
}
