.offer-list-filter-tabs {
  display: flex;
  margin-bottom: rem(32px);

  &-tab {
    background-color: transparent;
    padding-bottom: rem(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: rem(15px);
    font-weight: 700;
    cursor: pointer;
    border-bottom: 2px solid transparent;

    &-icon {
      fill: $black;
      width: rem(20px);
      height: auto;
      margin-right: rem(12px);
    }

    &.is-selected {
      border-bottom: 2px solid $primary;
      color: $primary;

      .offer-list-filter-tabs-tab-icon {
        fill: $primary;
      }
    }

    &:not(:last-of-type) {
      margin-right: rem(32px);
    }
  }
}
