@use "src/styles/variables/_colors.scss" as colors;
@use "src/styles/mixins/_rem.scss" as rem;
@use "src/styles/mixins/_fonts.scss" as fonts;

.allocine-provider-form-dialog {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: rem.torem(504px);
  text-align: left;

  .title {
    @include fonts.gabarit;
    @include fonts.title3;
  }

  .explanation {
    margin-top: rem.torem(24px);
  }
}
