@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-spacing-xl);
  margin: var(--size-spacing-xxs) 0 rem.torem(22px);
  justify-content: center;
  width: 100%;
}

.card-description-highlight {
  color: var(--color-text-brand-primary);
}

.card-title {
  @include fonts.title3;

  margin: var(--size-spacing-s) 0;
}
