@use 'styles/variables/_colors.scss' as colors;
@use 'styles/variables/_forms.scss' as forms;
@use 'styles/mixins/_rem.scss' as rem;

.base-radio {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  width: 100%;

  &-label {
    line-height: rem.torem(16px);

    :disabled + & {
      color: forms.$input-text-color-disabled;
      cursor: default;
    }

    &-checked {
      color: colors.$primary;
    }
  }

  &-input {
    -webkit-appearance: none;
    appearance: none;
    border: rem.torem(2px) solid forms.$input-border-color;
    border-radius: 50%;
    box-shadow: inset 0 0 0 rem.torem(10px) colors.$white;
    background-color: colors.$white;
    transition: border 150ms ease, background 150ms ease, box-shadow 150ms ease;

    &:hover,
    &:focus {
      border-color: forms.$input-border-color-focus;
    }

    &:checked {
      box-shadow: inset 0 0 0 rem.torem(2px) colors.$white;
      background: radial-gradient(colors.$primary 0%, colors.$primary 40%, transparent 50%, transparent);
    }

    &:hover:checked,
    &:focus:checked {
      box-shadow: inset 0 0 0 rem.torem(2px) colors.$white;
      background-color: forms.$input-border-color-focus;
    }

    &.has-error {
      border-color: forms.$input-border-color-error;
    }

    &:checked.has-error {
      box-shadow: inset 0 0 0 rem.torem(2px) colors.$white;
      background-color: forms.$input-border-color-error;
    }

    &:disabled {
      cursor: default;
      border-color: forms.$input-border-color-disabled;
    }

    &:checked:disabled {
      box-shadow: inset 0 0 0 rem.torem(2px) colors.$white;
      background-color: forms.$input-border-color-disabled;
    }
  }

  .base-radio-input {
    &:checked {
      border-color: colors.$primary;
      background: radial-gradient(colors.$primary 0%, colors.$primary 40%, transparent 50%, transparent);
    }
  }
}
