@mixin quaternary {
  @include caption();

  color: $primary;
  line-height: rem(22px);

  &:hover {
    color: $primary;
    cursor: pointer;
    text-decoration: underline;
  }

  &:active {
    color: $primary-dark;
  }

  img {
    margin-right: rem(4px);
    vertical-align: bottom;
  }
}

.quaternary-button, .quaternary-link {
  @include quaternary();
}
