.quaternary-button {
  @include caption();
  color: $primary;
  line-height: rem(22px);

  &:hover:not(:disabled) {
    color: $primary;
    cursor: pointer;
  }

  &:active:not(:disabled) {
    color: $primary-dark;
  }

  img {
    margin-right: rem(4px);
    vertical-align: bottom;
  }
}

a.quaternary-button {
  &:hover {
    color: $primary;
  }
  &:active {
    color: $primary-dark;
  }
}
