@mixin quaternary {
  @include caption();

  color: $black;
  line-height: rem(22px);

  &:hover {
    color: $black;
    cursor: pointer;
    text-decoration: underline;
  }

  &:active {
    color: $black;
  }

  img {
    width: rem(24px);
    height: rem(24px);
    margin-right: rem(4px);
    vertical-align: bottom;
  }
}

.quaternary-link {
  @include quaternary();
}
