.third-tutorial {
  height: 100%;
  line-height: 1.35;
  position: relative;
  width: 100%;

  &::before {
    background-image: url('/onboarding-3@2x.jpg');
    background-color: $primary;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 92%;
    content: "";
    height: 100%;
    left: -20%;
    position: absolute;
    width: 140%;
    z-index: -1;
  }

  .third-tutorial-text {
    margin: 1vh 10% 0;

    &.second-paragraph {
      margin-top: 3vh;
    }
  }

  .text-highlight {
    &.text-physical-offer, .text-digital-offer {
      margin-right: rem(5px);
    }

    &.text-physical-offer::after {
      width: rem(132px);
    }

    &.text-digital-offer::after {
      width: rem(145px);
      margin-left: rem(2px);
    }

    &.text-go-out::after {
      width: rem(62px);
    }
  }
}
