.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(32px);
}

.spacer {
  height: rem(32px);
}

.icon {
  height: rem(80px);
  width: rem(80px);
}

.header {
  @include title3;
}

.subtitle {
  color: $grey-dark;
  //margin-bottom: rem(24px);
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: rem(16px);

  .button {
    margin: 0 rem(12px);
    width: rem(192px);
  }
}
