@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.prebooking-button {
  @include fonts.button;

  &-booking-limit {
    @include fonts.bold;

    margin-top: rem.torem(8px);
  }

  &-limit-date {
    color: var(--color-primary);
  }
}

.prebooking-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include fonts.caption;
}

.prebooking-tag {
  padding: rem.torem(4px) rem.torem(8px);
  background: var(--color-alert-dark);
  border-radius: rem.torem(4px);
  display: inline-flex;
  align-items: center;

  &-icon {
    fill: var(--color-black);
    margin-right: rem.torem(4px);
    width: rem.torem(16px);
    height: rem.torem(16px);
  }
}
