@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;
@use "styles/mixins/_fonts.scss" as fonts;

$status-filter-margin-top: rem.torem(24px);

.search-filters-form {
  margin-bottom: rem.torem(32px);
}

.offerer-filter {
  @include fonts.caption;

  align-items: center;
  background-color: var(--color-accent-light);
  border: none;
  border-radius: rem.torem(24px);
  display: flex;
  height: rem.torem(32px);
  justify-content: space-between;
  margin-bottom: rem.torem(16px);
  padding: rem.torem(5px) rem.torem(15px);
  width: max-content;

  button {
    align-items: center;
    background: none;
    border: none;
    display: flex;
    margin-left: rem.torem(8px);

    img {
      height: rem.torem(14px);
      width: rem.torem(14px);
    }
  }
}

.search-separator {
  align-items: center;
  display: flex;
  margin-top: rem.torem(23px);

  .separator {
    background-color: var(--color-grey-medium);
    flex: 1;
    height: rem.torem(1px);
  }
}

.reset-filters {
  min-height: size.$input-min-height;
  margin-top: 0;
  display: block;
  text-align: left;
}

.offerer-close-icon {
  width: rem.torem(14px);
  height: rem.torem(14px);
  color: var(--color-black);
}

.status-filter {
  width: fit-content;
  margin-bottom: 0;
}

.status-filter-label {
  margin-top: $status-filter-margin-top;
  display: flex;
  align-items: center;
  gap: rem.torem(8px);
}

.reset-filters-row {
  flex-direction: column;
}

@media (min-width: size.$laptop) {
  .status-filter {
    margin-bottom: rem.torem(8px);
  }

  .reset-filters-row {
    flex-direction: row;
  }

  .reset-filters {
    margin-top: $status-filter-margin-top;

  }
}
