.logout-form-main {
  .form-label-inner {
    @include body();
  }

  .input-inner {
    border: 2px solid $white;
  }

  .input-inner:focus-within {
    outline: none;
    border: 2px solid $primary;
  }

  ::placeholder {
    color: $grey-dark;
    font-style: normal !important;
  }

  #np-cancel-link,
  #np-ok-button {
    @include button();

    color: $white;
  }
}
