.form-label-inner {
  font-size: rem(16px);
}

::placeholder {
  color: $grey-dark;
  font-style: normal !important;
}

#np-cancel-link,
#np-ok-button {
  color: $white;
  font-size: rem(16px);
  font-weight: 700;
}
