.form-label-inner {
  font-size: rem(16px);
}

::placeholder {
  color: $grey;
  font-size: rem(16px) !important;
  font-style: normal !important;
}

#np-cancel-link, #np-ok-button {
  color: $white;
  font-size: rem(16px);
  font-weight: 700;
}
