.password-reset-request-form,
.password-reset-request {
  .field-password {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .field-password > img {
    position: absolute;
    right: rem(38px);
    top: rem(37px);
  }
  h1 {
    margin-bottom: rem(16px);
  }

  h2 {
    margin-bottom: rem(32px);
  }

  label {
    margin-bottom: rem(48px);
  }

  .server-error-message {
    margin-bottom: rem(48px);
  }

  .hero-body {
    padding: 3rem 1.5rem;
  }
}

.mail-sent,
.password-reset {
  h1 {
    margin-bottom: rem(16px);
  }

  h2 {
    margin-bottom: rem(24px);
  }
}
