@use "src/styles/mixins/_fonts.scss" as fonts;
@use "src/styles/mixins/_rem.scss" as rem;
@use "src/styles/variables/_colors.scss" as colors;

.offerer-page {
  position: relative;

  .offerer-page-go-back-link {
    margin-bottom: rem.torem(30px);
    color: colors.$primary;
  }
}
