.image-preview-shell {
  position: absolute;
  height: 515px;
}

.image-preview-home-preview {
  background-color: $white;
  border-radius: rem(5px);
  left: rem(16px);
  position: absolute;
  top: rem(152px);
  height: 228px;
}
