.image-preview-shell {
  top: rem(236px);
  position: absolute;
  height: 280px;
}

.image-preview-blur-offer-preview {
  background-color: $white;
  filter: blur(2px);
  left: rem(1px);
  position: absolute;
  top: rem(1px);
  height: 435px;
}

.image-preview-offer-preview {
  background-color: $white;
  border-radius: rem(5px);
  left: rem(65px);
  position: absolute;
  top: rem(63px);
  height: 247px;
}
