@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_colors.scss" as colors;
@use "styles/variables/_size.scss" as size;

.discovery {
  background-color: colors.$adage-discovery-background;

  &-playlists {
    display: flex;
    flex-direction: column;
    gap: rem.torem(40px);
    margin: rem.torem(32px) 0;
  }

  &-suggestion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: colors.$light-pink;
    width: auto;
    height: rem.torem(158px);
    padding-left: rem.torem(24px);

    h1.section-title {
      margin-bottom: rem.torem(8px);
    }

    &-link {
      @include fonts.button;

      align-items: center;
      width: max-content;
      margin: 0;

      svg {
        max-width: rem.torem(16px);
        margin-right: rem.torem(4px) !important;
      }
    }
  }
}

.playlist-carousel-title {
  @include fonts.title3;
}
