@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_forms.scss" as forms;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_a11y.scss" as a11y;

$icon-size: rem.torem(24px);

.label-input {
  width: 100%;
}

.price-input {
  margin-top: 0;
}

.duo-section {
  margin-top: rem.torem(12px);
  margin-bottom: rem.torem(40px);
}

.free-checkbox {
  margin-right: rem.torem(20px);
}

.delete-icon {
  padding: 0;
  height: fit-content;
  margin-top: calc(
    forms.$input-label-min-height + forms.$label-space-before-input +
      (size.$input-min-height / 2) - ($icon-size / 2)
  );

  &-svg {
    width: rem.torem(24px);
    height: rem.torem(24px);
  }
}

.form-layout-row-price-category {
  margin-bottom: rem.torem(48px);
}

.visually-hidden {
  @include a11y.visually-hidden;
}

@media (min-width: size.$tablet) {
  .label-input {
    width: rem.torem(200px);
  }

  .price-input {
    margin-top: calc(forms.$input-description-min-height * 2);
  }

  .delete-icon {
    margin-top: calc(
      forms.$input-label-min-height + forms.$input-description-min-height * 2 +
        forms.$label-space-before-input + (size.$input-min-height / 2) -
        ($icon-size / 2)
    );
  }

  .form-layout-row-price-category:nth-child(odd) {
    background-color: unset;
  }

  .form-layout-row-price-category {
    margin-bottom: rem.torem(16px);
  }
}
