.pc-ticket-button-price,
.pc-ticket-button-label {
  border: 2px solid $white;
  color: $white;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 8px 12px;
}

.pc-ticket-button-price {
  border-right: 0;

  &.reserved {
    border: 0;
  }
}

.pc-ticket-button-label {
  border-left-style: dotted;
}

@media screen and (max-width: 376px) {
  .pc-ticket-button-price,
  .pc-ticket-button-label {
    padding: 6px;
  }
}
