@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_forms.scss' as formsM;
@use 'styles/variables/_forms.scss' as forms;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/mixins/_fonts.scss' as fonts;

.select-input {
  @include formsM.input-theme();

  padding-right: rem.torem(forms.$input-right-icon-padding);

  &.has-error {
    @include formsM.input-theme-error();
  }

  &-icon {
    @include formsM.input-icon-wrapper(20px);
  }

  &-wrapper {
    position: relative;
  }

  &-placeholder {
    @include fonts.placeholder();

    color: colors.$grey-dark;
  }
}
