@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.venue-page {
  position: relative;

  .col-66 {
    $size: 65.5%;

    max-width: $size;
    min-width: $size;
    width: $size;
  }

  .col-33 {
    $size: 31%;

    max-width: $size;
    min-width: $size;
    width: $size;
  }

  .has-text-centered {
    text-align: center;
  }

  .has-text-primary {
    color: colors.$primary;
  }

  .field-number {
    text-align: left;
  }

  .field-group {
    min-height: 10rem;
  }

  .vp-detail {
    margin: rem.torem(8px) 0;

    > :first-child {
      color: colors.$grey-dark;
      margin-right: rem.torem(5px);
    }
  }

  .vp-field > label {
    @include fonts.body();

    color: colors.$black;
    margin-right: rem.torem(5px);
  }

  .vp-subtitle {
    margin-bottom: rem.torem(25px);
  }

  .vp-content-section {
    margin-bottom: rem.torem(48px);

    .field-label {
      @include fonts.body();
    }
  }

  .banner-invalid-bu img {
    width: rem.torem(16px);
    vertical-align: bottom;
    margin-right: rem.torem(8px);
  }

  &-links {
    margin-bottom: rem.torem(30px);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.venue-domain-name-banner {
  margin: rem.torem(32px) 0 rem.torem(8px) 0;
}
