@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;
@use "styles/mixins/_a11y.scss" as a11y;

.invoices-table {
  margin-top: rem.torem(32px);
  width: 100%;
}

.header {
  @include a11y.visually-hidden;
}

.row {
  display: block;
}

.data {
  display: flex;
  justify-content: space-between;
  padding: rem.torem(12px) rem.torem(8px);
  align-items: center;
}

.data::before {
  @include fonts.caption;

  content: attr(data-label);
  text-align: left;
}

.body .row:nth-child(n + 1):nth-child(odd) {
  background-color: var(--color-grey-light);
}

.date-data {
  @include fonts.bold;
}

.document-type-content {
  display: flex;
  gap: rem.torem(8px);
}

.bank-account-column {
  text-align: right;
}

.more-icon {
  color: var(--color-valid);
  flex-shrink: 0;
}

.less-icon {
  color: var(--color-error);
  flex-shrink: 0;
}

.negative-amount {
  color: var(--color-error);
}

.download-actions {
  display: flex;
  gap: rem.torem(8px);
  margin-top: rem.torem(32px);
  flex-direction: column;
  align-items: flex-start;
}

.download-button {
  border-left: solid 1px var(--color-grey-semi-dark);
  border-radius: 0;
  padding-left: rem.torem(8px);
}

.menu-item-icon {
  width: rem.torem(20px);
  height: rem.torem(20px);
  flex-shrink: 0;
  margin-right: rem.torem(8px);

  path {
    fill: var(--color-black);
  }
}

@media (min-width: size.$tablet) {
  .invoices-table {
    margin-top: 0;
  }

  .row {
    display: flex;
    padding: rem.torem(16px);
  }

  .header {
    @include fonts.caption;

    // reset visually-hidden
    position: unset;
    width: unset;
    height: unset;
    margin: unset;
    overflow: unset;
    clip: unset;
    white-space: unset;
    border: unset;
    cursor: pointer;
    display: inline-flex;
    padding: rem.torem(16px);
    text-align: left;
  }

  .header-cell {
    display: inline-flex;
    align-items: center;
    gap: rem.torem(8px);
    margin-right: rem.torem(24px);
  }

  .data {
    padding: rem.torem(20px) 0;
    margin-right: rem.torem(24px);
  }

  .data::before {
    content: none;
    display: none;
  }

  .date-header {
    padding-left: rem.torem(20px);
  }

  .date-column {
    width: rem.torem(90px);
  }

  .document-type-column {
    width: rem.torem(165px);
  }

  .document-type-content {
    text-align: left;
  }

  .bank-account-column {
    width: rem.torem(180px);
    text-align: left;
  }

  .label-column {
    width: rem.torem(80px);
  }

  .amount-column {
    cursor: default;
    justify-content: right;
    text-align: right;
    width: rem.torem(100px);
  }

  .invoice-column {
    margin-right: 0;
  }

  .invoice-data {
    justify-content: right;
  }

  .download-actions {
    flex-direction: row;
  }
}

