@use "styles/mixins/_size.scss" as size;

.download-actions {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--size-spacing-xxl);
}

@media (min-width: size.$tablet) {
  .download-actions {
    flex-direction: row;
    gap: var(--size-spacing-l);
    margin-bottom: var(--size-spacing-xxl);
  }
}
