@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;

.invoices-table {
  margin-top: rem.torem(32px);
}

.row {
  display: block;
}

.data {
  display: flex;
  justify-content: space-between;
  padding: rem.torem(12px) rem.torem(8px);
  align-items: center;
}

.data::before {
  @include fonts.caption;

  content: attr(data-label);
}

.body .row:nth-child(n + 1):nth-child(odd) {
  background-color: colors.$grey-light;
}

.date-data {
  @include fonts.bold;
}

.document-type-content {
  display: flex;
  gap: rem.torem(8px);

  // FIXME: made in order to make icon + text be to the right
  // otherwise the text go to the right but not the icon
  width: min-content;
}

.more-icon {
  color: colors.$green-valid;
  flex-shrink: 0;
}

.less-icon {
  color: colors.$red-warning;
  flex-shrink: 0;
}

.negative-amount {
  color: colors.$red-warning;
}


@media (min-width: size.$tablet) {
  .invoices-table {
    margin-top: 0;
    table-layout: fixed;
    width: 100%;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .header {
    @include fonts.caption;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .data,
  .header {
    padding: rem.torem(20px) rem.torem(8px);

  }

  .data::before {
    content: none;
    display: none;
  }

  .date-column {
    width: rem.torem(120px);
  }

  .document-type-column {
    width: rem.torem(230px);
  }

  .reference-column {
    width: rem.torem(130px);
  }

  .label-column {
    width: rem.torem(120px);
  }

  .amount-column {
    cursor: default;
    text-align: right;
    width: rem.torem(140px);
    justify-content: flex-end;
  }

  .invoice-data {
    justify-content: flex-end;
    margin-right: rem.torem(8px);
  }
}
