@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.filter-container {
  &-search {
    $row-height: rem.torem(48px);

    display: flex;
    align-items: center;
    width: rem.torem(824px);
    max-width: 100%;
    margin: 0 auto rem.torem(32px);

    &-input input {
      min-height: $row-height;
      border-radius: var(--size-border-radius-xl);
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &-button {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      min-height: $row-height;
    }
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-list {
      &-items {
        display: flex;
        flex-flow: row wrap;
        gap: rem.torem(16px);
        align-items: center;
      }
    }
  }

  &-button-clear {
    margin-top: rem.torem(16px);
  }
}

.geoloc-slider {
  margin: rem.torem(24px) 0;
}

.localisation-list-button:not(:last-child) {
  margin-bottom: rem.torem(16px);
}
