@use "styles/mixins/_fonts.scss" as fonts;

.highlight-banner {
  display: flex;
  align-items: center;
  gap: var(--size-spacing-s);
  padding: var(--size-spacing-xl);
  border: 1px solid var(--color-border-brand-primary);
  border-radius: var(--size-border-radius-m);

  &-content {
    @include fonts.body-accent;

    flex: 1;
  }
}
