.titelive-information {
  display: flex;
  margin-bottom: 1.5rem;
}

.titelive-thumb {
  display: flex;
}

.titelive-details {
  padding-left: 1rem;
  display: block;
}

.titelive-header {
  display: flex;
  align-items: center;

  .titelive-title {
    padding-left: 0.75rem;

    h3 {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 1px;
    }

    span {
      vertical-align: middle;
      padding-left: 0.5rem;
      padding-top: 2px
    }
  }
}

.titelive-explanation {
  @extend .small-text;

  text-align: justify;
}
