.image-preview-previews {
  background: $grey-light;
  display: flex;
  justify-content: center;
  padding: rem(32px);

  svg {
    height: rem(600px);
    margin-bottom: rem(16px);
  }

  & > div {
    text-align: center;
    width: 50%;
  }
}

.image-preview-previews-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 rem(60px);
  position: relative;
  align-items: center;
}

.image-preview-screen {
  position: absolute;
  left: rem(26px);
  top: rem(34px);
}
