.ph-wrapper {
  background-image: $linear-gradient-to-right;
  color: $white;
  font-weight: 500;
  padding: rem(31px) 0 rem(62px) 0;
  text-align: center;

  .ph-back-link {
    left: 0;
    top: rem(25px);
    padding-left: rem(17px);
    position: absolute;
  }

  .ph-pseudo {
    font-size: rem(18px);
    margin-bottom: rem(16px);
    padding-left: rem(50px);
    padding-right: rem(50px);
  }

  .ph-wallet-balance {
    font-size: rem(40px);
    margin-bottom: rem(8px);
  }

  .ph-end-validity-date {
    font-size: rem(14px);
  }
}
