@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.notification {
  align-items: center;
  border-radius: var(--border-radius-xxxl);
  bottom: 0;
  display: flex;
  left: 50%;
  padding: rem.torem(8px) rem.torem(24px);
  position: fixed;
  text-align: center;
  transform: translateX(-50%);
  visibility: hidden;
  white-space: pre-line;
  z-index: 1000;
  color: var(--color-text-default);

  &.show {
    animation-duration: 0.8s;
    animation-name: animatetop;
    transform: translateX(-50%) translateY(rem.torem(-30px));
    transition: all 400ms ease-out;
    visibility: visible;

    &.with-sticky-action-bar {
      transform: translateX(-50%)
        translateY(rem.torem(-30px) - size.$action-bar-sticky-height);
    }
  }

  @media screen and (prefers-reduced-motion: reduce) {
    &.show {
      animation: none;
      opacity: 1;
      transform: translateX(-50%) translateY(rem.torem(-30px));
      transition: none;
      visibility: visible;

      &.with-sticky-action-bar {
        transform: translateX(-50%)
          translateY(rem.torem(-30px) - size.$action-bar-sticky-height);
      }
    }
  }

  @keyframes animatetop {
    from {
      bottom: rem.torem(-300px);
      opacity: 0;
    }

    to {
      bottom: 0;
      opacity: 1;
    }
  }

  &.hide {
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
    transition: all 400ms ease-in;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    &.hide {
      opacity: 0;
      transform: translateX(-50%) translateY(100%);
      transition: none;
    }
  }

  .icon {
    flex: 0 0 rem.torem(40px);
    padding-right: rem.torem(8px);
    width: rem.torem(40px);
    color: var(--color-icon-default);
  }

  &.is-success {
    background-color: var(--color-background-success);

    .icon {
      color: var(--color-icon-success);
    }
  }

  &.is-error {
    background-color: var(--color-background-error);

    .icon {
      color: var(--color-icon-error);
    }
  }

  &.is-information {
    background-color: var(--color-background-info);

    .icon {
      color: var(--color-icon-info);
    }
  }
}
