.bookings-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(30px);

  .bookings-header-loading .bookings-header-number {
    @include body();
  }

  .bookings-header-csv-download a {
    align-items: center;
    display: flex;
    font-weight: 700;

    &:focus,
    &:hover {
      color: $black;
      text-decoration: none;
    }

    img {
      margin-right: rem(8px);
    }
  }
}
