@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.container {
  display: flex;
  gap: rem.torem(16px);
  flex-wrap: wrap;
  width: rem.torem(1020px);
  max-width: 100%;
  margin: rem.torem(32px) auto rem.torem(32px);
  align-items: center;
}

.adage-tag {
  @include fonts.body-accent-xs;

  background-color: var(--color-background-info);
  color: var(--color-text-default);
  border: none;
  padding: rem.torem(8px) rem.torem(12px);
  border-radius: var(--size-border-radius-m);
  display: flex;
  gap: rem.torem(8px);
  align-items: center;
  cursor: pointer;

  &-icon {
    width: rem.torem(20px);
    height: rem.torem(20px);
  }

  &:hover,
  &:active {
    background-color: var(--color-background-subtle);
  }
}
