.event-occurrence-and-stock-item {
  display: table-row;
  td {
    vertical-align: middle;

    .input {
      min-width: 75px;

      &.input-number {
        width: 77px;
      }

      &.date-picker {
        min-width: 100px;
      }

      &[readonly] {
        text-align: center;
      }

      &[type='time'] {
        margin-left: 0.75rem;
      }
    }


    .qty-info img{
      margin-left: 6px;
    }
  }

  &.with-confirm {
    background-image: none;
  }
}
