.event-occurrence-and-stock-item {
  display: table-row;
  td {
    vertical-align: middle;

    .input {
      min-width: 75px;

      &.date-picker {
        min-width: 100px;
      }

      &[readonly] {
        text-align: center;
      }

      &[type='time'] {
        margin-left: 0.75rem;
      }
    }
  }

  .DeleteDialog {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 9;
    margin-top: -1em;
    padding-top: 1.5em;
    border: 1px solid $red;

    .deleteText{
      width: 80%;
      background: white;
    }

    .deleteActions {
      width: 20%;
      background: white;

      button {
        margin: -10px 20px 0;
      }
    }
  }

  &.with-confirm {
    background-image: none;
  }
}
