li.offer-item {
  img {
    max-height: 100px;
  }

  .infos {
    margin-bottom: 1rem;
  }

  .name,
  .infos,
  .offer-thumb {
    opacity: 0.5;
  }

  &.active {
    .name,
    .infos,
    .offer-thumb {
      opacity: 1;
    }
  }

  ul {
    border-top: 1px solid #EFEFF4;

    li,
    .label {
      font-size: 0.82rem;
      display: inline;
    }
  }

  ul.main-list & .list-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  ul.actions {
    .button {
      margin-right: 2rem;

      &:last-child {
        margin-right: inherit;
      }
    }

    li:last-child {
      margin-top: 5px;
    }

    .edit-link {
      border-right: 1px solid #EFEFF4;
      padding-right: 10px;
      margin-right: 10px;
    }

    .button.addMediations {
      margin-top: 5px;
    }
  }
}

ul.main-list li.offer-item {
  padding-bottom: 0.6rem;
}
