.stock-item {
  display: table-row;
  td {
    vertical-align: middle;

    .field-input {
      min-width: 75px;

      &.input-number {
        width: 77px;
      }

      &[readonly] {
        text-align: center;
      }

      &[type='time'] {
        margin-left: 0.75rem;
      }
    }

    .tooltip {
      &.tooltip-info {
        background-color: transparent;
        margin-left: 1px!important;
      }
    }
  }

  &.with-confirm {
    background-image: none;
  }
}
