.stock-item {
  input[type='number'] {
    padding-left: 12px;
    padding-right: 6px;
    text-align: right;
    width: 60px;
  }

  .time-field {
    width: 66px;

    .field-input {
      width: 40px;
    }
  }

  display: table-row;
  td {
    vertical-align: middle;

    .field-input {
      font-size: 12px;
      min-width: 32px;
      border-radius: 1rem;

      &.input-number {
        width: 77px;
      }

      &[readonly] {
        text-align: center;
      }

      &[type='time'] {
        margin-left: 0.75rem;
      }
    }

    .tooltip {
      &.tooltip-info {
        background-color: transparent;
        margin-left: 6px!important;
      }
    }
  }

  &.with-confirm {
    background-image: none;
  }
}
