@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/mixins/_fonts.scss' as fonts;

.change-password-form {
  h1 {
    margin-bottom: rem.torem(16px);
  }

  p {
    @include fonts.title2();

    margin-bottom: rem.torem(32px);
  }

  label {
    margin-bottom: rem.torem(48px);
  }

  .server-error-message {
    margin-bottom: rem.torem(48px);
  }

  .hero-body {
    padding: rem.torem(48px) rem.torem(24px);
  }
}
