@use "styles/mixins/_rem.scss" as rem;

$margin-between-steps: rem.torem(32px);
$margin-between-content-and-time-line: rem.torem(16px);
$icon-size: rem.torem(16px);
$time-line-width: rem.torem(2px);
$vertical-offset-icon-from-step: calc(
  (#{var(--typography-body-line-height)} - $icon-size) / 2
);

.container {
  display: flex;
  gap: $margin-between-steps;
  flex-direction: column;
}

.icon {
  position: absolute;
  z-index: 1;
  width: $icon-size;
  height: $icon-size;
  background-color: var(--color-background-default);
  top: $vertical-offset-icon-from-step;

  // Multiply by -1 at the end because calc() syntax doesn't accept - at the start
  left: calc(
    (#{$margin-between-content-and-time-line} + #{$icon-size} / 2) * -1
  );
}

.icon-error {
  color: var(--color-icon-error);

  path {
    fill: var(--color-icon-error);
  }
}

.icon-success {
  color: var(--color-icon-success);
}

.icon-success-disabled {
  color: var(--color-icon-disabled);
}

.icon-waiting {
  color: var(--color-icon-subtle);
}

.icon-disabled {
  color: var(--color-icon-disabled);
}

.icon-wrong {
  color: var(--color-icon-error);
}

.step {
  position: relative;
  margin-left: calc(
    #{$icon-size} / 2 + #{$margin-between-content-and-time-line}
  );

  &::after {
    content: "";
    border-width: 0 0 0 $time-line-width;
    position: absolute;
    top: $vertical-offset-icon-from-step;

    // Multiply by -1 at the end because calc() syntax doesn't accept - at the start
    left: calc(
      (#{$margin-between-content-and-time-line} + #{$time-line-width} / 2) * -1
    );
    height: calc(100% + #{$margin-between-steps});
  }
}

.line-success::after {
  border-style: solid;
  border-color: var(--color-valid);
}

.line-error::after {
  border-style: solid;
  border-color: var(--color-border-subtle);
}

.line-waiting::after {
  border-style: dashed;
  border-color: var(--color-grey-dark);
}

.line-disabled::after {
  border-style: dashed;
  border-color: var(--color-border-disabled);
}
