@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

.description-text {
  margin-bottom: rem.torem(24px);

  &-italic {
    font-style: italic;
  }
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
}

.price-details textarea {
  min-height: rem.torem(160px);
}

.separator {
  border: rem.torem(1px) solid colors.$grey-medium;
  width: rem.torem(40px);
  margin: rem.torem(24px) 0;
}

.offer-educational-stock-form-layout .offer-educational-stock-banner {
  margin: rem.torem(24px) 0;
}
