.description-text {
  margin-bottom: rem(24px);

  &-italic {
    font-style: italic;
  }
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
}
.price-details textarea {
  min-height: rem(160px);
}
