@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

@mixin dotted($color, $position: top) {
  background-image: if(
    $position == top or $position == bottom,
    linear-gradient(to left, $color 10%, transparent 0%),
    linear-gradient($color 10%, transparent 0%)
  );
  background-position: $position;
  background-repeat: if(
    $position == top or $position == bottom,
    repeat-x,
    repeat-y
  );
  background-size: if(
    $position == top or $position == bottom,
    6px 1px,
    1px 6px
  );
}

.csv-main-container {
  background-color: var(--color-white);
  grid-column: col-start / end-line;
  grid-row-start: row-header;
}

.csv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.csv-table {
  tr:focus,
  tr:hover {
    background-color: var(--color-grey-medium);
  }

  thead {
    th {
      padding: rem.torem(10px);
    }
  }

  tbody {
    td {
      line-height: normal;
      padding: rem.torem(10px);
      vertical-align: middle;
    }

    tr {
      @include dotted(var(--color-primary));
    }
  }
}

.no-data-container {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  grid-column-start: col-main;
  grid-row-start: row-header;
  justify-content: center;

  p {
    margin: rem.torem(15px) 0;
  }
}

.separator {
  @include dotted(var(--color-primary));

  border: none;
  height: rem.torem(2px);
  margin: rem.torem(24px) 0;
}

.spinner-container {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  grid-column-start: col-main;
  grid-row-start: row-header;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

@media print {
  @page {
    size: landscape;
  }

  body {
    font-size: xx-small;

    header {
      display: none;
    }
  }
}
