@use "styles/mixins/_fonts.scss" as fonts;

.subtitle {
  @include fonts.title3;

  margin-bottom: var(--size-spacing-m);
}

.signup-offerer-authentication-form {
  margin-bottom: var(--size-spacing-l);
}

.warning-callout {
  margin-bottom: var(--size-spacing-xxl);

  &-text {
    @include fonts.body;
  }
}
