@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.callout {
  position: relative;
  display: flex;
  justify-content: left;
  border-radius: var(--size-border-radius-m);
  padding: var(--size-spacing-l);

  &-info {
    background-color: var(--color-background-info);

    .icon {
      color: var(--color-icon-brand-primary);
    }
  }

  &-success {
    background-color: var(--color-background-success);

    .icon {
      color: var(--color-icon-success);
    }
  }

  &-warning {
    background-color: var(--color-background-warning);

    .icon {
      color: var(--color-icon-warning);
    }
  }

  &-error {
    background-color: var(--color-background-error);

    .icon {
      color: var(--color-icon-error);
    }
  }

  .icon {
    height: var(--typography-body-line-height);
    min-width: rem.torem(20px);
    align-self: start;
    margin-right: var(--size-spacing-l);
  }

  .close-icon {
    background: none;
    border: none;
    align-self: start;
    cursor: pointer;
    min-width: rem.torem(20px);
    margin-left: var(--size-spacing-l);
    color: var(--color-icon-default);
  }
}

.content {
  flex-grow: 1;

  > div,
  .bi-link-item:not(:last-child) {
    margin-bottom: var(--size-spacing-s);
  }

  .title {
    @include fonts.body-accent;
  }
}

.small-callout {
  div {
    margin-bottom: 0;
  }
}
