.ci-wrapper {
  background: $white;
  margin: rem(23px) 0;
  text-align: center;

  &:first-child {
    margin-top: rem(30px);
  }

  .ci-link-label {
    color: $grey-dark;
    font-size: 16px;
    margin-bottom: rem(13px);
  }

  .ci-page-link {
    align-items: center;
    color: $black;
    font-size: rem(22px);
    font-weight: bold;
    line-height: 1.18;

    &:visited {
      color: $black;
    }

    .ci-page-icon {
      margin-right: rem(8px);
    }
  }
}

@media screen and (max-width: $iphone6) {
  .ci-wrapper {
    margin: rem(15px) 0;

    &:first-child {
      margin-top: rem(15px);
    }
  }
}

@media screen and (max-width: $iphone5-width) and (max-height: $iphone5-height) {
  .ci-wrapper {
    font-size: rem(14px);
    margin: 0.3rem 0;

    .ci-page-link {
      font-size: rem(16px);

      span {
        padding: 0;
      }
    }

    .ci-link-label {
      margin-bottom: 0.3rem;
      font-size: rem(14px);
    }
  }

  .sh-search-wrapper {
    padding-bottom: 0.5rem;
  }
}
