.pc-header-top {
  background: linear-gradient(to right, $primary, $secondary);
}

a {
  &.hover-text-underline:hover {
    text-decoration: underline;
  }
  &.link-primary {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.primary-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}

.larger-tooltip {
  .tooltip-inner {
    max-width: 600px !important;
  }
}

.pc-rotate-90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  vertical-align: baseline;
 }
