@mixin select-field {
  min-height: 100%;
  overflow: hidden;
  border-radius: 1rem;
}

select {
  &.pc-select-field {
    @include select-field;
  }
  &.pc-tom-select-field {
    @include select-field;

    &:not(.tomselected):not(.pc-tom-select-autocomplete-field) > option {
      display: none;
    }
  }

  &.dropdown-menu {
    & > option.dropdown-item {
      &:checked {
        background-color: $primary;
        color: white;
      }
    }
  }
}


input {
  &[data-toggle="postal-address-autocomplete"] {
    & + label {
      z-index: map-get($zindex-levels, 5);
    }
  }

  &[aria-describedby="search-icon"] {
    flex-grow: 3 !important;
  }

  &[type="checkbox"] {
    &[role="switch"] {
      height: 1.7rem;
      width: 3rem;
      margin-right: .5rem;
    }
  }
}

.pc-search-inline{
  min-height: 3.6em;
  .form-select {
    height:100%;
  }
}

.daterangepicker {
  td.in-range {
    color: $white !important;
    @extend .bg-secondary
  }
  td.active {
    @extend .bg-dark;
  }
}

form[name="public_accounts_search"] .pc-field-filter {
  min-width: 190px !important
}

form[name="pro_search"] .pc-field-departments {
  min-width: 40% !important
}

.form-check-input.pc-full-opacity:disabled,
.form-check-input.pc-full-opacity[disabled] ~ .form-check-label,
.form-check-input.pc-full-opacity:disabled ~ .form-check-label {
  opacity: 1;
}

.form-floating {
  > label {
    z-index: auto !important;
  }
}