.no-transition {
  transition: none !important;
}

.pc-brevo-logo-link{
  display: inline-block;
  width: 20px;
  height: 2.50em;
}

.pc-app-image-size{
    max-height: 380px;
    max-width: 253px;
}

.pc-mw-50-vw{
  max-width: 50vw;
}

.ml-auto{
  margin-left: auto;
}

.pc-search-block{
  background-color: $gray-100;
  .pc-display-selector{
    label{
      background-color:$white;
      &.pc-display-selector-checked{
        background-color: $purple-200;
      }
    }
    label:hover{
      background-color:$purple-200;
    }

  }
}

.pc-batch-action{
  color: $white;
  bottom:80px;
  .counter-container{
    padding: 10px 80px 10px 8px;
  }
  .btn {
    color: $white;
    padding: 10px 8px;
  }
}

tr:has( input:checked) {
  background-color: rgba(0,0,0, 0.075);
}