.no-transition {
  transition: none !important;
}

.pc-brevo-logo-link{
  display: inline-block;
  width: 20px;
  height: 2.50em;
}

.pc-app-image-size{
    max-height: 380px;
    max-width: 253px;
}

.pc-mw-50-vw{
  max-width: 50vw;
}

.ml-auto{
  margin-left: auto;
}