@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;

$header-height: rem.torem(30px) + rem.torem(42px);

.signup-offerer-layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{size.$action-bar-sticky-height + $header-height});
  gap: rem.torem(60px);
  align-items: center;
  margin: 0 auto rem.torem(80px);
  padding-top: rem.torem(50px);
  padding-bottom: size.$action-bar-sticky-height;
  max-width: rem.torem(488px);
}
