ul.verso-control {
  @extend .no-list-style;

  height: 62px;
  min-height: 62px;

  span[class^='icon-']::before {
    margin: 0;
  }

  // .icon-ico-like,
  // .icon-ico-like-on {
  //   @extend .fs44;
  // }
  //
  // #verso-share-button {
  //   @extend .fs32;
  // }

  li {
    @extend .text-center;
    @extend .is-inline-block;

    // .button.is-go {
    //   .price {
    //     font-weight: normal;
    //     border-right: thin solid;
    //     margin-right: 10px;
    //     padding-right: 10px;
    //     padding-top: 0.5em;
    //     padding-bottom: 0.5em;
    //     margin-top: -0.5em;
    //     margin-bottom: -0.5em;
    //   }
    //
    //   svg {
    //     margin-right: 5px;
    //   }
    // }

    .cancel-button {
      background: transparent;
      color: white;
      border: 2px solid white;
      border-left-style: dotted;
    }
  }
}

@media screen and (max-width: 370px) {
  .verso-control span[class^='icon-'] {
    font-size: 28px;
  }
}

@media screen and (min-width: 371px) {
  .verso-control span[class^='icon-'] {
    font-size: 44px;
  }
}
