ul.verso-control {
  @extend .no-list-style;

  height: 62px;
  min-height: 62px;

  span[class^='icon-']::before {
    margin: 0;
  }

  li {
    @extend .text-center;
    @extend .is-inline-block;

    .cancel-button {
      background: transparent;
      color: white;
      border: 2px solid white;
      border-left-style: dotted;
    }
  }
}

@media screen and (max-width: 370px) {
  .verso-control span[class^='icon-'] {
    font-size: 28px;
  }

  .verso-control .button-with-price .price,
  .verso-control .button-with-price .button-label {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media screen and (min-width: 371px) {
  .verso-control span[class^='icon-'] {
    font-size: 44px;
  }

  .verso-control .button-with-price .price,
  .verso-control .button-with-price .button-label {
    padding-left: 12px;
    padding-right: 12px;
  }
}
