.button-with-price .price,
.button-with-price .button-label {
  border: 2px solid $white;
}

.button-with-price .price {
  border-right: 0;
}

.button-with-price .button-label {
  border-left: 0;
}

.button-with-price .dotted-left-2x-white {
  width: 2px;
  min-width: 2px;
  max-width: 2px;
  height: 40px;
  min-height: 100%;
  max-height: 100%;
}
