.image-preview-shell {
  left: rem(26px);
  position: absolute;
  top: rem(34px);
}

.image-preview-home-preview {
  background-color: $white;
  border-radius: rem(5px);
  left: rem(42px);
  position: absolute;
  top: rem(186px);
}
