@import 'sass-rem';
@import 'styles';

.prebooking-button-booking-limit {
  margin-top: rem(10px);
}

.prebooking-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: rem(12px);
  font-weight: bold;
}

.prebooking-tag {
  padding: rem(4px) rem(8px);
  background: #f9c030;
  border-radius: rem(4px);
  display: flex;
  align-items: center;

  &-icon {
    margin-right: rem(4px);
  }
}

.prebooking-modal {
  &-logo {
    width: rem(48px);
    fill: $primary;
    display: block;
    margin: auto;
    margin-bottom: rem(16px);
  }

  &-title {
    margin: 0 0 rem(24px);
    font-size: rem(20px);
  }

  &-text {
    margin: 0;
  }

  &-buttons {
    display: flex;
    align-items: center;
    margin-top: rem(32px);
    justify-content: center;
  }

  &-button {
    width: rem(140px);

    &:not(:last-of-type) {
      margin-right: rem(24px);
    }
  }

  &-link {
    color: inherit;
  }
}
