.api-key {
  .title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: rem(32px);

    .text {
      @include title3();
    }

    .counter {
      @include title4();

      &--error {
        color: $red-error;
      }
    }
  }

  .info {
    color: $grey-dark;
    margin-top: rem(16px);
  }

  .list {
    display: flex;
    flex-direction: column;
    margin-top: rem(16px);

    .item {
      align-items: center;
      background-color: $grey-light;
      display: flex;
      justify-content: space-between;
      padding: rem(12px) rem(16px);
      width: 100%;

      &:not(:first-child) {
        margin-top: rem(8px);
      }

      .text {
        color: $grey-dark;
        word-break: break-all;

        &--new-key {
          color: $primary;

          @include button();
        }
      }

      .action {
        margin-left: rem(16px);
      }
    }
  }

  .generate {
    margin-top: rem(16px);
    min-width: rem(180px);
  }
}
