.dialog-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--size-spacing-xl);

  &:last-child {
    margin-bottom: 0;
  }
}

.dialog-checkbox-button {
  margin: 0;
}
