@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;
@use "styles/variables/_forms.scss" as forms;

$icon-button-height: rem.torem(32px);

.row {
  align-items: flex-start;
  display: flex;
  margin-top: var(--size-spacing-l);
  gap: var(--size-spacing-s);
  flex-flow: column wrap;

  .input-stock {
    width: rem.torem(200px);
  }

  .input-price {
    width: rem.torem(200px);

    &--digital {
      width: rem.torem(108px);
    }
  }

  > .input-booking-limit-datetime {
    width: rem.torem(224px);
  }

  > .input-activation-codes-expiration-datetime {
    width: rem.torem(160px);
  }
}

@media (min-width: size.$tablet) {
  .row {
    flex-direction: row;
    gap: var(--size-spacing-l);

    > .input-label {
      width: rem.torem(360px);
    }

    > .input-readonly {
      max-width: rem.torem(120px);

      &--first {
        margin-left: var(--size-spacing-l);
      }

      &,
      &--first {
        > span {
          margin-top: rem.torem(7.5px);
        }
      }
    }

    .button-action {
      margin-top: rem.torem(30px);
    }
  }
}
