@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;
@use "styles/variables/_forms.scss" as forms;

$icon-button-height: rem.torem(32px);

.row {
  align-items: flex-start;
  display: flex;
  margin-top: rem.torem(16px);
  gap: rem.torem(8px);
  flex-flow: column wrap;

  .input-price,
  .input-stock {
    width: rem.torem(200px);
  }

  >.input-booking-limit-datetime,
  >.input-activation-codes-expiration-datetime {
    width: rem.torem(224px);
  }
}


@media (min-width: size.$tablet) {
  .row {
    flex-direction: row;
    gap: rem.torem(16px);
  }

  .trash-button {
    margin-top: calc(#{var(--typography-body-line-height)} + #{forms.$label-space-before-input} + #{var(--typography-body-xs-line-height)} + (#{size.$input-min-height} - $icon-button-height) / 2);
  }

  .row.event .input-price {
    margin-top: var(--typography-body-xs-line-height);
  }
}