@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_a11y.scss" as a11y;
@use "styles/mixins/_outline.scss" as outline;

.offers-table-cell {
  &-mobile-label {
    @include fonts.body-accent-xs;

    margin-right: var(--size-spacing-s);
  }
}

.checkbox-column {
  grid-area: check;
  width: fit-content;
}

.thumb-column {
  grid-area: thumb;
  padding: var(--size-spacing-s);

  &-link {
    display: block;
    overflow-wrap: break-word;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &-inactive {
    opacity: 0.5;
  }
}

.title-column {
  grid-area: title;

  &-name {
    @include fonts.body-accent;

    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
    text-align: left;
  }

  &-thumb {
    display: block;
    width: fit-content;
    padding-right: var(--size-spacing-s);
  }

  &-with-thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-offer-id {
    @include fonts.body-accent-xs;

    color: var(--color-text-subtle);
  }
}

.event-date-column {
  grid-area: event-date;
}

.venue-column {
  grid-area: venue;
}

.institution-column {
  grid-area: stock-or-institution;

  @include fonts.body-accent-xs;

  width: rem.torem(150px);
}

.status-column {
  grid-area: status;
  min-width: rem.torem(120px);
  display: flex;
  flex-direction: row;
  align-items: center;

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-headline-offer-star {
    display: flex;
    margin-left: var(--size-spacing-l);

    &-icon {
      color: var(--color-icon-brand-primary);
      vertical-align: middle;
    }
  }

  &-headline-offer-button {
    border: none;
    background: var(--color-background-default);
  }
}

.actions-column {
  grid-area: actions;
  place-self: end end;

  &-container {
    display: flex;
    align-items: center;
    gap: var(--size-spacing-xs);
  }
}

.isbn {
  @include fonts.body-accent-xs;

  color: var(--color-text-subtle);
}

.stocks {
  @include fonts.body-accent-xs;

  color: var(--color-text-subtle);
  display: flex;
  align-items: center;
  position: relative;
}

.sold-out-button {
  border: none;
  background-color: var(--color-background-default);
}

.sold-out-icon {
  width: rem.torem(16px);
  height: rem.torem(16px);
  color: var(--color-icon-error);
  margin-left: var(--size-spacing-xs);
  margin-top: var(--size-spacing-xs);
}

@media screen and (min-width: size.$tablet) {
  .offers-table-cell {
    padding: var(--size-spacing-s);

    &-mobile-label {
      display: none;
    }
  }

  .title-column {
    min-width: rem.torem(150px);

    &-with-thumb {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      min-width: rem.torem(240px);
    }
  }

  .thumb-column {
    padding: var(--size-spacing-s) rem.torem(16px);
  }

  .venue-column {
    @include fonts.body-accent-xs;

    min-width: rem.torem(200px);
  }

  .status-column {
    display: table-cell;

    &-content {
      margin-top: var(--size-spacing-s);
    }
  }

  .actions-column {
    &-container {
      justify-content: flex-end;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;

  &-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: var(--size-spacing-s);

    &:focus-visible {
      @include outline.focus-outline;

      border-radius: var(--size-border-radius-s);
    }

    &[data-highlighted] {
      outline: none;
      background: var(--color-background-subtle);
      cursor: pointer;
    }
  }
}

.separator {
  height: rem.torem(1px);
  width: rem.torem(20px);
  background-color: var(--color-background-inverted);
  margin: var(--size-spacing-xs) 0;
}

.button-cancel-booking {
  color: var(--color-text-error);
}

.status-filter-label {
  cursor: pointer;
  gap: var(--size-spacing-s);
}

.offer-event {
  @include fonts.body-accent-xs;

  width: rem.torem(100px);
  display: flex;
  flex-direction: column;
}

.expiration-date-cell {
  padding: 0;
}

.label {
  *:not(input) {
    @include a11y.visually-hidden;
  }
}

.price-and-participants-column {
  @include fonts.body-accent-xs;

  grid-area: price;
  width: rem.torem(145px);
}

.price-and-participants-container {
  width: rem.torem(145px);
  display: flex;
  flex-direction: column;
}

.location-column {
  @include fonts.body-accent-xs;

  grid-area: location;
  width: rem.torem(150px);
  color: var(--color-text-subtle);
}

.institution-label-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
