@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_forms.scss" as forms;

.container {
  display: flex;
  flex-direction: column;
  gap: rem.torem(18px);
  height: rem.torem(250px);
}

.search-list {
  display: flex;
  flex-direction: column;
  gap: rem.torem(16px);
  max-height: rem.torem(400px);
  overflow-y: scroll;
  padding: rem.torem(8px) 0 0 rem.torem(8px);

  li:last-child {
    margin-bottom: rem.torem(20px);
  }
}

.search-input {
  @include forms.input-theme;

  border: none;

  @include forms.input-theme-nested;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  width: rem.torem(20px);
  height: rem.torem(20px);
  background-image: url("../../../icons/full-clear.svg");
  background-size: rem.torem(20px);
  background-repeat: no-repeat;
  color: var(--color-grey-dark);
  fill: var(--color-grey-dark);
  cursor: pointer;
}
