@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_a11y.scss" as a11y;
@use "styles/mixins/_forms.scss" as forms;

.container {
  display: flex;
  flex-direction: column;
  gap: rem.torem(24px);
  height: rem.torem(250px);
}

.search-label {
  @include a11y.visually-hidden;
}

.search-list {
  display: flex;
  flex-direction: column;
  gap: rem.torem(16px);
  max-height: rem.torem(400px);
  overflow-y: scroll;

    li:last-child {
      margin-bottom: rem.torem(20px);
    }
}

.search-input {
  border: none;

  @include forms.input-theme;

  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  width: rem.torem(20px);
  height: rem.torem(20px);
  background-image: url("../../../icons/full-clear.svg");
  background-size: rem.torem(20px);
  background-repeat: no-repeat;
  color: colors.$grey-dark;
  fill: colors.$grey-dark;
  cursor: pointer;
}
