@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_a11y.scss" as a11y;

.container {
  display: flex;
  flex-direction: column;
  height: rem.torem(250px);
}

.search-list {
  display: flex;
  flex-direction: column;
  max-height: rem.torem(400px);
  overflow-y: scroll;
  padding: var(--size-spacing-s) 0 0 0;
  color: var(--color-text-default);

  li:last-child {
    margin-bottom: rem.torem(20px);
  }
}

.visually-hidden {
  @include a11y.visually-hidden;
}

.checkbox-label {
  padding: var(--size-spacing-s) 0;
}
