@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.card-wrapper {
  margin-left: 0 !important;
  display: flex;
  flex-direction: column;
  gap: rem.torem(16px);

  &.no-shadow {
    box-shadow: none;
  }

  & .venue-offer-steps {
    display: flex;
    flex-direction: column;
    gap: rem.torem(8px);

    .step-venue-creation {
      display: flex;
      flex-direction: row;
      gap: rem.torem(16px);
    }
  }
}

.dms-container {
  margin-bottom: rem.torem(16px);
}

.step-button-width {
  max-width: rem.torem(577px);
}

.step-button-with-info {
  min-width: rem.torem(577px);
}

.step-button-info {
  & > svg,
  &-text {
    display: flex;
    align-self: flex-start;
  }
}

.card-title {
  display: block;
  margin-bottom: rem.torem(8px);

  @include fonts.title4;
}

.inside-partner-block {
  &.card-wrapper {
    border: none;
    padding: 0;
    gap: rem.torem(8px);
  }

  .card-title {
    margin-bottom: 0;

    @include fonts.bold;
  }
}
