@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.it-with-icon-container {
  align-items: center;
  border: rem.torem(1px) solid colors.$grey-medium;
  border-radius: rem.torem(22px);
  box-shadow: 0 rem.torem(2px) rem.torem(6px) 0 colors.$black-shadow;
  display: flex;
  height: rem.torem(40px);
  justify-content: space-between;
  margin-top: rem.torem(8px);
  overflow: hidden;
  width: 100%;

  .labels {
    display: flex;
    justify-content: space-between;
  }

  img {
    height: rem.torem(30px);
    width: rem.torem(30px);
  }

  &:focus-within {
    border: rem.torem(1px) solid colors.$primary;
    box-shadow: 0 0 0 rem.torem(1px) colors.$primary inset;
  }

  &.disabled {
    background-color: colors.$grey-light;
    border: none;
    box-shadow: 0 0 0 rem.torem(1px) colors.$grey-light inset;

    .it-icon {
      background-color: colors.$grey-light;
      box-shadow: 0 0 0 rem.torem(1px) colors.$grey-light inset;
    }

    img {
      cursor: not-allowed;
      filter: opacity(0.5);
    }
  }

  &.error:not(:focus-within) {
    border: rem.torem(2px) solid colors.$red-error;
  }

  .it-input-with-icon {
    @include fonts.body();

    border: none;
    color: colors.$black;
    flex: 1;
    height: 100%;
    outline: none;
    padding: rem.torem(10px) rem.torem(16px);

    &:focus {
      z-index: -1;
    }

    &:disabled {
      background-color: colors.$grey-light;
      color: colors.$grey-dark;
      opacity: 1;
    }
  }

  .it-icon {
    background: none;
    border: none;
    height: 100%;
    margin: 0 rem.torem(16px);
    outline: none;
    vertical-align: center;

    img {
      height: 100%;
    }
  }
}
