#splash {
  align-items: center;
  background-image: url('/splash-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

  #beta-mention {
    color: $white;
    font-weight: lighter;
    padding-left: 0.3em;
    padding-top: 7.5em;
    text-transform: capitalize;
  }
}
