@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.base-dialog {
  // Reset the browser's default styles on the <dialog> tag
  border: none;
  background: transparent;
  margin: auto;
  overflow: visible;

  // Remove the browser's default outline (the outline will be handled by inner focusable elements)
  &:focus-visible {
    outline: none;
  }

  // Default backdrop configuration (the darkened background)
  &::backdrop {
    background-color: var(--color-background-overlay);
    backdrop-filter: blur(4px); // Modern blur effect
  }

  &-simple {
    background-color: #fff;
    display: flex;
    padding: var(--size-spacing-xxl);
    border-radius: var(--size-border-radius-m);
    flex-direction: column;
    will-change: transform, opacity;
    max-width: rem.torem(512px);

    @media screen and (prefers-reduced-motion: no-preference) {
      animation: simple-appear 100ms;
    }
  }
}

.close-button {
  display: flex;
  align-self: flex-end;
  margin-bottom: rem.torem(10px);
}
