@font-face {
  font-family: 'fontello';
<<<<<<< HEAD
  src: url('../font/fontello.eot?60282163');
  src: url('../font/fontello.eot?60282163#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?60282163') format('woff2'),
       url('../font/fontello.woff?60282163') format('woff'),
       url('../font/fontello.ttf?60282163') format('truetype'),
       url('../font/fontello.svg?60282163#fontello') format('svg');
=======
  src: url('../font/fontello.eot?95133992');
  src: url('../font/fontello.eot?95133992#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?95133992') format('woff2'),
       url('../font/fontello.woff?95133992') format('woff'),
       url('../font/fontello.ttf?95133992') format('truetype'),
       url('../font/fontello.svg?95133992#fontello') format('svg');
>>>>>>> 83f1631... 👤 [PROFILE] enable profile page from main menu
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
<<<<<<< HEAD
    src: url('../font/fontello.svg?60282163#fontello') format('svg');
=======
    src: url('../font/fontello.svg?95133992#fontello') format('svg');
>>>>>>> 83f1631... 👤 [PROFILE] enable profile page from main menu
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-eye-close:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e802'; } /* '' */
.icon-next-long:before { content: '\e803'; } /* '' */
.icon-warning:before { content: '\e804'; } /* '' */
.icon-warning-outline:before { content: '\e805'; } /* '' */
.icon-user-circle-outline:before { content: '\e807'; } /* '' */
.icon-next-slide:before { content: '\e808'; } /* '' */
.icon-previous-slide:before { content: '\e809'; } /* '' */
.icon-next:before { content: '\e80a'; } /* '' */
.icon-previous:before { content: '\e80b'; } /* '' */
.icon-previous-long:before { content: '\e80c'; } /* '' */