
.icon-eye-close:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e802'; } /* '' */
.icon-next-long:before { content: '\e803'; } /* '' */
.icon-warning:before { content: '\e804'; } /* '' */
.icon-warning-outline:before { content: '\e805'; } /* '' */
.icon-user-circle-outline:before { content: '\e807'; } /* '' */
.icon-next-slide:before { content: '\e808'; } /* '' */
.icon-previous-slide:before { content: '\e809'; } /* '' */
.icon-next:before { content: '\e80a'; } /* '' */
.icon-previous:before { content: '\e80b'; } /* '' */
.icon-previous-long:before { content: '\e80c'; } /* '' */