
.icon-eye-close:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e802'; } /* '' */
.icon-warning:before { content: '\e804'; } /* '' */
.icon-warning-outline:before { content: '\e805'; } /* '' */
.icon-next:before { content: '\e806'; } /* '' */