@font-face {
  font-family: 'pass_culture-icon_font';
  src: url('../font/pass_culture-icon_font.eot?12361861');
  src: url('../font/pass_culture-icon_font.eot?12361861#iefix') format('embedded-opentype'),
       url('../font/pass_culture-icon_font.woff2?12361861') format('woff2'),
       url('../font/pass_culture-icon_font.woff?12361861') format('woff'),
       url('../font/pass_culture-icon_font.ttf?12361861') format('truetype'),
       url('../font/pass_culture-icon_font.svg?12361861#pass_culture-icon_font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pass_culture-icon_font';
    src: url('../font/pass_culture-icon_font.svg?12361861#pass_culture-icon_font') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pass_culture-icon_font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ico-eye:before { content: '\41'; } /* 'A' */
.icon-ico-filter:before { content: '\42'; } /* 'B' */
.icon-ico-geoloc-circled-solid:before { content: '\43'; } /* 'C' */
.icon-ico-geoloc-circled:before { content: '\44'; } /* 'D' */
.icon-ico-geoloc-solid:before { content: '\45'; } /* 'E' */
.icon-ico-geoloc:before { content: '\46'; } /* 'F' */
.icon-ico-guichet:before { content: '\47'; } /* 'G' */
.icon-ico-hamburger:before { content: '\48'; } /* 'H' */
.icon-ico-aide:before { content: '\49'; } /* 'I' */
.icon-ico-hour-list:before { content: '\4a'; } /* 'J' */
.icon-ico-info:before { content: '\4b'; } /* 'K' */
.icon-ico-info2:before { content: '\4c'; } /* 'L' */
.icon-ico-invite:before { content: '\4d'; } /* 'M' */
.icon-ico-itineraire:before { content: '\4e'; } /* 'N' */
.icon-ico-lieu:before { content: '\4f'; } /* 'O' */
.icon-ico-like-on:before { content: '\50'; } /* 'P' */
.icon-ico-like:before { content: '\51'; } /* 'Q' */
.icon-ico-linkexternal:before { content: '\52'; } /* 'R' */
.icon-ico-minus-circled:before { content: '\53'; } /* 'S' */
.icon-ico-next-l-circled:before { content: '\54'; } /* 'T' */
.icon-ico-next-s:before { content: '\55'; } /* 'U' */
.icon-ico-next-tail:before { content: '\56'; } /* 'V' */
.icon-ico-next:before { content: '\57'; } /* 'W' */
.icon-ico-notificationmark:before { content: '\58'; } /* 'X' */
.icon-ico-offres:before { content: '\59'; } /* 'Y' */
.icon-ico-plus-circled:before { content: '\5a'; } /* 'Z' */
.icon-dropdown-disclosure-down-s:before { content: '\61'; } /* 'a' */
.icon-dropdown-disclosure-down:before { content: '\62'; } /* 'b' */
.icon-dropdown-disclosure-up-s:before { content: '\63'; } /* 'c' */
.icon-dropdown-disclosure-up:before { content: '\64'; } /* 'd' */
.icon-ico-back-w-circled:before { content: '\65'; } /* 'e' */
.icon-ico-back:before { content: '\66'; } /* 'f' */
.icon-ico-barcode:before { content: '\67'; } /* 'g' */
.icon-ico-bin:before { content: '\68'; } /* 'h' */
.icon-ico-boum-s:before { content: '\69'; } /* 'i' */
.icon-ico-calendar-circled:before { content: '\6a'; } /* 'j' */
.icon-ico-calendar:before { content: '\6b'; } /* 'k' */
.icon-ico-carpool:before { content: '\6c'; } /* 'l' */
.icon-ico-check-circled-s:before { content: '\6d'; } /* 'm' */
.icon-ico-check-circled:before { content: '\6e'; } /* 'n' */
.icon-ico-check:before { content: '\6f'; } /* 'o' */
.icon-ico-chevron-up:before { content: '\70'; } /* 'p' */
.icon-ico-close-circled:before { content: '\71'; } /* 'q' */
.icon-ico-close-s:before { content: '\72'; } /* 'r' */
.icon-ico-close-w-circled:before { content: '\73'; } /* 's' */
.icon-ico-close:before { content: '\74'; } /* 't' */
.icon-ico-compta:before { content: '\75'; } /* 'u' */
.icon-ico-deconnect:before { content: '\76'; } /* 'v' */
.icon-ico-delegation:before { content: '\77'; } /* 'w' */
.icon-ico-dupliquer:before { content: '\78'; } /* 'x' */
.icon-ico-edit:before { content: '\79'; } /* 'y' */
.icon-ico-eye-close:before { content: '\7a'; } /* 'z' */
.icon-picto-temps-s:before { content: '\7c'; } /* '|' */
.icon-ico-txt:before { content: '\7e'; } /* '~' */
.icon-picto-encours:before { content: '\a2'; } /* '¢' */
.icon-ico-prev-alt:before { content: '\a9'; } /* '©' */
.icon-ico-stars:before { content: '\ac'; } /* '¬' */
.icon-picto-accessibilite-auditif:before { content: '\ae'; } /* '®' */
.icon-ico-structure:before { content: '\b5'; } /* 'µ' */
.icon-picto-info-stroke:before { content: '\b7'; } /* '·' */
.icon-picto-accessibilite-moteur:before { content: '\ba'; } /* 'º' */
.icon-picto-conference:before { content: '\c2'; } /* 'Â' */
.icon-picto-db-default:before { content: '\c6'; } /* 'Æ' */
.icon-ico-share:before { content: '\c8'; } /* 'È' */
.icon-picto-info-solid:before { content: '\ca'; } /* 'Ê' */
.icon-picto-spectacle:before { content: '\cb'; } /* 'Ë' */
.icon-ico-qr:before { content: '\cc'; } /* 'Ì' */
.icon-picto-musique:before { content: '\cd'; } /* 'Í' */
.icon-picto-jeu:before { content: '\ce'; } /* 'Î' */
.icon-ico-settings:before { content: '\cf'; } /* 'Ï' */
.icon-picto-accessibilite-famille:before { content: '\d2'; } /* 'Ò' */
.icon-picto-textarrow-r:before { content: '\d3'; } /* 'Ó' */
.icon-picto-cinema:before { content: '\da'; } /* 'Ú' */
.icon-ico-plus:before { content: '\df'; } /* 'ß' */
.icon-ico-plus-s:before { content: '\e6'; } /* 'æ' */
.icon-ico-prev-s:before { content: '\ea'; } /* 'ê' */
.icon-ico-search:before { content: '\ee'; } /* 'î' */
.icon-picto-livre:before { content: '\ef'; } /* 'ï' */
.icon-picto-user:before { content: '\0131'; } /* 'ı' */
.icon-picto-video:before { content: '\0152'; } /* 'Œ' */
.icon-ico-upright:before { content: '\0153'; } /* 'œ' */
.icon-ico-prev-tail:before { content: '\0192'; } /* 'ƒ' */
.icon-picto-visite:before { content: '\03a9'; } /* 'Ω' */
.icon-ico-user-circled:before { content: '\03c0'; } /* 'π' */
.icon-picto-accessibilite-mental:before { content: '\2020'; } /* '†' */
.icon-ico-user:before { content: '\2021'; } /* '‡' */
.icon-picto-accessibilite-visuel:before { content: '\2039'; } /* '‹' */
.icon-ico-prev-l-circled:before { content: '\2202'; } /* '∂' */
.icon-picto-group:before { content: '\2206'; } /* '∆' */
.icon-picto-video2:before { content: '\220f'; } /* '∏' */
.icon-picto-warning:before { content: '\2211'; } /* '∑' */
.icon-picto-echec:before { content: '\222b'; } /* '∫' */
.icon-picto-atelier:before { content: '\2248'; } /* '≈' */
.icon-picto-accessibilite-senior:before { content: '\25ca'; } /* '◊' */
.icon-ico-prev:before { content: '\fb01'; } /* 'ﬁ' */
.icon-picto-jeu-copy:before { content: '\fb02'; } /* 'ﬂ' */