@use "styles/mixins/_rem.scss" as rem;

.modal-content {
  padding: rem.torem(24px);
  min-width: rem.torem(416px);
  color: var(--color-text-default);

  &-title {
    color: var(--color-grey-dark);
    margin-bottom: rem.torem(24px);
  }

  &-children {
    max-height: rem.torem(250px);
  }

  &-separator {
    border-bottom: rem.torem(1px) solid var(--color-grey-medium);
    margin-bottom: rem.torem(24px);
  }

  &-footer {
    display: flex;
    justify-content: space-between;
  }
}
