@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;
@use "styles/mixins/_fonts.scss" as fonts;

.summary-layout {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: rem.torem(16px);

  &-content {
    flex-grow: 1;

    &.full-width {
      width: 100%;
    }
  }

  &-side {
    width: rem.torem(231px);
    min-width: rem.torem(231px);
    margin: 0 auto;
    margin-bottom: rem.torem(32px);
  }

  &-section {
    margin-top: rem.torem(8px);
    margin-bottom: rem.torem(40px);

    &-header {
      display: flex;
      flex-direction: row;
      align-items: top;
      margin: rem.torem(24px) 0;

      &-edit-link {
        height: unset;
        padding-left: rem.torem(16px);
      }

      @media (min-width: size.$tablet) {
        align-items: center;
      }
    }
  }

  &-sub-section {
    margin-bottom: rem.torem(24px);

    &-title {
      @include fonts.title4;

      margin-bottom: rem.torem(24px);
    }
  }

  &-row {
    margin-bottom: rem.torem(16px);
    max-width: 100%;

    &-title {
      color: var(--color-grey-dark);
      flex-shrink: 0;
    }

    &-description {
      word-break: break-word;
      white-space: pre-line;
      line-height: rem.torem(24px);
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}

@media (min-width: size.$tablet) {
  .summary-layout {
    flex-direction: row;
    gap: rem.torem(112px);

    &-side {
      margin-bottom: 0;
    }
  }
}

.section-title {
  @include fonts.title3;

  padding-right: rem.torem(16px);

  &.section-title-editable {
    border-right: rem.torem(1px) solid var(--color-grey-medium);
  }
}
