.offer-preview {
  background-color: $grey-very-light;
  border-radius: 3px;

  .category {
    background-color: $white;
    border-radius: 3px;
    margin-top: rem(6px);
    padding: 0 rem(15px);
  }

  .category-description {
    @include preview-text();

    padding: rem(16px) 0;
  }

  .category-title {
    @include body-important();

    padding-top: rem(11px);
  }

  .title-preview {
    @include body-important();

    padding-top: rem(18px);
    text-align: center;
  }
}
