@import "sass-rem";
@import 'styles';

.no-results {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  &-text {
    color: $black;
  }

  &-icon {
    height: rem(80px);
    width: rem(80px);
  }

  &-button {
    display: flex;
    align-items: center;

    &:hover {
      .no-results-button-reset-icon {
        fill: $white
      }
    }

    &-reset-icon {
      height: rem(20px);
      width: rem(20px);
      fill: $primary;
      margin-right: rem(10px);

    }
  }
}
