@use "styles/variables/_size.scss" as size;
@import "sass-rem";

main.app-layout {
  display: flex;
  flex-direction: column;
  grid-column-start: col-main;
  grid-row-start: row-main;
}

.root-adage {
  display: grid;
  grid-template-columns: [col-start] 1fr [col-main] size.$main-content-width 1fr;
  grid-template-rows: [row-nav] rem(72px) [row-header] rem(80px) [row-main] 1fr [row-footer] rem(
      120px
    );
  min-height: 100vh;
}

.app-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: rem(24px) 0 rem(32px);

  .app-logo {
    width: rem(120px);
  }

  &-right {
    display: flex;
    align-items: center;

    .app-layout-header-title {
      margin: 0;
      font-size: rem(20px);
      font-weight: 700;
    }
  }
}

.app-layout-header-help-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  margin-left: rem(24px);
  font-weight: 600;
  font-size: rem(12px);

  &-icon {
    margin-right: rem(4px);
  }
}
