@use "styles/mixins/_rem.scss" as rem;

main.app-layout {
  display: flex;
  flex-direction: column;
  grid-column-start: col-main;
  grid-row-start: row-main;
}

.app-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: rem.torem(24px) 0 rem.torem(32px);

  .app-logo {
    width: rem.torem(120px);
  }

  &-right {
    display: flex;
    align-items: center;

    .app-layout-header-title {
      margin: 0;
      font-size: rem.torem(20px);
      font-weight: 700;
    }
  }
}

.app-layout-header-help-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  margin-left: rem.torem(24px);
  font-weight: 600;
  font-size: rem.torem(12px);

  &-icon {
    margin-right: rem.torem(4px);
  }
}
