@use 'styles/mixins/_rem.scss' as rem;

.password-set-request-form,
.password-set-request {
  h1 {
    margin-bottom: rem.torem(16px);
  }

  h2 {
    margin-bottom: rem.torem(32px);
  }

  label {
    margin-bottom: rem.torem(48px);
  }
}

.set-password-form {
  .field-password {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .field-password > label {
    width: 90%;
  }

  .field-password > img {
    position: absolute;
    right: rem.torem(16px);
    top: rem.torem(37px);
  }
}

.set-password-legal-infos {
  margin-top: rem.torem(22px);
}

// This is to override the width of content class
#override-content-width {
  width: rem.torem(488px);
}

.password-set-button {
  margin-top: rem.torem(23px);
  width: rem.torem(232px);
}

.password-set {
  h1 {
    margin-bottom: rem.torem(16px);
  }

  h2 {
    margin-bottom: rem.torem(24px);
  }
}
