@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

// Add padding/margin because stepper labels are absolute positioned
// 20px is a magical value to visually align the stepper labels
// TODO (alberict): refactor the stepper component CSS so that the labels
// can't overflow the container (should be possible with flexbox and/or ::before pseudo-elements)
.stepper-navigation {
  padding-left: rem.torem(20px);
  padding-right: rem.torem(20px);
}

.eac-layout {
  position: relative;

  &-tag {
    margin-bottom: rem.torem(4px);
  }

  &-headings {
    margin-bottom: rem.torem(24px);
  }

  &-heading {
    @include fonts.title1;

    margin-bottom: rem.torem(8px);
  }

  &-sub-heading {
    max-width: rem.torem(588px);
    display: block;
    font-weight: 500;
  }

  &-navigation {
    margin-bottom: rem.torem(32px);
  }
}
