@use 'styles/mixins/_rem.scss' as rem;

.eac-layout {
  position: relative;

  &-tag {
    margin-bottom: rem.torem(4px);
  }

  &-headings {
    margin-bottom: rem.torem(32px);
  }

  &-sub-heading {
    max-width: rem.torem(588px);
    margin-top: rem.torem(4px);
    font-weight: 500;
  }

  &-breadcrumb {
    margin-bottom: rem.torem(32px);
  }
}
