@use "src/styles/mixins/_rem.scss" as rem;

// Add padding/margin because stepper labels are absolute positioned
// 20px is a magical value to visually align the stepper labels
// TODO (alberict): refactor the stepper component CSS so that the labels
// can't overflow the container (should be possible with flexbox and/or ::before pseudo-elements)
.stepper-breadcrumb {
  padding-left: rem.torem(20px);
  padding-right: rem.torem(20px);
}

.eac-layout {
  position: relative;

  &-tag {
    margin-bottom: rem.torem(4px);
  }

  &-headings {
    margin-bottom: rem.torem(32px);
  }

  &-sub-heading {
    max-width: rem.torem(588px);
    margin-top: rem.torem(4px);
    font-weight: 500;
  }

  &-breadcrumb {
    margin-bottom: rem.torem(32px);
  }
}
