@import 'sass-rem';
@import 'styles';

.offer-filters-tags-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: rem(16px);
}

.offer-filters-tags {
  display: flex;
  flex-wrap: wrap;

  .tag {
    margin-bottom: rem(8px);
    margin-right: rem(8px);
  }
}

.offer-filters-reset {
  margin-left: rem(8px);
  display: flex;
  align-items: center;
  font-size: rem(12px);
  font-weight: 600;
  min-width: rem(146px);
  padding: rem(4px) 0;
  background-color: transparent;
  border: unset;
  cursor: pointer;

  &-icon {
    width: rem(16px);
    height: rem(16px);
    margin-right: rem(4px);
    fill: $black
  }
}
