@use "styles/mixins/_fonts.scss" as fonts;

.section {
  margin-top: var(--size-spacing-xl);
}

.title {
  @include fonts.title2;

  margin-bottom: var(--size-spacing-s);
}

.description {
  margin-bottom: var(--size-spacing-l);
}
