.empty-offer-image {
  align-items: center;
  background-color: #ecf0f1;
  border: none;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  height: 432px;
  width: 288px;
  justify-content: center;
  margin-bottom: 1.125rem;
}
