.empty-offer-image {
  align-items: center;
  background-color: #ecf0f1;
  border: none;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  height: 432px;
  width: 288px;
  justify-content: center;
  margin-bottom: 1.125rem;
}

/********************
 * Offer details v2 *
 ********************/

.accessibility-logo-container {
  max-width: 72px;
}

.accessibility-logo {
  height: 48px;
  width: 48px;
}

$offer-image-width:         160px;
$offer-image-height:        200px;

.offer-image {
  max-width: $offer-image-width;
  max-height: $offer-image-height;
}


.offer-no-image {
  width: $offer-image-width;
  height: $offer-image-height;
}
