.criteria-location-page {
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.cl-wrapper {
  align-items: center;
  display: flex;
  border-bottom: rem(1px) solid $grey-even-more-light;
  margin-left: rem(20px);
  margin-right: rem(20px);
  padding-bottom: rem(20px);
  padding-top: rem(20px);
}

.cl-icon {
  padding-left: rem(3px);
  padding-right: rem(25px);
}

.cl-warning-message {
  color: $grey;
  font-size: rem(14px);
  font-weight: 500;
}
