$white: #FFFFFF;
$grey-light: #F5F5F5;
$grey-medium: #C7C7CC;
$grey-dark: #626262;
$grey: $grey-dark; // Uniquement utile pour lassasvy
$black: #151515;

$primary: #EB0055;
$secondary: #320096;
$accent: #0066FF;
$primary-disabled: #FF99BE;
$green-valid: #15884F;
$error: #E60039;

$ribbon-blue: #0066FF;
$ribbon-green: #78FB59;
$ribbon-red: #B30041;
$ribbon-yellow: #FFF46D;

$teaser-gradient-start: #C00065;
$teaser-gradient-end: #650084;
$transparent: rgba(0, 0, 0, 0);
$linear-gradient-to-right: linear-gradient(to right, $teaser-gradient-start, $teaser-gradient-end);
$linear-gradient-deck: linear-gradient(to bottom, $transparent 0%, $black 30%);
$linear-gradient-search: linear-gradient(108deg, $primary -6%, #D0005F 103%);

:export {
  primary: $primary;
  black: $black;
}
