$black: #000000;
$green: #27AE60;
$grey-border-mb: #D8D8D8;
$grey-lighter: #EDF1F2;
$grey-light: #DAE1E3;
$grey: #757575;
$grey-dark: #404040;
$grey-darker: #4A4A4A;
$grey-transition: #222222;
$grey-finished: #333333;
$left-mb-corner: #BE0066;
$purple-blue: #320096;
$right-mb-corner: #690083;
$violet: #BD10E0;
$white: #FFFFFF;
$white-bis: #F4F4F6;
$white-ter: #F5F5F5;
$error: #D0021B;

$primary: #EB0055;

$jauge-green: rgba(176, 222, 0, 1);
$jauge-orange: rgba(255, 151, 0, 1);

$ribbon-blue: #0066FF;
$ribbon-green: #78FB59;
$ribbon-red: #B30041;
$ribbon-yellow: #FFF46D;

$teaser-gradient-start: #C00065;
$teaser-gradient-end: #650084;
