// Responsive breakpoints

$gap: 12px;
$tablet: 769px;
$desktop: 1000px + (2 * $gap); // 1088px
$widescreen: $desktop;
$fullhd: $desktop;

// Colors

$black: hsl(0, 0%, 4%) !default;
$black-with-transparency: rgba($black, 0.8);
$black-bis:    hsl(0, 0%, 7%) !default;
$black-ter:    hsl(0, 0%, 14%) !default;
$blue-light: rgba(132, 146, 166, 0.94);
$blue: #0076FF;
$cyan:         hsl(204, 86%, 53%) !default;
$green: #B8E986;
$grey-lighter: #F7F7F7;
$grey-light: #DAE1E3;
$grey: #757575;
$grey-dark: #DCDDDC;
$grey-darker: rgba(54, 54, 54, 0.3) !default;
$grey-darkest: #404040;
$orange:       hsl(14, 100%, 53%) !default;
$purple:       hsl(271, 100%, 71%) !default;
$purple-dark: #320096;
$red: #EB0055;
$turquoise:    hsl(171, 100%, 41%) !default;
$violet: #BD10E0;
$violet-dark: rgb(189, 16, 224);
$white-ter:    hsl(0, 0%, 96%) !default;
$white-bis:    hsl(0, 0%, 98%) !default;
$white:        hsl(0, 0%, 100%) !default;
$yellow:       hsl(48, 100%, 67%) !default;
$yellow-bis:       hsl(55, 100%, 50%) !default;

$primary: $red;

// Texts

$text: $black;
$link: $text;
$title-color: inherit;
$subtitle-color: inherit;
$text-strong: inherit;
$success: $green;
$input-color: $text;

// Typography

$family-monospace: monospace !default;
$family-sans-serif: 'Barlow', 'Helvetica Neue', Arial, sans-serif;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

$font-size: 16px;

$body-line-height: 1.1875em;
$title-line-height: $body-line-height;
$subtitle-line-height: 1.2em;

// Sizes

$size-xlarge: 2.5rem; // 40px
$size-large: 2rem; // 32px
$size-medium: 1.25rem; // 20px
$size-normal: 1rem; // 16px
$size-small: 0.75rem; // 12px

$size-1: 2rem; // 32px
$size-2: 1.25rem; // 20px
$size-3: 1.25rem; // 20px
$size-4: 1.2rem;
$size-5: 1.1rem;
$size-6: 1rem;
$size-7: 0.75rem;

// Forms

$control-height: 2.25em; // !! Not a bulma variable !!
$control-border-width: 2px;
$control-radius: $control-height/2;
$control-radius-small: $control-radius;
$control-padding-horizontal: 1em;
$input-border-color: $grey-light;
$input-focus-border-color: $primary;
$input-hover-border-color: $grey-light;
$input-disabled-border-color: $primary;
$input-focus-box-shadow-size: 0;
$input-shadow: none;
$label-weight: $weight-normal;

// Buttons

$button-border-color: $grey-light;
$button-padding-vertical: 0.1em;
$button-padding-horizontal: 0.75em;
$radius: 0;
$radius-small: 0;
$radius-medium: 1rem;

$button-disabled-opacity: 0.3;

// Spacing

$section-padding: 1rem 0;
$page-padding: 4rem;
$footer-height-padding: 1rem;

$header-height: 3.375rem; // 54px
$header-display-height: 9.375rem; // 150px
$footer-height: 3.5rem;

// Header

$navbar-dropdown-border-top: 1px dotted $red;
$navbar-dropdown-radius: 0;

// Misc

$box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0 0 10px rgba(0, 0, 0, 0.4);

// Notification

$notification-background-is-danger: #FF8097;
$notification-background-is-info: #B3E7FF;
$notification-background-is-success: #B8E986;
$notification-background-is-warning: #FFD580;
$notification-padding: 0.75rem;
$notification-text: hsl(0, 0%, 0%);

// Mixins

$rem-baseline: 16px !default;
$rem-fallback: true !default; // always force callback
$rem-px-only: false !default;

// Helpers
$flexSpaces: (0, 1, 2, 3, 4, 5, 6, 7);
$marginPaddingIntSizes: (
  0,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  10,
  12,
  16,
  18,
  20,
  22,
  24,
  28,
  30,
  32,
  36,
  40,
  48,
  56,
  60
);
$textIntSizes: (12, 13, 14, 15, 16, 18, 19, 20, 22, 30, 32, 36, 48, 52, 60, 80);

// Input Range

$track-color: #95A5A6;
$thumb-color: #E60039;

$thumb-radius: 12px !default;
$thumb-height: 24px !default;
$thumb-width: 24px !default;
$thumb-shadow-size: 0;
$thumb-shadow-blur: 0;
$thumb-shadow-color: rgba(0, 0, 0, 0.2) !default;
$thumb-border-width: 0;
$thumb-border-color: transparent;

$track-width: 100% !default;
$track-height: 3px !default;
$track-shadow-size: 0;
$track-shadow-blur: 0;
$track-shadow-color: transparent;
$track-border-width: 0;
$track-border-color: transparent;

$track-radius: 0;
$contrast: 5% !default;

$ie-bottom-track-color: darken($track-color, $contrast) !default;
