$zindex-beta-corner: 10000;
$zindex-splash: 9000;
$zindex-main-menu: 8000;
$zindex-share-popin: 8000;
$zindex-overlay: 7000;
$zindex-application-loader: 6000;
$zindex-booking-card: 5500;
$zindex-verso-view: 5000;
$zindex-main-footer: 250;
$zindex-decknavigation: 200;
$zindex-navigation-arrows: 101;
$zindex-deckdraggable: 100;
