@use "styles/mixins/_fonts.scss" as fonts;

.onboarding-offer-container {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-xxl);
  align-items: flex-start;
  justify-content: flex-start;
}

.onboarding-offer-header-subtitle {
  @include fonts.title3;
}
