@use "styles/mixins/_rem.scss" as rem;

.cinema-provider-form {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &-content {
    flex-grow: 1;
  }

  &-buttons {
    display: flex;
    align-items: center;
    gap: rem.torem(16px);
  }
}

.form-layout-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: rem.torem(24px);
  margin-bottom: rem.torem(16px);
}

.price-input,
.nb-places-input {
  width: rem.torem(220px);
}

.allocine-provider-form-banner {
  margin: rem.torem(32px) 0;
}
