@use "styles/mixins/_rem.scss" as rem;

.unavailable-offerer-creation {
  text-align: center;

  .heading-2 {
    margin: rem.torem(28px);
  }

  &-icon {
    width: rem.torem(100px);
    height: rem.torem(80px);
  }
}
