@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;

.discovery-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: rem.torem(131px);
  position: relative;

  &-title {
    margin: 0;
    color: var(--color-white);
    font-size: rem.torem(24px);
    font-weight: 800;
    text-align: center;
    line-height: normal;
    position: relative;
    z-index: 1;

    &-highlight {
      color: var(--color-adage-purple);
      padding: rem.torem(2px);
      background-color: var(--color-white);
      border-radius: rem.torem(8px);
      white-space: nowrap;
    }
  }

  &-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--color-adage-purple);
    background-image: linear-gradient(
      to right,
      var(--color-secondary),
      var(--color-secondary-light) 80%
    );

    .discovery-banner-svg-oval {
      fill: var(--color-secondary-light);
    }

    .discovery-banner-svg-cross,
    .discovery-banner-svg-circle {
      fill: rgb(from var(--color-grey-light) r g b / 40%);
    }
  }
}

@media (min-width: size.$tablet) {
  .discovery-banner {
    &-title {
      font-size: rem.torem(32px);

      &-highlight {
        padding: rem.torem(4px);
      }
    }
  }
}
