.bookings-page main,
.favorites-page main,
.search-home-page,
.loader,
.loading-page {
  padding-bottom: $navbar-height;
}

.profile-page,
.search-results-page {
  margin-bottom: $navbar-height;
}

.navbar {
  background: rgba(255,255,255, 0.97);
  border-top: 1px solid $grey-even-more-light;
  bottom: 0;
  height: $navbar-height;
  position: absolute;
  width: 100%;
  z-index: $zindex-navbar;

  ul {
    display: flex;
    height: 100%;
    justify-content: space-around;
    margin-top: rem(-1px);
  }

  li {
    flex-grow: 1;
  }

  a {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  svg {
    fill: $grey;
  }

  .active {
    background: no-repeat url('/icons/ico-nav-active.svg');
    background-position-x: center;

    svg {
      fill: url(#NavIco);
    }
  }
}
