.profile-page main,
.page-reservations main,
.page-favoris main {
  margin-bottom: 60px;
}

.navbar {
  background: $white;
  bottom: 0;
  color: red;
  height: 60px;
  position: absolute;
  width: 100%;
  z-index: $zindex-navbar;

  ul {
    display: flex;
    height: 100%;
    justify-content: space-around;
  }

  li {
    flex-grow: 1;
  }

  a {
    border: 1px solid $black;
    display: block;
    height: 100%;
  }
}
