.navbar {
  background: $white;
  border-top: 1px solid $grey-even-more-light;
  height: rem(60px);
  width: 100%;

  ul {
    display: flex;
    height: 100%;
    justify-content: space-around;
  }

  li {
    flex-grow: 1;
  }

  a {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  svg {
    fill: $grey;
  }

  .active {
    background: top / rem(44px) rem(2px) no-repeat linear-gradient(to right, $primary -43%, $purple-blue 154%);

    svg {
      fill: url(#NavIco);
    }
  }
}
