@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;
@use "styles/variables/_size.scss" as sizes;

.sign-in-page {
  display: flex;
  flex-direction: row;
  min-height: rem.torem(700px);

  .logo-side {
    background-image: url("/icons/linear-gradient.svg");
    box-shadow: inset rem.torem(-10px) 0 rem.torem(20px) 0 colors.$black-shadow;
    min-width: rem.torem(520px);
    background-size: cover;
  }

  .scrollable-content-side {
    overflow: auto;
    position: relative;
    width: 100%;

    .content {
      margin-left: calc(sizes.$signup-content-margin + 15%);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: rem.torem(486px);

      .has-text-grey {
        @include fonts.caption;

        color: colors.$grey-dark;
      }
    }
  }

  .title,
  .subtitle {
    font-style: italic;

    span {
      display: inline-block;
    }
  }

  h1 {
    margin-bottom: rem.torem(16px);
  }

  h2 {
    margin-bottom: rem.torem(24px);
  }

  form {
    margin-top: rem.torem(16px);
  }

  .signin-form {
    margin-bottom: rem.torem(40px);

    .ico-key {
      width: rem.torem(20px);
      height: rem.torem(20px);
    }
  }

  .buttons-field {
    display: flex;
    flex-wrap: wrap;
    gap: rem.torem(24px);
    margin-top: rem.torem(32px);

    a,
    button {
      text-align: center;
      margin-bottom: rem.torem(5px);
      width: rem.torem(231px);
    }
  }

  .email-input {
    margin-bottom: rem.torem(25px);
  }

  .server-error-message {
    color: colors.$primary;
    display: flex;
    margin-top: rem.torem(32px);

    span {
      margin-left: rem.torem(5px);
    }
  }
}
