.sign-in-page {
  display: flex;
  flex-direction: row;
  min-height: 700px;

  .logo-side {
    background-image: url(/icons/linear-gradient.svg);
    box-shadow: inset -10px 0 20px 0 $black-shadow;
    min-width: 520px;
    background-size: cover;
  }

  .scrollable-content-side {
    overflow: auto;
    position: relative;
    width: 100%;

    .content {
      margin-left: calc(30px + 15%);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 400px;
    }
  }

  .title,
  .subtitle {
    font-style: italic;

    span {
      display: inline-block;
    }
  }

  h1 {
    margin-bottom: rem(16px);
  }

  h2 {
    line-height: rem(24px);
    margin-bottom: rem(24px);
  }

  form {
    margin-top: rem(16px);

    label {
      margin-bottom: rem(24px);
    }
  }

  .signin-form {
    margin-bottom: rem(48px);
  }

  .buttons-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .email-input {
    margin-bottom: rem(25px);
  }

  .server-error-message {
    color: $primary;
    display: flex;
    margin-top: rem(32px);

    span {
      margin-left: rem(5px);
    }
  }
}
