.vertical-bar {
  background-color: $grey-light;
  width: $control-border-width;
  height: rem(40px)
}

.fw-first-line {
  display: flex;
  justify-content: flex-start;
  margin-bottom: rem(30px);
  border-radius: rem(20px);
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);

  &.disabled {
    box-shadow: none;
  }

  &:focus-within {
    .vertical-bar {
      background-color: $red;
    }
  }

  select {
    border: $control-border-width solid $grey-light;
    border-radius: rem(20px);
    cursor: pointer;
    font-weight: $weight-bold;
    font-size: rem(16px);
    height: rem(40px);
    outline: none;
    padding-left: rem(10px);
    padding-right: rem(30px);

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("/icons/dropdown-disclosure-down-b.svg") no-repeat 92% 56%;

    &:focus {
      border-color: $red;
    }

    &:disabled {
      background-color: $grey-disabled-input-background;
      background-image: url("/icons/dropdown-disclosure-down-b-disabled.svg");
      border-color: $grey-disabled-input-background;
      color: $grey-disabled-input-color;
      cursor: initial;
      opacity: 1;
      font-weight: normal;
    }
  }

  .fw-booking-text-filters-select {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 2.5rem;
    padding-left: rem(16px);
    width: rem(200px);
  }

  .fw-booking-text-filters-input {
    flex-grow: 1;
    border-radius: 0 rem(20px) rem(20px) 0;
    border: $control-border-width solid $grey-light;
    padding: rem(10px) rem(16px);
    font-size: rem(16px);
    border-left: none;
    height: rem(40px);

    &:focus {
      outline: none;
      border-color: $red;
    }

    &:disabled {
      background-color: $grey-disabled-input-background;
      border-color: $grey-disabled-input-background;
      color: $grey-disabled-input-color;
      opacity: 1;

      &::placeholder {
        color: $grey-disabled-input-color;
      }
    }
  }
}

.fw-second-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(30px);

  .field-date {
    display: flex;
    align-items: center;
    border-radius: rem(20px);
    height: rem(40px);
    background-image: url(/icons/ico-calendar.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 90%;

    &:focus-within {
      border-color: $red;
    }

    &.disabled {
      background-image: url(/icons/ico-calendar-disabled.svg);
    }
  }

  .react-datepicker-wrapper {
    display: inherit;
  }

  .fw-offer-date {
    .fw-offer-date-picker:focus-within {
      .field-date {
        border-color: $red;
      }
    }

    button {
      outline: none;
    }

    .field-date {
      box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
      margin-top: rem(12px);

      &.disabled {
        box-shadow: none;
      }
    }

    .fw-offer-date-label {
      margin-bottom: rem(12px);
    }

    .fw-offer-date-input {
      border: 0;
      background: none;
      cursor: pointer;
      font-size: rem(16px);
      padding-left: rem(10px);
      outline: none;
      width: rem(150px);

      &:disabled {
        color: $grey-disabled-input-color;
        cursor: initial;
        opacity: 1;

        &::placeholder {
          color: $grey-disabled-input-color;
        }
      }
    }
  }

  .fw-venues {
    display: flex;
    flex-direction: column;
    padding-left: rem(24px);

    .fw-offer-venue-label {
      font-size: rem(16px);
    }

    select {
      border: $control-border-width solid $grey-light;
      cursor: pointer;
      font-size: rem(16px);
      border-radius: rem(20px);
      box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
      height: rem(40px);
      margin-top: rem(12px);
      padding-left: rem(16px);
      padding-right: rem(30px);
      word-wrap: break-word;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: rem(200px);
      outline: none;
      overflow-y: scroll;

      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: url("/icons/dropdown-disclosure-down-b.svg") no-repeat 92% 56%;

      &:focus {
        border-color: $red;
      }

      &:disabled {
        background-color: $grey-disabled-input-background;
        background-image: url("/icons/dropdown-disclosure-down-b-disabled.svg");
        border-color: $grey-disabled-input-background;
        box-shadow: none;
        color: $grey-disabled-input-color;
        cursor: initial;
        opacity: 1;
      }
    }
  }

  .fw-booking-date {
    padding-left: rem(24px);

    .fw-booking-date-inputs {
      display: flex;
      border-radius: rem(20px);
      box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
      height: rem(40px);
      margin-top: rem(12px);

      .fw-booking-date-begin-picker:focus-within {
        .field-date-begin {
          border-color: $red;
        }
      }

      .fw-booking-date-end-picker:focus-within {
        .field-date-end {
          border-color: $red;
        }
      }

      button {
        outline: none;
      }

      .field-date {
        box-shadow: none;
      }

      .fw-booking-date-input {
        background: none;
        border: 0;
        cursor: pointer;
        font-size: rem(16px);
        outline: none;
        padding-left: rem(10px);
        width: rem(135px);

        &:disabled {
          color: $grey-disabled-input-color;
          cursor: initial;
          opacity: 1;

          &::placeholder {
            color: $grey-disabled-input-color;
          }
        }
      }

      .field-date-begin {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: rem(40px);

        &:focus-within {
          border-color: $red;
        }
      }

      .field-date-end {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: rem(40px);

        &:focus-within {
          border-color: $red;
        }
      }

      &.disabled {
        box-shadow: none;
      }
    }
  }

  .fw-booking-date:focus-within {
    .vertical-bar {
      background-color: $red;
    }
  }
}

.bs-filter {
  position: relative;

  button {
    background-color: transparent;
    border: none;
    outline: none;
  }

  img {
    height: rem(16px);
    margin-left: rem(10px);
    vertical-align: text-bottom;
    width: rem(16px);
  }

  .bs-filter-label {
    color: $grey;
    font-size: rem(14px);
    font-weight: $weight-medium;
    padding-bottom: rem(8px);
    white-space: nowrap;
  }

  .bs-filter-tooltip {
    background-color: $white;
    border-radius: rem(4px);
    box-shadow: 0 rem(2px) rem(10px) 0 rgba(0, 0, 0, 0.3);
    margin-top: rem(8px);
    position: absolute;
    padding: rem(16px);
    left: rem(-90px);
    z-index: 1;
  }

  label {
    display: flex;
    padding-top: rem(8px);
    padding-bottom: rem(8px);
  }
}
