.fw-offer-name {
  align-items: center;
  display: flex;
  margin-bottom: rem(24px);

  .fw-offer-name-label {
    flex: 1;
    font-weight: $weight-bold;
  }

  .fw-offer-name-input {
    border-radius: rem(20px);
    border: $control-border-width solid $grey-light;

    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
    flex: 4;
    height: rem(40px);
    padding: rem(10px) rem(16px);
    font-size: rem(16px);
    font-weight: $weight-medium;

    &:focus {
      outline: none;
      border-color: $red;
    }
  }
}

.fw-second-line {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: rem(30px);

  .fw-offer-date {
    flex: 1;

    .fw-offer-date-label {
      margin-bottom: rem(12px);
    }

    .field-date {
      border-radius: rem(20px);
      box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
      height: rem(40px);
      margin-top: rem(12px);

      &:focus-within {
        border-color: $red;
      }

      .fw-offer-date-input {
        border: 0;
        background: none;
        cursor: pointer;
        font-size: rem(16px);
        font-weight: $weight-medium;
        padding-left: rem(10px);
        outline: none;
        width: rem(150px);

        &::placeholder {
          opacity: 1;
        }
      }

      img {
        margin-right: rem(25px);
      }
    }
  }

  .fw-venues {
    display: flex;
    flex-direction: column;
    padding-left: rem(24px);

    .fw-offer-venue-label {
      font-size: rem(16px);
    }

    select {
      border: 2px solid $grey-light;
      cursor: pointer;
      font-weight: $weight-normal;
      font-size: rem(16px);
      border-radius: rem(20px);
      box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
      height: rem(40px);
      margin-top: rem(12px);
      padding-left: rem(10px);
      padding-right: rem(30px);
      word-wrap: break-word;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: rem(200px);
      outline: none;
      overflow-y: scroll;

      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: url("/icons/dropdown-disclosure-down-b.svg") no-repeat 92% 56%;

      &:focus {
        border-width: $control-border-width;
        border-color: $red;
      }
    }
  }

  .fw-booking-date {
    flex: 2;
    padding-left: rem(24px);

    .fw-booking-date-inputs {
      display: flex;
      border-radius: rem(20px);
      box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
      height: rem(40px);
      margin-top: rem(12px);

      .field-date {
        border-radius: rem(20px);
        text-align: left;

        .fw-booking-date-input {
          border: 0;
          cursor: pointer;
          font-size: rem(16px);
          font-weight: $weight-medium;
          outline: none;
          padding-left: rem(10px);
          width: rem(135px);

          &::placeholder {
            opacity: 1;
          }
        }
      }

      .field-date-begin {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: rem(40px);

        &:focus-within {
          border-width: $control-border-width;
          border-color: $red;
        }
      }

      .field-date-end {
        border-left: 2px solid $white;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: rem(40px);

        &:focus-within {
          border-color: $red;
        }
      }

      img {
        margin-right: rem(20px);
      }
    }
  }
}
