.field-date-only {
  @extend .field-input;
  @extend .field-date;

  &.disabled {
    background-color: $grey-disabled-input-background;
    border-color: $grey-disabled-input-background;
    opacity: 1;
  }
}
