.homepage {
  .pc-breadcrumb {
    margin-bottom: rem(32px);
    margin-top: rem(24px);
  }

  .h-description-list {
    .h-dl-row {
      display: flex;
      flex-direction: row;
      margin-top: rem(8px);
    }

    .h-dl-title {
      color: $grey-dark;
      flex-shrink: 0;
    }

    .h-dl-description {
      margin-left: rem(8px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .h-card {
    border: rem(1px) solid $grey-medium;
    border-radius: rem(8px);
    box-shadow: 0 rem(2px) rem(6px) 0 rgba($black, 0.15);
    overflow: hidden;

    &.h-card-placeholder {
      min-height: rem(205px);

      .h-card-inner {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: rem(205px);
      }
    }

    .h-card-inner {
      border-left: rem(8px) solid $grey-medium;
      height: 100%;
      padding: rem(16px) rem(16px) rem(24px);
      width: 100%;

      &.h-no-bottom {
        padding-bottom: 0;
      }
    }

    .h-card-header-row {
      display: flex;
      flex-direction: row;
      height: rem(18px);
      justify-content: space-between;

      .tertiary-link {
        align-self: center;
        display: flex;
      }
    }

    &.h-card-primary {
      .h-card-inner {
        border-color: $primary;
      }
    }

    &.h-card-secondary {
      .h-card-inner {
        border-color: $secondary;
      }
    }

    &.h-card-secondary-hover {
      &:focus,
      &:hover {
        border-color: $secondary;

        .h-card-inner {
          border-color: $secondary;
        }
      }
    }

    .h-card-title {
      @include title4();

      align-items: center;
      display: flex;
      flex-direction: row;

      .h-card-title-ico {
        margin-left: rem(-8px);
        margin-right: rem(3px);
      }
    }

    .h-card-secondary-title {
      @include body();

      .ico-bank-warning {
        margin-left: rem(8px);
        vertical-align: middle;
      }
    }

    .h-card-content {
      margin-top: rem(16px);

      p {
        color: $grey-dark;
      }

      .bi-banner {
        p {
          color: $black;
        }

        .bi-link {
          display: flex;
          margin-top: rem(8px);

          img {
            display: block;
            flex: 0 1 rem(25px);
          }
        }
      }
    }

    .h-card-cols {
      display: flex;
      flex-direction: row;
      margin-top: rem(16px);

      .h-card-col {
        border-left: rem(1px) solid $grey-medium;
        flex: 1 1;
        overflow: hidden;
        padding-left: rem(24px);
        padding-right: rem(24px);

        &:first-child {
          border: 0;
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .h-section {
    margin-top: rem(40px);

    &:first-child {
      margin-top: 0;
    }

    .h-section-title {
      @include title3();
    }

    > .h-card,
    > .h-section {
      margin-top: rem(24px); // in case it's just after section title

      &:first-child {
        margin-top: 0;
      }
    }

    .h-section-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: rem(16px);

      &:first-child {
        margin-top: 0;
      }

      &.nested {
        margin-left: rem(14px);
      }

      .h-card {
        flex: 1 1;
        margin-left: rem(24px); // in case it's inside a section-row with multiple cards

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .venue-banner,
  .offerer-banner {
    margin-top: rem(24px);

    .h-card-content {
      text-align: center;
    }

    .actions-container {
      display: flex;
      justify-content: center;
      margin-top: rem(24px);
      text-align: center;

      a {
        flex: 1;
        margin-left: rem(16px);
        max-width: rem(240px);

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .offerer-banner {
    .actions-container {
      a {
        max-width: rem(255px);
      }
    }
  }

  .h-venue-list {
    margin-top: rem(16px);

    .loading-spinner {
      img {
        margin-bottom: 0;
      }
    }

    .h-card-inner {
      padding-bottom: rem(16px); // FIXME: remove this fix when venue list card get content.
    }
  }
}
