@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;
@use "styles/variables/_z-index.scss" as zIndex;

.offer-item {
  display: grid;
  grid-template-columns: rem.torem(31px) 30% calc(70% - rem.torem(31px));
  grid-template-areas:
    "check thumb title"
    "col1a col2a text1"
    "col1b col2b text2"
    "col1c col2c text3"
    "col1d col2d text4"
    "col1e col2e text5";

  &.inactive {
    .offer-thumb {
      opacity: 0.5;
    }
  }

  td:first-of-type {
    grid-area: check;

    input[type="checkbox"] {
      margin-right: 0;
    }

    label {
      display: inline-flex;
    }
  }

  .thumb-column {
    grid-area: thumb;

    &-link {
      @include fonts.button;

      height: 0;
      display: block;
      margin-bottom: rem.torem(4px);
      overflow-wrap: break-word;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .title-column {
    grid-area: title;

    .offer-template-tag {
      margin-bottom: rem.torem(4px);
    }

    a {
      display: block;
    }
  }

  .stock-column {
    width: rem.torem(100px);
  }

  .status-column {
    width: rem.torem(140px);
    grid-area: text3;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .venue-column,
  .institution-column,
  .title-column {
    display: block;
  }

  .venue-column {
    grid-area: text1;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .institution-column,
  .stock-column {
    grid-area: text2;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .actions-column {
    display: table-cell;
    width: rem.torem(80px);
    padding-top: 0.25rem;

    &-container {
      display: flex;
      align-items: center;
      gap: rem.torem(4px);
    }
  }
}

.stocks {
  @include fonts.caption;

  color: var(--color-grey-dark);
  display: flex;
  font-size: rem.torem(14px);
  align-items: center;

  a {
    color: var(--color-primary);
  }

  .sold-out-dates {
    background-color: var(--color-white);
    border-radius: rem.torem(4px);
    box-shadow: 0 rem.torem(2px) rem.torem(10px) 0
      rgb(from var(--color-black) r g b / 30%);
    display: none;
    margin-left: rem.torem(8px);
    padding: rem.torem(8px);
    position: absolute;

    img {
      margin-left: 0;
      margin-right: rem.torem(9px);
      width: rem.torem(20px);
    }
  }

  .sold-out-icon {
    width: rem.torem(16px);
    height: rem.torem(16px);
    color: var(--color-error-light);

    // Center visually
    position: relative;
    top: 2px;

    &:hover,
    &:focus {
      & ~ .sold-out-dates {
        display: flex;
      }
    }
  }
}

@media (min-width: size.$mobile) {
  .offer-item {
    grid-template-columns: 10% 25% 65%;
  }
}

@media (min-width: size.$tablet) {
  .offer-item {
    display: table-row;

    .venue-column,
    .institution-column,
    .title-column {
      display: table-cell;
    }

    .venue-column {
      width: rem.torem(135px);
      max-width: rem.torem(135px);
      word-break: break-word;
      padding-top: unset;
      padding-bottom: unset;
    }

    .institution-column {
      width: rem.torem(100px);
    }

    .title-column {
      max-width: rem.torem(185px);
    }

    .thumb-column {
      width: rem.torem(120px);

      a {
        height: unset;
      }
    }

    .institution-column,
    .stock-column {
      padding-top: unset;
      padding-bottom: unset;
    }

    .status-column {
      padding-top: unset;
      padding-bottom: unset;
    }

    .actions-column {
      padding: 0 0 0 rem.torem(10px);


      & > div {
        justify-content: flex-end;
      }
    }
  }
}

.actions-container {
  display: flex;
  gap: rem.torem(8px);
}

.pop-in {
  background-color: var(--color-white);
  border: rem.torem(1px) solid var(--color-grey-light);
  border-radius: rem.torem(6px);
  z-index: zIndex.$profil-pop-in-z-index;
  width: 100dvw;
  height: 100dvh;
  padding: rem.torem(8px);
  box-shadow: 0 rem.torem(3px) rem.torem(4px) var(--color-medium-shadow);

  @media (min-width: size.$mobile) {
    height: auto;
    width: rem.torem(270px);
    margin-left: 0;
    margin-top: 0;
  }
}

.dropdown-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--color-white);
  color: var(--color-black);
  height: rem.torem(32px);

  &[data-state="open"] {
    color: var(--color-secondary-light);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;

  &-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: rem.torem(8px);
  
    &:focus-visible {
      outline: rem.torem(1px) solid var(--color-input-text-color);
      outline-offset: rem.torem(2px);
      border-radius: rem.torem(4px);
    }

    &[data-highlighted] {
      outline: none;
      background: var(--color-grey-light);
      cursor: pointer;
    }
  }
}

.separator {
  height: rem.torem(1px);
  width: rem.torem(20px);
  background-color: var(--color-black);
  margin: rem.torem(4px) 0;
}
