@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.offer-header-image-container {
  width: rem.torem(176px);
  min-width: rem.torem(176px);
  height: rem.torem(264px);
}

.offer-header-image,
.offer-header-image-fallback {
  width: 100%;
  height: 100%;
  border-radius: var(--size-border-radius-m);
}

.offer-header-image {
  object-fit: cover;
}

.offer-header-image-fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-subtle);
  color: var(--color-icon-subtle);
}

.offer-header-details {
  flex-grow: 1;
}

.offer-header-title-container {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--size-spacing-l);
  justify-content: space-between;
}

.offer-header-title {
  @include fonts.title4;
}

.offer-header-details-structure {
  margin-top: var(--size-spacing-l);

  &-name {
    @include fonts.body-accent;
  }
}

.offer-header-details-institution {
  margin-top: var(--size-spacing-s);

  &-name {
    @include fonts.body-accent;
  }
}

.offer-header-details-infos {
  margin-top: var(--size-spacing-xxl);
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-s);
}

.offer-header-details-info {
  display: flex;
  align-items: center;
  gap: var(--size-spacing-s);
}

.offer-header-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-spacing-xl);
}

@container (min-width: #{size.$tablet}) {
  .offer-header-title {
    @include fonts.title3;
  }

  .offer-header-title-container {
    flex-direction: row;
  }

  .offer-header-actions {
    justify-content: unset;
    gap: var(--size-spacing-s);
  }
}

@container (min-width: #{size.$tablet}) {
  .offer-header-title {
    @include fonts.title1;
  }
}
