@use 'styles/mixins/_rem.scss' as rem;

.reimbursements-page {
  .bi-banner {
    margin: rem.torem(32px) 0;

    a {
      margin: rem.torem(24px);
    }
  }

  .secondary-button {
    margin-left: rem.torem(10px);
  }
}
