@use 'styles/variables/_forms.scss' as forms;
@use 'styles/mixins/_rem.scss' as rem;

.base-checkbox {
  display: inline-flex;
  cursor: pointer;
  align-items: center;

  &-label {
    line-height: rem.torem(19.2px);
    display: flex;
    margin-top: rem.torem(-1.6px);
    width: 100%;
    :disabled + & {
      color: forms.$input-text-color-disabled;
      cursor: default;
    }
  }

  &-icon {
    margin-right: rem.torem(8px);
    color: forms.$input-text-color;

    :disabled + & {
      color: forms.$input-text-color-disabled;
    }
  }

  &-input {
    -webkit-appearance: none;
    appearance: none;
    background-color: forms.$input-bg-color;
    border: rem.torem(2px) solid forms.$input-border-color;
    border-radius: rem.torem(3px);
    transition: border 150ms ease, background 150ms ease;

    &:hover,
    &:focus {
      border-color: forms.$input-border-color-focus;
    }

    &:hover:checked,
    &:focus:checked {
      background-color: forms.$input-border-color-focus;
    }

    &.has-error {
      border-color: forms.$input-border-color-error;
    }

    &:checked.has-error {
      background-color: forms.$input-border-color-error;
    }

    &:disabled {
      cursor: default;
      border-color: forms.$input-border-color-disabled;
    }

    &:checked:disabled {
      background-color: forms.$input-border-color-disabled;
    }
  }
}
