@use "styles/variables/_forms.scss" as forms;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;

.base-checkbox {
  display: inline-flex;
  cursor: pointer;

  &-label-row {
    display: inline-flex;
    align-items: flex-start;

    &-with-description {
      align-items: center;
    }
  }

  &-label {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-with-description {
      margin-left: rem.torem(4px);
    }
  }

  &-description {
    @include fonts.caption;

    color: var(--color-grey-dark);
    margin-top: rem.torem(4px);
  }

  &-icon {
    margin-right: rem.torem(8px);
    display: flex;
    flex-direction: column;

    &-svg {
      width: rem.torem(20px);
      fill: var(--color-input-text-color);
    }
  }

  &-input {
    appearance: none;
    background-color: var(--color-input-bg-color);
    border: rem.torem(2px) solid var(--color-grey-dark);
    border-radius: rem.torem(3px);
    transition:
      border 150ms ease,
      background 150ms ease;
    flex: 0 0 auto;
    margin-right: rem.torem(8px);
    outline: none;
    padding: 0;
    position: relative;
    vertical-align: middle;
    height: size.$checkbox-size;
    width: size.$checkbox-size;
    cursor: pointer;

    &:checked,
    &:indeterminate {
      background-color: var(--color-secondary-light);
      border-color: var(--color-secondary-light);

      &::after {
        background-image: url("./checkbox-check.svg");
        background-position: center;
        background-repeat: no-repeat;
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
      }
    }

    &:indeterminate {
      &::after {
        background-image: url("./checkbox-partial.svg");
      }
    }

    &:focus-visible {
      outline: rem.torem(1px) solid var(--color-input-text-color);
      outline-offset: rem.torem(4px);
      border-radius: rem.torem(4px);
    }
  }

  &:hover {
    text-decoration: underline;

    .base-checkbox-input {
      border-color: var(--color-secondary-light);

      &:checked,
      &:indeterminate {
        border-color: var(--color-grey-dark);
        background-color: var(--color-grey-dark);
      }
    }
  }

  &.has-error {
    .base-checkbox-input {
      border-color: var(--color-input-border-color-error);

      &:checked,
      &:indeterminate {
        background-color: var(--color-input-border-color-error);
      }
    }

    &:hover .base-checkbox-input {
      border-color: var(--color-grey-dark);
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    color: var(--color-input-text-color-disabled);

    .base-checkbox-input {
      border-color: var(--color-grey-medium);
      cursor: not-allowed;

      &:checked,
      &:indeterminate {
        background-color: var(--color-grey-medium);
      }
    }

    &:hover {
      text-decoration: unset;

      .base-checkbox-input {
        border-color: var(--color-grey-medium);
      }
    }
  }
}

.with-border {
  border: rem.torem(1px) solid var(--color-grey-semi-dark);
  border-radius: rem.torem(6px);
  min-width: 100%;
  padding-left: rem.torem(16px);
  padding-top: rem.torem(16px);
  padding-bottom: rem.torem(16px);

  .base-checkbox-input:focus-visible {
    outline: none;
  }

  &:focus-within {
    outline: rem.torem(1px) solid var(--color-input-text-color);
    outline-offset: rem.torem(4px);
    border-radius: rem.torem(4px);
  }
}
