@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.bi-banner {
  &.attention {
    background: colors.$attention;
  }

  &.notification-info {
    background: colors.$notification-info;
  }

  &.light {
    background: colors.$grey-light;
    color: colors.$grey-dark;
  }

  border-radius: 6px;
  margin: rem.torem(16px) 0;
  padding: rem.torem(7px) rem.torem(15px);

  > p {
    margin: rem.torem(5px) 0;
    line-height: rem.torem(20px);
  }

  button {
    background: none;
    border: none;
    float: right;
  }
}

.bi-link {
  &.bi-external-link--mod-topright {
    position: absolute;
    right: 0;
    top: rem.torem(-6px);
  }
}

.domain-name-banner {
  margin: rem.torem(0px) 0 rem.torem(32px) 0;
}
