@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.table-wrapper {
  display: flex;
  flex-direction: column;
}

.table {
  display: flex;
  flex-direction: column;
  margin-bottom: rem.torem(10px);
}

.table-header {
  @include fonts.caption;

  color: var(--color-black);
  padding: rem.torem(14px);
}

.table-header-cell {
  @include fonts.caption;

  color: var(--color-black);
  padding: rem.torem(14px);
  display: inline-block;
}

.table-body {
  border-bottom: rem.torem(1px) solid var(--color-grey-medium);
}

.table-row {
  display: flex;
  flex-flow: row wrap;
  border-top: rem.torem(1px) solid var(--color-grey-medium);
  padding: rem.torem(16px) 0;

  &:first-child {
    margin-top: rem.torem(16px);
  }
}

.table-cell {
  @include fonts.body;

  padding: rem.torem(16px);
}

.column-booking-id {
  width: rem.torem(110px);
}

.column-offer-name {
  width: rem.torem(160px);
}

.column-collective-offer-name {
  width: rem.torem(180px);
}

.column-booking-duo {
  padding: 0;
  width: rem.torem(35px);
}

.column-beneficiary {
  width: rem.torem(225px);
  word-break: break-word;
}

.column-institution {
  width: rem.torem(160px);
  word-break: break-word;
}

.column-price-and-price {
  width: rem.torem(112px);
}

.column-booking-date {
  width: rem.torem(135px);
}

.column-booking-token {
  width: rem.torem(120px);
  word-break: break-word;
}

.column-booking-status {
  width: rem.torem(140px);
}

.details-container {
  display: flex;
  flex-flow: row wrap;
  padding: rem.torem(16px) rem.torem(16px) rem.torem(32px) rem.torem(16px);
}

.details-content {
  width: 100%;
  padding: unset;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
}

.loader {
  margin: auto;
}
