@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_outline.scss" as outline;

.dialog {
  display: flex;
  flex-direction: column;
}

.dialog-title {
  @include fonts.title3;

  margin-top: rem.torem(16px);
  margin-bottom: rem.torem(16px);
}

.dialog-content {
  margin-bottom: rem.torem(32px);
  max-width: rem.torem(532px);
}

.informations-title {
  @include fonts.body-accent;

  text-align: left;
}

.informations {
  list-style: disc inside;
  margin-bottom: rem.torem(24px);
}

.information-option {
  display: inline;
}

.dialog-button {
  text-align: center;
  margin: 0 auto;
}

.image {
  margin-top: rem.torem(32px);
  max-width: rem.torem(532px);
  width: 100%;
}

.options-icon {
  border: var(--color-border-default) solid 1px;
  border-radius: 50%;
  padding: rem.torem(2px);
  max-height: rem.torem(20px);
  vertical-align: middle;
  display: inline-block;
}

.button-icon {
  color: var(--color-white);
}
