.search-input {
  border: 0;
  border-radius: 2rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  font-size: rem(20px);
  font-weight: 700;
  padding: 9px 40px 9px 18px;
  width: 100%;

  &::placeholder {
    font-size: rem(17px);
    font-weight: 500;
  }
}

#keywords-search-button {
  @extend .pc-theme-primary;

  border-color: $primary;
  border-radius: 2rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  box-shadow: inset 0 -2px 0 0 rgba(153, 0, 38, 0.6);
  font-size: rem(20px);
  font-weight: 500;
  padding: 10px 16px;
}

.field {
  &:last-child {
    .button {
      border-left: none;
    }
  }

  &:focus-within .button {
    border-color: $primary;
  }

  &.has-addons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;

    .control {
      position: relative;

      &.has-icons-right .icon {
        color: $white-bis;
        height: 44px;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 44px;
        z-index: 4;
      }

      .button {
        border-width: 2px;
        height: 100%;

        &:focus {
          &:not(:active) {
            box-shadow: none;
          }
        }
      }

      &:not(:last-child) {
        .input {
          border-right: none;
        }
      }
    }
  }

  .required:not(.readOnly) {
    &::after {
      content: ' *';
      color: $violet;
      display: inline;
    }
  }
}

#search-filter-menu {
  background-color: $grey-lighter;
  border-radius: 0.25em 0 0.25em 0.25em;
}

/* ------------------------------------------------

 Boutons du footer du panneau des filtres
 permettant de réinitialiser/appliquer les filtres de recherche

------------------------------------------------ */
#search-filter-menu-footer-controls {
  border-top: 2px solid $white;

  button {
    background-color: $grey-lighter;
    border-color: $white;
    border-radius: 0;
    color: $primary;
    font-size: 1.375rem;
  }

  button + button {
    border-left: 2px solid $white;
  }
}

/* ------------------------------------------------

 Boutons permettant de masquer/afficher
 le menu des filtres

------------------------------------------------ */
#search-filter-menu-toggle-button {
  // on fixe la taille et la hauteur
  // pour que le bouton est la même hauteur que le search input
  // et que quand on ouvre le menu des filtres
  // on ait un background gris pour le bouton
  height: 50px;
  margin-left: 6px;
  min-width: 44px;
  width: 44px;

  &.filters-are-opened {
    background: $grey-lighter;
    border-radius: 4px 4px 0 0;
  }
}

/* ------------------------------------------------

 Section des filtres par dates

------------------------------------------------ */

#filter-by-dates {
  h2 {
    margin-bottom: rem(12px);
  }

  label .fs19 {
    white-space: pre;
  }
}

#filter-by-dates .pc-list .item {
  $size: rem(20px);
  $fontSize: rem(24px);

  border-radius: 4px;
  border: 1px solid $primary;

  & + .item {
    @extend .ml22;
  }

  .field {
    margin-bottom: 0;
  }

  /* ----- datepicker ----- */
  .input-inner {
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .form-datepicker-input {
    background: transparent;
    border: none;
    color: $black;
  }

  /* ----- Clear Button du filtre par date ----- */
  .react-datepicker__close-icon {
    top: 5px;
    right: 0;
    width: $size;
    height: $size;

    &::after {
      top: -2px;
      left: -2px;
      font-size: $fontSize;
    }
  }

  .react-datepicker__input-container_wrapper {
    padding-left: 1rem;

    &::after {
      font-size: $fontSize;
      top: 0;
    }

    input {
      color: inherit;
      font-size: inherit;
      font-weight: 300;
      padding-left: 0;
      padding-top: 0;
      width: 125px;
    }

    &.selected {
      padding-left: 0;
    }
  }
}

/* ------------------------------------------------

 Section des filtres par distances

------------------------------------------------ */

#filter-by-distance .pc-selectbox {
  @extend .no-outline;
  @extend .no-background;
  @extend .no-appearance;

  border-radius: 17px;
  border: 1px solid $primary;
  width: 250px;
  height: 35px;
  min-width: 250px;
  min-height: 35px;
  background-repeat: no-repeat;
  background-position: 212px 12px;
  background-image: url('/icons/dropdown-disclosure-down.svg');
}

/* ------------------------------------------------

 Section des filtres par types d'offres

------------------------------------------------ */

#filter-by-offer-types .pc-list .item {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: border-color 450ms;

  &.checked {
    border: 1px solid $primary;
  }

  & + .item {
    @extend .ml12;
  }

  .search-picture img {
    width: 86px;
    min-width: 86px;
    height: 86px;
    min-height: 86px;
  }

  .search-picture span {
    @extend .px5;
    @extend .py3;

    background: rgba($black, 0.75);
  }

  .icon-container {
    top: rem(-6px);
    right: rem(-6px);

    .icon-legacy-check-circled {
      @extend .is-block;
      @extend .text-center;

      background-color: $white;
      border-radius: 50%;
      color: $primary;

      &::before {
        margin: 0;
      }
    }
  }

  .icon-ico-check {
    @extend .is-absolute;

    top: -2px;
    left: 2px;
  }

  .icon-ico-check::before {
    @extend .fs14;
    @extend .no-margin;
    @extend .is-white-text;
  }
}

#offer-type-picture-checked {
  background-image: url(/icons/checkbox-check.svg);
  border: none;
  background-repeat: no-repeat;
  background-size: 1.1875em;
  width: 1.1875em;
  height: 1.1875em;
  border-radius: 0;
}

/* ------------------------------------------------

 Section des filtres par types d'offres

------------------------------------------------ */

#filter-by-dates-datepicker-popper-container {
  @extend .is-absolute;

  top: 8px;
  left: -120px;

  .react-datepicker__triangle {
    left: 130px;
  }
}
