.debug-main {
  display: flex;
  flex-direction: column;
  position: static;
  height: 100%;

  .debug-actions-wrapper {
    align-items: center;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    .db-generate-error {
      background-color: $primary;
      border-radius: 2rem;
      border: 0;
      font-size: rem(16px);
      font-weight: 700;
      height: rem(48px);
      width: 90%;
    }
  }
}
