.import-from-computer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-header {
    @include title3;
  }
  &-hr {
    background: $grey-medium;
    height: rem(1px);
    width: 100%;
  }
}
