@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_rem.scss" as rem;

.stocks-provider-form {
    margin-top: rem.torem(1em);
}

.aide-stock-button {
    margin-top: rem.torem(32px);
    color: colors.$black; 
}