.venue-provider-row {
  display: flex;
  flex-direction: row;
  width: 100%;

  .provider-name-container {
    @extend .has-text-weight-bold;

    align-content: center;
    display: flex;
    flex: 2;
    flex-direction: column;
    font-size: rem(14px);
    justify-content: center;
    margin-left: rem(20px);
  }

  .venue-id-at-offer-provider-container-with-message {
    display: inline;
    flex: 4;
    font-size: rem(14px);
    margin-left: rem(20px);
  }

  .venue-id-at-offer-provider-container {
    display: flex;
    flex: 4;
    flex-direction: row;
    font-size: rem(14px);

    .venue-id-at-offer-provider {
      flex: 1.5;
      font-size: rem(14px);
    }

    .offers-container-counter {
      flex: 1;
      justify-content: flex-end;
      padding-top: rem(8px);

      .number-of-offers-label {
        display: inline-block;
        padding-left: rem(5px);
        vertical-align: top;
      }
    }
  }

  .offers-container-message {
    flex: 1.5;
    justify-content: flex-end;
    padding-top: rem(8px);
  }
}
