.venue-provider-row {
  display: flex;
  flex-direction: row;
  width: 100%;

  .provider-name-container {
    @extend .has-text-weight-bold;
    @extend .fs14;

    align-content: center;
    display: flex;
    flex: 2;
    flex-direction: column;
    font-size: medium;
    justify-content: center;
    margin-left: 20px;
  }

  .venue-id-at-offer-provider-container-with-message {
    @extend .fs14;

    display: inline;
    flex: 4;
    margin-left: 20px;
  }

  .venue-id-at-offer-provider-container {
    @extend .fs14;

    display: flex;
    flex: 4;
    flex-direction: row;

    .venue-id-at-offer-provider{
      @extend .fs14;

      flex: 1.5;
    }

    .offers-container-counter {
      flex: 1;
      justify-content: flex-end;
      padding-top: rem(8px);

      .number-of-offers-label {
        display: inline-block;
        padding-left: rem(5px);
        vertical-align: top;
      }
    }
  }

  .offers-container-message {
    flex: 1.5;
    justify-content: flex-end;
    padding-top: rem(8px);
  }
}
