.ribbon {
  @extend .is-clipped;
  @extend .is-absolute;

  height: 75px;
  top: 0;
  width: 75px;
  z-index: 0;
}

.ribbon span {
  @extend .fs12;
  @extend .is-bold;
  @extend .is-block;
  @extend .text-center;
  @extend .is-absolute;
  @extend .is-uppercase;
  @extend .is-black-text;

  line-height: 19px;
  top: 19px;
  width: 100px;
}

.ribbon-left {
  left: 0;
}

.ribbon-right {
  right: 0;
}

.ribbon-left span {
  left: -21px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ribbon-right span {
  right: -21px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ribbon-today span {
  background-color: $ribbon-blue;
  color: $white;
}

.ribbon-tomorrow span {
  background-color: $ribbon-yellow;
}

.ribbon-cancelled span {
  background-color: $ribbon-red;
  color: $white;
}

.ribbon-finished span {
  background-color: $black;
  color: $white;
}
