@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.offer-preview {
  background-color: colors.$grey-very-light;
  border-radius: rem.torem(3px);

  .op-options-summary {
    display: flex;
    margin-bottom: rem.torem(27px);
    margin-top: rem.torem(22px);

    .op-option {
      align-items: center;
      border-left: rem.torem(1px) solid colors.$grey-medium;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;

      &:first-child {
        border-left: none;
      }

      .op-option-ico {
        flex: 0 0 rem.torem(33px);
        margin-top: rem.torem(-4px);

        .svg-color {
          fill: colors.$grey-dark;
        }
      }

      .op-option-text {
        @include fonts.mini-highlight();

        flex: 1;
        margin-bottom: rem.torem(-9px);
      }

      &.disabled {
        .op-option-ico {
          .svg-color {
            fill: colors.$grey-light;
          }
        }

        .op-option-text {
          color: colors.$grey-light;
        }
      }
    }
  }

  .op-section {
    background-color: colors.$white;
    border-radius: rem.torem(3px);
    margin-top: rem.torem(6px);
    padding: rem.torem(12px) rem.torem(15px) rem.torem(16px) rem.torem(15px);

    &:first-child {
      margin-top: rem.torem(13px);
    }
  }

  .op-section-title {
    @include fonts.body-important();

    margin-bottom: rem.torem(16px);
  }

  .op-section-secondary-title {
    @include fonts.highlight();

    line-height: rem.torem(16px);
  }

  .op-section-text {
    @include fonts.preview-text();

    margin-bottom: rem.torem(16px);

    &:last-child {
      margin-bottom: 0;
      word-break: break-word;
    }
  }

  .op-address {
    line-height: rem.torem(16px);
  }

  .title-preview {
    @include fonts.button();

    max-width: rem.torem(224px);
    overflow-wrap: break-word;
    text-align: center;
  }
}
