.empty-search-result-wrapper {
  align-items: center;
  color: $grey;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;

  button {
    color: $primary;
    font-size: rem(16px);
    font-weight: bold;
  }

  p {
    margin-bottom: rem(24px);
    max-width: rem(260px);

    span {
      display: block;
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  span {
    font-size: rem(18px);
    font-weight: 500;
    margin-bottom: rem(24px);
  }
}

@media screen and (max-width: $iphone5-width) and (max-height: $iphone5-height) {
  .empty-search-result-wrapper > img {
    height: rem(100px);
  }
}
