.result {
  border-bottom: rem(1px) solid $grey-even-more-light;
  display: flex;
  padding: rem(15px) 0;

  a {
    text-decoration: none;
  }
}

.result-wrapper {
  display: flex;
  flex: 3;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .result-image {
    box-shadow: 0 rem(2px) rem(6px) $grey-light;
    background-color: $grey;
    border-radius: rem(7.5px);
    height: rem(68px);
    margin-right: rem(20px);
    width: rem(68px);
  }

  .result-container {
    display: flex;
    flex: 2;
    flex-direction: column;
    flex-wrap: wrap;
    vertical-align: middle;

    .result-title {
      color: $black;
      font-size: rem(16px);
      font-weight: 700;
    }

    .result-type {
      color: $grey;
      font-size: rem(16px);
      font-weight: 400;
      margin-top: rem(6px);
    }

    .result-date {
      color: $grey;
      font-size: rem(16px);
      font-weight: 400;
      margin-top: rem(6px);
    }

    .result-price {
      color: $black;
      font-size: rem(14px);
      font-weight: 500;
      margin-top: rem(6px);
    }
  }
}

.result-distance {
  color: $grey;
  display: flex;
  font-size: rem(16px);
  font-weight: 400;
  justify-content: flex-end;
}
