.result-wrapper {
  display: flex;
  flex: 3;
  flex-direction: row;
  align-items: center;
  border-bottom: rem(1px) solid $grey-even-more-light;
  padding: rem(15px) 0;
  max-width: 100%;

  a {
    text-decoration: none;
  }

  .result-image {
    box-shadow: 0 rem(2px) rem(4px) 0 rgba(0, 0, 0, 0.1);
    background-color: $grey-medium;
    border-radius: rem(7.5px);
    height: rem(68px);
    margin-right: rem(20px);
    width: rem(68px);
  }

  .result-container {
    flex: 2;
    word-break: break-word;

    .result-type {
      color: $grey;
      font-size: rem(16px);
      font-weight: 400;
      margin-top: rem(6px);
    }

    .result-date {
      color: $grey;
      font-size: rem(16px);
      font-weight: 400;
    }

    .result-price {
      color: $black;
      font-size: rem(14px);
      font-weight: 500;
      margin-top: rem(6px);
    }
  }
}

.result-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .result-title {
    flex: 4;
    color: $black;
    font-size: rem(16px);
    font-weight: 700;
  }

  .result-distance {
    flex: 1;
    text-align: right;
    color: $grey;
    font-size: rem(16px);
    font-weight: 400;
  }
}
