.spr-text-input-form {
  background: linear-gradient(108deg, $primary -6%, #D0005F 103%);
  padding: 1.5rem 0;
  align-items: center;
}

.home-search-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

@media screen and (max-width: $iphone5-width) and (max-height: $iphone5-height) {
  .spr-text-input-form {
    padding: 0.75rem 0;
  }
}

