.spr-text-input-form {
  align-items: center;
  background: linear-gradient(108deg, $primary -6%, #D0005F 103%);
  padding: 0.75rem 0;
}

.sr-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sr-filter-button-wrapper {
  bottom: $footer-height + rem(20px);
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.sr-filter-button {
  background: linear-gradient(108deg, $primary -6%, #D0005F 103%);
  border-radius: rem(24px);
  border: 0;
  font-size: rem(16px);
  font-weight: 700;
  height: rem(49px);
  width: rem(116px);

  span {
    margin-left: rem(8px);
    margin-right: rem(8px);
  }
}

@media screen and (max-width: $iphone5-width) and (max-height: $iphone5-height) {
  .spr-text-input-form {
    padding: 0.75rem 0;
  }

  footer {
    height: $footer-height / 2;
  }
}

