.table-heading {
  font-family: var(--typography-title2-font-family), system-ui, sans-serif;
  font-size: var(--typography-title2-font-size);
  line-height: var(--typography-title2-line-height);
  margin-right: var(--size-spacing-l);
}
