.venue-stats {
  display: flex;
  align-items: center;
  margin-bottom: rem(35px);
  padding-top: rem(50px);

  .separator {
    background-color: $grey-medium;
  }

  .h-card-col {
    flex:  0 0 20%;
    padding: 0 rem(24px);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: rem(110px);
    justify-content: space-between;
    text-align: center;

    border-right: solid 1px $grey-medium;

    &:last-child {
      border-right: none;
    }

    &.v-add-offer-link {
      justify-content: center;
    }

    .venue-stat-count {
      @include title3();
    }

    a {
      color: $primary;

      svg .ico-plus {
        fill: $primary;
      }
    }

    .venue-stat-spinner {
      animation: rotation 3s infinite linear;
    }
  }
}
