.offerer-venue {
  .h-card-title {
    overflow: hidden;

    .title-text {
      margin-right: rem(16px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
