.venue-stats {
  display: grid;
  grid-column-gap: rem(13px);
  grid-template-columns: repeat(4, 1fr 1px) 1fr;
  margin-bottom: rem(35px);
  margin-top: rem(50px);

  .separator {
    background-color: $grey-medium;
  }

  .h-card-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: rem(110px);
    justify-content: space-between;
    text-align: center;

    &.v-add-offer-link {
      justify-content: center;
    }

    .venue-stat-count {
      @include title3();
    }

    a {
      color: $primary;

      svg .ico-plus {
        fill: $primary;
      }
    }

    .venue-stat-spinner {
      animation: rotation 3s infinite linear;
    }
  }
}
