@use "src/styles/mixins/_rem.scss" as rem;
@use "src/styles/variables/_size.scss" as size;
@use "src/components/DialogBox/DialogBox.module.scss" as dialogBox;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-section {
  margin: rem.torem(56px) 0 rem.torem(24px);
  width: 100%;
}

.stock-section {
  margin-top: rem.torem(32px);
}

// False positive
/* stylelint-disable scss/operator-no-newline-after */
.recurrence-modal {
  width: calc(size.$main-content-width - dialogBox.$dialog-box-padding * 2);
}

.light-banner {
  width: 100%;
  margin-top: rem.torem(32px);
}
