@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.title {
  @include fonts.title1;
}

.no-results {
  padding-bottom: rem.torem(32px);
  text-align: center;

  &-svg {
    color: var(--color-grey-medium);
  }

  .no-results-title {
    @include fonts.title2;

    margin: rem.torem(40px) 0 rem.torem(32px) 0;
  }
}

.my-institution-callout {
  white-space: pre-wrap;
  margin-top: rem.torem(16px);
  margin-bottom: rem.torem(32px);
}

.callout-text {
  margin-bottom: rem.torem(16px);
}

.offers-list {
  padding-bottom: rem.torem(32px);
  display: flex;
  flex-direction: column;
  gap: rem.torem(16px);
}
