@use "styles/mixins/_fonts.scss" as fonts;

.title {
  @include fonts.title1;
}

.no-results {
  padding-bottom: var(--size-spacing-xxl);
  text-align: center;

  &-svg {
    color: var(--color-icon-subtle);
  }

  .no-results-title {
    @include fonts.title2;

    margin: var(--size-spacing-xxxl) 0 var(--size-spacing-xxl) 0;
  }
}

.offers-list {
  padding-bottom: var(--size-spacing-xxl);
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-l);
}

.budget-banner-container {
  margin-top: var(--size-spacing-l);
  margin-bottom: var(--size-spacing-xl);
}
