.ep-wrapper {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  h1 {
    @include title1();

    margin-top: rem(16px);
  }
}

.ep-text-wrapper {
  @include body();

  margin-top: rem(16px);
  text-align: center;
}

.ep-button {
  @include button();

  border: rem(2px) solid $white;
  border-radius: rem(24px);
  color: $white;
  margin-top: rem(48px);
  padding: rem(12px) rem(52px);
}
