@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/mixins/_fonts.scss' as fonts;

@mixin tertiary {
  @include fonts.button();

  color: colors.$black;
  line-height: rem.torem(20px);

  &:hover,
  &:focus {
    color: colors.$black;
    cursor: pointer;
    text-decoration: underline;
  }

  img,
  svg {
    height: rem.torem(24px);
    margin-right: rem.torem(4px);
    vertical-align: bottom;
    width: rem.torem(24px);
  }
}

.tertiary-link {
  @include tertiary();
}

.tertiary-button {
  @include tertiary();

  background: none;
  border: none;

  &:disabled {
    color: colors.$grey-medium;
    cursor: not-allowed;

    img {
      opacity: 0.3;
    }
  }

  &.with-icon {
    align-items: center;
    display: flex;
    justify-content: center;

    img,
    svg {
      height: rem.torem(24px);
      margin-right: rem.torem(4px);
    }
  }
}
