.location-viewer {
  margin-bottom: 1.125rem;
  width: 100%;

  .input-wrapper {
    width: 90%;
    position: relative;

    .menu {
      position: absolute;
      z-index: 2000;
      background: $white;
      left: $control-radius;
      right: $control-radius;
      border-bottom-left-radius: $control-radius;
      border-bottom-right-radius: $control-radius;
      border: 2px solid $grey-medium;
      border-top: none;
      overflow: hidden;

      &.empty {
        display: none;
      }

      .item {
        padding: 0.5rem 1rem;

        &:not(.placeholder) {
          cursor: pointer;

          &.highlighted {
            font-weight: $weight-bold;
          }

          &:focus,
          &:hover {
            background-color: $grey-light;
          }
        }
      }
    }
  }

  .map {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    margin-top: 1rem;
  }
}
