$white: #fff;
$black: #161617;
$grey-light: #f1f1f4;
$grey-medium: #c7c8cb;
$grey-dark: #67686b;
$purple: #320096;

$primary: #eb0055;
$secondary: #ccc;
$primary-dark: #c10046;
$green-valid: #15884f;
$red-error: #e60039;

$primary-disabled: #ff99be;

// Inputs
$input-border-color: $grey-medium;
$input-border-color-focus: $black;
$input-border-color-error: #b60025;
$input-border-color-disabled: #f1f1f4;

$input-bg-color: $white;

$input-text-color: #161617;
$input-text-color-disabled: #67686b;

$placeholder-text-color: #67686b;
