@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

.allocine-provider-parameters-container {
  width: 100%;
  margin-top: 1rem;

  .title {
    font-size: rem.torem(18px);
    font-weight: 600;
  }

  .parameters-list {
    color: colors.$grey-dark;

    .parameter-item {
      margin-top: 0.5rem;
    }

    span {
      color: colors.$black;
      font-size: rem.torem(15px);
      font-weight: 500;
    }
  }

  .edit-parameters-btn {
    margin-top: 1rem;
  }
}
