@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_rem.scss" as rem;

.expandable-box-container {
  border-radius: var(--size-border-radius-m);
  border: rem.torem(1px) solid var(--color-border-subtle);
  padding: rem.torem(16px);
}

.modify-button-container {
  svg {
    margin-right: 8px;
  }
}

@media (min-width: size.$tablet) {
  .expandable-box-closed {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
