@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_outline.scss" as outline;

.nav-section {
  &-button {
    @include fonts.button;

    color: var(--color-text-default);
    padding: var(--size-spacing-m) var(--size-spacing-l);
    display: flex;
    gap: var(--size-spacing-s);
    align-items: center;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: var(--color-background-subtle);
    }

    &:focus-visible {
      @include outline.focus-outline(rem.torem(-8px));

      border-radius: var(--size-border-radius-l);
    }
  }

  &-title {
    flex: 1;
    text-align: left;
  }

  &-icon {
    height: rem.torem(18px);
    width: rem.torem(18px);
    color: var(--color-icon-default);
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: rem.torem(1px) solid var(--color-border-subtle);

  &-help {
    justify-content: space-between;
  }

  &-with-padding-top {
    padding-top: var(--size-spacing-xl);
  }

  &-open {
    height: calc(100% - #{size.$top-menu-height});

    @media (min-width: size.$laptop) {
      min-height: 100%;
      height: auto;
    }
  }

  &-group {
    display: flex;
    flex-direction: column;

    &:nth-child(2),
    &:nth-child(3) {
      height: 100%;
    }
  }

  &-group-switch-venue {
    display: flex;
    flex-direction: column;
  }

  &-create-offer-wrapper {
    display: flex;
    z-index: 1;
    flex: 1;
    margin-bottom: var(--size-spacing-l);

    &-trigger {
      flex-grow: 1;
      margin: 0 size.$header-nav-item-padding size.$header-nav-item-padding;
    }
  }

  &-last-group {
    margin-bottom: var(--size-spacing-l);

    &-separator {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  .separator-line {
    background-color: var(--separator-color-subtle);
    margin: 0 rem.torem(16px);
    height: rem.torem(1px);
    margin-bottom: var(--size-spacing-l);
  }

  &-item {
    @include fonts.button;

    padding: var(--size-spacing-s) var(--size-spacing-l);
    display: flex;
    gap: var(--size-spacing-s);
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: none;

    &:hover {
      background-color: var(--color-background-subtle);
    }

    &:focus-visible {
      @include outline.focus-outline(rem.torem(-8px));

      border-radius: var(--size-border-radius-l);
    }

    &-active {
      background-color: var(--color-background-subtle);
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: rem.torem(4px);
        height: 100%;
        background-color: var(--color-border-brand-primary);
        right: 0;
      }
    }

    &-without-icon {
      @include fonts.body;

      padding-left: rem.torem(28px);
    }
  }

  &-switch-venue-button {
    height: rem.torem(64px);
    margin: var(--size-spacing-l);
  }

  &-header {
    @include fonts.body-accent;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: rem.torem(64px);
    border-bottom: rem.torem(1px) solid var(--color-border-subtle);
    margin-bottom: var(--size-spacing-s);
  }

  &-footer {
    display: grid;
    flex: auto;
  }
}

.icon {
  color: var(--color-icon-default);
}

.help-dropdown-trigger {
  display: flex;
  align-items: center;
  gap: var(--size-spacing-s);
}

.help-dropdown-content {
  background-color: var(--color-background-default);
  border-radius: var(--size-border-radius-m);
  border: solid rem.torem(1px) var(--color-border-subtle);
  padding: var(--size-spacing-s) var(--size-spacing-l);
}

.back-to-partner-space-button {
  text-align: center;
  margin: var(--size-spacing-l);
  margin-bottom: 0;

  @media (min-width: size.$tablet) {
    display: none;
  }
}

.back-to-admin {
  text-align: center;
  margin: var(--size-spacing-l);
  margin-bottom: 0;
  border-right: none;

  @media (min-width: size.$tablet) {
    display: none;
    padding: var(--size-spacing-s);
  }
}
