@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.hero-section {
  display: flex;
  flex-direction: column;
  margin-bottom: rem.torem(32px);
  padding-bottom: 0;
  padding-top: 0;
  position: relative;

  .subtitle {
    padding-top: rem.torem(8px);
  }

  .section-icon {
    background-image: url(/icons/ico-structure.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    height: rem.torem(120px);
    margin-left: rem.torem(-40px);
    opacity: 0.25;
    width: rem.torem(120px);
  }

  .section-icon-mask {
    height: rem.torem(120px);
    left: rem.torem(-84.8px);
    overflow: hidden;
    position: absolute;
    top: rem.torem(-44px);
    width: rem.torem(80px);
  }
}

.title-subtitle-link-block {
  display: flex;
  justify-content: space-between;

  .title-action-links {
    .link {
      @include fonts.caption();

      background-color: transparent;
      color: colors.$primary;
      display: flex;
      justify-content: flex-end;
      line-height: rem.torem(34px);

      &:focus,
      &:hover {
        background-color: transparent;
        color: colors.$primary;
      }
    }
  }

  .primary-button {
    display: flex;
  }

  img {
    height: rem.torem(25px);
    width: rem.torem(25px);
  }
}

.cta {
  border: 0;
  line-height: rem.torem(22px);
  position: absolute;
  right: 0;
  top: rem.torem(-3px);

  img {
    height: rem.torem(20px);
    margin-right: rem.torem(8px);
    width: rem.torem(20px);
  }
}

h3.section-title {
  @include fonts.title3();
}

.title-description {
  @include fonts.body();

  margin-top: rem.torem(20px);
}
