@use "src/styles/mixins/_rem.scss" as rem;

.offer-details-section {
  &:not(:last-of-type) {
    margin-bottom: rem.torem(30px);
  }

  &-title {
    font-size: rem.torem(15px);
    font-weight: 700;
    color: #67686b;
    margin: 0 0 rem.torem(5px);
  }
}
