.criteria-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.criteria-item-list {
  background-color: $white;
  height: 100%;
  overflow: scroll;

  li {
    padding: rem(7px) 0;
  }
}

.criteria-item {
  align-items: center;
  display: flex;
  height: rem(48px);
  margin-top: rem(7px);
}

.criteria-item-icon-check {
  width: rem(24px);
  height: rem(24px);
  margin-left: rem(8px);
}

.criteria-item-icon {
  width: rem(24px);
  height: rem(24px);
}

.criteria-item-icon-bg {
  margin: rem(0 20px);
  height: rem(40px);
  width: rem(40px);
  background-color: $grey-even-more-light;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.criteria-active-icon {
  border: rem(2px) solid $primary;
}

.criteria-item-label {
  font-size: 16px;
  font-weight: 700;
  color: $black-light;
}

.criteria-active-label {
  color: $primary;
}

.criteria-header {
  align-items: center;

  h1 {
    margin-right: 20px;
  }
}
