@use "styles/mixins/_fonts.scss" as fonts;

.info-banners {
  margin-bottom: var(--size-spacing-xl);
}

.infotext {
  @include fonts.body;

  margin-top: var(--size-spacing-s);
  margin-bottom: var(--size-spacing-s);
}

.email-row {
  margin-top: var(--size-spacing-l);
}
