@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.media-row {
  gap: 0 !important;

  @media screen and (min-width: size.$laptop) {
    gap: rem.torem(40px) !important;
  }
}

.video-section-input {
  margin-bottom: rem.torem(24px);
}
