import { StoryObj } from '@storybook/react'
import { withRouter } from 'storybook-addon-remix-react-router'

import { <% name %> } from './<% name %>'

export default {
  title: '@/ui-kit/<% name %>',
  decorators: [withRouter],
  component: <% name %>,
}

export const Default: StoryObj<typeof <% name %>> = {
  args: {
    /* … */
  },
}
