import { render } from '@testing-library/react'
import { axe } from 'vitest-axe'

import { <% name %> } from './<% name %>'

describe('<<% name %> />', () => {
  it('should render without accessibility violations', async () => {
    const { container } = render(<<% name %> />)

    expect(await axe(container)).toHaveNoViolations()
  })
})
