<%# scss.yes %>
import cn from 'classnames'

import styles from './<% name %>.module.scss'

<%/ scss.yes %>
type <% name %>Props = {
  className?: string
}

export const <% name %> = ({ className }: <% name %>Props): JSX.Element => {
  return (
    <%# scss.yes %>
    <div className={cn(styles[`<%# toKebabCase %><% name %><%/ toKebabCase %>`], className)}>
    <%/ scss.yes %>
    <%# scss.no %>
    <div className={className}>
    <%/ scss.no %>
      <h1><% name %></h1>
    </div>
  )
}

<%# lazy.yes %>
// Lazy-loaded by react-router
// ts-unused-exports:disable-next-line
export const Component = <% name %>

<%/ lazy.yes %>
