@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.stocks-page {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .resized-input input {
    width: 100%;

    &[type='number']:disabled {
      border: rem.torem(1px) solid transparent;
    }
  }

  .quantity-input {
    width: rem.torem(95px);
  }

  .it-input {
    box-shadow: none;
    margin-top: 0;
  }

  .with-euro-icon {
    background: url(/icons/ico-euro.svg) no-repeat 85% center;
  }

  .action-column .tertiary-button {
    margin-top: 0;
  }

  .action-column {
    text-align: center;
  }

  .field-date {
    align-items: center;
    background: url(/icons/ico-calendar.svg) no-repeat 90% center;
    border-width: rem.torem(1px);
    box-shadow: none;
    display: flex;
    height: rem.torem(40px);
    padding: 0 rem.torem(1px);

    &:focus-within {
      background-position-x: 91%;
      border-color: colors.$primary;
      border-width: rem.torem(2px);
      padding: 0;
    }

    &.disabled {
      background-color: colors.$grey-light;
      background-image: url(/icons/ico-calendar-disabled.svg);
      border-color: transparent;
    }
  }

  .field-date.without-icon {
    background-image: none;
  }

  .datetime-input {
    @include fonts.body();

    background: none;
    border: 0;
    cursor: pointer;
    line-height: rem.torem(32px);
    outline: none;
    padding-left: rem.torem(10px);
    width: rem.torem(135px);

    &:disabled {
      color: colors.$grey-dark;
      cursor: initial;
      opacity: 1;

      &::placeholder {
        color: colors.$grey-dark;
      }
    }
  }

  .price-input {
    padding-left: rem.torem(10px);
    padding-right: rem.torem(10px);
  }

  &.disabled {
    box-shadow: none;
  }
}
