@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_colors.scss" as colors;

.container {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: rem.torem(186px);
  min-height: rem.torem(96px);
  border-radius: rem.torem(16px);
  color: colors.$white;

  &:focus-visible {
    outline: rem.torem(2px) solid colors.$input-text-color;
    outline-offset: rem.torem(2px);
    border-radius: rem.torem(16px);
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.64;
  }

  &-img {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &-title {
    @include fonts.button;

    position: relative;
    padding: 0 rem.torem(12px) rem.torem(12px) rem.torem(12px);
  }

  &-orange {
    background: linear-gradient(colors.$adage-orange-light, colors.$adage-orange-dark);
  }

  &-purple {
    background: linear-gradient(colors.$adage-purple-light, colors.$adage-purple-dark);
  }

  &-pink {
    background: linear-gradient(colors.$adage-pink-light, colors.$adage-pink-dark);
  }

  &-green {
    background: linear-gradient(colors.$adage-green-light, colors.$adage-green-dark);
  }

  &-red {
    background: linear-gradient(colors.$adage-red-light, colors.$adage-red-dark);
  }

  &-blue {
    background: linear-gradient(colors.$adage-blue-light, colors.$adage-blue-dark);
  }
}
