@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_outline.scss" as outline;

.container {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: rem.torem(191px);
  min-height: rem.torem(96px);
  border-radius: var(--size-border-radius-l);
  color: var(--color-text-locked-inverted);

  &:focus-visible {
    @include outline.focus-outline;

    border-radius: var(--size-border-radius-l);
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.64;
  }

  &-img {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &-title {
    @include fonts.body-accent;

    position: relative;
    padding: 0 rem.torem(12px) rem.torem(12px) rem.torem(12px);
  }

  &-orange {
    background: linear-gradient(
      var(--color-adage-orange-light),
      var(--color-adage-orange-dark)
    );
  }

  &-purple {
    background: linear-gradient(
      var(--color-adage-purple-light),
      var(--color-adage-purple-dark)
    );
  }

  &-pink {
    background: linear-gradient(
      var(--color-adage-pink-light),
      var(--color-adage-pink-dark)
    );
  }

  &-green {
    background: linear-gradient(
      var(--color-adage-green-light),
      var(--color-adage-green-dark)
    );
  }

  &-red {
    background: linear-gradient(
      var(--color-adage-red-light),
      var(--color-adage-red-dark)
    );
  }

  &-blue {
    background: linear-gradient(
      var(--color-adage-blue-light),
      var(--color-adage-blue-dark)
    );
  }
}
