.activation-codes-upload-information-message {
  @include body();

  margin-top: rem(8px);
}

.activation-codes-upload-confirmation-message {
  @include body();

  margin-top: rem(24px);
}

.activation-codes-upload-confirmation-buttons {
  display: grid;
  grid-column-gap: rem(24px);
  grid-template-columns: 1fr 1fr;
  margin-top: rem(24px);
  width: 100%;

  .activation-codes-upload-confirmation-button {
    width: 100%;
  }
}
