@use 'styles/mixins/_rem.scss' as rem;

.offer-form {
  .form-section {
    margin-top: rem.torem(32px);

    &:first-child {
      margin-top: 0;
    }

    .section-description {
      margin-bottom: rem.torem(24px);
      margin-top: rem.torem(16px);
    }

    &.accessibility-section {
      label:first-of-type svg {
        margin: rem.torem(2.5px) rem.torem(8px) rem.torem(2.5px) rem.torem(3px);
      }
    }
  }
}
