@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.homepage {
  .h-card {
    border: rem.torem(1px) solid colors.$grey-medium;
    border-radius: rem.torem(8px);
    /* stylelint-disable-next-line color-function-notation */
    box-shadow: 0 rem.torem(2px) rem.torem(6px) 0 rgba(colors.$black, 0.15);
    overflow: hidden;

    &.h-card-placeholder {
      min-height: rem.torem(205px);

      .h-card-inner {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: rem.torem(205px);
      }
    }

    .h-card-inner {
      height: 100%;
      padding: rem.torem(16px) rem.torem(16px) rem.torem(24px);
      width: 100%;
    }

    .h-card-header-row {
      display: flex;
      gap: rem.torem(12px);
      justify-content: space-between;
      align-items: center;
    }

    &.h-card-primary {
      .h-card-inner {
        border-color: colors.$primary;
      }
    }

    &.h-card-secondary {
      .h-card-inner {
        border-color: colors.$secondary;
      }
    }

    .h-card-title {
      @include fonts.title4;

      align-items: center;
      display: flex;
      flex-direction: row;
    }

    .h-card-content {
      margin-top: rem.torem(8px);

      p {
        color: colors.$black;
      }
    }
  }

  .h-section-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: rem.torem(
      24px
    ); // in case it's inside a section-row with multiple cards

    .h-card {
      flex: 1 1;
      min-width: rem.torem(236px);
    }
  }

  .newsletter {
    position: relative;
    margin-top: rem.torem(16px);
  }

  .venue-banner,
  .offerer-banner {
    margin-top: rem.torem(24px);

    .h-card-content {
      text-align: center;
    }

    .actions-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: rem.torem(24px);
      text-align: center;
      gap: rem.torem(16px);

      a {
        flex: 1;
        max-width: rem.torem(240px);
        white-space: nowrap;
      }
    }
  }

  .offerer-banner {
    .actions-container {
      a {
        max-width: rem.torem(255px);
      }
    }
  }

  .h-venue-list {
    .loading-spinner {
      img {
        margin-bottom: 0;
      }
    }

    .h-card-inner {
      padding-bottom: rem.torem(
        16px
      ); // FIXME: remove this fix when venue list card get content.
    }
  }
}

.step-section {
  margin-top: rem.torem(16px);
}

.h-card {
  .banner {
    margin: rem.torem(24px) 0;
  }
}
