.tutorials {
  background-color: $primary;
  color: $white;
  font-size: rem(18px);
  height: 100%;
  line-height: 1.25;
  text-align: center;
  width: 100%;

  .tutorial {
    height: 100%;
  }

  .icon {
    margin-top: 8.5vh;
  }

  .slider-points {
    bottom: rem(32px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
  }

  .text-highlight {
    color: $secondary;
    font-weight: 500;
    margin: 0 rem(1px);
    padding: rem(1px) rem(4px);
    position: relative;
    z-index: 10;

    &::after {
      background-color: $white;
      border-radius: 2px;
      content: '';
      height: rem(22px);
      left: 0;
      padding: rem(1px) 0;
      position: absolute;
      top: 0;
      width: rem(41px);
      z-index: -1;
    }

    &.text-first-highlight::after {
      transform: rotate(1deg);
    }

    &.text-second-highlight::after {
      transform: rotate(-1deg);
    }
  }

  .next-arrow {
    bottom: 128px;
    position: absolute;
    right: 21px;
    transform: rotate(180deg);
  }

  .previous-arrow {
    bottom: 128px;
    left: 21px;
    position: absolute;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    .enter-on-left {
      animation: none;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
    }
  }

  .enter-on-left {
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-name: enter-on-left;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    .enter-on-right {
      animation: none;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
    }
  }

  .enter-on-right {
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-name: enter-on-right;
  }
}

@keyframes enter-on-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes enter-on-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
