.tutorials {
  color: $white;
  font-size: rem(18px);
  height: 100%;
  line-height: 1.25;
  text-align: center;
  width: 100%;

  .icon {
    margin-top: 8.5vh;
  }

  .slider-points {
    bottom: rem(32px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
  }

  .slider-point {
    background-color: $white;
    border-radius: rem(8px);
    height: rem(8px);
    margin: 0 rem(5px);
    opacity: .5;
    width: rem(8px);

    &.filled {
      opacity: 1;
    }
  }

  .text-highlight {
    color: $purple-blue;
    font-weight: 500;
    margin: 0 rem(1px);
    position: relative;
    z-index: 10;

    &::after {
      background-color: $white;
      border-radius: 2px;
      content: '';
      height: rem(22px);
      left: 0;
      position: absolute;
      top: 0;
      width: rem(41px);
      z-index: -1;
    }


    &.text-first-highlight::after {
      transform: rotate(1deg);
    }

    &.text-second-highlight::after {
      transform: rotate(-1deg);
    }
  }

  .next-arrow {
    position: absolute;
    bottom: 128px;
    right: 21px;
    transform: rotate(180deg);
  }

  .previous-arrow {
    position: absolute;
    bottom: 128px;
    left: 21px;
  }
}
