.venue-providers-manager {
  form {
    width: 100%;
  }

  .provider-list {

    .add-provider-form {
      .select-provider-section {
        .provider-picto {
          align-items: center;
          width: 30px;

          img {
            line-height: 30px;
          }
        }

        #select-source {
          label {
            display: block;
          }

          .field-select {
            background-image: url('/icons/dropdown-disclosure-down-s-w.svg');
            border: 2px solid $grey-dark;
            border-radius: 17px;
            margin-top: 8px;
            width: 100%;
          }
        }
      }
    }
  }

  .venue-id-at-offer-provider-container {
    display: flex;
    flex: 6;

    .field-is-read-only {
      margin-left: 0;
    }

    .tooltip {
      &.tooltip-info {
        margin-left: 70px;
        padding: 4px;
      }
    }
  }

  .provider-import-button-container {
    .provider-import-button {
      height: 28px;
      width: 91px;
    }
  }
}
