.venue-providers-manager {
  form {
    width: 100%;
  }

  .provider-form {
    display: flex;
    flex-direction: row;
  }

  .loading-spinner {
    flex-grow: 1;
  }

  .account-section {
    flex-direction: column;
    max-width: rem(250px);
    margin-right: rem(25px);
  }

  .account-label {
    margin-top: rem(6px);
    margin-bottom: rem(15px);
  }

  .account-value {
    font-size: 1.2rem;
    font-weight: 500;
    height: rem(36px);
  }

  .secondary-button {
    margin-top: rem(6px);
  }

  .provider-picto {
    align-items: center;
    width: rem(30px);

    img {
      line-height: rem(30px);
    }
  }

  .select-source label {
    display: block;
  }

  .select-source .field-select {
    background-image: url('/icons/dropdown-disclosure-down-s-w.svg');
    border: 2px solid $grey-medium;
    border-radius: 17px;
    margin-top: rem(8px);
    width: 100%;
  }

  .venue-id-at-offer-provider-container {
    display: flex;
    flex: 6;

    .field-is-read-only {
      margin-left: 0;
    }

    .tooltip .tooltip-info {
      margin-left: rem(70px);
      padding: rem(4px);
    }
  }
}
