@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.dialog-container {
  align-items: flex-start;
  text-align: left;
  max-width: rem.torem(576px);
}

.contact-callout,
.contact-readonly {
  margin-bottom: rem.torem(16px);
}

.form {
  &-container {
    width: 100%;
  }

  &-description {
    @include fonts.body;

    display: flex;
    flex-direction: column;
    margin-top: rem.torem(32px);
    width: 100%;

    &-link {
      display: flex;
      align-items: center;
      white-space: break-spaces;

      &-text {
        gap: rem.torem(8px);
        align-items: center;
      }

      &-site {
        display: block;
        margin-top: rem.torem(32px);
        margin-bottom: rem.torem(16px);
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      list-style: disc;
      margin-left: rem.torem(16px);
      margin-top: rem.torem(16px);

      li {
        padding: 0 0 rem.torem(8px) rem.torem(8px);
      }

      li::marker {
        font-size: rem.torem(8px);
      }
    }

    &-text {
      &-value {
        color: var(--color-text-brand-primary);
      }

      &-contact {
        @include fonts.body-accent;

        display: block;
        margin-top: rem.torem(16px);
        color: var(--color-text-brand-primary);
      }
    }
  }

  &-icon {
    margin-left: rem.torem(8px);
  }

  &-mandatory {
    margin-top: rem.torem(32px);
    margin-bottom: rem.torem(16px);
  }
}

.buttons-container {
  display: flex;
  gap: rem.torem(16px);
}

.separator {
  margin: rem.torem(16px) 0 0 0;
  background-image: none;
  background-color: var(--separator-color-subtle);
}

a[href^="mailto:"] {
  font-family: var(--font-semi-bold-family);

  &:hover {
    text-decoration: underline;
  }
}
