{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/all",
    "plugin:jsx-a11y/strict",
    "plugin:import/errors",
    "plugin:jest/all",
    "plugin:pass-culture/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "globals": {
    "fixture": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "only-warn"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "indent": "off",
    "import/order": ["warn", {
      "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
      "newlines-between": "always",
      "alphabetize": { "order": "asc", "caseInsensitive": true }
    }],
    "jest/no-hooks": "off",
    "jest/prefer-expect-assertions": "off",
    "jest/prefer-inline-snapshots": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/no-onchange": "off",
    "no-var": "warn",
    "react/forbid-component-props": "off",
    "react/function-component-definition":  [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/jsx-curly-brace-presence": [2, { "props": "never", "children": "ignore" }],
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
    "react/jsx-fragments": "off",
    "react/jsx-indent": [2, 2, {"indentLogicalExpressions": true}],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-handler-names": "off",
    "react/jsx-max-depth": "off",
    "react/jsx-newline": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-wrap-multilines": [
      "warn",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "parens-new-line"
      }
    ],
    "react/jsx-no-bind": "off",
    "react/no-set-state": "off",
    "react/destructuring-assignment": "off",
    "react/require-optimization": "off",
    "react/static-property-placement": "off",
    "react/jsx-no-literals": "off",
    "react/require-default-props": "off",
    "semi": [
      "warn",
      "never"
    ]
  },
  "overrides": [
    {
      "files": [
        "testcafe/*.js",
        "quality_assurance/*.js"
      ],
      "rules": {
        "jest/expect-expect": "off",
        "jest/lowercase-name": "off",
        "jest/no-test-callback": "off",
        "jest/prefer-expect-assertions": "off",
        "jest/require-top-level-describe": "off",
        "jest/no-done-callback": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ],
        "paths": ["."],
        "moduleDirectory": ["node_modules", "src"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
