@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;

.sign-up-form-page {
  height: 100%;
  overflow: auto;
  width: 100%;

  .content {
    margin-left: calc(rem.torem(30px) + 15%);
    padding: rem.torem(60px) 0;
    width: rem.torem(500px);

    .field-password > img {
      position: absolute;
      right: rem.torem(16px);
      top: rem.torem(37px);
    }

    .sign-page-form {
      margin-left: 36%;
      width: 59%;
    }

    h1 {
      margin-bottom: rem.torem(16px);
    }

    h2 {
      margin-bottom: rem.torem(16px);
      word-break: break-word;
    }

    .sign-up-tips {
      @include fonts.caption();

      color: colors.$grey-dark;
      margin-bottom: rem.torem(32px);
    }

    .tertiary-link {
      align-items: center;
      display: flex;
    }

    .field-password {
      display: flex;
      justify-content: space-between;
      position: relative;
    }

    .field-password > label {
      width: 90%;
    }

    .siren-field {
      margin-bottom: rem.torem(16px);
    }

    .sign-up-infos-before-signup {
      margin-top: rem.torem(40px);
    }

    .sign-up-form {
      margin: rem.torem(16px) 0 rem.torem(40px) 0;
    }

    .buttons-field {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: rem.torem(16px);

      a,
      button {
        margin-bottom: rem.torem(5px);
      }

      .button {
        padding: 0 rem.torem(45px);

        &:focus {
          border: none;
          padding: 0 rem.torem(45px);
        }
      }
    }
  }
}
