@use "src/styles/variables/_colors.scss" as colors;

.loading-spinner {
  text-align: center;

  @media screen and (prefers-reduced-motion: reduce) {
    img,
    svg {
      animation: none;
      margin-bottom: rem(15px);
    }
  }

  @media screen and (prefers-reduced-motion: reduce) {
    img,
    svg {
      animation: none;
      margin-bottom: rem(15px);
    }
  }

  img,
  svg {
    animation: rotation 3s infinite linear;
    margin-bottom: rem(15px);
  }

  .content::after {
    content: attr(data-dots);
    position: absolute;
  }
}

.ico-logo-passculture {
  fill: colors.$primary;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
