{% extends "offerer_recap_email.html" %}
{% block new_reservation %}<p id="action"><strong>{{ user_name }}</strong> ({{ user_email }}) vient {% block booking_or_cancellation %}{% endblock %}.</p>{% endblock %}
{% block past_or_future %}des réservations à ce jour{% endblock %}
{% block recap %}
{% if stock_bookings %}
<table>
    <tr>
        <th>Nom ou pseudo</th>
        <th>Email</th>
        <th>Code réservation</th>
    </tr> {% endif %}
    {% for booking in stock_bookings %}
    <tr>
        <td>{{ booking.user.publicName }}</td>
        <td>{{ booking.user.email }}</td>
        <td>{{ booking.token }}</td>
    </tr>
    {% else %}
    <p>Aucune réservation</p>
    {% endfor %}
</table>
{% endblock %}