.skeleton-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--size-spacing-l);
  padding: var(--size-spacing-l);
  align-items: center;
  width: 100%;
}

.skeleton-line {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-s);
  width: 100%;
}
