@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.title {
  @include fonts.title3;

  margin-bottom: var(--size-spacing-s);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-spacing-s);

  @media (min-width: size.$tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

@keyframes loadinggradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.stat-block {
  display: flex;
  align-items: center;
  padding: var(--size-spacing-l) var(--size-spacing-s);
  border-radius: var(--size-border-radius-m);

  &-text {
    display: flex;
    flex-direction: column;
    row-gap: var(--size-spacing-s);
  }

  &-icon {
    width: rem.torem(48px);
    height: rem.torem(48px);
    color: var(--color-icon-brand-primary);
    margin-right: var(--size-spacing-l);
  }

  &-count {
    @include fonts.body-accent;

    font-size: rem.torem(24px);
    line-height: rem.torem(22px);
  }
}

.pending-offers {
  margin-top: var(--size-spacing-l);
}
