@use "styles/variables/_z-index.scss" as zIndex;
@use "styles/mixins/_forms.scss" as forms;
@use "styles/mixins/_rem.scss" as rem;

.menu {
  border-radius: var(--size-border-radius-m);
  box-shadow: 0 rem.torem(3px) rem.torem(4px) var(--color-medium-shadow);
  margin: 0 rem.torem(1.6px);
  max-height: rem.torem(296px);
  overflow-y: scroll;
  padding: rem.torem(8px) 0;
  position: relative;
  background-color: var(--color-background-default);
  width: 100%;
  right: 0;
  z-index: zIndex.$select-options-z-index;

  &--no-results {
    padding: rem.torem(8px);
  }

  .options-item,
  .too-many-options {
    display: flex;
    padding: rem.torem(11.2px) rem.torem(16px);
  }

  .label {
    padding: rem.torem(11.2px) rem.torem(16px) rem.torem(11.2px) 0;
  }

  /* override cursor: default defined by browser */
  .label,
  input[type="checkbox"] {
    cursor: pointer;
  }

  .input {
    margin-left: rem.torem(16px);
  }

  .option-hovered {
    background: var(--color-background-subtle);
  }
}
