@use "styles/variables/_z-index.scss" as zIndex;
@use "styles/mixins/_forms.scss" as forms;
@use "styles/mixins/_rem.scss" as rem;

.menu {
  border-radius: var(--size-border-radius-m);
  box-shadow: var(--shadow-overlay);
  margin: 0 rem.torem(1.6px);
  max-height: rem.torem(296px);
  overflow-y: scroll;
  padding: var(--size-spacing-s) 0;
  position: relative;
  background-color: var(--color-background-default);
  width: 100%;
  right: 0;
  z-index: zIndex.$select-options-z-index;

  &--no-results {
    padding: var(--size-spacing-s);
  }

  .options-item {
    display: flex;
    padding: rem.torem(11.2px) rem.torem(16px);
    cursor: pointer;
  }

  .option-hovered {
    background: var(--color-background-subtle);

    .options-item {
      border: rem.torem(2px) solid var(--color-border-focused);
      padding: rem.torem(9.2px) rem.torem(14px);
    }
  }
}
