/*
* @debt directory "Gaël: SCSS file should be co-located and imported within a component"
*/

.offerer-page {
  position:relative;
  padding-top: rem(50px);

  .op-teaser {
    margin-bottom: rem(24px);
  }

  .has-text-primary {
    align-items: center;
    color: $primary;
    display: flex;
    justify-content: center;

    svg {
      height: rem(24px);
      margin-right: rem(4px);
    }

    svg .ico-plus {
      fill: $primary;
    }
  }

  .has-text-grey {
    color: $grey-dark;
  }

  .has-text-centered {
    text-align: center;
  }

  .field-group {
    min-height: 10rem;
  }

  .op-detail {
    margin: rem(8px) 0;

    > :first-child {
      color: $grey-dark;
      margin-right: rem(5px);
    }
  }

  .field-siren {
    display: flex;
    margin: rem(8px) 0;

    > :first-child {
      @include body();

      color: $black;
      margin-right: rem(5px);
    }
  }

  .field-siren-label {
    @extend .field-label;

    flex: 0;
    margin: rem(6px) 0 0;
    padding-bottom: 0;
  }

  .field-siren-control {
    flex: 1;
    margin-bottom: rem(20px);
  }

  .field-siren-error {
    position: absolute;
  }

  .op-subtitle {
    @include body();
  }

  .op-content-section {
    margin-bottom: rem(48px);
  }

  .op-creation-form {
    margin: rem(60px) 0 rem(48px);
  }

  .op-detail-creation-form {
    margin: rem(8px) 0 rem(30px) 0;

    > :first-child {
      color: $grey-dark;
      margin-right: rem(5px);
    }
  }
}
