.verso-header {
  position: relative;
  word-wrap: break-word;

  .drag {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  #verso-offer-picto-type {
    left:0;
    margin: auto;
    opacity: 0.6;
    position: absolute;
    right:0;
    top: -12px;
  }
}
