@use "styles/mixins/_a11y.scss" as a11y;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.offers-thead {
  display: flex;
  border-top-left-radius: rem.torem(8px);
  border-top-right-radius: rem.torem(8px);
  width: 100%;
  background-color: var(--color-background-subtle);

  &-th {
    @include fonts.body-accent-xs;
    @include a11y.visually-hidden;

    text-align: left;

    &-checkbox {
      @include a11y.visually-hidden-reset;

      padding: rem.torem(8px) rem.torem(16px);
    }

    &-actions {
      text-align: right;
    }
  }

  @media (min-width: size.$tablet) {
    display: table-header-group;

    &-th {
      @include a11y.visually-hidden-reset;

      padding: rem.torem(8px) rem.torem(16px) rem.torem(8px) rem.torem(8px);

      &-checkbox {
        &-input {
          margin-right: 0;
        }

        &-label {
          @include a11y.visually-hidden;
        }
      }

      &:first-child {
        border-top-left-radius: rem.torem(8px);
        padding-left: rem.torem(16px);
      }

      &:last-child {
        border-top-right-radius: rem.torem(8px);
        padding-right: rem.torem(16px);
      }
    }
  }
}

.visually-hidden {
  @include a11y.visually-hidden;
}
