@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_rem.scss' as rem;

.eac-banner-light {
  background-color: colors.$notification-info;
}


.edit-button {
  margin-top: rem.torem(16px);
}

.collective-data-row:not(:last-of-type) {
  margin-bottom: rem.torem(16px);
}

.collective-data-row, .collective-data-title {
  font-size: rem.torem(15px);
  font-style: normal;
  font-weight: 500;
  line-height: rem.torem(20px);
}

.collective-data-title {
  color: colors.$grey-dark;
  display: inline;
}
