@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.dialog {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &-buttons {
    display: flex;
    gap: var(--size-spacing-l);
  }

  &-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.dialog-mandatory {
  margin: var(--size-spacing-l) 0;
}

.text-area-container {
  margin: var(--size-spacing-xl) 0;
}

.radio-legend {
  margin-bottom: var(--size-spacing-l);
}

.form-row {
  display: flex;
  align-items: center;
  gap: var(--size-spacing-l);
  margin-bottom: var(--size-spacing-xl);

  &-label {
    width: rem.torem(16px);
  }
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-spacing-l);

  @media screen and (min-width: size.$tablet) {
    flex-wrap: nowrap;
  }
}

.radio-button {
  text-align: center;
}

.confirmation-dialog {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-xl);
  align-items: center;
  margin-top: var(--size-spacing-xxxxl);

  &-title {
    @include fonts.title3;
  }

  &-icon {
    width: rem.torem(77px);
    height: rem.torem(77px);
    color: var(--color-icon-success);
  }
}
