.venue-image {
  $height: rem(176px);
  width: ($height * 3) / 2;
  height: $height;
  object-fit: cover;
  border: 1px solid $grey-medium;
  border-radius: 4px;
  box-shadow: 0px 1px 8px rgba($black-with-transparency, $alpha: 0.15);
}
