.profile-page {
  .app-version {
    font-size: 0.7rem;
    padding-right: 0.5rem;
    text-align: right;
  }

  .input-text {
    display: block;
    margin-bottom: rem(16px);
  }

  .errors {
    @include caption();
    align-items: center;
    color: $primary;
    display: flex;
    line-height: rem(32px);
    margin-bottom: rem(15px);
    text-align: left;

    img {
      padding-right: rem(5px);
    }
  }
}
