@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;
@use "styles/variables/_z-index.scss" as zIndex;

.lateral-panel {
  &-wrapper {
    display: none;
    position: fixed;
    top: size.$top-menu-height;
    left: 0;
    min-width: size.$side-nav-width;
    z-index: zIndex.$lateral-menu-z-index-mobile;
    min-height: 100%;

    &::before {
      content: " ";
      display: block;
      position: fixed;
      inset: 0;
      background: rgb(from var(--color-input-text-color) r g b / 48%);
    }

    &-open {
      display: block;
    }
  }

  &-menu {
    background: var(--color-white);
    z-index: zIndex.$lateral-menu-z-index-mobile;
    position: fixed;
    max-width: rem.torem(268px);
    inset: 0;
    overflow-y: auto;
  }

  &-nav {
    padding: 0 rem.torem(16px);
    height: rem.torem(50px);
    box-shadow: 0 3px 4px 0 rgb(103 104 107 / 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-open {
      padding: 0 rem.torem(16px) 0 0;
    }

    &-button {
      display: inline-flex;
      width: rem.torem(50px);
      height: rem.torem(50px);
      justify-content: center;
      align-items: center;
      gap: 24px;
      flex-shrink: 0;
    }

    .logo {
      width: rem.torem(80px);
    }
  }

  &-logo {
    width: rem.torem(80px);
  }
}

@media (min-width: size.$laptop) {
  .lateral-panel {
    &-wrapper {
      z-index: zIndex.$lateral-menu-z-index;
      display: block;
      position: initial;
      height: 100%;

      &::before {
        display: none;
      }
    }

    &-menu {
      z-index: zIndex.$lateral-menu-z-index;
      position: initial;
      height: 100%;
      width: 100%;
    }

    &-nav {
      display: none;
    }
  }
}
