header.navbar {
  align-items: flex-start;
  background-image: $linear-gradient-to-bottom-right;
  z-index: inherit;

  .container {
    max-width: 1000px;
  }

  &:not(.is-small) {
    height: 9.375rem;
  }

  a.navbar-item {
    color: $white;

    &:hover,
    &:focus {
      background-color: $primary-dark;

      &.logo {
        background-color: transparent;
      }
    }
  }

  .navbar-dropdown a {
    &,
    &:focus,
    &:hover {
      color: $primary;
    }
  }

  .navbar-brand .navbar-item {
    font-size: $size-medium;
  }

  .navbar-menu {
    position: relative;
    z-index: 10;

    .navbar-item {
      @include caption();

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  .icon {
    margin-right: 0.5rem;
  }
}

[data-reach-menu-button] {
  @include caption();

  align-items: center;
  background-color: transparent;
  border: none;
  color: $white;
  display: flex;
  padding: rem(5px) rem(10px);

  &[aria-expanded="true"] {
    background-color: $primary-dark;
  }
}

[data-reach-menu-popover] {
  box-shadow: 0 0 3.75rem $black-shadow;
  z-index: 10;
}

[data-reach-menu-items] {
  background: $white;
  border: none;
}

[data-reach-menu-item] {
  @include caption();

  align-items: center;
  color: $primary;
  display: flex;

  .icon {
    margin-right: rem(8px);
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $grey-light;
    color: $primary;
  }

  &[data-selected] {
    background-color: $primary-dark;
    color: $white;

    .icon {
      filter: brightness(0) invert(1);
    }
  }
}
