header.navbar {
  align-items: flex-start;
  z-index: inherit;

  &:not(.is-small) {
    height: 9.375rem;
  }

  a.navbar-item {
    color: $white;

    &:hover,
    &:focus {
      background-color: $primary;
    }
  }

  .navbar-dropdown a {
    &,
    &:focus,
    &:hover {
      color: $primary;
    }
  }

  .navbar-brand .navbar-item {
    font-size: rem(20px);
  }

  .navbar-menu {
    position: relative;
    z-index: 10;

    .navbar-item {
      font-size: rem(12px);
      font-weight: 700;

      @include caption();
    }
  }

  background-image: $linear-gradient-to-bottom-right;

  .icon {
    margin-right: 0.5rem;
  }
}

.navbar {
  &.is-primary {
    background-image: $linear-gradient-to-bottom-right;

    .navbar-brand {
      & > .navbar-item:focus,
      & > .navbar-item:hover {
        background: transparent !important;
      }
    }
  }

  .icon {
    align-items: center;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    margin-right: 0.5rem;
    width: 1.5rem;
  }
}

.navbar-dropdown.is-right {
  width: rem(230px);
}


[data-reach-menu-button] {
  @include caption();

  align-items: center;
  background-color: transparent;
  border: none;
  color: $white;
  display: flex;
  padding: rem(5px) rem(10px);

  &[aria-expanded="true"] {
    background-color: $primary-dark;
  }
}

[data-reach-menu-popover] {
  box-shadow: 0 0 3.75rem $black-shadow;
  z-index: 10;

}

[data-reach-menu-items] {
  background: $white;
  border: none;
}

[data-reach-menu-item] {
  @include caption();

  align-items: center;
  color: $primary;
  display: flex;

  .icon {
    margin-right: rem(8px);
  }

  &:hover, &:focus, &:active {
    background-color: $grey-light;
    color: $primary;
  }

  &[data-selected] {
    background-color: $primary-dark;
    color: $white;

    .icon {
      filter: brightness(0) invert(1);
    }
  }
}
