@mixin navbar-colors($text-color) {
  a {
    &,
    &:focus,
    &:hover {
      color: $text-color;
    }

    &.navbar-link::after {
      border-color: $text-color;
    }
  }
}

header.navbar {
  &:not(.is-small) {
    height: $header-display-height;
  }

  align-items: flex-start;
  z-index: inherit;

  @include navbar-colors($primary);

  &.is-primary {
    @include navbar-colors($white);
  }

  .navbar-dropdown a {
    &,
    &:focus,
    &:hover {
      color: $primary;
    }
  }

  @media (max-width: $desktop - 1px) {
    &,
    &.is-primary {
      a {
        &,
        &:focus,
        &:hover {
          color: $primary;
        }
      }

      .navbar-dropdown {
        .navbar-item {
          padding-left: 2.5rem;
        }
      }
    }
  }

  @media (min-width: $desktop) {
    & > .container {
      .navbar-brand {
        margin-left: 0;

        .navbar-item {
          padding: 0;
        }
      }

      .navbar-menu {
        margin-right: 0;
      }
    }
  }

  .navbar-brand .navbar-item {
    font-size: $size-medium;
  }

  .navbar-menu {
    z-index: 30;
    position: relative;

    .navbar-item {
      font-weight: $weight-bold;
      font-size: $size-small;
    }
  }

  @media (min-width: $desktop) {
    .navbar-dropdown {
      box-shadow: 0 0 3.75rem $black-shadow;
    }
  }

  .navbar-burger {
    background-color: transparent;
    border: none;

    &:focus,
    &:hover {
      background-color: darken(transparent, 90%);
    }
  }
}
