@use "src/styles/variables/_colors.scss" as colors;
@use "src/styles/mixins/_fonts.scss" as fonts;
@use "src/styles/mixins/_rem.scss" as rem;

.educational-form {
  &-banner {
    margin-bottom: rem.torem(32px) !important;
  }
}

.educational-form .educational-form-adress-banner {
  margin: 0 0 rem.torem(24px) 0;
}

.phone-number-row {
  max-width: rem.torem(328px);
}

.price-details textarea {
  min-height: rem.torem(72px);
  height: rem.torem(72px);
}

.banner-space {
  margin-bottom: rem.torem(16px);
}
