@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

.educational-form {
  &-information {
    @include fonts.caption();

    margin-bottom: rem.torem(32px);
    color: colors.$grey-dark;
  }

  &-banner {
    margin-bottom: rem.torem(32px) !important;
  }
}

.educational-form .educational-form-adress-banner {
  margin: 0;
}
