@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.button-image-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem.torem(16px);
  border: rem.torem(1px) solid var(--color-grey-medium);
  background-color: var(--color-grey-light);
  color: var(--color-black);
  box-shadow: 0 rem.torem(1px) rem.torem(8px)
    rgb(from var(--color-large-shadow) r g b / 15%);
  border-radius: rem.torem(4px);
  cursor: pointer;

  &.add-image-venue {
    height: rem.torem(176px);
    aspect-ratio: 3 / 2;
  }

  &.add-image-offer {
    width: rem.torem(176px);
    aspect-ratio: 2 / 3;

    .label {
      // Force the text to wrap
      max-width: rem.torem(120px);
    }
  }

  &:hover {
    box-shadow: 0 rem.torem(1px) rem.torem(8px)
      rgb(from var(--color-large-shadow) r g b / 30%);

    .image-upload-button-label {
      text-decoration: underline;
    }
  }

  &:active {
    background-color: var(--color-grey-medium);
  }
}

.icon {
  height: rem.torem(32px);
  width: rem.torem(32px);
  color: var(--color-grey-dark);
}

.label {
  @include fonts.bold;

  line-height: rem.torem(20px);
}
