@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/fonts-design-system.scss" as fonts-design-system;

.unavailable-page {
  align-items: center;
  background-image: url("/icons/linear-gradient.jpg");
  background-color: var(--color-secondary);
  background-size: cover;
  background-position: center;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  .title {
    @include fonts-design-system.title1;

    color: var(--color-white);
    margin: rem.torem(32px) 0 rem.torem(16px);
  }

  p {
    @include fonts-design-system.title4;
  }

  .error-icon {
    width: rem.torem(350px);
  }
}
