@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.unavailable {
  align-items: center;
  background-color: var(--color-background-default);
  color: var(--color-text-default);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  position: relative;

  .title {
    @include fonts.title1;

    margin: rem.torem(32px) 0 rem.torem(16px);
  }

  p {
    @include fonts.title4;
  }

  .error-icon {
    width: rem.torem(350px);
    color: var(--color-icon-brand-primary);
  }

  .unavailable-content {
    text-align: center;
  }
}
