@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_rem.scss' as rem;

.apf-price-section {
  margin-top: rem.torem(12.8px);
}

.allocine-provider-form {
  .field-asterisk {
    color: colors.$accent;
    margin-left: rem.torem(2px);
  }

  .apf-price-section {
    .price-section-label {
      display: flex;
    }

    .price-field {
      display: flex;
      flex-direction: column;
    }
  }

  input {
    text-align: left;
  }

  .blue-insert {
    margin-top: rem.torem(12.8px);

    img {
      max-width: rem.torem(24px);
    }
  }
}

.apf-quantity-section {
  margin-top: rem.torem(12.8px);
}

.apf-is-duo-section {
  display: flex;
  margin-top: rem.torem(12.8px);
}

.apf-provider-import-button-section {
  margin-top: rem.torem(17px);

  button {
    width: 100%;
  }
}

.apf-tooltip {
  margin-left: rem.torem(4px);
}
