@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/mixins/_fonts.scss' as fonts;

@mixin primary-focus {
  background-color: colors.$primary-dark;
  border: rem.torem(3px) solid colors.$primary-dark;
}

@mixin primary {
  @include fonts.button();

  background-color: colors.$primary;
  border: rem.torem(3px) solid colors.$primary;
  border-radius: rem.torem(24px);
  color: colors.$white;
  height: rem.torem(40px);
  line-height: rem.torem(34px);
  padding: 0 rem.torem(16px);

  &:active,
  &:hover,
  &:focus {
    @include primary-focus();

    color: colors.$white;
  }

  &:focus {
    outline: none;
  }
}

.primary-button {
  @include primary();

  &:disabled {
    background-color: colors.$primary-disabled;
    border: rem.torem(3px) solid colors.$primary-disabled;
    cursor: not-allowed;
    opacity: 1;
  }

  &.with-icon {
    align-items: center;
    display: flex;
    justify-content: center;

    img,
    svg {
      height: rem.torem(24px);
      margin-right: rem.torem(4px);
    }
  }
}

.primary-link {
  @include primary();

  display: inline-block;

  &:active {
    color: colors.$white;
  }
}
