@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_outline.scss" as outline;

.button-group-button-container {
  &:first-child {
    .button-group-button {
      border-radius: rem.torem(36px) 0 0 rem.torem(36px);
    }
  }

  &:last-child {
    .button-group-button {
      border-radius: 0 rem.torem(36px) rem.torem(36px) 0;
      border-left: none;
    }
  }
}

.button-group-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem.torem(4px);
  padding: rem.torem(8px) rem.torem(16px);
  background-color: var(--color-background-default);
  border: 1px solid var(--color-border-default);
  cursor: pointer;
  color: var(--color-icon-default);

  &-active {
    color: var(--color-icon-brand-primary);
  }

  &:hover {
    background-color: var(--color-background-subtle);
  }

  &:focus-visible {
    @include outline.focus-outline(rem.torem(3px));
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-text-disabled);
    background-color: var(--color-background-disabled);
  }
}
