.page-inscription {
  main {
    background-image: none;
    color: $black;
  }

  .asterisk {
    color: $violet;
  }

  .icon-legacy-warning-circled::before,
  .form-error-message {
    color: $error;
  }

  .logout-form-mandatory-label,
  .form-sublabel {
    color: $grey-dark;
  }

  footer {
    align-items: center;
    background-color: $primary;
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
    padding: 1rem 0.75rem;
  }
}

.signup-footer-link {
  color: $white;
  font-weight: 700;
}

.signup-footer-button {
  background-color: $white;
  border-color: transparent;
  border-radius: 2rem;
  border-top-right-radius: 0;
  box-shadow: none;
  color: $primary;
  font-size: rem(19px);
  font-weight: 700;
  padding: 0.2rem 0.5rem;
}
