.sign-up-page {
  a.quaternary-link {
    color: $primary;
  }

  .information-text {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-top: rem(24px);

    img {
      height: rem(21px);
      margin-right: rem(6px);
      margin-top: rem(3px);
    }

    p {
      color: $grey-dark;
      font-size: rem(13px);
      line-height: rem(16px);
      text-align: justify;
    }
  }

  .field-password > img {
    position: absolute;
    right: rem(16px);
    top: rem(37px);
  }

  .logo-side {
    background-image: $linear-gradient-to-bottom-right;
    bottom: 0;
    box-shadow: inset -10px 0 20px 0 $black-shadow;
    left: 0;
    position: fixed;
    right: 60%;
    top: 0;
    z-index: 1;

    .logo {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;

      img {
        height: rem(239px);
        max-height: none;
        padding: 0 rem(32px);
        width: rem(456px);
      }

      .logo-subtitle {
        color: $white;
      }
    }
  }

  .sign-page-form {
    margin-left: 36%;
    width: 59%;
  }

  .hero-body {
    padding: 3rem 1.5rem;
  }

  .column {
    padding: 0;
  }

  .columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
  }

  .confirmation-text {
    font-size: rem(20px);
    font-style: italic;
    font-weight: 500;
    line-height: rem(24px);
    margin-bottom: rem(12px);

    span {
      font-weight: bold;
    }
  }

  .sign-up-wrapper {
    padding: rem(48px) rem(24px) rem(48px) rem(54px);
  }

  h1 {
    margin-bottom: rem(16px);
  }

  h2 {
    margin-bottom: rem(16px);
    word-break: break-word;
  }

  .sign-up-operating-procedures {
    background-color: $notification-info;
    margin-bottom: rem(32px);
    padding: rem(16px);

    div {
      margin-bottom: rem(10px);
    }
  }

  .sign-up-tips {
    color: $grey-dark;
    margin-bottom: rem(32px);
  }

  .tertiary-link {
    align-items: center;
    display: flex;
  }

  label {
    margin-bottom: rem(16px);
  }

  .field-password {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .field-password > label {
    width: 90%;
  }

  .siren-field {
    margin-bottom: rem(16px);
  }

  .sign-up-infos-before-signup {
    color: $grey-dark;
    font-size: rem(14px);
    font-weight: 500;
    line-height: rem(22px);
    margin-top: rem(40px);
  }

  .buttons-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: rem(16px);

    a,
    button {
      margin-bottom: rem(5px);
    }

    .button {
      padding: 0 rem(45px);

      &:focus {
        border: none;
        padding: 0 rem(45px);
      }
    }
  }
}
