.sign-up-page {
  a.quaternary-link {
    color: $primary;
  }

  .logo-side {
    background-image: $linear-gradient-to-bottom-right;
    bottom: 0;
    box-shadow: inset -10px 0 20px 0 $black-shadow;
    left: 0;
    position: fixed;
    right: 60%;
    top: 0;
    z-index: 1;

    .logo {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;

      img {
        height: rem(239px);
        max-height: none;
        padding: 0 rem(32px);
        width: rem(456px);
      }

      .logo-subtitle {
        color: $white;
      }
    }

    @media (max-width: $tablet) {
      position: relative;
      height: rem(100px);

      img {
        left: 0;
        padding: rem(16px) 0;
      }
    }
  }

  .sign-page-form {
    margin-left: 36%;
    width: 59%;
  }

  .column {
    padding: 0;
  }

  .columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
  }

  .confirmation-text {
    margin-bottom: rem(12px);
    font-weight: 500;
    font-size: rem(20px);
    line-height: rem(24px);
  }

  .information-text {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-top: rem(24px);

    img {
      height: rem(21px);
      margin-right: rem(6px);
      margin-top: rem(3px);
    }

    p {
      color: $grey-dark;
      font-size: rem(13px);
      line-height: rem(16px);
      text-align: justify;

    }
  }

  .sign-up-wrapper {
    padding: rem(48px) rem(24px) rem(48px) rem(54px);
  }

  .sign-up-title {
    font-size: rem(32px);
    font-style: italic;
    font-weight: 800;
    line-height: rem(38px);
    margin-bottom: rem(16px);
  }

  .sign-up-sub-title {
    font-size: rem(24px);
    font-style: italic;
    font-weight: 500;
    line-height: rem(24px);
    margin-bottom: rem(16px);
    word-break: break-word;
  }

  .sign-up-operating-procedures {
    background-color: $notification-info;
    padding: rem(16px);
    margin-bottom: rem(32px);

    div {
     margin-bottom: rem(10px)
    }
  }

  .sign-up-tips {
    color: $grey-dark;
    margin-bottom: rem(32px);
  }

  .tertiary-link {
    display: flex;
    align-items: center;
  }

  label {
    color: $grey-dark;
    display: block;
    font-size: rem(20px);
    margin-bottom: rem(32px);
  }

  label.sign-up-checkbox {
    color: $black;
    display: flex;
    font-size: rem($font-size);
    margin-bottom: rem(16px);
  }

  label.sign-up-cgu {
    color: $black;
    font-size: rem($font-size);
    font-weight: $weight-bold;
    margin-bottom: rem(16px);

    & a {
      text-decoration: underline;
    }
  }

  .sub-label {
    color: $grey-dark;
    display: inline;
    font-size: rem(14px);
  }

  input:not([type='checkbox']) {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -ms-flex-align: center;
    -ms-flex-pack: start;
    background-color: $white;
    border: 2px solid $grey-medium;
    border-radius: $control-radius;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-weight: $weight-semibold;
    font-size: rem(16px);
    height: rem(36px);
    max-width: 100%;
    margin-top: rem(8px);
    outline: none;
    padding: calc(0.375em - 2px) rem(16px);
    width: 100%;
  }

  input::placeholder {
    color: $grey-dark;
  }

  input:focus {
    border-color: $primary;
  }

  .field-siren-control {
    margin-top: rem(8px);
  }

  .field-siren-control input {
    margin-top: 0;
    width: rem(128px);
  }

  .field-siren-input-value {
    align-items: center;
    display: flex;
  }

  .field-siren-value {
    color: $black;
    font-size: $font-size;
    font-weight: $weight-semibold;
    padding-left: 0.25rem;
    text-transform: uppercase;
  }

  .field-password {
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: rem(8px);
  }

  .field-password > input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
    margin-top: 0;
  }

  .field-password > button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: $control-radius;
    border-bottom-right-radius: $control-radius;
    border-width: rem(2px);
    padding-left: rem(16px);
    padding-right: rem(16px);
  }

  .field-password:focus-within > button {
    border-color: $primary;
  }

  .field-password > img {
    padding-left: rem(15px);
    padding-right: rem(15px);
  }

  .sign-up-infos-before-signup {
    color: $grey-dark;
    font-size: rem(14px);
    font-weight: 500;
    line-height: rem(22px);
  }

  .buttons-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: rem(16px);

    a, button {
      margin-bottom: 5px;
    }

    .button {
      padding: 0 rem(45px);

      &:focus {
        border: none;
        padding: 0 rem(45px);
      }
    }
  }
}
