@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/fonts-design-system.scss" as fonts-design-system;

.heading1-commitment {
  @include fonts-design-system.title1;

  margin-bottom: rem.torem(32px);
}

.heading2-commitment {
  @include fonts-design-system.title2;
}

.heading2-commitment,
.paragraph,
.link {
  margin-bottom: rem.torem(16px);
}

.link {
  color: var(--color-grey-dark);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
