@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.heading2 {
  @include fonts.title2;
}

.heading3 {
  @include fonts.title3;
}

.heading2,
.heading3,
.paragraph,
.downlist-item,
.list-item {
  margin-bottom: rem.torem(16px);
}

.list-item {
  list-style: disc;
  margin-left: rem.torem(16px);
}

.downlist-item {
  list-style: circle;
  margin-left: rem.torem(32px);
}

.back-link {
  margin-bottom: rem.torem(32px);
}
