@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.heading1-scheme {
  @include fonts.title1;

  margin-bottom: rem.torem(32px);
}

.heading2 {
  @include fonts.title2;
}

.heading2,
.heading3,
.paragraph,
.downlist-item,
.list-item,
.link {
  margin-bottom: rem.torem(16px);
}

.list-item {
  list-style: disc;
  margin-left: rem.torem(16px);
}

.downlist-item {
  list-style: circle;
  margin-left: rem.torem(32px);
}

.link {
  color: var(--color-grey-dark);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
