@use "styles/mixins/_fonts.scss" as fonts;

.heading2 {
  @include fonts.title2;
}

.heading3 {
  @include fonts.title3;
}

.heading2,
.heading3,
.paragraph,
.downlist-item,
.list-item {
  margin-bottom: var(--size-spacing-l);
}

.list-item {
  list-style: disc;
  margin-left: var(--size-spacing-l);
}

.downlist-item {
  list-style: circle;
  margin-left: var(--size-spacing-xxl);
}

.back-link {
  margin-bottom: var(--size-spacing-xxl);
}
