@use "styles/mixins/fonts-design-system.scss" as fonts-design-system;

.reimbursements-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  @include fonts-design-system.title1;

  margin: 0;
}
