@use "styles/mixins/_fonts.scss" as fonts;

.row-field-public {
  margin-bottom: var(--size-spacing-xxl);
}

.title {
  @include fonts.title1;

  margin-bottom: var(--size-spacing-l);
  overflow-wrap: anywhere;
}
