.desk-screen {
  .desk-form {
    border-radius: rem(8px);
    box-shadow: 0 0 5px $black-shadow;
    display: flex;
    flex-direction: column;
    padding: rem(25px);
    text-align: center;

    :global(.it-input) {
      margin: rem(10px) auto rem(15px);
      width: rem(328px);
    }
    :global(.input-text .labels) {
      margin: 0 auto;
      width: rem(328px);
    }
    :global(.bi-banner) {
      text-align: left;
    }
  }
}

.desk-button {
  background-image: linear-gradient(to left, $primary 10%, transparent 0%);
  background-position: center;
  background-repeat: repeat-x;
  background-size: 6px 1px;
  margin-bottom: rem(10px);
}

.desk-message {
  @include caption();

  color: $green-valid;

  &.error {
      color: $red-error;
  }
}
