@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

.desk-screen {
  .desk-form {
    border-radius: rem.torem(8px);
    box-shadow: 0 0 rem.torem(5px) colors.$black-shadow;
    display: flex;
    flex-direction: column;
    padding: rem.torem(25px);
    text-align: center;

    :global(.it-input) {
      margin: rem.torem(10px) auto rem.torem(15px);
      width: rem.torem(328px);
    }
    :global(.input-text .labels) {
      margin: 0 auto;
      width: rem.torem(328px);
    }
  }
}

.desk-button {
  background-image: linear-gradient(
    to left,
    colors.$primary 10%,
    transparent 0%
  );
  background-position: center;
  background-repeat: repeat-x;
  background-size: rem.torem(6px) rem.torem(1px);
  margin-bottom: rem.torem(10px);
}

.desk-message {
  @include fonts.caption();

  color: colors.$green-valid;

  &.error {
    color: colors.$red-error;
  }
}

.desk-banner {
  text-align: left;
}