@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

.input-select {
  display: flex;
  flex-direction: column;

  .it-sub-label {
    @include fonts.caption();

    color: colors.$grey-dark;
    float: right;
    margin-left: rem.torem(5px);
  }

  select {
    @include fonts.body();

    appearance: none;
    background: url('/icons/dropdown-disclosure-down-b.svg') no-repeat right
      rem.torem(15px) top 56%;
    border: rem.torem(1px) solid colors.$grey-medium;
    border-radius: rem.torem(20px);
    height: rem.torem(40px);
    margin-top: rem.torem(8px);
    outline: none;
    padding-left: rem.torem(16px);
    padding-right: rem.torem(30px);
    text-overflow: ellipsis;

    &:focus {
      border-color: colors.$primary;
      box-shadow: 0 0 0 rem.torem(1px) colors.$primary inset;
    }

    &:disabled {
      background-color: colors.$grey-light;
      background-image: url('/icons/dropdown-disclosure-down-b-disabled.svg');
      border-color: colors.$grey-light;
      color: colors.$grey-dark;
      cursor: initial;
      opacity: 1;
    }

    &.error:not(:focus-within) {
      border: rem.torem(2px) solid colors.$red-error;
    }
  }

  &-full-width {
    display: flex;
    flex-direction: column;
  }

  &-inline {
    display: flex;
    align-items: flex-end;

    select {
      min-width: rem.torem(184px);
    }

    &-label-complement {
      padding: rem.torem(10px) rem.torem(16px);
    }
  }
}
