@use "styles/components/layout/inputs/TextInput/_TextInput.scss" as textinput;

.input-textarea {
  @include textinput.input-text;

  resize: none;
  width: 100%;

  .it-input {
    height: auto; // we need to override .input-text default height
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
  }
}
