@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;

.copie-me-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem.torem(4px);
  width: rem.torem(300px);
  border: rem.torem(1px) solid colors.$grey-semi-dark;
  border-radius: rem.torem(30px);

  .code {
    width: 100%;
    text-align: center;
  }

  .copie-button {
    height: rem.torem(36px);
  }

  .icon-button {
    margin-right: rem.torem(5px);
  }

  .has-clicked-copy {
    height: rem.torem(35px);
    min-width: rem.torem(114px);
    animation: toGreen 3s 1;

    @keyframes toGreen {
      0% {
        background-color: colors.$green-valid;
        border-color: colors.$green-valid;
      }

      80% {
        background-color: colors.$green-valid;
        border-color: colors.$green-valid;
      }
    }
  }
}
