.search-filters-page {
  background: $white;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.sf-header-wrapper {
  header {
    height: rem(45px);

    .header-title {
      padding: rem(5px)
    }
  }

  .back-link {
    position: absolute;
    top: rem(6px);
  }
}

.sf-content-wrapper {
  flex-grow: 1;
  padding: rem(24px);
  overflow-y: auto;

  .sf-title {
    display: inline-block;
    font-size: rem(18px);
    font-weight: 500;
  }

  .sf-geolocation-button {
    display: block;
    color: black;
    font-size: rem(16px);
    font-weight: 700;
    margin-top: rem(20px);
  }

  .sf-filter-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(20px);

    li {
      margin: rem(6px) rem(12px) rem(6px) 0;
    }
  }

  .sf-offer-type-title {
    display: inline-block;
    font-size: rem(18px);
    font-weight: 500;
    margin-top: rem(20px);
  }

  .sf-offer-type-wrapper {
    margin-top: rem(20px);
  }

  .sf-selected-filter-counter {
    color: $primary-error;
    font-size: rem(18px);
    font-weight: 500;
    margin-left: rem(5px);
  }

  .sf-title-wrapper {
    color: inherit;
    display: flex;
    width: 100%;
    font-size: rem(18px);
    font-weight: 500;
    margin-top: rem(20px);

    h4 {
      font-weight: inherit;
    }
  }

  .sf-title-drop-down {
    background: no-repeat right url('/icons/picto-drop-down.svg');
  }

  .sf-title-drop-down-flipped {
    background: no-repeat right url('/icons/picto-drop-down-flipped.svg');
  }
}

.sf-button-wrapper {
  margin-top: rem(20px);
  padding: 0 rem(24px) rem(20px) rem(24px);
  width: 100%;

  .sf-button {
    background-color: $primary;
    border-radius: 2rem;
    font-size: rem(16px);
    font-weight: 700;
    height: rem(48px);
    width: 100%;
  }
}

.sf-filter-separator {
  border-top: rem(1px) solid $grey-even-more-light;
  display: block;
  margin-top: rem(20px);
}
