.bookings-body {
  > tr:nth-child(odd) {
    background-color: $grey-light;
  }

  td {
    font-size: rem(16px);
    padding: rem(16px)
  }

  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
