.place-page {
  background-color: $white;
  height: 100%;
}

.place-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding: rem(22px);
}

.place-name {
  color: $black;
  font-size: rem(16px);
  font-weight: 400;
  margin-right: rem(5px);
  text-align: left;
}

.place-extra-data {
  color: $grey-dark;
  font-size: rem(16px);
  font-weight: 400;
  text-align: left;
}

.place-form-wrapper {
  form {
    align-items: center;
    display: flex;
    border-radius: rem(22px);
    box-shadow: 0 rem(2px) rem(10px) 0 $black-shadow;
    height: rem(40px);
    margin-bottom: rem(5px);
    margin-top: rem(10px);
  }
}

.place-text-input {
  border: none;
  color: $black;
  flex: 2;
  font-size: rem(16px);
  font-weight: 400;
  margin: 0 0 0 rem(30px);
  height: 100%;
  width: 80%;

  &::placeholder {
    font-size: rem(18px);
    font-style: italic;
    font-weight: 400;
  }
}

.place-reset-wrapper {
  display: flex;
  align-items: center;
  background: none;
  border-radius: rem(20px);
  justify-content: center;
  margin-right: rem(15px);

  .place-reset-button {
    img {
      color: $grey-dark;
      max-width: rem(20px);
    }
  }
}

.place-suggestions {
  padding-bottom: rem(40px);

  li {
    border-bottom: 1px solid $grey-light;
    padding: rem(15px) 0;

    button {
      color: $black;
      display: flex;
      flex-wrap: wrap;
    }
  }

  li:last-child {
    border-bottom: none;
    padding: rem(15px) 0;
  }
}
