.activation-codes-upload-confirmation-form {
  align-items: center;
  display: flex;
  flex-direction: column;

  .labels {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  .it-sub-label {
    @include caption();

    color: $grey-dark;
  }

  .expiration-date-information-message {
    margin-top: rem(8px);
  }

  .activation-codes-upload-information-message {
    @include body();

    margin-top: rem(8px);
  }

  .activation-codes-upload-confirmation-message {
    @include body();

    display: grid;
    grid-row-gap: rem(32px);
    margin-top: rem(16px);
  }

  .expiration-datetime-input-container {
    margin-top: rem(24px);
    text-align: left;
    width: rem(250px);
  }

  .expiration-datetime-label {
    @include body();

    display: inline-block;
    margin-bottom: rem(8px);
    width: 100%;
  }

  .activation-codes-upload-confirmation-buttons {
    display: grid;
    grid-column-gap: rem(24px);
    grid-template-columns: 1fr 1fr;
    margin-top: rem(32px);
    width: 100%;

    .activation-codes-upload-confirmation-button {
      width: 100%;
    }
  }
}
