@use "styles/mixins/_rem.scss" as rem;

.separator {
  margin: rem.torem(24px) 0;
  width: 100%;
  height: rem.torem(1px);
  background-color: var(--separator-color-subtle);
}

.search-results {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
