@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;

.cookies-footer {
  // add height here can create a blank space in sign in page

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: rem.torem(16px);
  flex-direction: column;

  &-link {
    @include fonts.caption;

    &,
    &:focus {
      padding: 0;
    }
  }

  @media (min-width: size.$tablet) {
    flex-direction: row;
  }

  ul {
    display: flex;
    height: 100%;
    flex-flow: column;
    white-space: nowrap;
    width: 100%;
    margin: rem.torem(24px);
    gap: rem.torem(16px);
    justify-content: flex-start;
    align-items: flex-start;

    @media (min-width: size.$mobile) {
      flex-direction: row;
      align-items: center;
      margin: 0 auto;
    }
  }

  li {
    white-space: nowrap;
  }
}
