@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;

.cookies-footer {
  display: flex;
  height: size.$sign-footer-height;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: rem.torem(16px);

  &-link {
    @include fonts.caption;

    &, &:focus {
      padding: 0;
    }
  }
}
