.cg-written-remaining {
  font-size: rem(18px);
  font-weight: 500;
  margin-top: rem(8px);
  margin-bottom: rem(4px);
}

.cg-container {
  flex: 1 1 0px;
}

.cg-remaining {
  height: rem(16px);
}

.cg-circle {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: rem(32px);
  height: rem(32px);
  z-index: 1;  
}

.cg-gauge {
  align-items: center;
  display: flex;
}

.cg-limit {
  background: $grey-even-more-light;
  border: 2px solid $grey-border-cg;
  border-radius: rem(10px);
  box-shadow: 2px 2px 3px $grey-shadow-cg;
  height: rem(20px);
  margin-left: rem(-9px);
  width: rem(56px);
}


.gauge-digital {
  margin-right: rem(3px);

  .cg-circle {
    background: $primary;
  }

  .cg-remaining {
    background: $primary;
  }

  .cg-written-remaining {
    color: $primary;
  }
}

.gauge-physical {
  margin-right: rem(3px);

  .cg-circle {
    background: $purple-blue;
  }

  .cg-remaining {
    background: $purple-blue;
  }

  .cg-written-remaining {
    color: $purple-blue; 
  }
}

.gauge-total {
  .cg-circle {
    background: $ribbon-blue;
  }

  .cg-remaining {
    background: $ribbon-blue;
  }

  .cg-written-remaining {
    color: $ribbon-blue;
  }
}

.cg-container-empty-gauge {
  .cg-circle {
    background: $grey;
  }

  .cg-written-remaining {
    color: $grey; 
  }
}

.cg-gauge-width-0 {
  width: 10%;
}

.cg-gauge-width-1 {
  width: 19%;
}

.cg-gauge-width-2 {
  width: 28%;
}

.cg-gauge-width-3 {
  width: 37%;
}

.cg-gauge-width-4 {
  width: 46%;
}

.cg-gauge-width-5 {
  width: 55%;
}

.cg-gauge-width-6 {
  width: 64%;
}

.cg-gauge-width-7 {
  width: 73%;
}

.cg-gauge-width-8 {
  width: 82%;
}

.cg-gauge-width-9 {
  width: 91%;
}

.cg-gauge-width-10 {
  border-radius: rem(10px);
  width: 100%;
}