@-webkit-keyframes rotation {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}

.spinner {
  text-align: center;

  img {
    -webkit-animation: rotation 1s infinite linear;
    margin-right: 1rem;
    vertical-align: middle;
  }

  .content {
    display: inline-block;
    position: relative;

    &::after {
      content: attr(data-dots);
      height: 100%;
      position: absolute;
      right: -1.5rem;
      text-align: left;
      width: 1rem;
    }
  }
}
