.venue-provider-row {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  .venue-provider-item-info {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .provider-name-container {
    @include caption();

    align-content: center;
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    margin-left: rem(20px);
    text-transform: uppercase;
  }

  .venue-id-at-offer-provider-container-with-message {
    @include caption();

    display: inline;
    flex: 4;
    margin-left: rem(20px);
  }

  .venue-id-at-offer-provider-container {
    @include caption();

    align-items: center;
    display: flex;
    flex: 4;
    flex-direction: row;

    .venue-id-at-offer-provider {
      @include caption();

      flex: 1.5;
    }

    .offers-container-counter {
      flex: 1;
      justify-content: flex-end;
      padding-top: rem(8px);

      .number-of-offers-label {
        display: inline-block;
        padding-left: rem(5px);
        vertical-align: top;
      }
    }
  }

  .offers-container-message {
    flex: 1.5;
    justify-content: flex-end;
    padding-top: rem(8px);
  }

  .venue-informations {
    align-self: flex-start;

    &-sync-item {
      align-items: center;
      color: $grey-dark;
      display: inline-flex;

      &::before {
        background-color: $green-valid;
        border-radius: 50%;
        content: '';
        display: inline-block;
        height: rem(8px);
        margin-right: rem(8px);
        width: rem(8px);
      }

      @include caption();
    }

    li {
      margin-top: rem(8px);

      :first-child {
        color: $grey-dark;
      }
    }

    button {
      margin-top: rem(32px);
      padding: 0 rem(32px);
    }
  }
}
