@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.booking-offer-name {
  @include fonts.button();

  max-width: rem.torem(130px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.booking-offer-additional-info {
  color: colors.$grey-dark;
}

