@import 'sass-rem';
@import 'styles';

.base-checkbox {
  display: inline-flex;
  cursor: pointer;
  align-items: center;

  &-label {
    line-height: 1em;

    :disabled + & {
      color: $input-text-color-disabled;
      cursor: default;
    }
  }

  &-icon {
    margin-right: rem(8px);
    color: $input-text-color;

    :disabled + & {
      color: $input-text-color-disabled;
    }
  }

  &-input {
    appearance: none;
    border: 2px solid $grey-dark;
    border-radius: 4px;
    flex: 0 0 auto;
    font-size: inherit;
    height: 1.1875em;
    margin-right: rem(8px);
    outline: none;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 1.1875em;
    cursor: pointer;

    &:checked {
      background-color: $grey-dark;

      &::after {
        background-image: url(/icons/checkbox-check.svg);
        background-position: center;
        background-repeat: no-repeat;
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
      }

      &:hover {
        background-color: $primary;
        border-color: $primary;
      }

      &:focus {
        background-color: $primary-dark;
        border-color: $primary-dark;
      }

      &:disabled {
        background-color: $grey-medium;
        border-color: $grey-medium;
        cursor: not-allowed;
        opacity: 1;
      }
    }

    &:not(:checked) {
      background-color: $white;

      &:hover {
        border-color: $primary;
      }

      &:focus {
        border-color: $primary-dark;
      }

      &:disabled {
        border-color: $grey-medium;
        opacity: 1;
      }
    }
  }
}
