@use 'styles/mixins/_rem.scss' as rem;

.dialog-box-overlay {
  align-items: center;
  display: grid;
  justify-content: center;
  z-index: 10;

  [data-reach-dialog-content] {
    width: initial;
    margin: rem.torem(32px) auto;
  }
}

.dialog-box-content {
  border-radius: rem.torem(10px);
  min-width: rem.torem(534px);
  position: relative;
  width: auto;
}

.dialog-box-close-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.dialog-box-close {
  align-items: center;
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  margin: rem.torem(-2px) rem.torem(-2px) rem.torem(-9px) 0;
  width: rem.torem(44px);
  height: rem.torem(44px);
}
