@use "styles/mixins/_rem.scss" as rem;

.skeleton-list {
  display: flex;
  padding: rem.torem(20px);
  border: rem.torem(1px) solid var(--color-border-subtle);
  border-radius: rem.torem(16px);
  animation: pulse 1.5s infinite alternate;
  width: 100%;
  margin-bottom: rem.torem(16px);

  &-image {
    width: rem.torem(175px);
    height: rem.torem(250px);
    background-color: var(--color-background-subtle);
    margin-right: rem.torem(20px);
    border-radius: rem.torem(16px);
  }

  &-text {
    flex: 1;
  }

  &-title {
    width: 75%;
    height: rem.torem(32px);
    background-color: var(--color-background-subtle);
    margin-bottom: rem.torem(24px);
  }

  &-tag {
    width: 15%;
    height: rem.torem(24px);
    background-color: var(--color-background-subtle);
    border-radius: rem.torem(33px);
  }

  &-info {
    width: 100%;
    display: flex;
    gap: rem.torem(16px);
    margin-bottom: rem.torem(24px);
  }

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-actions {
    display: flex;
    gap: rem.torem(16px);
  }

  &-button {
    width: rem.torem(40px);
    height: rem.torem(40px);
    border-radius: var(--border-radius-full);
    background-color: var(--color-background-subtle);
  }
}

.skeleton-grid {
  padding: rem.torem(20px);
  animation: pulse 1.5s infinite alternate;

  &-image {
    width: rem.torem(215px);
    height: rem.torem(275px);
    background-color: var(--color-background-subtle);
    border-radius: rem.torem(16px);
  }

  &-info {
    width: 100%;
    display: flex;
    gap: rem.torem(16px);
    margin: rem.torem(16px) 0;
  }

  &-tag {
    width: 40%;
    height: rem.torem(24px);
    background-color: var(--color-background-subtle);
    border-radius: rem.torem(33px);
  }

  &-title {
    width: 100%;
    height: rem.torem(32px);
    background-color: var(--color-background-subtle);
    margin-bottom: rem.torem(16px);
  }
}

.line {
  width: 100%;
  height: rem.torem(15px);
  background-color: var(--color-background-subtle);
  margin-bottom: rem.torem(24px);

  &-25 {
    width: 25%;
    height: rem.torem(15px);
    background-color: var(--color-background-subtle);
    margin-bottom: rem.torem(24px);
  }

  &-50 {
    width: 50%;
    height: rem.torem(15px);
    background-color: var(--color-background-subtle);
  }

  &-description {
    width: 100%;
    height: rem.torem(15px);
    background-color: var(--color-background-subtle);
    margin-bottom: rem.torem(8px);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.3;
  }
}
