.notification {
  margin: 6px;
  overflow-y: hidden;
  padding: 6px;
  position: relative;

  .small-padding {
    padding: 0.2rem;
  }

  img {
    align-self: baseline;
  }

  &.is-danger {
    background-color: $notification-error;
    color: $black;
  }

  &.is-info {
    background-color: $notification-info;
    color: $black;
  }

  &.is-success {
    background-color: $notification-success;
    color: $black;
  }

  &.is-warning {
    background-color: $notification-warning;
    color: $black;
  }

  a.close,
  button.close {
    color: $black;
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    font-size: $font-size;
    font-weight: $weight-semibold;
    height: auto;
    padding-left: rem(12px);
    text-decoration: underline;

    &:focus,
    &:hover {
      text-decoration: none;
      opacity: 0.75;
    }
  }

  &.fullscreen {
    margin-left: calc(40% + 1px);
    width: auto;
  }
}

.is-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  .notification-action-links {
    display: flex;
  }

  .notification-description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
  }
}
