@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_size.scss" as size;

.adage-header {
  display: flex;
  flex-direction: column;
  margin-bottom: rem.torem(32px);

  &-discovery {
    margin-bottom: 0;
  }

  &-help {
    display: flex;
    flex-wrap: wrap;
    box-shadow: inset 0 rem.torem(5px) rem.torem(3px) rem.torem(-3px)
      var(--color-large-shadow);
    background-color: var(--color-grey-light);
    justify-content: center;
    padding: rem.torem(16px);
    gap: rem.torem(16px);
  }

  &-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--color-white);
    padding: 0;
    border-radius: rem.torem(8px) rem.torem(8px) 0 0;
    box-shadow: 0 rem.torem(2px) rem.torem(4px) 0 var(--color-large-shadow);
    overflow-x: auto;

    &-brand {
      width: rem.torem(120px);
      color: var(--color-brand);
      display: none;
    }
  }
}

@media (min-width: size.$laptop) {
  .adage-header-nav {
    padding: 0 rem.torem(16px);

    &-brand {
      display: block;
    }
  }
}

@media (min-width: size.$tablet) {
  .adage-header-nav {
    flex-direction: row;
    align-items: center;
  }
}
