.opening-hours-subsubsection {
  margin-top: var(--size-spacing-xxl);

  &-address-input {
    margin-bottom: var(--size-spacing-l);
  }

  &-callout {
    margin-bottom: var(--size-spacing-xl);
  }
}

.opening-hours {
  margin: var(--size-spacing-xl) 0;
}

.description-helper {
  margin-top: var(--size-spacing-s);
  margin-bottom: var(--size-spacing-l);
}
