@use "styles/mixins/_rem.scss" as rem;

.box-form-layout {
  margin-bottom: rem.torem(24px);
}

.box-form-layout-header-title {
  margin-bottom: rem.torem(8px);
  color: var(--color-grey-dark);
}

.box-form-layout-fields {
  max-width: rem.torem(400px);
}

.box-form-layout-form-header {
  margin-bottom: rem.torem(16px);
  word-break: break-word;
}

.box-form-layout-form-header-secondary {
  color: var(--color-grey-dark);
}

.box-form-layout-required-message {
  margin-bottom: rem.torem(16px);
}
