<%# scss.yes %>
import cn from 'classnames'

import styles from './<% cname %>.module.scss'

<%/ scss.yes %>
export interface <% cname %>Props {
  className?: string
}

export const <% cname %> = ({ className }: <% cname %>Props): JSX.Element => {
  return (
    <%# scss.yes %>
    <div className={cn(styles[`<% cname %>`], className)}>
    <%/ scss.yes %>
    <%# scss.no %>
    <div className={className}>
    <%/ scss.no %>
      <h1><% cname %></h1>
    </div>
  )
}
