import { screen } from '@testing-library/react'
import { axe } from 'vitest-axe'

import {
  renderWithProviders,
  RenderWithProvidersOptions,
} from 'commons/utils/renderWithProviders'

import { <% name %> } from './<% name %>'

const render<% name %> = (options?: RenderWithProvidersOptions) => {
  return renderWithProviders(<<% name %> />, { ...options })
}

describe('<<% name %> />', () => {
  it('should render without accessibility violations', async () => {
    const { container } = render<% name %>()

    expect(await axe(container)).toHaveNoViolations()
  })
})
