@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;

.identifier-field-section {
  .field {
    align-items: center;
    display: flex;
  }

  .field-label {
    @include fonts.body;

    color: colors.$black;
    flex: 1;
    white-space: initial;
  }

  .is-label-aligned .field-label {
    margin: 0;
    padding: 0;
  }

  .field-checkbox {
    vertical-align: bottom;
  }

  .field-select {
    padding: 0;
    width: initial;
  }

  .control {
    position: relative;
  }

  .select {
    select {
      @include fonts.body-important;

      appearance: none;
      background-color: colors.$white;
      border: rem.torem(1px) solid colors.$grey-medium;
      border-radius: rem.torem(18px);
      height: rem.torem(36px);
      max-width: 100%;
      outline: none;
      padding: rem.torem(4px) rem.torem(40px) rem.torem(4px) rem.torem(16px);
    }

    &::after {
      border: rem.torem(3px) solid colors.$black;
      border-radius: rem.torem(2px);
      border-right: 0;
      border-top: 0;
      content: "";
      height: rem.torem(10px);
      margin-top: rem.torem(-7px);
      pointer-events: none;
      position: absolute;
      right: rem.torem(18px);
      top: 50%;
      transform: rotate(-45deg);
      transform-origin: center;
      width: rem.torem(10px);
    }
  }

  .field-control {
    flex: 3;
  }

  .required-fields-hint {
    color: colors.$grey-dark;
    float: right;
    font-size: rem.torem(13px);
  }

  .venue-type-label,
  .venue-label-label {
    padding-left: rem.torem(22px);
  }

  .field.is-label-aligned .field-control {
    display: flex;
  }
}
