$step-border-width: 1px;

[data-registration-steps-id] {
  & .progress {
    top: 3.4rem;
    left: 0;
    right: 0;
    height: .2rem;
    background: repeating-linear-gradient(
      90deg,
      $gray-200,
      $gray-200 5px,
      #fff 5px,
      #fff 9px
   );

    & > .progress-bar {
      height: .2rem;
      background: repeating-linear-gradient(
        90deg,
        $gray-600,
        $gray-600 5px,
        #fff 5px,
        #fff 9px
     );
    }
  }

  & .breadcrumb-container {
    list-style-type: none;

    & .steps {
      flex-basis: 0;

      &.step-disabled {
        .step-number {
          color: $gray-600;
        }
      }
    }

    & .step-number {
      border-radius: 9%;
      width: 7rem;
      height: 7rem;
      background-color: $white;
      border: $step-border-width solid $gray-200;
      z-index: 100;

      & i {
        font-size: 1.5rem;
      }
    }

    & .step-status-icon-container {
      width: 2.1rem;
      height: 2.1rem;
      left: calc(100% - 1.05rem) !important;
      top: 28% !important;
      background-color: $gray-200;

      &.step-success {
        background-color: $green-100;
      }

      &.step-warning {
        background-color: $yellow-100;
      }

      &.step-error {
        background-color: $red-100;
      }
    }

    & .step-success .step-number {
    }

    & .step-warning .step-number {
    }

    & .step-error .step-number {
    }

    & .step-active .step-number {
    }

    & .step-text {
      display: none;

      @media(min-width: 568px) {
        display: flex;
        font-size: 0.85rem;
        justify-content: center;
        line-height: 1.5rem;
        text-align: center;
        max-width: 5.5rem;
      }
    }
  }
}
