$step-border-width: 1px;
$step-active-border-width: 3px;

[data-registration-steps-id] {
  & .progress {
    top: 1.4rem;
    left: 0;
    right: 0;
    height: .3rem;

    & > .progress-bar {
      height: .3rem;
    }
  }

  & .breadcrumb-container {
    list-style-type: none;

    & .steps {
      flex-basis: 0;

      &.step-disabled {
        cursor: not-allowed;
        .step-number {
          color: #fff;
          background-color: $gray-600;
          border: $step-border-width solid $gray-600;
        }
      }
    }

    & .step-number {
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      background-color: $gray-200;
      border: $step-border-width solid $gray-600;
      z-index: 100;
    }

    & .step-status-icon-container {
      width: 1.5rem;
      height: 1.5rem;
      background-color: $gray-200;

      &.step-success {
        background-color: $success-bg-subtle;
      }

      &.step-warning {
        background-color: $warning-bg-subtle;
      }

      &.step-error {
        background-color: $danger-bg-subtle;
      }
    }

    & .step-success .step-number {
      background-color: $success-bg-subtle;
      border: $step-border-width solid $success-border-subtle;
    }

    & .step-warning .step-number {
      background-color: $warning-bg-subtle;
      border: $step-border-width solid $warning-border-subtle;
    }

    & .step-error .step-number {
      background-color: $danger-bg-subtle;
      border: $step-border-width solid $danger-border-subtle;
    }

    & .step-active .step-number {
      box-shadow: 0px 0px 0px $step-active-border-width $primary inset;
      border-color: $primary;
    }

    & .step-text {
      display: none;

      @media(min-width: 568px) {
        display: flex;
        color: #68737a;
        font-size: 1rem;
        justify-content: center;
        line-height: 1.5rem;
        text-align: center;
        max-width: 5.5rem;
        padding-top: 10px;
      }
    }
  }
}

.pc-personal-information-registration-view {
  .form-switch-show-all-steps {
    &:has(> input[name="show_all_steps"]:checked) {
      & ~ .step-content.d-block {
        display: none !important;
      }

      & ~ .all-id-check-history-container {
        display: block !important;
      }
    }
  }
}
