.stocks-page {
  h2 {
    @include title3();
  }

  .tertiary-button {
    margin-top: rem(26px);

    img {
      filter: brightness(0);
    }
  }

  .cancellation-information {
    margin-top: rem(16px);
  }

  table {
    margin-top: rem(28px);
    width: 100%;
  }

  th {
    @include caption();

    text-align: left;
  }

  th.action-column {
    max-width: rem(61px);
    min-width: rem(61px);
  }

  table td,
  table th {
    padding: rem(10px) rem(5px);
    vertical-align: middle;
  }

  .actions-section {
    button,
    a {
      max-width: rem(230px);
    }
  }
}
