@use "styles/mixins/_rem.scss" as rem;

.input-price,
.input-quantity {
  width: rem.torem(146px);
}

.input-booking-limit-datetime {
  flex: 1 0 rem.torem(316px);
}

.input-activation-code {
  flex: 1 0 rem.torem(160px);
}

.field-layout-footer {
  min-height: rem.torem(32px);
}
