<html>
    <body>
        <h1>Récapitulatif des paiements du {{ date_sent }}</h1>
        <p id="total">Nombre total de paiements : {{ total_number }}</p>
        <p id="counts">
            <ul>
            {% for status, count in n_payments_by_status.items() %}
                <li>{{ status }} : {{ count }}</li>
            {% endfor %}
            </ul>
        </p>
        <p>
            En pièce jointe : la liste des paiements au statut <strong>NOT_PROCESSABLE</strong>.
        </p>
    </body>
</html>
