@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

// sass doc: https://sass-lang.com/documentation
.tutorial-box {
  height: rem.torem(620px);
  width: rem.torem(750px);
}

.tutorial {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-align: center;

  h1 {
    margin-bottom: rem.torem(24px);
    margin-top: rem.torem(40px);
  }

  li {
    list-style-position: inside;
    list-style-type: '- ';
    margin-top: rem.torem(8px);
  }

  .tutorial-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    width: rem.torem(500px);
  }

  .tutorial-footer {
    margin-top: rem.torem(50px);
  }

  .nav-step-list-section {
    align-items: center;
    display: flex;
    justify-content: center;

    .nav-step {
      background: colors.$grey-medium;
      border: none;
      border-radius: 50%;
      height: rem.torem(8px);
      margin-left: rem.torem(8px);
      width: rem.torem(8px);

      &:focus {
        outline: transparent;
      }
    }

    .nav-step-active {
      background: colors.$primary;
      border-radius: 50%;
      box-shadow: 0 0 rem.torem(3px) 0 rgba(colors.$secondary, 0.21);
      height: rem.torem(12px);
      width: rem.torem(12px);
    }

    .nav-step-done {
      background: colors.$green-valid;
    }
  }

  .nav-buttons-section {
    margin-top: rem.torem(28px);

    button {
      margin-left: rem.torem(20px);
      min-width: rem.torem(
        103px
      ); // we use similar width for all button to avoid them moving on click.
    }
  }
}
