@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

.toggle-venue-provider-status-dialog {
  min-width: rem.torem(636px);

  .explanation {
    text-align: left;

    ul {
      list-style: disc;
      margin-left: rem.torem(32px);
    }
  }
}
