@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  &-layout-sticky-basic,
  &-layout-sticky-onboarding {
    margin-bottom: size.$action-bar-sticky-height;
    margin-top: var(--size-spacing-xl);
  }

  &-layout-onboarding {
    height: size.$footer-height;
  }

  &-layout-sticky-onboarding {
    margin-bottom: 0;
  }

  &-layout-sign-up {
    border-top: rem.torem(1px) solid rgb(0 0 0 / 12%);
    margin-left: 0;
    margin-right: 0;

    .footer-list {
      flex: 1;
      margin: auto;
      max-width: rem.torem(640px);

      @media (min-width: size.$laptop) {
        margin: var(--size-spacing-l);
        max-width: initial;
      }
    }

    .footer-list-item {
      margin: var(--size-spacing-xs) 0;
    }
  }

  .footer-list {
    display: flex;
    flex-flow: row wrap;
    margin: var(--size-spacing-xl);
    gap: var(--size-spacing-m);
    justify-content: flex-start;
  }

  .footer-list-item {
    white-space: nowrap;
    display: flex;
    align-items: center;
  }

  @media (min-width: size.$laptop) {
    min-height: size.$footer-height;

    &-layout-sign-up {
      min-height: inherit;
      align-self: flex-end;
      width: 100%;

      .footer-list {
        justify-content: space-around;
        margin: var(--size-spacing-s);
      }
    }
  }

  @media screen and (min-width: size.$laptop) {
    &-layout-sign-up {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
