@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/size.scss" as size;

.footer {
  margin-left: rem.torem(32px);

  @media (min-width: size.$mobile) {
    min-height: size.$footer-height;
  }

  &-layout-sticky-actions {
    margin-bottom: size.$action-bar-sticky-height;
  }

  &-layout-funnel {
    height: size.$footer-height + size.$action-bar-sticky-height;
    padding-bottom: size.$action-bar-sticky-height;
    margin-left: 0;
  }

  @media (min-width: size.$tablet) {
    &-layout-without-nav {
      margin: -#{size.$footer-height} 0 0 size.$side-logo-width;
    }
  }

  ul {
    display: flex;
    height: 100%;
    flex-flow: column;
    white-space: nowrap;
    width: 100%;
    margin: rem.torem(24px);
    gap: rem.torem(16px);
    justify-content: flex-start;
    align-items: flex-start;

    @media (min-width: size.$mobile) {
      flex-direction: row;
      align-items: center;
      margin: 0 auto;
    }
  }

  li {
    white-space: nowrap;
  }
}
