@use "styles/mixins/_rem.scss" as rem;

.image-preview-shell {
  position: absolute;
  height: rem.torem(130px);
  left: rem.torem(44px);
  top: rem.torem(12px);
}

.image-preview-home-preview {
  position: absolute;
  height: rem.torem(56px);
  background-color: var(--color-white);
  border-radius: rem.torem(5px);
  top: rem.torem(50px);
  left: rem.torem(48px);
}
