@use "styles/mixins/_rem.scss" as rem;

.image-preview-shell {
  position: absolute;
  height: rem.torem(128px);
  z-index: 0;
}

.image-preview-home-preview {
  position: absolute;
  top: rem.torem(65.92px);
  left: rem.torem(4.48px);
  width: rem.torem(27.25px);
  background-color: var(--color-white);
  border-radius: rem.torem(1.49px);
}
