.sub-form {
  margin-top: var(--size-spacing-xl);
}

.callout {
  margin-bottom: var(--size-spacing-xxl);
}

.artistic-info-inputs {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-l);
}
