@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;
@use "styles/mixins/_fonts.scss" as fonts;

.inputs-line {
  margin-bottom: rem.torem(8px);
  gap: rem.torem(8px);
  display: inline-flex;
  flex-wrap: wrap;
}

.legend-days {
  margin-bottom: rem.torem(16px);
}

.day-checkbox {
  flex-grow: 1;
}

.hour-line {
  display: inline-flex;
  gap: rem.torem(8px);
  align-items: center;
}

.time-picker {
  margin-bottom: 0;
  width: rem.torem(100px);
}

.hour-cell {
  padding: rem.torem(8px);
  padding-left: 0;
  vertical-align: top;
}

// Align every cell content to the top so that it looks good with an error message
// then adjust the dash/button manually
.top-aligned-content {
  margin-top: calc(size.$input-min-height / 2 - 0.5rem);
}

.top-aligned-button {
  margin-top: calc(size.$input-min-height / 2);
  transform: translateY(-50%);
}

.column-header,
.day-cell {
  @include fonts.body;

  text-align: left;
  padding: rem.torem(8px);
  padding-left: 0;
}

.day-cell {
  text-align: left;
  vertical-align: top;
  min-width: rem.torem(100px);
  padding-top: rem.torem(16px);
  padding-right: rem.torem(24px);
  flex: 1 100%;
}

.row-header {
  display: flex;
  align-items: center;
  gap: rem.torem(16px);
}

.row-data {
  display: flex;
  flex-wrap: wrap;
}

.second-hour {
  display: inline-flex;
  gap: rem.torem(8px);
}

.hour-cell-afternoon-displayed {
  padding-bottom: 0;
}

.column-header-first {
  display: none;
}

@media screen and (min-width: size.$tablet) {
  .column-header-first {
    display: table-cell;
  }

  .column-header,
  .day-cell {
    text-align: center;
  }

  .day-cell {
    text-align: left;
  }

  .row-header {
    display: table-row;
  }

  .row-data {
    display: table-row;
    align-items: center;
    flex-wrap: wrap;
  }
}
