@use "styles/mixins/_forms.scss" as forms;
@use "styles/mixins/_rem.scss" as rem;

.base-input {
  @include forms.input-theme;

  &.filter-variant {
    border-radius: rem.torem(4px);
    padding: 0 rem.torem(4px);
    min-height: rem.torem(24px);
  }

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
  }

  // we don't want little arrow for input number

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    appearance: textfield;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    appearance: textfield;
  }

  &.has-error {
    @include forms.input-theme-error;
  }

  &-with-right-icon:not(:placeholder-shown) {
    padding-right: rem.torem(36px);
  }

  &-right-icon {
    @include forms.input-icon-wrapper(rem.torem(16px));

    &.filter-variant {
      @include forms.input-icon-wrapper(rem.torem(16px), rem.torem(8px));
    }
  }

  &-wrapper {
    position: relative;
  }

  &-right-button {
    @include forms.input-icon-button-wrapper(32px);

    button {
      background: none;
      border: none;
      height: 100%;
      margin: 0 rem.torem(16px);
      outline: none;

      svg {
        width: rem.torem(32px);
        height: 100%;
      }
    }
  }
}
