@use 'styles/mixins/_forms.scss' as forms;
@use 'styles/mixins/_rem.scss' as rem;

.base-input {
  @include forms.input-theme();

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
  }

  &.has-error {
    @include forms.input-theme-error();
  }

  &-with-right-icon {
    padding-right: rem.torem(36px);
  }

  &-right-icon {
    @include forms.input-icon-wrapper(16px);
  }

  &-wrapper {
    position: relative;
  }
}
