@use "styles/mixins/_forms.scss" as forms;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;

.base-input {
  @include forms.input-theme;
  @include forms.input-theme-nested;

  &.filter-variant {
    border-radius: rem.torem(4px);
    padding: 0 size.$input-filter-variant-horizontal-padding;
    min-height: rem.torem(24px);
  }

  &::-webkit-inner-spin-button {
    display: none;
  }

  // we don't want little arrow for input number

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    appearance: textfield;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    appearance: textfield;
  }

  &.has-error {
    @include forms.input-theme-error;
  }

  &-with-right-icon:not(:placeholder-shown) {
    padding-right: rem.torem(36px);
  }

  &-with-left-icon {
    padding-left: rem.torem(36px);
  }

  &-right-icon,
  &-left-icon {
    @include forms.input-icon-wrapper(rem.torem(16px));

    &.filter-variant {
      @include forms.input-icon-wrapper(rem.torem(16px), rem.torem(8px));
    }
  }

  &-left-icon {
    left: 0;
    right: unset;
  }

  &-wrapper {
    position: relative;
  }

  &-right-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: rem.torem(48px);
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      background: none;
      border: none;
      height: 100%;
      padding-left: rem.torem(8px);
      display: flex;
      align-items: center;
    }
  }
}
