@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;

.activation-codes-upload-confirmation-form {
  align-items: center;
  display: flex;
  flex-direction: column;

  .labels {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  .it-sub-label {
    @include fonts.caption;

    color: colors.$grey-dark;
  }

  .expiration-date-information-message {
    margin-top: rem.torem(8px);
  }

  .activation-codes-upload-information-message {
    @include fonts.body;

    margin-top: rem.torem(8px);
  }

  .activation-codes-upload-confirmation-message {
    @include fonts.body;

    display: grid;
    grid-row-gap: rem.torem(32px);
    margin-top: rem.torem(16px);
  }

  .expiration-datetime-input-container {
    margin-top: rem.torem(24px);
    text-align: left;
    width: rem.torem(250px);
  }

  .expiration-datetime-label {
    @include fonts.body;

    display: inline-block;
    margin-bottom: rem.torem(8px);
    width: 100%;
  }

  .activation-codes-upload-confirmation-buttons {
    display: grid;
    grid-column-gap: rem.torem(24px);
    grid-template-columns: 1fr 1fr;
    margin-top: rem.torem(32px);
    width: 100%;

    .activation-codes-upload-confirmation-button {
      width: 100%;
    }
  }
}
