.select-digital-offer {
  @extend .no-background;
  @extend .mb12;
  @extend .mt16;

  label {
    white-space: pre;
    margin-left: 0.7rem;
    vertical-align: top;
  }

  div {
    margin-bottom: rem(18px);
  }
}

.pc-checkbox {
  background: url(/icons/checkbox.svg) no-repeat;
  background-size: 20px;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 0;
  margin-bottom: rem(54px);

  &:focus {
    background-image: url(/icons/checkbox-focused.svg);
  }

  &:active,
  &:checked {
    &::after {
      content: '';
      background: url(/icons/checkbox-check.svg) center no-repeat;
      width: 100%;
      height: 100%;
    }
  }
}

#filter-by-venue {
  .pc-selectbox {
    @extend .pl24, .py5;

    border-radius: 18px;
    width: 488px;
    height: 36px;
    background: url(/icons/dropdown-disclosure-down-s-w.svg) no-repeat transparent;
    background-position: 455px 14px;
    display: block;
    font-size: rem(16px);
    margin: rem(12px) 0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  label {
    white-space: pre;
    margin-top: rem(12px);
    margin-bottom: rem(12px);
  }
}
