.actions-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-spacing-s);
  margin-bottom: var(--size-spacing-xxl);
}

.tabs {
  margin-top: var(--size-spacing-xl);
  margin-bottom: unset;

  &-active {
    margin-bottom: var(--size-spacing-xl);
  }
}
