.opening-hours-subsubsection {
  margin-top: var(--size-spacing-xxl);

  &-address-input {
    margin-bottom: var(--size-spacing-l);
  }
}

.opening-hours {
  margin: var(--size-spacing-l) 0;
}

.volunteering-link {
  vertical-align: middle;
}

.sub-section {
  margin-top: var(--size-spacing-xxl);

  &--first {
    margin-top: var(--size-spacing-l);
  }
}
