@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/mixins/_fonts.scss' as fonts;

.profile-info-modal {
  .pi-title {
    @include fonts.title4();

    line-height: normal;
    text-align: center;
  }

  .pi-mandatory-message {
    @include fonts.caption();

    color: colors.$grey-dark;
    margin-top: rem.torem(24px);
  }

  label {
    margin-top: rem.torem(16px);

    &:first-child {
      margin-top: rem.torem(8px);
    }
  }

  .actions-group {
    display: flex;
    justify-content: center;
    margin-top: rem.torem(24px);

    button {
      width: rem.torem(150px);
    }

    .primary-button {
      margin-left: rem.torem(24px);
    }
  }
}
