@import 'sass-rem';
@import 'styles';

.multi-select-autocomplete-container {
  width: rem(213px);
  box-sizing: border-box;

  .multi-select-autocomplete__control {
    border: 1px solid $grey-medium;
    font-size: rem(15px);
    border-radius: rem(30px);
    padding: rem(8px) rem(16px);

    &.multi-select-autocomplete__control--is-focused {
      border-color: $grey-dark;
      box-shadow: none;
    }

    &.multi-select-autocomplete-input--has-selected-value {
      .multi-select-autocomplete__value-container
        .multi-select-autocomplete__placeholder {
        font-style: normal;
        font-weight: normal;
      }
    }

    .multi-select-autocomplete__value-container {
      padding: 0;

      .multi-select-autocomplete__placeholder {
        font-style: italic;
        color: $black;
        font-weight: 300;
      }
    }

    &:hover {
      border-color: $grey-dark;
    }
  }

  .multi-select-autocomplete__menu {
    margin: 0;
    width: rem(256px);
    right: 0;
    font-size: rem(15px);
    box-shadow: 0px rem(2px) rem(16px) rgba(37, 2, 108, 0.15);

    .multi-select-autocomplete__menu-list {
      padding: rem(8px) 0;
    }

    .multi-select-autocomplete__option {
      &.multi-select-autocomplete__option--is-focused,
      &.multi-select-autocomplete__option--is-focused.multi-select-autocomplete__option--is-selected {
        background-color: $grey-light;
      }

      &.multi-select-autocomplete__option--is-selected {
        background-color: $white;
        color: $black;

        &:hover,
        &:focus {
          background-color: $grey-light;
        }
      }
    }
  }

  .multi-select-autocomplete__indicators {
    .multi-select-autocomplete__indicator {
      padding: 0;
      color: $black;

      svg {
        fill: $grey-dark;
      }
    }
  }

  .multi-select-autocomplete__indicator-separator {
    display: none;
  }
}

.multi-select-autocomplete-label {
  display: inline-block;
  margin-bottom: rem(8px);
  font-size: rem(15px);
}

.multi-select-autocomplete__menu-notice.multi-select-autocomplete__menu-notice--no-options {
  color: $black;
  text-align: left;
}
