@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_a11y.scss" as a11y;
@use "styles/mixins/_fonts.scss" as fonts;

.image-preview {
  margin-top: var(--size-spacing-xl);
  height: rem.torem(264px);
  aspect-ratio: 2 / 3;
  border: 1px solid var(--color-border-subtle);
  box-shadow: var(--shadow-overlay);
}

.image-credit {
  margin-top: var(--size-spacing-s);
}

.default-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--size-border-radius-s);
  background: var(--color-background-subtle);

  &-icon {
    height: rem.torem(60px);
    width: rem.torem(60px);
    color: var(--color-icon-subtle);
  }
}

.image-credit-text {
  @include fonts.body-accent-s;

  color: var(--color-text-disabled);
}
