.identifier-field-section {
  .field {
    display: flex;
    align-items: center;
  }

  .field-label {
    flex: 1;
    color: $black;
    font-size: rem(16px);
    white-space: initial;
  }

  .is-label-aligned .field-label {
    padding: 0;
    margin: 0;
  }

  .field-select {
    padding: 0;
    width: initial;
  }

  .field-control {
    flex: 3;
  }

  .venue-type-label,
  .venue-label-label {
    padding-left: rem(22px);
  }
}

.siret-label-details {
  font-size: 0.8125rem;
}

.siret-label-bold {
  font-weight: bold;
}
