@use "src/styles/mixins/_rem.scss" as rem;
@use "src/styles/variables/_size.scss" as size;

.banner-provider {
  width: 100%;
  height: size.$provider-banner-height;
  padding: 0;
}

img.provider-logo {
  padding: rem.torem(10px) 0;
  max-height: 100%;
  margin: 0 rem.torem(16px);
}
