@use 'styles/mixins/_rem.scss' as rem;
$provider-banner-height: rem.torem(52px);

.banner-provider {
	width: 100%;
	height: $provider-banner-height;
	padding: 0;
}

img.provider-logo {
	max-height: 100%;
	margin: 0 rem.torem(16px);
}