.home-screen-shell {
  position: absolute;
  height: 515px;
}

.preview-on-home-screen {
  background-color: $white;
  border-radius: rem(5px);
  left: rem(17px);
  position: absolute;
  top: rem(152px);
  height: 228px;
}

.offer-screen-shell {
  top: rem(236px);
  position: absolute;
  height: 280px;
}

.blurred-preview-on-offer-screen {
  background-color: $white;
  filter: blur(2px);
  left: rem(1px);
  position: absolute;
  top: rem(1px);
  height: 435px;
  width: 290px;
}

.preview-on-offer-screen {
  background-color: $white;
  border-radius: rem(5px);
  left: rem(65px);
  position: absolute;
  top: rem(71px);
  height: 240px;
}
