@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.sections-container {
  display: flex;
  flex-direction: column;
  gap: rem.torem(24px);
  max-width: rem.torem(486px);
}

.details {
  display: flex;
  flex-direction: column;
  gap: rem.torem(16px);
}

.details-label {
  @include fonts.body-accent-xs;

  margin-bottom: rem.torem(8px);
  display: block;
}

.details-item {
  display: block;

  &::first-letter {
    text-transform: uppercase;
  }
}

.details-list {
  display: flex;
  flex-direction: column;
  gap: rem.torem(8px);

  & > *::first-letter {
    text-transform: uppercase;
  }
}

.callout {
  margin-top: rem.torem(16px);
}