@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;

.paginate-wrapper {
  @include fonts.body-important;

  align-items: center;
  color: colors.$black;
  display: flex;
  height: 100%;
  justify-content: center;

  button {
    align-items: center;
    border: none;
    display: flex;
  }

  button:disabled {
    cursor: default;
    opacity: 0;
  }

  span {
    @include fonts.caption;

    height: inherit;
    margin: 0 rem.torem(16px);
  }
}
