@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.confirmation {
  text-align: center;
  margin: auto;
  max-width: rem.torem(712px);

  &-icon {
    height: rem.torem(56px);
    margin-bottom: rem.torem(19px);

    &-validate {
      color: var(--color-valid);
    }
  }

  &-section {
    margin-bottom: rem.torem(32px);

    &-title {
      @include fonts.title3;
    }

    &-header {
      margin-bottom: rem.torem(24px);
    }
  }

  &-actions {
    max-width: rem.torem(486px);
    margin: rem.torem(40px) auto 0;
    display: flex;
    justify-content: center;
  }

  &-action {
    flex: 1;
    margin-left: rem.torem(24px);
    text-align: center;

    &:first-child {
      margin-left: 0;
    }
  }
}

.confirmation-wrapper .confirmation-banner {
  margin-top: rem.torem(45px);

  &-title {
    @include fonts.bold;

    margin-bottom: rem.torem(4px);
    line-height: normal;
  }
}
