.no-match {
  background-image: $linear-gradient-to-bottom-right;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: $white;
  font-weight: $weight-medium;

  h1 {
    font-size: rem(40px);
    font-weight: 500;
    padding-top: rem(32px);
  }

  .subtitle {
    font-size: rem(24px);
    font-style: italic;
    padding-top: rem(22px);
  }

  .redirection-link {
    margin-top: rem(48px);
  }

  .redirection-link a {
    align-items: center;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 24px;
    color: $white;
    cursor: pointer;
    font-size: rem(16px);
    font-weight: bold;
    justify-content: center;
    margin: 0 auto;
    max-height: rem(50px);
    outline: none;
    padding: rem(12px) rem(52px);
  }
}
