.no-match {
  background-image: $linear-gradient-to-bottom-right;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;

  .nm-title {
    @include hero();

    padding-top: rem(32px);
  }

  .nm-subtitle {
    @include title2();

    padding-top: rem(22px);
  }

  .nm-redirection-link {
    @include button();

    align-items: center;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: rem(24px);
    color: $white;
    cursor: pointer;
    justify-content: center;
    margin: rem(48px) auto 0 auto;
    max-height: rem(50px);
    outline: none;
    padding: rem(12px) rem(52px);
  }
}
