@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh; /* full sidebar height */
  justify-content: space-between;
}

.footer {
  padding: var(--size-spacing-s) 0;

  & .review {
    padding: var(--size-spacing-s) var(--size-spacing-l);
    align-items: center;
    display: flex;

    &:hover {
      background-color: var(--color-background-subtle);
    }
  }
}

.separator-line {
  background-color: var(--separator-color-subtle);
  margin: 0 rem.torem(16px);
  height: rem.torem(1px);
  margin-bottom: var(--size-spacing-l);
}
