@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;
@use "styles/variables/_z-index.scss" as zIndex;

$connect-as-header-height: rem.torem(52px);

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-background-subtle);
}

.page-layout {
  display: flex;
  height: 100%;
  overflow: hidden;
  border-top: none;

  &-funnel,
  &-onboarding {
    width: 100%;
  }

  &-connect-as {
    height: calc(100% - $connect-as-header-height);
  }

  @media (min-width: size.$desktop) {
    margin: 0 auto;
    width: rem.torem(size.$desktop);

    &-funnel,
    &-onboarding,
    &-sticky-onboarding,
    &-sign-up {
      width: 100%;
    }
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  background-color: var(--color-background-default);

  &-left-side {
    @media screen and (min-width: size.$tablet) {
      flex-direction: row;
    }

    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: rem.torem(120px);
      background: var(--color-background-locked-brand-primary);

      @media screen and (min-width: size.$tablet) {
        min-width: rem.torem(202px);
        width: size.$side-logo-width;
        min-height: 100vh;
        box-shadow: inset rem.torem(-10px) 0 rem.torem(20px) 0
          var(--color-large-shadow);
        max-width: size.$logo-side-width;
        position: sticky;
        height: 100vh;
        top: 0;
      }
    }
  }

  &-right-side {
    @media screen and (min-width: size.$laptop) {
      flex-direction: row-reverse;
    }

    &-logo {
      display: none;

      @media screen and (min-width: size.$desktop) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-width: size.$signup-side-min-width;
        width: 50%;
        background-color: var(--color-background-brand-primary);
        position: sticky;
        top: 0;
        overflow: hidden;

        .image-engagements {
          margin: 14vh auto;
          display: flex;
          flex-direction: column;
          width: 80%;
          gap: 5.05vh;
          color: var(--color-text-inverted);

          &-text-1 {
            @include fonts.title4;

            width: rem.torem(223px);
            align-self: flex-start;
            position: relative;
          }

          &-text-2 {
            @include fonts.title4;

            width: rem.torem(265px);
            align-self: flex-end;
            position: relative;
          }

          &-text-3 {
            @include fonts.title4;

            width: rem.torem(240px);
            align-self: flex-start;
            position: relative;
          }

          &-text-emphasis {
            position: relative;

            &::after {
              content: "";
              display: inline-block;
              background-color: var(--color-background-brand-secondary);
              width: calc(100% + 10px);
              height: rem.torem(14px);
              position: absolute;
              top: rem.torem(10px);
              left: rem.torem(-5px);
              z-index: -1;
              border-radius: 100px;
            }
          }

          @media (max-height: rem.torem(740px)) {
            margin: 4vh auto;
          }

          .citation-icon-1 {
            position: absolute;
            bottom: rem.torem(-1rem);
            right: rem.torem(1rem);
          }

          .citation-icon-2 {
            position: absolute;
            bottom: rem.torem(-1rem);
            left: rem.torem(-2rem);
            transform: rotate(90deg);
          }

          .citation-icon-3 {
            position: absolute;
            top: rem.torem(-1rem);
            right: rem.torem(-2rem);
            transform: rotate(-90deg);
          }
        }

        .image-laptop {
          &-macstudio {
            width: 100%;
            bottom: 0;
            right: 0;
            position: absolute;
            max-width: rem.torem(540px);

            @media (max-height: rem.torem(610px)) {
              bottom: rem.torem(-95px);
              max-width: rem.torem(400px);
            }
          }
        }

        @media (max-height: rem.torem(430px)) {
          .image-engagements {
            margin: rem.torem(50px) auto rem.torem(25px);
          }

          .image-laptop {
            &-macstudio {
              display: none;
            }
          }
        }
      }

      @media screen and (min-width: rem.torem(2600px)) {
        // Fix width for ultra-wide screens
        min-width: initial;
        width: rem.torem(1300px);
      }
    }
  }
}

.content-container {
  width: 100%;
  flex-grow: 1;
  padding: size.$main-content-padding-xs size.$main-content-padding-xs 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: size.$tablet) {
    padding: size.$main-content-padding size.$main-content-padding 0;
  }

  &-funnel,
  &-onboarding {
    padding: 0;
  }

  &-logged-out,
  &-sign-up {
    padding: 0;
  }

  &-sign-up {
    display: flex;

    .logo-sign-up {
      color: var(--color-text-brand-primary);
      max-width: rem.torem(135px);
      align-self: center;
      margin-top: rem.torem(32px);

      @media (min-width: size.$laptop) {
        align-self: flex-start;
        margin-left: rem.torem(40px);
        margin-top: rem.torem(40px);
        flex-shrink: 0;
      }
    }

    [id="content"] {
      width: 100%;
      max-width: rem.torem(640px);
      align-self: center;
      margin: auto;

      /* For ultra-wide screens, makes content little bit more larger */
      @media (min-width: rem.torem(2600px)) {
        max-width: rem.torem(800px);
      }
    }
  }

  &-sticky-onboarding {
    margin: 0 auto size.$action-bar-sticky-height auto;
    padding: 0;
  }
}

.content {
  position: relative;
  max-width: 100%;
  border: none;
  margin: 0;

  &-logged-out {
    padding: rem.torem(24px);
    margin: auto;
    min-height: calc(100vh - #{size.$footer-height});
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: size.$full-content-min-width;
    max-width: size.$full-content-max-width;

    &-with-heading {
      min-height: calc(
        100vh -
          #{size.$footer-height} - rem.torem(32px) - var(
            --typography-title1-line-height
          )
      );
    }
  }

  &-sticky-onboarding {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: size.$main-content-width;
    padding: size.$main-content-padding size.$main-content-padding 0;
    margin: 0 auto;
  }

  &-sign-up {
    padding: rem.torem(16px);

    @media (min-width: size.$laptop) {
      padding: rem.torem(24px);
    }
  }
}

.connect-as {
  height: $connect-as-header-height;
  background-color: var(--color-background-subtle);
  display: flex;
  padding: rem.torem(16px);
  min-width: 100%;

  &-icon {
    color: var(--color-icon-subtle);
  }

  &-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.main-heading {
  &-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: rem.torem(32px);

    &-with-subtitle {
      align-items: flex-end;
    }
  }

  &-title {
    @include fonts.title1;
  }

  &-subtitle {
    @include fonts.title2;

    max-width: rem.torem(588px);
    display: block;
  }

  &-back-to-nav-link {
    margin-left: rem.torem(16px);

    &-with-subtitle {
      margin-bottom: rem.torem(4px);
    }
  }
}

.logo-unlogged {
  color: var(--color-text-locked-inverted);
  max-width: rem.torem(135px);

  @media (min-width: size.$tablet) {
    width: 80%;
    min-width: rem.torem(135px);
    max-width: rem.torem(282px);
  }
}
