@mixin dotted($color, $position: top) {
  background-position: $position;
  background-size: if(
    $position == top or $position == bottom,
    6px 1px,
    1px 6px
  );
  background-repeat: if(
    $position == top or $position == bottom,
    repeat-x,
    repeat-y
  );
  background-image: if(
    $position == top or $position == bottom,
    linear-gradient(to left, $color 10%, rgba($white, 0) 0%),
    linear-gradient($color 10%, rgba($white, 0) 0%)
  );
}

// NOTE: genere les classes
// .dotted-top, .dotted-right ...
$directions: (top, right, bottom, left);

@each $direction in $directions {
  .dotted-#{$direction} {
    // white color default
    @include dotted(white, $direction);
  }

  // NOTE: genere les classes
  // .dotted-right-primary, .dotted-left-black...
  $colors: (
    black: $black,
    primary: $primary,
  );

  @each $colorname, $colorvalue in $colors {
    .dotted-#{$direction}-#{$colorname} {
      @include dotted($colorvalue, $direction);
    }
  }
}
