@use "src/styles/mixins/_rem.scss" as rem;
@use "src/styles/variables/_colors.scss" as colors;
@use "src/styles/mixins/_fonts.scss" as fonts;

.timeline {
  &-step-title {
    @include fonts.body;

    font-weight: 700;
  }

  &-step-title-passed {
    @include fonts.body;

    font-weight: 700;
    color: colors.$grey-dark;
  }

  &-step-title-disabled {
    @include fonts.body-important;

    line-height: rem.torem(20px);
    color: colors.$grey-dark;
  }

  &-step-decription-with-link {
    margin-bottom: rem.torem(8px);
  }

  &-infobox {
    border-radius: rem.torem(5px);
    padding: rem.torem(16px);
    background-color: colors.$light-pink;
    margin-top: rem.torem(16px);

    &-text {
      margin-bottom: rem.torem(16px);
    }

    &-accent {
      font-weight: 500;
    }
  }
}

.contact-link {
  @include fonts.button;

  color: colors.$black;

  &:hover,
  &:focus {
    color: colors.$black;
    cursor: pointer;
    text-decoration: underline;
  }
}

.button-important {
  color: colors.$primary;

  svg {
    fill: colors.$primary !important;
  }
}
