@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_outline.scss" as outline;

.time-slots {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: rem.torem(16px);
}

.time-slot {
  position: relative;
  width: rem.torem(100px);

  &-picker {
    min-width: rem.torem(110px);
  }

  &-clear {
    position: absolute;
    z-index: 1;
    top: calc(var(--typography-body-line-height) / 2 + rem.torem(8px));
    right: calc(-1 * rem.torem(10px));

    &-button {
      background-color: var(--color-background-default);
      border-radius: 100%;
      padding: rem.torem(1px);
      color: var(--color-text-subtle);
      border: none;
      cursor: pointer;
      display: flex;

      &:focus-visible {
        @include outline.focus-outline;
      }

      &-icon {
        width: rem.torem(20px);
        height: rem.torem(20px);
      }
    }
  }
}

.info {
  margin: rem.torem(24px) 0;
}

.add-time-slot {
  margin-top: rem.torem(24px);
}
