@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

$actionsPaddingTop: rem.torem(20px);
$actionsPaddingBottom: rem.torem(20px);
$buttonHeight: rem.torem(40px);

.stocks-page {
  h2 {
    @include fonts.title3();
  }

  .add-first-stock-button {
    margin: rem.torem(24px) auto 0 auto;
  }

  .tertiary-button {
    margin-top: rem.torem(26px);

    svg .ico-plus {
      fill: colors.$black;
    }
  }

  .activation-codes-information,
  .cancellation-information {
    margin-top: rem.torem(16px);
  }

  table {
    margin-top: rem.torem(28px);
    width: 100%;
  }

  th {
    @include fonts.caption();

    text-align: left;
  }

  table td,
  table th {
    padding: rem.torem(10px) rem.torem(5px);
    vertical-align: middle;
  }

  .interval {
    height: rem.torem(32px);
    left: 0;
    right: 0;

    &.cover {
      background: colors.$white;
      position: absolute;
      z-index: 1;
    }

    &.shadow {
      background-image: radial-gradient(
        ellipse at bottom,
        colors.$black-shadow,
        transparent 75%
      );
      bottom: $actionsPaddingBottom + $actionsPaddingTop + $buttonHeight;
      position: sticky;
    }
  }

  .react-datepicker-popper {
    z-index: 3;
  }

  .actions-section {
    background: colors.$white;
    bottom: 0;
    margin-top: rem.torem(60px);
    padding-bottom: $actionsPaddingBottom;
    padding-top: $actionsPaddingTop;
    position: sticky;
    z-index: 2;
    justify-content: left;

    button,
    a {
      max-width: rem.torem(230px);
    }
  }
}
