@use "styles/variables/_forms.scss" as forms;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.dialog {
  margin-top: var(--size-spacing-l);
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &-callout {
    margin-bottom: var(--size-spacing-xxl);
  }

  &-subtitle {
    margin-bottom: var(--size-spacing-xl);
  }

  &-checkboxes {
    height: rem.torem(200px);
    overflow-y: auto;
    margin-bottom: var(--size-spacing-xl);
    flex-grow: 1;
  }

  &-select-all {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--separator-color-subtle);
    padding-bottom: var(--size-spacing-l);
    margin-bottom: var(--size-spacing-l);
    align-items: center;

    &-count {
      @include fonts.body-accent-xs;
    }
  }

  &-actions {
    display: flex;
    gap: var(--size-spacing-l);
  }
}
