.favorites-page {
  font-size: $size-medium;

  h4 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: $weight-semi-bold;
    margin-bottom: 1rem;
  }

  ul.favorites {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .nothing {
    text-align: center;
    margin-bottom: 1rem;
  }
}