.accounting-page {
  width: 999px;

  .page-content {
    width: 999px;
  }

  .search {
    margin-bottom: 0.25rem;
  }

  .recently-added {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    background-color: $blue;
    margin-right: 0.5rem;
  }

  .list-header {
    display: flex;
    border-bottom: 1px solid;
    justify-content: center;
    padding-bottom: 0.5rem;
    align-items: center;

    .select {
      width: auto;
      vertical-align: middle;

      select {
        margin-left: 0.5rem;
        display: inline-block;
      }
    }
  }

  .sortPlaceHolder {
    width: 24px;
    display: inline-block;
  }
}

table.accounting {
  th,
  td {
    border: 1px solid #CCCCCC;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
    color: $grey;
  }

  th {
    font-size: 11px;
    font-weight: normal;
  }

  th.first-row {
    font-size: 13px;
    border-top: none;
  }

  th:first-child,
  td:first-child {
    border-left: none;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }

  .title {
    font-weight: bold;
    text-align: left;
    border-bottom: none;
  }

  .userName {
    padding-left: 0.5rem;
  }

  .first-col td {
    border-top: none;
  }

  th span {
    display: inline-block;
    line-height: 25px;
  }

  .actionButton {
    background-image: url(/icons/dropdown-disclosure-down-s-w.svg);
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    margin-left: 0.7rem;
  }

  .cancel img {
    margin-right: 1rem;
  }
}

.picto.tiny {
  width: 18px;
}
