#activation-password-page {
  .pc-final-form-label {
    @extend .fs19;
  }

  .pc-final-form-input {
    @extend .fs20;
    @extend .is-bold;
  }

  label[for='activation-newPassword'] .pc-final-form-label {
    padding: 0;
  }
}

#activation-events-page {
  .pc-final-form-selectbox {
    .pc-final-form-inner {
      @extend .no-border;
      @extend .no-background;

      border-radius: 0;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-color: $white !important;
    }

    .pc-final-form-inner::after {
      color: $white;
    }

    .pc-final-form-input {
      @extend .fs18;
      @extend .is-bold;
      @extend .no-background;

      color: $white !important;
      margin-left: 0 !important;
    }
  }
}

#activation-events-page-submit-button {
  color: $white;
  background-color: transparent;
}
