.beta-page {

  .content {
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    h1 {
      font-size: 1.5em;
      font-weight: normal;
      strong, span {
        display: inline-block;
      }
      strong {
        font-weight: 500;
      }
    }

    p {
      font-weight: 500;
    }

  }

  footer {
    text-align: right;
    a {
      img {
        padding-left: 0.5em;
        vertical-align: middle;
      }
    }
  }
}