.bookings-page {
  // color: $white;
  // background-color: $menu-red;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;

  header {
    // position: absolute;
    // text-align: center;
    // font-weight: 500;
    // border-bottom: thin dotted $white;
    // @include dotted($white, bottom);
    // padding: 1rem 0;
    // top: 0;
    // left: 0;
    // right: 0;
  }

  .content {
    // position: absolute;
    // top: 52px;
    // bottom: 52px;
    // left: 1rem;
    // right: 1rem;
    overflow-y: auto;
    font-size: 1.2rem;
    // padding: 1rem 0;

    h4 {
      text-transform: uppercase;
      font-style: italic;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    ul.bookings {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        background-color: $white;
        border-radius: $border-radius;
        height: 150px;
        width: 100%;
        overflow: hidden;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          color: $black;
          width: 100%;
          height: 100%;
          display: block;
          padding: 0;
        }
        .thumb {
          height: 100%;
          width: 27%;
          float: left;
          text-align: center;
        }

        .infos {
          width: 58%;
          float: left;
          height: 100%;
          position: relative;
          @include dotted($menu-red, left)

          .top {
            position: absolute;
            top: 0;
            bottom: 50%;
            left: 0;
            right: 0;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            h5 {
              font-weight: 500;
              font-size: 1.1em;
              line-height: 1.1em;
            }

            time {
              font-size: 0.8em;
            }
          }

          .token {
            padding: 0.5rem;
            @include dotted($menu-red, top)
            font-size: 2.3em;
            color: $menu-red;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
          }
        }

        .arrow {
          width: 15%;
          height: 100%;
          position: relative;
          float: left;
          img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }

      }
    }
    .nothing {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}