.client-offer-page {
    h3 {
        margin-top: 0.5rem;
    }
    h2 {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    img.offerPicture {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        max-width: 95%;
    }
    .sellerInfos {
        margin-top: 2em;
    }
}
