.counter-page {

  .form {
    text-align: center;

    .columns {
      width: 392px;
      margin: auto;
    }

    input[type="text"] {
      width: 316px;
      height: 72px;
      font-size: 36px;
    }

    .buttonContainer {
      width: 92px;
      display: inline-block;
    }

    button {
      background: $red;
      border: 1px solid $red;
      border-radius: 50%;
      font-size: 30px;
      width: 72px;
      min-width:72px;
      height: 72px;
      color: white;
      margin-left: 20px;
    }

    .state {
      @include dotted($red);
      margin: 20px 0;
      padding-top: 15px;
      font-size: 20px;
      text-align: left;

      &.success {
        color: green;
      }

      &.error {
        color: red;
      }
    }
  }

  .booking-summary {
    margin: auto;
    margin-left: 28%;
    th {
      font-weight: normal;
      text-align: right;
    }

    td {
      padding-left: 5px;
      font-weight: bold;
    }
  }

  input[type="reset"] {
    margin-top: -50px
  }

}
