// TODO: check if works on every page also
// main.page.home-page.container {
//   @media (min-width: $widescreen) {
//     max-width: $desktop;
//   }
// }

// .page.container.home-page .page-content {
//   margin: 0;
//   padding: 0;
// }

.home-page.container .page-content {
  top: 0;
}

.home-cards {
  margin: auto;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to right, #EB0055, #320096);
  .home-card {
    color: $white;
    padding: 3rem;
    padding-bottom: 2.6rem;
    &:not(:last-child) {
      border-right: 0.4rem dotted $white;
      @media (max-width: $tablet) {
        border-right: none;
        border-bottom: 0.4rem dotted $white;
      }
    }
    img {
      float: right;
      width: 6rem;
    }

    .home-card-text {
      margin-top: 7rem;
      h1 {
        font-size: $size-xlarge;
        // font-size: 2.6em;
        // font-weight: $weight-semibold;
      }

      p {
        // margin-top: 0.5rem;
        color: $white;
        // font-size: 1.2rem;
      }
    }
  }
}
