@import 'BookingsPage.scss';
@import 'FavoritesPage.scss';
@import 'SignInAndUpPage.scss';
@import 'SearchPage.scss';

#beta-page {
  color: $white;

  .pc-main {
    height: 66%;
    min-height: 66%;
  }

  .pc-footer {
    height: 33%;
    min-height: 33%;
    border-top: 4px dotted $white;
  }

  .pc-footer a,
  .pc-footer a:hover {
    color: $white;
    text-decoration: none;
  }

  .pc-footer .pc-icon {
    @include fontSize(38px);
  }
}

#profile-page {
  button .icon-next {
    color: $primary;
    font-size: 1.4rem;
  }

  button:disabled .icon-next {
    color: $grey;
  }
}

#mes-informations .list .item {
  background-color: $white;
}
