@import 'activation/index.scss';
@import 'beta-page/index.scss';
@import 'discovery/index.scss';
@import 'forgot-password/index.scss';
@import 'my-favorites/index.scss';
@import 'my-bookings/index.scss';
@import 'profile/index.scss';
@import 'search/index.scss';
@import 'signin/index.scss';
@import 'signup/index.scss';

.beta-page {
  color: $white;

  .pc-main {
    flex: 0;
    height: 66%;
    min-height: 66%;
  }

  .pc-footer {
    height: 33%;
    min-height: 33%;
    border-top: 4px dotted $white;
  }

  .pc-footer a,
  .pc-footer a:hover {
    color: $white;
    text-decoration: none;
  }

  .pc-footer .pc-icon {
    @include rem(38px);
  }
}

#profile-page {
  #mes-informations a[disabled] {
    opacity: 1;
  }

  #mes-informations .pc-list {
    background-color: $white;
  }

  #mes-informations .pc-list .item:last-child {
    @extend .no-dotted-border;
  }
}

.react-embed-typeform-container iframe {
  @extend .is-full-layout;
}
