.offers-page {
  .search {
    margin-bottom: 0.25rem;
  }

}

.offer-page {
  ul.mediations-list {
    list-style: none;
    li {
      display: inline-block;
      img {
        max-height: 200px;
      }
    }
  }
}