/*
.button.is-rounded.is-medium {
  border-radius: $control-radius !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  background-color: $primary;
  color: white;
}

.button:hover,
.button.is-hovered {
  border-color: $primary;
}

.button.is-secondary {
  padding-left: 0.5em;
}

.input {
  border-color: $grey;
}
*/

.search-picture {
  @extend .is-relative;

  overflow: hidden;
  border-radius: 4px;

  img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  span {
    @extend .is-absolute;
    @extend .is-white-text;

    left: 0;
    right: 0;
    bottom: 0;
  }
}

#refresh-keywords-button {
  pointer-events: all;
}

#search-page-keywords-field {
  margin-bottom: 0;
}
