.sign-in-page,
.sign-up-page {
  a {
    color: $primary;
  }

  position: relative;

  .logo-side {
    // background-color: $primary;
    background-image: linear-gradient(to bottom right, #eb0055, #320096);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    z-index: 1;
    box-shadow: inset -10px 0 20px 0 rgba(0, 0, 0, 0.1);

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      // left: 0;
      right: 0;
      margin: auto;
      padding: 0 2rem;
      width: 456px;
      height: auto;
      max-height: 100%;
      max-width: 100%;
    }
    @media (max-width: $tablet) {
      position: relative;
      height: 100px;
      img {
        left: 0;
        padding: 1rem 0;
      }
    }
  }

  .page-content {
    padding: 0;
  }

  .columns {
    margin: 0;
    width: 100%;
    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;

      // &.logo-column {
      //   background-color: $red;
      //   font-size: 3rem;
      //   text-align: center;
      //   padding: 2.5rem;
      //   @media(min-width: $tablet) {
      //     text-align: right;
      //     padding-right: 2rem;
      //   }
      // }
    }
  }

  .has-no-padding {
    padding: 0;
  }

  .title,
  .subtitle {
    font-style: italic;
    span {
      display: inline-block;
    }
  }

  h1 {
    font-weight: $weight-medium;
  }

  h2 {
    margin-bottom: 12px;
    font-weight: $weight-medium;
    font-size: 20px;
    line-height: 24px;
  }

  form {
    margin-top: 2rem;
    p {
      text-align: left !important;
      color: #7a7a7a;
      margin-left: 0.5rem;
      // has-text-grey
    }
  }

  label {
    margin-bottom: 0.5rem;

    h3 {
      position: relative;
      font-size: $size-3;
      &.with-subtitle {
        float: left;
      }
    }

    p {
      font-size: 0.9rem;
      text-align: right;
    }
    a {
      text-decoration: underline;
    }
  }

  .buttons-field {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  h4 {
    font-size: $size-normal;
    float: left;
  }

  .errors {
    color: $primary;
    font-size: 0.9rem;
    font-weight: 500;
    // height: 2rem;
    line-height: 2em;
    list-style-type: none;
    text-align: left;
    transition: transform 0.2s ease-in-out;

    li {
      margin-bottom: 1rem;
    }

    &.pop {
      transform: scale(1.04);
      transform-origin: 0 50%;
    }
    img {
      vertical-align: middle;
      padding-right: 5px;
    }
    &:empty {
      display: none;
    }
  }

  .field {
    label {
      display: block;
    }

    input {
      font-weight: $weight-semibold;
    }

    // &.checkbox {
    //   align-items: flex-start;
    //   display: flex;
    //   input {
    //     margin-right: 0.5rem;
    //     -webkit-appearance: none;
    //     border-radius: $radius-small;
    //     width: 1.5rem;
    //     height: 1.5rem;
    //     &:active, &:checked {
    //       &:after {
    //         content: '\2714';
    //         font-size: 1.25rem;
    //         position: absolute;
    //         top: -5px;
    //         left: 2px;
    //         color: $primary;
    //       }
    //     }
    //   }

    // }

    .siren {
      width: 50%;
    }
  }

  .information-text {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 24px;

    img {
      height: 21px;
      margin-right: 6px;
      margin-top: 3px;
    }

    p {
      color: $grey-darkest;
      font-size: 13px;
      line-height: 16px;
      text-align: justify;

      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}
