.sign-in-page, .sign-up-page {

  .page-content {
    padding: 0;
  }

  .columns {
    height: 100%;
    margin: 0;

    .column {
      &.has-big-margin {
        @media (min-width: $tablet) {
          margin-top: 10rem;

          .hero {
            margin-top: -3rem;
          }
        }
      }
    }
  }

  .logo-column {
    background-color: $red;
    color: $white;
    font-size: 1.5rem;
    padding: 2.5rem 1rem;
    text-align: center;

  }

  .form-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-y: auto;
    justify-content: center;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @media (min-width: $tablet) {
      width: 50%;
    }
  }

  label {
    margin-bottom: 0.5rem;

    h3 {
      float: left;
      position: relative;
    }

    p {
      font-size: 0.9rem;
      text-align: right;
    }
    a {
      text-decoration: underline;
    }

    &.required {
      h3:after {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 3px;
        background-color: $violet;
        top: 4px;
        right: -5px;
        display: block;
        position: absolute;
      }
    }
  }

  .buttons-field {
    display: flex;
    justify-content: space-between;
  }

  h4 {
    font-size: $size-normal;
    float: left;
  }


  footer {
    display: flex;
    justify-content: space-between;
    background-color: $primary;
  }

  .errors {
    color: $primary;
    font-size: 0.9rem;
    font-weight: 500;
    // height: 2rem;
    line-height: 2em;
    list-style-type: none;
    text-align: left;
    transition: transform .2s ease-in-out;

    li {
      margin-bottom: 1rem;
    }

    &.pop {
      transform: scale(1.04);
      transform-origin: 0 50%;
    }
    img {
      vertical-align: middle;
      padding-right: 5px;
    }
    &:empty {
      display: none;
    }
  }


}
