.loader {
  align-items: center;
  background-color: $primary;
  background-image: $linear-gradient-to-right;
  bottom: 0;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $zindex-application-loader;

  .animation {
    height: rem(200px);
    width: rem(200px);
  }
}

.loader-message {
  color: $white;
  text-align: center;
  width: rem(240px);
}
