.tertiary-button {
  @include button();
  color: $primary;
  line-height: rem(22px);

  &:disabled {
    color: $primary-disabled;
    cursor: not-allowed;
    opacity: 1;
  }

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:active:not(:disabled) {
    color: $primary-dark;
  }

  img {
    vertical-align: bottom;
    margin-right: rem(8px);
  }
}

a.tertiary-button {
  &:hover {
    color: $primary;
  }
  &:active {
    color: $primary-dark;
  }
}
