@mixin tertiary {
  @include button();

  color: $black;
  line-height: rem(22px);

  &:hover {
    color: $black;
    cursor: pointer;
    text-decoration: underline;
  }

  img {
    margin-right: rem(8px);
    vertical-align: bottom;
  }
}

.tertiary-button, .tertiary-link {
  @include tertiary();
}
