@mixin tertiary {
  @include button();

  color: $black;
  line-height: rem(22px);

  &:hover {
    color: $black;
    cursor: pointer;
    text-decoration: underline;
  }

  img {
    width: rem(24px);
    height: rem(24px);
    margin-right: rem(4px);
    vertical-align: bottom;
  }
}

.tertiary-link {
  @include tertiary();
}
