@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;

.income-venue-select-autocomplete {
  max-width: rem.torem(300px);
}

// Selected tags must be displayed to occupy available width.
// Width must be calculated based on the viewport width minus
// various padding values since they belong to a component that
// is not a direct child of the main content container and
// has a restricted width.
// Check Layout.module.scss for reference.
.income-venue-selected-tags {
  width: calc(100vw - rem.torem(24px) * 2);

  @media (min-width: size.$mobile) {
    width: calc(100vw - (size.$main-content-padding) * 2)
  }

  @media (min-width: size.$laptop) {
    // 16.75rem is the width of the sidebar
    // On very large screens the layout does not exceed 90rem.
    width: calc(100vw - (size.$main-content-padding * 2) - 16.75rem);
    max-width: calc(90rem - 4rem - 16.75rem);
  }
}