@use "styles/mixins/_fonts.scss" as fonts;

.subtitle {
  @include fonts.title4;
}

.validation-screen {
  margin-bottom: var(--size-spacing-xl);

  &-subtitle {
    margin-top: var(--size-spacing-xxl);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
