[Service]
Type=simple

User="{{ systemd_service_user }}"
Group="{{ systemd_service_group }}"
UMask=007

ExecStart=/opt/jupyterhub/create_database_tunnel.sh
ExecStop=/bin/kill -9 $(pgrep scalingo)

Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target