c.Spawner.environment = {
        'POSTGRES_URL': '{{  datalake_local_postgres_url }}'
        'TYPEFORM_API_KEY': '{{ typeform_api_key }}'
        'PRODUCT_POSTGRES_PASSWORD': '{{ product_postgres_password }}'
        'PROD_FORM_ID': '{{ prod_form_id }}'
        'TESTING_FORM_ID': '{{ testing_form_id }}'
        'STAGING_FORM_ID': '{{ staging_form_id }}'
        }
