users:
  admin:
{% for admin_user in admin_users %}
  - {{ admin_user }}
{% endfor %}
  allowed:
{% for user in allowed_users %}
  - {{ user }}
{% endfor %}
http:
  port: 80
https:
  enabled: true
  letsencrypt:
    email: {{ admin_users[0] }}
    domains:
{% for domain in jupyterhub_domains %}
    - {{ domain }}
{% endfor %}
auth:
  type: oauthenticator.google.GoogleOAuthenticator
  GoogleOAuthenticator:
    client_id: {{ google_auth_client_id }}
    client_secret: {{ google_auth_client_secret }}
services:
  cull:
    timeout: 6000
    every: 600
