.home-wrapper {
  background-attachment: fixed;
  background-image: url('/home-background.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% rem(250px);
  background-color: $white;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.hw-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: rem(72px);

  h1 {
    color: $white;
    font-size: $size-large;
    font-style: italic;
    margin-bottom: rem(8px);
    overflow: hidden;
    padding-left: rem(15px);
    padding-right: rem(15px);
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
    white-space: nowrap;
  }

  span {
    color: $white;
    font-size: $size-regular;
    font-weight: $weight-regular;
  }
}

.hw-account {
  position: absolute;
  top: rem(20px);
  right: rem(20px);

  .hw-account-image {
    border: 1px solid $white;
    border-radius: 50%;
    height: rem(40px);
    width: rem(40px);
  }
}
