.home-page.container .page-content {
  top: 0;
}

.home-cards {
  background-image: $linear-gradient-to-right;
  box-shadow: 0 0 60px 0 $black-shadow;
  margin: auto;

  &.columns {
    display: flex;
  }
}

.home-card {
  color: $white;
  padding: 3rem;
  padding-bottom: 2.6rem;

  &:not(:last-child) {
    border-right: 0.4rem dotted $white;

    @media (max-width: $tablet) {
      border-bottom: 0.4rem dotted $white;
      border-right: none;
    }
  }

  img {
    float: right;
    width: 6rem;
  }
}

.home-card-text {
  margin-top: 7rem;

  h1 {
    @include hero();

    color: $white;
    margin-bottom: 1.5rem;
  }

  p {
    @include title4();

    color: $white;
  }
}
