.home-wrapper {
  background-attachment: fixed;
  background-image: url('/home-background.png');
  background-repeat: no-repeat;
  background-size: 100% rem(280px);
  background-color: $white;
  height: 100%;
}

.hw-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: rem(30px);

  h1 {
    color: $white;
    font-size: $size-large;
    font-style: italic;
    margin-bottom: rem(8px);
    overflow: hidden;
    padding-left: rem(15px);
    padding-right: rem(15px);
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
    white-space: nowrap;
  }

  span {
    color: $white;
    font-size: $size-extra-regular;
    font-weight: $weight-regular;
  }
}

.hw-account {
  align-content: flex-end;
  display: flex;
  justify-content: space-between;
  margin: rem(20px) rem(20px) rem(10px) auto;

  .hw-account-image {
    border: rem(1px) solid $white;
    border-radius: 50%;
    height: rem(40px);
    width: rem(40px);
  }
}
