@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;

.venue-provider-row {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  .venue-provider-item-info {
    display: flex;
    flex-direction: column;
    width: 100%;

    .provider-name-container {
      @include fonts.caption();

      align-content: space-between;
      background-color: #F1F1F4;
      border-radius: rem.torem(6px);
      display: flex;
      flex-flow: row wrap;
      padding: rem.torem(2px) rem.torem(20px);

      .provider-name {
        @include fonts.title4();
        flex: 1;
        margin: auto;
      }

      .provider-actions {
        .provider-action-button {
          padding: 0 rem.torem(4px);
        }

        .provider-action-icon {
          width: rem.torem(20px);
          margin-right: rem.torem(8px);
        }
      }
    }

    .venue-id-at-offer-provider-container {
      display: flex;
      flex-direction: column;
      color: colors.$grey-dark;

      span {
        color: colors.$black;
        font-weight: 600;
      }

      .last-synchronisation {
        span {
          color: colors.$grey-dark;
          font-size: rem.torem(12px);
          font-weight: 600;
        }

        &::before {
          background-color: colors.$green-valid;
          border-radius: 50%;
          content: '';
          display: inline-block;
          height: rem.torem(8px);
          margin-right: rem.torem(8px);
          width: rem.torem(8px);
        }
      }

      div {
        margin-top: 0.5rem;
      }
    }
  }
}
