@use "styles/mixins/_rem.scss" as rem;

.container input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  width: rem.torem(20px);
  height: rem.torem(20px);
  background-color: var(--color-icon-subtle);
  mask-image: url("../../../icons/full-clear.svg");
  mask-size: rem.torem(20px);
  background-repeat: no-repeat;
  cursor: pointer;
}
