.tabs {
  margin-top: var(--size-spacing-xl);
  margin-bottom: unset;

  &-active {
    margin-bottom: var(--size-spacing-xl);
  }
}

.eac-stepper-wrapper {
  margin-bottom: var(--size-spacing-xxl);
}
