@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;

.pc-breadcrumb {
  color: colors.$grey-medium;
  display: flex;

  .bc-step {
    @include fonts.button();

    color: colors.$grey-medium;
    display: flex;
    align-items: center;

    a {
      color: colors.$black;
    }

    &.active,
    &.active a {
      color: colors.$primary;
      position: relative;

      &::after {
        border-bottom: rem.torem(2px) solid colors.$primary;
        content: '';
        left: 0;
        position: absolute;
        top: rem.torem(24px);
        width: rem.torem(56px);
      }
    }

    .separator {
      align-items: center;
      display: flex;
      justify-content: center;
      width: rem.torem(24px);

      path {
        fill: colors.$grey-medium;
      }
    }
  }

  &.bc-tab {
    color: colors.$black;

    .bc-step {
      @include fonts.button();

      margin-left: rem.torem(24px);

      a:hover,
      a:focus {
        color: colors.$primary;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &.bc-disabled {
    .bc-step:nth-child(1) {
      a {
        color: colors.$grey-dark;
      }
    }
  }
}
