.loader-page {
  align-items: center;
  display: flex;
  grid-column-start: col-main;
  grid-row-start: row-main;
  justify-content: center;
  padding: var(--size-spacing-l);
}

.loading-spinner {
  align-items: center;
  display: flex;
  flex-direction: column;
}
