@use "styles/mixins/_rem.scss" as rem;

main.loader-page {
  align-items: center;
  display: flex;
  grid-column-start: col-main;
  grid-row-start: row-main;
  justify-content: center;

  .loading-spinner {
    align-items: center;
    display: flex;
    flex-direction: column;

    svg {
      height: rem.torem(56px);
      width: rem.torem(56px);

      .logo {
        fill: #870087;
      }
    }
  }
}
