@use "styles/mixins/_outline.scss" as outline;

.base-file-input-container {
  cursor: pointer;
  margin-bottom: var(--size-spacing-l);
  padding: 0 var(--size-spacing-xxl);

  &:focus-within {
    @include outline.focus-outline;
  }
}

.file-input {
  height: 0;
  width: 0;
  background-color: transparent;
  border: none;
  outline: none;
}
