.background {
  background: $black-with-transparency;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-main {
  background: $white;
  height: auto;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);

  .confirmation-modal-content {
    background-color: $white;
    display: flex;
    flex-direction: column;
    width: rem(360px);

    .warning-text {
      display: flex;
      flex-direction: row;
      padding: rem(30px);

      img {
        margin-right: rem(10px);
        width: rem(40px);
      }
    }

    button {
      border: 0;
      font-family: inherit;
      font-size: 100%;
      padding: 0;

      p {
        color: $primary;
      }

      b {
        color: $primary;
      }
    }

    .actions {
      .cancel-button {
        border-top: 1px dotted $primary;
        height: rem(30px);
        width: 50%;
      }

      .confirm-button {
        border-top: 1px dotted $primary;
        height: rem(30px);
        width: 50%;
      }
    }
  }
}
