.offerer-page {
  .field-group {
    min-height: 10rem;
  }

  .op-detail {
    margin: rem(8px) 0;
    > :first-child {
      color: $grey;
      margin-right: rem(5px);
    }
  }

  .op-subtitle {
    margin-bottom: rem(25px);
  }

  .op-content-section {
    margin-bottom: rem(48px);
  }
}
