.offerer-page {
  .field-group {
    min-height: 10rem;
  }

  .op-detail {
    margin: rem(8px) 0;
    > :first-child {
      color: $grey;
      margin-right: rem(5px);
    }
  }

  .field-siren {
    margin: rem(8px) 0;
    display: flex;

    > :first-child {
      color: $black;
      margin-right: rem(5px);
      font-size: rem(16px);
    }
  }

  .field-siren-label {
    @extend .field-label;
    flex: 0;
    padding-bottom: 0;
    margin: rem(6px) 0 0;
  }

  .field-siren-control {
    flex: 1;
    margin-bottom: rem(20px);
  }

  .field-siren-error {
    position: absolute;
  }

  .op-subtitle {
    margin-bottom: rem(25px);
  }

  .op-content-section {
    margin-bottom: rem(48px);
  }

  .op-creation-form {
    margin: rem(60px) 0 rem(48px);
  }

  .op-detail-creation-form {
    @extend .op-detail;
    margin-bottom: rem(30px);
  }
}
