@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_z-index.scss" as zIndex;
@use "styles/variables/_size.scss" as size;

.dialog-box-overlay {
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: zIndex.$modal-z-index;

  [data-reach-dialog-content] {
    width: initial;
    margin: rem.torem(32px) auto;
    padding: 1rem;
  }
}

.dialog-box-content {
  border-radius: rem.torem(10px);
  position: relative;
  width: auto;
}

.dialog-box-close-container {
  display: block;
  float: right;
}

.dialog-box-close {
  align-items: center;
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  margin: rem.torem(-2px) rem.torem(-2px) rem.torem(-9px) 0;
  width: rem.torem(44px);

  &-icon {
    width: rem.torem(24px);
    height: rem.torem(24px);
  }
}

@media (min-width: size.$mobile) {
  .dialog-box-overlay {
    [data-reach-dialog-content] {
      padding: size.$dialog-box-padding;
    }
  }
}

@media (min-width: size.$tablet) {
  .dialog-box-content {
    min-width: rem.torem(534px);
  }

  .dialog-box-full-content-width {
    width: size.$main-content-width !important;
  }
}
