// GENERAL COLORS
$white: #fff;
$grey-light: #f1f1f4;
$grey-medium: #cbcdd2;
$grey-semi-dark: #90949d;
$grey-dark: #696a6f;
$black: #161617;

// SHADOWS COLORS
$medium-shadow: #67686b29;
$large-shadow: rgba(#25026c, 0.15);

// BRAND & ACTIONS COLORS
$brand: #870087;
$primary: #eb0055;
$secondary-lighter: #c1a3ff;
$secondary-light: #6123df;
$secondary: #320096;
$secondary-dark: #25026c;
$primary-dark: #cb0659;

// STATE COLORS
$accent: #06f;
$valid: #15884f;
$error-light: #e60039;
$error: #b60025;
$accent-light: #b3e7ff;
$alert-dark: #f9c030;

// GRADIENTS COLORS
$grey-lighter-for-gradient: #e1e1e7;
$linear-gradient-to-right: linear-gradient(to right, $primary, $secondary);
$linear-gradient-skeleton: linear-gradient(191deg, $grey-lighter-for-gradient, $grey-light, $grey-lighter-for-gradient);
$adage-linear-gradient-image-preview: linear-gradient(207.06deg, $grey-light 43.41%, $grey-lighter-for-gradient 107.01%);


// BACKGROUND COLORS
$background-secondary: #f3edff;
$background-accent-light: #e5f0ff;
$background-valid: #eaf8f0;
$background-alert: #fff8df;
$background-error: #fdf4f6;

// FORMS & INPUT COLORS
$input-text-color: $black;
$input-border-color: $grey-semi-dark;
$input-border-color-focus: $black;
$input-border-color-error: $error;
$input-border-color-disabled: $grey-medium;
$input-bg-color: $white;
$input-bg-color-disabled: $grey-light;
$input-text-color-disabled: $grey-dark;

// TODO used in button, should be remplaced by real disable colors
// see ticket PC-27778
$primary-disabled: #ff99be;

// ADAGE COLORS
// waiting for designer approval :
$adage-discovery-background: #fbfafc;
$adage-purple: #4613ad;
$adage-blue: #448;
$adage-orange-light: #fa9f16;
$adage-orange-dark: #b85901;
$adage-purple-light: #ad87ff;
$adage-purple-dark: #8337e9;
$adage-pink-light: #ec3478;
$adage-pink-dark: #c01371;
$adage-green-light: #27dca8;
$adage-green-dark: #0e8474;
$adage-red-light: #f8733d;
$adage-red-dark: #ca3f13;
$adage-blue-light: #1fc5e9;
$adage-blue-dark: #0e78b7;