// GENERAL COLORS
$white: #fff;
$grey-light: #f1f1f4;
$grey-medium: #cbcdd2;
$grey-semi-dark: #90949d;
$grey-dark: #696a6f;
$black: #161617;

// waiting for designer approval :
$grey-lighter: #e1e1e7;

// SHADOWS COLORS
$medium-shadow: #67686b29;
$large-shadow: rgba(#25026c, 0.15);


// BRAND & ACTIONS COLORS
$primary: #eb0055;
$secondary-lighter: #c1a3ff;
$secondary-light: #6123df;
$secondary: #320096;
$secondary-dark: #25026c;

// waiting for designer approval :
$primary-dark: #c10046;
$primary-disabled: #ff99be;
$logo-purple: #7b1e82; // nom: brand, code: #870087, vérifier avec Charlotte

// STATE COLORS
$accent: #06f;
$valid: #15884f;
$error-light: #e60039;
$error: #b60025;
$accent-light: #b3e7ff;
$alert-dark: #f9c030;

// GRADIENTS COLORS
$linear-gradient-to-right: linear-gradient(to right, $primary, $secondary);

// BACKGROUND COLORS
$background-secondary: #f3edff;

// FORMS & INPUT COLORS
$input-text-color: $black;
$input-border-color: $grey-semi-dark;
$input-border-color-focus: $black;
$input-border-color-error: $error;
$input-border-color-disabled: $grey-medium;
$input-bg-color: $white;
$input-bg-color-disabled: $grey-light;
$input-text-color-disabled: $grey-dark;

// CALLOUT COLORS
// waiting for designer approval :
$callout-default-border: $secondary-light;
$callout-default-background: #f4effd;
$callout-info-border: $accent;
$callout-info-background: #edf4ff;
$callout-success-border: $valid;
$callout-success-background: #eef7f3;
$callout-warning-border: $alert-dark;
$callout-warning-background: #fff8e6;
$callout-error-border: $primary;
$callout-error-background: #fef2f6;

// ADAGE COLORS
// waiting for designer approval :
$adage-discovery-background: #fbfafc;
$adage-purple: #4613ad;
$adage-blue: #448;
$adage-orange-light: #fa9f16;
$adage-orange-dark: #b85901;
$adage-purple-light: #ad87ff;
$adage-purple-dark: #8337e9;
$adage-pink-light: #ec3478;
$adage-pink-dark: #c01371;
$adage-green-light: #27dca8;
$adage-green-dark: #0e8474;
$adage-red-light: #f8733d;
$adage-red-dark: #ca3f13;
$adage-blue-light: #1fc5e9;
$adage-blue-dark: #0e78b7;