@use 'styles/variables/_colors.scss' as colors;

$input-border-color: colors.$grey-medium;
$input-border-color-focus: colors.$black;
$input-border-color-error: #b60025;
$input-border-color-disabled: #f1f1f4;

$input-focus-shadow: 0 3px 4px 0 #67686b1a;

$input-bg-color: colors.$white;
$input-bg-color-disabled: #f1f1f4;

$input-text-color: #161617;
$input-text-color-disabled: #67686b;
$input-border-radius: 20px;

$error-text-color: #b60025;
$placeholder-text-color: #67686b;

$input-right-icon-padding: 32px;

$input-error-reserved-space: 16px;
$input-space-before-error: 8px;
$label-space-before-input: 8px;
