@use "styles/mixins/_rem.scss" as rem;

$input-right-icon-padding: var(--size-spacing-xxl);
$input-error-reserved-space: var(--size-spacing-l);
$input-space-before-error: var(--size-spacing-s);
$label-space-before-input: var(--size-spacing-s);
$label-space-before-ds-input: var(--size-spacing-xs);
$label-small-space-before-input: var(--size-spacing-l);
$input-label-min-height: rem.torem(16px);
$input-description-min-height: rem.torem(16px);
