@use "styles/mixins/_rem.scss" as rem;

.newsletterContainer {/* stylelint-disable-line selector-class-pattern */
  display: flex;
  min-height: rem.torem(53px);

  .newsletterImg {/* stylelint-disable-line selector-class-pattern */
    position: absolute;
    width: 100%;
  }

  .newsletterLink {/* stylelint-disable-line selector-class-pattern */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: rem.torem(20px);

    a {
      line-height: rem.torem(23px);
    }

    .iconNewsletter {/* stylelint-disable-line selector-class-pattern */
      margin-right: rem.torem(10px);
    }
  }
}
