alembic==1.8.0
algoliasearch==2.4.0
APScheduler==3.6.3
Authlib==0.15.5
Babel==2.9.1
bcrypt==3.2.0
beautifulsoup4==4.9.3
black
# `sentry_sdk.init()` uses `flask.signals`, which requires `blinker`
blinker==1.4
boto3==1.21.9
coveralls==2.1.2
debugpy
factory-boy
Flask==2.0.*
Flask-Admin==1.6.0
Flask-Cors==3.0.10
Flask-JWT-Extended==4.3.1
Flask-Limiter==1.4
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.*
freezegun==0.3.12
google-auth==2.6.2
google-api-python-client==2.41.0
google-cloud-storage==2.2.1
google-cloud-tasks==2.8.1
gql[requests]
gunicorn==20.0.4
ipaddress
isort
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mypy==0.941
notion-client==0.9.0
openpyxl
pgcli # a tool not used in code. There is no point in pinning its version
phonenumberslite==8.12.23
Pillow>=8.1.1
pydantic[email]==1.9.1
PyJWT[crypto]==2.4.0
pylint
pylint-strict-informational
pysaml2
pytest==6.2.5
pytest-cov==2.10.1
pytest-flask==1.0.0
pytest-flask-sqlalchemy==1.1.*
pytest-mock==3.3.1
pytest-dotenv==0.5.2
python-dotenv==0.14.0
pyyaml==6.0
requests==2.26.0
requests_mock==1.8.0
rq==1.5.2
schwifty==2020.9.0
semver==2.13.0
sentry-sdk==0.18.0
sib-api-v3-sdk
simplejson==3.17.2
spectree==0.7.2
SQLAlchemy==1.4.*
sqlalchemy-stubs
slack-sdk==3.13.0
# FIXME (xordoquy, 2021-08-16): current apscheduler version (3.6.3)
# does not work with tzlocal 3+.
transitions
types-freezegun
types-python-dateutil
types-pytz
types-PyYAML
types-redis
types-requests
types-simplejson
types-urllib3
tzlocal<3.0.0
# Pin weasyprint to keep new versions from changing how our PDF files look.
weasyprint==54.0
Werkzeug==2.0.3
wheel==0.35.1
WTForms==3.0.1
WTForms-SQLAlchemy==0.3
XlsxWriter
