@use 'styles/mixins/_rem.scss' as rem;

.hero {
  h1 {
    margin-bottom: rem.torem(16px);
  }

  h2 {
    margin-bottom: rem.torem(24px);
  }

  .hero-body {
    padding: rem.torem(48px) rem.torem(16px);
  }
}
