@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/fonts-design-system.scss" as fonts-design-system;

.hero {
  .title {
    @include fonts-design-system.title1;

    margin-bottom: rem.torem(16px);
  }

  .subtitle {
    @include fonts-design-system.title4;

    margin-bottom: rem.torem(24px);
  }

  .hero-body {
    padding: rem.torem(48px) 0;
  }
}
