/*
* @debt complexity "Gaël: file nested too deep in directory structure"
* @debt directory "Gaël: SCSS file should be co-located and imported within a component"
*/

.bookings-body {
  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  > tr:nth-child(odd) {
    background-color: $grey-light;
  }

  td {
    @include body();

    padding: rem(16px);
  }
}
