@use "src/styles/variables/_colors.scss" as colors;
@use "src/styles/mixins/_rem.scss" as rem;

.eac-banner-light {
  background-color: colors.$notification-info;
}

.eac-title-info {
  font-weight: 500;
}

.eac-description-info {
  margin: rem.torem(16px) 0 rem.torem(24px) 0;
}
