@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/mixins/_fonts.scss' as fonts;

.bookings-page {
  .button-group {
    margin-bottom: rem.torem(32px);
    position: relative;

    &-buttons {
      display: flex;
      justify-content: center;
      position: relative;

      > button {
        margin: 0 rem.torem(12px);
        width: rem.torem(148px);
      }
    }

    &-separator {
      border-bottom: rem.torem(1px) solid colors.$grey-medium;
      display: block;
      position: absolute;
      top: 50%;
      width: 100%;
    }
  }

  .br-warning {
    align-items: center;
    color: colors.$grey-dark;
    display: flex;
    flex-direction: column;
    height: rem.torem(400px);
    text-align: center;

    p {
      margin-top: rem.torem(12px);
      width: rem.torem(400px);
    }

    svg {
      height: rem.torem(124px);
      width: rem.torem(124px);
    }
  }

  .br-title {
    @include fonts.title3();

    display: inline-block;
    margin: 0 rem.torem(20px) rem.torem(24px) 0;
  }

  .reset-filters-link {
    @include fonts.body-important();

    color: colors.$primary;
  }
}
