@import 'sass-rem';
@import 'styles';

.tag {
  background: $grey-light;
  border-radius: rem(4px);
  padding: rem(4px) rem(8px);
  display: flex;
  align-items: center;
  font-size: rem(12px);
  font-weight: 600;
  color: $black;
  width: fit-content;

  &-close-icon {
    width: rem(10px);
    height: rem(10px);
    margin-left: rem(5px);
    cursor: pointer;
  }

  &.with-hover {
    &:hover,
    &:focus {
      background-color: $grey-medium;
    }
  }
}
