.booking-offer-info {
  .offer-name {
    font-weight: 700;
    max-width: rem(130px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .offer-additional-info {
    color: $grey-dark;
  }
}

.booking-offer-detail-link {
  &:focus,
  &:hover {
    color: inherit;
  }
}
