/*
* @debt complexity "Gaël: file nested too deep in directory structure"
* @debt directory "Gaël: SCSS file should be co-located and imported within a component"
*/

.booking-offer-name {
  @include button();

  max-width: rem(130px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.booking-offer-additional-info {
  color: $grey-dark;
}

.tag {
  align-items: center;
  border: solid rem(1px) $tertiary;
  border-radius: rem(4px);
  color: $tertiary;
  display: flex;
  height: fit-content;
  justify-content: center;
  line-height: rem(16px);
  margin-bottom: rem(5px);
  padding: rem(0 4px);
  width: fit-content;

  @include highlight();
}
