.desk-page {
  .form {
    text-align: center;

    .columns {
      width: 392px;
      margin: auto;
    }

    input[type='text'] {
      width: 316px;
      height: 72px;
      font-size: 36px;
    }

    .buttonContainer {
      width: 92px;
      display: inline-block;
    }

    button {
      border-radius: 1.125em;
      font-size: 30px;
      height: 72px;
      margin-left: 20px;
    }

    .state {
      @include dotted($primary);

      margin: 20px 0;
      padding-top: 10px;
      display: flex;
      align-items: center;
      font-size: 20px;
      text-align: left;
      height: 60px;
      width: calc(100% - 110px);

      &.pending {
        color: green;
      }

      img {
        width: 50px;
      }

      span {
        padding-left: 20px;
        font-weight: 500;
      }
    }
  }

  .booking-summary {
    margin: 10px auto;
    margin-left: 28%;

    th {
      font-weight: normal;
      text-align: right;
    }

    td {
      padding-left: 5px;
      font-weight: bold;
    }
  }

  #exitlink {
    margin-top: -70px;
    float: right;
  }
}
