.desk-page {
  .subtitle {
    display: block;
    font-size: $size-medium;
  }

  .form {
    align-items: center;
    display: flex;
    flex-direction: column;

    input {
      width: rem(328px);
    }
  }

  .desk-message {
    @include caption();

    color: $green-valid;

    &.error {
      color: $red-error;
    }
  }

  .booking-summary {
    @include caption();

    color: $grey-dark;

    span {
      color: $black;
    }
  }
}
