.desk-page {
  .form {
    text-align: center;

    .columns {
      width: rem(392px);
      margin: auto;
    }

    input[type='text'] {
      width: rem(316px);
      height: rem(72px);
      font-size: rem(36px);
    }

    .buttonContainer {
      width: rem(92px);
      display: inline-block;
    }

    button {
      border-radius: 1.125em;
      font-size: rem(30px);
      height: rem(72px);
      margin-left: rem(20px);
    }

    .state {
      @include dotted($primary);

      margin: rem(20px) 0;
      padding-top: rem(10px);
      display: flex;
      align-items: center;
      font-size: rem(20px);
      text-align: left;
      height: rem(60px);
      width: calc(100% - 110px);

      &.pending {
        color: green;
      }

      img {
        width: rem(50px);
      }

      span {
        padding-left: rem(20px);
        font-weight: 500;
      }
    }
  }

  .booking-summary {
    margin: rem(10px) auto;
    margin-left: 28%;

    th {
      font-weight: normal;
      text-align: right;
    }

    td {
      padding-left: rem(5px);
      font-weight: bold;
    }
  }

  .subtitle {
    display: block;
    font-size: $size-medium;
  }

  #exitlink {
    margin-top: rem(-70px);
    float: right;
  }
}
