@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;
@use "styles/variables/_colors.scss" as colors;

.header {
  display: flex;
  flex-direction: column;
  gap: rem.torem(24px);

  @media (min-width: size.$tablet) {
    flex-direction: row;
    gap: rem.torem(32px);
  }
}

.image-uploader {
  align-self: center;
}

.venue-type {
  @include fonts.body-important;

  color: colors.$grey-dark;
  text-transform: uppercase;
  margin-top: rem.torem(16px);
}

.venue-name {
  @include fonts.title4;

  margin-top: rem.torem(8px);
  margin-bottom: rem.torem(8px);
}

.venue-address {
  margin-bottom: rem.torem(16px);
}

.venue-offer-steps {
  margin-top: rem.torem(32px);
  max-width: rem.torem(500px);
}
