.confirm-dialog {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: rem(532px);
  text-align: center;

  &-title {
    @include gabarit();

    margin-top: rem(24px);
  }

  &-icon {
    height: 124px;
    width: 124px;
  }

  &-explanation {
    margin-top: rem(24px);
  }

  .tertiary-link {
    color: $primary;

    &:hover,
    &:focus {
      color: $primary;
    }
  }

  &-actions {
    display: flex;
    margin-top: rem(80px);

    button {
      padding: 0 rem(80px);

      &:last-child {
        margin-left: rem(24px);
      }
    }
  }
}
