@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_forms.scss" as forms;
@use "styles/mixins/_size.scss" as size;

.buttons-field {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--size-spacing-xl);
  margin-top: var(--size-spacing-xxl);
  padding-bottom: var(--size-spacing-xxl);

  @media (min-width: size.$desktop) {
    flex-direction: row;
  }
}

.no-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media (min-width: size.$tablet) {
    flex-direction: row;
    gap: var(--size-spacing-s);
  }

  .no-account-text {
    @include fonts.body-xs;

    display: inline-block;

    @media (min-width: size.$laptop) {
      @include fonts.body;
    }
  }
}

.text-input {
  margin-bottom: var(--size-spacing-xl);
}
