@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_layout.scss" as layout;
@use "styles/variables/_forms.scss" as forms;
@use "styles/variables/_size.scss" as size;

.logo-side {
  @include layout.logo-side;
}

.content {
  @include layout.full-content-side;
}

.mandatory {
  @include fonts.caption;

  color: var(--color-grey-dark);
  margin-bottom: rem.torem(16px);
}

.title {
  @include fonts.title1;

  margin-bottom: rem.torem(16px);
}

.buttons-field {
  display: flex;
  flex-direction: column-reverse;
  gap: rem.torem(24px);
  margin-top: rem.torem(32px);
  padding-bottom: rem.torem(32px);

  @media (min-width: size.$desktop) {
    flex-direction: row;
  }

  .buttons {
    width: 100%;
  }
}

.cookies-footer {
  margin-top: rem.torem(24px);
  padding: 0 rem.torem(24px);
}
