.offerers-page {
  a.button {
    &.cta {
      &:focus,
      &:hover {
        background-color: transparent;
        color: $primary;
      }

      border: 0;
      top: 5%;
    }
  }

  .title-action-links span {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  button.secondary-button {
    margin-left: rem(10px);
  }

  .pending {
    opacity: 0.5;
  }
}
