.offerers-page {
  a.button {
    &.cta {
      &:focus,
      &:hover {
        background-color: transparent;
        color: $primary;
      }

      border: 0;
      top: 5%;
    }
  }

  .pending {
    opacity: 0.5;
  }
}
