.icon-legacy-check-circled::before {
  content: '\e800';
} /* '' */
.icon-legacy-close::before {
  content: '\e801';
} /* '' */
.icon-legacy-error-circled::before {
  content: '\e802';
} /* '' */
.icon-legacy-eye-close::before {
  content: '\e803';
} /* '' */
.icon-legacy-eye::before {
  content: '\e804';
} /* '' */
.icon-legacy-favorite-outline::before {
  content: '\e805';
} /* '' */
.icon-legacy-favorite::before {
  content: '\e806';
} /* '' */
.icon-legacy-next-long::before {
  content: '\e807';
} /* '' */
.icon-legacy-next-slide::before {
  content: '\e808';
} /* '' */
.icon-legacy-next::before {
  content: '\e809';
} /* '' */
.icon-legacy-previous-long::before {
  content: '\e80a';
} /* '' */
.icon-legacy-previous-slide::before {
  content: '\e80b';
} /* '' */
.icon-legacy-share::before {
  content: '\e80c';
} /* '' */
.icon-legacy-previous::before {
  content: '\e80d';
} /* '' */
.icon-legacy-user-circle-outline::before {
  content: '\e80e';
} /* '' */
.icon-legacy-warning-circled::before {
  content: '\e80f';
} /* '' */
.icon-legacy-warning-outline::before {
  content: '\e810';
} /* '' */
.icon-legacy-warning::before {
  content: '\e811';
} /* '' */
