@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;

.profile-form-field {
  width: rem.torem(400px);
  margin-bottom: rem.torem(32px);
}

.buttons-field {
  & > button:nth-child(2) {
    margin-left: rem.torem(16px);
  }
}
