.menu-button {

  &.bordered {
    @include dotted($menu-red);
  }

  &.colored {
    background-color: rgba($white, 0.9);
    &.bordered {
      border-color: $menu-red;
    }
    button {
      background-color: white;
    }
  }

  button {
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    border-radius: 50%;
    width: 100%;
    cursor: pointer;
    display: block;
    background: none;
    &:focus {
      outline: none;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      border-radius: 50%;
    }
  }
}

body.cordova-android .menu-button {
  bottom: 1px;
}
