@use "styles/variables/_forms.scss" as forms;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

$border-size-selected: rem.torem(2px);
$radio-size: rem.torem(16px);

.button {
  background-color: transparent;
  border: rem.torem(1px) solid var(--color-grey-dark);
  border-radius: rem.torem(8px);
  position: relative;

  // reserve space for border
  padding: $border-size-selected;

  &-radio-on,
  &-radio-off {
    fill: var(--color-white);
    position: absolute;
    top: rem.torem(16px);
    left: rem.torem(16px);
    width: $radio-size;
    height: $radio-size;
  }

  &-radio-on {
    color: var(--color-secondary-light);
    top: calc(rem.torem(16px) - $border-size-selected);
    right: calc(rem.torem(16px) - $border-size-selected);
  }

  &-icon {
    flex-shrink: 0;
    width: rem.torem(44px);
    height: rem.torem(44px);
    color: var(--color-secondary-light);
  }

  &:hover {
    box-shadow: forms.$input-hover-shadow;
    cursor: pointer;
  }

  &:focus-within {
    outline: rem.torem(1px) solid var(--color-black);
    outline-offset: rem.torem(4px);
  }

  &.is-selected {
    @include fonts.bold;

    border: $border-size-selected solid var(--color-secondary-light);
    background-color: var(--color-background-secondary);
  }

  &.is-disabled {
    background-color: var(--color-grey-light);
    color: var(--color-grey-dark);
    border-color: var(--color-grey-dark);

    .button-icon {
      fill: var(--color-grey-dark);
    }

    .button-check-mark {
      fill: var(--color-grey-dark);
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
  }

  &-description {
    @include fonts.caption;

    color: var(--color-grey-dark);
    margin-top: rem.torem(4px);
  }
}

.layout-column {
  padding: rem.torem(40px) rem.torem(16px) rem.torem(32px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .button-icon {
    margin-bottom: rem.torem(12px);
  }

  &.is-selected {
    $padding: rem.torem(40px);

    padding: calc($padding - $border-size-selected)
      calc(rem.torem(16px) - $border-size-selected)
      calc(rem.torem(32px) - $border-size-selected);
  }
}

.layout-row {
  padding: rem.torem(16px);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  &.is-selected {
    $padding: rem.torem(16px);

    padding: calc($padding - $border-size-selected);
  }

  .button-icon {
    margin-left: rem.torem(12px);
  }

  .button-text {
    flex-grow: 1;
    margin-left: calc(rem.torem(12px) + $radio-size);
  }

  .button-radio-on,
  .button-radio-off {
    top: 50%;
    transform: translateY(-50%);
  }
}
