@use 'styles/variables/_colors.scss' as colors;
@use 'styles/mixins/_fonts.scss' as fonts;
@use 'styles/mixins/_rem.scss' as rem;
@use 'styles/mixins/_a11y.scss' as a11y;

.button {
  background-color: transparent;
  border: rem.torem(1px) solid colors.$black;
  border-radius: rem.torem(8px);
  position: relative;
  font-size: rem.torem(15px);

  &-radio {
    @include a11y.visuallyHidden();
  }

  &-radio-on,
  &-radio-off {
    position: absolute;
    top: rem.torem(16px);
    right: rem.torem(16px);
  }
  &-radio-on {
    fill: colors.$tertiary;
  }

  &-icon {
    flex-shrink: 0;
    fill: colors.$black;
    width: rem.torem(40px);
    height: rem.torem(40px);
  }

  &.is-selected {
    border-color: colors.$tertiary;
    font-weight: 700;
    background-color: rgba(colors.$tertiary, 0.05);

    &:focus-within {
      outline: 1px solid colors.$tertiary;
    }

    .button-icon {
      fill: colors.$tertiary;
    }
  }

  &.is-disabled {
    background-color: colors.$grey-light;
    color: colors.$grey-dark;
    border-color: colors.$grey-dark;

    .button-icon {
      fill: colors.$grey-dark;
    }

    .button-check-mark {
      fill: colors.$grey-dark;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
  }

  &-description {
    @include fonts.caption();
    color: colors.$grey-dark;
  }
}

.layout-column {
  padding: rem.torem(32px) rem.torem(16px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .button-icon {
    margin-bottom: rem.torem(12px);
  }
}

.layout-row {
  padding: rem.torem(16px);
  display: flex;
  flex-direction: row;

  .button-icon {
    margin-right: rem.torem(12px);
  }
}
