@use "src/styles/variables/_colors.scss" as colors;
@use "src/styles/variables/_forms.scss" as forms;
@use "src/styles/mixins/_fonts.scss" as fonts;
@use "src/styles/mixins/_rem.scss" as rem;
@use "src/styles/mixins/_a11y.scss" as a11y;

$border-size-selected: rem.torem(2px);

.button {
  background-color: transparent;
  border: rem.torem(1px) solid colors.$grey-dark;
  border-radius: rem.torem(8px);
  position: relative;
  font-size: rem.torem(15px);

  // reserve space for border
  padding: $border-size-selected;

  &-radio {
    @include a11y.visually-hidden;
  }

  &-radio-on,
  &-radio-off {
    position: absolute;
    top: rem.torem(16px);
    right: rem.torem(16px);
  }

  &-radio-on {
    fill: colors.$tertiary;
    top: calc(rem.torem(16px) - $border-size-selected);
    right: calc(rem.torem(16px) - $border-size-selected);
  }

  &-icon {
    flex-shrink: 0;
    fill: colors.$tertiary;
    width: rem.torem(44px);
    height: rem.torem(44px);
  }

  &-icon-transparent {
    fill: transparent;
  }

  &:hover {
    box-shadow: forms.$input-hover-shadow;
    cursor: pointer;
  }

  &:focus-within {
    outline: rem.torem(1px) solid colors.$black;
    outline-offset: rem.torem(2px);
  }

  &.is-selected {
    border-color: colors.$tertiary;
    border: $border-size-selected solid colors.$tertiary;
    font-weight: 700;
    background-color: colors.$light-pink;
  }

  &.is-disabled {
    background-color: colors.$grey-light;
    color: colors.$grey-dark;
    border-color: colors.$grey-dark;

    .button-icon {
      fill: colors.$grey-dark;
    }

    .button-check-mark {
      fill: colors.$grey-dark;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
  }

  &-description {
    @include fonts.caption;

    color: colors.$grey-dark;
    margin-top: rem.torem(4px);
  }
}

.layout-column {
  padding: rem.torem(40px) rem.torem(16px) rem.torem(32px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .button-icon {
    margin-bottom: rem.torem(12px);
  }

  &.is-selected {
    $padding: rem.torem(40px);

    padding: calc($padding - $border-size-selected)
      calc(rem.torem(16px) - $border-size-selected)
      calc(rem.torem(32px) - $border-size-selected);
  }
}

.layout-row {
  padding: rem.torem(16px);
  display: flex;
  flex-direction: row;

  &.is-selected {
    $padding: rem.torem(16px);

    padding: calc($padding - $border-size-selected);
  }

  .button-icon {
    margin-right: rem.torem(12px);
  }
}
