.eligible-page {
  align-items: center;
  background-image: url('/id-check-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;

  .animation {
    height: 44%;
    width: 100%;
  }

  .animation-text-container {
    align-items: center;
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .eligible-text {
    color: $white;
    font-size: rem(24px);
    font-style: italic;
    font-weight: 500;
  }

  .buttons-container {
    flex: 1;
    width: 100%;
  }

  .eligible-sign-up-button {
    display: block;
    background-color: $white;
    border: none;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    color: $primary;
    cursor: pointer;
    font-size: rem(16px);
    font-weight: bold;
    margin: 0 auto;
    padding: rem(15px) 0;
    width: 80%;
  }

  .home-page-link {
    color: $white;
    display: block;
    margin-top: rem(20px);
  }
}

