@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_outline.scss" as outline;

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  gap: rem.torem(8px);
  padding-top: rem.torem(8px);
}

.tag-extra-count {
  @include fonts.body-accent-xs;

  border-radius: rem.torem(4px);
  background-color: var(--color-background-info);
  color: var(--color-text-default);
  padding: rem.torem(4px) rem.torem(8px);
}

.tag-button {
  @include fonts.body-accent-xs;

  color: var(--color-text-default);
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--color-background-info);
  border-radius: rem.torem(4px);
  border: none;
  white-space: normal;
  text-align: left;
  padding: rem.torem(4px) rem.torem(8px);

  &-icon {
    margin: rem.torem(1px) 0 0 rem.torem(4px);
    height: rem.torem(16px);
  }

  &:hover:not([disabled]) {
    background-color: var(--color-background-subtle);
  }

  &:focus-visible {
    @include outline.focus-outline;
  }

  &:disabled {
    cursor: default;
  }
}
